[2022-09-18 23:02] trask opened #6651 "Ability to customize InstrumenterBuilders in distros"
Minimally I'd like to be able to register a global context customizer for all Instrumenters. I don't think I have a preference whether it runs first or after the other context customizers.

I really only need to apply it to http server instrumenters, but don't mind if I need to do that checking inside the context customizer based on presence of `http.target` attribute.

Wondering if there are othe

[2022-09-19 08:48] anuragagarwal561994 commented on #6578
@mateuszrzeszutek I think I can help with the instrumentation since we need this in our organisation as well.

What do you suggest should I create an extension first at my end and then use the same code in the repo?

As far as I have seen the extension API it should work for me to add new extension.

[2022-09-19 08:56] #6638 closed

[2022-09-19 09:09] mateuszrzeszutek commented on #6578
Hey @anuragagarwal561994 ,

Whatever works for you really -- if it's easier for you to develop & test it as an extension, go ahead 👍
The extension API was purposefully designed in a way that makes it possible to implement instrumentations outside of the javaagent repo.

[2022-09-20 00:37] trask opened #6675 "Dependabot not updating `com.diffplug.spotless:spotless-plugin-gradle` dependency"
Probably just needs a day (it is scheduled to run `daily`), but opening tracking issue to give it time, and also not to forget if it doesn't do it.

(it seems to be updating it in my test fork: https://github.com/trask/forktest/pull/4)

[2022-09-20 02:05] sweetxiaodai commented on #6631
![278658C9-BC81-457A-823E-3EC992D79B3E](https://user-images.githubusercontent.com/90817719/191151164-94e1504b-f49b-4c6b-871f-c2a95d20d84b.png)
There is a API exposed by Nacos server has been impacted, please check the screenshots

[2022-09-20 11:17] aaron-ai opened #6676 "Update attribute key of rocketmq's message tag"
Since the [semantic convetions of rocketmq](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/semantic_conventions/messaging.md#apache-rocketmq) has been merged into [opentelemetry-specification](https://github.com/open-telemetry/opentelemetry-specification), the attribute key of rocketmq's message tag should be updated.

[2022-09-20 12:20] Running-Li opened #6678 "Enhance Attribute "messaging.url""
**Is your feature request related to a problem? Please describe.**
    "messaging. url" is an attribute that describes the connection string in Messaging System. [specification](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/semantic_conventions/messaging.md#messaging-attributes)
But, it is unrealized until now.
In my scene, Spans created by opentelemet

[2022-09-20 15:24] zackman0010 opened #6682 "Advice on using with Tomcat"
We're attempting to set up our monitoring infrastructure using OpenTelemetry to pull traces from our Tomcat services. We have multiple services (usually between 4 and 8) running per Tomcat instance. When the agent JAR is attached to the instance, it shows all traces as coming from the Tomcat instance. Unfortunately, we need to be able to get these traces at the service layer. Is there a way to con

[2022-09-20 22:10] trask commented on #6675
Closing, all good #6687

[2022-09-20 22:10] #6675 closed

[2022-09-21 02:25] github-actions[bot] opened #6691 "CodeQL (daily) #178 failed"
See [CodeQL (daily) #178](https://github.com/open-telemetry/opentelemetry-java-instrumentation/actions/runs/3094741429).

[2022-09-21 04:44] #6676 closed

[2022-09-21 08:09] xiangtianyu opened #6693 "build failed"
Today when i build my agent,it failed
error log:
`warning: URL https://docs.oracle.com/javase/8/docs/api/element-list was redirected to https://docs.oracle.com/en/java/javase/19/ -- Update the command-line options to suppress this warning.`

[code]

[2022-09-21 09:25] laurit commented on #6693
Fixed in https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/6692 alternatively you can use `-x javadoc` to skip javadoc genteration

[2022-09-21 09:25] #6693 closed

[2022-09-21 09:29] mateuszrzeszutek commented on #6691
Looks like #6692 should fix it, closing.

[2022-09-21 09:29] #6691 closed

[2022-09-21 09:41] mateuszrzeszutek commented on #6245
Done a while ago

[2022-09-21 09:41] #6245 closed

[2022-09-21 10:01] mateuszrzeszutek commented on #6682
Hey @zackman0010 ,
Unfortunately, currently there is no way to differentiate between different services deployed on a single application server instance; the javaagent attaches to the Java process and it treats it as a one application.
You could achieve that with manual instrumentation and setting up the OpenTelemetry SDK separately for each app, but that's a lot of effort, and requires lots of ch

[2022-09-21 11:22] caalador opened #6696 "AutoConfigurationCustomizer.addPropertiesSupplier doesn't take into account configuration-file"
**Describe the bug**
When using the `AutoConfigurationCustomizer` to set default properties, the properties do not get replaced with the configuration-file values as they did with `ConfigPropertySource`

**Steps to reproduce**
In the `opentelemetry-java-instrumentation` extension example `DemoAutoConfigurationCustomizerProvider.java` add to the method `getDefaultProperties()` the property: `proper

[2022-09-21 12:52] goto1134 commented on #6479
@mateuszrzeszutek, can you, please, provide any comments or recommendations about the metric units in the name?
`jvm_memory_used` (javaagent) vs `jvm_memory_used_bytes`(collector/any other prometheus exporter).

[2022-09-21 13:23] zackman0010 commented on #6682
Hmm.. Is service name immutable on the trace, or could we update it using a processor in an extension?

[2022-09-21 15:10] mateuszrzeszutek commented on #6682
Hmm, I suppose you could [wrap the `SpanExporter`](https://github.com/open-telemetry/opentelemetry-java/blob/main/sdk-extensions/autoconfigure-spi/src/main/java/io/opentelemetry/sdk/autoconfigure/spi/AutoConfigurationCustomizer.java#L133) and modify the `SpanData` it receives (well, return a new one, cause `SpanData`'s immutable) so that it gets different resources. This should work for the OTLP e

[2022-09-21 21:22] trask commented on #6645
Documenting things that are still missed here:

* jacoco tooling version, embedded in `otel.jacoco-conventions.gradle.kts`

[2022-09-21 21:30] #6696 closed

[2022-09-22 05:14] Montyroi commented on #1060
Can anyone provide an example code in github link on how to exlude urls(exlude health check urls)

[2022-09-22 05:26] Montyroi opened #6707 "Can we exclude url like health check in opentelemetry for java if yes can you please provide an example"
I am trying opentelemetry in spring boot project, its collecting actuator health traces, how to exclude it in environment variables

[2022-09-22 13:09] hubxx opened #6708 "How to output the attributes defined in the baggage to the log"
**Is your feature request related to a problem? Please describe.**
How to output the attributes defined in the bag to the log?

[2022-09-22 13:31] mateuszrzeszutek commented on #1060
Hey @Montyroi ,
This feature has not been implemented in the "core" javaagent yet. However, you can write a sampler yourself and package it in an extension. You can use the [rule based sampler from the contrib repo](https://github.com/open-telemetry/opentelemetry-java-contrib/blob/main/samplers/src/main/java/io/opentelemetry/contrib/samplers/RuleBasedRoutingSampler.java) that Nikita mentioned a co

[2022-09-22 13:34] mateuszrzeszutek commented on #6707
Hey @Montyroi ,
This feature is tracked in issue #1060, I'll close this one as a duplicate.
As I mentioned in [my last post](https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/1060#issuecomment-1255031021) there, it's not implemented yet in the agent, but you can create a javaagent extension that filters out these spans.

[2022-09-22 13:34] #6707 closed

[2022-09-22 13:37] mateuszrzeszutek commented on #6708
Hey @hubxx ,
What do you mean by "output to the log"? Do you want baggage printed out with each log statement, e.g. as part of the thread context/MDC? Or are you perhaps using the OTLP logging exporter and sending logs to the collector, and want the baggage to be attached to the OTLP logs?

[2022-09-22 16:38] changliu-wk opened #6710 "Add "otel.status_description" in WithSpan annotation implementation"
**Is your feature request related to a problem? Please describe.**
When using WithSpan annotation, if there is an exception thrown, the annotation has set the "otel.status_code", but it didn't set the "otel.status_description".

This is important, because the enduser would like to know what cause the error.

**Describe the solution you'd like**
Set "otel.status_description" when otel.status_code i

[2022-09-22 16:53] trask opened #6712 "Revisit what's a "core dependency" and what's not"
Definitely 👍
Perhaps we could draw the line between dependencies that are used inside the javaagent/instrumentations (that we need to keep up to date) and those that are only there to make IntelliJ indexing less insufferable (we don't really care about updating these I think)

_Originally posted by @mateuszrzeszutek in https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/670

[2022-09-22 16:55] trask opened #6713 "Rebuild smoke test images more often to pick up latest Java minor (and ea) releases"
To be honest I'm not sure of the value of running these tests with ea build. As we rarely rebuild these images this really does not let us detect potential breakages with new java versions.

_Originally posted by @laurit in https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/6703#pullrequestreview-1116718333_

[2022-09-22 23:01] github-actions[bot] opened #6726 "Publish Servlet images for smoke tests #48 failed"
See [Publish Servlet images for smoke tests #48](https://github.com/open-telemetry/opentelemetry-java-instrumentation/actions/runs/3107282636).

[2022-09-23 03:44] hubxx commented on #6708
Hey @mateuszrzeszutek ,
Yes, is there a simple way to extend Logger MDC auto-instrumentation。
For example, put order_id in baggage.
Then configure
Logging.pattern.level = trace_id=%mdc{trace_id} order_id=%mdc{bagage .order_id}

[2022-09-23 03:56] trask commented on #6726
networking flake, re-ran and succeeded

[2022-09-23 03:56] #6726 closed

[2022-09-23 04:08] trask commented on #6479
hi @goto1134! can you review the specification and let us know which name you think it is supposed to be?

[2022-09-23 04:11] trask commented on #6708
hi @hubxx, this is not supported today, but seems like a good improvement if you or anyone else wants to contribute it!

[2022-09-23 04:37] trask commented on #6644
Closing as a flake

[2022-09-23 04:37] #6644 closed

[2022-09-23 04:45] trask commented on #6609
@anilsamuel I believe you could also import the certificate into your java keystore

[2022-09-23 04:59] github-actions[bot] opened #6729 "Build (daily) #178 failed"
See [Build (daily) #178](https://github.com/open-telemetry/opentelemetry-java-instrumentation/actions/runs/3110324320).

[2022-09-23 07:04] github-actions[bot] opened #6730 "Build (daily, --no-build-cache) #178 failed"
See [Build (daily, --no-build-cache) #178](https://github.com/open-telemetry/opentelemetry-java-instrumentation/actions/runs/3110527121).

[2022-09-23 16:16] #6729 closed

[2022-09-23 16:16] #6730 closed

[2022-09-23 19:20] laurit commented on #6710
Could you elaborate what you expect to see as the description.

[2022-09-23 20:07] ramatudaan opened #6733 "Did not find embedded instrumentation properties file"
**Describe the bug**
A clear and concise description of what the bug is.
We are using dropwizard for developing our microservices and the version of the jaxrs we use is 2.0.1. Recently we tried to adopt opentelemetry and as a part of it, explored the java autoinstrumentation via injecting the agent into the application. We are getting the following error while checking the DEBUG logs of the agent

[2022-09-23 21:33] jack-berg opened #6734 "Split out netty library instrumentation"
I want to be able to register a [HttpServerTracingHandler](https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/main/instrumentation/netty/netty-4.1/javaagent/src/main/java/io/opentelemetry/javaagent/instrumentation/netty/v4_1/server/HttpServerTracingHandler.java) directly in my netty channel pipeline.

I've verified through local testing that its perfectly useful as standalon

[2022-09-23 21:38] jack-berg opened #6735 "Document semantic conventions on supported libraries page"
The [supported libraries](https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/main/docs/supported-libraries.md) page is pretty useful, but its not clear what type of telemetry I'll get with each supported library. It would be great if there was an additional column that indicated the set of semantic conventions that each library implements. I.e. `HTTP trace`, `HTTP metric`, `

[2022-09-24 04:19] github-actions[bot] opened #6737 "Build (daily) #179 failed"
See [Build (daily) #179](https://github.com/open-telemetry/opentelemetry-java-instrumentation/actions/runs/3116969491).

[2022-09-24 07:00] github-actions[bot] opened #6738 "Build (daily, --no-build-cache) #179 failed"
See [Build (daily, --no-build-cache) #179](https://github.com/open-telemetry/opentelemetry-java-instrumentation/actions/runs/3117117161).

[2022-09-24 11:45] sweetxiaodai commented on #5886
Looks like the auto-instrument isn’t compatible with rocketmq client 5.0

[2022-09-24 11:57] sweetxiaodai opened #6739 "How to observe the rocketmq trace via auto-instrumentation?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.
I have two applications, one is rocketmq producer, the other one is consumer. I deployed the otel Java agent for both of them. But in jaeger dashboard, I didn’t capture the tcp trace of publish and consume the message.
**Describe the solution you'd like**
A clear and concise d

[2022-09-24 13:07] sweetxiaodai commented on #6676
Is there any one could tell me does the java-agent is compatible for RocketMQ 5.x?

[2022-09-24 19:10] sweetxiaodai opened #6741 "Alibaba latest Rocket MQ cannot be auto-instrumented."
**Describe the bug**
A clear and concise description of what the bug is.
Alibaba released their latest RocketMQ v5.0 meanwhile it published its client maven dependencies. However, the otel-
java-auto-instrumentation cannot capture the trace if we use the following client libraries.

Official SDK for public
[code]

If you use Alibaba cloud RocketMQ PaaS service, it also provide you with a all-in-on

[2022-09-24 20:47] trask opened #6746 "Fix testLatestDeps in dubbo instrumentation"
I temporarily disabled a test that was failing with testLatestDeps in #6745, but the test still needs to be fixed.

[2022-09-24 20:49] trask commented on #6746
@yingziisme let us know if you have a chance to look into this

[2022-09-24 21:05] anuragagarwal561994 opened #6747 "Request Content-Length not recorded for Apache Http Clients"
**Describe the bug**
As per the change https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/6415 the request and the response content lengths are to be recorded for every http clients and servers. But for apache http clients, request content lengths are not getting recorded.

**Steps to reproduce**
Make a http post request with a body with apache http client instrumentation to

[2022-09-24 21:18] anuragagarwal561994 commented on #6747
@trask @mateuszrzeszutek I would like to work on this issue, but have few doubts of my own related to the design. Can you help me resolve the same.

So as stated in the comment, the issue here is the request being intercepted during instrumentation is not the same as the one being sent from the client as the copy is made from within the library and then manipulations are done over it.

Now as far

[2022-09-25 04:20] github-actions[bot] opened #6748 "Build (daily) #180 failed"
See [Build (daily) #180](https://github.com/open-telemetry/opentelemetry-java-instrumentation/actions/runs/3120815074).

[2022-09-25 06:58] github-actions[bot] opened #6750 "Build (daily, --no-build-cache) #180 failed"
See [Build (daily, --no-build-cache) #180](https://github.com/open-telemetry/opentelemetry-java-instrumentation/actions/runs/3120953778).

[2022-09-25 10:11] #6737 closed

[2022-09-25 10:11] #6738 closed

[2022-09-25 14:37] sweetxiaodai opened #6751 "Kafka instrumentation cannot link the span between producer and consumer."
**Describe the bug**
A clear and concise description of what the bug is.
When using spring apache kafka, the producer and consumer trace could be captured, but the span is broken. There are two spans on jaeger backend. See this issue here.
[https://github.com/ppatierno/kafka-opentelemetry/issues/10](url)

![Screenshot 2022-09-25 at 14 58 51](https://user-images.githubusercontent.com/90817719/19214

[2022-09-25 17:39] trask commented on #6750
Closed by #6745

[2022-09-25 17:39] #6750 closed

[2022-09-25 17:39] trask commented on #6748
Closed by #6745

[2022-09-25 17:39] #6748 closed

[2022-09-25 19:28] anuragagarwal561994 commented on #6747
@trask I have given a rough spin for apache http clients 4.x and 5.x.

The suggested solution is not yet complete, but I am facing few dilemmas to resolve these, hence would be needing help from the community to be able to contribute for the desired results.

Content-Length header is added to the copied request in the subsequent steps internally which the current instrumentation doesn't have acces

[2022-09-26 07:05] yingziisme commented on #6746
well, I will look into this in few days

[2022-09-26 07:54] mumutu66 commented on #6552
@laurit it may be the problem with jdk version  when change it from 1.8 -> 18 the exception won't show again

[2022-09-26 15:52] yingziisme commented on #6746
It fixed in #6754

[2022-09-26 16:13] laurit commented on #6739
@sweetxiaodai is this a duplicate of https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/6741 or does this happen with rocketmq 4.x?

[2022-09-26 19:30] sweetxiaodai commented on #6631
It is hard to reproduce the issue, and the error didn't occur after we changed to optelemetry operator, so close this one.

[2022-09-26 19:30] #6631 closed

[2022-09-26 19:31] sweetxiaodai commented on #6739
Yes, will close this one.

[2022-09-26 19:31] #6739 closed

[2022-09-26 21:11] changliu-wk commented on #6710
When there is an exception within the annotated method, the otel.status_description should be set as the exception's message.

[2022-09-26 23:14] #6746 closed

[2022-09-26 23:23] trask commented on #6734
I don't think so, I'd say go for it

[2022-09-27 03:55] sweetxiaodai opened #6758 "Spring Gateway will reboot when deploy the auto-instrumentation"
**Describe the bug**
A clear and concise description of what the bug is.
Spring gateway will reboot automatically if we deploy opentelemetry operator instrumentation.

**Steps to reproduce**
If possible, provide a recipe for reproducing the error.
simply put spring gateway into a docker, deploy to k8s, then attach the java instrumentation. the service will reboot.

**What did you expect to see?**

[2022-09-27 04:01] trask commented on #6758
hi @sweetxiaodai!

Are you able to test adding the -javaagent manually? Does that also cause the same issue?

can you put together a small repository that reproduces the issue? that would be most helpful for us to be able to see what might be going on

[2022-09-27 05:17] github-actions[bot] opened #6759 "Build (daily) #182 failed"
See [Build (daily) #182](https://github.com/open-telemetry/opentelemetry-java-instrumentation/actions/runs/3132879815).

[2022-09-27 06:11] sweetxiaodai commented on #6758
Sure, I will prepare a repository for this later. One more question, when I apply the instrumentation annotation to the pod of spring cloud gateway, it automatically create a new container which is named auto-instrumentation and inject agent to the java command line, which is not happened for other springboot applications, would you mind kindly let me know why? thanks.

[2022-09-27 06:34] Samudraneel24 commented on #6515
@trask using metrics views seems to be useful if we are manually instrumenting the application using the OpenTelemetry Java SDK. However if we are using auto-instrumentation, where can we introduce metrics views to drop specific metrics?

[2022-09-27 07:02] github-actions[bot] opened #6760 "Build (daily, --no-build-cache) #182 failed"
See [Build (daily, --no-build-cache) #182](https://github.com/open-telemetry/opentelemetry-java-instrumentation/actions/runs/3133109885).

[2022-09-27 09:06] aaron-ai opened #6761 "Rearrange the file structure of RocketMQ instrumentation"
Since [gRPC/Protobuf-based RocketMQ client](https://github.com/apache/rocketmq-clients) is released, we may have multiple implementations of Apache RocketMQ client, and they have totally different maven coordinates and APIs. RocketMQ community intend to implement the OpenTelemetry instrumentation of new client recently.

What's more, the server-side instrumentation of Apache RocketMQ may be contri

[2022-09-27 09:33] laurit commented on #6710
Spec mentions `otel.status_description` in https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/api.md

To me it seems that exception message might not be suitable for `otel.status_description`. If you believe that exception message should be used you'll need to seek clarification in spec.

Considering that exception message is already present in the exceptio

[2022-09-27 11:45] aaron-ai commented on #6741
@sweetxiaodai  @laurit  I'll fix it.

[2022-09-27 11:46] aaron-ai commented on #6761
releated issue: https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/6741

[2022-09-27 11:57] aaron-ai opened #6764 "Implement instrumentation for the new client of Apache RocketMQ"
Since [gRPC/Protobuf-based RocketMQ client](https://github.com/apache/rocketmq-clients) is released. I intend to implement the OpenTelemetry instrumentation for the new client recently.

[2022-09-27 13:33] akats7 commented on #6529
Thanks for the context, I'll be closing this issue for now

[2022-09-27 13:55] akats7 opened #6765 "Name jdbc spans according to db operation/procedure name and not database name"
**Is your feature request related to a problem? Please describe.**
I am exporting my trace data to New Relic and want to use the database transaction tab to identify db operations that are the most time consuming, however, NR queries the operation off the name of the span which in this case is always the same db name, making it difficult to identify which db operation causes issues.

**Describe th

[2022-09-27 19:42] sweetxiaodai opened #6767 "Heatbeat traffic need to be filtered which was caused by Nacos"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.
Nacos generate thousands useless heatbeat traffic which is not related to trace or span any more. I attached the photo that I took from my APM software. Commercial software used to filter those un-meaningful traffic.
Really need a method to filter this and it already impact th

[2022-09-27 22:45] #6760 closed

[2022-09-27 22:45] #6759 closed

[2022-09-28 00:50] trask commented on #6767
hi @sweetxiaodai! see #1060

[2022-09-28 03:26] aaron-ai opened #6768 "Gradle warning during assemble"
[code]

we can view it in: https://github.com/open-telemetry/opentelemetry-java-instrumentation/actions/runs/3139484829/jobs/5099942761

[2022-09-28 07:47] hpuac commented on #6300
Hey we stumbled across the same problem. The metrics exporter is set to "none" but we were also seeing the same warning about the instrument name length.
Adding the flag suggested by @gavlyukovskiy worked for us as well.
What is wondering me is that this flag is not printed when using the script that is supposed to find all config properties: https://github.com/open-telemetry/opentelemetry-java-in

[2022-09-28 09:04] #6768 closed

[2022-09-28 09:19] laurit commented on #6733
[code]
should be harmless. Please provide a minimal application that reproduces your issue.

[2022-09-28 17:14] ychaydhari opened #6797 "[Promethus Exporter] Failed to gathering metrics: collected metric "http_server_active_requests""
Hello,
There are two services with otel-java-agent running on my machine.
When GET API hit from the second service. I'm getting this error to collect http_server_active_requests metrics.
The error message describes that the http_server_active_requests metric is already collected with the same label and value. I didn't get why this coming. is it a bug of OTEL or Prometheus?

Which is the java agent

[2022-09-28 20:46] #6761 closed

[2022-09-29 06:31] eivbsmed opened #6776 "Ktor instrumentation not producing correctly nesting spans"
Hi,

I'm trying to get instrumentation working in Ktor as it's increasing in use in or org.
We are using the latest version of the Java agent to do auto instrumentation.
The Server engine is set to Netty and the Ktor http clinet is set to use OkHttp as the engine.

OkHttp is picked up by the Auto instrumentation and looks ok.

After finding there was a Ktor instrumentation this is how the app is s

[2022-09-29 09:51] laurit commented on #6776
`@WithSpan` currently doesn't work correctly with coroutines because it tracks each method call, but suspend functions may be called multiple times.
As for the incorrect nesting I guess it is because for coroutines context is kept in coroutine context (the `withContext(span.asContextElement())`) but okhttp instrumentation reads context from the regular `ThreadLocal` based context. You could try so

[2022-09-29 10:56] eivbsmed commented on #6776
It's the Ktor http client. So the get has this signature `public suspend inline fun HttpClient.get(`

I tried the suggested code and it did not change anything, i still got the flat trace where the function call and all the gets where on the same level.

[2022-09-29 11:14] XiaoWeiKIN opened #6777 "instrumentation publishToMavenLocal error"
version:1.16.9

Execution `gradle publishToMavenLocal`  prompts the following error, why is this

[code]

[2022-09-29 16:22] loicgreffier opened #6778 "Kafka Streams metrics"
I expected to get [Kafka Streams metrics](https://docs.confluent.io/platform/current/streams/monitoring.html#built-in-metrics) from the Javaagent Instrumentation as it has been done for Kafka Clients recently #6533 but can't manage to get them.

I am using:
- Otel Javaagent v1.18.0
- Kafka Streams v3.2.0 (tested with v2.7.0 as well)

I managed to get `kafka_consumer_` and `kafka_producer_` metrics

[2022-09-29 18:13] mgevantmakher opened #6779 "JMS Auto Instrumentation does not create a link to the publisher span on synschronous 'receive' when enabled"
Message 'receiver' span does not have any relationship to 'producer' created by JMS autinstrumentation.
Consequence of not having any relationship between receiver span and the publisher trace is very limited message tracebility among service boundaries when JMS auto-instrumentation is used.
Receiver trace is disabled by default, when enabled using 'otel.instrumentation.messaging.experimental.rece

[2022-09-29 19:42] JanStrauss commented on #6563
I poked this a little further, looks like the issue is caused by a restlet API change(?):
In Version 2.0.x `org.restlet.Message#getAttributes` returns a `Map<String, Object>` while in Version 2.1.x+ `org.restlet.Message#getAttributes` returns a `ConcurrentMap<String, Object>`.

Building a javaagent jar with the restlet dependency updated from 2.0.2 to 2.1.0 or 2.4.3 results in the instrumentation

[2022-09-30 01:15] XiaoWeiKIN commented on #6777
@laurit thanks

[2022-09-30 01:15] #6777 closed

[2022-09-30 09:04] AkselAllas commented on #4441
`-Dotel.exporter.otlp.traces.protocol=http/json` doesnt work anymore

It needs to be `-Dotel.exporter.otlp.traces.protocol=http/protobuf` now 🤔

[2022-09-30 09:16] eivbsmed commented on #6776
Looks like i have i always have to make sure i always have use `withContext(span.asContextElement()){...<stuff>..}` and then when creating a sub span set  `Span.spanBuilder(name).setParent(coroutineContext.getOpenTelemetryContext())` as the parrent when creating a new span. So it's not automatically supporting coroutines in the instrumentation.

So that will correctly nest my spans. But i have sti

[2022-09-30 10:12] shreya22-1998 opened #6786 "are you performing any Sonarscan testing before releasing?"

[2022-09-30 16:31] trask commented on #6786
The project uses Error Prone for static analysis checks, and CodeQL for security scanning.

[2022-09-30 17:52] trask commented on #6758
hey @sweetxiaodai, what versions of spring gateway and spring boot starter are you using? also, what version of Java (including minor version) are you using?

[2022-09-30 19:30] twjbz opened #6787 "`WrappedFutureCallback` should handle `null` `HttpContext` objects"
The `WrappedFutureCallback.getResponse(HttpContext)` method does not handle a `null` input, and `WrappedFutureCallback.completed(T)` does not check if `httpContext` is `null` before calling `getResponse(httpContext)`.

According to the [async client docs](https://hc.apache.org/httpcomponents-client-5.1.x/current/httpclient5/apidocs/org/apache/hc/client5/http/impl/async/CloseableHttpAsyncClient.htm

[2022-09-30 21:34] trask opened #6790 "Concurrency tests are failing for vertx-rx-java testLatestDeps"
Pinning testLatestDeps at 4.3.3 for now.

[2022-09-30 22:40] breedx-splk commented on #6786
@shreya22-1998 please reopen if you have more questions/interest in this. Thanks!

[2022-09-30 22:40] #6786 closed

[2022-09-30 22:42] trask commented on #6765
hi @akats7!

I believe the jdbc span name should be `<db.operation> <db.name>.<db.sql.table>`, but it sounds like you are only seeing `<db.name>`?

that could be happening if we aren't able to parse out the operation and table from the query, so would be helpful to see specific queries and resulting span names you are seeing.

[2022-10-01 00:30] sweetxiaodai commented on #6767
Is the issue #1060 worked for otel-operator? Can it work for kubernetes?

[2022-10-01 00:53] sweetxiaodai commented on #6751
closed due to already create another issue.

[2022-10-01 00:53] #6751 closed

[2022-10-01 00:55] sweetxiaodai commented on #6758
Hi @trask after evaluate the system, we found the issue was caused by otel-java-agent is not compatible with another APM agent. Just keep one APM agent will solve this issue. It is not related to Spring Cloud Gateway. I will close this issue.

[2022-10-01 00:55] #6758 closed

[2022-10-02 06:38] github-actions[bot] opened #6793 "Build (daily, --no-build-cache) #187 failed"
See [Build (daily, --no-build-cache) #187](https://github.com/open-telemetry/opentelemetry-java-instrumentation/actions/runs/3167379076).

[2022-10-03 07:11] surajsjarali commented on #1060
Hey @mateuszrzeszutek @trask I am trying to exclude health check endpoint, even though spankKind Is INTERNAL and parentContext. is containing /actuator/health, I am able to see the health check traces how to drop health check traces?
[code]

[2022-10-03 08:52] surajsjarali commented on #1060
@mateuszrzeszutek how do we configure the list of rules for rule based sampling? could you provide a example.

[2022-10-03 13:37] mateuszrzeszutek commented on #6563
Hey @JanStrauss ,
In simple cases like this one we usually tend to use `MethodHandle`s to detect the actual method signature in the runtime -- we already had several of these due to Restlet 2.4 changes, I added another one for `getAttributes()` in #6796

[2022-10-03 14:05] sweetxiaodai commented on #6767
closed and reference #1060

[2022-10-03 16:00] ryadav-collab commented on #2211
Hi Team,

I am facing similar issue, methods were not getting shown up in otlp logs  ( trying auto instrumentation ).
Used below flag along with
output looks as below without method details
============================
Span #7
    Trace ID       : 25605110614ccd12b8d36435378c0c
    Parent ID      :
    ID             : 500f7ba49157f2
    Name           : INSERT INTO ERRORS
    Kind           : SPA

[2022-10-03 16:31] bogdandrutu commented on #6797
@trask this seems to be related to java instrumentation (or sdk), and was filed in community repo, so I moved it here.

[2022-10-03 17:10] jack-berg commented on #6798
Transferring here because we've agreed that resource provider implementations shouldn't live in `opentelemetry-java`.

[2022-10-03 17:45] trask commented on #6797
hi @ychaydhari, can you paste the full text of the error message you are getting?

[2022-10-03 20:53] anuragagarwal561994 commented on #6209
Any updates on this, I guess this is still needed for client metrics.

[2022-10-03 21:29] jack-berg commented on #1060
This is has come up a number of times for our customers as well, so I've updated our [otel java agent example](https://github.com/newrelic/newrelic-opentelemetry-examples/tree/main/java/agent-nr-config) to package an extension which [uses the rule based](https://github.com/newrelic/newrelic-opentelemetry-examples/pull/178/files#diff-a484dc283e510f71fde57b2f0cfaaa15bfee31de5689f61c41e877f6d7e22cc7R

[2022-10-04 06:31] ryadav-collab opened #6803 "Method Level tracing info not getting emitted"
Hi Team,

I am facing similar issue, methods were not getting shown up in otlp logs ( trying auto instrumentation ).
Used below flag along with
output looks as below without method details
Span https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/7
Trace ID : 25605110614ccd12b8d36435378c0c
Parent ID :
ID : 500f7ba49157f2
Name : INSERT INTO ERRORS
Kind : SPAN_KIND_CLIENT
Star

[2022-10-04 06:56] mateuszrzeszutek commented on #6803
Hey @ryadav-collab ,
I'm not sure what's the issue here (and what it is similar to). Can you explain what was expected and how does it differ from the actual behavior of the agent?

[2022-10-04 11:37] mateuszrzeszutek commented on #6793
[code]
Looks like a random failure, closing.

[2022-10-04 11:37] #6793 closed

[2022-10-04 13:39] mateuszrzeszutek commented on #6779
The Kafka instrumentation does not add links to the consumer receive span either: https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/5f75a5060bf5505901a930fde380fcfc706bfac0/instrumentation/kafka/kafka-clients/kafka-clients-common/library/src/main/java/io/opentelemetry/instrumentation/kafka/internal/KafkaInstrumenterFactory.java#L101-L114
It does add them to consumer process

[2022-10-04 13:47] mgevantmakher commented on #6779
@mateuszrzeszutek Would you expect that this issue can be resolved in a near future Mateusz?

[2022-10-04 13:48] mgevantmakher commented on #6779
Luck of any kind of linking limits usability of the JMS autoinstrumentation for existing JMS applications substantially.

[2022-10-04 13:59] mateuszrzeszutek commented on #6779
Yeah, I took a look at the JMS instrumentation, it looks like the use case is slightly different from Kafka - it's either receive or process, not both at the same time (which is the case for Kafka). In that case, I agree that the receive span should link to the producer span -- without that the usability is rather poor. The semantic conventions don't describe a situation like that, but personally

[2022-10-04 14:12] mgevantmakher commented on #6779
Thank you for supporting my view Mateusz, I will bring this up on a next SIG Java instrumentation meeting and see who can implement it and when.
To add a link trace parent from a message needs to be extracted, so the default propagator/ overloadable using extension propagator needs to be involved.

[2022-10-05 02:32] anilsamuel commented on #6609
I have following steps to test with certificate as suggested by @trask but still not working; could you please advise.

[code]

[2022-10-05 05:40] sweetxiaodai commented on #6741
It was done? @aaron-ai  awesome

[2022-10-05 10:21] svrnm commented on #6694
@mateuszrzeszutek the code that needs to be changed for that is living in `opentelemetry-java`

https://github.com/open-telemetry/opentelemetry-java/blob/main/sdk-extensions/resources/src/main/java/io/opentelemetry/sdk/extension/resources/ContainerResource.java

[2022-10-05 10:55] sigurd-cp opened #6810 "Span over multiple messages"
Hey guys,

I'm currently investigating a span over more than one topic in kafka2.6+ instrumentation.
I understand the idea of a span from `send` to `receive` and finally to `process`.
See https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/6443#issuecomment-1217995296
But in the end, I want to measure how much time the processing takes (overall).

Let's assume, there is the

[2022-10-05 11:23] svrnm commented on #6694
Ah, ok, that's good to know!

[2022-10-05 16:11] #6779 closed

[2022-10-05 20:29] #6563 closed

[2022-10-06 09:39] floric opened #6813 "Support Service Peer Name Mappings with Lettuce"
**Is your feature request related to a problem? Please describe.**
Using `otel.instrumentation.common.peer-service-mapping` it is possible to get more developer friendly descriptions of contacted systems via HTTP. So for example Grafana with Tempo instead of only "HTTP GET" the name of the mapped system will be shown. Unfortunately this doesn't work for Redis with Lettuce. It might be caused by th

[2022-10-06 10:16] mateuszrzeszutek commented on #6813
Hey @floric ,
What lettuce version are you using?

[2022-10-06 11:10] floric commented on #6813
Oh, sorry, I missed this fact: `io.opentelemetry.lettuce-5.1` based on the Java Agent in version 1.18.0. The service itself uses Lettuce 6.1.9.

[2022-10-06 12:08] floric commented on #6813
As far as I understand solution 1 would be more generic and suitable for other spans with the same attributes. Right? Also the change ([addition](https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/main/instrumentation-api-semconv/src/main/java/io/opentelemetry/instrumentation/api/instrumenter/net/PeerServiceAttributesExtractor.java#L62)) appears to be much simpler than solut

[2022-10-06 15:58] trask commented on #6813
We may have just missed this when introducing `net.sock.peer.name`. It makes sense to me to add.

[2022-10-06 16:57] yingziisme opened #6818 "Can we surpport any configuration to enable or disable those metrics?"
If we use the metrics with HttpClientMetrics, we will get both there metircs those are http.client.duration, http.client.request.size, http.client.response.size.

Can we surpport any  configuration to enable or disable those metrics?

[2022-10-06 17:08] yingziisme opened #6819 "How to modify view with HttpClientMetrics"
How to modify view with HttpClientMetrics or HttpServerMetrics? Only by modifying TemporaryMetricsView?

[2022-10-06 20:58] trask commented on #6819
hi @yingziisme! there is no good way currently, though this is needed. can you describe your use case? is it to capture additional attributes which are already on the span? or to remove some attributes? or to populate new attributes that are not already on the span?

[2022-10-06 23:03] #6787 closed

[2022-10-06 23:07] trask commented on #6818
I think you can create a metric view to drop metrics that you don't want, see https://github.com/open-telemetry/opentelemetry-java/blob/main/sdk-extensions/incubator/README.md#view-file-configuration

[2022-10-07 01:52] Jeet0204 opened #6824 "Any references for Opentelemetry Support for Java Bazel Project"
The opentelemetry agent is added to the WORKSPACE in Bazel Project. How can I use it in service's BUILD file and spin it up in a container with service's jar file?

[2022-10-07 10:41] mateuszrzeszutek commented on #6824
Hey @Jeet0204 ,

I'm not sure how Bazel builds work, I've never even seen that tool before -- if you need information on Bazel-specific project setup you might want to ask a question in the https://github.com/bazelbuild/bazel project.

In general, though, the agent is a separate jar that is not added as a dependency, but instead specified as runtime `-javaagent` JVM argument. If you want to includ

[2022-10-07 11:18] #2674 closed

[2022-10-07 11:27] mateuszrzeszutek commented on #6819
Linking a related issue #6209

[2022-10-07 11:28] mateuszrzeszutek commented on #6209
Hey @anuragagarwal561994 ,
Sorry, nothing changed here recently. You can perhaps try the hack I described in one of my posts above, there's nothing better in place right now.

[2022-10-07 12:01] anuragagarwal561994 commented on #6209
@mateuszrzeszutek if we are talking about the hack as mentioned in comment: https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/6209#issuecomment-1167119142

This is not working because of the fact we have `TemporaryMetricsView`.

This is basically filtering out all the other attributes without taking in consideration of the views established. That is where the main concern

[2022-10-07 14:14] mateuszrzeszutek commented on #6209
That hack requires you to add extra instrumentation that'd fill `Baggage` with attributes that you want to add to metrics -- which I mentioned, but haven't really provided a concrete example of how to do that.

Anyway, it's complicated and hacky, and if it does not work for you currently there is no other way, unfortunately. This is a perfect scenario for the hypothetical metric Hint API that was

[2022-10-07 16:21] sweetxiaodai opened #6831 "Azure eventhub client auto instrument requirement"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.
Azure has its own messaging PaaS service called event hub. Microsoft released several client SDK to help developer to consume and produce message to the messaging systems. Is it possible that make otel-java-instrumentation support this SDK library as well? It would be very hel

[2022-10-07 18:46] maxbettercloud commented on #5678
@mateuszrzeszutek We would like that as well if possible. Thank you!

[2022-10-07 19:13] trask commented on #6831
hi @sweetxiaodai! this should already be supported (https://github.com/open-telemetry/opentelemetry-java-instrumentation/tree/main/instrumentation/azure-core)

[2022-10-07 19:14] #6551 closed

[2022-10-07 21:33] sweetxiaodai commented on #6831
@trask thanks, just test the feature locally. Just one question.
All the send traffic created a trace for each, but the receive spans have been put together in one trace, is it correct? or is there any specific mechanism of azure eventhub?
![Screenshot 2022-10-08 at 05 29 53](https://user-images.githubusercontent.com/90817719/194660206-fc2f943d-f334-49f0-8c70-29e74ece408f.png)

[2022-10-08 03:58] github-actions[bot] opened #6832 "Build (daily) #193 failed"
See [Build (daily) #193](https://github.com/open-telemetry/opentelemetry-java-instrumentation/actions/runs/3209018153).

[2022-10-08 05:55] laurit commented on #6832
markdown-link-check failed for https://plugins.jetbrains.com/plugin/8527-google-java-format

[2022-10-08 05:55] #6832 closed

[2022-10-09 06:52] MartinDai commented on #6410
@mateuszrzeszutek @trask I think we should modify on **opentelemetry-java** project

https://github.com/open-telemetry/opentelemetry-java/blob/main/sdk/trace/src/main/java/io/opentelemetry/sdk/trace/internal/data/ImmutableExceptionEventData.java

here has added **exception.type**,**exception.message** and **exception.stacktrace**  Attributes

[2022-10-10 18:49] trask commented on #6831
hi @sweetxiaodai, I'd recommend opening an issue at https://github.com/Azure/azure-sdk-for-java/issues, and including some example code to show how you are consuming the messages, feel free to tag myself and @lmolkova on the issue in that repository

[2022-10-10 19:12] lmolkova commented on #6831
Hi @sweetxiaodai, happy to help you with eventhubs.

We're adding a bunch of improvements for EventHubs tracing - they're coming in the Nov release and solving https://github.com/Azure/azure-sdk-for-java/issues/28559, https://github.com/Azure/azure-sdk-for-java/issues/28552.
Here's the WIP PR https://github.com/Azure/azure-sdk-for-java/pull/31197 .

Can you please check if any of these issues appl

[2022-10-10 22:59] trask opened #6834 "elasticsearch-rest instrumentations no longer capture net.peer.name and net.peer.port"
_Originally posted by @mateuszrzeszutek in https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/6828#discussion_r989939975_

[2022-10-10 23:01] #6734 closed

[2022-10-10 23:01] trask opened #6835 "Add tests for netty library instrumentation"
This could be done in another PR -- I suspect it's going to take a couple hundred LOCs to implement that.

_Originally posted by @mateuszrzeszutek in https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/6820#pullrequestreview-1134301488_

[2022-10-11 08:08] illidanzen163 opened #6837 "how to add local root span's name as a attribute to a span?"
hello :
 I want to add local root span's name as an attribute to a span, then I can get a relationship between these span, and group the spans.
Is anyone could give me some suggestion? And why span don't have getName? Thank you

[2022-10-11 16:18] trask opened #6838 "Dependabot not running daily"
Last run was 4 days ago:
https://github.com/open-telemetry/opentelemetry-java-instrumentation/network/updates

Going to kick it manually, but need to keep an eye on it to see if it resumes(?) daily runs

[2022-10-11 20:12] #6835 closed

[2022-10-12 00:27] github-actions[bot] opened #6854 "Build (daily, --no-build-cache) #197 failed"
See [Build (daily, --no-build-cache) #197](https://github.com/open-telemetry/opentelemetry-java-instrumentation/actions/runs/3230754505).

[2022-10-12 03:26] dinhan2411 opened #6855 "Failed to handle GenericMessage. IllegalStateException: No header accessor (not using the SimpMessagingTemplate?)"
**Describe the bug**
An exception when i run my spring-boot app with opentelemetry-java-agent.jar

**Steps to reproduce**
If possible, provide a recipe for reproducing the error.

**What did you expect to see?**
It works like when I run my app without agent.

**What did you see instead?**
It throws Internal Error.

**What version are you using?**
java 17
opentelemetry-java-agent.jar - version 1.18

[2022-10-12 04:21] github-actions[bot] opened #6856 "Build (daily) #197 failed"
See [Build (daily) #197](https://github.com/open-telemetry/opentelemetry-java-instrumentation/actions/runs/3231949673).

[2022-10-12 06:59] github-actions[bot] opened #6857 "Build (daily, --no-build-cache) #198 failed"
See [Build (daily, --no-build-cache) #198](https://github.com/open-telemetry/opentelemetry-java-instrumentation/actions/runs/3232176124).

[2022-10-12 10:18] mateuszrzeszutek commented on #6855
Hey @dinhan2411 ,
Can you post a repro scenario for this bug?
I suspect the problem it somewhere in the `spring-integration` instrumentation, you might want to temporarily disable it and see if it helps.

[2022-10-12 16:21] #6857 closed

[2022-10-12 16:21] #6854 closed

[2022-10-12 16:21] #6856 closed

[2022-10-13 01:19] trask commented on #6494
Note: need to update `reusable-create-website-pull-request.yml` when we do this (see #6869)

[2022-10-13 03:56] shreya22-1998 opened #6870 "Add Jvm GC pause metrics"
jvm_gc_pause_bucket

[2022-10-13 04:21] dinhan2411 commented on #6855
@mateuszrzeszutek  Thank You for reply me. Sorry I can't post repo to public but it's simple like that:

**WebSocketConfig.java**

[code]

**TestSocketModel.java**
[code]

**PriceController.java**
[code]

[2022-10-13 04:22] github-actions[bot] opened #6871 "Build (daily) #198 failed"
See [Build (daily) #198](https://github.com/open-telemetry/opentelemetry-java-instrumentation/actions/runs/3239606782).

[2022-10-13 09:14] laurit commented on #6871
[code]

[2022-10-13 09:14] #6871 closed

[2022-10-13 12:18] aaron-ai commented on #6741
I am working on it. Related pull request will be created recently.

[2022-10-13 14:56] akats7 commented on #6765
Hi @trask,

Thanks for the reply, so it looks like even when all of the fields are able to be extracted, the span would be something along the lines of **INSERT postgres.table1**, what I was wondering is if it would be of interest for the name to essentially be **spInsertUser**, that way I can actually delineate which procedures are taking longer than others as many procedures might have the same

[2022-10-14 02:14] dmarkwat opened #6876 "Addressing opencensus-shim breakage/inconsistencies"
**Is your feature request related to a problem? Please describe.**
The problem I've encountered is the opencensus-shim, when used with the javaagent, misbehaves and doesn't work the same when the javaagent is not present (I'd go so far as to say: it breaks).

tl;dr: due to the otel javaagent's internals and resulting requirements for properly bridging application and agent `Context`s, the very spe

[2022-10-14 04:06] trask commented on #6765
hey @akats7, are you specifically referring to the naming of stored procedures? maybe if you could give a few examples of complete sql statements and how you would propose to name them it might help to clarify, thx!

[2022-10-14 04:23] trask commented on #6838
Closing, seems to be back on track

[2022-10-14 04:23] #6838 closed

[2022-10-14 05:19] github-actions[bot] opened #6881 "Build (daily) #199 failed"
See [Build (daily) #199](https://github.com/open-telemetry/opentelemetry-java-instrumentation/actions/runs/3247386575).

[2022-10-14 07:03] github-actions[bot] opened #6882 "Build (daily, --no-build-cache) #200 failed"
See [Build (daily, --no-build-cache) #200](https://github.com/open-telemetry/opentelemetry-java-instrumentation/actions/runs/3247598859).

[2022-10-14 09:05] laurit commented on #6882
Resolved with https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/6880

[2022-10-14 09:05] #6882 closed

[2022-10-14 09:05] laurit commented on #6881
Resolved with https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/6880

[2022-10-14 09:05] #6881 closed

[2022-10-14 09:59] XiaoWeiKIN opened #6883 "netty client timedout, so the span did not end"
version：v1.11.0

desc：

I used `recator-netty` so that the `netty-client` span end normally when the request is normal.
![image](https://user-images.githubusercontent.com/20626345/195818742-6c6b1acc-5889-42d7-bc7b-b5d2a4adf116.png)

but `netty 4.1` span doesn't seem to end properly when a request timesout
![image](https://user-images.githubusercontent.com/20626345/195819914-5c9f552e-c2be-4b74-a096

[2022-10-14 10:51] laurit commented on #6855
Probably because https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/c1cdadab5d09eeba198e98a111d45cd7d7ed0e40/instrumentation/spring/spring-integration-4.1/library/src/main/java/io/opentelemetry/instrumentation/spring/integration/TracingChannelInterceptor.java#L104 makes a copy from the original message to add the context propagation header. There is a resolved spring issue f

[2022-10-14 11:47] mateuszrzeszutek commented on #6883
Hey @XiaoWeiKIN ,
Can you post a repro scenario?

[2022-10-14 15:01] sno544 opened #6885 "gRPC request, response Span attributes - event = message: {"message.id":1,"message.type":"SENT"...}"
Question about providing Event details (message.id and message.type) in events emited for every gRPC request and response.

In Golang service that uses gRPC I was able to obtain traces like on the picture below. Events emited by every request and response produce some additional information - message.id, message.type and so on. Traces are exported to Jaeger.
![go-traces](https://user-images.github

[2022-10-14 23:22] chomey opened #6887 "[Kotlin] Custom contexts and spans are not being associated with OTEL objects automatically generated with the agent jar"
**Describe the bug**
The automatically generated trace data for database interactions is not being associated with custom context and spans defined in the calling functions.

<img width="1524" alt="Screen Shot 2022-10-14 at 16 04 39" src="https://user-images.githubusercontent.com/6342642/195956011-421b4036-63ce-4808-86bb-c81296076bb4.png">

Ideally, the root span of the top trace in the screenshot

[2022-10-15 21:55] davidtam opened #6888 "More examples / documentation for java agent auto instrumentation extension"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Some more clear example on adding custom auto instrumentation to java agent metrics / traces

**Describe alternatives you've considered**
Alternatively perhaps extend the [readme.md](https://github.com/open-telemetry/opentelemetry-java-instrumentation/tree/main/examples/extension)

**Additio

[2022-10-17 02:19] xiangtianyu opened #6890 "Third part sdk dependency handle question"
In this issue #4958 , there provides a solution of third part sdk is to put it into id("otel.javaagent-bootstrap"). But in my situation, it cannot work well.

I am trying to integerate nacos discovery into instrumentation. So i put the nacos to bootstrap. But when the application include the nacos dependency to use nacos config, it will use the nacos in bootstrap, not the dependency that user incl

[2022-10-17 08:28] mateuszrzeszutek commented on #6888
Hey @davidtam ,
Some of your questions should perhaps be answered by https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/main/docs/contributing/writing-instrumentation-module.md#use-advice-classes-to-write-code-that-will-get-injected-to-the-instrumented-library-classes; I also answered your on SO. Does this help you?

[2022-10-17 10:46] laurit commented on #6890
To get around this you should either shade the libraries you put in boot loader or instead of boot loader place them in agent loader and only put the api that allows using the library in boot loader.

[2022-10-17 12:16] sno544 commented on #6885
Hi @mateuszrzeszutek , thanks for replying.
In both cases it's Zipkin exporter.
Forgot to mention - on the Java side I'm using autoconfiguration - apart from specifying zipkin as exporter and zipkin endpoint (config provided by env variables) all settings and instrumentation are default.

[2022-10-17 13:49] mateuszrzeszutek commented on #6885
That's interesting, looks like Go's Zipkin exporter is behaving in a bit different way compared to the Java one -- it serializes span event attributes to JSON string: https://github.com/open-telemetry/opentelemetry-go/blob/042d938989bfe4960c96328328f1f324bc72bdf3/exporters/zipkin/model.go#L147

It looks like the Java Zipkin exporter does not conform to the OTel spec when converting span events to

[2022-10-18 00:10] github-actions[bot] opened #6901 "Build (daily, --no-build-cache) #204 failed"
See [Build (daily, --no-build-cache) #204](https://github.com/open-telemetry/opentelemetry-java-instrumentation/actions/runs/3269008935).

[2022-10-18 00:24] trask opened #6902 "Mode where Javaagent puts unshaded API and SDK in the bootstrap class loader"
Revisiting https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/main/docs/misc/interop-design/interop-design.md#interoperability-design, does it make sense to introduce a new mode where the Javaagent puts unshaded OpenTelemetry API and SDK in the bootstrap class loader and forces all class loaders to load them from there?

While this introduces some restrictions on interoperab

[2022-10-18 00:26] trask commented on #6902
Potentially (if it works out) this could even be the default mode for runtime-attach.

[2022-10-18 00:45] #6901 closed

[2022-10-18 00:58] github-actions[bot] opened #6903 "Build (daily) #203 failed"
See [Build (daily) #203](https://github.com/open-telemetry/opentelemetry-java-instrumentation/actions/runs/3269749380).

[2022-10-18 02:17] xiangtianyu commented on #6890
I got it, thanks for suggestion!

[2022-10-18 02:17] #6890 closed

[2022-10-18 03:20] dinhan2411 commented on #6855
@mateuszrzeszutek @laurit I find out may be the error because of using this:
[code]

But I use it in many projects, it is hard to replace them all. Is there a better option for me?

[2022-10-18 04:17] github-actions[bot] opened #6906 "Build (daily) #204 failed"
See [Build (daily) #204](https://github.com/open-telemetry/opentelemetry-java-instrumentation/actions/runs/3270528035).

[2022-10-18 06:55] github-actions[bot] opened #6907 "Build (daily, --no-build-cache) #205 failed"
See [Build (daily, --no-build-cache) #205](https://github.com/open-telemetry/opentelemetry-java-instrumentation/actions/runs/3270776490).

[2022-10-18 08:30] ychaydhari commented on #6797
2022-10-18T12:18:52.888+0530    info    TracesExporter  {"kind": "exporter", "data_type": "traces", "name": "logging", "#spans": 30}
2022-10-18T12:18:53.681+0530    error   prometheusexporter@v0.59.0/log.go:34    error gathering metrics: collected metric "http_server_active_requests" { label:<name:"http_flavor" value:"1.1" > label:<name:"http_host" value:"localhost:7171" > label:<name:"http_method

[2022-10-18 14:28] #6906 closed

[2022-10-18 14:28] #6907 closed

[2022-10-18 15:20] bherbst opened #6909 "OkHttp interceptors break span parenting"
**Describe the bug**
Adding any sort of OkHttp interceptor that modifies a `Request` breaks span parenting.
This is because `TracingCallFactory` stores contexts in a `Map<Request, Context>` and thus the `Request` [when the `TracingInterceptor` retrieves the relevant context](https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/29ef29626e6ebeffb5be91da9465a29215541a82/instrumen

[2022-10-18 15:26] bherbst commented on #6909
Note that leveraging OkHttp request tags _would_ be viable in OkHttp 4.x, [as tags are a Map](https://github.com/square/okhttp/blob/master/okhttp/src/jvmMain/kotlin/okhttp3/Request.kt#L50) instead of a single Object.

[2022-10-20 04:25] trask commented on #6837
hi @illidanzen163, one option is to write a SpanProcessor, and cast the parent Span to ReadableSpan to get the name / copy down the local root span name

[2022-10-20 04:27] trask commented on #6515
hey @Samudraneel24, the Javaagent supports file-based views, check out https://github.com/open-telemetry/opentelemetry-java/tree/main/sdk-extensions/incubator#view-file-configuration

[2022-10-20 05:12] aaron-ai opened #6927 "Muzzle plugin is not working unless maven repositories is declared explicitly"
After #6796 , the default maven repository is removed, it seems that it causes the muzzle plugin unable to work as normal unless explicit maven repository is declared in each project. Is it by design?

[2022-10-20 08:53] arloor opened #6928 "Can I use auto instrumentation and manual instrumentation at the same time?"
**Is your feature request related to a problem? Please describe.**
I noticed that opentelemetry java-agent shaded io.opentelemetry.*  to io.opentelemetry.javaagent.shaded.io.opentelemetry.*
so there are two sets of classes for manual and auto instrumentation.
so  if I use auto instrumentation and manual instrumentation at the same time, trace info cannot share between auto and manul.

**Describe t

[2022-10-20 09:05] aaron-ai commented on #6928
related discuss: https://github.com/open-telemetry/opentelemetry-java-instrumentation/discussions/6005

[2022-10-20 09:20] claussenj commented on #6015
Just for completeness a final comment from my side since I opened the issue and see that I have not responded:
Issue completely resolved for us in OTEL 1.15.0. Many thanks for the fix!
regards
Jens

[2022-10-20 09:27] arloor commented on #6928
that issue's answer seems to say:

1. it does have two sets of API and SDK for manual and auto
2. by default, auto instrumentation will hijack manual instrumentation by hijacking the GlobalOpenTelemetry( or a custom one)
3. or users can disable auto instrumentaiton and use manual instrumentation only.

I am interested in whether  can there be only one set of API and SDK shared by auto and manul, i

[2022-10-20 11:20] mateuszrzeszutek commented on #6927
Hey @aaron-ai ,
After #6796 the muzzle plugin will use your `project.repositories` settings; this is by design - we want the plugin to use the same repositories that are used during other build actions that require dependency resolution, e.g. compilation. Did you make sure to add maven central there?

[2022-10-20 11:47] aaron-ai commented on #6927
@mateuszrzeszutek It means each instrumentation should add maven central to their `build.gradle.kts`?

[2022-10-20 11:52] mateuszrzeszutek commented on #6927
You need to add the repositories that you want muzzle to scan - if the artifacts that you're instrumenting are hosted on maven central, then you'll need to add maven central.

[2022-10-20 11:55] aaron-ai commented on #6927
Got it, thank you!

[2022-10-20 11:59] #6927 closed, assigned to nobody

[2022-10-20 13:52] laurit commented on #6928
Yes, you can. Just include the opentelemetry api classes in your application and write your instrumentation as you'd write it when not using the auto instrumentation agent. The only difference is that you don't need to configure the opentelemetry sdk, just use `GlobalOpenTelemetry` to get access to the sdk that is configured by the agent. Agent will bridge the openteletry api that is inside your a

[2022-10-20 16:13] trask commented on #6902
Where should Javaagent SPI live?

[2022-10-20 21:38] PeterF778 opened #6929 "runtime.jvm.gc.count metric reports invalid unit "collections""
**Describe the bug**
Garbage Collection metric runtime.jvm.gc.count reports the unit as "collections", which is an invalid unit.

**Steps to reproduce**
Enable GC metrics by specifying -Dotel.instrumentation.runtime-metrics.experimental-metrics.enabled=true on the java command line with the agent. Watch the metric data stream for "runtime.jvm.gc.count".

**What did you expect to see?**
A correct u

[2022-10-20 21:47] PeterF778 commented on #6929
Please go ahead or assign to me, whatever you prefer.

[2022-10-20 21:50] trask commented on #6929
assigning you, thx ❤️

[2022-10-21 00:53] trask commented on #6929
Closed by #6930

[2022-10-21 00:53] #6929 closed

[2022-10-21 03:04] Emily-Jiang commented on #6494
I would like to see the stable annotations to be released under stable as early as possible. Can this be done within the next couple of weeks as we really want to pull in the stabled version asap.

[2022-10-21 08:28] aaron-ai opened #6932 "Enable muzzle scanning for Apache Dubbo and Apache RocketMQ"
According to #6927, maven central should be added.

[2022-10-21 09:52] kelystor opened #6934 "rocketmq hook exception"
open telemetry trace rocketmq via register hook, e.g: `TracingSendMessageHookImpl`.

In some scenes, rocketmq will register own hook (`ConsumeMessageHook`/`SendMessageHook`), e.g: `SendMessageTraceHookImpl` (`SendMessageHook`) , or user may register his custom hook. And it may conflict with open telemetry's hook, eg: `TracingSendMessageHookImpl`, there is an exception when hooks execute

[code]

f

[2022-10-21 11:22] #6932 closed

[2022-10-22 04:12] github-actions[bot] opened #6941 "Build (daily) #208 failed"
See [Build (daily) #208](https://github.com/open-telemetry/opentelemetry-java-instrumentation/actions/runs/3301871517).

[2022-10-22 06:39] github-actions[bot] opened #6943 "Build (daily, --no-build-cache) #209 failed"
See [Build (daily, --no-build-cache) #209](https://github.com/open-telemetry/opentelemetry-java-instrumentation/actions/runs/3302036685).

[2022-10-22 17:36] trask opened #6945 "Run aws-sdk tests against 2.18.x"
Capped aws-sdk testLatestDep version to `2.17.+` in #6944 to fix testLatestDeps build, but need to investigate and fix tests (and/or instrumentation) to pass with `2.18.x`.

[2022-10-22 20:58] trask opened #6947 "Documentation for library instrumentations"
Documentation is missing for several library instrumentations (https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/main/docs/standalone-library-instrumentation.md).

This is full list of library instrumentations, check marks mean documentation is present.

It would be great for all of the library instrumentations to follow a layout similar to [OkHttp](https://github.com/open-

[2022-10-23 04:17] github-actions[bot] opened #6951 "Build (daily) #209 failed"
See [Build (daily) #209](https://github.com/open-telemetry/opentelemetry-java-instrumentation/actions/runs/3305744823).

[2022-10-23 05:55] #6883 closed

[2022-10-23 06:09] github-actions[bot] opened #6952 "Build (daily, --no-build-cache) #210 failed"
See [Build (daily, --no-build-cache) #210](https://github.com/open-telemetry/opentelemetry-java-instrumentation/actions/runs/3305881237).

[2022-10-23 09:32] #6941 closed

[2022-10-23 09:32] #6943 closed

[2022-10-23 11:43] aaron-ai opened #6954 "Add RocketMQ docs for library instrumentation"
Related to #6947 , I intend to add RocketMQ docs for library instrumentation.

[2022-10-23 16:13] #6951 closed

[2022-10-23 16:13] #6952 closed

[2022-10-23 17:33] #6945 closed

[2022-10-23 17:50] #6934 closed

[2022-10-23 21:17] Tavh commented on #2777
@mateuszrzeszutek
Is this still relevant? I don't see a class called 'ReactorHooksAdvice' and every call to
tracingOperator.registerOnEachOperator() seems to be inside a test class

[2022-10-24 06:49] dinhan2411 commented on #6855
Thank @mateuszrzeszutek  and @laurit, I disable spring-integration and it works. But the trace doesn't have enough span as I expected. Hopefully it will be fixed in the future. Thank you again!

That's what I added to the config.properties file for the agent:
[code]

[2022-10-24 06:49] #6855 closed

[2022-10-24 13:39] mateuszrzeszutek commented on #2777
I believe it's called `HooksInstrumentation$ResetOnEachOperatorAdvice` now. I commented it out and reran the tests, they're failing (as they should) - I think we can mark this issue as closed.

[2022-10-24 13:39] #2777 closed

[2022-10-24 15:57] breedx-splk commented on #2655
That's great, @Tavh thanks for helping out!

[2022-10-25 05:57] #6954 closed

[2022-10-25 16:24] JessHolle opened #6967 "log4j2-Appender-like ability to filter log4j2 log events"
Unless I am missing something the current instrumentation will catch all attempts to log to a log4j2 logger -- without any regard to the target logger and/or log event severity level.

This may well result in overwhelming verbosity.  It would seem that filtering control is really needed on at least combinations of these 2 dimensions (logger name and severity level).

A seemingly attractive alterna

[2022-10-25 17:37] JessHolle commented on #6967
Of course **now** I notice OpenTelemetryAppender...

So that's there.  The only mystery to me now is what is auto-instrumented in this regard if using the agent, and how to disable any such instrumentation if I want to use OpenTelemetryAppender instead.

[2022-10-25 18:48] akats7 commented on #6765
Hi @trask, yes I'm specifically referring to called stored procedures, is the proper naming for a stored procedure in the format "Call db_name.procedure_name", this seems to be the case when I see only the db.name get parsed out, and in turn the span is named "db_name"

[2022-10-25 18:56] trask commented on #6765
makes sense to me, as stored procedure names are cardinality limited

stored procedures are even called out explicitly in the spec:

https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/semantic_conventions/database.md#semantic-conventions-for-database-client-calls

[2022-10-26 05:55] fujin opened #6979 "Configurable span attributes based on gRPC Metadata keys"
**Describe the solution you'd like**
I would like to be able to specify certain gRPC Custom Metadata keys from which Span Attributes should be set on the span for the RPC.

Similar to https://opentelemetry.io/docs/instrumentation/java/automatic/agent-config/#capturing-http-request-and-response-headers

**Describe alternatives you've considered**
- Manually propagating the value out of the grpc met

[2022-10-26 09:04] aaron-ai opened #6980 "Add gRPC docs for library instrumentation"
Related to https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/6947

[2022-10-26 15:00] darkowl91 commented on #5678
Cool feature, vote for this.

[2022-10-26 15:09] JBodkin opened #6982 "Extension classes are not accessible to the application class loader"
**Describe the bug**
Instrumentation is being skipped, due to missing classes on the application class loader. These classes are provided by the extension.

[code]

**Steps to reproduce**
See attached zip - [cayenne-extension.zip](https://github.com/open-telemetry/opentelemetry-java-instrumentation/files/9870785/cayenne-extension.zip)

**What did you expect to see?**
The instrumentation should be

[2022-10-26 17:22] laurit commented on #6982
You probably didn't implement `isHelperClass` method, see https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/main/docs/contributing/writing-instrumentation-module.md

[2022-10-26 17:28] JBodkin commented on #6982
I did try adding the `getAdditionalHelperClassNames ` method, but that didn’t help. Is `isHelperClass` different?

[2022-10-26 18:36] github-actions[bot] opened #6983 "Publish Play images for smoke tests #38 failed"
See [Publish Play images for smoke tests #38](https://github.com/open-telemetry/opentelemetry-java-instrumentation/actions/runs/3331532837).

[2022-10-27 02:34] Shawn-Yang-AWX opened #6987 "how to customizer the http.route attribute for metrics"
Hi, I want o use the `spans.duration.ns.p99` or `service.request.duration.ns.p99`, i found the http_route is not the exact one for jsonrpc request.

i want to let http_route combined with the json rpc url and the method name.  or add let it have a new attribute for  jsonrpc method name

I add a jsonrpc a listener, but it seems have no effect
[code]

any suggestion?

[2022-10-27 03:59] trask commented on #6967
hi @JessHolle!

this is surprising, the auto-instrumentation is applied after the application's logger level is checked, so it should not be capturing logs without any regard to the target logger or level, can you post a repro that we can look into to see why this might be happening for you?

[2022-10-27 04:10] github-actions[bot] opened #6989 "Build (daily) #213 failed"
See [Build (daily) #213](https://github.com/open-telemetry/opentelemetry-java-instrumentation/actions/runs/3334372961).

[2022-10-27 05:16] trask commented on #6967
check out discussion in #5464

[2022-10-27 06:04] kelystor opened #6990 "is there any option of auto instrumentation to enable tracing spring `@Service` class methods?"
open telemetry doesn't trace spring `@Service` class method invocation, is there any option to enable it when using auto instrumentation?

[2022-10-27 08:39] Tavh opened #6991 "Implement gRPC request metadata"
As specified in the OTel specification:
https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/semantic_conventions/rpc.md#grpc-request-and-response-metadata

[2022-10-27 09:11] Tavh commented on #6991
I would love to be assigned to this aswell

[2022-10-27 10:30] #6983 closed

[2022-10-27 10:31] #6989 closed

[2022-10-27 10:36] JessHolle commented on #6967
As per my later comment, I belatedly tested and re-examined the code -- and discovered that the instrumentation is after logger level filtering takes place.  It still doesn't give the flexibility of an Appender, though.  For instance, we have a system where a fair amount of logging is done to a database -- of the same sort of material that would be covered by traces.  So while the auto-instrumenta

[2022-10-27 10:39] JessHolle commented on #5464
So is the thought here to instead automatically add/apply OpenTelemetryAppender wherever specific other appenders are applied?  Or to instrument those appenders code and check appender name rather than instrumenting loggers?

[2022-10-27 10:41] JessHolle commented on #6967
Thanks, I added a comment/query there -- as giving an ability to auto-instrument with minimal configuration sounds more attractive than manually configuring to use OpenTelemetryAppender.

[2022-10-27 10:43] laurit commented on #6990
No, there is not. You could try using `-Dotel.instrumentation.methods.include`, see https://opentelemetry.io/docs/instrumentation/java/automatic/annotations/#creating-spans-around-methods-with-otelinstrumentationmethodsinclude. Or you could build something on top of spring aop, see https://github.com/open-telemetry/opentelemetry-java-instrumentation/tree/main/instrumentation/spring/spring-boot-aut

[2022-10-27 13:31] #6980 closed

[2022-10-27 14:22] JBodkin commented on #6982
I've tried `isHelperClass` and that works correctly.

[2022-10-27 14:22] #6982 closed

[2022-10-27 15:28] ryandens commented on #3500
👋 I was taking a look at this issue and it seems like this was resolved by #4794 because the test task now uses a `CommandLineArgumentProvider` connected to the javaagent shadowjar input file rather than consuming the file name as a String.

I tried the reproduction steps described in this issue, and while I did confirm that `javaagent:test` forces the rebuild of `javaagent-tooling` when the chang

[2022-10-27 16:03] ryandens commented on #6628
According to [this Gradle issue](https://github.com/gradle/gradle/issues/19331) this can be fixed in one of the following ways:

Add this to the `afterEvaluate` block inside the gradle-plugins build script:

[code]

Or, use the newer [Plugin Publish Plugin](https://plugins.gradle.org/plugin/com.gradle.plugin-publish) which was released in June. I'd be happy to take on either, if you have a prefere

[2022-10-27 19:45] #6909 closed

[2022-10-27 20:11] trask commented on #3500
awesome, thx for investigating this!

[2022-10-27 20:11] #3500 closed

[2022-10-27 20:13] trask commented on #6628
@ryandens if you can upgrade to the newer publish plugin that would be great!

dependabot tried to upgrade us in #6886, but it was not a straight-forward upgrade

[2022-10-27 20:15] trask commented on #5464
I'm thinking something like this could be nice.

Then as a configuration property, you could set the appender name that you want the javaagent to capture from, and if that configuration property is set, the javaagent could suppress the general instrumentation and only instrument that specific appender.

[2022-10-28 02:25] #6764 closed

[2022-10-28 04:05] github-actions[bot] opened #7004 "Build (daily) #214 failed"
See [Build (daily) #214](https://github.com/open-telemetry/opentelemetry-java-instrumentation/actions/runs/3342670160).

[2022-10-28 10:17] laurit commented on #7004
[code]

[2022-10-28 10:17] #7004 closed

[2022-10-28 10:33] roadSurfer commented on #1060
Thank you so much for this, @jack-berg. I got my own version of it running now.
For anyone else using Maven, seems you need to use the following in order to create an extension fat-jar with all the runtime dependecies:
[code]
I was unable to get it to run sucessfully when trying to add to the classpath normally.

[2022-10-28 11:13] JessHolle commented on #5464
I'd think a set of appender names would be ideal -- a Set.contains() check should be cheap enough and allow maximum flexibility, e.g. to capture all of the data the original app routed to several different log files.

[2022-10-28 11:19] #6831 closed

[2022-10-28 15:48] #6628 closed

[2022-10-28 16:56] illidanzen163 commented on #6837
Thanks very much for the suggestion ! I'll try

[2022-10-28 16:57] #6837 closed

[2022-10-28 17:04] gabrielgiussi opened #7006 "Add thread state as attribute to process.runtime.jvm.threads.count"
The current `process.runtime.jvm.threads.count` metric exported by the agent (or manually using [Threads#registerObservers](https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/c170ec5315a41d8e2183c4566e649ca28dab9a70/instrumentation/runtime-metrics/library/src/main/java/io/opentelemetry/instrumentation/runtimemetrics/Threads.java#L39) directly) only has as an attribute if cor

[2022-10-29 23:17] sharp-pixel opened #7007 "Support OpenSearch client auto-instrumentation"
**Is your feature request related to a problem? Please describe.**
Current instrumentation agent lacks support for OpenSearch clients. OpenSearch support has been added to the OpenTelemetry specification v1.14.0 and the OpenTelemetry Java SDK v1.19.0.

**Describe the solution you'd like**
Adding support for OpenSearch.

**Describe alternatives you've considered**
Manual instrumentation using OpenT

[2022-10-30 14:06] Tavh commented on #6979
Recently opened and started working on this issue: https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/6991
Isn't it pretty much the same?

[2022-10-30 21:59] Tavh commented on #6991
Update:

During development I realized that gRPC response is not yet implemented in this instrumentation library.
I will focus on the request headers for this issue.

[2022-10-31 04:04] github-actions[bot] opened #7008 "Build (daily) #217 failed"
See [Build (daily) #217](https://github.com/open-telemetry/opentelemetry-java-instrumentation/actions/runs/3358453802).

[2022-10-31 06:53] github-actions[bot] opened #7009 "Build (daily, --no-build-cache) #218 failed"
See [Build (daily, --no-build-cache) #218](https://github.com/open-telemetry/opentelemetry-java-instrumentation/actions/runs/3358721354).

[2022-10-31 15:36] Tavh commented on #6991
PR for this issue:

https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/7011

[2022-10-31 19:03] fujin commented on #6979
@Tavh I suppose this should be closed then?

[2022-10-31 19:03] #6979 closed

[2022-11-01 06:11] dwipeshmishra opened #7018 "Not getting DB traces for java Vertx Version: 3.9.2"
**Describe the bug**
Not getting DB traces for java `Vertx Version: 3.9.2` while auto-instrumenting application with opentelemetry but getting DB traces using same configuration for `Vertx Version: 3.7.1`

**Steps to reproduce**
Otel Configuration:
-Dotel.resource.attributes=service.name=demo-service -Dotel.exporter.otlp.endpoint=http://localhost:4317 -Dotel.javaagent.debug=false -Dotel.metrics.ex

[2022-11-01 15:55] syr commented on #6160
I re-tested this locally by two quarkus apps (set up like in https://quarkus.io/guides/opentelemetry) incl. java agent, a localstack sqs queue, and local jaeger-aio as tracing backend. However, sendMessage and receiveMessage and still not in the same trace. I will try to create a reproducer soon, but will likely debug the tests of [this ](https://github.com/open-telemetry/opentelemetry-java-instru

[2022-11-01 19:19] trask commented on #7018
hi @dwipeshmishra! can you attach an example from the debug logs of the jdbc telemetry that you are seeing under vertx 3.7.1?

[2022-11-01 22:22] trask commented on #7008
Closing, as re-running succeeded

Though I'm not sure why it failed the first time, since the step before this publishes the gradle plugin to local maven:

[code]

[2022-11-01 22:22] #7008 closed

[2022-11-02 07:13] yingziisme opened #7027 "why different Baggage between SpanProcessor and Application code"
To get baggage by Baggage baggage = Baggage.current();
I put some attribute in baggage in SpanProcessor, but can not get from spring controller.

in SpanProcessor.
Baggage baggage = Baggage.current();
BaggageBuilder builder = baggage.toBuilder();
builder.put("test", "test");
builder.build().makeCurrent();

in Controller
Baggage baggage = Baggage.current();

this baggage is empty

[2022-11-02 07:20] dwipeshmishra commented on #7018
@trask Debug logs for Vertx Version: 3.7.1
[vertxAppWithDBTraces.txt](https://github.com/open-telemetry/opentelemetry-java-instrumentation/files/9917499/vertxAppWithDBTraces.txt)

[2022-11-02 10:35] michalvavrik opened #7028 "Make it possible to use OpenTelemetryDriver without DriverManager"
**Is your feature request related to a problem? Please describe.**

Using static global registry as DriverManager cause some issues, some context here: https://github.com/quarkusio/quarkus/pull/28921

When using OT JDBC instrumentation with a native image (using GraalVM), most SQL drivers as OracleDriver register themselves with `DriverManager` in a way that won't don't work with build time initia

[2022-11-02 10:40] IcebergXTY opened #7029 "can't active my LoggingCustomizer implementation"
**Is your feature request related to a problem? Please describe.**
Hello everyone,  I want to use OtlpJsonLoggingXXXExporter to export data to log file and implement my own io.opentelemetry.javaagent.tooling.LoggingCustomizer to use log4j2.
But the LoggingCustomizer SPI loading order is random and only the first one will be active, so my implementation is not in effect.

**Describe the solution yo

[2022-11-02 10:42] IcebergXTY commented on #7029
The SPI load code
[code]

[2022-11-02 13:31] mateuszrzeszutek commented on #6990
Alternatively, you could add [`@WithSpan`](https://opentelemetry.io/docs/instrumentation/java/automatic/annotations/#creating-spans-around-methods-with-withspan) annotations to your service methods.

@kelystor I'm closing this issue - please reopen it (or create a new one) if you have anything else you'd like to ask about or suggest.

[2022-11-02 13:31] #6990 closed

[2022-11-02 13:41] mateuszrzeszutek commented on #7029
The `LoggingCustomizer` is an internal interface - it's not a general purpose thing, and it will not work if you're building a javaagent extension. It was introduced to make replacing logging system in vendor distributions easier - it was not our aim to make it possible for regular users to replace the logger (for now, at least - we might make it a part of the public API in the future).

If you're

[2022-11-02 13:48] michalvavrik commented on #7028
@mateuszrzeszutek sure, I'll have a look. Thanks for feedback.

[2022-11-02 15:47] mateuszrzeszutek commented on #7009
Looks like it might be a random GHA failure:
[code]
All jobs were green; closing.

[2022-11-02 15:47] #7009 closed

[2022-11-02 17:44] jsuereth commented on #7018
@trask Do we implement instrumentation for https://github.com/eclipse-vertx/vertx-sql-client yet?   I think this might be a feature request.

[2022-11-02 19:34] trask commented on #7018
ah, no we don't 👍

[2022-11-03 02:44] IcebergXTY commented on #7029
@mateuszrzeszutek Thank you, it works for me.

[2022-11-03 02:44] #7029 closed

[2022-11-03 03:26] trask commented on #7027
hi @yingziisme, calling `makeCurrent()` should generally only be done inside of a try-with-resources.

I don't think it's safe to use it in a span processor in case start/end are called from different threads

[2022-11-03 08:37] IcebergXTY opened #7037 "NoClassDefFoundError when load java.sql.Date class"
**Is your feature request related to a problem? Please describe.**
I'm trying to custom my owe agent for our business, it works well on JDK8's project, but throws NoClassDefFoundError when running on JDK11's project (The agent is compiled by JDK8).

For some reason, I must load java.sql.Date class when agent running(etc. I use a library named [hutool](https://hutool.cn/) to simplify my work. It wi

[2022-11-03 12:39] laurit commented on #7037
Not delegating to `PlatformClassLoader` is deliberate, we don't wish application classes to affect agent (see https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/5156). To work around it you could use a custom class loader inside your agent that delegates to `PlatformClassLoader`. I think it would make sense to modify `JdkHttpServerClassLoader` to also delegate `java.sql.`

[2022-11-03 16:05] akats7 commented on #6765
Hi @trask, just wanted to clarify, is this a valid enhancement. Just want to ensure that similar instrumentation does not already exist/existed in the past within the agent.

[2022-11-03 17:05] trask commented on #6765
I believe so

[2022-11-03 17:30] gabrielgiussi commented on #6947
Could the docs include which are the metrics reported by the instrumentation?

[2022-11-03 18:42] #7037 closed

[2022-11-04 02:50] IcebergXTY opened #7040 "compile error in main branch"
**Is your feature request related to a problem? Please describe.**
I'm sorry I know this is a silly question, but I'm not really familiar with gradle.
I download the latest source code in main branch at 2022-11-04(include commit 2a2f7cd3129c90a28bcb8b19b88f4d9a545b14e6) and  execute `.\gradlew.bat assemble '-x' test '-x' javadoc`. I get the error below.
I didn't change any code and don't know what

[2022-11-04 03:52] yingziisme commented on #7027
how to put attributes to metrics that those attributes is in span.

[2022-11-04 03:53] yingziisme commented on #7027
Both SpanProcessor and Controller are in the same thread, but Baggage from Baggage.current() is different.
how to put attributes to metrics that those attributes is in span.

[2022-11-04 06:38] github-actions[bot] opened #7041 "Build (daily, --no-build-cache) #222 failed"
See [Build (daily, --no-build-cache) #222](https://github.com/open-telemetry/opentelemetry-java-instrumentation/actions/runs/3391335616).

[2022-11-04 09:05] mateuszrzeszutek commented on #7041
Tests have all passed, it looks like the build failed on the "Upload jvm crash files" action:
![Screen Shot 2022-11-04 at 10 03 07](https://user-images.githubusercontent.com/69198463/199934497-81fe82be-a55b-47f6-abdb-0b182cfc5571.png)
There are no error logs whatsoever - I think it might be just some random GHA failure/hiccup.

[2022-11-04 09:05] #7041 closed

[2022-11-04 16:28] trask commented on #6494
hi @Emily-Jiang! we discussed and are going to mark this module stable in the upcoming 1.20.0 release which is scheduled for Wed, Nov 16

[2022-11-04 17:51] mjrlgue opened #7047 "Opentelemetry auto instrumentation not working for java"
**Describe the bug**
Hello, I followed this [tutorial ](https://medium.com/opentelemetry/using-opentelemetry-auto-instrumentation-agents-in-kubernetes-869ec0f42377) (thanks for the straightforward steps (y)), but the command `kubectl logs deployment.apps/otel-collector` doesn't print any trace, metric or logs. Instead I get that the exporters are started and waiting for data:
![image](https://user

[2022-11-04 17:52] mjrlgue commented on #7047
one more thing to add, It's my first time configuring OTel, still don't know how to troubleshoot it.

[2022-11-04 18:45] trask commented on #7047
hi @mjrlgue! I'd recommend opening this in https://github.com/open-telemetry/opentelemetry-operator, since you are using that mechanism for onboarding.

another option is you could try following the onboarding steps in this repo and attaching the javaagent manually using the `-javaagent` JVM arg, and we can help you here if you are having issues with this approach.

[2022-11-04 19:46] mjrlgue commented on #7047
oh ok thank you @trask for the info I'll do that and get back here if needed.

[2022-11-04 23:22] Emily-Jiang commented on #6494
Thank you @trask !

[2022-11-05 03:50] trask commented on #7040
hi @IcebergXTY, I tried the same, clean clone, Windows, Powershell, but was unable to repro

[2022-11-06 03:55] github-actions[bot] opened #7087 "Build (daily) #223 failed"
See [Build (daily) #223](https://github.com/open-telemetry/opentelemetry-java-instrumentation/actions/runs/3402778612).

[2022-11-06 07:44] laurit commented on #7087
[code]

[code]

[code]

[2022-11-06 07:44] #7087 closed

[2022-11-07 02:27] IcebergXTY commented on #7040
@trask well, maybe something wrong with my Gradle. I will try to resolve it, thank you😁

[2022-11-07 02:27] #7040 closed

[2022-11-07 04:17] github-actions[bot] opened #7088 "Build (daily) #224 failed"
See [Build (daily) #224](https://github.com/open-telemetry/opentelemetry-java-instrumentation/actions/runs/3407396407).

[2022-11-07 10:39] laurit commented on #7088
[code]

[code]

[code]

[2022-11-07 10:39] #7088 closed

[2022-11-07 20:09] bherbst commented on #6526
How would you actually go about attaching a custom `SpanNameExtractor` to the existing instrumentors? The instrumentors I've looked at in this repo (I mostly care about OkHttp but have looked at others to see how they handle span naming) all build an `HttpSpanNameExtractor` internally with no hooks available for clients to provide their own extractor.

That's what I think is missing right now - pu

[2022-11-07 20:13] trask commented on #6526
@bherbst would it work for you to create a SpanProcessor and update the span name on start?

[2022-11-07 20:16] bherbst commented on #6526
Ahhhh, I missed that a `SpanProcessor` can update the name! That definitely works, thanks!

[2022-11-08 01:01] trask opened #7096 "Sporadic build failure of examples/extensions"
I've seen this several times recently. I'm not sure why, since a couple of steps before this runs `publishToMavenLocal` from the `gradle-plugins` directory.

My only suspicion so far is that an UP-TO-DATE check is preventing the `publishToMavenLocal`, but the log doesn't appear to be reporting these tasks as SKIPPED, so really I have no ideas.

I added a small amount of debugging in #7095, but no

[2022-11-08 12:23] mateuszrzeszutek commented on #7047
@mjrlgue I'll close this issue for now - please reopen it (or create a new one) if the problem lies on the javaagent side and not the operator side.

[2022-11-08 12:23] #7047 closed

[2022-11-08 13:30] brianmolinaspring commented on #7028
@michalvavrik This topic has already been corrected directly in OpenTelemetry ?, to update the lib from mvn. I see that the problem is still open. Please can you confirm me?

[2022-11-08 13:33] michalvavrik commented on #7028
Hello @brianmolinaspring ,

I'm not sure I copy that, but AFAICT the issue is still opened. I provided PR https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/7089, but so far there are no reactions on it (apart of kind Bruno).

So, not fixed.

Michal

[2022-11-08 13:43] brianmolinaspring commented on #7028
@michalvavrik thanks for answering, a query how to register the manual driver in my code?

[2022-11-08 13:47] michalvavrik commented on #7028
@brianmolinaspring Ah, yeah. I just saw your [Quarkus issue](https://github.com/quarkusio/quarkus/issues/29110) :-) Now I understand. You need to register it manually on startup event, e.g.
[code]
You can also watch https://github.com/quarkusio/quarkus/pull/28921.

Michal

[2022-11-08 13:48] michalvavrik commented on #7028
for context - I think it shouldn't cause any issues, but be aware you are registering driver that can be used from anywhere!

[2022-11-08 13:50] michalvavrik commented on #7028
in general, it's not something we want to do.

[2022-11-08 13:55] brianmolinaspring commented on #7028
@michalvavrik Perfect, thank you very much. Would this event go anywhere in the code? either in the controller, or service, or better put in the dao class?

[2022-11-08 14:01] michalvavrik commented on #7028
@brianmolinaspring here to help! Here is docs https://quarkus.io/guides/lifecycle#listening-for-startup-and-shutdown-events, personally I'd not add it to dao (my dao models are mostly POJOs).

[2022-11-08 14:05] michalvavrik commented on #7028
@brianmolinaspring btw. I think this should handle most situations, but I'm not 100 % sure some tasks are not triggered before startup event is triggered. If so, I'm afraid you'll have to register the driver in the constructor of some runtime initialized class, here is how to set the class as runtime initialized https://quarkus.io/guides/writing-native-applications-tips#delay-class-init-in-your-ap

[2022-11-08 14:45] brianmolinaspring commented on #7028
@michalvavrik thank you very much, put the event in the controller, do the native compilation and try and excellent there were no details. successful execution

[2022-11-08 16:46] #6494 closed

[2022-11-08 17:40] github-actions[bot] opened #7098 "Build (daily) #226 failed"
See [Build (daily) #226](https://github.com/open-telemetry/opentelemetry-java-instrumentation/actions/runs/3421442711).

[2022-11-08 17:48] argonotix opened #7099 "Provide interoperation with the Contrast Security Java agent"
Recently it's been brought to our attention that the interoperability between OpenTelemetry's Java agent and the  [Contrast Security](https://www.contrastsecurity.com/) Java Agent has shown some compatibility issues.  Notably, if OpenTelmetry is placed first in the command line arguments, there is a significant slowdown in the target application.  If Contrast is placed first, the retransformation

[2022-11-08 20:50] trask opened #7107 "Support latest project reactor version 3.5.0"
And revert muzzle limits added in https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/7106

[2022-11-08 23:51] trask commented on #7099
hi @argonotix!

check out #1534

tldr:

this would be the better location for the new ignore:

https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/2152feaabf301c495950ebb58f2f338e86d83c9d/javaagent-tooling/src/main/java/io/opentelemetry/javaagent/tooling/ignore/GlobalIgnoredTypesConfigurer.java#L31-L42

[2022-11-09 01:59] argonotix commented on #7099
@trask Perfect, thanks very much. Will do just that.

[2022-11-09 03:59] github-actions[bot] opened #7115 "Build (daily) #227 failed"
See [Build (daily) #227](https://github.com/open-telemetry/opentelemetry-java-instrumentation/actions/runs/3425178082).

[2022-11-09 06:37] github-actions[bot] opened #7117 "Build (daily, --no-build-cache) #227 failed"
See [Build (daily, --no-build-cache) #227](https://github.com/open-telemetry/opentelemetry-java-instrumentation/actions/runs/3425452844).

[2022-11-09 08:16] ZRainc commented on #1573
When will Opentelemetry support Thrift?

[2022-11-09 10:58] mateuszrzeszutek commented on #1573
Hey @ZRainc ,
The maintainers of this repo probably won't implement this (we don't have enough time/cycles to work on that), but we'll gladly accept a contribution.

[2022-11-09 12:03] mateuszrzeszutek commented on #7098
Fixed by #7106

[2022-11-09 12:03] #7098 closed

[2022-11-09 12:09] mateuszrzeszutek commented on #6987
Hey @Shawn-Yang-AWX ,
Try using the [`HttpRouteHolder`](https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/main/instrumentation-api-semconv/src/main/java/io/opentelemetry/instrumentation/api/instrumenter/http/HttpRouteHolder.java) from the instrumentation-api-semconv -- that's what all our server/mvc instrumentations are using to provide the route.

[2022-11-09 12:30] syr opened #7120 "Context propagation via SQS not working"
**Describe the bug**
Even though context propagation via SQS should have been supported since https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/6199 was released I cannot confirm that it works in a real application.

In short: spans created for sqs.sendMessage and sqs.receiveMessage are not associated with the same traceId but have different ones.

**Steps to reproduce**
I

[2022-11-09 12:49] #7115 closed

[2022-11-09 12:49] #7117 closed

[2022-11-09 17:17] brianmolinaspring commented on #7028
@michalvavrik a question, OpenTelemtry is compatible with EntityManager JPA from Quarkus ?,   try to register the driver manually with another service, but it gives the following errors:

Caused by: javax.persistence.PersistenceException: org.hibernate.exception.GenericJDBCException: Error calling CallableStatement.getMoreResults

Caused by: java.sql.SQLException: operation not allowed: Ordinal bi

[2022-11-09 17:27] michalvavrik commented on #7028
@brianmolinaspring I can't tell without seeing the code, but OT is compatible. Without reproducer I can't tell. Anyway, I'd suggest this is really a Quarkus issue. Let's open issue in Quarkus project or try Zulip communication with Quarkus community. Thx

[2022-11-09 19:34] #7099 closed

[2022-11-09 20:33] brianmolinaspring commented on #7028
@michalvavrik  I already solved, we have to remove the set by name from the fields of the stored procedure, set it by index, and this solved the error "The ordinal union and the union with name cannot be combined!"

[2022-11-10 00:07] jkamke opened #7123 "TracingChannelInterceptor.java#L238 throws NPE when directWithAttributesChannelClass is null"
https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/main/instrumentation/spring/spring-integration-4.1/library/src/main/java/io/opentelemetry/instrumentation/spring/integration/TracingChannelInterceptor.java#L238

[2022-11-10 00:13] mpeyper opened #7124 "Spans not nesting correctly when calling auto-instrumented functions from manually instrumented Kotlin coroutines"
**Describe the bug**
There are existing issues about `@WithSpan` not working with Kotlin Coroutines (#6502, #6542, #6776, #6887), but I think this issue is slightly different than those.  Perhaps they are the same or similar issues, but I don't know enough to be sure.

Essentially, I've got an auto-instrumented span (`io.opentelemetry.netty`) calling a GRPC handler that calls a coroutine that has

[2022-11-10 04:44] #7007 closed

[2022-11-10 05:14] gurudatta-carbon commented on #1415
@trask
it works for us with a custom metric (similar to http.server.duration metric with http_route) defined part of play.api.mvc.Filter trait,
Here I have a hold on RequestHeader object instance.
but it can retrieved from Request object as well,

this is the impl that works for us,

[code]
req is of type Request.

[2022-11-10 06:02] aaron-ai opened #7129 "Introduce markdown-lint check"
Just like what we did in https://github.com/open-telemetry/opentelemetry-specification/blob/b1d14b599970ee4771e572bafdd8c3d8a4a4aaf3/.github/workflows/checks.yaml#L19

[2022-11-10 10:26] hermannpencole opened #7130 "Javaagent doesn't work with java.net.spi.InetAddressResolverProvider"
I use  opentelemetry-javaagent - version: 1.19.2 :
INFO io.opentelemetry.javaagent.tooling.VersionLogger - opentelemetry-javaagent - version: 1.19.2

I work with java 18 because i need InetAddressResolverProvider : https://docs.oracle.com/en/java/javase/18/docs/api/java.base/java/net/spi/InetAddressResolverProvider.html.
When I launch my app without opentelemetry-javaagent the InetAddressResolverP

[2022-11-10 11:09] laurit commented on #7124
Probably the issue is that `pingSync` that uses `@WithSpan` reads opentelemetry context from a `ThreadLocal` but `withSpan` that you use with coroutines stores opentelemetry context in coroutine context. To make `pingSync` appear under `pingMixedAsync` you should set the opentelemetry context that you have in coroutine context into the thread local. Maybe something like
[code]

[2022-11-10 12:33] mateuszrzeszutek commented on #7130
The agent probably loads the resolver first, using the agent classloader (not the system CL, as the Javadoc suggests): https://github.com/openjdk/jdk/blob/f2acdfdcbd2a49c1167656e73b67b38b545f9472/src/java.base/share/classes/java/net/InetAddress.java#L477-L482
We might need to fix the CL before OpenTelemetry is initialized (it most likely resolves the exporter endpoint address)

[2022-11-10 23:09] mpeyper commented on #7124
I may be naive, but I thought that the purpose of `KotlinContextElement` was to [restore the thread local context](https://github.com/open-telemetry/opentelemetry-java/blob/main/extensions/kotlin/src/main/java/io/opentelemetry/extension/kotlin/KotlinContextElement.java#L43) when the coroutine resumes.

That said, using your suggestion does work to some degree.  Changing `pingMixedAsync` to the fol

[2022-11-11 00:16] mpeyper commented on #6776
Hey @eivbsmed, did you ever get a solution for the `OkHttp` spans appearing in the right place?  I'm facing similar issues for the same reasons in #7124 and hoping someone has worked this out.

[2022-11-11 02:45] lmolkova opened #7137 "Camel 3 instrumentation"
Agent supports Camel 2 auto-instrumentation, but it does not work against Camel 3

[code]

Camel 3 supports OpenTelemtery natively, however current context propagation is not implemented - https://issues.apache.org/jira/browse/CAMEL-18661

The mechanism used in Camel 2 instrumentation via [CamelEventNotifier](https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/main/instrument

[2022-11-11 18:46] #7123 closed

[2022-11-11 21:02] github-actions[bot] opened #7139 "Build (daily) #230 failed"
See [Build (daily) #230](https://github.com/open-telemetry/opentelemetry-java-instrumentation/actions/runs/3447897232).

[2022-11-11 21:42] #7139 closed

[2022-11-12 20:27] trask opened #7149 "Configuration options include "experimental" inconsistently"
As discussed in SIG meeting, it seems ok to remove "experimental" from all instrumentation-specific configurations, and add documentation to state that all instrumentation-specific configurations are experimental.

[2022-11-13 03:55] github-actions[bot] opened #7152 "Build (daily) #232 failed"
See [Build (daily) #232](https://github.com/open-telemetry/opentelemetry-java-instrumentation/actions/runs/3453687133).

[2022-11-13 16:38] arik-dig opened #7153 "Enhancement/GRPC - add additionalServerExtractors similar as already have additionalClientExtractors"
**Is your feature request related to a problem? Please describe.**
I want to add Server side extractors only, like there's already client side extractors

**Additional context**
I can create a simple PR for it, just give me the permission to do so.

[2022-11-13 18:01] trask commented on #7153
makes sense to me, go for it 👍

[2022-11-13 18:03] trask commented on #7152
maven central flakiness, hit rerun

[2022-11-13 19:02] LeoFuso commented on #6569
To the best of my knowledge, unfortunately, Kafka Streams doesn't store the record headers in the RocksDB store — it doesn't even allow it through the API.

There are use cases where the tracing info could be preserved through a stateful operation. Still, only if the stateful operation follows a non-stateful operation that carries tracing info, e.g I'm logging, then I'm storing this record, and af

[2022-11-14 04:02] github-actions[bot] opened #7154 "Build (daily) #233 failed"
See [Build (daily) #233](https://github.com/open-telemetry/opentelemetry-java-instrumentation/actions/runs/3458356716).

[2022-11-14 07:06] arik-dig commented on #7153
@trask I would be happy to do that, however I still don't have permissions to create PRs.
can you please give me the right permission?

[2022-11-14 09:37] mateuszrzeszutek commented on #4052
Related issue: https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/7137

Seems like Camel is actually using the `GlobalOpenTelemetry` to [get a tracer]( https://github.com/apache/camel/blob/732333aebf0e855cd641292e67ca9de59d22d811/components/camel-opentelemetry/src/main/java/org/apache/camel/opentelemetry/OpenTelemetryTracer.java#L82):
[code]
 so it should be fully compatib

[2022-11-14 09:38] mateuszrzeszutek commented on #7154
Maven flakiness again, rerunning

[2022-11-14 10:40] mateuszrzeszutek commented on #7154
Second run succeeded.

[2022-11-14 10:40] #7154 closed

[2022-11-14 12:17] laurit commented on #7120
Sqs context propagation uses [message system attribute](https://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-message-metadata.html#sqs-message-system-attributes) `AWSTraceHeader`. As far as I know localstack does not support it, there is a pro version of localstack where supposedly this works. I'd firstly verify whether localstack allows passing `AWSTraceHeader`. In our t

[2022-11-15 00:36] github-actions[bot] opened #7168 "Build (daily, --no-build-cache) #233 failed"
See [Build (daily, --no-build-cache) #233](https://github.com/open-telemetry/opentelemetry-java-instrumentation/actions/runs/3465705236).

[2022-11-15 01:12] trask opened #7170 "Fix mongodb testLatestDeps (4.8.0+)"
And revert the temporary fix #7169

[2022-11-15 01:35] trask opened #7171 "Fix tomcat testLatestDeps (10.1.2+)"
And revert the temporary fix #7169

[2022-11-15 10:25] #7153 closed

[2022-11-15 10:40] xierunzi opened #7178 "How can I know if the application is using OpenTelemetry Java Agent?"
My application could use both agent and manually instrumentation in the same time. I want to know if the current application is using agent or not in runtime. Now I achieve this goal by checking the type of GlobalOpenTelemetry, something like below. But I don't think it is a proper way to do that, because it will initialize the GlobalOpenTelemetry, which could cause other problems.

[code]

[2022-11-15 12:21] maverick-devil opened #7179 "Logging agent logs separately"
Currently opentelemetry agent logs in the application logs itself. This pollutes the application logs, and also if there are any errors, they spam the application logs.
Currently agent uses slf4j simple to log these logs.
Can the logs be moved to a log file? It would be a cleaner approach. I would like to know if above approach was done due to some issues faced.
I'm thinking if we can add slf4j-ap

[2022-11-15 12:21] mateuszrzeszutek commented on #7168
Network hiccups

[2022-11-15 13:52] github-actions[bot] opened #7180 "Build (daily, --no-build-cache) #233 failed"
See [Build (daily, --no-build-cache) #233](https://github.com/open-telemetry/opentelemetry-java-instrumentation/actions/runs/3465705236).

[2022-11-15 14:08] mateuszrzeszutek commented on #7180
Duplicate of https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/7168

[2022-11-15 14:08] #7180 closed

[2022-11-15 15:08] github-actions[bot] opened #7181 "Build (daily, --no-build-cache) #233 failed"
See [Build (daily, --no-build-cache) #233](https://github.com/open-telemetry/opentelemetry-java-instrumentation/actions/runs/3465705236).

[2022-11-15 16:06] github-actions[bot] opened #7182 "Build (daily, --no-build-cache) #233 failed"
See [Build (daily, --no-build-cache) #233](https://github.com/open-telemetry/opentelemetry-java-instrumentation/actions/runs/3465705236).

[2022-11-15 17:28] andrewlouis93 commented on #7124
Same issue as https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/6502#issuecomment-1248562340

[2022-11-15 17:30] andrewlouis93 commented on #6502
@laurit Hello, wondering if you were able to give it a stab at fixing `withContext` ? If you have some thoughts about implementation, and need a hand - would be happy to lend one

[2022-11-15 18:02] akats7 commented on #6765
Can I please be assigned this issue

[2022-11-15 18:05] github-actions[bot] opened #7185 "Publish Servlet images for smoke tests #51 failed"
See [Publish Servlet images for smoke tests #51](https://github.com/open-telemetry/opentelemetry-java-instrumentation/actions/runs/3472784665).

[2022-11-15 19:09] #7171 closed

[2022-11-15 20:12] #6694 closed

[2022-11-15 20:16] svrnm commented on #6694
thanks @breedx-splk for fixing this :-)

[2022-11-15 20:21] trask commented on #7168
Resolved by #7169

[2022-11-15 20:21] #7168 closed

[2022-11-15 20:24] trask commented on #7181
this one is weird, it checked out an old commit?!?? (a4938a70e051d621b01f27b877e10bb9c36b8b94)

should be fixed now by #7169

[2022-11-15 20:24] #7181 closed

[2022-11-15 20:25] trask commented on #7182
same as #7181:

[2022-11-15 20:25] #7182 closed

[2022-11-15 20:29] trask commented on #7182
oh, i c, this daily build was originally run before #7169, but then was retriggered manually after it was merged, which is why it had the old commit (from the first run).

I'll see about fixing the automation not to create a new issue when a re-run also fails.

[2022-11-15 20:29] trask commented on #7181
oh, i c, this daily build was originally run before #7169, but then was retriggered manually after it was merged, which is why it had the old commit (from the first run).

I'll see about fixing the automation not to create a new issue when a re-run also fails.

[2022-11-15 21:21] #7170 closed

[2022-11-16 00:06] mpeyper commented on #6502
I'm also interested to hear if there has been any traction on this?

[2022-11-16 01:31] trask opened #7195 "Help wanted! Convert Groovy tests to Java"
We've made some initial progress in #7148, #6613, #6537, #6497, #6484, #6486, #6485, #5774, #5688, #5679, #5668, #5660, #5596, #5581, #5521, #5504, #5399, #3768, #3525 (among others)

But there's so much more! 😅

Pick your favorite(s) and help us convert one or two (or ten!)

- [x] apache-camel-2.20 #8813
- [x] apache-dubbo-2.7 #12008
- [x] apache-httpclient/apache-httpclient-2.0 #12102
- [x] apac

[2022-11-16 01:48] trask opened #7197 "Update docs after next release for otel.instrumentation.opentelemetry-annotations.exclude-methods"
Search and replace `otel.instrumentation.opentelemetry-annotations.exclude-methods` with `otel.instrumentation.opentelemetry-instrumentation-annotations.exclude-methods` in the opentelemetry.io repo after 1.20.0 is released (related to #7196).

[2022-11-16 02:24] aaron-ai commented on #6741
@sweetxiaodai , thanks for you attention.

This feature has been merged, and you could use it in next release, related issue: #6884 #7019

[2022-11-16 08:33] #7185 closed

[2022-11-16 08:36] mateuszrzeszutek commented on #6741
I'll close this issue, since it's implemented now. If you run into any further issues, please reopen or open a new one.

[2022-11-16 08:36] #6741 closed

[2022-11-16 08:44] github-actions[bot] opened #7199 "Publish Servlet images for smoke tests #52 failed"
See [Publish Servlet images for smoke tests #52](https://github.com/open-telemetry/opentelemetry-java-instrumentation/actions/runs/3477642719).

[2022-11-16 09:04] mateuszrzeszutek commented on #7199
This run happened before #7194 got merged: https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/1e6fb0088ab78ca3cd2a8f0308176e4fd9feca29/settings.gradle.kts#L3

[2022-11-16 09:04] #7199 closed

[2022-11-16 09:48] mateuszrzeszutek commented on #7120
It is though, see https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/main/docs/logger-mdc-instrumentation.md

[2022-11-16 09:57] syr commented on #7120
Hm, but then it is obviously not working with jboss logger used by quarkus (io.quarkus.logging.Log), or I don't see the point?
If I omit the MDC.put, traceId and spanId are always empty

[2022-11-16 10:40] mateuszrzeszutek commented on #7120
Hmm, yeah, we do not instrument JBoss logger MDC right now. That's a missing feature.

[2022-11-16 15:09] ham1 opened #7200 "Manually setting trace id and span id fails after v1.15.0"
**Describe the bug**
Before v1.15.0 (inclusive) the following code produced one trace that was linked to the expected span.

[code]

from v1.16.0
this seems to produce a trace in a new and separate trace.

**Environment**
OpenJDK 11.

[2022-11-16 15:59] trask commented on #7200
hi @ham1, just confirming, are you using the OTel Java agent?

[2022-11-16 17:05] trask opened #7201 "Enable opentelemetry-api and opentelemetry-instrumentation-annotations even when default-enabled is false"
Based on @laurit's suggestion https://cloud-native.slack.com/archives/C0150QF88FL/p1668593837751519?thread_ts=1668521229.495469&cid=C0150QF88FL

This has been a source of confusion on multiple occasions.

also related: https://opentelemetry.io/docs/instrumentation/java/automatic/agent-config/#enable-manual-instrumentation-only

[2022-11-16 21:00] trask opened #7203 "Support Spring 6"
And revert #7202

[2022-11-17 01:03] PeterF778 commented on #6778
Perhaps the stream metrics can be extracted using the new JMX Metric Insight (PR https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/6573)

[2022-11-17 01:06] ham1 commented on #7200
Hello, ah yes to confirm we are using the OTel Java agent i.e. `-javaagent:opentelemetry-javaagent.jar`

[2022-11-17 04:48] #7129 closed

[2022-11-17 05:27] github-actions[bot] opened #7211 "Publish Servlet images for smoke tests #53 failed"
See [Publish Servlet images for smoke tests #53](https://github.com/open-telemetry/opentelemetry-java-instrumentation/actions/runs/3485442909).

[2022-11-17 18:51] PeterF778 opened #7212 "Allow multiple configuration files for JMX Metric Insight"
Using version 1.20 of the agent I can specify my own rules for JMX metric collection (via `otel.jmx.config` property), but I need to clamp them all into a single file.
Sometimes it is more convenient to maintain a few files with the rules, so they can be selectively enabled using java options or environment variables.

[2022-11-17 22:44] trask commented on #7197
proactively closing (https://github.com/open-telemetry/opentelemetry.io/pull/2027)

[2022-11-17 22:44] #7197 closed

[2022-11-18 01:46] IcebergXTY opened #7220 "Exception when using Spring Cloud Stream"
**Describe the bug**
When an application uses spring cloud stream and spring aspect, there will be an error when collect metrics.

**Steps to reproduce**
1. download the [demo](https://github.com/IcebergXTY/opentelemetry-cloud-stream-demo) code
2. change the rabbitmq address/username/password in application.yaml
3. start the application with agent
-javaagent:D:\\DevelopSoftware\\OpenTelemetry-agen

[2022-11-18 02:15] trask opened #7221 "opentelemetry-instrumentation-bom 1.20.0 references opentelemetry-bom 1.19.0"
https://search.maven.org/artifact/io.opentelemetry.instrumentation/opentelemetry-instrumentation-bom/1.20.0/pom

may deserve a patch release

[2022-11-18 02:21] trask opened #7222 "opentelemetry-javaagent 1.20.0 is still using opentelemetry sdk 1.19.0"
https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/main/dependencyManagement/build.gradle.kts#L15

this definitely deserves a patch release

[2022-11-18 03:46] github-actions[bot] opened #7224 "Build (daily) #237 failed"
See [Build (daily) #237](https://github.com/open-telemetry/opentelemetry-java-instrumentation/actions/runs/3493968304).

[2022-11-18 06:41] github-actions[bot] opened #7225 "Build (daily, --no-build-cache) #237 failed"
See [Build (daily, --no-build-cache) #237](https://github.com/open-telemetry/opentelemetry-java-instrumentation/actions/runs/3494270998).

[2022-11-18 09:55] #7224 closed

[2022-11-18 09:55] #7225 closed

[2022-11-18 17:19] PeterF778 commented on #6131
This issue can be closed now.

[2022-11-18 18:13] #7221 closed

[2022-11-18 18:13] #7222 closed

[2022-11-18 19:41] #6131 closed

[2022-11-18 21:08] laurit commented on #7120
That wouldn't be a good idea. If we are going to set the active trace/span on the thread we need to remove it and restore the original trace at some point after `receiveMessage` has exited we won't know when to do this. From tracing perspective a callback that processes the message is much better. There we know exactly what message is being processed and when the processing ends. That being said y

[2022-11-18 23:41] rafael-gumiero opened #7243 "Support instrumentation of queue message services using aws-sdk-2.2"
**Is your feature request related to a problem? Please describe.**
I currently have my microservices written in Java and would like to generate a trace of interactions with the Amazon SQS API, using aws-sdk-2.2. However, no attribute related to this interaction is generated in the trace event issued (eg: span.attributes.messaging@xxxxx).

**Describe the solution you'd like**
I would like attribute

[2022-11-21 05:52] Samudraneel24 commented on #6778
Working on this issue. Adding Kafka Streams metrics via JMX using the newly added JMX Metric Insight module.

[2022-11-21 05:58] trask opened #7255 "Avoid compile latest deps tasks during non-latest-dep-test builds"
e.g. to avoid needing to backport extra things to release branches

(to find, search build report for compileLatestDepTest)

[2022-11-21 07:55] ham1 commented on #7200
This also seems to happen on v1.21.1.

Could this be related to having v1.2.0 imported into the application?

[2022-11-21 11:33] maverick-devil commented on #7179
Hello! Can I get any response please!

[2022-11-21 16:48] XiaoWeiKIN opened #7261 "how do I add dependencies to instrumentation"
hi, I noticed that all javaagent dependency on ` instrumentation-api `and `instrumentation-api-semonv`, The following
![image](https://user-images.githubusercontent.com/20626345/203111403-b6c35bbd-3ed4-42e5-a669-267d08bd79d1.png)

 now that I have written a `instrumentation-api-traffic`, how should I make all javaagent dependency on it. I added it to `otel.java-conventions.gradle.kts`, but it does

[2022-11-21 17:42] laurit commented on #7261
My guess is that they are added in https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/f85728b751d87ce58ba93a6cdce4f8e0aee86064/conventions/src/main/kotlin/io.opentelemetry.instrumentation.javaagent-testing.gradle.kts#L23-L24

[2022-11-21 18:02] laurit commented on #7179
You should be able to redirect agent logs to file with `-Dio.opentelemetry.javaagent.slf4j.simpleLogger.logFile=path-to-log-file`

[2022-11-21 19:47] PeterF778 commented on #7212
I'll work on it.

[2022-11-21 21:03] trask commented on #7200
@ham1 if you are able to post a standalone repro of the issue, I'd be happy to take a look at it. As @mateuszrzeszutek mentioned, the agent should support OTel API 1.0+, and if it doesn't then it's a bug.

[2022-11-21 21:46] trask opened #7265 "Support Spring Kafka 3"
And remove muzzle and test version limit put in place.

Note: applies to both javaagent and library instrumentation.

[2022-11-22 00:50] trask opened #7266 "Create a FAQ"
some initial thoughts:
* how to customize the SDK that is used by the Java agent?
* how to redirect agent logs to a file?
* how to redirect agent logs to the application's logging framework?
* how to filter out noisy telemetry (e.g. health checks)?
* how to make calls between between application and agent extension classes?
* how can I know from application code if the OpenTelemetry Java Agent is

[2022-11-22 00:53] trask commented on #7266
cc @chalin @svrnm @cartermp do you have any thoughts whether something like this should live in this repo or in the website repo?

[2022-11-22 01:10] trask commented on #7243
cc @rapphil

[2022-11-22 01:14] trask commented on #6778
(btw @Samudraneel24 if you want to [join the OTel org](https://github.com/open-telemetry/community/blob/main/community-membership.md#member), then we can add you as an assignee to an issue)

[2022-11-22 01:29] XiaoWeiKIN commented on #7261
@laurit thanks，it succeeded, but what I don't understand is why did he zoom in on the test file.

[2022-11-22 03:49] github-actions[bot] opened #7269 "Build (daily) #241 failed"
See [Build (daily) #241](https://github.com/open-telemetry/opentelemetry-java-instrumentation/actions/runs/3520140683).

[2022-11-22 04:15] trask commented on #7006
hey @gabrielgiussi!

this makes sense to me

the place to start would be proposing an update to the specification at https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/semantic_conventions/runtime-environment-metrics.md#jvm-metrics

cc @jack-berg @jonatan-ivanov @tuhao1020

[2022-11-22 04:24] #7269 closed

[2022-11-22 04:46] trask commented on #6797
hey @ychaydhari, sorry for the late reply, since this error is from `github.com/open-telemetry/opentelemetry-collector-contrib/exporter/prometheusexporter@v0.59.0`, I'd suggest asking in https://github.com/open-telemetry/opentelemetry-collector-contrib

[2022-11-22 07:16] jonatan-ivanov commented on #7006
Sounds like a good idea to me.
Please attach the javadoc about the thread states to the specs in your PR: https://docs.oracle.com/javase/8/docs/api/java/lang/Thread.State.html

[2022-11-22 13:21] #7261 closed

[2022-11-22 19:48] PeterF778 opened #7273 "Unexpected aggregation temporality for process.runtime.jvm.gc.duration"
Using java agent 1.20 and looking at the new histogram-based metric `process.runtime.jvm.gc.duration`.

It is reported as _cumulative_ metric, which seems to be much less useful than it would be with aggregation temporality of _delta_. In particular, the _min_ and _max_ values are almost useless, as there's no way to figure out how long ago they had been encountered. There's also no way they can b

[2022-11-22 19:58] Iapetus999 opened #7274 "Reference Queue Excessive Memory Usage"
**Describe the bug**
Seeing a ton of memory usage by the Reference Queue

**Steps to reproduce**
Generating heavy amounts of traces and spans

**What did you expect to see?**
Minimal memory usage

**What did you see instead?**
Lots of memory.

**What version are you using?**
1.20.0

**Environment**
Compiler: jdk8u292-b10
OS: alpine:3.16

**Additional context**
<img width="1655" alt="image" src="ht

[2022-11-22 20:13] github-actions[bot] opened #7276 "Build (daily) #242 failed"
See [Build (daily) #242](https://github.com/open-telemetry/opentelemetry-java-instrumentation/actions/runs/3526664003).

[2022-11-22 20:56] trask opened #7277 "Support Spring Integration 6"
and revert #7278

[2022-11-22 22:36] cartermp commented on #7266
I would say that this should probably belong in the website docs, yeah. This feels more scenario-based, which is great! But we also don't have a good precedent for scenario-based docs like this aside from the sparse Python Cookbook. I'd be more than happy to shepherd in changes to the website for this.

[2022-11-22 23:48] trask commented on #7211
passed on re-run

[2022-11-22 23:48] #7211 closed

[2022-11-23 00:18] srinusanduri opened #7283 "Ability to update baggage from SpanProcessor"
**Is your feature request related to a problem? Please describe.**
Opentelemetry Java instrumentation architecture provides the ability to plugin a custom SpanProcessor which provides the flexibility to perform our custom operations on every span start and end. However, there are some limitations on the operations we can perform from a SpanProcessor. The limitations are:

1. We can't add or update

[2022-11-23 03:26] trask commented on #7273
hey @PeterF778, can you use `OTEL_EXPORTER_OTLP_METRICS_TEMPORALITY_PREFERENCE=delta`? (https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/sdk_exporters/otlp.md#additional-configuration)

[2022-11-23 03:44] github-actions[bot] opened #7286 "Build (daily) #243 failed"
See [Build (daily) #243](https://github.com/open-telemetry/opentelemetry-java-instrumentation/actions/runs/3529005099).

[2022-11-23 03:51] srinusanduri commented on #7283
Thank you @trask.

I will create an enhancement request in opentelemetry-java repository for baggage update in SpanProcessor functionality. And I will create a separate enhancement request for ability to add attribute from SpanProcessor's `onEnd` method.

Regarding GlobalContextCustomizer application for auto-instrumented spans and manual instrumented spans, I tested this doing a simple implementa

[2022-11-23 04:01] trask commented on #7283
yeah, it would only work for manual instrumentation that uses `opentelemetry-instrumentation-api`, not for manual instrumentation that uses the underlying `opentelemetry-api` directly.

(and it may require some bridging in https://github.com/open-telemetry/opentelemetry-java-instrumentation/tree/main/instrumentation/opentelemetry-instrumentation-api/javaagent to make even that work)

[2022-11-23 04:21] cowtowncoder commented on #2517
Found this by googling: Jackson project has same issue (https://github.com/FasterXML/jackson-databind/issues/3680).
Not necessarily a big problem but annoying cosmetic problem. As far as I understand things, given timestamp (updated as part of release process) should be used for class files, but instead only appears to be used for metadata under `META-INF`.

Also wondering what happened to  @hbout

[2022-11-23 04:55] #7276 closed

[2022-11-23 04:55] #7286 closed

[2022-11-23 06:39] github-actions[bot] opened #7287 "Build (daily, --no-build-cache) #242 failed"
See [Build (daily, --no-build-cache) #242](https://github.com/open-telemetry/opentelemetry-java-instrumentation/actions/runs/3529310147).

[2022-11-23 07:31] mateuszrzeszutek commented on #7287
Fixed by https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/7278

[2022-11-23 07:31] #7287 closed

[2022-11-23 08:12] hermannpencole commented on #7130
Tks for your help mateuszrzeszutek : with your comment i found a workaround.
I extract code from my InetAddressResolverProvider into a new jar. And I declare this jar in launch option **-Xbootclasspath/a**

[2022-11-23 09:44] maverick-devil commented on #7179
Thanks for the info. But as I see, agent uses a simple logger, and does not have rolling policy. Some times, in case otel collector goes down, logs would pile up in single application file. Are there any plans to make changes to simple logger? Would like to know and contribute if there are any such plans. Thanks!

[2022-11-23 11:31] mateuszrzeszutek commented on #7178
Hey @xierunzi ,

You can check whether the [`OpenTelemetryAgent`](https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/main/javaagent-bootstrap/src/main/java/io/opentelemetry/javaagent/OpenTelemetryAgent.java) class is loaded.

[2022-11-23 12:02] mateuszrzeszutek commented on #7179
This topic has come up multiple times (#3413, #7257, #5059 and more) - I'm planning to clear up some time and prepare a POC of #5059, this should resolve your issue too.

[2022-11-23 15:23] svrnm commented on #7266
@tsloughter made a similar suggestion a few weeks back, so yes, I also see this as part of the website repo. I think we need to find a way on how to distinguish "getting started" topics and more detailed topics

[2022-11-23 16:56] trask opened #7290 "Ideas for PR comment-driven automation"
* `/spotless` - ./gradlew spotlessApply
* `/rebase`- merge main into the PR branch - this would be helpful for testLatestDeps fixes
* `/license` - ./gradlew generateLicenseReport - this would be helpful on some dependabot PRs
* `/rerun` - rerun failed tests, helpful for contributors who don't normally have this level of access

[2022-11-23 17:24] #7274 closed

[2022-11-24 06:14] github-actions[bot] opened #7301 "Build (daily, --no-build-cache) #243 failed"
See [Build (daily, --no-build-cache) #243](https://github.com/open-telemetry/opentelemetry-java-instrumentation/actions/runs/3537803920).

[2022-11-24 07:10] hboutemy commented on #2517
@trask sorry, I completely overlooked your questions

we need to share a few logical steps:
1. defining a reproducible timestamp is required by Reproducible Builds (whatever the value will be)

2. at Maven level, I chose to make the timestamp value configurable: that's the purpose of `project.build.outputTimestamp`, that inherently has multiple strategies for users to update the value if they want

[2022-11-24 08:12] tuhao1020 opened #7302 "The type of kafka_producer_connection_count keeps changing between counter and gauge"
OpenTelemetry java agent version: 1.20.2
Kafka version: 3.1.1
OpenTelemetry Collector version: 0.66.0

OpenTelemetry Collector config file:
[code]

refresh `http://localhost:9091/metrics` in browser, I find that kafka_producer_connection_count keeps changing between counter and gauge
[code]

[code]

[2022-11-24 09:14] #6568 closed

[2022-11-24 09:41] mateuszrzeszutek commented on #7301
Looks like it's failing somewhere in the new cleanup thread (#6240):
[code]
and the JVM-generated `access$000` only adds spice to that.

[2022-11-24 09:58] mateuszrzeszutek commented on #7290
Also maybe `/api-diff`? Would be quite useful in the SDK repo too

[2022-11-24 10:06] mateuszrzeszutek commented on #7302
Hey @tuhao1020 ,
What kind of metrics does the javaagent export? Excluding the collector?
Let's make sure there's no interference on the collector side first.

[2022-11-24 10:43] mateuszrzeszutek opened #7306 "Support Spring Batch 5"
revert #7305

Spring Framework 6 introduced lots of backwards incompatible changes; this also affects Spring Batch versions 5 and above. The aim of this issue is to fix them and add support for the newer versions of Spring Batch.

[2022-11-24 11:05] tuhao1020 commented on #7302
@mateuszrzeszutek  The metrics exported by the Java agent always keep the `gauge` type, you mean the collector modified the type? Theoretically, collector does not modify this type, right?

[2022-11-24 13:23] mateuszrzeszutek commented on #7302
Honestly, I've no idea if the collector modifies it or not - which is why we should first try to pinpoint which of these two (agent, collector) causes this to happen.

[2022-11-25 03:05] tuhao1020 commented on #7302
@mateuszrzeszutek #7271  Does it have anything to do with this? I'm using kafka 3.1.1

[2022-11-25 03:46] github-actions[bot] opened #7308 "Build (daily) #245 failed"
See [Build (daily) #245](https://github.com/open-telemetry/opentelemetry-java-instrumentation/actions/runs/3545124089).

[2022-11-25 05:42] #7301 closed

[2022-11-25 06:53] github-actions[bot] opened #7309 "Build (daily, --no-build-cache) #244 failed"
See [Build (daily, --no-build-cache) #244](https://github.com/open-telemetry/opentelemetry-java-instrumentation/actions/runs/3545409081).

[2022-11-25 08:29] mateuszrzeszutek opened #7311 "Test Grails with Spring Boot 3 (once a version supporting Spring Boot 3 releases)"
Revert https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/7310

[2022-11-25 08:36] mateuszrzeszutek opened #7312 "Update the opentelemetry-spring-boot-autoconfigure to Spring Boot 3"
Now that Spring Boot 3 is out, we should probably update our own starter to the latest version.

[2022-11-25 09:59] mateuszrzeszutek commented on #7203
Also revert parts of #7310

[2022-11-25 10:23] mateuszrzeszutek commented on #7302
No, that PR is about Spring Kafka, it has a different versioning scheme from Kafka.

[2022-11-25 12:24] laurit commented on #7220
You could work around this by calling `pointcut.setBeanFactory(...);` in https://github.com/IcebergXTY/opentelemetry-cloud-stream-demo/blob/b52d74f2e317be1c5a97947a1bd187345c2fe68c/src/main/java/com/example/demo/aspect/DynamicPointcutAdvisor.java#L25 You can get bean factory from `applicationContext.getAutowireCapableBeanFactory()`
I guess we need to remember context class loader when `DoubleMeasu

[2022-11-25 14:14] #7309 closed

[2022-11-25 14:14] #7308 closed

[2022-11-26 05:07] github-actions[bot] opened #7319 "Overhead benchmark (daily) #242 failed"
See [Overhead benchmark (daily) #242](https://github.com/open-telemetry/opentelemetry-java-instrumentation/actions/runs/3552313020).

[2022-11-27 01:37] trask commented on #7319
plugins.gradle.org flake, passed on re-run

[2022-11-27 01:37] #7319 closed

[2022-11-27 15:34] laurit commented on #7124
I think the problem is in kotlin coroutine instrumentation, disabling it with `-Dotel.instrumentation.kotlinx-coroutines.enabled=false` seems to give better results. When it is disabled then calling `makeCurrent` doesn't seem to be needed, the thread local context gets updated when opentelemetry context is updated in the coroutine context.

[2022-11-27 22:13] mpeyper commented on #7124
Just to clarify @laurit, are you saying that it should work with kotlin coroutine instrumentation enabled but it's not so there is a bug to fix there, or that we should not be using the kotlin coroutine instrumentation when trying to trace around coroutines? (I'm assuming the former, but I'm fairly new to this world or OpenTelemetry and struggling to read between the lines)

[2022-11-28 05:44] laurit commented on #7124
@mpeyper I believe that there is a bug.

[2022-11-28 12:12] laurit commented on #7124
When you disable coroutine instrumentation it is possible that you'll need to use something like `withContext(Context.current().asContextElement()) {...}` to get spans in coroutine under the parent span that is outside of the coroutine. Let me know whether you get better traces with the instrumentation disabled.

[2022-11-28 17:09] breedx-splk commented on #2517
Thanks @trask and @hboutemy and others. I really hadn't given much thought to the impact on reproducibility when opening this issue. It's a bit of a can of worms I guess....

If I could wave a magic wand, here's what I think would be awesome:

* All items shaded from dependencies would preserve their original timestamps. For archives, it's assumed that each file inside the archive has a timestamp

[2022-11-28 22:45] #7212 closed

[2022-11-28 22:46] #7028 closed

[2022-11-28 23:51] mpeyper commented on #7124
Yes, the traces are as I expect them with the instrumentation disabled:

* With instrumentation
  <img width="1727" alt="image" src="https://user-images.githubusercontent.com/23029903/204404393-c71e45e0-661f-4134-8dc8-20b7e26b310e.png">
* Without instrumentation
  <img width="1727" alt="image" src="https://user-images.githubusercontent.com/23029903/204404475-99a673fc-20d6-402d-afe9-076b49532381.pn

[2022-11-29 10:07] #7265 closed

[2022-11-29 13:00] rjacobs91 commented on #1391
@trask if I were to use the appender approach how would I hook this in with an Otel Java agent?

[2022-11-29 20:06] trask commented on #1391
I'd probably recommend adding a `LogRecordProcessor` and adding the baggage to the `LogRecord` in `emit()`. You can add the `LogRecordProcessor` to the Java agent using the Java agent extension mechanism: https://github.com/open-telemetry/opentelemetry-java-instrumentation/tree/main/examples/extension#extensions

[2022-11-29 20:08] trask commented on #7124
@mpeyper can you create a minimal repro that we can use to troubleshoot the issue?

[2022-11-29 23:41] trask commented on #7273
I added this to Thu SIG agenda to discuss

[2022-11-30 01:47] JianAnzx commented on #2643
Hey guys. Tested in Otel agent version 1.20.2
 `-Dotel.java.disabled.resource.providers=io.opentelemetry.sdk.extension.resources.ProcessResourceProvider` doesn't work for me. Then if I replace it by
`-Dotel.java.disabled.resource.providers=io.opentelemetry.instrumentation.resources.ProcessResourceProvider`
it starts to remove this process.command_line. It seems caused by this [change](https://gith

[2022-11-30 10:18] mateuszrzeszutek commented on #7220
I suppose we could fix it that way, but...

I think this issue might manifest even if OTel metrics API is used, even without spring - just loading an application class from within the callback function will probably blow up.
The safest route we might take is remembering the context classloader used when creating each callback. We could probably do that just in the agent (micrometer shim & otel-api

[2022-11-30 16:45] oleborne opened #7344 "ContextStorage.addWrapper and javaagent incompatibility"
When using the JavaAgent, `ContextStorageWrappersInstrumentation` adds a wrapper as the very last one. The purpose of this wrapper is the following:

By being the last wrapper and fully replacing the `ContextStorage`, this defeats the purpose of the wrapper: not replace the `ContextStorage` but "enrich" it. All wrappers that were previously installed on the `ContextStorage` are ignored.

Notably,

[2022-11-30 19:03] laurit commented on #7124
When coroutine instrumentation is disabled you may need to manually propagate the parent span that is outside of the coroutine with `withContext`. Hopefully https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/7341 fixes this so you won't need to disable the instrumentation.

[2022-11-30 19:17] laurit commented on #6502
@andrewlouis93 sorry for the late reply. If I remember correctly after further testing I realized that there seemed to be a problem with `withContext` only when `@WithSpan` was used. So I gave up on this as `@WithSpan` in coroutines does not work correctly.
If you have use cases that don't use `@WithSpan` that don't work correctly test them with https://github.com/open-telemetry/opentelemetry-java

[2022-11-30 20:19] trask opened #7345 "Add "code" attributes to all controller spans"
Add `CodeAttributesExtractor` to all controller instrumenters, in order to extract `code.namespace` and `code.function` semantic attributes.

(and update AbstractHttpServerTest to verify this of all controller spans)

[2022-11-30 20:22] fmhwong opened #7346 "Add OpenLiberty as a supported application server"
**Is your feature request related to a problem? Please describe.**
Add OpenLiberty as a supported application server

**Describe the solution you'd like**
Is it possible to add [OpenLiberty](https://openliberty.io/) to the list of application servers in the [Supported libraries, frameworks, application servers, and JVMs page](https://github.com/open-telemetry/opentelemetry-java-instrumentation/blo

[2022-11-30 20:31] trask commented on #7346
hi @fmhwong!

I think:

is meant to be Open Liberty, as we are running smoke tests using the `open-liberty` docker image:

https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/bbcd3d1cb4352a1d110edc455f018fc1bb6eaefd/smoke-tests/images/servlet/src/liberty.dockerfile#L4

[2022-11-30 20:44] trask commented on #7344
hi @oleborne! can you post your reproducer to github? that make it a lot easier for us to take a quick look and make sure we're investigating the right thing

[2022-11-30 20:56] fmhwong commented on #7346
Would you mind to change the name from "WebSphere Liberty Profile" to "OpenLiberty" and link to https://openliberty.io/?  I can submit a PR if you're okay with this.

[2022-11-30 21:06] trask commented on #7346
👍