[2019-11-15 05:25] trask opened #3 "Merge dd-master into master"
Preserving these files that are already in `master`:

* `README.md`
* `LICENSE`
* `CODEOWNERS`

And overwriting this file:

* `.gitignore`

[2019-11-15 05:33] trask opened #4 "Set up CircleCI for this repo"
See https://github.com/open-telemetry/opentelemetry-auto-instr-java/tree/dd-master/.circleci

[2019-11-15 05:51] trask opened #5 "Remove agent-jmxfetch module"
See [agent-jmxfetch](https://github.com/open-telemetry/opentelemetry-auto-instr-java/tree/dd-master/dd-java-agent/agent-jmxfetch).

JMX metrics likely make sense for this project, but this doesn't seem like the best starting point.

[2019-11-15 05:57] trask opened #6 "Remove OpenTracing interoperability"
The current design for OpenTracing interoperability revolves around OpenTracing being in the bootstrap class loader, which leads to version conflicts.

I think it will be easier to remove everything that supports this interoperability, and start fresh with a new design for OpenTelemetry interoperability that will isolate us from version conflicts.

[2019-11-15 06:21] trask opened #7 "Rename package to io.opentelemetry.auto"
Some things to rename:

* Change package names to `io.opentelemetry.auto.*`
* Change maven artifact `groupId` to `io.opentelemetry.auto`
* Remove or change `dd-` prefix on module names
* Remove or change `DD` prefix on class names

[2019-11-15 06:42] trask opened #8 "Support plugging in your own OpenTelemetry exporter"
[as opposed to using an APM vendor's agent that wraps this project and embeds the vendor's exporter]

This is a bit tricky because the OpenTelemetry API and SDK that the agent use are shaded, so the exporter must be shaded as well to match.

There are (at least) two options for shading the user exporter:

* Provide a tool that end users can run to shade the OpenTelemetry exporter that they want to

[2019-11-15 06:54] trask opened #9 "Improve startup overhead"
Current startup overhead on Azure App Service P1V2 instances (single core) is ~40 seconds.

Initial goal is to get this under 10 seconds in this environment.

And then we can open new issues for subsequent goals. We (Azure) eventually need to get this way under 10 seconds.

[2019-11-15 07:08] trask opened #10 "Interoperate with whitebox OpenTelemetry instrumentation"
This is one of the fundamental requirements for this project.

From https://github.com/open-telemetry/oteps/blob/master/text/0001-telemetry-without-manual-instrumentation.md:

I will start and share a google doc in a few days to gather feedback on potential design for how this could work. Once we work out the design and get agreement, we'll move the design doc back into this repo (this issue? wiki

[2019-11-15 07:15] trask opened #11 "Option to capture logs as events on the current span"
Option to capture logs as events on the current span, instead of (or in addition to?) the current behavior of adding the trace and span ids to the logging output via MDC integration.

- [x] log4j 1 (#181)
- [x] log4j 2 (#182)
- [x] logback (#183)
- [x] java.util.logging (#175)

[2019-11-15 07:56] trask opened #12 "Change instrumentation to use OpenTelemetry API directly"
The reason behind this is to be able to use the same instrumentation in the future for both auto-instrumentation and whitebox instrumentation where possible.

Since instrumentation can be injected into any class loader (including the bootstrap class loader), the instrumentation's use of the OpenTelemetry API will need to be shaded, and the agent will need to provide a shaded version of the OpenTel

[2019-11-15 20:53] tedsuo commented on #9
@trask curious, what application/dependencies are you loading when you test this? Would be good to make it a repeatable test.

[2019-11-15 21:54] trask commented on #9
Oh yes, I should have included that! I'm using [Spring PetClinic](https://github.com/spring-projects/spring-petclinic) for testing, and the benchmarking harness/scripts for this test are at https://github.com/trask/agent-benchmarking/tree/master/coldstart.

[2019-11-16 00:20] trask opened #15 "Remove existing sampling functionality"
Sampling should be delegated to the embedded (shaded or class loader isolated) OpenTelemetry SDK.

(The embedded SDK will be configurable by users via some TBD mechanism)

[2019-11-16 02:36] tedsuo commented on #9
oh awesome, thanks!

[2019-11-16 19:27] trask opened #16 "Remove functionality that should be delegated to the OpenTelemetry SDK / Exporters"
Remove functionality that should be delegated to the OpenTelemetry SDK / Exporters:

- [x] [Sampling](https://github.com/open-telemetry/opentelemetry-auto-instr-java/tree/b93e14291db75b2cfac2ad4a1e434285a5bd6d09/dd-trace-ot/src/main/java/datadog/trace/common/sampling) (#17)
- [x] [Trace context propagation formats](https://github.com/open-telemetry/opentelemetry-auto-instr-java/tree/b93e14291db75b

[2019-11-18 03:56] trask commented on #15
Closing in favor of #16

[2019-11-18 03:56] #15 closed

[2019-11-18 04:01] trask commented on #3
`master` branch was reset to `dd-master` by @tylerbenson.

I think we still need to bring back the original `README.md` and `LICENSE` from before the reset.

[2019-11-19 01:08] trask commented on #16
For the [Tag decorators](https://github.com/open-telemetry/opentelemetry-auto-instr-java/tree/b93e14291db75b2cfac2ad4a1e434285a5bd6d09/dd-trace-ot/src/main/java/datadog/opentracing/decorators), it's not clear to me whether this functionality should eventually be absorbed by the individual instrumentations, or by the SDK / Exporter, or a mix.

So thinking of keeping the tag decorators mostly as is

[2019-11-19 01:24] #5 closed

[2019-11-20 07:59] trask opened #22 "Road map to v0.1.0"
1. Remove functionality that should be delegated to the OpenTelemetry SDK / Exporters (#16) ✔️
   * The goal of doing this first is that it reduces the surface area that we have to work across during subsequent steps.
2. Remove OpenTracing interoperability (#6) ✔️
   * The goal of doing this next is to strip away the abstraction layer that it brings, and to further reduce the surface area, leaving

[2019-11-20 18:34] trask commented on #3
This is done

[2019-11-20 18:34] #3 closed

[2019-11-21 05:44] trask commented on #10
Please check out the [initial design document](https://docs.google.com/document/d/1Z5UWGk3d4vLIxx9TBfrU8g_L-J6sWIp0KheO03-GFGo/edit?usp=sharing), and provide feedback!

[2019-12-03 03:36] trask commented on #16
I've looked at the decorators in more detail, and ready to go ahead and remove them, absorbing a bit of their functionality into the individual instrumentation where it seems appropriate.

[2019-12-05 06:32] trask commented on #4
This is done

[2019-12-05 06:32] #4 closed

[2019-12-12 04:26] trask commented on #22
Inserted "Change instrumentation to use OpenTelemetry API directly" (#12) into the list above (reason documented in the list).

[2019-12-17 19:40] trask opened #43 "Change instrumentation to use OpenTelemetry API (indirectly)"
Change the Agent API to wrap OpenTelemetry API/SDK instead of wrapping the existing internal model.

This should not require any changes to existing instrumentation, but will require changes to instrumentation tests which will need to validate now against (in-memory) OpenTelemetry Exporter.

This is an intermediate step. The end goal is for instrumentation to use OpenTelemetry API directly (#12).

[2019-12-17 19:53] trask commented on #22
Changed "Change instrumentation to use OpenTelemetry API directly" (#12) to Change instrumentation to use OpenTelemetry API _indirectly_ (#43), which will give us OpenTelemetry exporter support (and `v0.1.0` release) sooner. We will come back to #43 after `v0.1.0`.

[2019-12-17 22:12] trask commented on #16
Closing, I think this issue is completed now! A few more things will fall out as part of #6 (Remove OpenTracing interoperability) and #43 (Change instrumentation to use OpenTelemetry API indirectly).

[2019-12-17 22:12] #16 closed

[2019-12-18 18:17] #6 closed

[2019-12-20 07:11] trask opened #45 "Share code and tests with contrib instrumentation"
Some things we could probably share with contrib instrumentation:

* The decorator hierarchy
* HttpTextFormat Getters and Setters
* OkHttp3 interceptor
* MongoDB listener
* tests!

[2019-12-22 17:02] prydin commented on #22
Do you need help?

[2020-01-06 21:07] trask opened #48 "Remove continuation support"
Continuations automatically keep the local root span open until all nested spans are finished, e.g. the duration of the trace below would be ~1 second, instead of the ~1 millisecond that it takes to return from the method.

[code]

It's a nice feature, but also brings significant complexity, so I think it's worth removing.

Also, there's no equivalent OpenTelemetry API feature, so this would requi

[2020-01-08 02:45] #48 closed

[2020-01-08 05:08] trask commented on #22
Hi @prydin, definitely! Any chance you can join the weekly [Thursday 9am Pacific meeting](https://calendar.google.com/calendar/embed?src=google.com_b79e3e90j7bbsa2n2p5an5lf60%40group.calendar.google.com) to chat?

[2020-01-08 14:15] prydin commented on #22
Yeah, I'll get on that call. Looking forward to it!

[2020-01-08 23:20] trask opened #50 "Bring back instrumentation that was commented out during the transition to OpenTelemetry API"
Some instrumentation was commented out during the transition to OpenTelemetry API (#51 and #12). We need to figure out a way to bring these back.

- [x] ~log4j1~ (work moved to #133)
- [x] ~log4j2~ (work moved to #133)
- [x] ~slf4j-mdc~ (work moved to #133)
- [x] kafka-streams-0.11 (resolved in #109)
- [x] aws-java-sdk-2.2 (resolved in #109)
- [x] rabbitmq (resolved in #109)
- [x] spring-webflux-5

[2020-01-14 00:51] #43 closed

[2020-01-14 21:57] #7 closed

[2020-01-14 22:04] prydin opened #56 "datastax-cassandra unittests fail"
When running the unittests, some of the cassandra tests fail with the following error message.

[code]

[2020-01-14 23:56] prydin opened #58 "dropwizard test fails under some circumstances"
The dropwizard tests fail to randomize the admin port and there's some ipv6/ipv4 confusion when calling the test endpoints.

[2020-01-15 02:23] prydin opened #59 "netty 4.0 tests fail when connection happens over ipv6"
The netty test for connection refused is matching the error message including the server address. Since this is a hardcoded IPV4 address (127.0.0.1), it will not match when the OS decided that the connection should be set up over IPV6.

[2020-01-16 04:17] #58 closed

[2020-01-16 04:17] #59 closed

[2020-01-16 04:55] prydin opened #63 "Twilio instrumentation package needs refactoring"
Remove dependencies to AgentSpan et al.

Maintainers: Please assign this to me!

[2020-01-16 19:50] prydin opened #65 "Span::setAttribute() doesn't accept null values"
The ```Span::setAttribute()``` method is commonly used in interceptors to copy attributes from an invocation to span attributes. This method will, by design, throw a ```NullPointerException``` if a null value is supplied. Given that many frameworks may treat certain attributes as optional, there's a chance that attributes with null values are present on the invocation objects.

The current impleme

[2020-01-16 20:29] trask commented on #65
Can you open this in https://github.com/open-telemetry/opentelemetry-java? That is where this change would need to happen. (btw, I totally support this!)

[2020-01-16 20:37] prydin opened #66 "The spymemcached instrumentation needs refactoring"
Should use the new API.

Please assign to @prydin

[2020-01-16 23:01] prydin opened #68 "spring-* instrumentation packages need refactoring"
spring-data, spring-webflux and spring-webmvc need refactoring to use the new APIs.

[2020-01-16 23:26] prydin commented on #65
OK. Will do. BTW, I'm seeing this issue in multiple packages. I think the original Datadog code was written without null-checking in mind. Leaving this check in place is a ticking bomb.

[2020-01-16 23:29] prydin commented on #65
Linked issue: https://github.com/open-telemetry/opentelemetry-java/issues/765

[2020-01-16 23:39] trask commented on #65
Yeah, the existing code does null-checking here https://github.com/open-telemetry/opentelemetry-auto-instr-java/blob/686f72e02f70657ba2b46e57276bfa60ce9a033f/java-agent/agent-tooling/src/main/java/io/opentelemetry/auto/tooling/AgentTracerImpl.java#L149, this problem is coming up when moving the instrumentation to using OpenTelemetry API directly.

[2020-01-17 01:55] prydin opened #69 "request.getAttribute(SPAN_ATTRIBUTE) returns an AgentSpan"
Many of the instrumenters are obtaining the parent(?) span by calling ```request.getAttribute(SPAN_ATTRIBUTE)``` on the request passed through the context to ```OnMethodEnter```.  Here is an example:

https://github.com/open-telemetry/opentelemetry-auto-instr-java/blob/1d474353a5ea310966d44e85ece4bbb75282ae70/java-agent/instrumentation/spring-webmvc-3.1/src/main/java/io/opentelemetry/auto/instrume

[2020-01-17 02:02] prydin commented on #69
On closer inspection, it appears that this is handled in the ```servlet``` instrumentation package. It looks like this package has to be refactored prior to refactoring any of the application server packages. I guess I just got more work to do. :)

[2020-01-17 02:12] prydin commented on #69
What exactly is this attribute supposed to contain? The current span? Couldn't we obtain that through ```tracer.getCurrentSpan()```? What's the relationship between the two?

[2020-01-17 03:05] trask commented on #69
I think convert the attribute to contain `Span`.

`getCurrentSpan()` is the `Span` that is in scope at that time (tracked under the covers via `ThreadLocal`).

[2020-01-17 13:46] prydin opened #70 "The servlet instrumentation package needs refactoring"
The servlet instrumenter needs to comply to the new APIs, otherwise Servlet container instrumenters that rely on the ```SPAN_ATTR``` attribute won't work.

This will resolve #69 .

[2020-01-18 02:26] prydin opened #71 "The grpc instrumenter package needs refactoring"
Should use then Opentelemetry APIs.

[2020-01-18 20:09] #71 closed

[2020-01-21 04:28] prydin opened #73 "Rebasing from latest master broke tests"
I recently rebased one of my branches from the latest master. Looks like some new code from Datadog was pulled in. I haven't really looked at the details, but it appears that setting an ```IntegerRangeSet``` to null used to be a no-op. Pulling in the latest code from master, it appears that it tries to interpret null as a list of integers, which fails with the stack trace below. I think the proble

[2020-01-21 12:40] prydin commented on #73
Looks like the exception above was a read herring. Closing and reopening with the correct information.

[2020-01-21 12:40] #73 closed

[2020-01-21 18:23] prydin commented on #69
This has been fixed in opentelemetry-java. Closing.

[2020-01-21 18:23] #69 closed

[2020-01-21 18:38] trask opened #76 "Things to clean up after updating to opentelemetry-java 0.3.0"
Things to clean up after updating to the next API/SDK release:

- [x] remove all the null conditionals surrounding calls to `setAttribute` (done in #257)
- [x] set attributes directly on the span builder where possible (instead of on the created span) (moved to #303)
- [x] remove try catch blocks around `HttpTraceContext::extract` (probably need to do this and handle the API change at the same tim

[2020-01-21 19:29] prydin commented on #66
Closed via #67

[2020-01-21 19:30] prydin commented on #56
Fixed via #57

[2020-01-21 19:31] #56 closed

[2020-01-21 19:31] #66 closed

[2020-01-22 16:08] prydin opened #78 "Hibernate instrumentation needs refactoring"
Hibernate instrumentation should use the Opentelemetry APIs directly.

[2020-01-22 21:30] #68 closed

[2020-01-22 21:30] #70 closed

[2020-01-23 00:31] prydin opened #79 "I can't run tests in the IntelliJ debugger after rebase from #77"
I get this error message when trying to use the IntelliJ debugger to run test cases:

[code]

This seems to be consistent across all test cases.

[2020-01-23 01:28] trask commented on #79
This is still working for me. Are you building/running the tests inside of Intellij via Gradle? e.g.

![image](https://user-images.githubusercontent.com/218610/72949135-40a35700-3d3c-11ea-9eb7-c25ba310ebfb.png)

[2020-01-23 01:28] prydin opened #80 "Replacing legacy startSpan and activateSpan in tests doesn't always work"
In some test cases, root spans are manually generated by calling ```activateSpan(startSpan("test"), true)```. We have been trying to replace that with the following sequence of statements:

[code]

This yields the following error:

[code]

[2020-01-23 01:30] prydin commented on #79
That was the problem! Thank you. I wonder why it worked before...

[2020-01-23 01:30] #79 closed

[2020-01-23 01:31] trask commented on #80
The error message is confusing, but it looks like `span` is a Span.Builder, try
[code]

[2020-01-23 01:35] prydin commented on #80
Sorry. That was a typo in the bug report. The actual code does what you're suggesting. I think it's expecting the legacy AgentSpan and AgentScope types somewhere internally. I'm leaving the legacy code in the tests for now since it works. I'll take a stab at this once I've finished the refactoring of the instrumenters. I think there's something fishy in the lower levels of the test harness code.

[2020-01-23 01:59] trask commented on #80
Oh! I know this problem! (it's happened to me but i've already forgotten about it 😭)

You can't name the variable `span` because that conflicts with the `span()` function that is called below.

[2020-01-23 02:00] prydin commented on #80
I think you mentioned that the other day and I too forgot about it! :)

[2020-01-23 02:11] #80 closed

[2020-01-23 05:01] #63 closed

[2020-01-23 05:01] #78 closed

[2020-01-23 18:09] prydin opened #83 "http-url-connection instrumentation needs refactoring"
It should use direct access to Opentelemetry APIs.

[2020-01-23 18:10] prydin opened #84 "java-concurrent instrumentation needs refactoring"
It should use direct access to Opentelemetry APIs.

[2020-01-23 18:10] prydin opened #85 "jax-rs-annotation-* instrumentation needs refactoring"
It should use direct access to Opentelemetry APIs.

[2020-01-23 21:08] #83 closed

[2020-01-23 21:08] #84 closed

[2020-01-23 21:08] #85 closed

[2020-01-23 21:26] trask commented on #65
Closing (tracking subsequent cleanup in #76)

[2020-01-23 21:26] #65 closed

[2020-01-24 02:38] trask opened #89 "Add span kind verification to all tests"
Because of test hierarchy, probably easiest to do this once #12 is completed.

[2020-01-24 12:09] safris opened #91 "okhttp-3 instrumentation needs refactoring"
It should use direct access to OpenTelemetry APIs.

[2020-01-24 23:25] prydin opened #92 "jdbc instrumentation needs refactoring"
Should use direct access to Opentelemetry APIs.

[2020-01-24 23:26] prydin opened #93 "jax-rs-client-* needs refactoring"
Should use direct access to Opentelementry APIs.

[2020-01-24 23:45] #92 closed

[2020-01-24 23:45] #93 closed

[2020-01-27 15:15] prydin opened #95 "jedis-* needs refactoring"
Should use Opentelemetry APIs directly.

[2020-01-27 15:27] prydin opened #96 "jetty-8 instrumentation needs refactoring"
Should use Opentelemetry APIs directly.

[2020-01-29 04:18] trask opened #97 "Convert netty-* instrumentation to use OpenTelemetry API directly"

[2020-01-29 04:23] trask opened #98 "Convert play-* instrumentation to use OpenTelemetry API directly"

[2020-01-29 04:51] trask opened #99 "Convert rabbitmq instrumentation to use OpenTelemetry API directly"

[2020-01-29 05:33] trask opened #100 "Convert ratpack instrumentation to use OpenTelemetry API directly"

[2020-01-29 05:45] trask opened #101 "Convert rmi instrumentation to use OpenTelemetry API directly"

[2020-01-29 06:25] trask opened #103 "Convert jms instrumentation to use OpenTelemetry API directly"

[2020-01-29 14:42] prydin opened #104 "BaseDecorator needs documentation and more convenient methods"
The BaseDecorator needs some rework. In particular, I would like to address this:

- [ ] Better handling of the default tracer and removing the need to declare the tracer separately in each subclass.
- [ ] Add convenience methods for starting spans, creating scopes, injecting/extracting attributes etc.
- [ ] Add javadoc to all public methods.
- [ ] Remove redundant/unused methods.

Some details. P

[2020-01-29 14:48] prydin opened #105 "Change naming to standard get/set pattern"
Throughout the code, there are some methods that get things but that don't have the getX naming pattern. I believe that pattern is used in the opentelemetry-java project, so we should follow the same standard. Examples are ```instrumentationNames()```, ```component()``` and ```spanType()```.

If we have already made a decision to not use the getX-naming, please disregard and close this issue!

[2020-01-29 19:19] #97 closed

[2020-01-29 19:19] trask commented on #103
Closed by #102

[2020-01-29 19:19] #103 closed

[2020-01-29 19:20] trask commented on #101
Closed by #102

[2020-01-29 19:20] #101 closed

[2020-01-29 19:20] trask commented on #100
Closed by #102

[2020-01-29 19:20] #100 closed

[2020-01-29 19:20] trask commented on #99
Closed by #102

[2020-01-29 19:20] #99 closed

[2020-01-29 19:20] trask commented on #98
Closed by #102

[2020-01-29 19:20] #98 closed

[2020-01-29 19:24] trask commented on #105
👍 I agree we should follow same convention as opentelemetry-java

[2020-01-29 20:12] trask opened #106 "Convert grizzly, mongo, sparkjava, spring-data instrumentation to use OpenTelemetry API directly"

[2020-01-29 20:24] trask opened #107 "Convert jetty, jsp, kafka, lettuce instrumentation to use OpenTelemetry API directly"

[2020-01-30 19:31] #95 closed

[2020-01-30 19:51] trask commented on #96
Closing, sorry, I missed this and included jetty in #107 / #108

[2020-01-30 19:51] #96 closed

[2020-01-30 21:51] trask opened #114 "Rename SpanScopePair to SpanWithScope"
Raised during review of #108

Also, add `closeScope()` method and remove `getScope()` method.

[2020-01-30 22:37] #107 closed

[2020-01-30 22:43] trask commented on #106
Closed by #108

[2020-01-30 22:43] #106 closed

[2020-02-03 10:32] safris opened #179 "`WrapperProxy` as general solution to the "wrapper problem""
The "wrapper problem" can be summarized as the following use-case:

1. A particular facet of an API is desired to be instrumented, and the most straightforward way to instrument the facet is to "wrap" an instance of an interface in the API with a subclass of that interface. Suppose the API has interface `Foo`. The instrumentation code declares a `TracedFoo`, exposing a constructor that accepts the

[2020-02-03 14:24] prydin commented on #8
What if we took the more painless route of using the native OpenTelemetry Collector protocol and have people use a collector "sidecar" to do the translation to the target protocol?

[2020-02-03 14:28] safris opened #117 ""Downloading and building" guide leads to error"
The [Downloading and building](https://github.com/open-telemetry/opentelemetry-auto-instr-java#downloading-and-building) guide leads to the following error for JDK8 and JDK11:

[code]

[2020-02-03 14:30] prydin commented on #117
This is related to the gradle script not being able to determine which Java executable you're using. Unfortunately there's a bug in the error handling. Please change ```{$stream.toString}``` to ```{$stream.toString()}``` on line 243 to see the actual error message and post it here!

[2020-02-03 14:36] safris commented on #117
Should `{$stream.toString()}` on line 243 be corrected in `java.gradle`, or is there another reason it's still around?

After having changed that line, the error is now:

[code]

[2020-02-03 15:16] prydin commented on #117
The error handling seems completely messed up there. I'll have a look. In the meantime, can you please check the path to your Java executable? It looks very much like it's not able to locate the Java binary.

[2020-02-03 15:17] prydin commented on #117
Also, what's your output from ```java -version```?

[2020-02-03 15:18] safris commented on #117
[code]

[2020-02-03 15:39] prydin commented on #117
What's the output of the bulid if you replace the failing "getJavaVersion" method with this?

[code]

[2020-02-03 16:18] safris commented on #117
This is the output:
[code]

Do you believe the culprit is the `Picked up JAVA_TOOL_OPTIONS: -Djava.awt.headless=true`? I have this option in my environment set:

[code]

[2020-02-03 16:19] prydin commented on #117
That is indeed the problem! It only checks the first line of the output. I'll make it a bit more lenient.

[2020-02-03 20:08] prydin opened #120 "Please add me as member of opentelemetry-auto-instr-java"
Dear friends!

I hereby request to be added as a member of this project. My sponsors are @trask and @tylerbenson

Thank you!

[2020-02-03 20:09] trask commented on #120
+1

[2020-02-03 20:09] trask commented on #120
Oh, wrong repo :-), need to open this in community repo

[2020-02-03 20:09] prydin commented on #120
Oh bummer! :)

[2020-02-03 20:09] #120 closed

[2020-02-04 15:35] prydin commented on #117
@safris Have you tried this after PR #118? This should have fixed the problem.

[2020-02-04 23:44] jkwatson commented on #8
I think that allowing people to use OTel without a collector and sending to their vendor of choice is still very important. I'd hate to have to stand up a collector to do local development, for example.

[2020-02-05 02:20] #114 closed

[2020-02-05 20:02] trask commented on #22
Changed "Support using this project directly and supplying your own OpenTelemetry exporter (#8)" to "Support the Jaeger exporter (#115)". We will revisit #8 in v0.2.0.

[2020-02-05 21:20] #91 closed

[2020-02-05 21:43] trask opened #130 "Apply OpenTelemetry semantic conventions"
Modify existing instrumentation to conform to OpenTelemetry semantic conventions:

- [x] [HTTP](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/semantic_conventions/http.md) (#136)
- [ ] [Database](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/semantic_conventions/database.md)
  - [x] Need better span nam

[2020-02-05 22:03] trask opened #133 "Bring back logger MDC support"
The logger instrumentation providing MDC support was commented out (see [settings.gradle](https://github.com/open-telemetry/opentelemetry-auto-instr-java/blob/master/settings.gradle)) when we migrated to OpenTelemetry API since there is currently no scope listener concept in the API.

- [ ] log4j1
- [ ] log4j2
- [ ] slf4j-mdc

[2020-02-05 22:07] trask opened #134 "Road map to v0.2.0"
* Apply OpenTelemetry semantic conventions (#130) ✔️
* Logger instrumentation
  * Option to capture logs as events on the current span (#11) ✔️
* Interoperate with whitebox OpenTelemetry instrumentation (#10) ✔️
* Capture metrics reported via OpenTelemetry API (#235) ✔️
* Support plugging in your own OpenTelemetry exporter (#8) ✔️
* Things to clean up after updating to opentelemetry-java 0.3.0 (#7

[2020-02-05 22:08] trask commented on #12
This is all done now!

[2020-02-05 22:08] #12 closed

[2020-02-05 23:12] #89 closed

[2020-02-05 23:30] trask opened #135 "Publish artifacts to maven central"
E.g.

io.opentelemetry.auto
* auto-tooling
* auto-bootstrap
* opentelemetry-auto (agent artifact)

io.opentelemetry.auto.instrumentation
* instrumentation-akka-http-10.0
* instrumentation-apache-httpasyncclient-4
* instrumentation-apache-httpclient-4
* instrumentation-aws-java-sdk-1.11.0
* instrumentation-aws-java-sdk-2.2
* instrumentation-cdi-1.2
* instrumentation-couchbase-2.0
* instrumentation-

[2020-02-06 18:36] hanwavefront opened #136 "Apply OpenTelemetry semantic conventions for HTTP"
Subtask of #130.  Modify existing instrumentation to conform to OpenTelemetry semantic conventions for HTTP spans.

Http Clients:

- [ ] Akka HTTP
- [ ] Apache HttpClient
- [ ] Apache HttpAsyncClient
- [ ] AWS SDK
- [ ] Google HTTP Client
- [ ] HttpURLConnection
- [ ] JAX-RS Client
- [ ] Netty
- [ ] OkHttp
- [ ] Play WS

Http Servers:

- [ ] Akka HTTP
- [ ] Finatra
- [ ] Grizzly
- [ ] JAX-RS
- [ ]

[2020-02-06 19:17] prydin commented on #8
I'm taking a stab at this. I'll implement some kind of prototype we can use as basis for further design. Please assign this to me!

[2020-02-07 23:58] trask opened #147 "Add license headers"
Add license headers, same as https://github.com/open-telemetry/opentelemetry-java.

One suggestion was to use https://github.com/diffplug/spotless.

[2020-02-08 00:02] trask commented on #22
v0.1.0 released!

[2020-02-08 00:02] #22 closed

[2020-02-10 19:36] prydin commented on #8
I came up with a prototype design for this. Here are some of the considerations:

## Early or late shading?
The best spot to load custom exporters seems to be in the ```TracerInstaller``` class under ```agent_tooling```. Loading it in this context means that the OpenTelemetry API needs to be shaded. This can be done in three ways: At exporter build time, using some CLI tool on a vendor JAR or dyna

[2020-02-10 20:50] jkwatson commented on #8
would the exporter-build-time option mean that non-auto-instrumentation users would have to deal with oddball packaging?

[2020-02-10 21:02] prydin commented on #8
Good question! I think I would generate two separate jars. One standard jar with no weirdness and one that has the auto stuff in it. That's what I'm planning to do with the vendor specific one I'm working on now.

[2020-02-10 21:03] prydin commented on #8
Of course, the special auto jar could be generated using a separate gradle task so it's not done by default, but the logic would be the same.

[2020-02-10 21:18] jkwatson commented on #8
Cool. I looked at your dummy exporter. Seems like this is not a lot to ask of people who want their exporters to work auto-magically with the auto-instrumentation system. Would they also need to provide a standard configuration mechanism for their exporter?

[2020-02-10 21:21] prydin commented on #8
All they have to do is to ready properties of their choice from the ConfigProvider they get passed. Then they can use builders or whatever they want to set it up. Like this:

[code]

The capability of configuring an exporter from some kind of config should, in my opinion, be inherent to opentelemetry-java at some point. But that's above my pay grade right now. :)

[2020-02-10 21:26] jkwatson commented on #8
Hmm. It doesn't really make sense to have exporters have to depend on code in the auto-instrumentation project (ConfigProvider, etc). Can you make a proposal (issue) in the java project for having this ConfigProvider be a part of the SDK?

[2020-02-10 21:28] prydin commented on #8
You're absolutely right! They should definitely be part of the SDK. I just had issues linking the auto instrumenter to an unreleased jar in my file system, so I resorted to this in order to produce a PoC. I forgot to mention that! Nothing should ever be dependent on the auto instrumenter in my opinion. It's a black box.

[2020-02-10 21:30] prydin commented on #8
I will open an issue once we decide that this is the way forward. Let's discuss on the Thursday call!

[2020-02-10 21:57] trask commented on #8
This seems reasonable to me also.

One thought so far, can we use SPI / service loader instead to look up and instantiate the bootstrap class?

[2020-02-10 22:08] prydin commented on #8
Doesn't a ```ServiceLoader``` require you to put a bunch of stuff in you META-INF? I wanted to make this configurable from system attributes and/or environment variables only.

[2020-02-10 22:09] tylerbenson commented on #8
Instead of requiring shading at all, could the exporter be wrapped in an adapter/bridge at load time?

[2020-02-10 22:10] prydin commented on #8
Not sure I understand how that would work. Can you elaborate?

[2020-02-10 22:47] trask commented on #8
Re: ServiceLoader, it would just be used for the Bootstrap Class discovery (replacing the `Ota-Bootstrap-Class` MANIFEST entry). It wouldn't affect the configuration proposal.

[2020-02-10 22:50] prydin commented on #8
Hmmm... Yeah, that might actually work. Trying it out...

[2020-02-11 01:30] prydin commented on #8
*hits head* I just realized that the ```ClassRemapper``` from ASM is available through ByteBuddy. OK, then the dynamic runtime shading thing isn't that hard to do I suppose.

[2020-02-11 04:06] prydin commented on #8
Pushed code based on feedback from @trask, @tylerbenson and @jkwatson

* Using the SPI pattern with ServiceLoader
* Implemented runtime shading

Have a peek at https://github.com/prydin/opentelemetry-auto-instr-java/tree/prydin-exporter-experiment of you like!

[2020-02-11 19:20] trask commented on #8
This all sounds good to me. Can you submit a PR for more detailed review? Thx!

[2020-02-11 21:47] tylerbenson commented on #8
It sounds like remapping at load time is the way to go.  Nice job.  One thing to consider... what happens if the exporter exists on a user's classloader and isn't on the system classpath (eg spring boot jar)?

[2020-02-12 19:23] prydin commented on #9
I just tried PetClinic with all instrumentation enabled and a real exporter and got a 13s startup time on my Mac which is also running an IDE and another application under test.

Is this still an issue or should it be closed?

[2020-02-12 19:26] jkwatson commented on #9
@trask should retest and see how it works in his "standard" environment.

[2020-02-12 19:30] trask commented on #9
The startup is much slower on single core cloud machines. But this may just be a concern for Azure (and other cloud providers), where cold start time is a super important metric, and adding even 10 seconds to cold start overhead is frowned upon.

[2020-02-12 19:32] prydin commented on #9
OK. For reference, it took 5.5s without instrumentation, so there's definitely a measurable added delay.

[2020-02-13 00:31] safris commented on #9
In my previous observations, I found that instrumentation of Spring applications is particularly time consuming. For SpecialAgent, we approached resolving this with [Static Deferred Attach](https://github.com/opentracing-contrib/java-specialagent/#223-static-deferred-attach). If I remember correctly, the initial use-case that engaged us to develop this solution reduced the startup time of the resp

[2020-02-13 05:40] trask commented on #117
@safris can we close this?

[2020-02-13 06:04] trask opened #163 "More module / tracer renaming suggestions"
Shorten names where there is no ambiguity
- [x] aws-java-sdk-1.11 ⇒ aws-sdk-1.11 (#207)
- [x] aws-java-sdk-2.2 ⇒ aws-sdk-2.2 (#207)
- [x] datastax-cassandra-3.0 ⇒ cassandra-3.0 (#207)
- [x] jax-rs-annotations-1.0 ⇒ jaxrs-1.0 (#208)
- [x] jax-rs-annotations-2.0 ⇒ jaxrs-2.0 (#208)
- [x] reactor-core-3.1 ⇒ reactor-3.1 (#207)

For child modules, use standalone names, so we don't have to concatenate th

[2020-02-13 15:05] prydin opened #164 "Remove direct dependencies to Jaeger exporter"
We currently bundle the Jaeger exporter with our uber jar. Since it pulls in a lot of gRPC-related stuff, it nearly doubles the size of our jar.

Using the newly designed dynamic exporter loading functionality, we should remove the direct dependency and dynamically load it on demand instead.

@trask Please assign this to me.

[2020-02-18 21:25] prydin opened #172 "Span resources should contain service, application etc."
The OpenTelemetry spec calls for a service name, namespace etc. to be sent as part of the resource of a span. Typically, a service would map to the map of a microservice in an application (such as "shopping_cart") while the namespace would map to the name of the overarching application. These names are typically used by monitoring tools to render service graphs etc.

The auto instrumenter currentl

[2020-02-19 13:39] prydin opened #173 "CircleCI tests fail on certain test tasks"
Consider the following file:

https://github.com/prydin/opentelemetry-auto-instr-java/blob/prydin-dynamic-jaeger/exporter-adapters/exporter-adapters.gradle

It contains this section:

[code]

This test works fine on my laptop with any supported java version, but fails in CircleCI due to the system properties never being set. We have noticed that instead of running the regular ```test``` task, Circ

[2020-02-19 13:56] prydin commented on #173
It looks like the solution to this is never to use the ```test``` shorthand, but use this instead: ```tasks.withType(Test).configureEach {``` as this appears to pick up any type of test.

Is this the intended behavior? In that case I can close the issue.

[2020-02-19 16:29] prydin commented on #173
I spoke too soon. Now the dependencies aren't resolved. Again, it works on my laptop with Java 11.

Here's the PR I'm trying to get through: https://github.com/open-telemetry/opentelemetry-auto-instr-java/pull/171

[2020-02-19 17:13] tylerbenson commented on #173
@prydin The `testJavaX` tasks are dynamically generated by gradle when the appropriate environment variable is set: https://github.com/open-telemetry/opentelemetry-auto-instr-java/blob/master/gradle/java.gradle#L287

You need to add something like `JAVA_11_HOME` to have that generated.

The config you initially added was only updating the main test task, not the generated ones.

If you have any be

[2020-02-19 18:49] prydin commented on #173
Thanks. Any ideas why it’s not picking up the dependencies when I don it with the tasks.withType...? It runs the systemProperties but doesn’t seem to catch the dependsOn correctly.

[2020-02-20 14:05] prydin commented on #173
How about a subclassed custom test task that installs itself in place of ```test``` kind of like ```shadowJar``` installs itself in place of ```jar```? I'm not that great at gradle, so maybe I'm missing something.

[2020-02-23 00:15] prydin commented on #173
I worked around this. @tylerbenson I don't think I can find a better way of doing this. The gradle spec is pretty strict on each task only doing a single distinct operation, so generating new tasks seems to be the only way to add a open-ended number of tasks at compile-time.

Closing this.

[2020-02-23 00:15] #173 closed

[2020-02-23 00:32] trask commented on #10
Closed by #153, will open new issue if/when we want to revisit initial implementation

[2020-02-23 00:32] #10 closed

[2020-02-23 02:54] prydin commented on #164
Resolved by PR #171

[2020-02-23 02:54] #164 closed

[2020-02-23 02:55] prydin commented on #105
Resolved.

[2020-02-23 02:55] #105 closed

[2020-02-24 20:05] trask commented on #8
Initial implementation completed by #159 and #171

[2020-02-24 20:05] #8 closed

[2020-02-24 20:06] #117 closed

[2020-02-24 20:11] trask commented on #104
@prydin Ok to close this and revisit if needed after #45?

[2020-02-24 20:19] prydin commented on #104
Closing it.

[2020-02-24 20:19] #104 closed

[2020-02-24 20:26] trask commented on #11
All done!

[2020-02-24 20:26] #11 closed

[2020-02-27 16:50] prydin opened #193 "Tracing sensitive information should be configurable"
There should be a way to limit tracing of e.g. SQL statements, user names etc. A configuration variable-based approach seems like the natural approach.

Question: Should this also be configurable per instrumentation? E.g. trace statements for JDBC but not for Couchbase?

[2020-02-27 21:24] #147 closed

[2020-02-28 21:04] prydin opened #194 "Review semantic conventions for databases"
Make sure appropriate attributes are populated with the correct tag names.

This is a subtask of #130

- [x] Couchbase - Added ```db.statement``` and ```db.instance```
- [x] Cassandra - Appears to be compliant
- [x] Elasticsearch - Appears to be compliant. Poor test coverage!
- [x] Hibernate - Appears to be compliant
- [x] JDBC - Appears to be compliant
- [x] Jedis - Appears to be compliant
- [x]

[2020-02-28 22:40] trask commented on #194
Awesome! Closing this.

[2020-02-28 22:40] #194 closed

[2020-03-01 18:08] trask commented on #133
See https://github.com/open-telemetry/opentelemetry-java/pull/923 for how to create a scope listener

[2020-03-02 15:43] prydin opened #201 "Make gRPC instrumenter compliant with semantic conventions"
The gRPC instrumenter needs and overhaul to be compliant with the Opentelemetry semantic conventions.

Please assign this to me.

[2020-03-03 18:01] #201 closed

[2020-03-04 13:23] prydin opened #209 "Add Geode instrumentation"
There's been requests for a Geode/Gemfire instrumentation.

Please assign this to me.

[2020-03-05 22:37] trask commented on #45
Linking in #195
Linking in https://github.com/open-telemetry/opentelemetry-java/pull/964

[2020-03-06 00:00] yurishkuro opened #211 "Compatibility with whitebox instrumentation"
This is more of a strategy question. In opentracing-java-specialagent, the approach was to use auto-instrumentation only as a bridge between existing whitebox (explicit) instrumentation, by auto-wiring it into the application via byte-code instrumentation (BCI). However, when I look at `instrumentation` module here, it does not seem to be usable as standalone whitebox instrumentation, only as part

[2020-03-06 00:01] yurishkuro commented on #211
cc @tedsuo

[2020-03-10 00:17] trask commented on #136
These are my thoughts for `net.peer.name` and `net.peer.ip`:

* For outgoing calls (HTTP Clients) we typically have an unresolved name and should set `net.peer.name`, but not `net.peer.ip` which could trigger DNS lookup
* For incoming calls (Http Servers) we typically have an IP address and should set `net.peer.ip`, but not `net.peer.name` which could trigger reverse DNS lookup

[2020-03-10 01:31] hanwavefront commented on #136
@trask sounds good.

Here are the items I'm working on:

Client
- [ ] Set `net.peer.name` and `net.peer.port` instead of `peer.hostname` and `peer.port` (the specs are a bit unclear on which set to use, but this should be more consistent with other resource types)
- [ ] Update span names to include the request method, i.e. `HTTP {METHOD_NAME}`

Server
- [ ] Set `net.peer.ip` instead of `peer.ipv4`

[2020-03-10 18:19] trask commented on #209
Closed by #215

[2020-03-10 18:19] #209 closed

[2020-03-10 21:17] william-tran commented on #211
I think this is a result of this project's origins: https://github.com/DataDog/dd-trace-java/tree/master/dd-java-agent. What I really like about https://github.com/opentracing-contrib/java-specialagent is its plugin framework. The lack of plug-ability in the dd java agent was a problem and I would not want to see that persist in this new project.

For example, I found an issue with DD's gRPC instr

[2020-03-11 18:42] johnbley opened #226 "Flaky servlet test causing sporadic build failures"
When I submitted https://github.com/open-telemetry/opentelemetry-auto-instr-java/pull/225 I saw that the jdk13 test failed.  Looking through the test logs it appears it was due to
[code]

Looking deeper I think that the logic in TestServlet3.groovy (Aysnc) is the cause here; my hypothesis is that the async work races the service() code, and arrives twice before the service code arrives even once.

[2020-03-11 19:11] trask commented on #226
Thanks, I just hit re-run on those failures (which I have to do fairly often 😄). Any help improving flaky tests is greatly appreciated.

[2020-03-12 21:00] #226 closed

[2020-03-13 01:49] #136 closed

[2020-03-13 09:37] Oberon00 opened #229 ""Typed Spans" is confusingly named"
(following up on https://github.com/open-telemetry/opentelemetry-auto-instr-java/pull/195)

Typed spans as originally described in https://github.com/open-telemetry/oteps/pull/25 and now proposed in https://github.com/open-telemetry/opentelemetry-java/pull/964 are a concept that tries to make sure at compile time that semantic conventions are followed / make it easy for the user / instrumentation-

[2020-03-13 09:42] Oberon00 commented on #229
Further prior art: https://github.com/danielkhan/opencensus-node-typed-span-sample/blob/master/src/HTTPClientSpan.ts, https://github.com/census-instrumentation/opencensus-specs/issues/257

[2020-03-13 09:47] Oberon00 opened #230 "Instrumentation framework does not encourage use of SpanBuilder-set attributes"
From https://github.com/open-telemetry/opentelemetry-auto-instr-java/pull/195#discussion_r391778237:
I would force the user of the instrumentation framework (with user I mean the one who implements concrete classes here) to provide the request already in startSpan, so that all attributes are set on the builder and thus available to samplers (and onStart callbacks of SpanProcessors). See spec: http

[2020-03-13 10:24] thisthat commented on #229
I think this can be achieved with the #195 proposal.
For instance, an HTTP client can set its Semantic Attributes when starting the span (in addition to inject the context).

https://github.com/open-telemetry/opentelemetry-auto-instr-java/blob/cecabe522af64aef4ca03b9225d303645b3ff77e/agent-tooling/src/main/java/io/opentelemetry/auto/typed/client/http/HttpClientTypedTracer.java#L27-L31

[2020-03-13 15:29] trask commented on #230
Hi @Oberon00! The reason we aren't setting span attributes on the span builder (yet) is because the current OpenTelemetry API release (0.2.0) does not support that. Once 0.3.0 is released, we are planning to address this. This work is tracked in #76.

[2020-03-13 15:45] Oberon00 commented on #230
Makes sense. I did not consider that you can only use released versions. I guess the opentelemetry-java package does not get released very often 😅

[2020-03-16 18:43] Oberon00 commented on #229
Sure it can. But it does so using the plain Span API, nothing is typed in that aspect. Am I missing something?

[2020-03-16 21:20] trask opened #233 "Review all span names"
This was too big. Moving the list of span names to the wiki, where I think it could be a useful long-lived document (maybe bring into repo at some point when it stabilizes).

https://github.com/open-telemetry/opentelemetry-auto-instr-java/wiki/Span-names

[2020-03-16 21:39] trask commented on #211
Hi @yurishkuro, @william-tran!

Providing both auto and "contrib" (non-auto/whitebox/explicit) instrumentation based on the same codebase and validated with the same tests is a high priority (see the sparsely documented #45).

@william-tran We don't have a specific issue tracking the ability to bring-your-own auto instrumentation, but it's definitely something we've discussed in the weekly SIG mee

[2020-03-16 21:54] trask commented on #9
I wanted to report that there have been major improvements to startup overhead thanks to DataDog efforts in this area. I'll re-run and post new startup benchmarks soon.

[2020-03-16 21:58] trask opened #235 "Capture metrics reported via OpenTelemetry API"
Similar to #10, but now extended to the new metrics API.

Including a way to configure reporting to Prometheus.

This is a possible requirement for joining the beta release party. 🎉

[2020-03-17 07:00] thisthat commented on #229
My comment was to stress that the two things can coexists and are not mutually exclusive

[2020-03-17 09:06] Oberon00 commented on #229
Yeah, I agree. See also my gitter comment: https://gitter.im/open-telemetry/opentelemetry-auto-instr-java?at=5e6a6e6c80cc7b7924be1c2f

[2020-03-17 19:29] trask commented on #229
Hi @Oberon00! Would it be possible for you to join the auto-instrumentation SIG meeting on Thu 3/26 @ 9am Pacific Time to discuss?

When we reviewed the two proposals in last week's SIG meeting with @tylerbenson and @thisthat, these were the only differences that we identified:

| #195 | https://github.com/open-telemetry/opentelemetry-java/pull/964 |
| --- | --- |
| TypedTracer | SpanBuilderWrappe

[2020-03-18 04:28] trask commented on #9
Latest startup overhead in the single core cloud machine test was 13.5 seconds. That's a very good improvement, and I think justifies closing this initial tracking issue. I'll open another issue at some point to track further progress.

[2020-03-18 04:29] #9 closed

[2020-03-18 08:24] Oberon00 commented on #229
The typed Spans by @thisthat have the single purpose of making it easy to follow semantic conventions, i.e. setting the right set of attributes with the right value types. Does the instrumentation framework in this repo fulfill the that purpose too?

[2020-03-18 09:56] Oberon00 commented on #229
To repeat myself from gitter (https://gitter.im/open-telemetry/opentelemetry-auto-instr-java?at=5e6a6e6c80cc7b7924be1c2f): I don't think the two approaches are alternatives at all. I think the ones implementing derived classes for the base classes provided with the instrumentation framework can use the typed spans by @thisthat in their implementation.
[code]

[2020-03-19 01:31] trask commented on #229
Hey! I think I understand now!

So https://github.com/open-telemetry/opentelemetry-java/pull/964 is all about the attribute setter methods?

And the goal is to only have one of these "typed spans" per semantic convention. And they are not designed for subclassing. E.g. one `final` class for http client spans, one `final` class for http server spans, one `final` class for database spans, etc?

[2020-03-19 09:47] Oberon00 commented on #229
Exactly! It's about providing kind of a "reduced" interface to setAttribute/the SpanBuilder that encourages (but does not force) you to follow semantic conventions.

[2020-03-19 13:17] trask opened #248 "Review span names for HTTP spans"
Existing span names:

**akka-http-10.0 (CLIENT)**
 * HTTP GET
 * HTTP HEAD
 * HTTP POST
 * HTTP PUT
 * HTTP request

**akka-http-10.0 (SERVER)**
 * HTTP GET

**apache-httpasyncclient-4.0 (CLIENT)**
 * HTTP GET
 * HTTP HEAD
 * HTTP POST
 * HTTP PUT

**apache-httpclient-2.0 (CLIENT)**
 * HTTP GET
 * HTTP HEAD
 * HTTP POST
 * HTTP PUT

**apache-httpclient-4.0 (CLIENT)**
 * HTTP GET
 * HTTP HEAD
 * HT

[2020-03-19 13:58] trask commented on #248
Closing in favor of keeping #233 and using wiki to manage the size.

[2020-03-19 13:58] #248 closed

[2020-03-19 21:38] trask commented on #229
👍

I'm thinking we can just refer to the span hierarchy in #195 as "Spans". I'm not sure we need a special name for them.

We can just refer to them as `HttpClientSpan`, `HttpServerSpan`, `ApacheHttpClientSpan`, etc...

If we do need a name for them, maybe we could call them "Instrumentation Spans", since the goal is for these to live under `io.opentelemetry.instrumentation` and be used by both au

[2020-03-23 16:51] #235 closed

[2020-03-28 23:35] trask opened #287 "Tracking things to do after next opentelemetry-java release"
- [x] Use semantic convention attribute name constants (https://github.com/open-telemetry/opentelemetry-java/pull/758)
- [x] Exporter standard env vars (https://github.com/open-telemetry/opentelemetry-specification/issues/172)

[2020-03-30 05:23] trask opened #295 "Auto exporters should be downloadable from CircleCI"
They are currently available under artifacts, but they are not the shadow jars.

[2020-03-31 18:20] trask opened #298 "Smoke test improvements"
Improve smoke test harness
* Test against different application servers and different JVMs

Add more smoke tests, starting with the most fragile instrumentation we have:
* ~Log4j 1 instrumentation~ (EDIT: removed until after GA)
* ~Log4j 2 instrumentation~ (EDIT: removed until after GA)
* ~java.util.logging instrumentation~ (EDIT: removed until after GA)
* ~Logback instrumentation~ (EDIT: removed

[2020-04-02 15:04] secustor opened #302 "Expose JVM runtime metrics"
It seems like the OpenTelemetry SDK for Java is already exposing runtime metrics, but these are yet not exposed using the OTLP exporter.

https://github.com/open-telemetry/opentelemetry-java/tree/master/contrib/runtime_metrics/src/main/java/io/opentelemetry/contrib/metrics/runtime

[2020-04-02 21:26] trask opened #303 "Set attributes directly on the span builder where possible"
Span attributes are currently set on the `Span` after starting it, because `Span.Builder` did not have `setAttribute` methods in `0.2.0`.

Now that `Span.Builder` has `setAttribute` methods in `0.3.0`, we need to change instrumentation to set attributes on the `Span.Builder` prior to starting the `Span`, wherever possible.

From https://github.com/open-telemetry/opentelemetry-specification/blob/0.

[2020-04-02 21:27] #76 closed

[2020-04-02 21:28] trask commented on #230
Closing, hope that's ok, just added #303 to track this

[2020-04-02 21:28] #230 closed

[2020-04-02 21:28] #134 closed

[2020-04-02 23:43] trask opened #304 "OpenTelemetry API instrumentation improvements"
Improvements to interoperability between OpenTelemetry API and auto-instrumentation.

* Subclass `SpanContext` and ensure users only get our subclass, which makes wrapping/unwrapping much more efficient.
  (pending https://github.com/open-telemetry/opentelemetry-java/issues/1314, also see initial attempt #513)
* Need to add interop with new CorrelationContext
  * Why does `EntryValue` need its own

[2020-04-06 03:23] safris opened #309 "Rewritable Tracer"
**Abstract**

The <ins>Rewritable Tracer</ins> allows one to rewrite data in the spans created by Integrations without having to modify the source code. A JSON config file defines a set of rules that modify trace information in the layer between the integration, and the exporter.

**Introduction**

The <ins>Rewritable Tracer</ins> is an idea inspired by the [OpenTracing Rewrite](https://github.com

[2020-04-07 07:52] zeitlinger commented on #309
@safris I've just checked the integration points of this project. It seems that RewritableTracer could be a standalone project:

1. `TracerProvider` can be [https://github.com/open-telemetry/opentelemetry-java/blob/master/api/src/main/java/io/opentelemetry/OpenTelemetry.java#L143](customized)
    1. which gives us the possibility to provide different `Tracer` instances to different instrumentation

[2020-04-07 16:20] zeitlinger commented on #309
I added this to the [Java SIG agenda](https://docs.google.com/document/d/1oHpisisco8J7Yk73ovx3eeXaokSMqgVuEuWNwPOajtY/edit#heading=h.d7bm6jmhvqm5).

Please tell me if you want to discuss this also in the auto-inst SIG.

[2020-04-08 08:07] safris commented on #309
@zeitlinger, I believe the `SpanProcessor` would give us the granularity of control we'd need to implement a well-featured RewritableTracer. Thank you for adding the topic of this issue to the Java SIG. I'll make sure to attend it on April 17th. Currently, this issue is pinned to the auto-instr project, and we can put it on [the agenda](https://docs.google.com/document/d/1WK9h4p55p8ZjPkxO75-ApI9m0

[2020-04-08 18:57] johnbley opened #310 "Remove version string from "final" jar"
Since our users have to modify startup scripts, config files, etc. to add the -javaagent:/path/to/our.jar parameter, we should be nice to them and only require them to touch that stuff once.  Instead of naming our jar "opentelemetry-auto-0.2.1.jar", it should just be "opentelemetry-auto.jar".  That way they can upgrade to a new version without changing scripts/config files/etc (or introducing seco

[2020-04-09 16:16] malafeev opened #311 "Intellij IDEA: exception during working with external system: java.lang.AssertionError"
I tried to import project into IntelliJ IDEA:
[code]

but got:
[code]

Settings:
<img width="988" alt="Screen Shot 2020-04-10 at 00 14 24" src="https://user-images.githubusercontent.com/1412925/78916646-5d8c3280-7ac0-11ea-8870-ee984f3de3df.png">
<img width="963" alt="Screen Shot 2020-04-10 at 00 14 40" src="https://user-images.githubusercontent.com/1412925/78916656-63821380-7ac0-11ea-9156-852468e5

[2020-04-09 16:35] pmm-sumo opened #312 "Measure memory impact of the instrumentation"
It would be great to understand what's the impact of having auto-instr agent on memory consumption. There are two ways this can be approached:

1) Do synthetic test using `jmh` with a memory profiler (e.g. by extending the `benchmark` module)

2) Leverage a sample app (such as PetClinic) - run it inside a container and measure the memory usage

[2020-04-09 17:01] tylerbenson commented on #310
This is how we've documented downloading it in Datadog:

[code]

The caveat is that sometimes Maven Central is slow to update and have seen it go down for short periods of time.

[2020-04-09 23:52] trask commented on #312
These both sound great!

I'm thinking `jmh` tests would be good for measuring our effect on memory allocations (memory churn), while PetClinic-type app would be good for measuring our effect on heap size.

[2020-04-14 15:41] carlosalberto opened #320 "Allow users to choose propagator"
B3 and Jaeger propagators were recently added to OTel Java (living in the new `trace_propagators` artifact), and I would imagine being able to specify them when running the agent, e.g. `-Dota.propagator=B3`.

FWIW: Don't imagine users providing their own jar with their own custom propagator.

@trask Any opinion on this? ;)

[2020-04-14 16:19] trask commented on #320
Do you know if propagators will have a standard SDK configuration, e.g. something similar to the BatchSpanProcessor configuration in https://github.com/open-telemetry/opentelemetry-java/pull/1080? It's nice to follow standard SDK configuration where we can (maybe with our own prefix?). But either way, 👍 on supporting this use case.

[2020-04-15 03:00] trask opened #326 "Need to map HTTP and gRPC status codes to Span.setStatus()"
See

https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/semantic_conventions/http.md#status

and

https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/semantic_conventions/rpc.md#status

[2020-04-15 03:04] jkwatson commented on #326
Seems like a good chance to do an audit of those mappings and make sure they make sense, as well. Not sure if anyone has actually used them yet.  ;)

[2020-04-15 04:36] trask commented on #311
Hi @malafeev! Sorry you are having this trouble. I just updated and restored my Intellij to default settings, but was unable to repro this error.

[code]

The only difference in my settings is that I'm using Java 8 instead of Java 11 (for Gradle JVM, and Project SDK / language level).

Can you try with a clean copy of the latest Intellij, and a clean copy of the git repo? Also, maybe try to build

[2020-04-15 07:10] malafeev commented on #311
thanks @trask
I removed everything (gradle, maven caches), installed fresh Intellij, removed settings, rebuild project from command line...
Now it works :)

[2020-04-15 07:10] #311 closed

[2020-04-15 16:24] trask commented on #311
Awesome, great to hear 👍

[2020-04-16 23:53] #295 closed

[2020-04-20 16:58] trask opened #335 "It looks like we are suppressing the embedded OpenTelemetry SDK's logging"
It looks like [PatchLogger](https://github.com/open-telemetry/opentelemetry-auto-instr-java/blob/v0.2.2/agent-bootstrap/src/main/java/io/opentelemetry/auto/bootstrap/PatchLogger.java) doesn't delegate to the shaded SLF4J.

This probably wasn't a big issue previously because i think the only dependency that used java.util.logging was guava.

But definitely important now to capture the embedded Open

[2020-04-20 18:01] patsonluk opened #336 "ClassCastException when using opentelemetry SDK with auto agent"
I am experimenting the OT auto agent with OT SDK. My use case is rather simple:

- A simple java job that triggers some HTTP client calls to some services
- Since my java job itself would not be instrumented by the auto-agent, I added dependency to opentelemetry-sdk to start the scope and span
- Since the http client calls are made within the scope, they should get picked up by the auto agent

How

[2020-04-22 16:49] tedsuo opened #340 "Guice ServletModule triggers an exception"
Currently, binding [guice](https://github.com/google/guice/wiki/ServletModule) to a ServletModule triggers a runtime error.  However, running with `-Xverify:none` will suppress the error.

Stack trace included below. Looks like the important part may be "Type 'javax/ws/rs/core/Response' (current frame, locals[2]) is not assignable to 'io/opentelemetry/auto/instrumentation/api/SpanWithScope'"

[cod

[2020-04-23 02:02] tedsuo opened #341 "Use low cardinality names for database spans"
Currently, in some cases database spans use the [SQL statement](https://github.com/open-telemetry/opentelemetry-auto-instr-java/blob/1f0cd54fd745fd5c914284c9a3f583faff65dddc/instrumentation/jdbc/src/main/java/io/opentelemetry/auto/instrumentation/jdbc/StatementInstrumentation.java#L85) as the span name. This creates a couple of issues:

* The cardinality is too high to be useful as an index
* Stat

[2020-04-23 10:17] iNikem opened #342 "Document available configuration"
I was unable to find any documentation about supported configuration options. `io.opentelemetry.auto.config.Config` class has quite a lot of options that can be of interest to end-users.

[2020-04-23 10:29] iNikem opened #343 "Add support for SignalFx @Trace annotation"
Otel-auto supports some 3rd-party annotations to mark methods that should create new spans. This support is implemented by `io.opentelemetry.auto.instrumentation.traceannotation.TraceAnnotationsInstrumentation`. Currently it does not support SignalFx `com.signalfx.tracing.api.Trace`.

[2020-04-23 11:12] iNikem opened #344 "Allow to disable auto-instrumentation for specified methods"
There is a configuration property `ota.trace.classes.exclude`, which allows to exclude some classes from auto-instrumentation. I propose to add similar property `ota.trace.methods.exclude` to allow more fine-grained configuration: to exclude only specific methods from a class.

[2020-04-23 16:06] safris commented on #343
This issue and PR relates to https://github.com/open-telemetry/opentelemetry-java/issues/813

[2020-04-23 16:10] iNikem commented on #343
It is certainly related, but I think they are still independent. As long as Otel wants to support proprietary APIs, it still has to support those 3rd party annotations. Even after Otel gains its own `@Trace` annotation.

[2020-04-23 19:06] trask commented on #341
Based on discussion in SIG meeting today, let's proceed with this:

* For PreparedStatements, we continue using the query as the span name (no change).

* For non-PreparedStatements, let's avoid parsing the SQL query for now, and just use `db.instance` as the span name. @johnbley is planning to add SQL parsing in the near future, at which time we can leverage that to produce a better span name.

[2020-04-24 02:45] trask commented on #336
Hi @patsonluk! Yeah, this is an issue with the current implementation of our bridge that we need to address.

In the meantime, if you use only OpenTelemetry API (and not the SDK), it should work, e.g.

[code]

[2020-04-24 02:58] trask commented on #344
I'm curious if these properties are only needed for working around instrumentation bugs, or if there are other use cases?

[2020-04-24 04:07] iNikem commented on #344
Another use-case I can think of: some library out of user's control produces a huge amount of monitoring data either due to a bug or just high load. User may want to silence it.

[2020-04-24 04:21] #343 closed

[2020-04-24 04:39] trask commented on #344
Have you seen the instrumentation-level silencing configuration yet:

https://github.com/open-telemetry/opentelemetry-auto-instr-java/blob/v0.2.2/agent-bootstrap/src/main/java/io/opentelemetry/auto/config/Config.java#L288

We discussed this a bit in last week's SIG meeting ([sorry for the somewhat jumbled notes](https://docs.google.com/document/d/1WK9h4p55p8ZjPkxO75-ApI9m0wfea6ENZmMoFRvXSCw)).

Do

[2020-04-24 15:35] johnbley commented on #344
We (Splunk) have some customers who have over-instrumented their app and find a configuration-based approach more flexible than re-changing code, particularly as an immediate response.  Given that the (otel) code to enable this is fairly localized I find the feature pretty innocuous.

[2020-04-24 20:02] prydin commented on #320
@carlosalberto I was looking for the ```trace_propagators``` artifact, but couldn't find it. Can you give me a pointer?

[2020-04-24 20:55] trask commented on #320
I see it in the repo https://github.com/open-telemetry/opentelemetry-java/tree/master/contrib/trace_propagators, but looks like it's not in maven central yet. I think it will be in maven central by end of next week when SDK 0.4.0 is released, so we should be able to come back to this soon (I'm hesitant to depend on SDK snapshot versions).

[2020-04-24 21:03] prydin commented on #320
OK. I guess I'll pick another issue for now... :)

[2020-04-25 13:39] iNikem commented on #135
Do we really need to publish separate artifacts for each instrumentation?

Also, publishing to `jcenter` is usually much easier than Maven Central.

[2020-04-25 13:41] iNikem opened #351 "Fix deprecated features in Gradle build scripts"
Current gradle build scripts use a lot of deprecated features, that are expected to stop working in gradle's next major version. We should fix them.

[2020-04-25 18:06] iNikem opened #352 "`gradle build` fails"
One can say that master branch is currently broken, because just running `./gradlew clean build` will result in build failure. This is certainly confusing to new contributors and leaves very bad impression on the project as a whole.

I can take care of this problem, please assign this task to me.

[2020-04-26 20:37] trask commented on #340
@tedsuo Thanks for reporting this!

I'm trying to build a repro here: https://github.com/trask/auto-instr-guice-issue

A couple of questions:
* What JAX-RS framework (and version) is being used?
* What version Guice is being used?
* What version of Java is being used?

Also, are you able to post the source code for this method, to help me build a similar repro?
com/XXXX/XXXX/connector_api/RESTInde

[2020-04-27 09:43] iNikem commented on #344
@trask If you don't object this proposed change, can you please assign this task to me?

[2020-04-27 11:06] iNikem commented on #351
I have tried to do this and failed :) I am not sure this is very good candidate for `good firs issue`. It requires the understanding of generated gradle tasks. And choosing between `api` and `implementation` may require understanding the purpose of gradle submodules. Which is not documented at.

[2020-04-27 20:51] #303 closed

[2020-04-27 21:31] trask commented on #344
@johnbley oh, do you mean over-instrumented using `@Trace` annotations? just want to understand the use case for needing method-level excludes, then good to go

[2020-04-27 21:38] trask commented on #351
Thanks for giving it a shot, and for your assessment! I will remove the `good first issue` tag.

[2020-04-28 19:32] iNikem opened #359 "Add support for new @WithSpan annotation"
https://github.com/open-telemetry/opentelemetry-java/pull/1148 has added new annotation to OpenTelemetry Java API. Now auto-instr must support this new annotation.

I think it will be quite a simple addition to already existing `TraceAnnotationsInstrumentation`. Please assign this to me.

[2020-04-28 19:50] johnbley commented on #344
Yes, over-instrumenting with `@Trace` is what I meant.  Sorry for the confusing terminology.

[2020-04-28 19:52] trask commented on #344
@johnbley got it, thanks! @iNikem all yours!

[2020-04-29 12:06] iNikem opened #363 "Cannot build against otel-java 0.4.0-snapshot"
It seems that Otel-java has several changes since last release of 0.3.0 that broke auto-instr. It currently does not compile against latest 0.4.0 snapshot. E.g. [NoopScope was removed](https://github.com/open-telemetry/opentelemetry-java/pull/1062) and several others.

This also raises the question about regular (nightly?) cross-compilation between the two repos. How we detect such breaking change

[2020-04-29 12:07] iNikem commented on #363
This issue also blocks #359

[2020-04-29 15:08] #352 closed

[2020-04-29 15:29] trask commented on #363
This is a good topic for SIG meeting tomorrow, I added it to the [agenda](https://docs.google.com/document/d/1WK9h4p55p8ZjPkxO75-ApI9m0wfea6ENZmMoFRvXSCw)

[2020-04-29 17:48] trask opened #368 "Don't use synchronous span processor"
Switch from `SimpleSpanProcessor` to `BatchSpansProcessor` or `DisruptorAsyncSpanProcessor`.

See https://github.com/open-telemetry/opentelemetry-auto-instr-java/blob/v0.2.2/agent-tooling/src/main/java/io/opentelemetry/auto/tooling/TracerInstaller.java#L72

[2020-04-30 15:11] carlosalberto commented on #320
@trask So I will resume my work after https://github.com/open-telemetry/opentelemetry-java/pull/1161 is either merged or rejected - but meanwhile wanted to ask about the design overall, as I'm not really familiar with the auto-instrumentation codebase.

So I'm simply exposing a few constants that match to pre-defined propagators (`b3`, `tracecontext`, etc). But the question is *where* to invoke th

[2020-04-30 19:09] johnbley commented on #368
I can confirm that a simple one-line change to use the batch processor improves GC thrash/throughput 4-5x on a simple benchmark.

[2020-04-30 19:17] johnbley opened #370 "Have friendlier export config"
Right now to do export you need to download/find the exporter jar and then configure it like
`-Dota.exporter.jar=path/to/opentelemetry-auto-exporters-jaeger-<version>.jar `.  While still keeping the ability to create a custom jar with a custom SpanExporter{Factory}, we could embed the code for our supported exporters into our fat jar, and allow more convenient shorthand config like `-Dota.exporter

[2020-04-30 20:19] iNikem commented on #363
@trask in light of today discussion, should I fix this issue and make our master branch compatible with otel-java 0.4.0 snapshot? Or we want to wait for this until we ourselves release 0.3.0? The latter will mean that #359 cannot be done until after auto-instr 0.3.0 release.

Or, more precisely, it can be done, but in that new branch of auto-instr which will follow otel-java 0.4.0. Which makes tot

[2020-04-30 20:39] trask commented on #363
👍

New branch: `depends-on-otel-java-snapshot`

Go ahead and send PRs to that branch.

Once otel-java releases `0.4.0` we can merge that branch over to master and bump the `depends-on-otel-java-snapshot` branch to depend on otel-java `0.5.0-SNAPSHOT`.

[2020-04-30 21:24] trask commented on #370
My only concern is jar file size.

`opentelemetry-auto.jar` is 8.5mb

`opentelemetry-auto-exporters-jaeger.jar` and `opentelemetry-auto-exporters-otlp.jar` are 14mb each (though a ton of overlap with each other if they are using the same grpc versions)

Maybe we could have different agent downloads that come pre-bundled with a specific exporter?

[2020-04-30 22:36] trask commented on #320
Hey @carlosalberto, I think `TracerInstaller` is the best place for configuration of the embedded SDK (barring unforeseen issues).

[2020-05-01 10:37] johnbley commented on #370
Perhaps with the help of some collector folks we could pick a "winner" and have it embedded in auto and enabled by default, with the option to download the other jar(s) and configure as now?  Code size, cpu overhead, GC thrash, static RAM  usage, etc. could be part of that conversation/tradeoff in choosing a default.

[2020-05-01 13:56] flands commented on #370
Default for all projects should be OTLP -- the goal being to enable an OOTB experience that just works.

[2020-05-01 14:25] flands commented on #370
I realize I should have provided more information for context -- if you assume the Otel Agent is deployed then by having OTLP enabled by default and configured to send to localhost then OOTB data will be collected.

[2020-05-01 19:02] cmouli84 opened #374 "Add support to configure trace sampling probability"
Right now all traces are exported by default. Adding a configuration property `ota.trace.sampling.probability` will allow configuring the sampling probability to support basic sampling use cases.

`ota.trace.sampling.probability` can have below values

- `1 (Default)` - ALWAYS_ON sampler will be used which is the current default behavior
- `0` - ALWAYS_OFF sampler will be used
- `> 0 && < 1` - Pro

[2020-05-01 20:20] trask opened #375 "Add Zipkin exporter support"
Zipkin exporter is available now in otel-java 0.4.0-SNAPSHOT, and will be available soon in the otel-java 0.4.0 release.

[2020-05-01 20:29] trask commented on #370
How about publishing different artifacts that have the different exporters embedded?

* opentelemetry-auto-otlp.jar
* opentelemetry-auto-jaeger.jar
* opentelemetry-auto-zipkin.jar
* opentelemetry-auto-logging.jar

Or maybe distribute a zip with the following contents:

   * opentelemetry-auto.jar
   * exporters/
     * opentelemetry-auto-exporters-otlp.jar
     * opentelemetry-auto-exporters-jaege

[2020-05-04 18:54] trask opened #377 "Create github issue templates"
E.g. https://github.com/open-telemetry/opentelemetry-java/tree/master/.github/ISSUE_TEMPLATE

[2020-05-04 20:17] #344 closed

[2020-05-05 03:30] sleighzy commented on #341
I have some changes for this issue, but have a couple of quick questions.
* The `getClientInfo exception` unit test highlighted that the it is possible for the db info to not be populated under some circumstances. Is it acceptable to use the generic "DB Query" string for the span name in this case in the same manner as what is done for prepared statements? See https://github.com/open-telemetry/ope

[2020-05-05 06:18] #363 closed

[2020-05-05 07:13] malafeev opened #378 "Upgrade opentelemetry-api to 0.4.0"
opentelemetry-api 0.4.0 already released

[2020-05-05 07:22] malafeev commented on #378
already done :)

[2020-05-05 07:22] #378 closed

[2020-05-05 13:24] johnbley commented on #370
I really really like that the current install is "just one jar file" and not an install directory.  What if the default otlp is in the base jar (we can look at various ways to reduce its footprint) and the other exporters are separately downloadable release artifacts?

[2020-05-05 13:40] malafeev commented on #375
can I work on this issue and to be assigned? cannot do it myself.

[2020-05-05 16:40] trask commented on #375
awesome! assigned to you

[2020-05-05 16:48] trask commented on #370
How about:

* opentelemetry-auto.jar (single jar with otlp exporter)
* opentelemetry-auto-jaeger.jar (single jar with jaeger exporter)
* opentelemetry-auto-zipkin.jar (single jar with zipkin exporter)
* opentelemetry-auto-no-exporter.jar (single jar with no exporter)

to preserve the 1-jar file simplicity across the supported exporters?

[2020-05-05 17:10] trask commented on #341
Hi @sleighzy! Sorry for not keeping this issue updated. #366 was just merged yesterday implementing SQL scrubbing, which removes sensitive data and reduces cardinality. I wonder if we still need this?

[2020-05-05 18:18] carlosalberto commented on #370
Btw @trask it would be nice to have `opentelemetry-auto` out there in Maven so vendors can create their own fat-jar with their own (bundled) exporter. Not urgent, but handy way down the road ;)

[2020-05-05 18:20] carlosalberto commented on #320
@trask One of the 'problems' is however the fact `Propagator`s can exist for other concerns (`CorrelationContext`, for example). But lets go with `TracerInstaller` for now, so we only consume the trace propagators, and iterate on top of that (as open-telemetry/opentelemetry-java#1161 wasn't merged as part of 0.4.0).

(Also, we don't have `Propagators` other than for traces/spans, so we are cool fo

[2020-05-05 19:02] sleighzy commented on #341
I agree, the SQL scrubbing brings this in alignment with the prepared statement implementation. I'll pull down those latest changes and test them in our environments. Up to you folk but I see no further need for this ticket then. Thanks.

[2020-05-05 20:26] trask opened #383 "Document which instrumentation is enabled by default and which is not"
Maybe as an additional column on https://github.com/open-telemetry/opentelemetry-auto-instr-java#supported-java-libraries-and-frameworks, plus note about how to enable instrumentation that is not enabled by default.

[2020-05-05 22:27] #335 closed

[2020-05-05 23:47] trask opened #384 "Publish opentelemetry-auto jar to maven central"
This is a less ambitious version of #135 😄.

See https://github.com/open-telemetry/opentelemetry-auto-instr-java/issues/370#issuecomment-624223374.

I think there's some discussion we need to resolve in #370 first though.

[2020-05-05 23:48] trask commented on #370
@carlosalberto, good point, I created https://github.com/open-telemetry/opentelemetry-auto-instr-java/issues/384 to track that.

[2020-05-05 23:55] trask opened #385 "Add Prometheus auto-exporter"
This involves a couple of hurdles

* We currently only support push-based metrics exporters
* We currently only support a single exporter jar, so how does someone use jaeger + prometheus?
  * EDIT: see https://github.com/open-telemetry/opentelemetry-specification/issues/710

[2020-05-06 00:10] trask commented on #370
I forgot about prometheus, which potentially adds a separate dimension. Bundling them all together into a single jar is sounding better 😆.

[2020-05-06 01:11] trask commented on #341
Great, I'm going to close it then 😄.

[2020-05-06 01:11] #341 closed

[2020-05-06 01:23] trask commented on #320
Oh yeah, as @jkwatson mentioned on gitter today, the `TracerInstaller` class probably needs to be renamed (it does metrics exporter setup also 😆).

[2020-05-06 18:12] iNikem commented on #384
Why do we need to publish anything other than opentelemetry-auto jar and exporter jars? And, probably, fat jar `auto+exporters` to help with #370

[2020-05-06 18:21] trask commented on #135
The idea behind publishing all of the individual artifacts (#135) is for vendors who want more control/customization when building their distribution.

[2020-05-06 19:09] patsonluk commented on #230
Hi, we run into similar issue and wish to know the URL when doing sampling decision.

But it seems like with the change in https://github.com/open-telemetry/opentelemetry-auto-instr-java/pull/348/files , the `http.url` is still not available for example in the `Servlet3Advice`, the `DECORATOR` which [adds the `http.url` attribute](https://github.com/prydin/opentelemetry-auto-instr-java/blob/173106

[2020-05-06 19:13] patsonluk opened #387 "Allow configuration of custom sampler"
Similar to #374 , but also allow adding a property such as `ota.trace.sampler.jar` (similar to the `ota.exporter.jar`) so a custom sampler can be provided?

It will be helpful if one can define a sampler that sample based on certain URL pattern, for example skipping all static resources

Many thanks!

[2020-05-06 19:56] trask commented on #387
For a common use case like ignoring certain url-patterns, it would be nice if this could be a configuration setting (instead of needing to write a custom sampler).

[2020-05-06 19:57] trask commented on #230
Hi @patsonluk, can you open a new issue for this? It's a good point.

[2020-05-06 20:01] patsonluk opened #388 "Make attributes such as `http.url` available before a span is started"
Hi, we run into similar issue as #230 and wish to know the URL when doing sampling decision.

But it seems like with the change in https://github.com/open-telemetry/opentelemetry-auto-instr-java/pull/348/files , the http.url is still not available for example in the Servlet3Advice, the DECORATOR which adds the http.url attribute is not run until the span is started.

Wondering if it's feasible to

[2020-05-06 20:01] patsonluk commented on #230
For sure #388 :)

[2020-05-06 20:05] #359 closed

[2020-05-07 10:42] malafeev commented on #375
blocked by https://github.com/open-telemetry/opentelemetry-java/issues/1182

[2020-05-07 13:11] zeitlinger commented on #309
@safris following up on the suggestion to include this functionality in the collector, I've created https://github.com/open-telemetry/opentelemetry-collector/pull/928 and https://github.com/open-telemetry/opentelemetry-collector/pull/929 - which should cover all use cases that were covered by rewritable tracer.

Hence I think this issue can be closed.

[2020-05-07 14:36] safris commented on #309
Thanks for following up on this @zeitlinger. We'll continue the development in the collector issues you provided.

[2020-05-07 14:36] #309 closed

[2020-05-07 14:42] iNikem commented on #341
Just for historical record. Otel spec (https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/semantic_conventions/database.md) says the following: "Span name should be set to low cardinality value representing the statement executed on the database". So we have to use sql statement for spans.

[2020-05-07 15:57] iNikem opened #391 "Wrong span names for server HTTP spans"
Can be considered as part of #233.

Several auto-instrumentations which create "server http" spans currently use simply "HTTP $method" as span name. This seem to violate the [spec](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/semantic_conventions/http.md). E.g. `Servlet2Advice` and `Servlet3Advice`

[2020-05-07 19:54] jkwatson opened #392 "instance.class.getPackage() returns null if called in exporter code"
JVM: Java 8 (NOTE: This does not happen when using Java 11)

Repro notes:
Using the New Relic exporter (source code found here: https://github.com/newrelic/opentelemetry-exporter-java) which uses the New Relic Telemetry SDK (source code found here: https://github.com/newrelic/newrelic-telemetry-sdk-java), an NPE occurs during installation of the exporter by the agent.

The NPE is occurring here: h

[2020-05-07 20:47] jkwatson commented on #392
Repro application here:  https://github.com/jkwatson/spark-java-testapp

[2020-05-08 09:51] iNikem commented on #391
In contrast with situations, when there is some middleware that would produce nice span names (such as Spring MVC'c MethodHandlers), the instrumentations of plain servlets or Netty pipelines have only requested URL as a potential source of span names. Should we try to somehow normalise URL to remove potential high cardinality parts of it? E.g. SignalFx uses the following regex for this:
[code]

In

[2020-05-08 10:29] iNikem commented on #383
Why some instrumentations are disabled by default? Do we have any explanation for that anywhere in the doc?

[2020-05-08 20:11] jkwatson opened #394 "Support third-party metrics exporter configuration"
Like we have for span exporter configuration.

This (I think) requires this to be released by the java project:  https://github.com/open-telemetry/opentelemetry-java/pull/1180

[2020-05-09 02:14] sleighzy opened #395 "Support jTDS driver connection strings for SQL Server"
The [JDBCConnectionUrlParser](https://github.com/open-telemetry/opentelemetry-auto-instr-java/blob/master/agent-bootstrap/src/main/java/io/opentelemetry/auto/bootstrap/instrumentation/jdbc/JDBCConnectionUrlParser.java) supports a number of databases and the associated connection strings for their drivers. Our company uses both the Microsoft driver and open source [jTDS](http://jtds.sourceforge.net

[2020-05-09 02:15] sleighzy commented on #395
I can contribute the additional parsing logic for this connection string if that is acceptable.

[2020-05-09 02:44] trask commented on #395
That would be awesome! Assigning this issue to you 😄.

[2020-05-09 16:55] agamjain2012 commented on #387
This looks like a good first patch. I'm thinking of picking it up. At a high level if anyone can tell me what all would need to be done?
I've read most of the code and my env is set up

[2020-05-10 02:07] #395 closed

[2020-05-11 05:19] trask commented on #391
I don't think(?) "HTTP $method" violates the spec for server spans:

And in that general section:

I agree that "HTTP $method" is not a terribly helpful grouping for users though ☹️.

Maybe this is a discussion for oteps/specification?

[2020-05-11 06:10] iNikem commented on #391
I think that specification is good enough on this topic. It is our current implementation that is lacking. We have to make more efforts in producing useful span names. Maybe giving a configuration option to choose if application owner wants to use url-based span names?

[2020-05-11 15:33] iNikem commented on #391
Ok, one specific proposal: to change span names for servlet-based http spans to `ServletClassName.methodName`. Yes/No?

The same can be done for `GrizzlyHttpHandlerInstrumentation` as well. Yes/No?

[2020-05-11 17:52] iNikem commented on #383
@trask I could do this, but I would prefer to add some explanation of "why" as well. Either to a particular disabled instrumentation or to common doc about general rule.

[2020-05-11 18:19] trask commented on #391
There's some related discussion on preferring route over `class.method`: https://github.com/open-telemetry/opentelemetry-specification/pull/548

But that discussion doesn't address what to do if there's no route, in which case `class.method` seems like a better alternative to "HTTP $method".

So "yes" from me to your Yes/No questions above.

[2020-05-11 18:38] trask commented on #383
Can you make list of instrumentation that's currently disabled by default? I added this to Thu SIG meeting agenda: https://docs.google.com/document/d/1WK9h4p55p8ZjPkxO75-ApI9m0wfea6ENZmMoFRvXSCw

[2020-05-11 19:17] iNikem commented on #384
We also have to publish snapshot builds

[2020-05-11 19:23] iNikem commented on #370
I agree with @flands that OOTB experience should be around Otel stack. For everything: traces, metrics and logs in future. Which essentially devaluate the idea of `opentelemetry-auto-zipkin.jar` etc. I propose to publish the following artifacts from auto-instr:

- opentelemetry-auto.jar (single jar with otlp exporter)
- opentelemetry-all.jar (single jar with ALL exporters, may be very convenient d

[2020-05-11 19:26] iNikem commented on #384
I propose to publish this to Artifactory OSS/Bintray first, as this is much easier from administrative side of things. We then can easily push jars to Maven Central from Bintray. I have direct contact with JFrog, so I can take this task. But probably I will need some help with governance and such regarding e.g. Bintray account.

[2020-05-11 19:37] romilpunetha opened #400 "Allow capturing DB query params"
This would be a feature request.
It would be good to have a flag that allowed capturing database query parameters along with the queries.

[2020-05-11 19:42] iNikem commented on #400
Do you think as part of the query or as a separate span attribute?

[2020-05-11 20:21] romilpunetha commented on #400
Similar to what's available for redis:
`"get LIVE_SESSION_USER_SUBSCRIPTION_87159"`

Currently mongo traces look like:
`{
    "_id": "?",
    "status": "?",
    "locations": "?"
}`

If these parameters were populated, it would've been much easier and quicker to understand whats going on. Especially useful when the results of this query will be propagated upstream and used by another query.

[2020-05-11 21:57] trask commented on #370
I'm curious how much larger the `all` artifact would be compared to the `auto` artifact in this case? (given how much dependency overlap the otlp and jaeger exporters have)

If it's not that much larger, maybe we just bundle everything into opentelemetry-auto.jar? (coming back to @johnbley's original proposal)

[2020-05-11 22:19] trask commented on #384
@iNikem that would be great! Assigning to you :smile:. Let's chat with @carlosalberto about what we can learn / leverage from his experience doing this in opentelemetry-java (https://github.com/open-telemetry/opentelemetry-java/blob/master/RELEASING.md).

[2020-05-12 12:19] iNikem commented on #384
Do we need separate release branch right now, while we are still in 0.X range?

[2020-05-12 14:47] iNikem commented on #370
In addition to my proposal above and answering the request from @carlosalberto :

- opentelemetry-auto-no-exporter.jar (single jar with no exporter)

In total 3 jars for agent (default/otlp, all, nothing) plus jar per exporter (without agent)

[2020-05-13 08:27] iNikem commented on #383
The following instrumentations are disabled by default: jdbc-datasource, servlet-filter, grizzly, servlet-service, jetty, sparkjava

[2020-05-13 10:32] iNikem commented on #370
Agent jar together with otlp, jaeger and logging exporters is 21M

[2020-05-13 18:03] ddesjardins-splunk opened #402 "Add ability to Auto-Instrument non framework java methods"
Hello all,

In order for OpenTelemetry to yield a more complete set of span information in a trace, would like to see the ability to specify methods to be auto-instrumented that are custom implemented ( non framework ).  While we have @WithSpan that still requires a recompile of code and a change to source files, to many dev teams says "manual effort". If developers could specify a list of methods

[2020-05-13 18:09] devinsba commented on #402
This is available as the property `ota.trace.methods`

[2020-05-13 18:29] ddesjardins-splunk commented on #402
This is great to hear, I will test this. However, i am unsure usage. Assuming I am accessing this property and submitting a list of methods at runtime ?

I will retract this request, just need to test it !!!

[2020-05-13 21:11] ddesjardins-splunk commented on #402
Closed and validated working as intended !

[2020-05-13 21:11] #402 closed

[2020-05-14 17:44] jkwatson opened #404 "Add the agent version to the tracer name/version"
Currently, the tracers are acquired with a name, but not a version. It would be very useful to have the agent version included as well. This could be used to identify the version of the agent when looking at spans, making doing customer support easier. We wouldn't need to ask the customer for what version of the agent they were running, but just look at the data directly.

[2020-05-14 17:47] jkwatson opened #405 "Add span events to the grpc instrumentation"
As specified in the semantic conventions here:  https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/semantic_conventions/rpc.md#events

[2020-05-14 18:17] iNikem commented on #383
From today's SIG meeting I understood, that servlet-filter and servlet-service probably should remain disabled (and documented) because of potential noise. All others can be enabled by default. Am I correct, @tylerbenson ?

[2020-05-14 18:25] trask commented on #298
More things to smoke test:

* Exporter configuration (OTLP, Jaeger, Zipkin, Prometheus)
* B3 Propagator configuration

[2020-05-14 20:35] trask commented on #383
I'd suggest leaving `jdbc-datasource` disabled due to noise also. I checked, and you had to opt-in to get spans for `DataSource.getConnection` in Glowroot as well: https://github.com/glowroot/glowroot/blob/master/agent/plugins/jdbc-plugin/src/main/java/org/glowroot/agent/plugin/jdbc/DataSourceAspect.java#L71

IIRC, the noisiness is because that instrumentation ends up getting applied to connection

[2020-05-15 17:17] carlosalberto commented on #320
Closed via #389

(We can iterate on further/updated support when more propagators are added in the API/contrib section)

[2020-05-15 17:17] #320 closed

[2020-05-16 08:18] dneray opened #408 "Capture redis key accessed in lettuce autoinstrumentation"
When lettuce is used to access redis, the trace just shows the type of operation but it doesn't show specifics.

I am wondering if it would be possible to include the relevant redis key as an attribute.

[2020-05-16 19:03] trask commented on #298
Another thing to improve:

* Don't use logging exporter / log parsing, which is unreliably under concurrent logging

[2020-05-16 20:18] #368 closed

[2020-05-17 07:18] iNikem commented on #408
My understanding is that this would require the understanding of all Redis commands. To detect those where some useful data can be extracted.

[2020-05-17 17:07] trask commented on #375
This should be unblocked now by the opentelemetry-java `0.4.1` release 👍

[2020-05-17 17:19] #383 closed

[2020-05-18 02:11] malafeev commented on #375
great, I will proceed.

[2020-05-18 14:38] malafeev commented on #375
zipkin exporter uses `HttpURLConnection` therefore it's self-traced. @trask is it possible to disable `HttpURLConnection` traces only for zipkin in the auto-exporter?

[2020-05-18 20:42] #392 closed

[2020-05-18 21:48] trask commented on #375
Oh that's interesting! We don't normally have this problem since we exclude the exporter class loader from any bytecode instrumentation, but `HttpURLConnection` is in the bootstrap class loader 🙃.

I think probably the easiest thing is for us to configure Zipkin to use `OkHttpSender` instead, e.g.

[code]

[2020-05-19 02:23] anuraaga commented on #45
If there's agreement on the direction for this issue, I could help do some moving. Perhaps I could start by moving the decorators into `opentelemetry-java`?

[2020-05-19 04:02] trask commented on #45
Hi @anuraaga, help on this would be great!

I think it will be easier to share code and tests between auto and manual instrumentation if they are in the same repo, at least short-term while we are figuring out how to share.

Have a look at #195. I think the first step is to take one of the simpler instrumentations, and extract out the generic bits using that model.

You'll end up with 3 modules: o

[2020-05-19 14:10] devinsba commented on #375
:+1: to what @trask trask said. The most common http reporter used by ZIpkin users is the OkHttp one, it is the default in spring-cloud-sleuth. The URLConnection one exists mostly in the case of classpath issues. (cc @adriancole in case he has any opinions)

That brings up a second thought for me. Can you create an issue to add configuration that would allow for using the other reporter options (k

[2020-05-19 14:14] malafeev opened #417 "Add configuration to Zipkin exporter to allow using other reporters (kafka, rabbit, etc.)"
based on https://github.com/open-telemetry/opentelemetry-auto-instr-java/issues/375#issuecomment-630845065

[2020-05-19 14:15] malafeev commented on #375
@devinsba I added OkHttpSender, and created #417 for other options

[2020-05-19 14:42] iNikem opened #418 "Incorrect values for client span's Status"
`io.opentelemetry.auto.bootstrap.instrumentation.decorator.HttpClientDecorator#onResponse` currently sets client span status to either `OK` or `UNKNOWN`. One would expect that e.g. http status 404 will result in span status `NOT_FOUND`. Also 400 probably means `INVALID_ARGUMENT` etc.

I remember I saw somewhere some discussion about how http statuses should map to span statuses, but cannot find it

[2020-05-19 22:13] trask commented on #418
Here's the relevant spec: https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/semantic_conventions/http.md#status

[2020-05-20 02:43] malafeev commented on #375
done via https://github.com/open-telemetry/opentelemetry-auto-instr-java/pull/411
can be closed now

[2020-05-20 02:53] #375 closed

[2020-05-20 02:59] trask commented on #418
Probably a duplicate of #326?

[2020-05-20 07:58] iNikem commented on #418
@trask indeed, this is a duplicate.

[2020-05-20 07:58] #418 closed

[2020-05-20 14:43] iNikem commented on #326
If this task is about implementing the straightforward mapping described in spec doc, then I can take it. I don't quite understand what did @jkwatson mean by `audit` though :)

[2020-05-20 15:59] iNikem opened #423 "Duplicated/overlapping instrumentations"
It seems that `Servlet3Instrumentation`/`Servlet2Instrumentation` and `HttpServletInstrumentation` duplicate each other. They target almost the same methods of Servlet API, but do things somewhat differently. And their tests are very different as well. Should they be merged/unified in some way?

[2020-05-20 16:42] trask commented on #326
all yours 😄

[2020-05-20 17:13] jkwatson commented on #326
I was just suggesting that if we run across a status that doesn't map well, that would be important feedback for the specs.

[2020-05-21 03:24] trask commented on #340
Pinging @tedsuo

[2020-05-21 16:45] tedsuo commented on #340
Sorry @trask, missed this! I'll get back to you with the details.

[2020-05-21 21:18] trask opened #425 "PROPAGATORS=b3,tracecontext has confusing behavior"
If you configure:

`PROPAGATORS=b3,tracecontext`

then `b3` header extraction does not work, because `tracecontext` header extraction occurs afterwards and will overwrite any context extracted from `b3` headers with an invalid context.

From the javadoc for `DefaultContextPropagators.Builder.addHttpTextFormat()`:

[code]

I suggest that we log a warning if user supplies two propagators for the sam

[2020-05-21 21:26] trask commented on #425
@carlosalberto I want to check that this proposal make sense to you before I tag it `help wanted`

[2020-05-21 23:05] carlosalberto commented on #425
This sounds like a reasonable option for now.

(That being said, I have heard users wanting a `Propagator` that could supports many formats, i.e. `B3Propagator` **PLUS** `TraceContext` **PLUS** `Jaeger` etc, and for this case cooperation between them so they don't overwrite their values is needed - something I'm prototyping locally, but eventually, medium term, I hope we can support that)

[2020-05-21 23:07] tedsuo commented on #340
Here's the version info I was able to get today; I will see about getting the source code:
[code]

[2020-05-22 00:39] trask opened #426 "Sporadic test failure (1x): Elasticsearch2SpringTemplateTest"
[code]

https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-auto-instr-java/1090/workflows/71916f9f-bc4c-4d00-a8b4-d370a0f61726/jobs/9037

[2020-05-22 01:38] anuraaga opened #427 "Loadable initializer"
Currently, it is possible to load an exporter in the agent by passing a jar

https://github.com/open-telemetry/opentelemetry-auto-instr-java/blob/master/agent-tooling/src/main/java/io/opentelemetry/auto/tooling/TracerInstaller.java#L56

It would be nice if this could be made more general by executing a generic initializer so a vendor could configure the agent to optimize the experience. For exampl

[2020-05-22 01:40] anuraaga commented on #427
#387 is probably also related, while xray hasn't quite gotten to diving into sampling we'll need to hook that into our centralized sampling eventually as well. I guess the theme is `OpenTelemetrySdk` is very pluggable, but we currently don't have a good way to take advantage of that in the agent.

[2020-05-22 08:33] anuraaga commented on #427
I did some prototyping and was come up with a way to hack into SPI by adding to the bootstrap classpath

https://github.com/aws-samples/aws-xray-sdk-with-opentelemetry-sample/blob/both-otel-and-xray/awsagentprovider/build.gradle.kts
https://github.com/aws-samples/aws-xray-sdk-with-opentelemetry-sample/blob/both-otel-and-xray/frontend/Dockerfile#L44

This approach doesn't do any classpath isolation

[2020-05-22 20:41] trask opened #430 "Sporadic test failure (∞): AkkaHttpServerInstrumentationTestAsync"
[code]

https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-auto-instr-java/1096/workflows/78db301d-a95f-4840-ae1d-26ce1a738c02/jobs/9129

https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-auto-instr-java/1100/workflows/567e0241-54fc-48b8-9837-58653e5b605a/jobs/9187

https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-auto-instr-java/1109/

[2020-05-23 02:01] dneray opened #431 "Allow user to enable/disable storing entire stack trace in spans"
When using the @WithSpan annotation in a high load system, it can be expensive to serialize all stack traces. While these are obviously incredibly valuable, it would be nice to have a way for users to disable it.

I'm not sure if it makes more sense to have this part of the annotation itself or a global property.

[2020-05-23 02:28] iNikem commented on #431
Can please specify, what stacktraces are talking about?

[2020-05-23 02:59] dneray commented on #431
If a method annotated with @WithSpan throws an exception, the entire stack trace is stored in an attribute called error.stacktrace.

I believe this happens in io.opentelemetry.auto.bootstrap.instrumentation.decorator.BaseDecorator, within the addThrowable method.

[2020-05-23 03:26] trask commented on #431
Hi @dneray, does sampling address your concern?

If not, I could see this being part of the annotation, e.g. for methods where exceptions are fairly common and the stack trace is not really useful, but you still want to capture timing and success/failure (we would still mark the span as an error and capture the exception message).

<pre>
public @interface WithSpan {
  String value() default "";

[2020-05-23 03:45] dneray commented on #431
Thanks @trask sampling would help reduce the load but ultimately I think that addition to the WithSpan annotation would be the ideal solution.

Ideally the backend wouldn't be throwing exceptions frequently with useless stack traces but unfortunately many applications do and it would destroy the throughput to try to serialize them all.

[2020-05-23 04:27] trask commented on #431
@dneray In your system, does this concern also apply to spans from the built-in instrumentation (e.g. servlets, http clients)? If so, maybe this is a global setting that says "don't capture any exception stack traces"? (or maybe a max frames setting? we'd have to decide what that means for caused by chains)

[2020-05-23 04:39] dneray commented on #431
In my system so far, I have not seen anywhere where this concern is applicable it the built-in instrumentations but I can see how it might for others.

Now that I think about it, for my case another option that would work very well would be to be able to ignore certain types of exceptions i.e. similar to the TRACE_CLASSES_EXCLUDE and TRACE_METHODS_EXCLUDE there could be something like a **TRACE_TH

[2020-05-23 14:39] iNikem commented on #431
There are many options how to solve this issue.

1. Have a new attribute on @WithSpan annotation to drop exception stack trace
2. Have a new attribute on @WithSpsn annotation to ignore some classes of exception
3. Have a global configuration option to limit the number of frames captured for all exceptions
4. Have a global configuration option to ignore some classes of exceptions
5. Use OpenTelemet

[2020-05-23 14:57] dneray commented on #431
Thanks @iNikem

I am already using the collector but unfortunately it still causes excessive GC pauses to send these traces out of the java app.

Option 4 is preferable for me, I understand that it would treat these exceptions as "normal". For my use case, I would rather have the option to use the manual instrumentation to control how these are captured in the spans.

[2020-05-23 18:40] trask commented on #431
@dneray Using the OpenTelemetry API seems like it might be a good option here as an alternative to using @WithSpan. See https://github.com/open-telemetry/opentelemetry-auto-instr-java#manually-instrumenting.

[2020-05-23 18:41] trask opened #434 "Sporadic test failure (8x): JerseyClientAsyncTest"
[code]

https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-auto-instr-java/1098/workflows/8f699049-cfaf-4eea-b4e3-f9c8eb6dfd42/jobs/9179/tests

https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-auto-instr-java/1101/workflows/cfe3a883-dcb7-4236-ad98-b7dc92970f4a/jobs/9203/tests

https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-auto-inst

[2020-05-23 18:45] dneray commented on #431
Thanks, yes that is what I have done for now but I would really like to be able to use the @WithSpan annotation instead.

[2020-05-24 00:10] dustinneray commented on #408
I have discovered that the lettuce client has its own notion of tracing that provides this information. For my use case, I have written a set of simple bridge classes that implement the lettuce interface. It take the data provided from lettuce and uses them to construct opentelemtery spans.

It provides the key and some more information about the spans (i.e. how long the encoding takes). I would b

[2020-05-24 00:10] dneray commented on #408
I have discovered that the lettuce client has its own notion of tracing that provides this information. For my use case, I have written a set of simple bridge classes that implement the lettuce interface. It take the data provided from lettuce and uses them to construct opentelemtery spans.

It provides the key and some more information about the spans (i.e. how long the encoding takes). I would b

[2020-05-24 00:49] trask opened #435 "Sporadic test failure (7x): JaxMultithreadedClientTest"
[code]

https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-auto-instr-java/1101/workflows/63c358f4-eb23-45a9-96be-edb3743d7a79/jobs/9202/tests

https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-auto-instr-java/1105/workflows/d4cf5a4a-eb88-4c8e-90f1-9feaef5f9220/jobs/9224

https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-auto-instr-java

[2020-05-24 00:49] trask opened #436 "Sporadic test failure (12x): TomcatServlet3Test*"
[code]

https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-auto-instr-java/1101/workflows/a27b0da4-8a89-4964-a493-f95bdc4a4dc2/jobs/9204/tests

https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-auto-instr-java/1126/workflows/25aa664c-e0ed-41be-a966-b1646680a77e/jobs/9378/tests

https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-java-inst

[2020-05-24 17:31] trask opened #437 "Sporadic test failure (1x): GrizzlyTest"
[code]

https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-auto-instr-java/1104/workflows/5a3ed100-023e-4e3a-aeaa-8a836fe3684c/jobs/9218

[2020-05-25 18:51] trask opened #438 "Sporadic test failure (2x): Elasticsearch*NodeClientTest"
[code]

https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-auto-instr-java/1107/workflows/294dea03-d674-48b6-afa3-cd3f0aaf951b/jobs/9242/tests

https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-auto-instr-java/1129/workflows/f7fb54e3-429b-435e-8009-45601549743f/jobs/9403/tests

[2020-05-25 19:53] #391 closed

[2020-05-26 02:21] trask opened #440 "Should aws-sdk instrumentation emit CLIENT spans and suppress downstream http client library instrumentation?"
This seems reasonable to me, wondering what others think?

See comment by @anuraaga at https://github.com/open-telemetry/opentelemetry-specification/issues/530#issuecomment-633756993.

[2020-05-26 02:28] trask commented on #426
Also similar in `Elasticsearch5TransportClientTest`:

[code]

https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-auto-instr-java/1113/workflows/bd0d38ba-07c1-445e-bfe5-2f9c52f3609b/jobs/9279/tests

[2020-05-26 03:22] anuraaga commented on #440
For a bit more context, CLIENT / SERVER spans are important for modeling service dependencies, e.g. in a dependency graph like in Zipkin. By modeling HTTP as the CLIENT span, something like `HTTP POST` becomes the service that shows up in everyone's service graph whereas we actually want e.g., `DynamoDb` there.

[2020-05-26 05:41] iNikem commented on #440
@trask do you mean about a solution specific to aws-sdk? Or a generic one as proposed in https://github.com/open-telemetry/opentelemetry-specification/issues/530?

[2020-05-26 14:04] romil-punetha opened #441 "Memory leak"
There's probably a memory leak in the instrumentation jar. Two of the services required a revert, one of them as soon as 10 mins. Im attaching screenshots to show the performance after the code was deployed with instrumentation. Both these services were deployed at around 10.

<img width="1277" alt="Screenshot 2020-05-26 at 7 16 41 PM" src="https://user-images.githubusercontent.com/47735999/829100

[2020-05-26 14:27] malafeev commented on #425
@trask could you assign it to me?

[2020-05-26 15:03] iNikem opened #442 "`http.route` attribue"
[Semantic convention for HTTP server spans](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/semantic_conventions/http.md#http-server-semantic-conventions) defines attribute `http.route`:

Currently instrumentations don't create this attribute. I think we should, but I am not quite sure which span should have this attribute. In case of a typical Java we

[2020-05-26 19:01] trask opened #443 "Sporadic test failure (15x): AkkaActorTest"
[code]

https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-auto-instr-java/1118/workflows/9ca817ef-8468-4f89-9c7c-4e511ecc7ef2/jobs/9329/tests

https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-java-instrumentation/1189/workflows/23ce19da-8893-46fa-98e8-ffa5ae342977/jobs/9817/tests

https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-java

[2020-05-26 21:42] trask commented on #440
First, I'm just wondering _if_ we want to do this:

(I'm leaning towards yes, but would like others' opinions)

I haven't really thought about _how_ we would implement this yet (a generic mechanism supported by the OpenTelemetry API seems ideal).

[2020-05-27 02:07] trask opened #445 "Sporadic test failure (2x): CassandraClientTest"
[code]

https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-auto-instr-java/1125/workflows/46557765-fa72-4c99-9f66-abfa73e3255f/jobs/9374/tests

https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-java-instrumentation/2384/workflows/17f3daee-cb6e-4f51-a39c-8821f991f7fa/jobs/15330

[2020-05-27 04:25] trask commented on #441
Hi @romil-punetha!

The image you shared in gitter caught my interest:

![image](https://user-images.githubusercontent.com/218610/82977215-0cfc6600-9f96-11ea-9da8-c303a60ae495.png)

because the image shows that the context store for the `HttpServletResponse` -> `HttpServletRequest` mapping is using `WeakConcurrentMap` instead of using a direct field mapping, which means that the agent wasn't able

[2020-05-27 04:31] ksameersrk opened #446 "Instrumentation support for Netty based Async Http Client (AHC)"
I see that currently there is no support for the [Netty based Async Http Client (AHC)](https://github.com/AsyncHttpClient/async-http-client). Not sure if this was tried earlier or it is not possible to support it. Anyways, I would love to take a stab at it. Please let me know your opinion. Thanks.

[2020-05-27 04:43] trask commented on #446
Hi @ksameersrk!

Interestingly, we have instrumentation for `play.shaded.ahc.org.asynchttpclient.AsyncHttpClient` (see [BasePlayWSClientInstrumentation.java](https://github.com/open-telemetry/opentelemetry-auto-instr-java/blob/master/instrumentation/play-ws/play-ws-common/src/main/java/io/opentelemetry/auto/instrumentation/playws/BasePlayWSClientInstrumentation.java#L34)), but you're right, no van

[2020-05-27 04:57] ksameersrk commented on #446
Sure, that is great @trask ! I will look into [BasePlayWSClientInstrumentation](https://github.com/open-telemetry/opentelemetry-auto-instr-java/blob/master/instrumentation/play-ws/play-ws-common/src/main/java/io/opentelemetry/auto/instrumentation/playws/BasePlayWSClientInstrumentation.java#L34). Thanks for the info.

[2020-05-27 06:02] romil-punetha commented on #441
I ran it without the datadog agent, and i don't think there's a leak anymore. The memory footprint looks exactly like the one when only dd agent was injected. However, does this mean that I need to choose between using dd agent or the otel agent? Cuz I'm using them for different purposes.

[2020-05-27 07:31] iNikem commented on #441
@romil-punetha Can you describe your use-case? What are those different purposes and why Otel agent cannot satisfy them both for you?

[2020-05-27 07:35] romil-punetha commented on #441
@iNikem
I'm using datadog for APM only, and otel for in-house tracing.

[2020-05-27 07:41] iNikem commented on #440
In some sense there is a general problem here both for client and server spans. Both for monitoring incoming and outgoing requests you usually have some higher level library inside and low-level middleware outside. Like this:

```Servlet Filter -> Spring MVC -> AWS SDK -> Netty```

We certainly need to have generic instrumentation for lower level components in Otel, like Servlets and Netty. But in

[2020-05-27 07:44] iNikem commented on #441
It is in general quite a bad idea to use several instrumenting agents at the same time. Especially those of very similar functionality, like DD and Otel. Have you considered using just Otel for both use-cases? DataDog certainly plans to migrate to Otel instrumentation. And it should be already possible to use Otel instrumentation and Collector and to ingest data into DataDog. Their support can hel

[2020-05-27 07:45] romil-punetha commented on #441
Ok, will get in touch with them.

[2020-05-27 18:46] trask opened #447 "Sporadic test failure (3x): JerseyClientTest"
[code]

https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-auto-instr-java/1130/workflows/79a1ec5e-172f-444a-af21-88c6837b8a03/jobs/9408/tests

https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-java-instrumentation/1404/workflows/8557626c-c743-49e3-90bc-35b99ce12ef5/jobs/11337/tests

https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-jav

[2020-05-27 18:50] trask commented on #436
Also `TomcatServlet3TestDispatchImmediate`

[code]

https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-auto-instr-java/1130/workflows/79a1ec5e-172f-444a-af21-88c6837b8a03/jobs/9410/tests

[2020-05-27 19:20] #426 closed

[2020-05-27 19:21] trask commented on #438
(hopefully) closed by #444

[2020-05-27 19:21] #438 closed

[2020-05-27 22:24] trask commented on #440
If people agree that the `Netty` spans underneath the `AWS SDK` spans don't provide much value, then I think it makes sense to embed those "smarts" into the auto-instrumentation and suppress them right there (so every backend doesn't have to have this special logic for combination of `AWS SDK` + `Netty`, and also to save on cost of capturing/transmitting/ingesting the Netty span data).

[btw, in t

[2020-05-27 22:33] trask commented on #441
@romil-punetha, this is great to hear (and a relief)!

Sounds like we can close this, but keep us posted if you uncover anything new.

[2020-05-27 22:33] #441 closed

[2020-05-27 22:42] trask commented on #442
I believe it should go on the `SERVER` span.

We already have instrumentation to capture the route as part of the `SERVER` span name ([to conform with the _current_ span name guidelines](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/semantic_conventions/http.md#name)), so I think this would be added in the same places in the code, calling now `span.s

[2020-05-28 01:18] anuraaga commented on #440
Strong +1 to suppressing the Netty spans, but open to it being configurable if there seem to be users that wouldn't need that.

We could take a step back and consider this for any RPC not just AWS SDK - the service information is generally going to be in the RPC instrumentation, not its HTTP instrumentation. In every trace system I've looked at, marking the HTTP spans as client/server and the RPC

[2020-05-28 03:48] trask commented on #374
It looks like this will be resolved by https://github.com/open-telemetry/opentelemetry-java/pull/1255 (once we update to otel-java 0.5.0).

[2020-05-28 06:45] RashmiRam commented on #374
@trask AFAIK, We still have to update the TraceConfig instance to read from env values using this https://github.com/open-telemetry/opentelemetry-java/blob/master/sdk/src/main/java/io/opentelemetry/sdk/trace/TracerSdkProvider.java#L88 in https://github.com/open-telemetry/opentelemetry-auto-instr-java/blob/master/agent-tooling/src/main/java/io/opentelemetry/auto/tooling/TracerInstaller.java#L73 sin

[2020-05-28 07:25] #437 closed

[2020-05-28 07:37] iNikem commented on #442
@tylerbenson said during last Java SIG meeting that he really dislikes this inter-instrumentation communication, when we modify already existing spans. And I tend to agree with him. If we continue to do this, we HAVE to do that in more explicit and transparent way. Which I don't know yet :)

Can we always be sure that SERVER span is still present when we create child spans? Can it happen that in s

[2020-05-28 07:40] iNikem commented on #440
Can you explain your preference here? Am I correct that you want to suppress Spring span _on the assumption_ that `http.route` is propagated from it to the parent Servlet span?

[2020-05-28 07:54] iNikem commented on #440
Then again, suppressing HTTP spans will probably require transferring their attributes, like `http.host` and `net.peer` to the RPC span. Don't we try to push too much magic into auto-instrumentation?

[2020-05-28 08:12] iNikem commented on #442
Also, modifying existing spans goes against e.g. #388. Also https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/api.md#span says:

[2020-05-28 10:16] anuraaga commented on #440
I think a couple of advantages instrumentation has over collector in this case are

- Instrumentation is stateful and has the hierarchy of spans. Doing processing that is based on the hierarchy (in this case folding HTTP spans into RPC spans) is trivial. But collectors process spans individually so pushing hierarchies processing is possible with buffering but doesn't seem natural

- Instrumentatio

[2020-05-28 10:21] iNikem commented on #440
Why do you think that instrumentation has the hierarchy of spans? That may be correct in synchronous case, but things become more complicated in async case. If this assumption of yours is correct, then things become clearer indeed.

[2020-05-28 10:42] anuraaga commented on #440
Hierarchy may have been unclear since it's not necessarily from the root but a sort of local hierarchy. Even in asynchronous, you must have access to at least your parent or you will not be able to set the parent ID.

That being said it does bring to mind a contrived example.

RPC span starts, passes job to another thread and ends. The other thread then runs the HTTP connection which gets the clie

[2020-05-28 10:53] iNikem commented on #440
To be precise, you must have access to your parent id, not the whole parent span :) But in practise I think we always pass the whole span around, so fair point.

Very good example, it really brings a lot of thoughts... Maybe it should be just 1 span? Which starts when RPC starts and ends when HTTP transport finishes its job. With attributes "merged" from both sources.

It seems that we are at the

[2020-05-28 17:05] iNikem opened #452 "Create a "bot" user in Bintray"
We need an account in Bintray in [OpenTelemetry organisation](https://bintray.com/open-telemetry) to publish our artefacts. Ideally we could use the same user to publish artefacts from `opentelemetry-java` repo as well. And it should not be some personal account, I think, but a dedicated one.

Depending on Bintray's pricing/capabilities, other languages can publish their artefacts there as well, u

[2020-05-29 00:00] trask commented on #442
The primary reason that `updateName()` exists is to handle this example, where you don't know the route when the `SERVER` span starts, and so initially you set the span name to something generic (like in #428), and then later when you know the route, you call `updateName()` on the `SERVER` span to set the span name to the route.

(also, see https://github.com/open-telemetry/opentelemetry-specifica

[2020-05-29 00:26] trask commented on #440
Async RPC clients typically have some kind of callback that we use to know when the RPC request is fully complete (i.e. when the response has been fully received).

So I believe async RPC spans are already correct from a timing perspective (no need to end the span in the underlying transport).

For the specific proposal in the title, I don't think this requires any tight or explicit collaboration.

[2020-05-29 00:29] anuraaga commented on #440
@trask Yeah my example was contrived as what "losing your parent" might look like, but currently the instrumentation is fine.

Supressing transport spans vs including them is still better for modeling for me, but treating "transport instrumentation" specially, so they can contribute to an RPC span by adding transport attributes, does seem even nicer. I can't think of any other scenarios than trans

[2020-05-29 00:30] trask commented on #374
Hi @RashmiRam, oh yes, great point! A PR for this once we update to 0.5.0 would be super!

[2020-05-29 01:15] trask commented on #440
This makes sense to me. And I think the modeling issue you raise is important, where you want the `CLIENT` span to be "DynamoDB" instead of "HTTP GET".

I could see the Netty instrumentation supporting a "transport" mode, where (based on some Context flag) it sets attributes on the parent span (and maybe add events to the parent span) as opposed to creating it's own span.

[2020-05-29 02:40] malafeev commented on #425
fixed via #451, can be closed now.

[2020-05-29 03:17] trask commented on #425
👍

[2020-05-29 03:17] #425 closed

[2020-05-29 07:18] iNikem commented on #442
Ok, I see your point. But in this case I think we still need much clearer and more explicit way for any span to find parent/root span. Current approach is too well hidden and non-obvious.

[2020-05-29 07:30] iNikem commented on #440
I don't like the idea of bringing in one more special case of inter-instrumentation communication without taking into account a bigger picture. We will end up with one specific case of Spring-Servlet communication, one specific case for RPC-Netty communication, etc etc. I would very much prefer a limited set of common mechanism how such communication could happen and be documented _and_ obvious fr

[2020-05-30 20:21] jeffalder opened #457 "Mongo instrumentation can double-track work"
My interpretation of the Mongo instrumentation is that when `build()` is called on a given instance of `com.mongodb.MongoClientSettings$Builder`, a new instance of `TracingCommandListener` is added via `builder.addCommandListener`, and then the remainder of the `build()` method is called.

A problem will likely arise if `build()` is called _multiple times_ on the _same instance_ of the `Builder`.

[2020-05-30 20:23] jeffalder opened #458 "Mongo listener belongs in instrumentation-core"
`instrumentation-core` appears to have libraries that can be added by the user without the agent. The mongo [TracingCommandListener](https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/master/instrumentation/mongo/mongo-common/src/main/java/io/opentelemetry/auto/instrumentation/mongo/TracingCommandListener.java) meets that criterion and probably belongs in `instrumentation-co

[2020-05-31 03:46] iNikem commented on #436
https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-java-instrumentation/1154/workflows/27255f13-ae35-4020-8c78-9cc89650f931/jobs/9591

[2020-05-31 16:03] iNikem opened #463 "Support new non-monotonic metrics from Otel-java"
OpenTelemetry Java introduced new classes for non-monotonic metrics in 0.5.0-SNAPSHOT version. Instrumentations don't currently play with them well. Thus some tests in `MeterTest` are commented out. Should uncomment them and make them pass. All this in branch https://github.com/open-telemetry/opentelemetry-java-instrumentation/tree/depends-on-otel-java-snapshot

[2020-06-01 10:29] iNikem opened #465 "Generic mechanism for preventing multiple Server/Client spans"
[Otel spec](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/api.md#spankind) says the following about SERVER and CLIENT spans:

- `SERVER` [...] span is the child of a remote CLIENT
- `CLIENT` [...] span is the parent of a remote SERVER

Together with the remaining section this brings me to the conclusion, that spec demands having at most 1 span of kin

[2020-06-01 18:22] trask commented on #465
Yes! This sounds great to me. Thanks @anuraaga for bringing attention to this, and thanks @iNikem for this proposal. I very much like the idea of using the context to track both the current `SERVER` and `CLIENT` spans.

Tracking the `SERVER` span like this will allow us to finally resolve the last item in #50:

[2020-06-01 23:01] trask commented on #442
Nice, #465 will also solve this 👍

[2020-06-02 05:01] trask commented on #408
Hi @dneray, I'm very interested to see what you've done, and to see if it might be applicable here. Are you able to share the code you've written? thx!

[2020-06-02 05:03] trask commented on #408
Also there's some discussion of semantic conventions around redis keys here: https://github.com/open-telemetry/opentelemetry-specification/pull/575

[2020-06-02 05:16] trask commented on #50
Finishing this should be straightforward once #465 is done

[2020-06-02 05:42] iNikem commented on #465
@tylerbenson I would love to hear your opinion here :)

[2020-06-02 08:42] Oberon00 commented on #335
Gitter link, for further reference: https://gitter.im/open-telemetry/opentelemetry-auto-instr-java?at=5e9dc6c7a412254f219f6adb (sorry to dig this issue up, please ignore)

[2020-06-02 10:16] RashmiRam commented on #457
@trask  We could check if `TracingCommandListener` is already part of `commandListeners` property of the builder instance. We can add only if it is not in the `List<CommandListeners>` So that we can avoid doing the tracking multiple times.

If you think this is the right approach, I can send a PR for the same. Would that be alright?

[2020-06-02 11:12] dneray commented on #408
So this is what I have so far, it's just set as the tracing instance on the lettuce client resources. With both lettuce autoinstrumentation and this enabled what I get is a child span under every redis call that looks like a duplicate except that it includes the key and some other information.

I have only tested this on the reactive client but one interesting thing that I've noticed is that the c

[2020-06-02 17:44] jeffalder commented on #457
@RashmiRam I'm not Trask, but I think that's good. The field on the builder is private. I don't know this agent, so I'm not clear if it's able to write code that accesses private fields ... seems like it should be able to.

[2020-06-02 18:44] trask commented on #457
@RashmiRam yes, sounds great, assigning this issue to you 👍

[2020-06-02 19:26] trask opened #470 ""user.principal" is set on the wrong span"
See discussion at https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/466#discussion_r433592830

[2020-06-03 13:42] carlosalberto commented on #452
I was digging into this and a Bintray account needs to be backed up by either a Google account or a Github profile (the second one in turn requires an email). Sonatype account also requires an email.

With that in mind I see two options:

1) We keep the user specific deployment (as it is done in many OSS projects). This is what we do at this moment, but we would need to add more maintainers (Trask

[2020-06-03 13:47] iNikem commented on #452
If we can use the same Bintray organisation, OpenTelemetry, for publishing artefacts from other languages as well, then having language-specific user is probably not a very good idea.

[2020-06-03 15:52] jkwatson opened #472 "Tighten up the restrictions on what New Relic classes shouldn't be instrumented."
Currently, everything in `com.newrelic` gets excluded from instrumentation, which unfortunately means we (New Relic) can't use the OTel agent to instrument most of our own code.

If we tighten up the restriction to be just these packages:
`com.newrelic.agent`
`com.newrelic.weave`
`com.newrelic.bootstrap`
`com.newrelic.trace`
`com.newrelic.api`

that would probably be more correct, in that we would

[2020-06-03 22:59] jeffalder commented on #472
This is not 100% true, sadly. The Infinite Tracing code in 5.12.1 has a number of classes in the base `com.newrelic` package.

[2020-06-03 23:49] jkwatson commented on #472
Hmm. Do you have an alternative suggestion? Maybe we should move those classes into a sub-package that could be excluded?

[2020-06-03 23:59] trask commented on #472
Maybe we don't need the newrelic package exclusion at all? I'm guessing that exclusion was done originally so that the two agents could potentially run side-by-side, but not sure that's a use case we need to support.

[2020-06-04 00:14] jkwatson commented on #472
I'd be all in favor of removing it for now; I don't think any of us really want to support a dual-agent mode if we can possible avoid it.

[2020-06-04 05:11] trask commented on #408
@dneray thanks! It's nice to use a library's built-in tracing abilities like this when possible.

@devinsba I'd love to know what you think.

It looks like the lettuce `Tracing` interface wasn't introduced until `5.1.0`, so we might need to keep around the existing `lettuce-5.0` instrumentation to support `5.0.x` versions, but could potentially introduce `lettuce-5.1` instrumentation based on this

[2020-06-04 09:41] RashmiRam commented on #374
@trask I see that we created a separate branch depending on otel java 0.5.0-snapshot, Would it be alright if I raised a PR for this issue against that branch?

[2020-06-04 09:52] iNikem commented on #374
@RashmiRam Otel-java is expected to release 0.5.0 yesterday or today. Then we can merge our snapshot branch to master and master will use otel-java 0.5.0. So you can either make a PR now against our snapshot branch or wait some days and make a PR against master. Both options are totally fine :)

[2020-06-04 10:07] iNikem opened #473 "JAX-RS support is incomplete"
I have create a sample Jersey application based on https://eclipse-ee4j.github.io/jersey.github.io/documentation/latest/getting-started.html. Then I run a minimal Spring Boot application which calls Jersey application. When calling SB application I get the following spans:

[code]

I correctly get client span from SB application for calling Jersey app. But Jersey app does not join the same trace a

[2020-06-04 15:09] iNikem commented on #473
Ok, JAX-RS instrumentation is not meant to create SERVER spans with the corresponding attributes. That is left to server runtime instrumentations, such as Grizzly (which is disabled by default).

[2020-06-04 16:43] jkwatson opened #475 "Support external metric exporters"
Now that `io.opentelemetry.sdk.contrib.auto.config.MetricExporterFactory` has been published with the Java 0.5.0 release, please support being able to configure a metric exporter in a similar fashion to the span exporter configuration.

[2020-06-04 16:48] #457 closed

[2020-06-05 15:38] bogdandrutu commented on #452
We added all the maintainers for instrumentation and java repos to the betray account.

[2020-06-05 15:38] #452 closed

[2020-06-05 18:18] iNikem commented on #374
@RashmiRam master branch now uses otel-java 0.5.0

[2020-06-08 06:54] #374 closed

[2020-06-08 07:49] #423 closed

[2020-06-08 17:00] #436 closed

[2020-06-09 01:00] anuraaga commented on #427
Oops - @trask maybe want to reopen this since that PR is just a prototype for now (and looks like you need write permission to reopen an issue, didn't know that!)

[2020-06-09 01:40] trask commented on #427
Oh wow I didn't realize that an issue author couldn't re-open an issue if it was closed by someone else either (https://github.com/isaacs/github/issues/583)!

[2020-06-09 04:56] #384 closed

[2020-06-09 09:11] anuraaga opened #482 "Publish a debug jar without the classdata obfuscation"
I noticed that I can't debug classes in the agent in IntelliJ because it doesn't recognize the files named `.classdata`. Let me know if there's a way that I'm missing :) But if not, it would be helpful to have a `-debug` jar or something that has normal `.class` files I believe that would allow the debugger to work.

[2020-06-09 14:24] devinsba commented on #482
Adding `disableShadowRelocate=true` to your `~/.gradle/gradle.properties` should disable the renaming

[2020-06-09 15:20] anuraaga commented on #482
Hmm, I'm not sure but that seems like it would disable shading, but not the file renaming? I don't see the flag used here

https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/master/java-agent/java-agent.gradle#L15

But assuming a flag does exist or is created, that requires building locally which takes a long time for this monolith so publishing such a build to download woul

[2020-06-09 16:43] trask opened #485 "Sporadic test failure (3x): WeakConcurrentSupplierTest"
[code]

https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-java-instrumentation/1253/workflows/e9e863bd-1a72-46cd-9925-63d44d1c90df/jobs/10252/tests

https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-java-instrumentation/1528/workflows/4c4a5330-88fe-4e3f-991c-00f56b634a64/jobs/12087/tests

https://app.circleci.com/pipelines/github/open-telemetry/opentelemet

[2020-06-09 21:53] trask opened #487 "Sporadic test failure (1x): Process 'Gradle Test Executor' finished with non-zero exit value 3"
(out of memory)

`test_8`
`:instrumentation:cassandra:cassandra-3.0:test`

https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-java-instrumentation/1258/workflows/c6658b73-4f6a-481e-bac2-0da7b497efcf/jobs/10304

[2020-06-10 01:15] trask opened #488 "Shade aws-sdk from instrumentation-core when used in auto instrumentation"
Otherwise those classes could conflict if manual instrumentation also on the application's class path.

Suggestion for shaded package name:

[code]

[2020-06-10 06:11] anuraaga commented on #408
Just happened to add lettuce tracing to my OpenTelemetry playground app and had the same thought that it'd be great to be using the native tracing support. @dneray would you be interested in sending a PR with your instrumentation? If not, I'm happy to take it over, though would start by copying pasting all that nice code.

[2020-06-10 12:42] iNikem opened #490 "Use Gradle build cache"
It takes a lot of time to build instrumentation project. But the majority of that time is spent building and testing tons of individual instrumentations. As developers often make changes to a specific instrumentation, there is no sense in building all other, unrelated, instrumentations. [Gradle build cache](https://docs.gradle.org/current/userguide/build_cache.html) can help a lot here. One easy w

[2020-06-11 04:29] trask opened #492 "Sporadic test failure (1x): ApacheClientUriRequestResponseHandler"
[code]

https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-java-instrumentation/1267/workflows/d5d53b6d-2572-4fc7-b638-4c070d23527d/jobs/10371/tests

[2020-06-11 05:31] #475 closed

[2020-06-11 05:58] iNikem opened #496 "Implement OTEL_EXPORTER env var"
How an end-user can configure instrumentation agent to e.g. send spans to Zipkin and metrics to Prometheus? As of now only one exporter can be configured and some of them do not support metrics at all.

[2020-06-11 06:17] iNikem commented on #473
After more discussion with the original requester of this change, we have decided to drop this. If somebody indeed uses JAX-RS with an unsupported http server, it makes more sense to add support for that http server.

[2020-06-11 06:17] #473 closed

[2020-06-11 06:40] #463 closed

[2020-06-11 06:41] #370 closed

[2020-06-11 07:20] anuraaga commented on #427
With the agent on jfrog now, (and the fresh off the oven exporter SPI, thanks!) I was able to set up a nice agent repackaging setup here

https://github.com/aws-samples/aws-xray-sdk-with-opentelemetry-sample/blob/both-otel-and-xray/otelagent/src/main/java/com/softwareaws/xray/opentelemetry/agentbootstrap/AwsAgentBootstrap.java

Just 3 lines of real code, more of it is Gradle

https://github.com/aw

[2020-06-11 08:40] iNikem commented on #427
That is a very a nice setup, @anuraaga ! Thanks for sharing this with us. Fancy writing a blog post? ;)

[2020-06-11 20:35] trask opened #498 "Small renaming of exporter packages"
Based on https://github.com/open-telemetry/opentelemetry-specification/pull/629/files, we should probably go ahead and remove the "s" at the end of exporters before we publish to maven central:

* opentelemetry-auto-exporters-otlp → opentelemetry-auto-exporter-otlp
* opentelemetry-auto-exporters-jaeger → opentelemetry-auto-exporter-jaeger
* opentelemetry-auto-exporters-zipkin → opentelemetry-auto-

[2020-06-11 23:37] trask opened #500 "Add link to snapshot repo in CONTRIBUTING.md"
Update this section to refer to the snapshot repo instead of downloading from CI: https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/master/CONTRIBUTING.md#snapshot-builds

[2020-06-11 23:39] trask opened #501 "Add gitter link and weekly meeting info to top of README"

[2020-06-12 09:59] anuraaga opened #504 "lettuce-5.0 tests run only on java 8"
If you look at a build, for example here

https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-java-instrumentation/1291/workflows/6aa5dcc9-cad7-49fa-8415-f3757838a2fe/jobs/10525/steps

you'll notice `lettuce-5.0:test` is `SKIPPED`, unlike others

[code]

Locally, I see this

[code]

Digged the Gradle configs some but couldn't find why this would happen.

As a trackback, also ask

[2020-06-12 10:02] iNikem commented on #504
lettuce-5 module is configured to run only on java8 and it does run with java8: https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-java-instrumentation/1291/workflows/6aa5dcc9-cad7-49fa-8415-f3757838a2fe/jobs/10528

Your link points to test job on java11, which indeed skips that module

[2020-06-12 10:07] anuraaga commented on #504
Oops - that's the `maxJavaVersionForTests` it looked like a source compatibility thing and I ignored it :( Makes sense.

Does it make sense to remove the max version? For reference, I didn't even notice this since I use JDK 11 for development. Makes it a tiny bit harder for a contributor if they run into JDK version causing tests to be skipped ;)

[2020-06-12 10:09] iNikem commented on #504
I don't know any reasons why it shouldn't run on later java version. Lettuce documentation certainly does not forbid it. You can try running it on 11 and if it works, feel free to remove that constraint.

[2020-06-12 21:37] jkwatson opened #506 "Implement the new optional 'kind' attribute on the WithSpan annotation"
Now that this has merged in the java project:  https://github.com/open-telemetry/opentelemetry-java/pull/1318

[2020-06-13 02:38] trask opened #507 "Propagate the whole context instead of only the current span"
There are lots of places where we propagate the current span to another thread.

I think we need to change all of these to propagate the whole context instead.

E.g. https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/503#discussion_r439701517

[2020-06-13 02:42] trask opened #508 "db.instance parsing is not correct for some hsqldb jdbc urls"
`db.instance` for `jdbc:hsqldb:mem:hsdb;shutdown=true` is currently `hsdb;shutdown=true` instead of `hsdb`

See https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/503#discussion_r439700884 <-- btw, this code uses `jdbc:hsqldb:mem:hsdb?shutdown=true`, while the hsqldb docs i looked at use `;` as separator instead of `?` but maybe we need to support both separators(?)

[2020-06-13 09:11] #470 closed

[2020-06-13 18:58] trask opened #510 "Use "-all" for the agent with everything"
I'm warming up to the idea of using `-all` for the agent with everything (e.g. see https://github.com/open-telemetry/opentelemetry-java/pull/1323#discussion_r439708515).

If we do go this route, one question is should `-all` be a classifier, or should it be a separate artifact?

I think I've typically seen this as a separate `-all` artifact, e.g. `netty-all` and `grpc-all`, instead of as a classif

[2020-06-13 19:15] iNikem commented on #510
But classifier is added to jar name. Like `no-exporters` classifier currently.

[2020-06-13 19:17] iNikem opened #511 "More stable selection of exporter to use"
Isn't it quite normal to use the fully qualified class name when selecting an SPI implementation? SDK currently uses the approach too. It's guaranteed to be unique based on the nature of a Java classpath, while a name provided by a method has chances of collision which seems like something we don't want to deal with.

Having a hard-coded mapping from a short name to the fully qualified name for we

[2020-06-13 19:19] iNikem commented on #511
I like both options from the comment above:

- Select exporter by fully classified name of its factory
- Have hard-coded mapping of short names to factories

I probably would favour the second option, it is more user-friendly.

[2020-06-13 19:20] trask commented on #511
👍 to the user-friendly option

[2020-06-13 19:24] trask commented on #510
Yeah, it's only slightly different:

`opentelemetry-auto-all-0.4.0.jar`

vs

`opentelemetry-auto-0.4.0-all.jar`

I like the classifier approach, but it does seem different than the approach other projects have taken with their `all` artifact.

[2020-06-13 19:28] trask commented on #510
Btw, what do you think about the first question, whether to switch the default artifact from having all exporters to having no exporters, and replacing `-no-exporters` artifact with `-all` artifact?

[2020-06-13 19:36] iNikem commented on #510
I really don't think there is a huge difference. 95% of our users will download 1 artefact with everything included. And they will do that following our instructions `curl -O https://our_url_here`. Does not matter where that url points. Maybe it is less surprising to have this under `all` classifier indeed.

Regarding separate artefact or classifier. I think we use that approach which results in s

[2020-06-13 21:18] trask opened #512 "Update Intellij Save Actions configuration in CONTRIBUTING.md"
Remove these save actions:
* Add final modifier to local variable or parameter
* Add final modifier to local variable or parameter except if it is implicit
* Remove unused suppress warning annotation

The last one is so that the Save Actions won't auto-remove `@SuppressWarnings("unused")` from public methods that Intellij would otherwise flag as unused because we call them via reflection, e.g.

[c

[2020-06-14 06:11] anuraaga commented on #511
To clarify, I didn't mean to necessarily have two options :) We can accept both a fully qualified name (will be useful for people shading their own agent binary with a potentially custom exporter) and the short one to have and eat the cake

[2020-06-14 07:32] anuraaga commented on #510
Small +1 to renaming to all instead of no-classifiers. As @iNikem points out the ux seems the same, a link can point to any URL without changing the text. So the main advantage is I'd generally pick a shorter word if it means the same.

For artifact vs classifier, you can only publish one pom per artifact, regardless of classifier, so projects use it to have an artifact with a pom that depends on

[2020-06-14 07:42] anuraaga commented on #511
While talking about classifiers had a new thought. Instead of a set of short names, we don't really need any short names. How about automatically activating an exporter based on the presence of the endpoint flag, like `ota.otlp.endpoint`, `ota.zipkin.endpoint`? Currently we only load one exporter but it'd actually be sort of nice if we could just go ahead and enable all the exporters that users se

[2020-06-14 17:43] trask commented on #510
great point! even more sold on classifier now 😄

[2020-06-14 17:53] #498 closed

[2020-06-14 18:28] trask opened #517 "Sporadic test failure (13x): TomcatServlet3Test*"
New issue, different from #436

TomcatServlet3TestDispatchAsync:

[code]

https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-java-instrumentation/1314/workflows/2ad34987-b0fe-4dc0-9cee-5c5b40c70be7/jobs/10704/tests

TomcatServlet3TestDispatchImmediate:

[code]

https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-java-instrumentation/1309/workflows/3028f106-3f

[2020-06-14 18:31] trask opened #518 "Sporadic test failure (6x): KHttpClientTest"
[code]

https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-java-instrumentation/1314/workflows/2ad34987-b0fe-4dc0-9cee-5c5b40c70be7/jobs/10701/tests

https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-java-instrumentation/1407/workflows/435b9f2f-b54f-4e6f-8406-845bca2440e6/jobs/11356/tests

https://app.circleci.com/pipelines/github/open-telemetry/opentelemet

[2020-06-14 19:05] trask opened #519 "Add classLoaderMatcher() to opentelemetry-api instrumentation"
`classLoaderMatcher()` is an important matching optimization for all instrumentation.

Maybe it should be abstract in the base class to force all instrumentation to implement it?

The few that intentionally don't use it could just implement with the current base implementation:

[code]

[2020-06-15 03:26] trask commented on #519
I think I'm mistaken.

`classLoaderMatcher()` is only an important matching optimization for instrumentation that uses more expensive matchers like `implementsInterface()`, but is not important for instrumentation that uses cheap matchers like `named()`.

[2020-06-15 03:26] #519 closed

[2020-06-15 03:38] trask commented on #427
I think this is good to close, and we can open new issues for any future related work that arises.

Thanks @anuraaga!

[2020-06-15 03:38] #427 closed

[2020-06-15 04:46] #512 closed

[2020-06-15 04:47] #501 closed

[2020-06-15 04:55] #435 closed

[2020-06-15 07:12] #510 closed

[2020-06-15 18:55] trask opened #526 "Add recommendation on a smaller test suite to run before submitting a PR"
It takes a long time to run all of the tests locally.

It would be nice to add a recommendation to CONTRIBUTING.md on a smaller test suite to run before submitting a PR, and note that it's not a worry if CI uncovers any additional failured, just to look out for that (and a note about sporadic failures too).

See https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/479#discussi

[2020-06-15 18:58] iNikem commented on #526
I would really love to try #490 first. It may, in theory, reduce build times significantly for us.

[2020-06-15 20:01] jkwatson opened #528 "Sporadic test failure (3x): SpringTemplateJMS1Test"
[code]

https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-java-instrumentation/1341/workflows/69eb47e6-768d-46b9-bd9a-2ce73f86d440/jobs/10878/tests

https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-java-instrumentation/1349/workflows/706a5c59-70a1-40cf-8638-910db03c3f8b/jobs/10950/tests

[2020-06-15 20:02] jkwatson opened #529 "Sporadic test failure (3x): context.FieldBackedProviderFieldInjectionDisabledTest"
[code]

https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-java-instrumentation/1341/workflows/69eb47e6-768d-46b9-bd9a-2ce73f86d440/jobs/10875

https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-java-instrumentation/1351/workflows/c9012a0e-ce64-4946-964d-9432355e438e/jobs/10970/tests

https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-jav

[2020-06-15 20:06] jkwatson commented on #472
resolved by #525

[2020-06-15 20:06] #472 closed

[2020-06-16 00:19] trask opened #530 "Sporadic test failure (3x): CxfClient*Test"
[code]

https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-java-instrumentation/1349/workflows/706a5c59-70a1-40cf-8638-910db03c3f8b/jobs/10947/tests

https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-java-instrumentation/1373/workflows/a856798b-5954-458f-aab2-400011465899/jobs/11125/tests

https://app.circleci.com/pipelines/github/open-telemetry/opentelemet

[2020-06-16 00:45] #500 closed

[2020-06-16 00:58] trask commented on #394
Closing, this looks like duplicate of #475, which is done now 👍

[2020-06-16 00:58] #394 closed

[2020-06-16 01:05] trask opened #531 "Use standard exporter configuration from OpenTelemetry Java SDK"
And remove duplicate auto-instrumentation configuration, e.g.

change:

[code]

to:

[code]

Applies to all `SpanExporterFactory` and `MetricExporterFactory` implementations.

[2020-06-16 01:17] trask opened #532 "Question: align 0.x monthly release versions with Java SDK project (at least until GA)?"
Right now Java SDK releases 0.5 on the first monday of the month, and a week or two later we release Instrumentation 0.4 that is based on SDK 0.5.

While we are in this monthly beta release mode, I don't see a reason not to sync these version numbers (we release Instrumentation 0.5 that is based on SDK 0.5), and it could help with confusion, e.g. from gitter:

Thoughts?

[2020-06-16 01:48] trask commented on #310
I'm warming to this idea.

It would clean up our getting started doc.

Currently we use `<version>` as a placeholder, e.g.

[code]

Also, if we remove the version number in the Github Release attachment, then we can have a fixed "latest" download url that we can use in the getting started doc also:

https://github.com/open-telemetry/opentelemetry-java-instrumentation/releases/latest/download/opent

[2020-06-16 03:00] jkwatson commented on #532
I think will reduce some confusion, so 👍

[2020-06-16 05:35] anuraaga opened #534 "Muzzle bytecode runtime logs could be warnings, at least for tests"
I found that when writing new instrumentation, getting the unit test to be instrumented at all requires a few struggles with the muzzle

[code]

The visibility requirements of the business logic isn't so clear to me, but that's less of an issue than that I think these are always an indication of programming bugs in instrumentation but it's very hard to find them among a lot of debug output. So cou

[2020-06-16 10:57] iNikem opened #536 "Document muzzle"
The whole story around `muzzle` is extremely confusing, but one encounters it almost everywhere in this repo. It has 0 documentation and huge number of moving parts:

- Muzzle plugin in `buildSrc` folder
- Two muzzle plugins in `auto-tooling` module
- Muzzle task and its configuration
- Muzzle task's logs that one has to read and understand when muzzle task fails
- What does it mean "instrumentati

[2020-06-16 11:25] anuraaga commented on #536
+100 - getting a presentation from @trask helped me a lot but indeed there's so much muzzle around I do get re-lost.

Want to give credit for the help in working around the issues from reviewers but it's naturally not as scalable as us having a proper guide to muzzle. Based on the name, I assume it's originally datadog and I hope they can help us with documenting this to improve the contributor ex

[2020-06-16 18:44] #310 closed

[2020-06-16 20:45] trask commented on #536
I will take a first stab at this, and call in @tylerbenson for backup as needed

[2020-06-17 01:45] anuraaga commented on #490
@iNikem It will be quite nice if we can speed up the build using S3

AWS has a system for providing promotional credits to open source projects
https://aws.amazon.com/blogs/opensource/aws-promotional-credits-open-source-projects/

We're currently wondering whether CNCF's credits can be used to fund an S3 build cache. @alolita has been involved in these efforts to support OSS projects and will help

[2020-06-17 02:18] trask commented on #465
I think #507 is likely a prerequisite for this issue

[2020-06-17 13:48] tylerbenson commented on #465
@iNikem it sounds sensible to me, but do we have generic access to the context?

[2020-06-17 13:50] iNikem commented on #465
wdym? `Context.current` is always available, no?

[2020-06-17 16:42] blt opened #538 "@WithSpan spans do not inherit from getTracer spans"
I have a Java service that is instrumented extensively by `WithSpan` annotations and we've found this works very well with little effort. Thanks! Now, we want to provide more detail with the `getTracer` approach, mentioned [here](https://github.com/open-telemetry/opentelemetry-java-instrumentation#configure-the-opentelemetry-gettracer). Consider this bit of code, a readiness endpoint:

[code]

The

[2020-06-17 17:31] iNikem commented on #538
You are using Auto-Instrumentation javaagent, right? What version of it? Do you see any span named "healthy" with your current code? `@WithSpan` annotation from the code snippet above should have created a span named `healthy`. If you don't have such a span, it probably means that `WithSpan` does not work for you :( And span named `GET /-/ready` could have been created by auto instrumentation supp

[2020-06-17 17:37] blt commented on #538
Ah, yes, I should have clarified these details.

We are, version 0.3.0 with the jaeger exporter of the same. From our gradle setup:

[code]

Sure do. Here are the relevant screen shots:

<img width="1680" alt="Screen Shot 2020-06-17 at 10 35 53 AM" src="https://user-images.githubusercontent.com/3579/84930610-6aac3b80-b086-11ea-8933-977bdfc5afef.png">
<img width="1680" alt="Screen Shot 2020-06-17 a

[2020-06-17 17:45] iNikem commented on #538
Ahha, so this means that your manually created span, named `/-/ready`, does not participate in the ongoing trace. While span created by `WithSpan` joins it nicely, as your second trace demonstrate. I will investigate this further, probably tomorrow.

[2020-06-17 17:46] blt commented on #538
Great, thank you. Please let me know if and how I can lend a hand.

[2020-06-17 17:51] trask commented on #538
Hi @blt, what version of OpenTelemetry API are you using? `opentelemetry-auto-0.3.0.jar` will only work with OpenTelemetry API `0.4.0` (sorry if this is the issue, i think this is not documented anywhere, and definitely not obvious)

[2020-06-17 17:55] trask commented on #532
Should we release a `0.5.0` version soon to align earlier than the `0.6.0` version, and document that interop with manual instrumentation only works with the corresponding version OpenTelemetry API `0.5.0`?

See doc here: https://github.com/open-telemetry/opentelemetry-java-instrumentation#manually-instrumenting

See motivating issue here: https://github.com/open-telemetry/opentelemetry-java-instr

[2020-06-17 18:00] iNikem commented on #532
We may, but I don't have strong preferences.

[2020-06-17 18:06] blt commented on #538
@trask good question. We're using 0.5.0. I'll downgrade to 0.4.0 and report back.

[2020-06-17 18:45] blt commented on #538
@trask tell you what, that seems to be the issue. I downgraded to 0.4.0 and we see spans as expected.

[2020-06-17 19:28] iNikem commented on #538
@blt does this mean we can close this issue? Assuming that we will fix versions confusion in #532 :)

[2020-06-17 20:22] blt commented on #538
@iNikem oops, I thought I had closed this. Yes, problem solved.

[2020-06-17 20:22] #538 closed

[2020-06-18 05:45] anuraaga commented on #387
In #427 I have come up with a nice pattern for configuring the `TracerProvider` using the API's SPI for `IdsGenerator`. However, it's very limiting that this is basically the only thing we can configure.

https://github.com/open-telemetry/opentelemetry-java/blob/c558a9651b86b6b69a61a4cc7e9148991d59c03b/sdk/src/main/java/io/opentelemetry/sdk/trace/TracerSdkProvider.java#L162

It would be great if t

[2020-06-18 14:21] anuraaga opened #541 "Consider tweaking the build to only run tests for affected files."
I use this technique of reading the git diff to run tests in monorepos

https://github.com/curioswitch/curiostack/blob/master/tools/gradle-plugins/gradle-curiostack-plugin/src/main/java/org/curioswitch/gradle/plugins/ci/CurioGenericCiPlugin.java

This agent is even more of a monorepo than than many I've experienced :) I generally like them but think this sort of "only build affected targets" techn

[2020-06-18 14:45] iNikem commented on #541
I will repeat myself from #526 :)

"I would really love to try #490 first. It may, in theory, reduce build times significantly for us."

[2020-06-18 15:22] #408 closed

[2020-06-18 15:22] #504 closed

[2020-06-18 20:45] jkwatson opened #542 "Installing a metric exporter from an external jar fails when using the auto-instrumentation auto-all jar for the agent."
I get this message when trying to install:
[code]
and it proceeds to load the OTLP exporter.

Note 1: this works fine for a SpanExporter.
Note 2: it works if I don't use the opentelemetry-auto-all.jar, but instead just use the opentelemetry-auto.jar version.

[2020-06-18 20:57] trask commented on #542
I suspect we need to add a similar condition for `MetricExporterFactory` here:

https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/v0.4.0/agent-tooling/src/main/java/io/opentelemetry/auto/tooling/ExporterClassLoader.java#L68-L73

[2020-06-18 21:56] tylerbenson commented on #465
I thought we were trying to avoid direct access to the grpc context like that... isn't it more of an implementation detail?

[2020-06-18 23:26] shengxil commented on #387
+1
AWS X-Ray tracing relies on a remote sampler to load sampling rule from the server end. It would be helpful for us to preconfigure the sampler for the OT auto instrumentor for our customer.

[2020-06-18 23:44] trask commented on #465
context used to be an implementation detail, but got promoted in OTEP 66

[2020-06-18 23:59] jkwatson opened #545 "Support configuring the export interval for push-based MetricExporters"
Currently, the IntervalMetricReader is using the default interval of 60s. It would be really nice to be able to configure this for exporters.

[2020-06-19 05:59] anuraaga opened #546 "Build is often not incremental"
For a large sweeping change, I often run `./gradlew :instrumentation:test --parallel`. After running it many times, I have found that it is often, though not always, non-incremental. For example, I ran tests until the vertx test failed, and then made this change

https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/540/commits/dc1db7171faf7a70ce44412d225622778e8b5078

It only

[2020-06-19 06:02] anuraaga commented on #490
Filed #546 since I do notice the build rerunning itself for limited changes - I guess it blocks this issue since without solving that, Gradle build cache won't help since it'll be the same sort of cache miss. At some point will try running some build scans, we may want to enable them for the CI build too.

[2020-06-19 06:05] iNikem commented on #490
CI does use build scans already. You can see links to them from the CI console e.g. for all testXXX jobs.

[2020-06-19 06:07] anuraaga commented on #490
Oops I should have looked at the actual logs, saw the big SKIP_BUILDSCAN in the config 😅

[2020-06-19 06:08] iNikem commented on #542
@jkwatson Do I understand you correctly, that you used `-all.jar` and then tried to load metric export from the external jar?

[2020-06-19 07:21] anuraaga commented on #546
Got a scan of a build that should have been incremental

https://scans.gradle.com/s/27iduc4tkdg5a/timeline?details=nigbko62vlfpw
https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/540/commits/c85e8e7a95a552fe439774542d75dbf925433d3b

Thinking it's my setup and the build configuration is probably fine, noticed this

[code]

[2020-06-19 07:21] #546 closed

[2020-06-19 08:14] anuraaga opened #547 "Remove as many maxJavaVersionForTest = 8 as possible"
As far as I know, the build requires Java 9+ for use of the `--release` flag which is great. But it means that any test with `maxJavaVersionForTest = 8` does not run locally and increases back-and-forth with CI. I can't imagine much use case for limiting the test to Java 8 since I guess our instrumentation is supposed to work on all versions of Java 8+ anyways, so we should probably find and remov

[2020-06-19 13:00] iNikem commented on #547
You do know that you can run tests locally on any java version, right ? :) `./gradlew testJava8`, as described in CONTRIBUTING.md

[2020-06-19 14:36] anuraaga commented on #547
Nope I skimmed ;) I guess that means it's not impossible but it is tedious, I don't there is a one click way to run a test using those tests in IntelliJ, the options I get are `test` and `testLatestDep`. So still recommend removing this flag to make things simpler.

[2020-06-19 15:55] jkwatson commented on #542
Yes, sorry. I realize reading this that that wasn't 100% clear.

[2020-06-19 19:51] trask opened #549 "Add gradle setup info to CONTRIBUTING > Intellij"
And note issue here: https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/546#issuecomment-646481613

[2020-06-20 23:51] trask opened #552 "Run Cassandra instrumentation tests on all Java versions (not only Java 8)"
Currently, during the Cassandra instrumentation tests, Cassandra itself is run embedded in the JVM via Cassandra Unit, which limits us to using Java 8 for those instrumentation tests.

Instead, it would be nice to run Cassandra in a container, which would then allow us to test Cassandra instrumentation against all Java versions.

Being able to run external containers would probably be useful for o

[2020-06-21 08:42] iNikem commented on #552
Unless there is a very good reason for doing otherwise, I prefer using Testcontainers instead of externally runs containers.

[2020-06-22 04:51] trask commented on #552
Testcontainers requires Java 8+ ☹️.

What do you think about abandoning Java 7 for instrumentation tests, and only validating Java 7 compatibility via (more limited) smoke tests (#298)?

[2020-06-22 09:12] anuraaga opened #555 "Allow configuring a mapping from endpoint to a service name"
It is generally important for a user to be able to specify a peer service name for each client they use in an app. For example (this example will apply to many different databases), a user may access two caches with Redis, `CatCache` and `DogCache`. In Redis, it is not uncommon for an endpoint to be defined as an IP address. This means that spans will have `net.peer.ip` set to this IP address and

[2020-06-22 14:01] devinsba commented on #552
If someone gets this working I'd be so happy to upstream this change into the DD code base. I gave it a short try one afternoon but haven't had the time otherwise

[2020-06-22 14:27] iNikem commented on #552
Otel-java has done that. It is very tempting, especially for a person thinking that we should drop java 7 compatibility completely :)

[2020-06-22 15:00] anuraaga opened #557 "khttp client instrumentation missing user agent"
I couldn't find how to extract user agent for a khttp client request. Assume it's available somewhere but not just by examining the request, will require some investigation and possible circumventing our normal request decorators.

Reference https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/540#pullrequestreview-434999059

[2020-06-22 23:24] trask opened #559 "Propagate trace headers on Apache HttpAsyncClient redirects"
Currently this only works when using W3C context propagator.

See TODO marker in ApacheHttpClientRedirectInstrumentation.

[2020-06-23 02:09] trask commented on #552
I added the topic to this week's [meeting agenda](https://docs.google.com/document/d/1WK9h4p55p8ZjPkxO75-ApI9m0wfea6ENZmMoFRvXSCw)

[2020-06-23 02:16] trask commented on #547
Linking #552, which is for removing `maxJavaVersionForTest = 8` from Cassandra instrumentation

[2020-06-23 04:30] trask opened #560 "Consolidate src/main/java8 and src/main/java9 into src/main/java"
After #390, I think we can now consolidate src/main/java8 and src/main/java9 into single src/main/java.

For background: these source folders used to be separate and compiled with different target Java versions, so that instrumentation classes themselves would always be Java 7 compatible.

But now we wrap loading of the instrumentation classes themselves with try / catch `UnsupportedClassVersionEr

[2020-06-23 06:38] anuraaga commented on #555
Warming back up to having the config as well - while it will miss some cases it's true that we should get what we can without app modifications before resorting to them.

Though another realization I had is it's common for things like elasticsearch, cassandra, to only input 1-2 IPs and get the rest from the cluster, making the static mapping problem even more challenging ><

[2020-06-23 11:24] iNikem commented on #555
First, I am not sure I quite understand "With manual instrumentation, users would generally set CatCache, DogCache as service names when registering each client with a tracer". Can you point me to the corresponding API method?

Second, I am not sure this functionality should live in agent as opposed to Collector. Collector could use the whole span to determine the desired service name. E.g. in cas

[2020-06-23 11:44] iNikem commented on #534
@anuraaga the title suggests that you want to _decrease_ log level from ERROR to WARNING. But actually you want to _increase_ it from DEBUG to WARNING, right?

[2020-06-23 12:04] anuraaga commented on #555
TBH I don't know if there is a great API in otel Java yet since we usually use auto instrumentation, but with Brave there's always a way to set the service name like here

https://github.com/aws-samples/aws-xray-sdk-with-opentelemetry-sample/blob/both-otel-and-xray/frontend/src/main/java/com/softwareaws/xray/examples/Application.java#L111

Services that use path, gRPC is also a famous one, are rel

[2020-06-23 12:08] iNikem commented on #555
If there is no such functionality in manual instrumentation (meaning otel-java), than IMO it is wrong to add this here but not there. Users should be able to get everything without the requirement to use byte code manipulation if they choose so.

[2020-06-23 12:14] anuraaga commented on #534
Yup sorry didn't mean error in the logging sense but in the instrumentation code is broken sense :)

[2020-06-23 12:20] anuraaga commented on #555
Well I don't think something like that would live in the SDK itself but in instrumentation. I would say the closest example we have is customization of kind here

https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/master/instrumentation-core/aws-sdk/aws-sdk-2.2-core/src/main/java/io/opentelemetry/instrumentation/awssdk/v2_2/AwsSdk.java#L66

If we had more manual instrumentat

[2020-06-23 12:26] iNikem commented on #555
Still not convinced :) @trask @tylerbenson @jkwatson what do you think?

[2020-06-23 13:04] malafeev opened #564 "OTLP Exporter customization"
Next required configuration options are missing:
- setDeadlineMs
- useTransportSecurity instead of usePlaintext
- insert values into `Metadata headers` (in `ClientInterceptor`)

[2020-06-23 13:06] malafeev commented on #564
please assign issue to me

[2020-06-23 15:26] iNikem commented on #542
@jkwatson what jar have you provided to the agent? I am currently unable to reproduce your problem:

[code]

As my external jar has only metric exporter, I find the above behaviour expected until #496 is fixed.

[2020-06-23 15:48] jkwatson commented on #542
Try this one here:  https://repo1.maven.org/maven2/com/newrelic/telemetry/opentelemetry-exporters-newrelic-auto/0.5.1/opentelemetry-exporters-newrelic-auto-0.5.1.jar

[2020-06-23 16:35] trask opened #566 "Provide hooks for vendor-specific customization"
Some things vendors would like to be able to provide without having to fork this repo:

* ✅Custom configuration story
* Custom logging story
* ✅Custom IdsGenerator
* ✅Custom Resource
* ✅Custom Propagator

[2020-06-23 16:40] iNikem commented on #566
In addition:
* Add new instrumentation
* Override any existing instrumentation
* Add attributes to existing instrumentation's spans

[2020-06-23 16:44] trask commented on #555
@iNikem are you not convinced about the `peer.service` specification proposal (https://github.com/open-telemetry/opentelemetry-specification/pull/652), or this particular implementation of it?

[2020-06-23 16:46] jkwatson commented on #555
I'd like the instrumentation group to explore the possibility of having auto-instrumentation that also allows programmatic, runtime configuration added to it, via callbacks, or instrumentation hooks (or something akin to those). I'd rather not bake that sort of thing into the SDK itself unless we have to.

[2020-06-23 16:47] iNikem commented on #555
Attribute is good, no objection here. I just don't think configuration of "ip -> service name" mapping in agent is the best place for it.

[2020-06-23 18:00] iNikem opened #568 "Replace google-java-format Gradle plugin with spotless"
We use spotless plugin for automatically adding license header to files. As it also can apply google java format, there is no need to use 2 plugins. We can drop the latter.

[2020-06-23 18:11] devinsba commented on #568
:+1: this should come over in the 0.56 merge I would expect: https://github.com/DataDog/dd-trace-java/pull/1619

[2020-06-23 18:39] trask commented on #566
Also:

* Custom sampler - https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/387#issuecomment-646354195

[2020-06-23 18:50] iNikem commented on #507
@trask do you have any suggestions how can I find these "lots of places"?

[2020-06-23 19:14] trask commented on #507
look for calls to `Span.Builder.setParent(Span)` (there aren't too many of these)

and look for calls to `TracingContextUtils.currentContextWith(Span)` (unfortunately there are lots of these that are not relevant to this issue, not sure how to filter these better)

[2020-06-23 19:35] #542 closed

[2020-06-23 22:55] tylerbenson commented on #555
I also feel an ip -> service mapping is not great.  Seems difficult to configure and maintain in any moderate sized environment.

[2020-06-23 23:07] anuraaga commented on #555
Yeah I mentioned my issues with the approach of mapping too ;) But it's the only approach I could find that holds the principle of agents, no modification to user apps. It doesn't solve complex cases but it does do fine with simpler ones.

But I'm happy with focusing on a programmatic approach if that's not necessary - it was my first suggestion :)

[2020-06-24 00:59] trask commented on #564
Hi @malafeev! Can you look at adding this configuration directly to the OTLP exporter? E.g. it already supports `OTEL_OTLP_SPAN_TIMEOUT` which maps to `deadlineMs`.

And check out #531, where we still need to transition this project over to the new(-ish) standard exporter configuration.

[2020-06-24 01:53] anuraaga commented on #568
Hehe yeah I've been hitting this a lot lately.

[2020-06-24 02:02] anuraaga opened #570 "Run CI check in parallel with build"
From what I understand, the CI runs tests after building the agent jars so it can be built once with JDK11 and used to run tests on many JVMs. I guess this isn't necessary for check - does it make sense to run check in parallel with build for slightly faster turnaround time?

[2020-06-24 04:38] iNikem commented on #570
It does not decrease total CI time, because check is quite fast compared to tests and muzzle.

[2020-06-24 04:40] trask commented on #570
I think @anuraaga means quick feedback in the (all too common :joy:) case that we submit PRs that fail `check`

[2020-06-24 04:49] anuraaga commented on #570
Yup!

[2020-06-24 04:50] iNikem commented on #570
Got it. Makes sense now.

[2020-06-24 04:55] trask commented on #555
It's nice to have a codeless option for people who don't want to modify their application.

We can still layer a programmatic approach on top of that for people who outgrow the codeless option.

[2020-06-24 08:50] anuraaga opened #571 "Recent commits not running publish_master"
Guessing it's related to the upstream branch merge but publish_master (snapshot publish) doesn't seem to be running recently.

https://github.com/open-telemetry/opentelemetry-java-instrumentation/runs/801903965

[2020-06-24 16:46] #571 closed

[2020-06-24 19:25] trask opened #575 "Calling span.updateName() to set route should be done on the SERVER span"
Currently we don't have access to top-most (SERVER) span, so we use parent span in several places.

This will require #465 to be implemented first.

[2020-06-25 00:52] trask commented on #135
Linking in #163, for a few remaining module renames we may want to consider before publishing to maven central

[2020-06-25 03:58] trask opened #578 "Sporadic test failure (2x): Netty38ClientTest"
[code]

https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-java-instrumentation/1502/workflows/9df6756f-1b04-4b7d-bb6d-80ec4c61f308/jobs/11942/tests

https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-java-instrumentation/1569/workflows/d3d442a3-3dce-4e44-8fd2-ec4d0a22705e/jobs/12325/tests

[2020-06-25 04:39] #545 closed

[2020-06-25 04:52] iNikem commented on #135
Let us discuss open naming questions on SIG meeting and then I will make remaining renames as well.

[2020-06-25 06:35] iNikem opened #579 "Review RequestDispatcherAdvice"
It is quite confusing at the moment.

First, it seems to do something similar to `Servlet3Advice` rescoping check, but in very different way. Have to check if they can be unified.

Second, it replaces `CONTEXT_ATTRIBUTE` in the current request. This seems to beat the original purpose of that attribute: to server as a marker that this request is already being taken care of. And/or to hold `SERVER`

[2020-06-25 07:49] anuraaga opened #580 "Agent now tries to check that it is the class that's registered in the manifest"
With the downstream merge, there is now a check that the main class declared in the manifest is the agent class

https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/master/java-agent/src/main/java/io/opentelemetry/auto/bootstrap/AgentBootstrap.java#L182

This seems to prevent the use case of redistributing the agent where we delegate to that `AgentBootstrap` but have our own

[2020-06-25 10:32] iNikem commented on #580
That check is made to prevent _accidental_ inclusion of instrumentation agent into end-user's application's fat jar. It is totally OK IMO if purposeful repackaging can easy silence that check :)

[2020-06-25 10:38] anuraaga commented on #580
Ah ok I get it now - it's probably why main class was even set in the first place. Then I think it's fine it's easy to deal with for repackagers.

[2020-06-25 15:13] devinsba commented on #578
seems like the random port number utility picked a port number that is too low (<1024)

[2020-06-26 05:19] #570 closed

[2020-06-26 15:40] iNikem commented on #163
`spring-web-mvc` seems to be like official name, or even just `spring-mvc`. The other one is then `spring-webflux`. From https://docs.spring.io/spring/docs/current/spring-framework-reference/web.html#spring-web:

[2020-06-26 17:20] iNikem commented on #507
@trask I propose to close this issue now. If there are more places left, they can be addressed on an ongoing basis

[2020-06-26 19:13] trask opened #586 "Move :instrumentation:servlet parent module contents to a submodule"
This is the only example where there's a parent module with content _and_ child modules (outside of cases where the child modules are only test modules).

The other prior examples were moved into, e.g. `mongo-common`, but the servlet parent module is slightly different because it has standalone instrumentation.

This would be good to resolve before we publish to maven central.

[2020-06-26 19:26] trask commented on #163
👍 to keeping the existing `spring-webmvc`, which matches the spring artifact name

[2020-06-26 19:52] trask commented on #507
👍

[2020-06-26 19:52] #507 closed

[2020-06-27 05:57] #135 closed

[2020-06-27 19:16] trask opened #588 "Document InstrumentationContext in CONTRIBUTING"
This is an important part of the codebase that is super non-obvious.

Compare/contrast with Context (and some instrumentation keep some state in, e.g. HttpRequest attributes as well. So we have at least 3 options. How a developer should choose which one of them to use?)

ref to gitter discussion: https://gitter.im/open-telemetry/opentelemetry-java-instrumentation?at=5ef7a1ceb8152d3484697a86

[2020-06-27 19:26] trask opened #589 "Split CONTRIBUTING into multiple docs"
This is document is already large, and we have much more to add/document for contributors.

Ideas for sub-docs (based on current content and open doc issues):
* Building
* Testing
* Intellij configuration
* Module overview
* Agent jar structure
* Muzzle
* InstrumentationContext

[2020-06-28 00:10] trask opened #590 "Remove -XX:MaxMetaspaceSize=1g from gradle.properties"
This was probably a carry over from `MaxPermGen` and no longer applicable.

Not submitting this change just yet to avoid merge conflict with #583.

[2020-06-28 02:57] trask opened #592 "Remove final from local variables"
We decided against `final` on local variables recently, and updated the Intellij save actions doc recently (#512).

It would probably be good to go ahead and remove `final` from existing local variables so that it's not confusing which style we are following.

[2020-06-28 03:18] trask opened #593 "Remove HttpClientTest.READ_TIMEOUT_MS"
Having a small-ish value for `HttpClientTest.CONNECT_TIMEOUT_MS` is helpful to keep the connection error tests from taking a long time (the tests that attempt to connect to `http://www.google.com:81`) .

But I'm not seeing why we need to override the default readTimeout everywhere with `HttpClientTest.READ_TIMEOUT_MS`.

[2020-06-28 03:58] trask opened #594 "Instrumentation documentation for users"
For each instrumentation, document what it captures, including span names and span attributes.

Also document any configuration options.

One option for doc structure: README.md files inside each instrumentation module, with a central "table of contents" that has links into all of the individual README.md files

[2020-06-28 03:58] trask commented on #233
Closing. Replaced now by #594.

[2020-06-28 03:58] #233 closed

[2020-06-28 04:07] trask opened #595 "Run benchmark from CI once a week"
Run both `coldstart` and `runtime` benchmark from:

https://github.com/trask/agent-benchmarking

These spin up a number of Azure App Service VMs and report average and median in order to get a more stable result than you can get on a single cloud machine.

On each VM, the tests alternate enabling/disabling the agent, capturing the overhead that enabling the agent incurs.

[2020-06-28 04:23] trask opened #596 "Document test scaffolding"
Document test scaffolding to help new contributors.

E.g.

* test hierarchy (`HttpClientTest`, `HttpServerTest`, etc)
* span verification
* `AgentTestRunner` (retransforming classes)

please anyone add to this list

[2020-06-28 05:01] trask opened #597 "Better structure for the repo to accommodate different clients' needs"
Rename `agent-bootstrap` directory to `auto-bootstrap`, and rename `agent-tooling` directory to `auto-tooling`.

[2020-06-28 05:05] trask opened #598 "Rename "tags" to "attributes""
Span "tags" is leftover terminology from OpenTracing, we should update to use OpenTelemetry terminology span "attributes".

[2020-06-28 05:35] anuraaga commented on #598
To confirm, I think this means replacing code that uses `SpanTags` with `SemanticAttributes`?

[2020-06-28 06:03] trask opened #599 "Should we drop Java 7 support?"
The NewRelic team pointed us to [their blog](https://blog.newrelic.com/technology/state-of-java/), published in March 2020, that shows only 2.5% of Java applications sending data to them are running Java 7.

Plus, I would guess that many applications on Java 7 are just in maintenance mode at this point (and so not tinkering with application monitoring).

Plus, the blog numbers were published in Ma

[2020-06-28 06:13] anuraaga commented on #599
My main concern is Android, I'm not sure how to interpret their support for Java 8

https://developer.android.com/studio/write/java8-support?hl=el

It seems that the latest Gradle plugin supports a lot, but not all, of Java 8 APIs. Don't know how easy it is for users of the old plugin to upgrade, or how common it would be us to accidentally use a Java 8 API that isn't covered by their translation

[2020-06-28 06:13] trask commented on #598
I had only been thinking of renaming stuff, e.g.

* SpanAssert.tags() → SpanAssert.attributes()
  * (this will change tons of places, all of the `tags { ... }` in tests)
* io.opentelemetry.auto.instrumentation.api.Tags → io.opentelemetry.auto.instrumentation.api.Attributes

But totally, no point in renaming `io.opentelemetry.auto.instrumentation.api.Tags`, when we should just delete it and use `Se

[2020-06-28 06:20] anuraaga opened #600 "Don't require updating branch to master when merging"
I find it to take a lot of time to have to update the branch before merging since the tests take a while. The downside of not doing this is on occasion, there will be a master build breakage due to getting out of sync in a way it breaks without causing a merge conflict. In my experience this has been rare enough that there would probably be a net productivity boost by reacting to a master build br

[2020-06-28 07:52] iNikem commented on #600
It may be a good idea, but it requires somebody to monitor master branch builds a reacting to their breaking. Could you suggest a process about that as well?

[2020-06-28 07:54] iNikem commented on #598
Not all Tags, and even more so MoreTags, come from semantic conventions

[2020-06-28 07:57] iNikem commented on #597
Or rename module names? :) Why auto is better than agent?

[2020-06-28 07:58] iNikem commented on #595
Are you sure about running this on every merge? My concern is the cost :) May be run once a week?

[2020-06-28 19:07] trask opened #602 "What to do about instrumentation-specific span attributes?"
We currently capture lots of instrumentation-specific span attributes that are not defined by semantic conventions.

Questions:
* Should we only capture span attributes that are defined by semantic conventions?
* Should we propose instrumentation-specific span attributes (e.g. for `aws-sdk`, `elasticsearch`, etc) in an attempt to have consistency for these across languages?
* Is there naming conve

[2020-06-28 19:08] #518 closed

[2020-06-28 19:10] trask commented on #598
It looks like all of `io.opentelemetry.auto.instrumentation.api.Tags` can be replaced by `SemanticAttributes`.

In `MoreTags`, it looks like these particular attributes can be replaced with `SemanticAttributes`:
* `net.peer.name`
* `net.peer.ip`
* `net.peer.port`
* `rpc.service`

and we can rename `MoreTags` to `MoreAttributes` for now until we decide what to do with non-standard attributes.

[2020-06-29 01:46] anuraaga commented on #602
I think the reality is we'll need instrumentation-specific attributes to capture instrumentation domain-specific issues that are important for observability. Prefixing seems like a good idea (e.g., agree that the kafka instrumentation should do `kafka.tombstone` instead of just `tombstone`. Having these spec'd would be even nicer to allow them to be consistent across languages, I've already seen t

[2020-06-29 01:51] anuraaga commented on #600
I don't know if there's much more process than reviewers in the repo getting CircleCI notifications for failure and checking when they notice. Worst case is next time someone sends a PR they'll realize anyways. It's not the best process, but it's based on the premise that it's pretty rare, I think out of a few active repos, I've seen it just twice or so in a few years. Any anecdotal sense on how o

[2020-06-29 01:51] trask opened #605 "A few more module naming suggestions before publishing"
* `opentelemetry-aws-sdk-2.2-core` ➡️ `opentelemetry-aws-sdk-2.2`
* `vertx` ➡️ `vertx-3.0`
* `vertx-reactive` ➡️ `vertx-reactive-3.5`
* `opentelemetry-auto-trace-annotation` ➡️ `opentelemetry-auto-annotations`
* split `elasticsearch-common` into `elasticsearch-rest-common` and `elasticsearch-transport-common`

[2020-06-29 02:04] anuraaga commented on #597
I'm happy with any that make the folder / gradle task match up, including just `bootstrap` and `tooling`. The actual archive names generally aren't important during normal development so I've always found it annoying when the tasks don't match up with the folder names and I have to look up what the actual name is supposed to be in a file. Instead, using `archivesBaseName` to tweak the archives to

[2020-06-29 02:22] trask commented on #600
Good idea.

I will go ahead and make this change, in particular because it will help reduce CircleCI cost (which hit $1100 in June).

I just set up CircleCI notifications so I should get email on any build failure, and will monitor. I agree (non-sporadic) build failures on master should be rare. And this will keep us on top of the sporadic failures on master, which I've currently been ignoring.

A

[2020-06-29 02:27] trask commented on #600
Done, let's see how it goes.

[2020-06-29 02:27] #600 closed

[2020-06-29 02:29] anuraaga commented on #597
Let me add here instead of filing a new issue for now, it might be alleviated by naming or similar.

I currently find the distinction between bootstrap and tooling to be confusing. I'd expect classes like `TracerInstaller` to be in bootstrap, and others like `ClientDecorator` to be in tooling. I feel like every time I'm looking for a class I look in the wrong one first :)

Should more of tooling b

[2020-06-29 02:37] trask commented on #597
oh ya, `bootstrap` is stuff that goes in the bootstrap class loader, not stuff that is used for bootstrapping the agent

it would be nice for that to be more self-explanatory

some initial thoughts for a more descriptive name: `bootstrap-class-loader`, `bootstrap-cl`, `global`, `global-namespace`, ...

[2020-06-29 05:07] #434 closed

[2020-06-29 05:28] iNikem commented on #602
Below is my understanding of the ideal world:

* All attributes have a clear use-case explaining their existence
* All attributes are defined in semantic convention
* All attributes are documented

While point 2 from above is harder to achieve, point 1 and 3 are more under our control. So in order to bring new attribute in we have to understand the use-case and then document it.

[2020-06-29 05:35] anuraaga commented on #602
Definitely +1 to all attributes are documented, it's a clear bar to set and will naturally lend to point 1 and maybe point 2 depending on the attribute.

[2020-06-29 07:31] trask commented on #595
Agree, will plan to start with once a week. Then we can run the benchmark for longer across more machines and get a more stable result.

[2020-06-29 08:04] anuraaga opened #608 "Verify actual status instead of just errored"
OTel spans have a status with different codes but many of our tests only test success vs error. We should migrate to asserting on the status instead.

[2020-06-29 08:27] iNikem commented on #605
What should we do with `instrumentation-core` folder? Probably the most sensible thing is to rename it to `instrumentations` and move current content of `instrumentation` folder into `instrumentations/auto`

[2020-06-29 08:28] anuraaga commented on #605
That seems like a simple change to make, but what do you think about long term? I was thinking we might end up with structure like

[code]

If this seems like a good long term, maybe should just go straight for it.

[2020-06-29 08:33] iNikem commented on #605
Not sure about `core`, but this "pivoting" of folder structure seems interesting. I wonder how different `common` modules will pay out.

[2020-06-29 20:28] #605 closed

[2020-06-29 20:53] trask opened #612 "Sporadic test failure (1x): MongoClientTest"
[code]

https://12570-210933087-gh.circle-artifacts.com/0/reports/instrumentation/mongo/mongo-3.1/tests/test/classes/MongoClientTest.html

[2020-06-29 22:46] trask opened #614 "aws-sdk manual instrumentation currently depends on internal agent module"
This needs to be solved for all manual instrumentation, `aws-sdk` is just our first one so far.

Proposal

* Create `HttpClientTracer` to replace `HttpClientDecorator` (similar to `HttpServerTracer` and `DatabaseClientTracer`)
* Move these new "instrumentation tracers" to a new module
* Use this new module in both auto and manual instrumentation
* Shade this new module inside of the agent, so it d

[2020-06-29 23:55] trask commented on #597
trying to think about `auto-bootstrap` vs `agent-bootstrap`...

(setting aside temporarily whether/how to rename `bootstrap` and `tooling`...)

i think `auto` goes better with the current `groupId`, e.g.

* `io.opentelemetry.instrumentation.auto:opentelemetry-javaagent`
* `io.opentelemetry.instrumentation.auto:opentelemetry-auto-bootstrap`
* `io.opentelemetry.instrumentation.auto:opentelemetry-aut

[2020-06-30 00:24] trask commented on #597
as far as naming for the `bootstrap` module, most of it looks like it would belong in an `instrumentation-api` module:
* io.opentelemetry.auto.bootstrap.instrumentation.**
* io.opentelemetry.auto.bootstrap.instrumentation.api.*
* io.opentelemetry.auto.bootstrap.config.Config
* io.opentelemetry.auto.bootstrap.CallDepthThreadLocalMap

and we need an `instrumentation-api` module anyways for people wh

[2020-06-30 00:26] trask commented on #597
added to `v0.6.0` since we are discussing changes to published groupIds/artifactIds

[2020-06-30 00:48] anuraaga commented on #597
Yup was also leaning towards splitting out more modules.

I think the instrumentation APIs can live with the instrumentation, so my idea would be

The agent
- io.opentelemetry.javaagent:opentelemetry-javaagent
- io.opentelemetry.javaagent:opentelemetry-javaagent-acl (don't know about these two names though unless we're going to add `ccl` >D)
- io.opentelemetry.javaagent:opentelemetry-javaagent-bcl

[2020-06-30 08:46] anuraaga opened #616 "Make artefacts from "depends-on-otel-java-snapshot" branch available for download"
Just a strawman's idea, don't feel too strongly about it.

I usually work on code for the OTel collector by targeting an agent instrumented app at it and seeing how things show up. Recently, there was a breaking change in OTLP proto, so until that propagates through SDK and agent, the agent can't be used with the master collector, which is where I'd do development. Until it does, I'm praying that

[2020-06-30 13:36] iNikem commented on #560
Closed by #617

[2020-06-30 13:36] #560 closed

[2020-06-30 15:35] malafeev commented on #564
waiting for release of opentelemetry-java with merged https://github.com/open-telemetry/opentelemetry-java/pull/1373
although it can be fixed as part of #531

[2020-07-01 01:49] trask commented on #616
have you seen the `depends-on-otel-java-snapshot` branch? https://github.com/open-telemetry/opentelemetry-java-instrumentation/tree/depends-on-otel-java-snapshot

the idea is we can do development work on that branch to keep up to date with otel-java snapshot

we have a nightly builds running on that branch: https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-java-instrumentatio

[2020-07-01 01:51] anuraaga commented on #616
Ah didn't notice that branch! Yeah it seems like if it ran build that'd be good enough for this issue. Don't think it has to go to maven

[2020-07-01 03:21] anuraaga opened #619 "Sporadic test failure (4x) testDisabledFieldInjection"
[code]

[code]

https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-java-instrumentation/1627/workflows/7eb7680f-a8a0-43ee-b4df-539992b4ca67/jobs/12686

[2020-07-01 03:27] anuraaga opened #620 "Sporadic build failure: stream closed when muzzling"
https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-java-instrumentation/1629/workflows/e2ca7935-0d43-4fec-9d89-8440e014faa3/jobs/12696

[code]

[2020-07-01 03:32] trask opened #621 "Restructure instrumentation "-common" modules before publishing?"
We have the following instrumentation "-common" modules:

* elasticsearch-rest-common
  * no dependency on bytecode
* elasticsearch-transport-common
  * no dependency on bytecode
* hibernate-common
  * has dependency on `ContextStore`
* mongo-common
  * no dependency on bytecode
* play-ws-common
  * has bytecode instrumentation
* servlet-common
  * no dependency on bytecode

The ones that do not d

[2020-07-01 17:49] trask commented on #580
Re-opening to see if we can come up with a better solution than hardcoding a strange `Main-Class` in `META-INF/MANIFEST.MF`.

[2020-07-02 03:07] anuraaga opened #625 "Sporadic test failure: akka-testing"
https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-java-instrumentation/1639/workflows/4575e8c7-aa19-4447-a4c6-bc7d8a1983db/jobs/12743/tests

`:instrumentation:java-concurrent:akka-testing:test`

[code]

[2020-07-02 04:30] trask commented on #625
this looks like a duplicate of #443, i've been tagging issues with "sporadic test failure" label, so you can look across them easily: https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues?q=is%3Aissue+is%3Aopen+label%3A%22sporadic+test+failure%22

[2020-07-02 04:31] trask commented on #625
and for the most part naming them using the class name to help with finding/incrementing duplicates

[2020-07-02 04:31] anuraaga commented on #625
Oops, sorry, good point to look at the label, and not just expect it on the first page of the list >D

[2020-07-02 04:31] #625 closed

[2020-07-02 05:27] anuraaga opened #627 "Sporadic test failure VertxRxCircuitBreakerWebClientTest"
https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-java-instrumentation/1640/workflows/3672638d-be57-48bf-97b4-4fa921ec7133/jobs/12754

[code]

[2020-07-02 19:18] trask opened #629 "Apply net.peer.name, net.peer.ip and peer.service consistently"
It looks like there are ~10 places that set `net.peer.name` and `net.peer.ip`.

It would be good if we can funnel all of those through a central method to make sure that we:
* Don't set `net.peer.name` if it's the same as `net.peer.ip`
* Apply `peer.service` mapping

[2020-07-05 12:33] iNikem commented on #597
Don't we overthink this too much? The distinction of `tooling` and `bootstrap` modules is described (quite well IMO :) ) in `CONTRIBUTING.md`. There are two separate modules for the sole reason of simplifying their packaging and separation into different classloaders. One of them is exposed to the actual host application, another is well hidden.

I don't see any need neither for a new groupId nor

[2020-07-05 12:36] iNikem commented on #616
@anuraaga do I understand it correctly, that after the discussion above this issue really means building actual artifacts from `depends-on-otel-java-snapshot` branch during nightly builds?

[2020-07-05 12:56] anuraaga commented on #616
Yup think that's right

[2020-07-05 13:47] iNikem commented on #568
Fixed by #583

[2020-07-05 13:47] #568 closed

[2020-07-05 14:13] anuraaga commented on #597
I feel as if an app that uses manual instrumentation, possibly for security reasons, would be quite surprised to see an Agent packed into their app. There may be no real concern without the tooling package available for it to reflect into, but I can imagine users asking about this in the future.

Don't you think it's a clear separation of concerns between bootstrap classloader classes for loading

[2020-07-06 12:30] malafeev commented on #593
based on submitted PR looks like removing makes tests more unstable.

[2020-07-06 13:24] malafeev opened #637 "Add support for TraceMultiPropagator"
opentelemtry 0.6 comes with [TraceMultiPropagator](https://github.com/open-telemetry/opentelemetry-java/blob/master/extensions/trace_propagators/src/main/java/io/opentelemetry/extensions/trace/propagation/TraceMultiPropagator.java#L60)

current [PropagatorsInitializer](https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/master/agent-tooling/src/main/java/io/opentelemetry/auto

[2020-07-06 13:26] malafeev commented on #637
please assign issue to me

[2020-07-06 13:28] #590 closed

[2020-07-06 14:36] malafeev commented on #598
It's a huge task.
Replacing `io.opentelemetry.auto.instrumentation.api.Tags` by `SemanticAttributes` will be manual.

E.g. convert `Tags.HTTP_URL` to `SemanticAttributes.HTTP_URL`:
[code]
should be replaced by
[code]
etc.

a lot of manual work.
I think task should be splitted.

[2020-07-07 07:21] anuraaga commented on #430
Hate this test :)

[2020-07-07 08:02] RashmiRam commented on #566
I am looking for this. @iNikem Do you want me to create a separate issue for this?

[2020-07-07 12:19] malafeev commented on #593
can be closed.

[2020-07-07 12:20] malafeev commented on #598
I can do one by one renaming, please assign to me if OK.

[2020-07-07 12:22] iNikem commented on #593
@malafeev just in case you don't know it yet: https://docs.github.com/en/github/managing-your-work-on-github/linking-a-pull-request-to-an-issue#linking-a-pull-request-to-an-issue-using-a-keyword

[2020-07-07 12:22] #593 closed

[2020-07-08 03:36] #488 closed

[2020-07-08 04:03] #598 closed

[2020-07-08 04:52] iNikem commented on #566
@RashmiRam I am afraid I don’t understand your question

[2020-07-08 05:28] RashmiRam commented on #566
Sorry If I am not being clear. I assumed that the above comment from you & question from me in Gitter https://gitter.im/open-telemetry/opentelemetry-java-instrumentation?at=5efefb93bb149531ede7d726 is similar. Is it not?

[2020-07-08 06:22] iNikem commented on #566
Ah :) If your need is for vendor-specific auto-instrumentation, then indeed this issue seems to cover that. I was under impression that you wanted for an option for manual instrumentation to add attributes to spans created by auto-instrumentation. I think they are somewhat different things.

[2020-07-08 07:27] RashmiRam commented on #566
Yes. You are right. I was specifically looking for an option for manual instrumentation to add attributes to spans created by auto-instrumentation. Can't it be achieved by vendor specific customization too?

[2020-07-08 07:30] iNikem commented on #566
Don't know yet :)

[2020-07-08 23:43] #586 closed

[2020-07-09 00:03] trask commented on #566
hey @RashmiRam, can you give an example that you are trying to solve, e.g. which instrumentation's spans, and what attributes you would like to add to those spans? i agree with @iNikem, i don't think we've thought about this use case yet, so would be great to have a concrete example to think about. thx!

[2020-07-09 04:26] trask commented on #597
I think having an "auto instrumentation api" artifact is helpful for people who want to write their own auto instrumentation.

It makes our public contract with them clearer (both for them and for us), and makes it less likely for them to depend on something that we consider internal.

[2020-07-09 04:33] trask commented on #597
Also I think we should have a (separate) artifact for the stuff that manual instrumentation needs (e.g. base tracers).

This is our public contract with people who want to write their own manual instrumentation based on our tracers/etc, and also prevents manual instrumentation from having to pull in any auto-instrumentation related classes (agree this will likely be question from users if they see

[2020-07-09 05:04] iNikem commented on #621
@trask I am not sure I understand what exactly do you propose to do in this issue :)

[2020-07-09 05:12] trask commented on #621
Yeah, it's not clear is it.

I think I started writing it thinking to propose that we move the `-common` modules that don't have bytecode dependencies over to `instrumentation-core` early so that they wouldn't be published unnecessarily under the `io.opentelemetry.instrumentation.auto` groupId.

But then it seems talked myself out of it by the end 😭.

I'm good to close this.

[2020-07-09 05:27] #621 closed

[2020-07-09 07:03] RashmiRam commented on #566
Say, I have a multi-tenant application where each tenant id will be part of the incoming web request url. It would be useful to add the tenant-id as a custom attributes to all the child spans created for the request so that it could be seen if a particular tenant behaves erratically for these type of requests.

Incoming Web request url `/api/<tenant-id>/resources` is coming to an app using jetty w