[2020-10-23 16:55] #1458 closed

[2020-10-23 17:05] trask commented on #1463
I think a third problem is that we would have to bridge from the user's class loader to the `AgentClassLoader`

[2020-10-23 18:27] #1328 closed

[2020-10-23 20:20] kubawach opened #1469 "Implement AWS lambda tracing wrapper"
Currently we provide a nice way for AWS lambda users that would like to instrument their code via base abstract TracingRequestHandler class. In order to support also users that don't want to change their code, we could also add a wrapper that would get an env configuration property delegating to final lambda handler.

[2020-10-24 04:15] github-actions[bot] opened #1472 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-10-25 04:09] github-actions[bot] opened #1473 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-10-26 00:28] trask opened #1476 "Local build log spamming"
getting a lot of spamming when building locally after #1474
[code]

[2020-10-26 03:11] anuraaga commented on #1476
I'm not seeing the log spams - perhaps since I have some (unrelated) aws credentials configured on my machine.

[2020-10-26 04:49] github-actions[bot] opened #1478 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-10-26 05:52] iNikem commented on #1464
Closed by #1384

[2020-10-26 05:52] #1464 closed

[2020-10-26 06:39] iNikem commented on #1476
`SocketException: Network is unreachable`?

[2020-10-26 08:44] anuraaga opened #1481 "startSpan needs to return Context instead of Span"
@marcingrzejszczak is probably one of our first serious users of baggage :) I was helping him debug an issue and noticed that currently it seems impossible to use baggage with our instrumentation because `startSpan` extracts from the request, but only returns a `Span`. The baggage information that was extracted is therefore lost (except for as a private field of `Span`, it's parent).

We need `sta

[2020-10-26 11:49] #1460 closed

[2020-10-26 11:49] #1461 closed

[2020-10-26 11:49] #1472 closed

[2020-10-26 11:49] #1473 closed

[2020-10-26 11:49] #1478 closed

[2020-10-26 12:01] #1443 closed

[2020-10-26 13:03] github-actions[bot] opened #1483 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-10-26 15:19] iNikem commented on #1276
@anuraaga @trask Can you explain this screenshot from debug session:

<img width="1490" alt="Screenshot 2020-10-26 at 17 17 35" src="https://user-images.githubusercontent.com/3010154/97191109-37558800-17af-11eb-8f96-e1654513a28a.png">

Why `Span.current()` returns `DefaultSpan`, when there should be a span in the current context? Do we have broken bridging?

[2020-10-26 15:30] anuraaga commented on #1276
Is it the latest version of both agent and API? If muzzle kicks in then it's sort of expected brokenness, I saw it in my app too :)

[2020-10-26 16:06] bogdandrutu commented on #1481
Can this be clarified, what exactly needs to be changed in `baggage`.

[2020-10-26 16:06] rodolfo-picoreti opened #1485 "Java Agent Behaviour"
Hi everyone, thanks for this awesome project :)

I am trying to instrument my java application with the provided java agent.
I passed the following parameters to the application:

[code]

Sometimes the application crashes with the following error:
[code]

That said, I have two question:
- How can I increase the deadline to export spans? I've tried ```      -Dotel.bsp.export.timeout=120000``` but i

[2020-10-26 17:00] iNikem commented on #1276
Don't see any muzzle warnings.

[2020-10-26 17:22] github-actions[bot] opened #1486 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-10-26 18:43] github-actions[bot] opened #1487 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-10-26 19:01] iNikem commented on #1276
Don't see this problem anymore with the latest 0.10.0 snapshot

[2020-10-26 19:01] #1276 closed

[2020-10-26 19:30] trask opened #1488 "Move query sanitizers (e.g. SqlStatementSanitizer) to instrumentation-api"
Some options
* `javaagent-api` - this is where they currently live
* `instrumentation-api` - this would allow them to be used by library instrumentation
* `normalizers` - this would keep them out of the general api module, while individual instrumentation could pull them in and reuse them
* `:normalizer:redis`, `:normalizer:sql` - an even more granular option

[2020-10-26 20:01] trask commented on #1276
Oh, I hadn't noticed that either (and ya, I always search for `muzzled` first thing).

For others here, the new thing to look for is:

`Instrumentation skipped, mismatched references were found`

[2020-10-26 21:03] trask commented on #1485
hi @rodolfo-picoreti! does the discussion in #1381 help?

[2020-10-26 22:28] trask commented on #1409
yup, I've come around on this idea also 👍

Since the full query is still available in `db.statement`, I think it makes sense to heavily normalize/shorten the span name

[2020-10-27 01:34] bogdandrutu commented on #1481
Also please provide a code example, because this is not clear (at least to me).

[2020-10-27 01:40] anuraaga commented on #1481
I don't think anything needs to change with baggage, just instrumentation. Our instrumentation for any server framework, e.g. spring or gRPC, extract from headers here

https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/master/instrumentation-api/src/main/java/io/opentelemetry/instrumentation/api/tracer/HttpServerTracer.java#L59

But the result of the extraction isn't visibl

[2020-10-27 03:43] anuraaga opened #1490 "Question about external-annotations muzzle"
We currently have this muzzle which passes

[code]

but if I ad other dependencies, they all seem to fail

[code]

I figured this would work so wondering if anyone can teach what's going on here :)

[2020-10-27 04:29] bogdandrutu commented on #1481
This is related to https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/1429.

[2020-10-27 04:31] bogdandrutu commented on #1429
@parallelstream you mentioned that you may have resources to help with this. It would be good to pick one instrumentation, change it based on the feedback and prove that also fixes #1481

[2020-10-27 04:34] github-actions[bot] opened #1491 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-10-27 06:36] iNikem commented on #1481
@bogdandrutu I don't see how moving from "tracers" to "instrumenters" is related to this, very localised, issue of one method's return type?

[2020-10-27 07:21] trask opened #1494 "Some missing tests for capturing servlet context path"
PR #1418 started capturing servlet context path as part of the span name "route", but we are still missing tests for this behavior in the `jaxrs-1.0` and `spring-webflux` modules.

[2020-10-27 07:50] marcingrzejszczak commented on #1481
`io.opentelemetry.instrumentation.api.tracer.HttpServerTracer#startSpan(...)`
[code]

how it could be fixed (this is just to show the problem - ultimately it should be done as @anuraaga suggests)

[code]

[2020-10-27 07:55] #1469 closed

[2020-10-27 09:10] anuraaga commented on #1485
@trask I tend to notice first few exports throw that error, presumably because of some JVM warmup or similar? But the spans still usually (not always) show up in the backend. I think this might be different than #1381 which is about mismatched collector IIUC.

[2020-10-27 10:26] mateuszrzeszutek commented on #1276
Yep, those are my changes all right 😄

I vaguely remember somebody asking a question "what does 'instrumentation was muzzled' even mean" in the muzzle doc issue - I've decided to change that to something more descriptive.

[2020-10-27 11:28] mateuszrzeszutek commented on #1409
Let's clarify one more thing:
* in `db.statement` we should keep the full query with masked values, right? Should we collapse long `IN (?, ?, ?, ...)` statements?
* in the span name we should use @johnbley 's idea and trim/shorten every possible comma-separated list in the query.

Is that correct? If so it looks like we need two lexers/normalizers: first for simple value masking (existing one) and

[2020-10-27 12:03] rodolfo-picoreti commented on #1485
Hey @trask not sure if it is similar. I am using jaeger in my case, so the suggestion would be to set ```OTEL_EXPORTER=jaeger_span``` ?

As @anuraaga pointed out, it usually happen during jvm initialization. And it concerns me a lot that if Jaeger is down my application won't come up.

[2020-10-27 14:13] kubawach opened #1499 "Mask DB statement in Apache Camel instrumentation"
Once #1356 is merged, we need to review and mask any DB statement values logged.

[2020-10-27 15:38] github-actions[bot] opened #1500 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-10-27 17:15] #1444 closed

[2020-10-27 19:44] github-actions[bot] opened #1502 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-10-27 21:21] #1299 closed

[2020-10-27 21:29] #1406 closed

[2020-10-28 03:43] trask opened #1504 "Improve jetty instrumentation around servlet context path and servlet path"
I found another jetty handler (`org.eclipse.jetty.security.SecurityHandler`) that needs to be added to the exclusion list below.

But now I'm thinking the exclusion list is too fragile, and that it would be better to implement the other approach mentioned in the comment instead.

https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/58c78ec7d0997d1deae901d7a4f0ba3bc71ac5c2/inst

[2020-10-28 04:35] github-actions[bot] opened #1505 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-10-28 11:03] a-staebler opened #1506 "Docs: provide more details on services covered with AWS SDK support"
I would like to understand in more detail which AWS Services are covered by the AWS SDK instrumentation and where trace context propagation is supported.

There are quite a few service examples in the AWS SDK at https://github.com/awsdocs/aws-doc-sdk-examples/tree/master/javav2/example_code

Example question I am not able to answer from the docs: Does oTel-Java propagate trace context through SQS?

[2020-10-28 12:28] malafeev opened #1508 "Activate SystemMetrics"
- `SystemMetrics.registerObservers()` should be called if `oshi-core` dependency is present.
- `IntervalMetricReader` should be configured to send metrics, if not done already.
- Because of shading looks like there is no was to call `SystemMetrics.registerObservers()` manually

[2020-10-28 14:18] malafeev commented on #1508
If it's not a high priority then I would like to help on this issue if anybody can provide me guidance.

[2020-10-28 14:34] johnbley commented on #1409
Yes, I'm totally fine with leaving `db.statement` as it is and setting operation name to just `SELECT` or whatever.  One idea is to improve the normalizer to strip out sql comments (at least `/* */` if not `--` and newlines) and use it to generate both the normalized sql and the sql verb (first non-comment/non-whitespace token) in one pass.

Another idea is to simply use the jdbc method name (`exe

[2020-10-28 15:18] #1505 closed

[2020-10-28 15:42] mateuszrzeszutek commented on #1409
Comments can contain query hints - and if you're using them it usually means you're really desperate about DB performance and you probably want full visibility into executed queries. I'd prefer leaving them in the `db.statement` - but removing them from the span name (if we're going to implement that) is a great idea 👍

Hmm, that provides no information whatsoever to the user. `SELECT` span name a

[2020-10-28 16:16] github-actions[bot] opened #1510 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-10-28 16:45] malafeev commented on #1355
can be closed now

[2020-10-28 16:51] mateuszrzeszutek commented on #1490
It looks like dropwizard `Trace` annotation is hard-coded there just for test/muzzle purposes (`TraceConfigInstrumentation$TracerClassInstrumentation`):

[code]

There's even a hack for that specific class in `MuzzleGradlePluginUtil`.

Maybe once https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/1274#issuecomment-707860035 is implemented the whole `TraceConfigInstrumentat

[2020-10-28 17:09] mateuszrzeszutek commented on #1230
@trask wasn't it done in #1399?

[2020-10-28 17:37] github-actions[bot] opened #1512 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-10-28 17:46] #1355 closed

[2020-10-28 18:05] pavolloffay commented on #1288
This can be closed the plugin name is `MuzzleCodeGenerationPlugin` https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/ee0e0a96974fac8eba802b400201ff2a5ee9da75/javaagent-tooling/src/main/java/io/opentelemetry/javaagent/tooling/muzzle/collector/MuzzleCodeGenerationPlugin.java#L25

[2020-10-28 19:45] trask opened #1514 "Enable checkstyle for google style guide"
We follow Google Java Style Guide (https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/master/docs/contributing/style-guideline.md), so we should add checkstyle enforcement for the same (e.g. https://checkstyle.sourceforge.io/google_style.html), which will be nice to avoid style nit reviews in PRs.

I'm guessing we may need to relax the base google java checkstyle in a few pl

[2020-10-28 19:48] trask commented on #1288
Thanks @pavolloffay

[2020-10-28 19:48] #1288 closed

[2020-10-28 19:49] trask commented on #1230
Yup, thanks @mateuszrzeszutek!

[2020-10-28 19:49] #1230 closed

[2020-10-28 19:54] iNikem opened #1515 "Support for Spring Data JPA 2.4.0"
At the moment we don't support that, our tests fail with:

[code]

[2020-10-28 21:07] github-actions[bot] opened #1518 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-10-28 21:16] trask commented on #1409
I think I like the significant trimming option for span name by default, as it gives a nice "top X" slowest queries view.

The spec makes a _suggestion_ (not even a SHOULD though) of using [SQL statement without variable arguments](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/semantic_conventions/database.md#semantic-conventions-for-database-client-

[2020-10-29 03:51] github-actions[bot] opened #1519 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-10-29 04:56] trask opened #1520 "Document minimum policy file needed to run under security manager"
What's the minimum security policy file needed to grant the java agent permissions it needs?

Does "codeSource" for helper classes that we inject into user's class loader point to the java agent jar, so that those helper classes also get the granted permissions? (see https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/1493/files#r513172711)

[2020-10-29 06:42] #976 closed

[2020-10-29 06:43] trask opened #1521 "Jdbc instrumentation is not capturing net.peer.name/net.peer.ip/net.peer.port"
From the [database semantic convention spec](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/semantic_conventions/database.md#connection-level-attributes):

and net.peer.port is

[2020-10-29 07:39] iNikem commented on #1514
But spotless already checks for code style and fails PR if violated

[2020-10-29 09:08] pavolloffay commented on #1476
I get the same error messages when building the project.

[2020-10-29 09:48] github-actions[bot] opened #1526 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-10-29 10:14] #1287 closed

[2020-10-29 13:13] pavolloffay commented on #709
@iNikem any update on this one?

[2020-10-29 14:20] #377 closed

[2020-10-29 14:20] #1431 closed

[2020-10-29 16:32] #1483 closed

[2020-10-29 16:32] #1486 closed

[2020-10-29 16:32] #1487 closed

[2020-10-29 16:32] #1491 closed

[2020-10-29 16:32] #1500 closed

[2020-10-29 16:32] #1502 closed

[2020-10-29 16:32] #1510 closed

[2020-10-29 16:32] #1512 closed

[2020-10-29 16:32] #1518 closed

[2020-10-29 16:32] #1519 closed

[2020-10-29 16:32] #1526 closed

[2020-10-29 16:40] malafeev commented on #1508
@anuraaga do you have any idea how to implement it? From last SIG I got more questions than directions.

[2020-10-29 17:41] iNikem commented on #709
Absolutely not. Haven't even look into that direction

[2020-10-29 18:21] tylerbenson commented on #1409
Do we have different behavior for prepared statements vs raw sql?  If not, that should be considered, since prepared statements in theory could avoid normalization.

Perhaps prepared statements could get the full query where raw sql only gets the `SELECT <tablename>` suggestion.

[2020-10-29 18:24] johnbley commented on #1409
I would advise against that as application developers can be.... endlessly inventive.

[2020-10-29 20:21] jasonjkeller commented on #1424
@trask What is the general process for building your own Java agent distro with a custom exporter? Would it follow the general pattern established with the [existing default exporters](https://github.com/open-telemetry/opentelemetry-java-instrumentation/tree/master/javaagent-exporters) but in a separate fork? Or is there an alternative standardized approach that you could point me at?

We (New Rel

[2020-10-29 21:52] trask commented on #1424
hey @jasonjkeller! we could definitely use help at the very least documenting how to do this.

@anuraaga has an example here
* https://github.com/anuraaga/aws-opentelemetry-java-instrumentation/blob/master/otelagent/build.gradle.kts
* https://github.com/anuraaga/aws-opentelemetry-java-instrumentation/blob/master/awsagentprovider/build.gradle.kts

The general idea is to use the javaagent SPIs and t

[2020-10-29 22:05] jasonjkeller commented on #1424
Awesome, thanks! I'll dig into the links when I have a chance!

[2020-10-30 03:13] #678 closed

[2020-10-30 04:48] github-actions[bot] opened #1529 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-10-30 05:35] malafeev commented on #1508
please assign issue to me

[2020-10-30 05:40] anuraaga commented on #1508
@malafeev Sorry for the late reply. Discussed with @trask and we think an approach where we add a mechanism to the agent to register a classloader matcher and a callback (essentially an injected helper with a static initializer) would work well for this. Since this is a complicated change, @trask mentioned he could take a stab early next week. Does that work for you?

[2020-10-30 05:44] trask commented on #1508
hey @malafeev, ping me next week (after Mon), and I will try to outline how this could work

[2020-10-30 05:50] malafeev commented on #1508
@trask @anuraaga I came with one idea, submitted draft PR: https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/1530

[2020-10-30 08:29] iNikem commented on #1424
@jasonjkeller One more example is [Splunk distribution](https://github.com/signalfx/splunk-otel-java).

[2020-10-30 09:50] anuraaga commented on #1529
Reran after force updating docker images and it passed.

[2020-10-30 09:50] #1529 closed

[2020-10-30 13:38] tylerbenson commented on #1409
Then perhaps as a setting that can be enabled/disabled?

[2020-10-30 14:45] mateuszrzeszutek commented on #1409
I implemented a proof-of-concept of that idea, please take a look: https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/1533

If you mean changing the span name - I think we probably should add that setting.

[2020-10-30 16:50] pavolloffay opened #1534 "Run agent alongside other java agents - DataDog, AppDynamics, NewRelic..."
**Is your feature request related to a problem? Please describe.**

I would like to exclude classes from other agents. E.g. custom build of OTEL agent should run well alongside DataDog/AppDynamics/NewRelic agents.  I have noticed that OTEL agent is instrumenting DataDog classes e.g. the Okhttp sender that reports data to the platform.

**Describe the solution you'd like**

Exclude classes e.g. `da

[2020-10-30 20:33] kubawach opened #1535 "Enable HTTP trace propagation for AWS lambda instrumentation"
**Is your feature request related to a problem? Please describe.**
Currently AWS lambda supports trace propagation only with X-Ray.

**Describe the solution you'd like**
User should be able to configure any HTTP headers-based trace propagation for requests coming via API Gateway.

**Describe alternatives you've considered**
None

**Additional context**
None

[2020-10-30 21:00] fuleow opened #1537 "OpenTracingShim context propagation not working with agent"
I have a custom library that uses OpenTracing and it needs to propagate context headers. I am trying to use OpenTelemetry's OpenTracing shim to interface with this library's tracing. Everything works correctly in my unit test when I set up the OpenTelemetry tracer manually

[code]

However, when I deploy my service running the agent the propagation does not work.

[code]

I realized later that it

[2020-11-01 13:04] iNikem commented on #1534
I don't believe in this statement :) In my experience two bytecode modifying agents should never run together because this leads to unpredictable results.

[2020-11-01 13:17] iNikem commented on #1195
@anuraaga it seems that there is little interest in this task. Which for me means "do whatever you like" and concludes this "discussion" :) Thus I propose to close this task and if you wish to replace `TRACER` with `tracer()` then go ahead and make a PR. WDYT?

[2020-11-01 13:19] iNikem commented on #1481
Closed by #1525

[2020-11-01 13:19] #1481 closed

[2020-11-01 13:20] iNikem commented on #1371
@open-telemetry/java-instrumentation-maintainers Any more opinions or we can close this discussion?

[2020-11-01 13:21] iNikem commented on #1369
@trask so you suggest moving it from open-telemetry/opentelemetry-java repo to here?

[2020-11-01 13:54] anuraaga commented on #1195
If it's all it took to do things in otel-java*, I'd just send PRs to rewrite everything :-) I don't know the right way to get consensus on anything in this world TBH - I assume it's just what happens when you're in APAC, something I'm quite used to.

[2020-11-01 13:57] anuraaga commented on #1371
Having dates to target RC, milestone, GA etc can help with this. Do we have any dates that have been formalized? We can work backwards from that to form a plan for GA.

[2020-11-01 16:44] iNikem commented on #1371
I think Trask's question was _how_ should we release GA: all at once or piece by piece. My opinion was "all at once". After that we have our Roadmap to guide us, I think.

[2020-11-01 17:25] trask commented on #1195
I don't believe Tracer is deeply immutable, so these fields are not "constants", and should not be all upper case, according to style guide we reference in CONTRIBUTING:

https://google.github.io/styleguide/javaguide.html#s5.2.4-constant-names

@anuraaga can you help me understand this comment better? I had hoped that the two meetings a week at APAC-friendly times would address this problem, but I

[2020-11-02 03:33] anuraaga commented on #1195
@trask The APAC timed meetings feel sort of secondary, usually missing key stakeholders making it hard to make decisions from what I've noticed. I wonder if there is in general too much discussion in SIG meetings as opposed to just offline

[2020-11-02 03:43] trask commented on #1409
I support [this](https://github.com/open-telemetry/opentelemetry-specification/issues/1139#issuecomment-719670107) 👍

It would be great to get it into the spec as an example for other language implementations to hopefully follow. Thanks for having this discussion over there: https://github.com/open-telemetry/opentelemetry-specification/issues/1139#issuecomment-719670107

From a parsing cost perspe

[2020-11-02 04:02] trask commented on #1195
@anuraaga don't the APAC meetings always have quorum (2-3 out of 3 active maintainers) for decision making?

[2020-11-02 04:08] anuraaga commented on #1195
@trask It's still possible to have a decision blocked later by a non-present member though. Also when it's related to a spec change, there can be additional stakeholder dependencies that are hard to deal with in APAC where the biweekly spec meeting is very much a secondary session.

[2020-11-02 04:17] trask commented on #1195
@anuraaga Is this a real or a theoretical problem? I don't think @iNikem has blocked any of the decisions we have made when he is not present (though for sure he has the right to, as do you for any decision made when you are not present).

[2020-11-02 04:43] trask commented on #1195
Just trying to better understand the problems you are facing in this repository, so you me and @iNikem can work toward improving the situation

[2020-11-02 05:20] anuraaga commented on #1195
@trask Thanks! I am definitely conflating issues from the other Java repo - there is a general sense of loneliness being in APAC and working on OTel, but that's unavoidable given the huge skew of the crowd I guess. I don't have any particular AIs for us, but the loneliness will probably continue to hurt my head a bit 😅

[2020-11-02 12:27] RashmiRam commented on #1381
@trask This doesn't seem to work for us. It showed no such exporter found exception. We are using 0.9.0. We have done this https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/1111#issuecomment-715389658 as stop gap to avoid too much logs.

[2020-11-02 12:49] iNikem opened #1541 "Smoke tests with Jaeger and Zipkin"
Our Roadmap says that we want "End-to-end tests with OTLP, Jaeger and Zipkin". Currently only OTLP is implemented, Jaeger and Zipkin should be added.

@anuraaga this means either reverting #1136 or introducing Collector between tests and fake backend. Any suggestions or preferences?

[2020-11-02 13:06] anuraaga commented on #1541
There isn't any OTLP open source backend so we have a fake backend for it, but we can start Zipkin and Jaeger easily with testcontainers and use their standard query APIs. I guess we don't need to revert nor introduce collector for them right?

[2020-11-02 13:09] iNikem commented on #1541
Mmmm, I am not sure I want to bring any infrastructure outside of Otel into these tests. But this depends on what we actually mean by that goal on our Roadmap. If it is "we want to be able to export Zipkin to any Zipkin-compliant backend", then probably it is right thing to do...

[2020-11-02 14:44] iNikem commented on #1541
Wait, we already have Collector in our tests :D

[2020-11-02 15:56] tylerbenson commented on #1409
Maybe I'm not understanding the suggestion, but I think selecting from multiple tables and joining is so common in SQL, that not including the table names in that case will result in very poor separation.
If we do make this change, will the original query still be kept as a separate attribute to allow for additional processing?  (Perhaps we need a notion of metadata that is available to exporters

[2020-11-02 16:57] trask commented on #1541
That was convenient 😄

[2020-11-02 17:01] trask commented on #1381
hey @RashmiRam! sorry, we didn't quite get the setting right in 0.9.0, this is fixed in `master` and will be in 0.10.0 late this week or next week.

[2020-11-02 17:07] trask commented on #1195
They have an OTel API `Tracer`, which has `TracerSharedState`, which is mutable

[2020-11-02 18:00] fuleow commented on #1537
This looks like related to the context issues that affected grpc server tracing. Downgrading to the 0.8.0 agent fixes both of these problems.

[2020-11-03 00:35] trask commented on #1537
hi @fuleow! there have been significant improvements/fixes in context propagation interop in 0.10.0, which we are hoping to release end of this week, would be great if you could re-test after 0.10.0 is released and let us know how that goes

[2020-11-03 00:46] trask commented on #1371
Yeah, at the time I thought GA was much sooner, so was exploring options, but with OTel GA pushed out to include metrics, it seems good to target GA for the javaagent and the instrumentation-api at the same time.

[2020-11-03 00:46] #1371 closed

[2020-11-03 00:48] trask commented on #1369
yes, I think it makes sense under `io.opentelemetry.instrumentation` package, which would mean moving it to this repo

cc: @jkwatson in case any thoughts

[2020-11-03 00:58] trask commented on #1534
we discussed this in a SIG meeting a while back, and DataDog and NewRelic folks mentioned that running side-by-side with other APM java agents is not something they recommend or support, so it was recommended that we do the same, to avoid headaches for ourselves and our users.

`OTEL_TRACE_CLASSES_EXCLUDE` would be good to fix though.

[2020-11-03 01:08] trask commented on #1485
@rodolfo-picoreti sorry I think my suggestion was not relevant to your issue.

I'm surprised that this error is causing your application to fail to start (and not just causing the monitoring to fail to start). Can you confirm that's the behavior you are seeing?

Thanks!

[2020-11-03 03:46] trask commented on #1409
@mateuszrzeszutek and all, what do you think of

`select * from A, B, C where ...` --> `select A, B, C`

`select * from A inner join B on ... inner join C on ... where ...` --> `select A, B, C`

etc

ya, `db.statement` attribute has the full statement (literal values sanitized to `?`, but not normalized in any other way)

[2020-11-03 04:24] trask commented on #1514
It didn't catch https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/1513#discussion_r513743260

(https://google.github.io/styleguide/javaguide.html#s4.1.1-braces-always-used)

[2020-11-03 04:27] trask commented on #1456
hey @csilcock! any chance you can provide a repro that we can use to troubleshoot this behavior?

[2020-11-03 04:29] trask commented on #1514
Having checkstyle enabled would also allow us to do other things: https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/1392#issuecomment-714289045

[2020-11-03 04:39] trask commented on #1146
in-memory otlp listener launched by the test?

[2020-11-03 04:49] #1195 closed

[2020-11-03 04:50] #1541 closed

[2020-11-03 07:32] iNikem commented on #1514
Ok, convinced 👍

[2020-11-03 07:34] iNikem commented on #1146
You mean actually listening on a network port and accepting OTLP?

[2020-11-03 07:44] anuraaga commented on #1146
@iNikem I missed replying to this issue - yeah I was thinking using network as last resort should always be possible. But we have some test-specific logic in the agent related too bootstrap classloader, so assuming that's an ok thing and not something to remove completely, another approach that came to mind is test-specific logic to have spans exported to a list in the bootstrap classloader and ju

[2020-11-03 09:42] #1356 closed

[2020-11-03 09:53] iNikem commented on #1205
Fixed by recent changes

[2020-11-03 09:53] #1205 closed

[2020-11-03 11:57] mateuszrzeszutek commented on #1409
Hmm, if we want to include all tables in the query, not just the main one, shouldn't we also take subqueries into account? It would be kind of inconsistent if we skipped them. E.g.

[code]

actually uses 6 tables but only 1 appears in from/join.

Anyway, I'm worried that trying to extract too much info from the query would lead to over-complicated solution that would *still* miss some very rare ed

[2020-11-03 14:53] vovencij opened #1546 "Tag smoke test docker images with proper versions"
Currently docker images for smoke-test test apps are built and published without version tags. Given that these apps may use annotations or other dependencies from this or other openetelemetry project it is possible that other branches or forks (or even projects that happen to use these demo apps in their own tests) may break, because incompatible changes are published.

Having test app images pub

[2020-11-03 15:04] iNikem opened #1547 "agent jar has duplicated classes"
[code]

[2020-11-03 15:32] rodolfo-picoreti commented on #1485
Hey @trask sorry for that, I was mistakenly thinking that the application was crashing due to the agent. The startup time of the application became higher due to the agent and the liveness probe was killing it. My bad.

[2020-11-03 16:43] mateuszrzeszutek commented on #1409
By the way, this is already done for `db.statement`

[2020-11-03 16:48] trask commented on #1547
Good find, ya, shaded OpenTelemetry API should only be in bootstrap class loader, and not included under `inst` (AgentClassLoader)

[2020-11-03 17:00] RashmiRam commented on #1276
I have a Scala application running with auto instrumentation jar where we use manual extraction of context for an incoming web request using otel java sdk (Web server is [spray-can](https://github.com/spray/spray-can) internally uses Akka. This deprecated library is not part of our instrumentation list. Hence, manual context extraction).

This results in same traceId for multiple traces

Otel java

[2020-11-03 17:10] trask commented on #1146
the only complication is that the SDK classes (e.g. `SpanData`) live in AgentClassLoader, so we can't use them directly during test verification

[2020-11-04 04:25] github-actions[bot] opened #1548 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-11-04 07:00] asarkar opened #1550 "Kotlin coroutine missing trace"
**Describe the bug**
Code snippet from a gRPC `ClientInterceptor`:
[code]
The log statement is missing trace and span, but log statements outside the `launch` coroutine have trace and span.

**Steps to reproduce**
Launch a coroutine from inside a gRPC `ClientInterceptor`.

**What did you expect to see?**
Trace and span in the log statements.

**What did you see instead?**
Trace and span missing in

[2020-11-04 08:08] iNikem commented on #1548
@kubawach Seems like Camel tests has failed with latest deps.

[2020-11-04 08:40] iNikem commented on #1065
@FrankSpitulski @trask this issue is labeled as "discussion". Do we still have something to discuss here or all raised asks are already addressed by #566 ? Can we close this issue?

[2020-11-04 08:42] iNikem commented on #1424
I realised my comment from above is vague :) I think we should continue supporting `OTEL_EXPORTER_JAR` to simplify one of the most common cases for extension.

@trask @anuraaga Can we close this discussion?

[2020-11-04 09:28] kubawach commented on #1548
On it.

[2020-11-04 09:31] iNikem commented on #1369
I don't fully understand how to do that. We should publish `WithSpan` separately from `WithSpanAnnotationInstrumentation` and related code. So that clients can depend on only one class that they need. This artifact containing `WithSpan` annotation cannot live under `instrumentation` module, because it is neither agent instrumentation not library instrumentation (as it is useless without actual age

[2020-11-04 10:01] iNikem opened #1551 "Configuration debug"
To simplify runtime debugging we should provide an option to print out all supplied configuration.

[2020-11-04 10:46] mateuszrzeszutek commented on #1414
I've got a few questions in regards to this:

* What about `java.concurrent` instrumentation? It uses `otel.trace.executors` and `otel.trace.executors.all` properties. It seems like it's a core/required instrumentation though so we may want to leave those names unchanged.
* There are also `otel.trace.methods`, `otel.trace.annotations` and `otel.trace.annotated.methods.exclude` that are used in ext

[2020-11-04 12:27] iNikem commented on #1381
Will be closed by #1393

[2020-11-04 12:27] #1381 closed

[2020-11-04 12:29] iNikem commented on #1372
We don't plan to publish to Maven Central until we stabilise our code structure. Until then we regularly publish snapshots to https://oss.jfrog.org/oss-snapshot-local/io/opentelemetry/. Source code jars are published there as well.

[2020-11-04 12:29] #1372 closed

[2020-11-04 12:39] iNikem commented on #1303
@anuraaga Did open-telemetry/opentelemetry-java#1892 address this issue?

[2020-11-04 12:42] FrankSpitulski commented on #1065
#566 doesn't address the ability to disable specific instrumentation. I found myself needing an extra argument while writing cassandra instrumentation. That wouldn't be possible with the hooks. In the cassandra case it's easy to just turn the whole thing off but if I wanted an extra argument in a servlet instrumentation I'd run into the same problem where I'd need to duplicate code rather than tar

[2020-11-04 12:50] iNikem commented on #1273
@pavolloffay Does current
[code]
address your problem? Can this issue be closed?

[2020-11-04 13:07] anuraaga commented on #1303
Ah yeah!

[2020-11-04 13:07] #1303 closed

[2020-11-04 13:19] pavolloffay commented on #1273
Partially, the idea was to have a single customizer SPI for all OTEL core objects.

[2020-11-04 13:50] kubawach opened #1555 "Add code coverage report"
**Is your feature request related to a problem? Please describe.**
Currently there is no code coverage published for the project, therefore it's harder to spot areas where testing should be improved.

**Describe the solution you'd like**
Eg CodeCov integration, such as for https://github.com/open-telemetry/opentelemetry-java

**Describe alternatives you've considered**
None

**Additional context**

[2020-11-04 14:21] #1548 closed

[2020-11-04 14:58] mateuszrzeszutek commented on #1170
I think we can close this issue - trimming data in all Redis commands was implemented in https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/1405 and https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/1441 for all instrumented Redis libraries.

[2020-11-04 14:58] #1170 closed

[2020-11-04 15:02] #1546 closed

[2020-11-04 16:11] jkwatson commented on #1369
It definitely needs to be published as consumable outside the agent. I thought we had been waiting until y'all had gotten your maven-central story straight before moving it.

[2020-11-05 04:49] github-actions[bot] opened #1558 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-11-05 06:11] iNikem commented on #938
Will be implemented by #566

[2020-11-05 06:11] #938 closed

[2020-11-05 06:12] iNikem commented on #1014
Cannot reproduce

[2020-11-05 06:12] #1014 closed

[2020-11-05 06:15] iNikem commented on #1065
Will be addressed by #566

[2020-11-05 06:15] #1065 closed

[2020-11-05 06:16] iNikem commented on #1072
Cannot reproduce

[2020-11-05 06:16] #1072 closed

[2020-11-05 07:18] anuraaga commented on #1476
Yeah I just setup a new computer so haven't configured any aws creds yet and am getting the error message. Going to try configuring some creds and see what happens.

[2020-11-05 07:27] anuraaga commented on #1476
Confirmed that after `aws configure` with unrelated credentials the spam goes away. I guess it's a but in the gradle cache plugin where it seems to be trying to do something it shouldn't be when there are no credentials on the machine.

[2020-11-05 10:55] mateuszrzeszutek commented on #552
Done in https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/1427

[2020-11-05 10:55] #552 closed

[2020-11-05 11:50] iNikem opened #1561 "End to end tests for propagators"
As part of our smoke tests we should test context and baggage propagators as well.

Test controller can call another controller in the same JVM and return propagated context/baggage.

[2020-11-05 13:40] mateuszrzeszutek commented on #895
Re-tested with field-backed provider disabled; cannot reproduce anymore. I think we can close this issue.

[2020-11-05 13:40] #895 closed

[2020-11-05 14:42] anuraaga commented on #1561
I test x-ray propagator here maybe something can be copy-paste

https://github.com/aws-observability/aws-otel-java-instrumentation/blob/main/smoke-tests/spring-boot/src/main/java/io/awsobservability/instrumentation/smoketests/springboot/AppController.java

[2020-11-05 20:58] trask opened #1565 "Remove knowledge of oshi instrumentation from the shared agent code"
Currently the oshi instrumentation is initialized in the system class loader, directly from `OpenTelemetryAgent`.

Ideally, the shared agent code shouldn't know about any individual instrumentation, interacting with the instrumentation instead only via SPI interface(s).

See https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/1508#issuecomment-719213581 for one option that

[2020-11-05 21:00] trask opened #1566 "Add documentation for how to use the oshi instrumentation"
This feature #1530 needs documentation since it requires special setup (downloading and adding oshi jar to system class path).

[2020-11-05 21:02] #1508 closed

[2020-11-05 21:04] trask opened #1567 "Add an HttpServerTest that exercises Getter.keys() across all server instrumentation"
To make sure that the Getter.keys() methods added in #1564 get exercised.

[2020-11-06 06:22] trask opened #1571 "Usage of ...Advice.class.getName() vs string constants"
It's not obvious why we use string constants instead of `...Advice.class.getName()`, e.g. when building transformers() map.

I suspect it's an optimization to avoid loading the Advice class into the AgentClassLoader.

If we want to keep this optimization, it would be good to add a checkstyle rule for it to add to avoid drift over time.

[2020-11-06 06:28] dengliming opened #1572 "Consider add plugin for influxdb-java client"
Add plugin for influxdb-java client
see [https://github.com/influxdata/influxdb-java](https://github.com/influxdata/influxdb-java)

[2020-11-06 06:37] iNikem commented on #1571
I would LOVE to know the answer to this. @tylerbenson ?

[2020-11-06 06:38] #1558 closed

[2020-11-06 07:03] dengliming opened #1573 "Add support for thrift"
[https://github.com/apache/thrift](https://github.com/apache/thrift)

Maybe can refer to the similar implementation by skywalking [https://github.com/apache/skywalking/tree/master/apm-sniffer/apm-sdk-plugin/thrift-plugin](https://github.com/apache/skywalking/tree/master/apm-sniffer/apm-sdk-plugin/thrift-plugin)

[2020-11-06 07:10] iNikem commented on #1573
Can you elaborate what kind of support are you talking about? I am not very familiar with Thrift, but uses HTTP underneath, right? So our HTTP instrumentations already should take care of creating spans for remote calls. What else, do you think, would be useful here?

[2020-11-06 07:17] dengliming commented on #1573
It provide the similar features like gRPC.

[2020-11-06 10:02] mateuszrzeszutek commented on #1571
When I was refactoring all `Instrumenter`s I've noticed a comment saying that `...Advice.class.getName()` won't work on Java 7 - maybe that was part of the cause.

[2020-11-06 15:15] devinsba commented on #1571
What @trask says is the main reason for the strings. If the advice classes are loaded as is, not only does it load that class, it loads all the Bytebuddy annotation classes, and a bunch of supporting classes.

[2020-11-06 15:16] tylerbenson commented on #1571
yeah, it's a combination of not loading a class unnecessarily, but also some of our advice is compiled against a class version that may not be supported (ie java 11's http client). (The last part was more significant when we supported java 7.)

[2020-11-06 16:00] pavolloffay opened #1577 "Dynamic unload/load of instrumentations"
**Is your feature request related to a problem? Please describe.**

Add/replace instrumentations at runtime.

**Describe the solution you'd like**

Have an SPI to hook into  `AgentInstaller` and get the `ResettableClassFileTransformer` but also be able to change the `AgentBuilder`.

**Describe alternatives you've considered**

None.

**Additional context**

Related to https://github.com/open-telem

[2020-11-06 16:13] singhalprerana opened #1578 "Servlet Instrumentation does not cover scenarios like Spark-Jetty due to the missing instrumentation hook at Filter.doFilter()"
**Is your feature request related to a problem? Please describe.**
Servlet instrumentation currently has hooks at `javax.servlet.FilterChain.doFIlter()` and `javax.servlet.http.HttpServlet.service()`. However, there might be code paths which do not go through either of these hooks -- they might involve `javax.servlet.Filter.doFIlter()` path instead -- for example, Embedded-Jetty-Spark applications

[2020-11-06 16:41] mateuszrzeszutek opened #1579 "Document and enforce naming convention for instrumentation names"
(The ones passed in `Instrumenter`/`InstrumentationModule` constructor)

Sometimes those names include library versions (e.g. netty), sometimes not (cassandra), sometimes the same instrumentation name is repeated in several modules (sometimes unrelated, e.g. apache-httpclient and java-httpclient have the same name `httpclient`), sometimes it's the name of our module, sometimes it's the name of the

[2020-11-06 16:51] pavolloffay commented on #1534
Even if we exclude other agent's classes can the JVM for example unpredictably crash? Maybe also
@tylerbenson would know this?

[2020-11-06 17:21] vovencij commented on #1571
Would be nice to have this knowledge documented somewhere in addition to checkstyle rule.

[2020-11-06 17:26] tylerbenson commented on #1534
We have certainly had competitor agents running along side ours, but results are mixed.  I think the biggest problem is when one agent modifies classes being used internally by the other.  (This can also affect a solitary javaagent and is a big motivation for our changes in the DD repo to avoid using standard/instrumented executors and use a custom one instead.)

It certainly isn't a configuration

[2020-11-06 17:30] tylerbenson commented on #1534
(To answer your original question, since it's in an isolated classloader, we don't actually shade okhttp in the DD project.  This means that your suggestion to ignore it via package prefix won't actually work. Perhaps you could ignore it by classloader name?)

[2020-11-07 04:20] flands opened #1580 "Remove documentation captured on website from READMEs"
For GA there is an ask to capture getting started guides as well as instrumentation and configuration documentation on the website. Given https://github.com/open-telemetry/opentelemetry.io/pull/304, several READMEs need to be either updated or removed.

[2020-11-07 04:20] flands commented on #1580
I can submit a PR for this.

[2020-11-07 07:42] pavolloffay opened #1582 "Make instrumentations non final"
**Is your feature request related to a problem? Please describe.**

I would like to extend instrumentations/instrumentation modules to add additional data capture and other functionality e.g. filtering/blocking requests. The instrumentations can be extended right now by writing additional instrumentation with the same matcher but it leads to a lot of code repetition and issues like https://github.

[2020-11-07 14:38] hasanfd opened #1584 "JDBC instrumentation does not work"
**Describe the bug**
When I tried an JDBC hello world example in a Spring boot application, I could not find the span that contains query information. After opening the debug logs of the agent I saw this error message:

[code]

**Steps to reproduce**
I saw the error in a JDBC select example written in a Spring boot hello world application. The database is Postgres.

**What did you expect to see?**

[2020-11-08 09:19] MrCull opened #1586 "The README file in this repo has a bad link - [404:NotFound]"
**Describe the bug**
The README file in this repo has a bad link - [404:NotFound]

The markup version of the readme that is displayed for the main page in this repo contains the following link:
Status code [404:NotFound] - Link: https://github.com/open-telemetry/opentelemetry-java/blob/master/api/src/main/java/io/opentelemetry/trace/spi/TracerProviderFactory.java (hooks)

(The link in the readme’s

[2020-11-08 21:51] trask commented on #1146
Adding a note here, when we do this, to make sure that the instrumentation classes (`src/main/java`) are not on the classpath when running the tests, in order to catch problems like https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/1585#issuecomment-723670977

[2020-11-08 21:54] #1584 closed

[2020-11-09 00:58] trask commented on #1584
@hasanfd thanks for reporting this! it should be fixed now

[2020-11-09 01:52] jyemin opened #1587 "MongoClientTracer. UNSCRUBBED_FIELDS is incomplete"
**Describe the bug**
MongoClientTracer. UNSCRUBBED_FIELDS is an incomplete list of commands and fields that need not be scrubbed out.

**What did you expect to see?**
I didn't expect to see a hard-coded list of commands.   Instead, it would be both safe and more easily maintainable to simply not scrub the first key of each command, as the first key is by definition always the command name, and the

[2020-11-09 02:30] jyemin opened #1588 "Support non-uber jar releases of mongo-java-driver"
**Is your feature request related to a problem? Please describe.**
Starting with the 4.0 release of the MongoDB Java driver, the `mongo-java-driver` uber-jar module is no longer included in the distribution.  I think this will cause problems given that the muzzle configuration for the driver only references `mongo-java-driver`.

Even before 4.0, non-uber jars have also been published, and if I und

[2020-11-09 03:39] trask opened #1591 "Wildfly apps fail when running javaagent"
I'm not sure yet why our wildfly smoke test didn't catch this, but deploying a simple hello world war to wildfly and then hitting the url results in this error:

[code]

The problem appears to be our usage of `BootstrapPackagePrefixesHolder` inside of `ClassLoaderInstrumentation`:

https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/71f91877abf7456cc40013a78dc5207622aee365/in

[2020-11-09 04:17] trask opened #1594 "Fix BootstrapPackagesProvider"
Need to fix `BootstrapPackagesProvider` feature that was (intentionally) broken in PR #1593.

Need to figure out how to reference `BootstrapPackagesProvider` from inside of `ClassLoaderInstrumentation` without breaking restrictive wildfly/jboss modules class loaders.

[2020-11-09 04:18] trask opened #1595 "Improve wildfly smoke test"
Need to improve the wildfly smoke test so that it would have caught #1591.

[2020-11-09 04:59] #1591 closed

[2020-11-09 07:01] iNikem commented on #1595
What version of WildFly did you use in your manual verification?

[2020-11-09 07:09] trask commented on #1595
21.0.0.Final

[2020-11-09 07:37] hasanfd commented on #1584
works as excepted, thanks @trask!

[2020-11-09 07:40] iNikem commented on #1579
We don't have anything formal yet. But you are right, we should have.

That name is used for instrumentation library identification and for enabling/disabling it. So probably it should be the same as Gradle module's name. This address the question of "with of without version": if module is unique for a given library, it does not have a version in its name. If module depends on library version, its

[2020-11-09 09:20] iNikem commented on #1424
Demo repository demonstrating various ways to extend our distribution: https://github.com/iNikem/opentelemetry-java-instrumentation-demo

[2020-11-09 10:40] anuraaga commented on #1424
I'm good with continuing to support the option :)

[2020-11-09 12:03] pavolloffay commented on #1594
Maybe there are better solutions to this: the agent installer could load the SPI and modify the content of `Constants` class?

[2020-11-09 13:21] xieao opened #1600 "How can I write logs to a file"
I have a custom exporter, and i used the log like following code：

[code]

but the log show on STDOUT. How can I write the log to a file，how to configure this agent？

[2020-11-09 13:44] iNikem commented on #1586
Fixed by #1590

[2020-11-09 13:44] #1586 closed

[2020-11-09 13:54] iNikem commented on #1577
@pavolloffay Can you describe your use-case which requires unloading of the instrumentation? Or even loading it during runtime?

[2020-11-09 13:59] #1535 closed

[2020-11-09 17:02] mateuszrzeszutek commented on #1578
There's a `Filter` instrumentation that's turned off by default: https://github.com/open-telemetry/opentelemetry-java-instrumentation#disabled-instrumentations . Have you tried turning it on (`-Dotel.integration.servlet-filter.enabled=true`)?

[2020-11-09 17:17] mateuszrzeszutek commented on #1579
That's a good start. What do you think about the following naming rules:

* Instrumentation names should consist of hyphen-separated words, e.g. `instrumented-library`
* Instrumentation names should be the same as the gradle module
  * Except for instrumentations that are optional, disabled by default e.g. `servlet-filter`, `jdbc-datasource`
* library + version can be the secondary/additional inst

[2020-11-09 20:24] bowsersenior commented on #1294
Could this be related to this other issue (https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/1547) where agent jar has duplicated classes?

[2020-11-09 21:05] iNikem opened #1602 "Add support for Reactor Netty HttpClient 1.0"
https://github.com/reactor/reactor-netty/releases/tag/v1.0.0

Freshly added reactor-netty support (#1601) does not work with 1.0.0

[2020-11-09 23:24] trask commented on #1594
The Constants class is injected into the class loader, so I think is separate class from the Constants class in the AgentClassLoader and won't share static fields.

[2020-11-09 23:34] trask commented on #1578
I'm not sure why we instrument `FilterChain` instead of `Filter`, sent draft PR #1606 to see what tests break if we change this

[2020-11-10 00:11] FrankSpitulski commented on #1298
So it looks like this isn't going in anytime soon then?

[2020-11-10 00:21] trask commented on #1298
hey @FrankSpitulski, can you submit a spec PR for the spec issue that you filed?

[2020-11-10 01:51] trask commented on #1579
👍

I would suggest change from:
* library + version can be the secondary/additional instrumentation name

to:
* library without version should be the second/additional instrumentation name if the gradle module name has a version suffix

[2020-11-10 02:41] FrankSpitulski commented on #1298
done

[2020-11-10 03:43] trask commented on #1582
Sounds good, I wonder if we can add a checkstyle rule for this to prevent drift/regression over time - linking to https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/1514#issuecomment-720898335

[2020-11-10 03:55] trask commented on #1276
hey @RashmiRam! are you able to create a small repro? that would probably be the easiest way to get some 👀 on it to see what might be going on

[2020-11-10 08:00] pavolloffay commented on #1577
For instance provide patched instrumentations without requiring JVM to restart. Or provide new instrumentations without requiring JVM to restart.

[2020-11-10 08:11] iNikem commented on #1577
Do you have an actual business need for that? I hardly can imagine a situation when I would want to dynamically load new instrumentation into running JVM... I would recommend against it :)

[2020-11-10 09:04] RashmiRam commented on #1276
@trask Thanks for looking into this.

Following is the added dependency
[code]
I was suspicious of api & sdk version confusions & removed `api` package dependency & We don't see that same trace id problem anymore.

Anyhow If it's for any help to someone, the following is the context propagation code that we have added to the Scala service.
[code]

[2020-11-10 10:46] iNikem opened #1609 "Add support for jaeger-thrift exporter"
As implemented in SDK by https://github.com/open-telemetry/opentelemetry-java/pull/1875

[2020-11-10 13:01] iNikem commented on #1579
I think that in any case the main name of the instrumentation library SHOULD NOT contain version. We expect that only one of e.g. lettuce instrumentation modules will be applied to any given runtime instance. And users can expect that they can just use `otel.instrumentation.lettuce.enabled=false` regardless of the version used.

At the same time, if module does have a version in its name, then thi

[2020-11-10 13:31] olivierboudet commented on #1062
FYI, I have a spring boot application deployed in k8s with a memory limit of 512Mib. The -XX:MaxRAMPercentage is 70.0.
Without the agent, the app starts with a RSS of 376Mb.
With the agent, the app starts with a RSS of 468Mb.

Is a difference of 100Mb just after startup is an expected value ?

[2020-11-10 15:26] pavolloffay commented on #1577
yes, in some enterprises it's hard to upgrade the agent once it's deployed. A capability to dynamically change instrumentations solves that.

[2020-11-10 15:38] mateuszrzeszutek commented on #1582
Should we also make all `TypeInstrumentation`s public and non-final? Because that's where currently `typeMatcher()`s and `transformers()` live.

[2020-11-10 16:05] iNikem commented on #1369
We talked about this issue last week and decide it still makes sense to have in SDK repo, and not agent repo. Created open-telemetry/opentelemetry-java#2055 to track package change.

[2020-11-10 16:05] #1369 closed

[2020-11-10 16:43] pavolloffay commented on #1582
+1

[2020-11-10 17:49] trask commented on #1276
@RashmiRam can you try removing SDK and only including API? is there something you need from the SDK? the Java agent only interoperates with the API. thx

[2020-11-10 17:51] iNikem opened #1614 "Document query normalising behaviour"
Please document new configuration introduced by https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/1509

[2020-11-10 17:59] holyjak opened #1615 "Where to get the agent jar?"
The README reads:

but that gives 404 and I could not find any JAR on the Releases page. Please be so kind and update the docs. Thank you!

Perhaps point to https://bintray.com/open-telemetry/maven/opentelemetry-java-instrumentation if that is the right place?

[2020-11-10 18:56] iNikem commented on #1615
Sorry, @holyjak. That link IS the way to get the latest release for the time being, until we are stable enough to start publishing to Maven Central. You just hit the unfortunate window when we had some troubles with our releases :) That link should now work again.

[2020-11-10 18:56] #1615 closed

[2020-11-10 20:42] #1274 closed

[2020-11-11 05:34] anuraaga opened #1616 "spotlessKotlin shouldn't prevent wildcard import?"
Not a kotlin expert, but FWIU, wildcard imports are relatively standard in kotlin for being the basis of kotlin DSLs, such as coroutines

[2020-11-11 05:45] anuraaga commented on #1550
Hi @asarkar - will https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/1617 give you the helper you need to solve this? I believe this would work

[code]

[2020-11-11 06:15] iNikem commented on #1616
[Koltin coding conventions](https://kotlinlang.org/docs/reference/coding-conventions.html) do not say anything about this

[2020-11-11 10:58] pavolloffay commented on #1577
IIRC Instana agent is able to update instrumentations at runtime. They are also using ByteBuddy internally.

[2020-11-11 11:07] iNikem commented on #1577
I would like to note one thing. In our various discussions about different design or functionality decisions we often rely on our understanding of potential operational concerns. E.g. @trask bases some of this decisions on his opinion that it is easier for admins to update javaagent than for developers to change and release new code version. I usually think the opposite: code changes are cheaper a

[2020-11-11 11:16] pavolloffay commented on #1577
From the internal discussion with senior people (ex. AppD) I hear that updating an agent in bigger enterprises takes a lot of time. It usually has to go through multiple teams and approvals, whereas submitting a patch on the wire does not have to. It's not an ideal state but has been the experience from the field.

Ultimately dynamic reload might be trickier to implement properly, but the core OTE

[2020-11-11 13:18] iNikem commented on #1577
First, every vendor's point of view may be coloured by the profile of their clients :) This is true both for AppD (your case) and Splunk (my case). And therefore we may have different opinions based on different experiences.

Second, I absolutely agree with you on "it is a better development model to "test" feature in the vendor's environment". I am somewhat worried that we are adding yet another

[2020-11-11 13:32] pavolloffay commented on #1577
Let me know what is obscure and I will better explain it to you :)

Sure I am joining tomorrow's call as usual nd we can talk about it in more depht.

[2020-11-11 14:04] iNikem commented on #1577
What I mean is that by reading new proposed SPIs it is not immediately obvious when and how one would want to use them. Compare that to `PropertySource` or `SpanExporterFactory`. They are (to my eye) much more self-explanatory.

[2020-11-11 14:13] pavolloffay commented on #1577
Thanks that is better feedback 👍 . Maybe it's better to have such a comment on the PR. None of those PRs solve the subject of this issue. I will work on better javadocs for the proposed SPIs. One thing to realize is that these SPIs are for vendors and not everybody will need to implement them.

[2020-11-11 15:10] holyjak opened #1620 "Span propagation seems not to be happening in Kotlin"
I have a simple Kotlin server, that accepts a requests, fetches data from an API, an returns those. I run it with the instrumentation agent. I expect that the call will create a span that will wrap the whole interaction, and the span created for the outgoing call will be its descendent. I also expect to be able to create a span manually and for it to appear between the two. Instead, two completely

[2020-11-11 16:20] iNikem opened #1622 "Move `tracer()` method from Tracer class to Instrumentation"
One of the asks from #566 is the ability to add new attributes to spans. These attributes may depend on the same actual objects that Tracers operate on, such as http request or db connection. Thus this cannot be done in `SpanProcessor` and vendor distros should be able to override Tracer implementation.

But atm instrumentations access tracer instance via static method on tracer class:
[code]
This

[2020-11-11 19:28] trask commented on #1616
I have no objection to allowing wildcard imports in kotlin code

[2020-11-11 19:56] trask commented on #1622
@iNikem is this same as #778?

[2020-11-12 00:36] anuraaga commented on #1620
@holyjak Thanks for this report - we're currently reviewing the context instrumentation for context in #1617 and #1618. If you can take a look at it, that would be great!

[2020-11-12 03:57] trask commented on #1485
I noticed that we are defaulting the grpc deadline to 1 second, when I think we should be defaulting it to 10 seconds, which could explain this issue, see https://github.com/open-telemetry/opentelemetry-java/issues/2064

[2020-11-12 04:19] trask commented on #1587
@jyemin thanks for reporting this, really appreciate your expertise here!

[2020-11-12 04:22] asarkar commented on #1550
@anuraaga Where is the method `asContextElement()` coming from, I'm not seeing it. Is it an extension function from a library not part of coroutine core?

[2020-11-12 04:32] trask commented on #1588
Thanks!

Luckily our sibling project just added Mongo driver v4 support https://github.com/DataDog/dd-trace-java/pull/2043, looks like we need to merge that over to this repo.

For some light reading on muzzle that won't answer all of your questions 😄, see https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/master/docs/contributing/muzzle.md

[2020-11-12 04:37] anuraaga commented on #1550
@asarkar It's this extension method here - https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/1617/files#diff-10f00e16c51ae604be10e6a3af1fb116754fc4ad2f9f322528424afe45d3e744

[2020-11-12 04:42] trask commented on #1579
Yes to what @iNikem said 👍

[2020-11-12 06:23] asarkar commented on #1550
I don't understand, if it's a pending PR, how's it supposed to help me now? Don't I need to wait for it to be merged?

[2020-11-12 07:37] anuraaga commented on #1577
Sorry thing my feedback is later than the meeting - but if it's possible to cleanly rearchitect things to support load / unload, I don't see a reason not to. It seems quite hard to me (e.g., once user code is instrumented, how do you back out?) but I'm not an agent expert still ;) That being said, I have to ask, does this mean there is an expectation that these apps never, ever shutdown / restart?

[2020-11-12 07:41] anuraaga commented on #1577
That being said, on the topic of SPIs, it feels like we are adding SPIs to many, many code path in the agent. Is there another option to make the agent more modular for code reuse, going inside-out instead of outside-in?

[2020-11-12 08:45] iNikem commented on #1579
@mateuszrzeszutek Can you provide a summary of this discussion as PR into contributing doc?

[2020-11-12 09:36] iNikem opened #1623 "Analysis of instrumentation customisation"
Related to #566, #1622 and #778

I am going to summarise my current understanding of various options for overriding any given instrumentation in custom vendor distributions. The goal is not to arrive at an ideal solution, but at a solution good enough for GA. I focus on the following motivation for such customisation:

To simplify the following discussion, let me take as an example some database c

[2020-11-12 09:37] iNikem commented on #566
@trask Can you explain what do you mean by "Custom logging story"?

[2020-11-12 09:38] iNikem commented on #1622
I will close this issue as #778 and #1623 probably supersede this one.

[2020-11-12 09:38] #1622 closed

[2020-11-12 10:15] anuraaga commented on #1550
@asarkar Mostly so you can check it to see if anything looks really bad with it, or maybe copy-paste it to try. But otherwise, we're hoping it will help after it's merged :)

[2020-11-12 10:26] mateuszrzeszutek commented on #1579
I'll change this issue into an enhancement one.

AC:
* describe the naming convention in the contributing doc, preferably with examples;
* add short description in `InstrumentationModule`'s JavaDoc;
* change all instrumentations' names to correct ones.

[2020-11-12 10:42] pavolloffay commented on #1577
Call reset on the returned value https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/1290bcaceaca3e993526e2f08d1f42590fc2b69f/javaagent-tooling/src/main/java/io/opentelemetry/javaagent/tooling/AgentInstaller.java#L163

The only SPI that Agent has at the moment is to configure OTEL SD, the property source and bootstrap packages(I will talk about this in the meeting). All the O

[2020-11-12 11:43] mateuszrzeszutek commented on #1490
I've checked this issue once again, since `InstrumentationModule`s were all merged recently. Now the muzzle check does not fail for the `newrelic-api` dependency - in fact, since this instrumentation does not depend on any 3rd party API it shouldn't ever fail at all.

[2020-11-12 11:43] #1490 closed

[2020-11-12 12:59] jyemin commented on #1587
No worries.  I have worked with DataDog and AppDynamics in the past to make tracing work well with our drivers, and want to make sure that continues with this project.

I'm going to submit a PR to fix this.  There's a few other issues as well that I'd like to address.  At this stage of development, are you looking for small PRs, each associated with a GH issue, or is a single PR with several fixes

[2020-11-12 13:54] iNikem commented on #1587
If it is not overwhelmingly large, then single PR is Ok as well.

[2020-11-12 14:38] #1409 closed

[2020-11-12 16:24] mateuszrzeszutek commented on #1409
Closing this because https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/1533 was merged.

[2020-11-12 18:02] iNikem commented on #1623
@pavolloffay Reading this text above ^^, are you still sure that you want to _extend_ existing instrumentation class in your vendor distribution?

[2020-11-12 20:50] jyemin opened #1625 "MongoClientTracer can report incorrect collection name"
**Describe the bug**
MongoClientTracer.collectionName assumes that

* if the value of the command name field is a string, that string is always a collection name.  But there are administrative commands like [dropUser](https://docs.mongodb.com/manual/reference/command/dropUser/index.html) where this is not the case, and it may confuse users if those strings are reported as collection names.
* that

[2020-11-12 20:58] trask opened #1626 "Add distro example for ByteBuddyAgentCustomizer SPI"
Add an example to the new `examples/distro` module introduced in #1621 showing usage of the new ByteBuddyAgentCustomizer SPI that was introduced in #1613

[2020-11-12 21:00] jyemin commented on #1587
I just updated the description to include the example of the [dropUser](https://docs.mongodb.com/manual/reference/command/dropUser/index.html) command.  Are we ok not scrubbing user names?

[2020-11-12 21:20] trask commented on #1587
Our jdbc instrumentation doesn't scrub usernames:

`ALTER USER xyz IDENTIFIED BY 'password'` ==> `ALTER USER xyz IDENTIFIED BY ?`

so I think this is good not to scrub user names here either.

[2020-11-13 05:24] trask commented on #566
ya, replacing slf4j simple logger with logback (e.g. to support log file rollover)

[2020-11-13 05:53] trask commented on #1414
what do u think of
* `otel.instrumentation.executor.include`
* `otel.instrumentation.executor.include.all`

and renaming `java-concurrent` module to `executor`? (and we could rename `java-classloader` to simply `classloader`, I don't think either of those terms requires `java-` prefix for clarification)

maybe
* `otel.instrumentation.methods.include`
* `otel.instrumentation.annotations.include`
*

[2020-11-13 09:28] iNikem commented on #566
Why do we do anything with logging at all? I mean, the simplest option is for us to just depend on slf4j API and that's it. As any other library. And let user provide any implementation they want.

Or our machinations with classloaders makes this impossible?

[2020-11-13 10:04] pavolloffay commented on #566
A slightly orthogonal request - as a vendor I would like to change logging level/verbosity of for example when muzzle recognizes API mismatch and disables instrumentation. I am not sure if that is possible, or not, but it could be better documented.

[2020-11-13 11:12] pavolloffay commented on #1623
I wanted to extend the core instrumentation to avoid repeating the `typeMatcher`, `classloaderMatcher`, `contextStore` and be sure my custom instrumentation uses the same name as the core one (although my instrumentation should have also a separate name to separate on/off).

This is interesting and I think that there are benefits of removing attributes directly in the user app process to keep the

[2020-11-13 11:27] iNikem commented on #1623
For us to be on the same page: these are nice-to-have, but not required, right? Matcher methods are pretty small. And there is a trade-off between writing less code and have the danger of upstream instrumentation changes break your own instrumentation.

[2020-11-13 13:15] pavolloffay commented on #1623
You are right, it's fine to copy them over, on the new release there is a unit test to verify that it works anyways. Although some newly added matches to the core might be missed and not copied over.

[2020-11-13 21:28] breedx-nr opened #1631 "Add SpanExporterFactory and MetricExporterFactory SPI examples"
As a follow-up to #1621, we would like to have additional examples showing common/simple usages of the SpanExporterFactory and MetricExporterFactory SPI (service provider interfaces).

[2020-11-13 23:16] trask opened #1632 "Don't support case-insensitivity in propagator names"
We don't support case-insensitivity in exporter names, or other configuration property values, so don't think we should support for propagator names either.

Initially noticed this in https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/1545#discussion_r522603943

[2020-11-14 00:43] trask opened #1633 "Run tests and smoke tests against IBM JVM"
We used to run tests against IBM JVM before #129, would be good to bring this back so we can say we support Java 8+ without adding the qualification that we only support (test against) OpenJDK-based JVMs.

[2020-11-14 05:41] anuraaga commented on #1633
It seems like both of our techniques for downloading Java, GHA setup-java and Gradle have vendor-specific Java downloading targeted to their next release

https://github.com/actions/setup-java/issues/98
https://github.com/gradle/gradle/issues/14802

While manually downloading is always an option, the simplest is probably to start with only the smoke tests and wait for one of these.

[2020-11-14 05:50] anuraaga commented on #1550
@asarkar The latest snapshots of the SDK include a new artifact, `opentelemetry-extension-kotlin` which includes the helper method.

https://github.com/open-telemetry/opentelemetry-java/blob/master/extensions/kotlin/src/main/kotlin/io/opentelemetry/extension/kotlin/ContextExtensions.kt

[2020-11-14 05:59] asarkar commented on #1550
I’ll try it out, and let you know. If I understood correctly, you’re suggesting that the user add an element to the coroutine context whenever they launch a new coroutine. That’d be tedious and error prone, isn’t it? Is it possible to install the trace in the parent coroutine and the have it propagated transparently to the children?

[2020-11-14 06:29] anuraaga commented on #1550
@asarkar Ah just to confirm, are you using the agent or just the library instrumentation?

Basically, the context needs to be added to the coroutine context just once when launching the top-level, and it would propagate to any children coroutines. Our library instrumentation can't do this since they're not implemented as coroutines, we do need the user to setup the context once when they first lau

[2020-11-14 06:31] asarkar commented on #1550
I'll be using the library.

[2020-11-14 13:10] malafeev opened #1637 "Vendor specific distribution do not initialise SystemMetrics"
I added oshi.jar to vendor specific distribution.
1. SystemMetrics is not initialised because oshi.jar is not loaded to system classloader

2. I tried to call `oshi.SystemInfo.getCurrentPlatformEnum()` in system classloader:
[code]
Nothing happend.

3. I changed order:
[code]
But got error:
[code]

Which order is expected to work 2 or 3? Is there other way?
It's important to have oshi.jar in the v

[2020-11-14 19:29] trask opened #1638 "Should we create javaagent subdir under each instrumentation?"
Based on a recent PR (#1628), I can see that changing our convention and creating a `javaagent` subdirectory for all instrumentations would have some advantages:

* it wouldn't be confusing for new contributors whether to create it or not, since they will see the `javaagent` directory under all instrumentations
* it makes the spot for people to add `library` instrumentation obvious, and more invit

[2020-11-14 19:33] trask commented on #1638
it potentially makes a few other things more consistent, e.g. referencing modules wouldn't depend on whether there's a library instrumentation or not, e.g. when referencing from other modules, or running command-line tasks:

`./gradlew :instrumentation:struts-2.3:javaagent:muzzle`

[2020-11-14 23:43] trask commented on #566
ya, we shade slf4j so it can live in the bootstrap class loader and not cause conflicts for user

@pavolloffay do u mean something like log at a higher level than DEBUG if all instrumentation for a particular library (e.g. both `cassandra-3.0` and `cassandra-4.0`) are muzzled? I think that would be a good improvement directly in this repo

[2020-11-15 02:01] anuraaga commented on #1638
Think we should definitely do it :)

[2020-11-15 08:21] anuraaga opened #1640 "Verify importance of changing build directory on CI"
Currently, we change the build directory on CI only. This means that using `build` in gradle scripts works locally but not on CI. While it's generally considered best practice to use `buildDir`, it's so uncommon to change the build directory that I often forget. But worse is that this makes debugging failures that only happen on CI difficult. I can't think of a reason for us to be separating the b

[2020-11-15 09:47] anuraaga commented on #1146
Thought a bit about this, and perhaps this isn't a big deal if the spans are exported to the bootstrap classloader as serialized protos - test would be able to deserialize them trivially without any shading issues.

[2020-11-15 09:51] anuraaga commented on #1146
And another thought, not sure about it, but if this test-exporter used the exporter_jar mechanism, IIUC, getting the spans from tests could be as simple as the agent providing a reference to the exporter classloader through the bootstrap. We can make it package-private and still access it through reflection from tests I think. Then classload the test exporter, which would have methods for accessin

[2020-11-15 10:07] anuraaga commented on #1146
With my mental model refreshed on this I am going to try a stab at it. Work on context interop will also go much nicer knowing the instrumentation of properly shaded in the tests.

[2020-11-15 19:32] trask commented on #1146
🤞🤞

[2020-11-16 02:25] #981 closed

[2020-11-16 07:30] iNikem commented on #1640
Where do we change build directory?

[2020-11-16 08:29] #891 closed

[2020-11-16 08:32] anuraaga commented on #1640
@iNikem https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/master/build.gradle#L36

[2020-11-16 08:47] pavolloffay commented on #566
Yes, the idea is to easily recognize API mismatch. With the debug level the mismatch can go without noticing and causing part of the application not being traced or broken context.

[2020-11-16 08:47] iNikem commented on #1640
Why the hell do we do that?? I say we should remove this customisation

[2020-11-16 10:01] iNikem opened #1644 "Publish testing-common"
In order to allow vendor distribution to unit-test their custom instrumentation we should publish our test infrastructure, at least `testing-common` module.

[2020-11-16 10:07] iNikem commented on #1580
@trask, @jkwatson  do you remember what was the conclusion of this discussion during maintainers meeting? I think we still prefer to have and own our own documentation.

[2020-11-16 10:54] anuraaga commented on #1644
Will we force all vendors to use Spock? Ideally not :-)

[2020-11-16 11:06] mateuszrzeszutek commented on #1414
That's a great idea!

Two more things to add:
* Looks like `otel.trace.annotated.methods.exclude` is also used in the `methods` instrumentations - we should probably add a dedicated `otel.instrumentation.methods.exclude` instead.
* This property is also used in the `@WithSpan` annotation instrumentation. I'm wondering whether we need this functionality there at all - it's a separate `Instrumentati

[2020-11-16 11:46] iNikem commented on #1414
The main use for method exclusion here is to silence some over-zealous library, which has too many `WithSpan` sprinkled around. You still want this functionality as a whole, but not in that particular part of your application.

[2020-11-16 11:47] iNikem commented on #1644
Don't see anything bad in this :) What do you suggest?

[2020-11-16 17:05] mateuszrzeszutek commented on #1414
Good point. Then, what do you think about moving the `@WithSpan` instrumentation to the new `annotations` module? It does not really have much in common with the otel-api instrumentation, it suits the purpose of the `annotations` module and it makes sense to reuse the `otel.instrumentation.annotations.methods.exclude` property in it.

[2020-11-16 18:07] kubawach opened #1649 "AWS lambda context propagation - HTTP headers / non-streaming"
**Is your feature request related to a problem? Please describe.**
Currently only streaming wrapper / handler support inbound context propagation using HTTP headers. We should support non-streaming handlers as well (where applicable - API Gateway).

**Describe the solution you'd like**
It should be possible to simply get HTTP inbound context propagation "the usual way"- by configuring appropriate

[2020-11-16 20:39] asarkar opened #1651 "gRPC metrics"
OpenCensus has some [gRPC metrics](https://opencensus.io/guides/grpc/java/#instrumentation). I believe OTEL metrics is still very much a WIP, so what is the recommendation for projects that want to generate metrics? Some options are:

1. Use OpenCensus and bridge (is there one?) to OTEL.
2. Create your own using whatever library you like. This is what I did for [grpc-learning](https://github.com/a

[2020-11-16 21:30] asarkar commented on #1651
@anuraaga Any thoughts?

[2020-11-16 23:58] trask opened #1652 "Use otel instrumentation namespace for string attribute keys that are visible to user applications"
Inspired by https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/1601#discussion_r521877777

Most of our attributes already have otel instrumentation prefix, e.g.

https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/6e9ccfc39dfe759338c3287bf1d749d83a729bdd/instrumentation-api/src/main/java/io/opentelemetry/instrumentation/api/tracer/HttpServerTracer.java#

[2020-11-17 01:05] trask opened #1653 "Move java test classes from src/test/groovy to src/test/java"
Java test files seem to be split between `src/test/groovy` and `src/test/java`.

Probably they should all be under `src/test/java`(?)

Here's current list:

[code]

[2020-11-17 02:06] anuraaga commented on #1651
Hi @asarkar - currently our focus has been completely on tracing and metrics will still take some time. We don't have any bridging for the metrics either - but I guess you can just use the OpenCensus support from gRPC without worrying about OpenTelemetry? Though currently I would generally recommend Micrometer as it's more mature in the Java ecosystem, but it looks like the gRPC instrumentation fo

[2020-11-17 02:43] trask opened #1655 "Missing github action on merge"
Once we have this, we can use its badge to replace the CircleCI badge (similar to opentelemetry-java)

[2020-11-17 04:41] trask opened #1658 "Rename grizzly-client instrumentation to async-http-client"
It appears to just be instrumentation (and tests) of [AsyncHttpClient](https://github.com/AsyncHttpClient/async-http-client)

Also, I don't think we need to disable it by default (grizzly-server is a different story, and should be disabled by default).

[2020-11-17 04:50] anuraaga commented on #1644
Ideally we can move as much code into Java classes that don't depend on Spock but just operate on the agent, or our instrumentation APIs, etc, probably by presenting some lifecycle methods (`beforeAgentTest`, etc). Then, it probably (?) wouldn't be hard to call these from any testing framework, spock or junit. Hopefully #1146 will help move even more logic out of our spock lifecycle classes and th

[2020-11-17 05:33] trask commented on #1580
I don't mind if we move user docs to the website repo, it's not quite as convenient for us, but I think there are advantages for users.

Mainly though I would like to be consistent with what other repos are doing.

[2020-11-17 05:47] trask commented on #566
this would be great to add in this repo, no need for vendor hook I think

[2020-11-17 06:34] trask commented on #1414
I split `@WithSpan` out of the annotations module in #929 😅

I think the only reason was because it needed the same shading applied as opentelemetry-api.

But that's not a reason it needs to stay there, we could apply the same shading inside of the annotations module too.

I sort of like giving official annotation their own module, what do you think of

`annotations` module for `@WithSpan`, with p

[2020-11-17 12:23] mateuszrzeszutek commented on #1414
And now it comes full circle 😂

👍

Okay, to sum up:

* rename `java-concurrent` module into `executor`;
* move `TraceConfigInstrumentationModule` from `external-annotations` to a separate new `methods` module;
* move `@WithSpan` into a new `annotations` module;
* and rename all properties so that they match their new module names.

Have I missed anything?

[2020-11-17 15:25] #708 closed

[2020-11-17 16:08] pavolloffay commented on #1623
I have just updated to Java agent 0.10.0 in my custom build https://github.com/hypertrace/javaagent/pull/120.

In my custom servlet instrumentation I had to use servlet specific tracers to access the current span the `Span.current()` was throwing this error in unit tests, it would maybe also fail in the smoketest:

[code]

[2020-11-17 16:11] pavolloffay opened #1661 "Span.current() not working in custom servlet advice"
**Describe the bug**

`Span.current()` throws the following ByteBuddy error in custom servlet advice. This advice runs after the core one and it attaches additional data to span:

[code]

**Steps to reproduce**
Use here `Span.current()` https://github.com/hypertrace/javaagent/pull/120/files#diff-d3f9bb095b87c95e993061da5887be040204b20d1fde34344b976046dcdb7e07R66

and run unit test in that module.

[2020-11-17 16:57] trask commented on #1661
Yeah this is a recent problem because Span.current() is a default interface method, which can't be called from pre-Java 8 bytecode (and advice is inlined into the instrumented class which may be pre-Java 8).

Check out https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/master/javaagent-api/src/main/java/io/opentelemetry/javaagent/instrumentation/api/Java8BytecodeBridge.java#

[2020-11-17 17:05] trask commented on #1476
Closed by #1659

[2020-11-17 17:05] #1476 closed

[2020-11-17 17:08] trask commented on #1414
that sounds good

[2020-11-17 19:18] jamesylgan opened #1664 "Is there any way in 0.10.1 to access b3 multi propagator?"
I see #1647 is set to add support in the next release but I am wondering if there is any way in `0.10.1` to access b3 multi header propagation

Thanks!

[2020-11-17 19:24] iNikem commented on #1664
Unfortunately no :( We aim to make a new release early next week

[2020-11-17 20:02] jamesylgan commented on #1664
Thanks for the timeline @iNikem!

[2020-11-17 20:02] #1664 closed

[2020-11-17 21:30] #1579 closed

[2020-11-17 21:31] #1547 closed

[2020-11-17 21:50] trask commented on #1623
for others following here, this issue is continued over in https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/1661#issuecomment-729062150

[2020-11-17 23:55] trask opened #1667 "Rename akka-context-propagation-2.5 to akka-actor-2.5"
Both module and instrumentation name, following new docs:

https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/2e51003900aac3ba104dd1d24936b6e4d78b1056/javaagent-tooling/src/main/java/io/opentelemetry/javaagent/tooling/InstrumentationModule.java#L71-L72

Also, it's nicely shorter.

[2020-11-18 00:59] trask commented on #1667
Also possibly should rename `kotlin-coroutines` and `scala-concurrent`:

* `kotlin-coroutines` -> `kotlinx-coroutines`
* `scala-concurrent` -> `scala-executors` (this doesn't follow the library name which is `scala-library`, but is more explanatory, and matches the rename of `java-concurrent` to `executors`, see https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/1414#issue

[2020-11-18 03:55] pavolloffay commented on #1661
Is the only workaround to keep the advice methods minimal and rather use a helper class?

[2020-11-18 04:07] trask opened #1669 "Rename opentelemetry-api-beta to opentelemetry-api-1.0"
Renaming it is a little odd, since 1.0 is not released, but this artifact will eventually be `opentelemetry-api-1.0`, so seems to make sense to rename it now and not publish temporary opentelemetry-api-beta artifact.

EDIT: referring to the instrumentation module `:instrumentation:opentelemetry-api-beta`

[2020-11-18 04:30] trask opened #1670 "Armeria instrumentation is suppressing user decorators(?)"
It looks like the armeria instrumentation suppresses user decorators also, not only the library instrumentation decorator:

https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/2e51003900aac3ba104dd1d24936b6e4d78b1056/instrumentation/armeria-1.0/javaagent/src/main/java/io/opentelemetry/javaagent/instrumentation/armeria/v1_0/ArmeriaWebClientBuilderInstrumentation.java#L42-L61

[2020-11-18 05:03] github-actions[bot] opened #1672 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-11-18 07:53] trask commented on #1661
you can use `Java8BytecodeBridge` from your instrumentation, it's part of the `javaagent-api`

[2020-11-18 08:35] anuraaga opened #1674 "Can't run `byteBuddyJava` task twice without stopping Gradle daemon"
[code]

fails with

[code]

If I do `./gradlew --stop` and run the task, it succeeds, then run again and fails - `./gradlew --stop` always brings it back to a working state for one attempt until the next time the daemon is stopped.

[2020-11-18 11:33] pavolloffay opened #1677 "Extending InstrumentationModules"
**Is your feature request related to a problem? Please describe.**

I would like to extend instrumentation modules in my custom build of the Java agent. The main motivation is to avoid bugs like https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/1274 which the instrumentation modules solve.

Also the custom instrumentations depend on the core so if the core module is not a

[2020-11-18 11:33] pavolloffay commented on #1623
Another use-case: extending instrumentation modules: https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/1677

[2020-11-18 11:39] mateuszrzeszutek commented on #1677
Number 1 will be solved by https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/1374; after the muzzle improvement is implemented there will be no need for the `packageName` field at all.

I don't have any idea about what to do with number 2 yet.

[2020-11-18 11:42] pavolloffay commented on #1374
What package names will be accepted as helper classes? This might be related to https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/1395 both issues are important for anybody extending the agent and adding instrumentations. Could we make both of them required for GA?

[2020-11-18 11:44] mateuszrzeszutek commented on #1374
Right now `InstrumentationClassPredicate` will handle it. But in the future we'll need to expose some SPI like you suggested. This will be necessary if we ever want to use muzzle in vendor distributions: the SPI will need to be present on the classpath both during compilation (so that `ReferenceCollector` sees the custom packages) and during runtime.

[2020-11-18 11:48] pavolloffay opened #1678 "Regression in muzzle when switched to instrumentation modules"
**Describe the bug**

When switching from Instrumenter to Instrumentation module in custom servlet instrumentation I had to change the muzzle fail gradle configuration - https://github.com/hypertrace/javaagent/pull/123#discussion_r526011640.

**Steps to reproduce**
Try https://github.com/hypertrace/javaagent/pull/123 with the original settings.

**What did you expect to see?**

No changes to the m

[2020-11-18 11:48] pavolloffay commented on #1678
cc) @mateuszrzeszutek

[2020-11-18 11:51] pavolloffay commented on #1661
The `Java8BytecodeBridge` worked well is there anything we can do in this issue? Perhaps add some docs?

[2020-11-18 12:57] #1672 closed

[2020-11-18 13:38] iNikem opened #1680 "Struts module does not compile with testLatestDeps"
[code]

[2020-11-18 13:50] vovencij commented on #1680
I could take it.

[2020-11-18 14:03] vovencij commented on #1680
@iNikem Would it make sense to run the build with `testLatestDeps` also on PR, not just nightly? Current issue is something that could be caught before merging the PR.

[2020-11-18 14:06] iNikem commented on #1680
When running latest deps test during PR newly released version of an arbitrary library, totally unrelated to this PR's changes, can break PR and its author will be helpless and confused.

[2020-11-18 14:30] iNikem opened #1681 "TracerInstaller overrides custom propagators"
If some `TracerCustomizer` tries to provide its own propagators via calling `OpenTelemetry.setGlobalPropagators`, then `io.opentelemetry.javaagent.tooling.PropagatorsInitializer#initializePropagators` will override it anyway. At least with default `HttpTraceContext`. This makes it impossible to provide external/custom propagator.

Related to open-telemetry/opentelemetry-java#2022

Setting P1 becau

[2020-11-18 14:36] github-actions[bot] opened #1682 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-11-19 05:02] github-actions[bot] opened #1685 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-11-19 06:39] trask commented on #1674
I started running into this recently also 😢

[2020-11-19 07:58] iNikem commented on #1674
@agoallikmaa Can you take a look at this?

[2020-11-19 14:10] iNikem opened #1692 "Dependencies resolution during configuration"
Recent build scans report a warning "Dependencies were resolved during project configuration". This is a slight problem for CI, because e.g. `setup-muzzle-matrix` step, which should just print project names, takes several minutes.

By adding the following code into top-level `build.gradle` and running `./gradlew instrumentation:listInstrumentations -s` one can find that the culprit is `gradle/inst

[2020-11-19 15:13] mateuszrzeszutek commented on #1678
OK, I think I know why muzzle is failing for tour module: you need to split the classloader matcher between the module and type instrumentation.

This is your original matcher in `TypeInstrumentation` (`InstrumenationModule` does not have one):
[code]

According to `TypeInstrumentation#classLoaderMatcher()` JavaDoc, it's supposed to be only an optimization, it should not be used to select the libr

[2020-11-19 16:02] iNikem opened #1693 "Strange jar file name"
After recent nebula plugin version update I now see the following javaagent file name: `opentelemetry-javaagent-0.11.0-dev.48.uncommitted+80b068b-all.jar`. Can we have old name back? :)

[2020-11-19 16:41] trask commented on #1678
maybe we can rename `TypeInstrumentation.classLoaderMatcher()` to `classLoaderOptimization()` or similar?

[2020-11-19 18:59] #1680 closed

[2020-11-19 20:05] trask opened #1697 "Rename and document otel.trace.enabled property"
The property name should match our other property names (#1414), maybe `otel.instrumentation.enabled`?

[2020-11-19 20:07] #1655 closed

[2020-11-19 20:53] github-actions[bot] opened #1698 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-11-19 21:39] github-actions[bot] opened #1699 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-11-19 22:40] github-actions[bot] opened #1700 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-11-19 23:15] github-actions[bot] opened #1702 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-11-20 01:55] github-actions[bot] opened #1704 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-11-20 04:10] trask opened #1708 "Update groovy import order to match default Intellij"
Since we can't enforce the import order for groovy files, it makes sense to use the default Intellij ordering. Hopefully this should reduce import order drift.

Idea from https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/1690#issuecomment-730792005

[2020-11-20 04:18] trask commented on #1514
Closed by #1641, #1656, and #1666

[2020-11-20 04:18] #1514 closed

[2020-11-20 04:39] github-actions[bot] opened #1710 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-11-20 05:16] github-actions[bot] opened #1711 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-11-20 05:56] prashantnitt07 opened #1712 "how to integrate OTL java agent with Jaeger collector"
hi ,
I have setup Jaeger setup on linux machine.  I want to monitor tomcat application api with jaeger . how to integrate TOL java agent jar with Jaeger setup.

please help here!!!

[2020-11-20 07:34] #1698 closed

[2020-11-20 09:02] github-actions[bot] opened #1713 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-11-20 09:42] mateuszrzeszutek commented on #1697
There already is a `otel.instrumentations.enabled` property (see `InstrumentationModule#defaultEnabled`). Maybe we could rename that one to `otel.instrumentation.defaultEnabled` and `otel.trace.enabled` to `otel.javaagent.enabled`?

[2020-11-20 10:36] #1699 closed

[2020-11-20 10:36] #1700 closed

[2020-11-20 10:36] #1702 closed

[2020-11-20 10:36] #1704 closed

[2020-11-20 10:36] #1710 closed

[2020-11-20 10:36] #1711 closed

[2020-11-20 10:37] iNikem commented on #1713
`./gradlew :instrumentation:spring:spring-webmvc-3.1:javaagent:test -PtestLatestDeps=true` fails after #1606

[2020-11-20 12:45] iNikem commented on #1658
I think there is some confusion here.

https://github.com/AsyncHttpClient/async-http-client uses artifactId `async-http-client` and package name `org.asynchttpclient`
https://github.com/eclipse-ee4j/grizzly-ahc uses artifactId `grizzly-http-client` and package name `com.ning.http.client`.

The instrumentation under review monitors the second one, not the first one.

[2020-11-20 13:01] #1669 closed

[2020-11-20 13:05] #1667 closed

[2020-11-20 13:07] agoallikmaa commented on #1674
I am currently investigating this issue.

[2020-11-20 13:23] iNikem opened #1716 "Document possible values for otel.propagators"
Currently README lists possible values for that property, but does not explain their meaning. E.g. what is `ottracer` propagator?

Also please document which ones of the supported propagators are for baggage and which ones are for traces.

[2020-11-20 14:31] github-actions[bot] opened #1717 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-11-20 14:46] github-actions[bot] opened #1718 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-11-20 14:51] #1717 closed

[2020-11-20 14:51] #1718 closed

[2020-11-20 14:53] github-actions[bot] opened #1719 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-11-20 17:56] trask commented on #1632
Closed by #1545

[2020-11-20 17:56] #1632 closed

[2020-11-20 18:27] trask commented on #1658
`com.ning.http.client` was the package name for AsyncHttpClient prior to version `2.0`

[2020-11-20 19:32] github-actions[bot] opened #1721 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-11-20 19:35] github-actions[bot] opened #1722 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-11-21 04:54] github-actions[bot] opened #1724 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-11-21 05:04] github-actions[bot] opened #1725 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-11-21 07:21] #1713 closed

[2020-11-21 08:12] anuraaga opened #1726 "CONTEXT_*_SPAN_KEY need to be moved to an unshaded location?"
If I'm not mistaken, these keys will not function correctly when using both the agent and library instrumentation together since the key will be shaded in one and not compatible. I think these need to be moved to a location in the bootstrap classloader, with methods to get / set these. The opentelemetry-api instrumentation will need to also instrument these methods to perform bridging for these op

[2020-11-21 09:19] #1719 closed

[2020-11-21 09:19] #1721 closed

[2020-11-21 09:19] #1722 closed

[2020-11-21 09:19] #1724 closed

[2020-11-21 09:19] #1725 closed

[2020-11-21 09:20] #1682 closed

[2020-11-21 09:20] #1685 closed

[2020-11-21 17:36] aelmanaa opened #1727 "Logging exporter: error in doc"
Hello

in the source code, the system variable name is "otel.logging.prefix" . While the documentation states "otel.exporter.logging.prefix"

[2020-11-21 18:51] #1658 closed

[2020-11-21 20:29] jamal opened #1728 "Trace propagation is not working when a client span is created before HttpClient"
**Describe the bug**
Trace propagation is not working when a client span is created before the `HttpClientTracer` is invoked. This happens with instrumentations that create their own span but using an HTTP Client under the hood, such as the AWS SDK.

From reviewing the logic, this appears to be happening because `HttpClientTracer` is creating an invalid span when it detects a previously created cl

[2020-11-21 22:21] jamal commented on #1728
After digging into this issue, and my proposal solution a bit more, I found that some test cases were specifically checking against this behavior for the aws-sdk instrumentation.

The source of that is this commit: https://github.com/open-telemetry/opentelemetry-java-instrumentation/commit/ca708db5dae1e70a5909f043032bf4878348670f

This brings up a point I had not considered: adding headers to the

[2020-11-22 03:01] anuraaga commented on #1728
Hi @jamal - thanks a lot for the investigation. I had thought we were injecting headers into the request in the AWS SDK instrumentation but I can't find it even in the git history. Indeed, especially because of the signing requirement, it's the AWS SDK instrumentation that needs to propagate, not HTTP client instrumentation. We can do so in the `modifyHttpRequest` callback of `TracingExecutionInte

[2020-11-22 04:22] jamal commented on #1728
@anuraaga thank you for the feedback! I'd be happy to update this PR based on your suggestions. But, if it would make more sense for you to take over then let me know and I can hold off and wait :).

I've been trying to integrate our tracing solution with X-Ray, to get more visibility into workflows that involve SNS/SQS. So, have been fighting a few issues trying to sort that out, heh.

Thanks so

[2020-11-22 05:11] anuraaga commented on #1728
@jamal Cool let me try to sort it out then. Sorry for the troubles.

Also, I don't know if you noticed but I work at AWS on X-Ray :-) I'd be happy to hear more about what you're working on, since I want to make sure it's a good experience. If that sounds interesting drop me an email at the address on my GitHub profile.

[2020-11-22 05:39] jamal commented on #1728
Awesome, thank you! I'll follow up by email :)

[2020-11-22 18:44] trask commented on #1726
these are in `instrumentation-api` which is (shaded) in the bootstrap classloader already

👍

[2020-11-22 19:09] trask commented on #1692
Closed by #1715

[2020-11-22 19:09] #1692 closed

[2020-11-22 19:15] trask opened #1731 "Add a smoke test with two nodes to test trace context propagation"
There was a recent breakage in trace context propagation #1730.

This particular issue will be caught by (work in progress) #1643, but it still seems like an important use case for a smoke test.

[2020-11-22 20:33] trask commented on #1414
updated proposal --

`executors`
  * `otel.instrumentation.executors.include`
  * `otel.instrumentation.executors.includeAll`

`methods`
* `otel.instrumentation.methods.include`

`opentelemetry-annotations`
* `otel.instrumentation.opentelemetry-annotations.excludeMethods`

`external-annotations`
* `otel.instrumentation.external-annotations.include`
* `otel.instrumentation.external-annotations.excl

[2020-11-22 21:23] trask commented on #1727
thanks for reporting this! I think the doc is "correct" and the code should be updated to use `otel.exporter.logging.prefix` 😄

[2020-11-23 01:54] trask commented on #1726
I think this is needed for a common use case for end users too: adding attributes to the `SERVER` span, but finding yourself under a spring controller `INTERNAL` span so you can't use `Span.current()`.

Maybe `ServerSpan.current()` or something similarly friendly?

[2020-11-23 01:57] pvyaka01 commented on #1485
Thanks, I see the same behavior
[opentelemetry.auto.trace 2020-11-23 01:55:02:922 +0000] [grpc-default-executor-0] WARN io.opentelemetry.exporter.jaeger.JaegerGrpcSpanExporter - Failed to export spans
**io.grpc.StatusRuntimeException: DEADLINE_EXCEEDED: deadline exceeded after 0.999452088s. [remote_addr=xxxxx]**

[2020-11-23 04:45] trask commented on #1485
Hi @pvyaka01, the issue linked above hasn't been fixed yet, which is why you are still timing out at 1 second

[2020-11-23 06:02] trask commented on #1727
@aelmanaa I'm curious, are you using this property to remove the default prefix? I'm wondering if no prefix ("") is a better default compared to the current default `Logging Exporter:`.

[2020-11-23 06:28] trask commented on #1600
hi @xieao! are you trying to export spans to a file, or send agent debug logging to a file?

[2020-11-23 06:30] trask commented on #1587
Closed by #1663

[2020-11-23 06:30] #1587 closed

[2020-11-23 06:31] trask commented on #1625
Closed by #1662

[2020-11-23 06:31] #1625 closed

[2020-11-23 06:32] trask commented on #1731
Closing as duplicate of #1561

[2020-11-23 06:32] #1731 closed

[2020-11-23 10:47] mateuszrzeszutek commented on #1678
@pavolloffay have you applied suggestion from my previous post? Does it work now?

[2020-11-23 11:02] pavolloffay commented on #1678
Yes it fixed the issue

[2020-11-23 11:02] pavolloffay commented on #1678
Thanks @mateuszrzeszutek for looking into it.

[2020-11-23 13:41] #1640 closed

[2020-11-23 13:42] #1653 closed

[2020-11-23 13:50] #1661 closed

[2020-11-23 13:51] mateuszrzeszutek commented on #1678
No problem at all!

I'll rename the `classLoaderMatcher()` as @trask suggested and close this issue.

[2020-11-23 15:17] iNikem commented on #1693
Binary search showed that this changed with upgrade shadow plugin from `6.0.0` to `6.1.0`

[2020-11-23 15:25] github-actions[bot] opened #1742 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-11-23 15:26] github-actions[bot] opened #1744 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-11-23 16:33] mateuszrzeszutek commented on #536
I've compiled a list of questions that have not been answered yet in our muzzle docs:

- Muzzle task's logs that one has to read and understand when muzzle task fails
  - Should we work on the readability of those logs? They seemed okay to me, but maybe we can improve them somehow.
- Muzzle plugin does some extremely convoluted things with Gradle. Such as arbitrarily reaching to other projects. Th

[2020-11-23 19:19] aelmanaa commented on #1727
Helle @trask

I was just playing around to understand opentelemetry. To answer your question: IMHO, indeed it makes sense to put "" and if one would like to parse his log then he can fill in "otel.exporter.logging.prefix" .
Got one question for you please:

are there guidelines on how to write a custom tracer in case a dependency is not supported?

https://github.com/open-telemetry/opentelemetry-j

[2020-11-23 22:53] #1697 closed

[2020-11-24 03:34] trask commented on #1414
I realized one issue with camelCase is that, at least with our current env var mapping,

`otel.instrumentation.executors.includeAll`

doesn't map to:

`OTEL_INSTRUMENTATION_EXECUTORS_INCLUDE_ALL`

but instead maps to

`OTEL_INSTRUMENTATION_EXECUTORS_INCLUDEALL`

So maybe `otel.instrumentation.executors.include-all`?

[2020-11-24 04:11] #1744 closed

[2020-11-24 04:11] #1742 closed

[2020-11-24 06:18] haiau79 opened #1748 "@WithSpan annotation doesn't add span to current Trace"
Hi, I am using the auto instrumentation jar and it works good when I trace my app through several microservices. It generates 4 spans. I added an internal method to one of my services that just sleeps for a few seconds and annotated the method with @WithSpan and when I ran the trace again, I was expecting to see a 5th span get added (the internal method that was annotated with @WithSpan). However,

[2020-11-24 08:56] anuraaga opened #1751 "Lazy load servers in tests"
This may just be a bad bandaid, but just an idea. We often use test class callbacks for creating testing servers, e.g. `@Shared`, `@TestContainer`. Starting up servers in our huge build can fail for various reasons - unfortunately `gradle-retry-plugin` will not support retrying tests for this case. An extreme cludge, but we could workaround this by instead of using class callbacks, use lazy single

[2020-11-24 09:18] #1693 closed

[2020-11-24 09:22] iNikem commented on #1751
As additional benefit this will make the time to load server more visible, I think

[2020-11-24 11:42] #1649 closed

[2020-11-24 12:27] #1678 closed

[2020-11-24 15:04] mateuszrzeszutek opened #1753 "Add a checkstyle rule to enforce public non-final instrumentation classes"
**Is your feature request related to a problem? Please describe.**
`TypeInstrumentation` and `InstrumentationModule` implementations should always be public and non-final so that they can be extended/reused in vendor distributions. This rule is not checked automatically at all, currently we rely on code review.

**Describe the solution you'd like**
It should be possible to check that instrumentati

[2020-11-24 19:18] trask commented on #1414
Copying comment here from https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/1747#issuecomment-733154848 in favor of kebab-case:

[Spring Boot env var / system property mappings](https://docs.spring.io/spring-boot/docs/current/reference/html/spring-boot-features.html#boot-features-external-config-relaxed-binding) supports both camelCase and kebab-case, but recommends kebab-c

[2020-11-24 19:41] RashmiRam opened #1756 "Provision to add current span as links to kafka consumer span"
I am not entirely sure if this issue should be raised here or in Opentelemetry spec project.

Current Kafka consumer instrumentation creates `consumer` spans from the context extracted from the record headers if this `otel.kafka.client.propagation.enabled` setting is enabled. If this setting is not enabled, `consumer` spans will take the current span as parent. Ref: https://github.com/open-telemet

[2020-11-24 20:07] #1652 closed

[2020-11-24 20:53] trask commented on #1748
hi @haiau79! can you provide a repro that we can use to test/troubleshoot this issue? a simplified version of your first service, where the `@WithSpan` span is not being parented to the request span, would be great, I don't think the issue is related to the other services being involved.

[2020-11-24 21:01] trask commented on #1727
@aelmanaa great, thx, I agree, sent #1758 to make that change.

I'd start with looking at some of the existing instrumentations.

If you can provide some more details, e.g. what library/framework are you wanting to instrument, what kind of telemetry do you want to capture from it, we can try to provide more specific hints where to start.

[2020-11-24 23:42] asarkar commented on #1550
@anuraaga I tried with the following versions:
Group `io.opentelemetry.instrumentation` - v0.10.1
Group `io.opentelemetry` - v0.12.0-SNAPSHOT

but:
[code]

[2020-11-25 04:50] #1374 closed

[2020-11-25 06:49] malafeev opened #1761 "Release 0.11.0"
Issue is created to track status of releasing 0.11.0
@iNikem could you please provide status? Is there a solution to deploy all artifacts? Is there ETA?
@pavolloffay as I remember from last SIG you also proposed some help?

[2020-11-25 08:05] anuraaga commented on #1550
Yeah until 1.0, we are not creating compatibility bridges like we will going post-1.0, sorry for the trouble. In the meantime, are you able to use `0.11-0-SNAPSHOT` of instrumentation along with `0.11.0` of the SDK?

[2020-11-25 08:34] anuraaga opened #1765 "bytebuddyjava output not deterministic?"
I noticed bytebuddyjava rerunning basically always causes tests to rerun, even with the same sources. This shouldn't happen as we would expect the output of the task to be deterministic. Even if it's not cached and gets rerun every single time, it should only contribute its own time to the build, not the invalidation of downstream tasks.

[2020-11-25 08:36] anuraaga commented on #1765
/cc @agoallikmaa

[2020-11-25 08:37] #1728 closed

[2020-11-25 09:17] mateuszrzeszutek commented on #801
I think that we can close this one since `helperClassNames()` method does not exist anymore.

[2020-11-25 09:17] #801 closed

[2020-11-25 09:45] #1411 closed

[2020-11-25 13:01] #1674 closed

[2020-11-25 13:07] iNikem commented on #1761
Oi, indeed, we wanted to release early this week, but that slipped us.

@anuraaga @trask any thoughts on that? Or I can just press release tomorrow morning

[2020-11-25 13:10] pavolloffay commented on #1761
How did the issue with releasing the agent instrumentations go? Did the migration to artifactory or other release plugin help?

[2020-11-25 13:11] iNikem commented on #1761
Nothing happened in that regard. I got distracted by employer's work :(

[2020-11-25 13:15] iNikem commented on #1756
It is certainly a valid ask, but it should be started in the spec first. Take a look at https://github.com/open-telemetry/opentelemetry-specification/issues/1085 as well

[2020-11-25 14:11] aelmanaa commented on #1727
@trask thanks.

Actually we are using [Application insights java library](https://github.com/microsoft/ApplicationInsights-Java)  which uses opentelemetry behind the scenes If I understood correctly.

It works fine with our microservices developed inhouse but we are not able to instrument the API GW , which is [wso2 based](https://wso2.com/) .
After investigation, we found out that wso2 products u

[2020-11-25 15:32] jamal commented on #1728
Updated the title to better reflect what is actually happening here. I'm not aware of other instrumentations that are impacted by this besides AWS SDK.

@anuraaga Also, thank you for fixing this in the 2.2 SDK instrumentation. Do you plan on doing the same for the 1.X instrumentation? In my case, we're still using this version of the SDK as this is an older services. We could look into upgrading,

[2020-11-25 16:39] agoallikmaa commented on #1765
It does indeed appear to be the case. When looking at the generated `getMuzzleReferenceMatcher` it seems that the order in which some flags are applied to the matcher builder can be random. One random example:

![diff2](https://user-images.githubusercontent.com/3532037/100256337-5a5d8e00-2f4d-11eb-9bf8-8e1754378c3f.png)

Will dig further.

[2020-11-26 00:16] anuraaga commented on #1765
@agoallikmaa Nice find - I am suspecting there is a HashMap that needs to be changed to a LinkedHashMap somewhere :)

[2020-11-26 00:32] trask commented on #1765
oh that's interesting! ya, we use `HashSet` in a bunch of places in muzzle generation

[2020-11-26 01:02] parallelstream commented on #1429
working on it

[2020-11-26 03:23] themukeshbansal opened #1768 "Support Needed"
I am finding it difficult to use open-telemetry with dropwizard.

Current use case, Two of the services of mine are auto-instrumented using the agent jar. I need to get the context in the first service and send it to Kafka, where I can propagate it to other services as well.
What I am intending to do is to trace the call, for a particular entity via through consumers of that Kafka topic.

I am sor

[2020-11-26 05:08] trask commented on #1727
@aelmanaa check out the apache-httpasyncclient-4.0 instrumentation, that is probably the closest instrumentation to what you are looking for, so hopefully will help you get started.

[2020-11-26 05:19] trask commented on #1768
hi @themukeshbansal! can you create a github repository with a small example showing what you are trying to do?

[2020-11-26 05:30] trask commented on #1761
worth a try 🤞

and when u have time, let us know your thoughts on the path forward / what you think we should try next

I can help do leg work, and @pavolloffay volunteered to help also

[2020-11-26 05:45] anuraaga commented on #1728
@jamal I was hoping to punt on the older one until someone asked, but someone asked so soon :P https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/1771

[2020-11-26 05:45] anuraaga commented on #1761
I was also thinking of just hitting the button, but hoping to get a last #1771 into the release :D

[2020-11-26 06:46] themukeshbansal commented on #1768
Here, I tried to put a rough idea of what my team is trying to do, I will need guidance on the comments.

https://github.com/themukeshbansal/opentelemetry-dropwizard/blob/main/dropwizard-example/src/main/java/com/example/helloworld/resources/PeopleResource.java

[2020-11-26 07:07] trask commented on #1768
If you are using the javaagent, you don't need to do any manual context propagation, all of that is taken care of by the auto-instrumentation

[2020-11-26 07:17] themukeshbansal commented on #1768
Yes, I am able to see the traces of the same.
But if the trace of an API ends at the Kafka push, How do I trace the call for an entity or a message for when two of my microservices consumes a message being pushed via the post API in the first microservice.? Or is it not a valid use case to trace an entity but just incoming and outgoing connection calls?

M1 (otel-agent attached) [produces] --> Kaf

[2020-11-26 07:22] mateuszrzeszutek opened #1773 "Support more span attributes in the AWS lambda wrapper"
The aim of this issue is to introduce support for most of the FAAS/cloud attributes defined in the [spec](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/semantic_conventions/faas.md). Currently only `faas.execution` is added to the span.

I think that the following attributes can be added pretty easily:
* `cloud.provider`
* `cloud.region`
* `faas.name

[2020-11-26 07:41] anuraaga commented on #1773
For resource attributes, it probably makes sense to keep them together with other resource providers instead of instrumentation, so adding `LambdaResource` here - https://github.com/open-telemetry/opentelemetry-java/tree/master/sdk-extensions/aws/src/main/java/io/opentelemetry/sdk/extension/aws/resource

[2020-11-26 07:43] mateuszrzeszutek commented on #1773
Nice! It was absent from the trace semantic conventions doc - I should probably. add it there.

Yep, that was exactly my intention.

[2020-11-26 08:19] mateuszrzeszutek commented on #1773
By the way @anuraaga : do you know if it's possible to get the account id from something other than the ARN? My idea was to just extract it from the ARN, but then again it cannot be a resource attribute.

[2020-11-26 09:01] themukeshbansal commented on #1768
Can I in any way capture a trace id from auto instrumented agent jar and persist it, pick it from other service and attach it manually?

[2020-11-26 09:07] #1765 closed

[2020-11-26 09:34] iNikem commented on #1768
If `otel.kafka.client.propagation.enabled` property is `true` (by default it is), and you use fresh enough Kafka (later than 0.11 I believe), then our Kafka instrumentation will add traceId and spanId as headers to all persisted kafka messages. And will try to extract them during consumption. If all this works then your consumers in M2 are expected to create spans with parent propagated from M1.

[2020-11-26 09:43] themukeshbansal commented on #1768
Very well.
Let me get back to you on this.

[2020-11-26 10:19] mateuszrzeszutek commented on #1773
Also, regarding the execution environment: I thought about it and decided to use more generic `process.runtime.*` attributes instead. I'll create an issue & PR in otel-java.

[2020-11-26 12:42] iNikem opened #1776 "More robust artifacts publishing"
We have experienced a lot of problems recently during artifacts upload and publishing. This task tries to summarise my understanding of better options to achieve the desired outcome.

First, the least desirable option is to abandon Bintray/JCenter altogether and publish directly to MavenCentral. I don't have first-hand experience with this, but Internetz have scared me away from that option. I am

[2020-11-26 12:43] iNikem commented on #1761
@trask @anuraaga #1776

[2020-11-26 13:56] anuraaga commented on #1776
This seems quite early to assume in the discussion ;)

From what I understand there is no such thing as publish straight to Maven Central - you publish to a different Maven repo and sync to it. For OSS, JCenter is the Artifactory instance to do that, oss.sonatype is the Nexus instance to do that.

The main reason I've seen for people to go with JCenter is not understanding crypto. It takes care of

[2020-11-26 18:19] jamal commented on #1728
@anuraaga Haha,sorry! I appreciate all of the help. I'll have to prioritize upgrading to the 2.x SDK one day 😅

[2020-11-26 19:21] #534 closed

[2020-11-26 19:22] #1582 closed

[2020-11-27 02:09] anuraaga commented on #1776
By the way, just to clarify Cloud Artifactory may still be a good option for us, but just that it'd be good to check out all the options :) I'm wondering what we get from proxying through to sonatype oss and then to maven central, aside from easy GPG - I've seen failed syncs from bintray where we'd need to login to sonatype oss to delete the staging repo there anyways, so I guess it's a dependency

[2020-11-27 06:36] trask commented on #1776
I looked around but didn't find any mention of Cloud Artifactory having a feature to sync to maven central. I wonder if syncing to maven central is only a bintray thing? #1778 seems like our last shot with bintray (in case signing locally reduces bintray publishing load), and if that doesn't work, I'm not sure we have any other option besides sonatype?

[2020-11-27 07:10] iNikem commented on #1776
Artifactory can publish to Bintray which then can sync to Maven Central

[2020-11-27 07:16] iNikem commented on #1776
One potential benefit of using Artifactory is the ability to attach build info to all published artifacts. E.g. attaching git sha to them to be able to backtrack any jar to the commit it was built from. And any other metadata we may wish.

[2020-11-27 07:18] iNikem commented on #1776
But for the record: I am OK with any solution that works and is stable. Just if I am going to do it, I will first try to go Artifactory way :)

[2020-11-27 08:25] mateuszrzeszutek opened #1779 "Use sdk-extensions/resources in the agent"
`OsResource`, `ProcessResource` (and soon `ProcessRuntimeResource`) add some useful attributes, I think that the agent could include those.
Also I think that even if the user included this jar on the classpath the resources would not register because the context classloader for the SDK is the agent classloader, and it can't load external classes.

[2020-11-27 08:46] anuraaga commented on #1779
I think we should, only reason is probably no one did it yet :)

[2020-11-27 08:57] mateuszrzeszutek commented on #1779
Got it. Changing this issue to an enhancement

[2020-11-27 09:00] anuraaga commented on #1776
I'd like to give sonatype a try - the build configuration change is pretty small so if it doesn't work out it's easy to back out

https://github.com/aws/aws-xray-sdk-java/blob/master/build.gradle.kts#L279

We need to get the sonatype user / pass into this repository, which we needed eventually for Maven Central anyways so now's a good time to do that. I guess only @carlosalberto has that right now

[2020-11-27 09:45] iNikem commented on #1776
One word of caution: we will create confusion among our users who are using bintray right now and all of a sudden has to switch repo for newer releases

[2020-11-27 09:48] anuraaga commented on #1776
@iNikem It's a good point. @trask Are we ready to publish to Maven Central (renaming is done)? If so, we can do the switch now

[2020-11-27 14:37] iNikem commented on #1677
@pavolloffay @mateuszrzeszutek Can the second problem be solved by custom distro disabling upstream module and then providing new name for its own override? And then extending `typeInstrumentations()`.

To simplify that we may automatically add one more `additionalInstrumentationName` to all our modules, equal to the class name of the module. Then there are much less chance to interfere with clien

[2020-11-27 18:40] mateuszrzeszutek commented on #1677
Yes, it could be done this way. Instead of extending you could use composition, e.g.:
[code]
This way you can name your instrumentation however you want (because actual agent instrumentation modules only have default constructors).

That wouldn't work, unfortunately - we can't inject instrumentation classes. I'd recommend the composition approach.

[2020-11-27 20:48] trask commented on #1776
I'll review artifact names today.

[2020-11-28 19:20] trask commented on #1345
I think this issue will not be needed after #1643, all tests have been refactored in that PR to not need dynamic config

[2020-11-29 05:04] #1638 closed

[2020-11-29 06:18] anuraaga opened #1795 "Build cache problem for Java 8 /15 tests"
Looking at the checks for this commit

https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/1791/commits/ac811eea5ea7985020e4314095b0ac170d6b2c74

We can see build fail with the intentionally broken Java file. We would expect Java 8 / 15 tests to fail too, but somehow they seem to be passing from cache.

[2020-11-29 06:19] anuraaga commented on #1795
Well looking closer at the logs, `compileJava` seems to be getting run, and passing

[2020-11-29 06:21] anuraaga commented on #1795
Nevermind - space in import statement is apparently legal didn't know :D

[2020-11-29 06:21] #1795 closed

[2020-11-29 20:33] trask opened #1798 "Cache config values in instrumentation"
This is not possible currently because we sometimes test with different config values in the same JVM, but will be possible after #1643, when running with real javaagent and static config.

[2020-11-30 02:56] anuraaga commented on #1761
@malafeev 0.11.0 is in jcenter now - can you give it a shot?

[2020-11-30 03:47] malafeev commented on #1761
works for me @anuraaga

[2020-11-30 04:19] #1761 closed

[2020-11-30 07:24] iNikem opened #1806 "Scopes with invalid spans"
We have a check in place to prevent nested CLIENT spans:

[code]

But we always call `tracer.startScope()` after `startSpan()` which results in the invalid span returned from the latter being put into the current context by the former. Which does not make sense. After CLIENT span was created it should always be the active span (until it ends of course).

[2020-11-30 11:41] mateuszrzeszutek commented on #1292
Was implemented in https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/1797

[2020-11-30 11:41] #1292 closed

[2020-11-30 12:38] mateuszrzeszutek commented on #1345
Let's close this issue after #1643 gets merged then.

[2020-11-30 12:49] mateuszrzeszutek commented on #1806
I wonder if we need to start a new scope for an invalid scope at all. Is there any use case where we intentionally want to do that? If not, we can just return noop scope from all `tracer.startScope()` methods if the span is not valid.

[2020-11-30 12:58] iNikem commented on #1806
I don't think that we should start new scope. So yes, returning `noop` is probably the right thing to do.

[2020-11-30 23:00] bhautikpip commented on #1566
Hi @trask ,

I tried to activate process metrics but couldn't get it up and running. I am running below command to execute springboot app with java agent. I would appreciate any pointers on this.
[code]

[2020-12-01 06:24] themukeshbansal commented on #1768
@iNikem
I found this, can you please help, if there is any way to achieve a similar use case ?

https://gitter.im/open-telemetry/opentelemetry-java-instrumentation?at=5efefb93bb149531ede7d726

[2020-12-01 07:07] iNikem commented on #1768
@themukeshbansal In the simplest case you can write custom `SpanProcessor`, see https://github.com/open-telemetry/opentelemetry-java-instrumentation/tree/master/examples/distro for some examples. Also please see #1623

[2020-12-01 12:41] pavolloffay commented on #1534
Isn't it covered in the code? If the type is null it uses the class loader name.

[2020-12-01 13:18] iNikem commented on #1594
@pavolloffay Can you tell me how did you work around this issue in hypertrace?

[2020-12-01 15:04] pavolloffay commented on #1594
as I workaround I have shaded HT classes into `io.opentelemetry.javaagent.shaded` which matches the hardcoded prefix. We still need a proper fix though.

[2020-12-01 16:19] vovencij commented on #739
Output of `gradlew clean assemble` as of now:
[code]

Only gradle warnings left...

[2020-12-01 16:59] cmardini opened #1814 "Broken link in README.md"
The "Download the latest version." link in the README.md seems to be broken.

This seems to be since the 0.11.0 release which doesn't seem to include the opentelemetry-javaagent-all.jar
 in the release assets.

[2020-12-01 17:14] pavolloffay commented on #1677
re the `return delegate.getMuzzleHelperClassNames();` this method will have to return also helper classes for the new module as the new module might use more helpers applies also for the muzzle matcher.

[2020-12-01 23:03] github-actions[bot] opened #1815 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-12-01 23:36] github-actions[bot] opened #1816 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-12-02 00:03] #1779 closed

[2020-12-02 00:45] github-actions[bot] opened #1817 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-12-02 01:53] github-actions[bot] opened #1819 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-12-02 03:41] github-actions[bot] opened #1820 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-12-02 04:18] #1815 closed

[2020-12-02 04:56] #1561 closed

[2020-12-02 06:13] #1816 closed

[2020-12-02 06:13] #1817 closed

[2020-12-02 06:13] #1819 closed

[2020-12-02 06:13] #1820 closed

[2020-12-02 06:26] iNikem commented on #739
I would suggest adding `-Werror` to our build before closing this issue.

[2020-12-02 08:10] anuraaga commented on #1814
Sorry for forgetting! It should work now. Thanks for the report

[2020-12-02 08:10] #1814 closed

[2020-12-02 08:56] govine commented on #1600
I also think that writing files is the right choice in many scenarios.
So we need another exporter for file writing?

[2020-12-02 15:45] iNikem commented on #1595
@trask Can you please test this again? I cannot reproduce this issue with WildFly. But I can with GlassFish :)

[2020-12-03 04:20] trask opened #1822 "Proposal for modeling nested CLIENT instrumentation"
Since CLIENT spans cannot have nested CLIENT spans, we suppress the nested http client instrumentation, which seems reasonable, as user is interacting with the higher level library, and is probably most interested in seeing things at that level.

But sometimes the nested instrumentation can provide interesting telemetry.

For example, Elasticsearch CLIENT spans are modeled as database spans, but m

[2020-12-03 09:31] iNikem commented on #1822
Should we formalise these events on spec level?

[2020-12-03 10:30] iNikem commented on #1595
I took 0.10.0 release which supposed to have this problem and tested wildfly-21.0.0.Final with it and a simple web app. Works without any problems.

[2020-12-03 11:19] github-actions[bot] opened #1824 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-12-03 12:34] iNikem commented on #1595
A! Now I reproduced it! I needed JSP for that :) pure servlets work just fine

[2020-12-03 18:06] iNikem commented on #1824
Flaky

[2020-12-03 18:06] #1824 closed

[2020-12-03 18:28] iNikem opened #1826 "Inconsistent constraints between testLatestDep and muzzle"
Up until recently we had in `jaxrs-client-2.0-jersey-2.0` a muzzle constraint like this:
[code]
and at the same time latest dep was defined as:
`latestDepTestLibrary group: 'org.glassfish.jersey.core', name: 'jersey-client', version: '2.27'`

Which means that we don't expect our tests to work with version later than 2.27 but we still expect muzzle to pass. Does not make sense. Muzzle broke on `3.0

[2020-12-03 19:47] #946 closed

[2020-12-03 19:47] #1806 closed

[2020-12-03 20:53] trask commented on #1595
good find, I wonder if I was using some default app that had JSPs, no idea 😂

[2020-12-03 20:54] trask commented on #1595
Closed by #1825

[2020-12-03 21:05] trask commented on #1595
oh, just realized, the test matrix isn't running yet, probably why you didn't close this 😄

[2020-12-03 21:29] iNikem commented on #1595
Will submit proper test and fix tomorrow

[2020-12-03 22:55] #1727 closed

[2020-12-04 09:51] mat-rumian opened #1829 "OTLP Exporter - mTLS does not work"
**Describe the bug**
In case of **mTLS** usage an error occurs

**Steps to reproduce**
* Auto instrumented java application with OTLP exporter (0.10.1) and `insecure` flag set to `false`
* OpenTelemetry Collector version `0.14.1`
* Security certificates generated by this [script](https://github.com/nddipiazza/grpc-java/blob/master/examples/README.md#generating-self-signed-certificates-for-use-with

[2020-12-04 16:20] johnbley commented on #1822
This "layering" or "nesting" views of protocols occurs quite a bit and will occur more and more as we add more instrumentation.  A few thoughts that will probably only serve to confuse matters more:

- **Depth**: It might occur more than two layers deep: consider what happens if we add `Socket` instrumentation
to time the connect sequence.  `Database API -> Http library -> Socket connection`

- **

[2020-12-04 17:14] laurit commented on #1515
test uses hibernate 4.3.0.Final which is too old to work with spring 5.3.0 which is used by spring data jpa 2.4

[2020-12-05 08:41] #1594 closed

[2020-12-05 08:41] #1595 closed

[2020-12-07 07:24] #1453 closed

[2020-12-07 09:00] github-actions[bot] opened #1841 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-12-07 09:04] anuraaga commented on #1841
Just snapshot publishing flake

[2020-12-07 09:04] #1841 closed

[2020-12-07 09:17] mateuszrzeszutek opened #1842 "Instrument Spring Batch"
The aim of this issue is to introduce a Spring Batch instrumentation into the Java agent.
It is intentionally very vague, as we don't even have a spec for batch jobs right now - it'll be filled with details over time.

[2020-12-07 12:21] pavolloffay commented on #1521
Has anybody looked into this?

[2020-12-07 13:56] pavolloffay commented on #1594
thanks @iNikem for the fix ❤️

[2020-12-08 12:46] ghevge opened #1851 "Question: Does anybody knows if there is any opentracing support for Java HttpClient ?"
Does anybody knows if there is any opentracing support for Java HttpClient introduced in Java 11?

https://openjdk.java.net/groups/net/httpclient/intro.html

Thanks

[2020-12-08 13:06] #1773 closed

[2020-12-08 21:27] trask commented on #1851
Hi @ghevge, this sounds like a question for the OpenTracing project

[2020-12-09 02:12] github-actions[bot] opened #1855 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-12-09 03:46] github-actions[bot] opened #1856 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-12-09 05:22] github-actions[bot] opened #1858 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-12-09 08:21] github-actions[bot] opened #1862 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-12-09 08:50] github-actions[bot] opened #1863 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-12-09 09:14] github-actions[bot] opened #1864 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-12-09 10:25] dh-ger opened #1865 "Trace config property to indicate that the responsibility of deciding to trace or not is delegated to another component"
**Is your feature request related to a problem? Please describe.**
We are in the process of modernizing a legacy application and splitting out components into microservices.
We run in Kubernetes where we have many different APIs (ours is a spring boot API) and we sit behind an API gateway.
In terms of distributed tracing we use b3-multi propagation, and it is the responsibility of a component at t

[2020-12-09 10:41] iNikem commented on #1865
Do I understand you correctly, that you want an option to run a javaagent in a mode, where it joins already existing trace but will not initiated new ones?

[2020-12-09 10:48] dh-ger commented on #1865
Yes, this essentially what it boils down to

[2020-12-09 10:55] iNikem commented on #1865
I think using `Sampler.parentBased(Sampler.alwaysOff())` sampler achieves this, no? The question remains, how do tell this javaagent to use this sampler...

[2020-12-09 11:22] dh-ger commented on #1865
So I had assumed that the desired behavior would be achieved when setting `otel.config.sampler.probability` to 0.
However when this is set to 0, then it also does not join existing traces.

It is possible that your suggestion might work, however as you say I have no idea how to configure the javaagent to do this.

[2020-12-09 12:59] suman-aella opened #1866 "Instrumentation for RxJava 2"
Are there any plans to support the auto instrumentation for RxJava 2. The current instrumentation for RxJava 1 doesn't support the later major releases because of complete api change in new RxJava versions.

We use RxJava for processing our event data and currently unable to trace the internals.

Is there anyway we can do the trace context propagation in Rxjava and achieve this manually.

I see th

[2020-12-09 13:05] iNikem commented on #1866
Current maintainers of this repo most probably will not have enough capacity to address this until after GA. Which means couple of months at least. External PRs are very welcomed :)

[2020-12-09 16:46] bogdandrutu commented on #1186
I have few questions about "javaagent" artifacts:

If `groupId: io.opentelemetry.javaagent.instrumentation` why do we repeat `javaagent` in the `artifactId: opentelemetry-javaagent-cats`? Same for `groupId: io.opentelemetry.javaagent` and `artifactId: opentelemetry-javaagent-api`?

[2020-12-09 18:14] trask commented on #1865
another option is #1060

[2020-12-09 18:17] trask commented on #1186
so that we won't produce the exact same jar file names for different artifacts which can be confusing

[2020-12-09 19:37] asarkar commented on #1550
@anuraaga Using the versions you suggested, I gathered the following logs from a test execution (sanitized to protect IP). There seems to be more than one discrepancies.

[code]

First of all, we need to establish the call flow.

MetadataInjectingClientInterceptor - gRPC client interceptor, only used for testing.
MetadataTransferringServerInterceptor - gRPC server interceptor
AuthInterceptor - gRP

[2020-12-09 20:03] breedx-splk commented on #1609
Assign to me please?

[2020-12-09 20:08] github-actions[bot] opened #1867 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-12-09 21:58] breedx-splk commented on #526
Now this it's December, what do we think of this one?  Since #490 sped up build times, do we still want to do this, or call it good?

[2020-12-09 22:10] breedx-splk commented on #302
The `runtime-metrics` linked to by the original requestor have been removed/deprecated (see [#2119](https://github.com/open-telemetry/opentelemetry-java/pull/2119) and [#2226](https://github.com/open-telemetry/opentelemetry-java/pull/2226)).

I think that we should either close this one or rewrite it to more clearly describe what is expected/wanted.

[2020-12-09 22:12] github-actions[bot] opened #1870 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-12-09 22:17] breedx-splk commented on #342
#666 has been closed for a while, and I feel like the docs are pretty good at this point.  Is there any more to do on this one?

[2020-12-09 22:36] parallelstream commented on #1429
https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/1871

[2020-12-10 00:42] anuraaga commented on #1550
@asarkar Are all the classes implemented in kotlin? Are you using `grpc-kotlin`?

https://github.com/grpc/grpc-kotlin

They have an interceptor specially for adding context elements, which I think you would want to use if you need it to propagate among all those components

https://javadocs.dev/io.grpc/grpc-kotlin-stub/1.0.0/index.html

[2020-12-10 03:52] github-actions[bot] opened #1873 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-12-10 05:32] trask commented on #1776
Closing, 0.12.0 is published to maven central, and Sonatype publishing has been more reliable so far at least (hopefully not just beginners luck 🍀).

[2020-12-10 05:32] #1776 closed

[2020-12-10 06:31] iNikem commented on #526
I am in favor of closing this. We still have an open problem that local test runs cannot use remote cache, but that should not keep this task open.

[2020-12-10 06:36] trask commented on #526
Sounds good

[2020-12-10 06:36] #526 closed

[2020-12-10 07:17] trask opened #1874 "Hide all span attributes not defined by spec behind an experimental flag"
Otherwise, if/when they are defined by the spec, we will have to keep the old ones around forever too if we don't want to introduce a breaking change.

[2020-12-10 08:36] #1855 closed

[2020-12-10 08:36] #1856 closed

[2020-12-10 08:36] #1858 closed

[2020-12-10 08:36] #1862 closed

[2020-12-10 08:36] #1863 closed

[2020-12-10 08:36] #1864 closed

[2020-12-10 08:36] #1867 closed

[2020-12-10 08:36] #1870 closed

[2020-12-10 08:36] #1873 closed

[2020-12-10 09:23] dh-ger commented on #1865
Yes, this would definitely solve the issue we have with health checks getting traced

[2020-12-10 12:39] iNikem commented on #1851
Not related to this repo

[2020-12-10 12:39] #1851 closed

[2020-12-10 13:37] mateuszrzeszutek commented on #302
This package is now a library instrumentation in this repo, so maybe we should use it in javaagent?

[2020-12-10 16:27] pvyaka01 opened #1880 "Prometheus metrics"
What metrics are exposed for Prometheus?
This is all I see:
# HELP processedSpans The number of spans processed by the BatchSpanProcessor. [dropped=true if they were dropped due to high throughput]
# TYPE processedSpans counter
processedSpans{dropped="false",spanProcessorType="BatchSpanProcessor",} 33.0
# HELP queueSize The number of spans queued
# TYPE queueSize gauge
queueSize{spanProcessorType=

[2020-12-11 09:08] olivierboudet opened #1885 "No MongoDB spans when upgrading from 0.9.0 to 0.12.0"
**Describe the bug**
When using version 0.9.0, I have span sent by component `io.opentelemetry.auto.mongo`.
When upgrading to 0.12.1, no span at all are sent for MongoDB operations.

I am instrumenting a Spring Boot 2.3.3 application.

**What version are you using?**
v0.12.1

**Environment**
Compiler: OpenJDK 11.0.4
OS: Ubuntu 20.04

[2020-12-11 10:02] laurit opened #1886 "Server span handling is inconsistent"
Servlet integration can only capture requests that pass though a servlet filter or servlet. So on tomcat, which relies on servlet integration, request to paths that are outside of deployed application are not captured. On jetty where integration triggers before request reaches servlet such requests are captured. Similarly on liberty where static content is not served by a servlet, requests to stat

[2020-12-11 10:14] vovencij commented on #1886
In general, the solution that is done for Jetty integration doesn't scale to everything else – jetty integration doesn't instrument some specific handler classes that process Servlets, so that servlet integration will fully handle requests to servlets and jetty integration will act as a fallback. Tomcat, for example doesn't have such architecture where it would be possible to not instrument some s

[2020-12-11 13:27] mateuszrzeszutek opened #1887 "Muzzle should add SPI classes defined in helperResourceNames as references"
**Is your feature request related to a problem? Please describe.**
Currently muzzle does not look at the injected resource files at all, so when we inject service provider files (like in log4j2 instrumentation) to make helper injection & muzzle validation work we need to add an empty advice class with a `muzzleCheck()` method. This is ugly and the javaagent behavior is non-obvious.

**Describe the

[2020-12-11 13:37] anuraaga commented on #1887
Sorry Amazon didn't use normal SPI - no clue what happened there 😅

[2020-12-11 14:01] chenmudu opened #1888 "Add support for apache dubbo."
Maybe can do some enhancements to apache dubbo.  Is this feasible?   thanks very much!

[2020-12-11 16:33] mateuszrzeszutek opened #1889 "Propagate context in Spring SimpleAsyncTaskExecutor"
**Describe the bug**
Context is not propagated in Spring's `SimpleAsyncTaskExecutor` - that is because this class is not using any standard executor implementation, but instead creates threads by itself.
By the way, this is the default task executor implementation used in JSR-352 batch jobs (at the very least, not sure about any other default uses).

[2020-12-11 17:06] IraSkyx opened #1890 "Kafka Polling - Issue with instrumentation"
@nicolas63 and I are working on integrating Open Telemetry to an existing microservices architecture with nested libraries such as Vertx (and Vertx-Kafka) 3.8, RxJava 2, MongoDB. We chose Jaeger as the Collector/Query UI.
But we are having struggles finding why our traces at some point of the project are split up.

**Describe the bug**
When using Vertx and RxJava 2 as separate packages and batch p

[2020-12-11 18:12] breedx-splk commented on #608
There was a LOT of discussion around the removal of `Span.Status` but according to [this comment](https://github.com/open-telemetry/opentelemetry-specification/issues/706#issuecomment-664457764) it looks like there was a decision to remove it, but then according to the [actual span spec](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/api.md#set-status

[2020-12-11 18:20] asarkar commented on #1550
Yes, and yes.

Are you referring to the [CoroutineContextServerInterceptor](https://javadocs.dev/io.grpc/grpc-kotlin-stub/1.0.0/io/grpc/kotlin/CoroutineContextServerInterceptor.html)? The trace goes missing when a new coroutine is launched from a client interceptor or from a top-level coroutine; it's not clear to me how the `CoroutineContextServerInterceptor` can be used to fix this issue.

[2020-12-11 18:53] breedx-splk commented on #1009
@trask Would you mind adding a little detail about what makes a span invalid and what that optimization might look like?

[2020-12-12 05:28] anuraaga commented on #1550
@asarkar Ah yeah that interceptor. If that interceptor is installed first and returns e.g. `Context.current().asContextElement()`, that should cause Kotlin's context propagation mechanism to carry it through coroutines. By default, coroutines inherit the context of their parent. Does it not work? If you can give some example code we can try to figure out what's up and add some unit tests here too

[2020-12-12 07:18] trask commented on #1880
hi @pvyaka01, the java agent is not producing metrics yet

[2020-12-12 07:37] trask commented on #1009
@breedx-splk thx, #1840 addresses this, I'll note in that PR that it closes this issue

[2020-12-13 15:53] iNikem commented on #1886
Is my understanding below is correct?

There are HTTP servers, such as Jetty or Undertow, which provide their own framework of "Handlers" to response to incoming http requests. Some of built-in handlers actually implement Servlet API and delegate to some servlets. Current instrumentations either focus solely on Servlet API (e.g. Tomcat) or try to have two disjoint instrumentations: for Servlets an

[2020-12-13 15:56] iNikem commented on #1886
Regarding SERVER span name: it still should be name of the handling class plus name of the handling method. If we know some more specific information about given requests, e.g. that it is for static content, we may reflect that in the name. And we still have to follow [general rules](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/semantic_conventions/

[2020-12-14 06:22] vovencij commented on #1886
Servlet instrumentation would still act as a fallback to create SERVER spans for yet unsupported servlet containers.

[2020-12-14 13:14] malafeev commented on #1890
probably related to #1866

[2020-12-14 14:56] IraSkyx commented on #1890
Actually not related to rxjava2. We made another branch (https://github.com/IraSkyx/kafka-batch-issue/tree/without-rxjava2), this time without using rxjava2. Same problem occurs.

[2020-12-14 21:02] #1609 closed

[2020-12-14 22:18] FrankSpitulski commented on #1298
How often does the java api regenerate the semantic attributes based on the spec? I got the additional attributes merged in finally. @trask

[2020-12-14 22:28] trask commented on #1298
🎉 nice work! check out https://github.com/open-telemetry/opentelemetry-java/pull/2144 for how to update spec version and regenerate `SemanticAttributes`

[2020-12-14 23:12] FrankSpitulski commented on #1298
made a PR @trask https://github.com/open-telemetry/opentelemetry-java/pull/2302

[2020-12-15 05:31] trask opened #1912 "Move jetty QueuedThreadPool instrumentation from executors to jetty module"
And then I think we can delete `NonStandardExecutorInstrumentationModule`.

Inspired by #1897

[2020-12-15 14:30] #1889 closed

[2020-12-15 19:56] #791 closed

[2020-12-16 00:50] breedx-splk commented on #767
Is this now stale?  Seems like we do have CI/CD in github actions now (#678 an the PRs mentioned there) and there is a muzzle cache in place.  Can this be closed, or is there more to do?

[2020-12-16 01:52] haiau79 commented on #1748
Figured out how to add @WithSpan, I had to add @WithSpan annotation on every method that calls the method I was interested in tracing, and then it added the span to the same trace. Sorry for the late response.

[2020-12-16 01:52] #1748 closed

[2020-12-16 02:18] anuraaga commented on #767
Yeah seems to not be flaking that much, so close time.

[2020-12-16 02:18] #767 closed

[2020-12-16 03:24] voidmanun opened #1916 "rocketMq support"
Maybe can do some enhancements to rocketMq. Is this feasible? thanks very much!

[2020-12-16 07:05] iNikem commented on #1633
It is very easy now to add to our smoke tests, e.g. for jetty. And we will add that for WebSphere Liberty when that support lands here "soon". Do we want both jdk8 and 11 from IBM or one is enough? Any opinions?

[2020-12-16 08:05] iNikem commented on #342
@breedx-splk We don't have any documentation for instrumentation-specific configurations like `otel.instrumentation.kafka.client-propagation`

[2020-12-16 12:10] pavolloffay commented on #1866
datadog agent seems to support rxjava2 https://github.com/DataDog/dd-trace-java/tree/master/dd-java-agent/instrumentation/rxjava-2.

As this agent is based on DD porting it here should be straight forward.

[2020-12-16 14:08] navyacs opened #1920 "Disable auto instrumentation for specific library"
As per the document specified you can suppress agent instrumentation of specific libraries by using
-Dotel.instrumentation.[id].enabled=false
   where id is the instrumentation id
I need the id of jdbc library. It would be helpful if anyone can specify where I can get the instrumentation id of jdbc library.

[2020-12-16 14:27] mateuszrzeszutek commented on #1920
It's just `jdbc` - so you can disable the entire JDBC instrumentation by passing `-Dotel.instrumentation.jdbc.enabled=false`.

[2020-12-16 14:31] iNikem commented on #1920
Id of the instrumentation can be looked up in the constructor of the corresponding `InstrumentationModule`. E.g. for Jdbc it s https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/f82e9107d6eca855426b77775b50bd7337a0743c/instrumentation/jdbc/javaagent/src/main/java/io/opentelemetry/javaagent/instrumentation/jdbc/JdbcInstrumentationModule.java#L18 -> `jdbc`.

Hope this answer y

[2020-12-16 14:31] #1920 closed

[2020-12-16 15:45] mateuszrzeszutek commented on #1414
I think that we can close this issue - @trask has already updated all instrumentations to use the `otel.instrumentation.{instrumentation-name}.separate-words-with-dashes` format.

[2020-12-16 15:45] #1414 closed

[2020-12-16 22:18] trask commented on #1633
Both 👍

[2020-12-17 04:25] github-actions[bot] opened #1922 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-12-17 05:54] #1887 closed

[2020-12-17 05:57] trask commented on #1885
hi @olivierboudet, what mongo driver are you using (maven groupId/artifactId/version), and can you post an example how you are using it, so we can verify if your usage is something we have tests for or not?

[2020-12-17 07:46] olivierboudet commented on #1885
Hello, I am using mongo-driver 4.0.5 in a Spring Boot 2.3.3 application (org.mongodb:mongodb-driver-core:4.0.5)
The simple MongoHealthIndicator of Spring Boot Actuator is an example of usage :
[code]
With 0.9.0, I can see query details :
![image](https://user-images.githubusercontent.com/857205/102457806-9ca55700-4043-11eb-9118-a9fe7c784aa0.png)

But with 0.12.0, there is nothing at all :
![image]

[2020-12-17 09:29] DeepakAgr1411 opened #1926 "Opentelemetry javaagent causes debugging of javax.servlet.Filter to break in eclipse"
Opentelemetry javaagent causes debugging of javax.servlet.Filter to break in eclipse. Debugging works fine if I remove the Opentelemetry javaagent. Please see the screenshot for better understanding.

![image](https://user-images.githubusercontent.com/69033428/102467090-e1e27c80-4075-11eb-9b3c-26d51f3b02d4.png)

Below is a test project to reproduce the issue. Start both applications in debug mode

[2020-12-17 12:37] iNikem commented on #1926
Javaagent injects a lot of new bytecode into instrumented classes to automatically generate telemetry. As there is no actual source code corresponding to that bytecode, Eclipse cannot display.

I don't think there is anything that we can do. Why do you want to debug your application together with agent?

[2020-12-17 12:49] DeepakAgr1411 commented on #1926
@iNikem Consider the application being in containerized development environment, it would be a real pain to remove the javaagent everytime I need to debug the application.
Combination of tracing and metrics from OpenTelemetry along with remote debugging would make a great debugging experience, don't you think?

[2020-12-17 14:24] iNikem commented on #1926
I am not sure this is our primary use-case :)

[2020-12-17 15:24] mateuszrzeszutek commented on #874
Note: there's a `StrictContextStorage` implementation in otel-java that can be used to check all scopes.
It can be enabled by setting `io.opentelemetry.context.enableStrictContext` system property to true and calling `StrictContextStorage#.ensureAllClosed()` at the end of test in the `AgentTestRunner`. Before we do that we need to have a proper support for `ForkJoinPool`, there are loads of failur

[2020-12-17 15:30] mateuszrzeszutek commented on #821
@trask @iNikem I think we can close this one - I don't think we had any muzzle/bytebuddy transformation issues after switching ot GHA.

[2020-12-17 18:05] breedx-splk opened #1931 "Add supported application servers to README"
There is now (relatively new) support for a variety of application servers.  This support allows server spans to be created before the request ever reaches the servlet.  This is useful, because sometimes a request might have otherwise been rejected or filtered and wouldn't have reached the servlet instrumentation.

Users who are running various application servers might check in with the OpenTelem

[2020-12-17 19:37] pavolloffay opened #1932 "Dynamic agent attach does not work for instrumentations installing filter/interceptors at app startup"
**Describe the bug**

First, I am not sure if this is a bug or the intended design feature.

If the javaagent is dynamically attached to an already started app some frameworks are not instrumented. For instance gRPC instrumentation hooks into `io.grpc.ServerBuilder.build()` that installs interceptor, this happens at the application startup and so if the agent is attached afterward the gRPC instrum

[2020-12-17 21:38] #821 closed

[2020-12-17 21:43] trask commented on #1885
oh yes, I think we do not have support for MongoDB v4 driver yet, see #1588

[2020-12-17 22:01] olivierboudet commented on #1885
oh ok,  thanks for the link. Without officially supporting it, it was working on v0.9.0 :)

[2020-12-17 22:07] trask commented on #1926
hey @DeepakAgr1411, try hitting F6 (step-over) some number of times to get past the injected bytecode at the beginning of the method

[2020-12-17 22:29] laurit commented on #1926
I believe this should be reported to bytebuddy. The problem is that when inserting advice bytebuddy renumbers local variables. Ideally it should keep this and method arguments in the slots they were. For example local variable table from HttpServlet.service looks like this after instrumentation
[code]
originally it was
[code]
It would also be good to realign validity region for this and method arg

[2020-12-17 23:49] trask commented on #1932
oh, this is an interesting example, I hadn't thought about this limitation of dynamic attach previously, thanks for posting it.

from previous discussions, there doesn't seem to be a lot of interest in dynamic attach, can you write a little about your interest in it?

[2020-12-18 03:25] anuraaga commented on #1932
Just 2c, if I had to choose between instrumenting public APIs and having less version-specific instrumentations / failing latestDepTests vs supporting dynamic attach, would favor the former. I'm presuming making these sort of scenarios dynamically instrumentable could only happen by digging into private details of the library.

[2020-12-18 03:54] anuraaga commented on #874
Yeah haven't tried to enable that for fear of spending weeks fixing the tests :P But once we have this running I think we'll have pretty good confidence in the context propagation of our instrumentation

[2020-12-18 04:20] #973 closed

[2020-12-18 04:38] github-actions[bot] opened #1937 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-12-18 04:42] anuraaga opened #1938 "bytebuddyJava flaky when reading resource files?"
Don't see this in every build but noticed it once,

[code]

https://github.com/open-telemetry/opentelemetry-java-instrumentation/runs/1574657905?check_suite_focus=true

[2020-12-18 05:05] github-actions[bot] opened #1939 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-12-18 05:26] anuraaga commented on #1938
Not only related to publishing task, saw it here too

https://github.com/open-telemetry/opentelemetry-java-instrumentation/runs/1574807716

[2020-12-18 05:41] anuraaga opened #1941 "Verify bytebuddyJava task's inputs are complete"
There was some flakiness with triggering an obvious bug in the bytebuddy configuration in #1938. This might be because the inputs are not complete (perhaps missing resource files).

[2020-12-18 06:17] pavolloffay commented on #1932
we have a k8s "agent-attacher" component (daemon set) that dynamically attaches agent to the JVM. This is especially helpful when doing POCs so users don't have to rebuild their images to try out the product. All is required to deploy a single attacher.

[2020-12-18 06:23] #1937 closed

[2020-12-18 06:23] #1938 closed

[2020-12-18 06:23] #1939 closed

[2020-12-18 06:30] anuraaga commented on #1932
@pavolloffay Just curious if for that use case specifically, you've considered an init container with a local volume? Copies agent into volume, and can modify env var to reference that agent, so while a bit more changes in the configuration, wouldn't require rebuilding image.

[2020-12-18 06:33] trask commented on #1932
+ `JAVA_TOOL_OPTIONS` env var is amazing (and not that well known/used)

[2020-12-18 06:42] pavolloffay commented on #1932
@davexroth and/or @mohit-a21 could you please loop in explain why the attacher actually intercepts docker events?

[2020-12-18 08:37] iNikem commented on #1926
@trask @laurit @DeepakAgr1411 I understand that this issue can be closed? As it is a problem with ByteBuddy, not OpenTelemetry?

[2020-12-18 08:38] IraSkyx commented on #1890
Could anyone take a look at this?

[2020-12-18 08:54] vovencij commented on #1931
Is this a duplicate of https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/1076 ?

[2020-12-18 08:56] fuleow commented on #1537
Tested in 0.11 and this is fixed, thank you

[2020-12-18 08:56] #1537 closed

[2020-12-18 09:08] iNikem commented on #1931
Indeed it is. Sorry @breedx-splk for this extra work :(

[2020-12-18 09:08] #1931 closed

[2020-12-18 17:27] breedx-splk commented on #1931
Oh yeah good catch @vovencij !  Thanks!

[2020-12-18 20:28] trask opened #1946 "GlobalIgnoresMatcher uses the old package name "io.opentelemetry.auto" for ignore matcher"
Update GlobalIgnoresMatcher use of old package name `io.opentelemetry.auto.` to new package name `io.opentelemetry.javaagent`.

Unfortunately there are complications:

https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/1919#discussion_r545861543

At the same time, would be good to apply the same filter to `RedefinitionDiscoveryStrategy` (see same discussion above).

[2020-12-18 21:48] laurit commented on #1946
The easiest fix would be to move aws-lambda tests to a different package. Most of the other tests are in default package. @trask would moving these tests to default package be ok?

[2020-12-19 03:42] trask commented on #1946
oh yes, that makes sense to me, keeping javaagent tests in the default package, and does follow existing convention 👍

[2020-12-19 03:47] anuraaga commented on #1946
Ah I didn't know there was a reason to keep tests in the default package. I've been putting my tests in non-default package since sometimes IntelliJ was running the wrong test if two tests were named the same even in different modules. Not sure if it was a fluke or not.

[2020-12-19 03:48] anuraaga commented on #1946
That being said if #1643 alleviates everything it would be nice to not have hidden restrictions on test locations.

[2020-12-19 04:26] trask commented on #1946
ya, it would be easy to miss the restriction on test location and get very confusing results

I don't think #1643 will help though with bringing back the global ignore on `io.opentelemetry.javaagent`?

[2020-12-19 04:27] #1255 closed

[2020-12-19 06:04] trask opened #1947 "Potential context leak in kafka-clients instrumentation"
`TracingIterator` wraps `Iterator<ConsumerRecord>` returned from kafka, and starts scopes in `next()` and closes them in `hasNext()` for each record in the iterator.

This is a clever way to put the context in scope, and may be acceptable, but worth reviewing alternatives, including removing it and only automatically putting context in scope when kafka is used from higher-level APIs, e.g. spring-k

[2020-12-19 06:08] trask commented on #1890
hi @IraSkyx, can you try to track down where the context is lost by using the OpenTelemetry API to check `Span.current().getSpanContext().getTraceIdAsHexString()` in various places?

[2020-12-19 06:30] trask commented on #1712
hi @prashantnitt07, can you give us more details? what have you tried? what problems did you run into?

[2020-12-19 07:38] anuraaga commented on #1946
@trask Ah don't know. I thought that's what this comment meant :)

[2020-12-20 11:07] pavolloffay commented on #1947
I have find one Kafka issue that might be related to this. I have seen multiple spans with the same ID coming from the Kafka instrumentation.

![Screenshot of Jaeger UI (7) (1)](https://user-images.githubusercontent.com/5618424/102711702-ee581680-42bb-11eb-8a6e-1b1c091f2482.jpg)

[2020-12-20 12:19] pavolloffay opened #1948 "LoggingFailSafeMatcher IllegalStateException: Cannot resolve type description for io.opentelemetry..."
**Describe the bug**

Agent logs

In the Hyperace agent I see a lot of exceptions from `LoggingFailSafeMatcher IllegalStateException: Cannot resolve type description for io.opentelemetry.javaagent.tooling.<any class>`

For instance:
[code]

This one is logged for https://github.com/hypertrace/javaagent/blob/fd1270d8c952402e572eceffd670be12815057e8/instrumentation/java-streams/src/main/java/io/open

[2020-12-20 14:00] pavolloffay opened #1949 "Share Instrumentation's module contextStore across instrumentations modules"
**Is your feature request related to a problem? Please describe.**

I would like to store an object to the context store in a module A and access an object from the context store from instrumentation module B.

For instance my apache HC client instrumentation module hooks into `HttpEntity.WriteTo() ` and puts `OutputStream` into a context as a key. Now I would like to access the context store in `

[2020-12-20 17:46] cemo commented on #1293
@trask is there any update on this?

[2020-12-20 22:51] cemo commented on #1060
Is there a way now to exclude health check traces? I checked processors but could not find any solution too.

[2020-12-21 02:33] anuraaga commented on #1293
Hi @cemo - since 0.12.0 we're publishing the JAR to Maven!

https://repo1.maven.org/maven2/io/opentelemetry/javaagent/opentelemetry-javaagent/0.13.0/

Thanks for the patience.

[2020-12-21 02:33] #1293 closed

[2020-12-21 02:55] anuraaga commented on #1949
FWIU (which could be wrong :) ), `contextStore` is basically just a mechanism to add fields to classes, or if that can't happen due to redefinition problems, falls back to a global weak map. I wouldn't see any reason for a context store with the same definition in two modules to not work.

[2020-12-21 06:38] iNikem commented on #1060
No, this functionality is not yet implemented.

[2020-12-21 07:23] iNikem commented on #1948
I think that #1919 addressed this?

[2020-12-21 14:26] pavolloffay commented on #1932
@anuraaga do you know any OSS k8s operator that uses init containers and injects the agent?

[2020-12-21 14:43] anuraaga commented on #1932
Some googling brought this which seems to be what we want

https://github.com/lucas-matt/auto-tracing-webhook

Not Java agent, but any service mesh like istio uses the same technique of decorating deployed pods from an admission controller I think.

It looks like app dynamics already has expertise in using init container so presumably it's just working it up to a k8s controller? :)

https://docs.a

[2020-12-21 14:56] pavolloffay commented on #1948
I will be able to confirm once a new version will be released. thanks for the pointer @iNikem

[2020-12-21 15:32] pavolloffay opened #1952 "Make GlobalIgnoresMatcher configurable"
**Is your feature request related to a problem? Please describe.**

I want to instrument `java.io.InputStream` and `java.io.OutputStream` e.g. https://github.com/hypertrace/javaagent/blob/c320487308481c4ca7a90ec0f5b054ea1788e7c2/instrumentation/java-streams/src/main/java/io/opentelemetry/javaagent/instrumentation/hypertrace/java/inputstream/InputStreamInstrumentationModule.java#L71

The core confi

[2020-12-21 17:43] sambaatteamf1 opened #1953 "Jaeger exporter does not pull sampling strategies from collector"
**Describe the bug**
the tracer config does not allow setting a specific sampler. The sampler is chosen based on the value of otel.config.sampler.probability(See https://github.com/open-telemetry/opentelemetry-java/blob/7c0b45209761443c2dd7f9a659ba6e99aded222b/sdk/trace/src/main/java/io/opentelemetry/sdk/trace/config/TraceConfigBuilder.java#L132)

I want to configure the javaagent to use jaeger re

[2020-12-21 19:00] trask opened #1954 "Servlet span names are not always low cardinality"
See @laurit's comment https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/1929#discussion_r546775932

If servlet is mapped to / then `getServletPath` for request to /foo/bar/baz is /foo/bar/baz. Default servlet that serves static content is typically mapped to /
If servlet is mapped to *.html then `getServletPath` for request to /foo/bar/baz.html is /foo/bar/baz.html.

Any id

[2020-12-21 19:05] trask commented on #1954
another related reference point: https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/1929#discussion_r546650940

[2020-12-21 19:19] trask commented on #1932
this was a POC for injecting our javaagent into k8s via mutating webhook: https://github.com/microsoft/Application-Insights-K8s-Codeless-Attach

[2020-12-21 20:42] trask opened #1955 "Rename InMemoryExporter (and friends)"
It is no longer an exporter, see https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/1643#discussion_r546587020

[2020-12-22 07:08] anuraaga commented on #1954
This option seems ok to me.

[2020-12-22 07:53] iNikem commented on #1954
All servlet requests - no, I don't like it :) I believe in the past we had servlets producing spans with name `ServletClass.servletMethod`, did we change that? Why?

[2020-12-22 08:06] pavolloffay commented on #1949
I have tried to use the same context store in two inst modules it failed for some reason. I didn't dig deeper though.

[2020-12-22 08:48] trask commented on #1954
I like url-based span names 😄. `FilterClass.doFilter` / `ServletClass.service` / `ServletClass.doX` sound reasonable since we can't use `servletPath`.

[2020-12-22 12:59] #1922 closed

[2020-12-22 16:01] IraSkyx commented on #1890
@trask Finally figured it out, polling by design isn't a place where context can be rebuild from kafka headers due to the fact that it's processing N records all linked to N different remote contexts. So we had to use TextMapPropagator.Getter ourselves to extract traceparent-ID from a single record and create one span per record handling so that subsequent call to any intrumented library can use t

[2020-12-23 00:26] breedx-splk commented on #1912
Since the `JavaExecutorsInstrumentation.SetExecuteRunnableStateAdvice` is used by both the nonstandard jetty `QueuedThreadPool` and other executors instrumentation, would you see this creating a cross-instrumentation dependency (is that a thing?) or would you expect the instrumentation to be copied?

Is there a strategy for instrumentation modules to share code easily?

[2020-12-23 01:12] trask commented on #1912
ya, I think copied is ok, similar to https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/master/instrumentation/spring/spring-core-2.0/javaagent/src/main/java/io/opentelemetry/javaagent/instrumentation/spring/core/SimpleAsyncTaskExecutorInstrumentation.java

[2020-12-23 06:56] trask opened #1957 "Instrumentation-specific bootstrap classes"
@iNikem introduced a nice feature in #1917 to allow instrumentation to have their own bootstrap classes.

I removed it in #1643 (moving the `KeyHolder` class from #1917 into `javaagent-api`), but would be nice to figure out how to make that feature work with the new javaagent testing infra introduced in #1643.

[2020-12-23 12:10] kubawach opened #1959 "AWS lamba tracing handler - configure flush timeout"
**Is your feature request related to a problem? Please describe.**
Currently the handler waits max 1 second before terminating lambda execution (which freezes all threads) and can prevent spans from being successfully ingested.

**Describe the solution you'd like**
The timeout value should be configurable. Then the user can decide to allow longer wait if needed by their use case.

**Describe alter

[2020-12-23 17:44] chenmudu opened #1962 "add skip urls config for enhancement."
**Is your feature request related to a problem? Please describe.**
add skip urls config for enhancement.

**Describe the solution you'd like**
Some other URLs should be skipped for servlet enhancement or others, not all.
Although otel-col 's  sampling rules can do this, it is reasonable to intercept here.

Hope my suggestion can be considered, thanks very much!

[2020-12-24 10:37] pavolloffay commented on #1952
any proposals how to make the global ignore matchers configurable?

[2020-12-24 11:03] anuraaga commented on #1952
Do you think a simple csv property of excluded prefixes could cut it? So we wouldn't be able to filter on the exclude, but it is the simplest form of configurability I think. Wondering if it's enough for the use case.

[2020-12-24 11:22] pavolloffay commented on #1952
There are two use cases: 1. adding more exclusion patterns and 2. including some classes that the upstream excludes (my use-case). Given how the exclusion is written it will be better to provide a customized implementation.

A programmatic SPI will be probably more flexible and optimized. Here is some proposal:

[code]

The matcher with the highest priority/order will be installed.

[2021-01-02 03:58] github-actions[bot] opened #1972 "Nightly build"
<a href="https://github.com/open-telemetry/opentelemetry-java-instrumentation/actions/runs/457114371">
Nightly build #309</a> failed. Please take a look and fix it ASAP.

[2021-01-04 04:39] anuraaga commented on #1972
Flake

[2021-01-04 04:39] #1972 closed

[2021-01-04 06:03] anuraaga opened #1973 "Consider removing jaeger-thrift exporter from default agent"
The official and recommended protocol between an agent and a collector is gRPC.

https://www.jaegertracing.io/docs/1.21/apis/#protobuf-via-grpc-stable

Actually, thrift is meant for use with UDP on localhost, something we don't support in Java

https://www.jaegertracing.io/docs/1.21/apis/#thrift-over-udp-stable

Thrift over HTTP is the legacy format for sending data to non-localhost from what I un

[2021-01-04 09:37] vovencij commented on #1954
Naive implementation will always end with the outermost filter name, e.g. `AuthorizationFilter.filter` for everything. Doesn't look too useful. I'd suggest defaulting to inner-most servlet/filter class name. That one maybe will hint to a MVC framework at least.

[2021-01-04 21:58] shivchelwa opened #1976 "jeager exporter"
**Describe the bug**
I am trying to enable auto instrumentation on my app and export the traces to jeager.  As per the doc [https://opentelemetry.io/docs/java/getting_started/](https://opentelemetry.io/docs/java/getting_started/) or [https://github.com/open-telemetry/opentelemetry-java-instrumentation](https://github.com/open-telemetry/opentelemetry-java-instrumentation) I should add below propert

[2021-01-04 22:59] shivchelwa commented on #1976
Moved it to discussion. Closing this issue.

[2021-01-04 22:59] #1976 closed

[2021-01-05 04:04] github-actions[bot] opened #1980 "Nightly build"
<a href="https://github.com/open-telemetry/opentelemetry-java-instrumentation/actions/runs/462552382">
Nightly build #312</a> failed. Please take a look and fix it ASAP.

[2021-01-05 20:28] #1980 closed

[2021-01-05 23:00] breedx-splk opened #1989 "JMS instrumentation creates spans when no messages are received"
It is common for users and frameworks to poll JMS for messages.  Depending on the system, there could be long periods where no messages are received.  Spring `@JmsListener` implementations, for example, poll JMS every second...and if no messages have been sent, the instrumentation still creates jms receive CONSUMER spans every second.  Any invocation of  `MessageConsumer.receive(timeout)` that tim

[2021-01-06 00:44] trask commented on #1954
any thoughts what to do with `contextPath` (if anything)?

[2021-01-06 16:09] jkwatson opened #1992 "The Tracer name (instrumentation name) should always uniquely identify the instrumentation module"
This is related to PR #1979 and would be a change from the decision made in #1260 .

It is important when debugging spans to know precisely what instrumentation module created the spans, especially when there are crazy classpaths in play in the end-user's application. For this to work, every instrumentation module should use a unique name for the Tracers that are created. So, when there are multip

[2021-01-06 19:02] #1912 closed

[2021-01-06 19:07] trask commented on #1992
This makes sense to me, anything we can do to improve troubleshooting / supportability is a high priority.

[2021-01-07 00:45] breedx-splk commented on #1973
I think @iNikem put in the original request to add it...I wonder what he thinks about this idea.

[2021-01-07 01:32] breedx-splk commented on #900
There are a large number of different static imports: https://gist.github.com/breedx-splk/2c5e1fff1d0d2337c4775d934a6ec7bb

Are we thinking that we want to draw some categories out of these?  Something like:
* mockito
* junit
* Collections helpers
* ElementMatchers
* immutable constants
* singleton instances
* tracer() methods that expose singletons

Any other obvious categories I'm missing?
Shoul

[2021-01-07 04:13] github-actions[bot] opened #1993 "Nightly build"
<a href="https://github.com/open-telemetry/opentelemetry-java-instrumentation/actions/runs/467882582">
Nightly build #314</a> failed. Please take a look and fix it ASAP.

[2021-01-07 09:26] anuraaga commented on #1992
I would explain this issue as the tracer name should reflect the artifact name. Since our artifact names always have a version, our tracer names should too, and is actually basically what the spec defines for the value of instrumentation_library :)

[2021-01-07 18:02] jkwatson opened #1994 "Provide an option for an ultra-lean no-auto-instrumentation agent"
**Is your feature request related to a problem? Please describe.**
Not really a problem, but it would be handy to be able to have no auto-instrumentation, but at least have support for manual instrumentation using `@WithSpan` plus normal API interactions.

This could also be used to do some overhead measurement, both startup and runtime.

**Describe the solution you'd like**
Have a way, preferably

[2021-01-07 18:29] fuleow commented on #1994
I am also interested in this feature and was under the impression that you could disable all the auto instrumentation using `-Dotel.instrumentation.default-enabled=false` and selectively enabling some using `-Dotel.instrumentation.<name>.enabled=true`. Is that not the case?

[2021-01-07 18:37] jkwatson commented on #1994
If this ends up just being a documentation request, then all the better!

[2021-01-07 20:29] jamesylgan commented on #1681
Can this be closed with `0.13.0` updates to custom propagation?

[2021-01-08 00:09] trask commented on #1994
oh ya, I think this is correct:

would be great if someone can verify and doc here: https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/master/docs/suppressing-instrumentation.md

[2021-01-08 04:10] github-actions[bot] opened #2000 "Nightly build"
<a href="https://github.com/open-telemetry/opentelemetry-java-instrumentation/actions/runs/470738034">
Nightly build #315</a> failed. Please take a look and fix it ASAP.

[2021-01-08 11:07] arnabnandy1706 opened #2001 "Auto Instrumentation for prometheus"
Hello All,

I am trying to implement Auto instrumentation for a sample java application.

the command I am trying is:
[code]

But it gives me below error:
[code]

Please help me how I can enable auto instrumentation.

And also let me know if there is any specific documentation present for the prometheus monitoring with opentelemetry where I can find the prometheus queries to monitor the traces and

[2021-01-08 11:21] anuraaga commented on #2001
Hi @arnabnandy1706 - are you not able to see any metrics on that port? We have a misleading error message there about span exporter but the metric exporter was installed successfully as in the below log line.

That said, our instrumentation is only for tracing right now and until we add metrics instrumentation, the only metrics you would generally see are those for span exporters.

[2021-01-08 11:27] anuraaga opened #2002 "More programmatic control of agent parameters from the app itself."
Users do want to be able to hook in existing configuration systems to telemetry.

https://github.com/open-telemetry/opentelemetry-java-instrumentation/discussions/1998

I'm glad the SDK has made good steps in supporting this better but unfortunately the agent does still follow a model of no programmatic control from apps. It means users cannot develop frameworks to control telemetry - they must de

[2021-01-08 11:36] anuraaga commented on #2002
One way to put it

I do fully expect telemetry vendors to be able to create custom agent distros. This requires significant knowledge of complicated topics like classloaders and shading.

I don't expect users to do so though. But ideally we can let them configure an exporter auth key the same way they configure a cloud SDK client, which may be something like lightbend config or spring boot. After

[2021-01-08 11:51] arnabnandy1706 commented on #2001
Hello @anuraaga

But I dont see any metrics or traces in prometheus. Also I dont see any metrics when I access http://localhost:9464/metrics or http://localhost:9464

[2021-01-08 16:04] jkwatson commented on #1994
This combination seems to do what I'm asking for:

[code]

[2021-01-08 17:16] jkwatson commented on #1681
I believe that this bug has not yet been addressed, so this issue should not be closed.

[2021-01-08 17:35] tobias- commented on #2002
I think I've said most of this in other threads, but I'll try to summarize the parts about programmatic control (with the usual caveat that I've just been doing it wrong).

I worked around the problem with getting the exporter (by just using the google offering), but even if I can imagine someone writing their own exporter for a special format, for dumping into database whatnot, I don't believe ma

[2021-01-09 04:08] github-actions[bot] opened #2005 "Nightly build"
<a href="https://github.com/open-telemetry/opentelemetry-java-instrumentation/actions/runs/473480547">
Nightly build #316</a> failed. Please take a look and fix it ASAP.

[2021-01-09 06:12] anuraaga opened #2006 "Not cleanly shutting down SDK on JVM exit"
I haven't looked at the code at all yet but we got this report

[code]

https://github.com/open-telemetry/opentelemetry-java-instrumentation/discussions/1945#discussioncomment-268455

Agent users shouldn't need to add `Thread.sleep` to make sure traces get flushed in the end so let's check if we are missing something (possibly a `.join()`)

/cc @tobias-

[2021-01-10 04:10] github-actions[bot] opened #2008 "Nightly build"
<a href="https://github.com/open-telemetry/opentelemetry-java-instrumentation/actions/runs/475041275">
Nightly build #317</a> failed. Please take a look and fix it ASAP.

[2021-01-11 04:12] github-actions[bot] opened #2009 "Nightly build"
<a href="https://github.com/open-telemetry/opentelemetry-java-instrumentation/actions/runs/476685270">
Nightly build #318</a> failed. Please take a look and fix it ASAP.

[2021-01-11 15:01] tobias- opened #2016 "Armeria decorators should have access to the request `Span`"
**Describe the bug**
When I add a decorator, said decorator should have access to a valid span when handling a request.

**Steps to reproduce**
[code]

**What did you expect to see?**
the same id printed three times

**What did you see instead?**
`1` and `2` are invalid, `3` is valid

**What version are you using?**
`3b88bb75ae2e6065424f6b21440e0c63c2e7726f`

**Environment**
Compiler:
openjdk vers

[2021-01-11 18:50] #1959 closed

[2021-01-11 22:19] brianashby-sfx commented on #1076
Linked PR: https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/2020

[2021-01-12 02:56] anuraaga commented on #2016
Hmm weird - I thought decorators run in order they're added so the opentelemetry decorator would need to be added first, hence adding in `builder`. Will have to dig into what could be happening, thanks for the report.

[2021-01-12 02:57] anuraaga commented on #2016
By the way, there's a far dumber bug that still needs to be fixed which you're luckily not running into (yet :P) since the example uses `DecoratingServiceFunction` instead of `Function`

https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/1670

[2021-01-12 06:04] trask commented on #1076
Closed by #2020

[2021-01-12 06:04] #1076 closed

[2021-01-12 06:09] anuraaga commented on #2016
Seems like the decoration order changed in 1.3.0. I'll probably change the agent to only support Armeria 1.3+ instead of bothering with a version split for it.

Armeria's still my favorite server framework, but quite a shame to see the semantic version break 😿

[2021-01-12 08:01] #1670 closed

[2021-01-12 08:01] #2016 closed

[2021-01-12 08:03] #1993 closed

[2021-01-12 08:03] #2000 closed

[2021-01-12 08:03] #2005 closed

[2021-01-12 08:03] #2008 closed

[2021-01-12 08:03] #2009 closed

[2021-01-12 08:03] anuraaga commented on #1146
This happened!

[2021-01-12 08:03] #1146 closed

[2021-01-12 08:54] kubawach commented on #1465
FYI - experienced similar issue today. Gradle was unable to resolve one of Finatra's dependency: `Could not find netty-transport-native-epoll-4.1.51.Final-linux-aarch64.jar (io.netty:netty-transport-native-epoll:4.1.51.Final) `
Worked around same way as @marcingrzejszczak (by copying existing jar with different suffix).

[2021-01-12 08:55] anuraaga commented on #1465
@kubawach Are you using an ARM laptop (Apple M1?)?

[2021-01-12 09:06] mateuszrzeszutek opened #2023 "Agent does not log its version anymore when starting"
It's a minor thing but I find it really useful - it's easy to know which version is used when you're investigating an issue in a system that you do not have direct access to.

Anyway, the problem is that `OpenTelemetryInstaller#logVersionInfo()` is no longer called from anywhere after latest changes.

[2021-01-12 09:07] anuraaga commented on #2023
Heh yeah noticed this in some bug report log statements, it's highly useful!

[2021-01-12 09:12] arnabnandy1706 commented on #2001
Hello All,

any help on this would be appreciated.

[2021-01-12 09:16] anuraaga commented on #2001
@arnabnandy1706 Are you using `GlobalMeterProvider` to get a meter and record some metrics? I realized that since you don't have a span exporter, you wouldn't see any span metrics so unless you are recording something, there would just not be any metrics being recorded.

If you are, would it be possible to share some sample code of what you're using for us to check it out?

[2021-01-12 17:03] kubawach commented on #1465
@anuraaga plain old x86-64 ;)

[2021-01-12 23:58] ben-childs-docusign opened #2031 "jaxrs-client instrumentation causes failure in JerseyInvocation due to CompletableFuture cast"
**Describe the bug**
After adding the opentelemetry java agent to our existing application we saw this error during startup:
[code]

**Steps to reproduce**
Install the open telemetry agent in a service that uses the docker client or any other library that uses JerseyInvocation$AsyncInvoker.method

**What did you expect to see?**
Tracing should not break JerseyInvocation$AsyncInvoker

**What versio

[2021-01-13 00:22] trask commented on #900
yes, this sounds great 👍

[2021-01-13 00:36] ben-childs-docusign commented on #2031
Something like this might work (not tested)

[code]

[2021-01-13 03:59] #1994 closed

[2021-01-13 05:23] anuraaga opened #2032 "Remove TRACE_ANNOTATED_METHODS_EXCLUDE?"
TRACE_ANNOTATED_METHODS_EXCLUDE excludes specific WithSpan methods. But it seems like it could be overkill when we have OTEL_JAVAAGENT_EXCLUDE_CLASSES already. Less configuration options to reason about.

[2021-01-13 12:48] malafeev commented on #1955
What can be a good name?
`InMemoryTraceUtils` or `InMemoryExporterUtils` and make all methods static?

[2021-01-13 13:19] malafeev commented on #1637
closing the issue because oshi-library jar (opentelemetry-oshi artifact) can be used to init system metrics.

[2021-01-13 13:19] #1637 closed

[2021-01-13 15:25] malafeev commented on #1602
@iNikem could you assign it to me?

[2021-01-13 20:44] kubawach opened #2041 "Apache Camel instrumentation should set client span context property"
**Describe the bug**
Currently Apache Camel instrumentation does not set "client" context property for outbound (client, producer) spans. This causes semantically wrong traces in some scenarios (ie two client span are generated - one by camel, another by downstream instrumentation ie http client). This should not happen especially that the code already contains appropriate solution (using client c

[2021-01-14 00:25] trask commented on #1973
Removing it makes sense to me, but we'll definitely wait for @iNikem to chime in.

[2021-01-14 01:08] #1681 closed

[2021-01-14 05:06] #2023 closed

[2021-01-14 07:49] trask commented on #2032
I believe this feature was introduced in #344, so will be good to hear from @iNikem and @johnbley

[2021-01-14 09:40] lichenglin commented on #1109
I think it's not only about http. Sql or other instrumentation point also need to create metric duration the span code;

[2021-01-14 09:42] lichenglin commented on #1109
Maybe instrumentation can add some "event and listener" to solve such problem.

[2021-01-14 15:00] #2041 closed

[2021-01-14 15:15] malafeev commented on #1588
@trask I would like to merge Mongo driver v4 support

[2021-01-14 16:23] malafeev commented on #1588
PR: https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/2046

[2021-01-14 17:31] mateuszrzeszutek opened #2048 "Remove testing-common dependency on guava"
**Is your feature request related to a problem? Please describe.**
Right now `testing-common` depends on guava 20 and it's impossible to update the guava version because several instrumentations use/depend on this version (cassandra, grizzly, ratpack, etc).
With #1643 being merged the javaagent code now uses a separate, shaded guava that will not interfere with the older version used by the instru

[2021-01-14 17:33] #1952 closed

[2021-01-14 18:33] kubawach opened #2051 "Apache Camel instrumentation - wrong parent propagated"
**Describe the bug**
Apache Camel instrumentation contains a bug, causing wrong parent span to be propagated. Instead of initiating outbound (client, producer) span, a parent is used.

**Steps to reproduce**
Any use case where there is a propagation involved (eh a route: "direct -> http -> rest")

**What did you expect to see?**
HTTP client span being a parent of the rest server span.

**What did

[2021-01-15 04:25] github-actions[bot] opened #2055 "Nightly build"
<a href="https://github.com/open-telemetry/opentelemetry-java-instrumentation/actions/runs/487059952">
Nightly build #322</a> failed. Please take a look and fix it ASAP.

[2021-01-15 06:03] #2051 closed

[2021-01-15 07:45] anuraaga opened #2058 "Guard some smoke tests behind CI flag?"
When developing, especially for infrastructure work like updating dependencies, it's nice to run `./gradlew check` to make sure everything is fine. But currently smoke tests take 15+min on Mac (presumably Docker is much slower on Mac than on CI), and actually fail with a timeout for me. I guess many of the tests are sort of "for good measure", I'm thinking the many app servers. Does it make sense

[2021-01-15 10:00] kubawach opened #2060 "SQS tests for Apache Camel instrumentation"
**Is your feature request related to a problem? Please describe.**
Apache Camel instrumentation lacks SQS tests (especially important for ensuring propagation).l

**Describe the solution you'd like**
Tests should be added :)

**Describe alternatives you've considered**
NA

**Additional context**
SQS context propagation investigation in several use cases, also involving Apache Camel.

[2021-01-15 23:54] trask commented on #2058
Makes sense to me, maybe all smoke tests, just to make it easy to doc/explain, instead of slicing out only some of them.

I don't think it's too surprising to have to opt in to running smoke tests.

[2021-01-16 02:24] anuraaga commented on #2058
Yeah `SpringBootSmokeTest` used to be my standard to make sure the actual agent works properly. Now that normal tests do that, indeed just disabling default smoke tests entirely is probably fine too.

[2021-01-16 04:23] github-actions[bot] opened #2066 "Nightly build"
<a href="https://github.com/open-telemetry/opentelemetry-java-instrumentation/actions/runs/489480118">
Nightly build #323</a> failed. Please take a look and fix it ASAP.

[2021-01-17 04:21] github-actions[bot] opened #2067 "Nightly build"
<a href="https://github.com/open-telemetry/opentelemetry-java-instrumentation/actions/runs/491059898">
Nightly build #324</a> failed. Please take a look and fix it ASAP.

[2021-01-18 07:10] github-actions[bot] opened #2069 "Nightly build"
<a href="https://github.com/open-telemetry/opentelemetry-java-instrumentation/actions/runs/492701650">
Nightly build #325</a> failed. Please take a look and fix it ASAP.

[2021-01-18 13:41] iNikem commented on #1973
I don't oppose it.

[2021-01-18 17:28] iNikem commented on #1992
So we are bringing back the old behaviour that some users found confusing and we agreed with them? :) I kinda agree that identification of the instrumentation module is important. And yes, using artifact name seems like the simplest solution. But then we have to address #1260 in some other way.

[2021-01-18 17:39] jkwatson commented on #1992
The confusion was that the instrumentation name didn't specifically identify which versions of the instrumented library were being handled, correct? The proposed change here at least give *some* information, as opposed to what we have now, which is precisely *no* version information.

[2021-01-18 17:46] laurit commented on #1989
This also causes flakiness in `SpringListenerJms1Test` where test can receive more consumer spans than expected. Adding a sleep before `expect:` block makes it fail reliably.

[2021-01-19 03:07] #2048 closed

[2021-01-19 03:18] anuraaga commented on #1992
I think it's ok to not worry too much about #1260. The field is `InstrumentationLibraryInfo.name` - the fact that a name may have a number in it seems like more of a coincidence.

Adding `InstrumentedLibraryInfo` to the proto would probably be the clearest, not sure anyone has the appetite to add it :)

[2021-01-19 05:16] github-actions[bot] opened #2075 "Nightly build"
<a href="https://github.com/open-telemetry/opentelemetry-java-instrumentation/actions/runs/495125727">
Nightly build #326</a> failed. Please take a look and fix it ASAP.

[2021-01-19 06:12] trask commented on #1989
Those polling spans are very noisy. This sounds great.

[2021-01-19 07:08] #1973 closed

[2021-01-19 07:53] anuraaga opened #2076 "Add smoke test for otel.exporter.jar"
I believe we don't currently have any testing of otel.exporter.jar.

[2021-01-19 07:54] iNikem commented on #2032
Imagine situation similar to some of our smoke test: Spring MVC controller with a private method annotated with `WithSpan`. You may want to silence `WithSpan` but still have Spring MVC integration working.

Thus I think that both of these options should live.

[2021-01-19 07:58] anuraaga commented on #2032
@iNikem I was thinking the class could be excluded, which would still allow spring MVC integration to continue, just not for that controller. The thinking is that per-method just seems like extreme granularity - maybe it's worth it though.

[2021-01-19 09:22] iNikem commented on #2032
But I do want to have Spring MVC spans for that controller :) Just not `WithSpan` spans.

[2021-01-19 11:27] DinaYakovlev opened #2078 "opentelemetry and cassandra"
Hi, I am trying to integrate the opentelemetry-instrumentation to a scala project I have.
We are using jaeger as our tracing tool.
The problem is, we are using com.datastax.cassandra cassandra-driver-core version 3.1.0 in this projefct, that uses guava dependency version 16.0.1.
Unfortunately we can not upgrade the cassandra-driver-core as a result of other dependencies..
did anyone ever encounter

[2021-01-19 11:30] iNikem commented on #2078
Do you have any specific problem with OpenTelemetry javaagent? If yes, please provide more information about what does not work for you.

[2021-01-19 11:41] DinaYakovlev commented on #2078
Well, at startup we get:
[code]

And this:
[code]
Excluding guava from cassandra-driver-core is not an option...

[2021-01-19 11:58] iNikem commented on #2078
Thanks, that clarifies things! :)

[2021-01-19 12:02] #2031 closed

[2021-01-19 13:06] #2055 closed

[2021-01-19 13:06] #2066 closed

[2021-01-19 13:06] #2067 closed

[2021-01-19 13:06] #2069 closed

[2021-01-19 13:06] #2075 closed

[2021-01-19 15:22] kubawach opened #2079 "Enable SQS context propagation for apache camel instrumentation"
**Is your feature request related to a problem? Please describe.**
Current Apache Camel instrumentation does not support SQS context propagation out of the box. Even though headers are sent as message properties by PRODUCER, values are not deserialised properly by a CONSUMER.

**Describe the solution you'd like**
For SQS routes context propagation should be possible.

**Describe alternatives you'v

[2021-01-20 01:30] #2060 closed

[2021-01-20 03:17] tydhot commented on #1888
@iNikem assign to me plz

[2021-01-20 03:22] anuraaga commented on #1888
Thanks @tydhot :) If it's possible to start with library instrumentation so we support both agent and non-agent users, that would be great!

[2021-01-20 03:38] tydhot commented on #1888
@anuraaga Thank you for your advice :)

[2021-01-20 04:31] github-actions[bot] opened #2082 "Nightly build"
<a href="https://github.com/open-telemetry/opentelemetry-java-instrumentation/actions/runs/497661714">
Nightly build #328</a> failed. Please take a look and fix it ASAP.

[2021-01-20 07:33] iNikem commented on #2082
@kubawach Seems like something for you? :) https://scans.gradle.com/s/hzfgrzxdtwpwq/tests/:instrumentation:apache-camel-2.20:javaagent:test/test.SqsCamelTest/initializationError#1

[2021-01-20 11:27] addname commented on #1916
@iNikem assign to me plz

[2021-01-20 12:02] #2082 closed

[2021-01-20 14:30] #1079 closed

[2021-01-20 14:47] anuraaga commented on #1353
Env variables have changed so only one can be configured!

[2021-01-20 14:47] #1353 closed

[2021-01-20 15:00] vovencij commented on #351
Some are fixed here: https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/2085

At the moment of writing I think there is only one Gradle deprecation warning left.

[2021-01-20 16:08] chenmudu opened #2086 "API on asynchronous method enhancement?"
**Is your feature request related to a problem? Please describe.**

Some people like to replace the original SimpleAsyncTaskExector in Spring when using asynchronism.
Currently, no API has been found that can be enhanced for thread pools other than SimpleAsyncTaskExector.
If not, where should I go to find an API to enhance thread pools? thanks a lot!

**Describe the solution you'd like**

In my op

[2021-01-21 01:50] chenmudu commented on #2002
@anuraaga @tobias-
Perhaps we can take another approach to configuring discovery, the simplest and most efficient one is to allow users to configure it locally and place it in a file.Configure the path of the file in the system boot parameter.I don't know how you feel about that. Thanks a lot.

[2021-01-21 05:57] anuraaga commented on #2002
@chenmudu We do support reading agent parameters from a file already - it can work well if people use an otel-specific config file. However, the programmatic control would benefit so users can use their existing config system - for example, if a user uses application-*.yml files for spring boot config, it would be very natural if this can control OpenTelemetry too.

[2021-01-21 07:28] #2086 closed

[2021-01-21 12:36] iNikem commented on #1954
So, let's take it apart, shall we? :) Based on the assumption that we cannot use actual request url as span name due to its high cardinality.

First, we may have application server integration, which creates SERVER span. This has only 2 options for span name: `HTTP [METHOD]` and `Class.method`.

Then we have Servlet API, which may either create span or update existing span name. If we cannot use `