[2020-08-20 01:52] trask commented on #946
Marked `after-ga` since we won't be exposing `HttpUrlConnectionTracer` publicly as part of library instrumentation in GA (or maybe ever)

[2020-08-20 01:57] trask commented on #942
Labeled `after-ga` but we would definitely accept a PR for this any time prior to GA

[2020-08-20 01:58] trask commented on #1063
Closing, looks like we have this already #986

[2020-08-20 01:58] #1063 closed

[2020-08-20 01:59] trask commented on #986
Labeling `after-ga`, unit tests would be nice, but we have tons of coverage of this class via all the various instrumentations.

[2020-08-20 02:01] #1007 closed

[2020-08-20 03:40] trask commented on #430
Unfortunately, still happening:

https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-java-instrumentation/2943/workflows/a2df14e1-dcad-4039-a9c1-db5785c182f0/jobs/16895/tests

[2020-08-20 03:40] trask commented on #430
(see #926)

[2020-08-20 03:42] trask commented on #430
but dropping to `p2` because it doesn't seem to be happening as often

[2020-08-20 04:52] #1046 closed

[2020-08-20 04:54] #1045 closed

[2020-08-20 05:41] anuraaga opened #1072 "Scala build cache issue?"
Not exactly sure but it seemed like my local build cache got corrupt when building groovy + scala. The akka-http test failed multiple times when running, until I did clean, then `:test --no-build-cache` and it was fine. I've seen this once before too.

[code]

[2020-08-20 06:38] anuraaga commented on #1053
Are you using dev collector? That might fix it, or maybe it was a fluke that it worked ok for me after docker pull...

[2020-08-20 06:54] iNikem commented on #1053
There is an actual problem in the current snapshot of otel-java. Don't why newer collector solved it for you, it should not.

[2020-08-20 06:55] anuraaga commented on #1053
Well I'm not using the current snapshot of otel-java, I believe :) So maybe it's a similar but different error

[2020-08-20 12:38] philippeLepage opened #1075 "Metrics : test the metrics exporter end-to-end with the javaagent"
# Test case - Default Config
Using OpenTelemetry as the exporter, validate that custom metrics created in an application are relayed properly through the java agent.

## Reason behind this validation
Excerpt from a [gitter conversation](https://gitter.im/open-telemetry/opentelemetry-java-instrumentation#) on August 19th 2020.

@philippeLepage

@trask :

[2020-08-20 15:09] johnbley opened #1076 "Document supported app servers in the README"
I think it would be helpful if the README included a section about supported app servers (possibly including versions).  I took a poke around and saw that we have instrumentation, unit tests, or smoke tests involving at least Jetty, Tomcat, and Wildfly.  I know that the line between app server and framework/library can get blurry, but it would be helpful if somebody evaluating the project could qu

[2020-08-21 04:25] github-actions[bot] opened #1077 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-08-21 07:01] iNikem commented on #1077
Locally reproduces by running smoke-tests:
[code]

[2020-08-21 07:37] iNikem opened #1079 "SmokeTest should declare agent's shadowJar as input"
It seems that currently gradle does not re-run smoke tests if agent's shadow jar has changed. This may lead to missed regressions during subsequent builds of the same PR

[2020-08-21 14:48] github-actions opened #1081 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-08-21 15:34] #1081 closed, assigned to iNikem

[2020-08-21 16:33] mateuszrzeszutek opened #1083 "Servlet 3.0 instrumentation does not fully cover 3.1 and 4.0"
Servlet 3.1 introduced a new method in `ServletOutputStream`: `setWriteListener(WriteListener)`. This method is not implemented in our current servlet 3.0 instrumentation, so when it's called an `AbstractMethodError` is thrown instead:

[code]

I ran into this issue when I was unit testing RESTEasy 4.5.6: it looks like they actually use this new method when dealing with an `AsyncResponse`: https:/

[2020-08-22 03:57] github-actions[bot] opened #1085 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-08-22 05:37] mityayak opened #1086 "Extend JAX-RS/Jersey instrumentation"
JAX-RS/Jersey instrumentation is missing auto-instrumentation for ReaderInterceptor, MessageBodyReader, ContainerResponseFilters, WriterInterceptor, MessageBodyWriter.
Take a look at https://eclipse-ee4j.github.io/jersey.github.io/documentation/latest/filters-and-interceptors.html and "10.4. Filter and interceptor execution order" chapter there.
Or you can see execution order diagram - https://www

[2020-08-24 10:23] kubawach commented on #718
Looking into the issue.

[2020-08-24 15:48] mateuszrzeszutek commented on #1083
I've started working on this issue, PR will be ready this week for sure

[2020-08-24 18:33] trask commented on #1048
Closed by #1091

[2020-08-24 18:33] #1048 closed

[2020-08-25 05:24] #1085 closed

[2020-08-25 05:33] wyTrivail commented on #1075
looks like only spanexporter gets created by default based on [TraceInstaller. installExporters](https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/090cdd782bd1889c23f082f587087c5500bddb19/javaagent-tooling/src/main/java/io/opentelemetry/javaagent/tooling/TracerInstaller.java#L64).

do we want to create MetricExporterFactory in this method as well? or this is the expected be

[2020-08-25 07:17] iNikem commented on #1075
Metric exporters should definitely be configured the same was as span exporters.

[2020-08-25 12:33] #730 closed

[2020-08-25 13:56] philippeLepage commented on #1075
Another excerpt from gitter :

[2020-08-25 15:18] jamesylgan opened #1095 "Debug argument does not work"
Hi open-telemetry team!

I was trying to turn on debug logging today and noticed that the arg to enable debugging that's included in the README doesn't work (does not enable debug logging):
`-Dio.opentelemetry.javaagent.slf4j.simpleLogger.defaultLogLevel=debug`

Instead, this is what worked:
`-Dio.opentelemetry.auto.slf4j.simpleLogger.defaultLogLevel=debug`

Does anyone have an idea for why this m

[2020-08-25 17:01] ishg opened #1096 "ClassCastException for v3_0.CountingHttpServletResponse"
Hello, running the Java agent (v0.7.1) with a Java 1.8 app results in the following error with `jetty.server.Response`:

[code]

I can provide the relevant Pom files after scrubbing if you'd like to know versions for specific libraries, but Jetty seems to be `v9.1.2` which should be supported according to the list of frameworks in the main [README](https://github.com/open-telemetry/opentelemetry-j

[2020-08-25 17:09] iNikem commented on #1096
Hello @ishg, thank you for this report. I believe that this information is enough for us to start our investigation. Sorry for this inconvenience.

[2020-08-25 17:27] trask opened #1097 "Document when to use named(..) vs extendsClass(named(..)) in typeMatcher()"
And apply this reasoning to the existing codebase where it doesn't match.

[2020-08-25 17:46] wyTrivail commented on #1075
created a pr to fix this issue, https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/1098, hope it helps

[2020-08-25 21:08] AlexanderMann opened #1099 "Google CloudTrace Support"
# Motivation

Looking at instrumenting a _bunch_ of third party software in our stack. Presently, we're on GCP, and leveraging CloudTrace would be really wonderful.

While we realize that this is a BETA tool, being able to toss this into the command instead of forking the 3rd party project would be...wonderful.

## Notes

Presently leveraging tracing in GCP for Java, it's suggested that folks use

[2020-08-25 21:27] AlexanderMann commented on #1099
Presently I'm trying to see whether I can leverage the `exporter.jar`

[2020-08-25 23:12] bogdandrutu commented on #975
This will lead in duplicate code anyway, I probably don't have too much experience with the complexity of the bridge but you still need to build a bridge or duplicate the entire SDK part.

[2020-08-25 23:17] trask commented on #975
The win here is performance, not code complexity.

In your example

* api.TraceId - interface
* shadeApi.TraceId - shaded api.TraceId interface

We would write our own TraceIdImpl that implements both api.TraceId _and_ shadedApi.TraceId.

Then we would hijack the factory method that people use to instantiate api.TraceId, and return our TraceIdImpl.

And then we don't need to bridge TraceIdImpl bac

[2020-08-25 23:20] bogdandrutu commented on #975
@trask I cannot see how that happens, because that is inside the SDK where we create the TraceID (some custom IDGenerator for example), so most likely you cannot access that code unless you do bytecode manipulation, but that is something that the SDK will not guarantee to be backwards compatible (we can change the code where we generate the ids).

[2020-08-25 23:22] trask commented on #975
We will instrument `TraceIds.create()` (or whatever factory method the API/SDK provides to create a `TraceId`)

[2020-08-25 23:23] bogdandrutu commented on #975
My point is that, there are a lot of places where we will create objects that implement different interfaces (probably not using factories etc.) and will be hard to bytecode change things in a way to return the new objects, so you will end up re-writing the entire SDK (my concern).

You most likely need also SDK to define factories for all the interfaces and allow configuring all of them to achiev

[2020-08-25 23:23] bogdandrutu commented on #975
Once TraceID is an interface I can write code:
return new TraceID {
  ...
}

I don't need to always go via a factory method

[2020-08-25 23:37] trask commented on #975
Ya, the requirements for this to work are

* interface
* don't expose the impl class (factory method that we can instrument and return our own impl)

Yeah, I wish we could prevent this, we'll still have bridge this back and forth, but at least we win when people use the normal APIs.

...

Oh! Maybe we can win without relying on instrumenting the factory method! We can hijack the api.TraceId and ma

[2020-08-25 23:47] bogdandrutu commented on #975
I think we should try this before making too many changes in the API

[2020-08-25 23:52] trask commented on #975
👍

Dropping `TraceId` and `SpanId` classes, replacing them with `String` inside of `SpanContext` seems to be independent discussion though?

[2020-08-25 23:53] bogdandrutu commented on #975
Yes but I saw a lot of other changes to make things interfaces based on this assumption. Also it may influence if SC is a final class or interface

[2020-08-26 00:31] trask commented on #896
Links to blog posts would be good too!

* https://medium.com/wwblog/auto-instrumentation-with-opentelemetry-3b096fdd068f

[2020-08-26 01:40] trask commented on #1095
Hi @jamesylgan! Oops, it looks like I broke the doc, and updated it to reflect latest SNAPSHOT (our goal is to keep the doc updated to latest RELEASE only). I will fix 👍.

[2020-08-26 01:45] trask opened #1101 "Update README to reflect new debug option with 0.8.0 release"
Change
[code]
to
[code]
during 0.8.0 release

[2020-08-26 02:05] trask opened #1102 "Build failing because opentelemetry-java SNAPSHOTs are being pruned from https://oss.jfrog.org/artifactory/oss-snapshot-local"
The 0.8.0-SNAPSHOT build that master branch currently depends on

[code]

is no longer available if you look in:

https://oss.jfrog.org/artifactory/oss-snapshot-local/io/opentelemetry/opentelemetry-sdk/0.8.0-SNAPSHOT/

Not sure if there's anything we can do about changing the number of snapshots retained.

In which case we should probably start updating the SNAPSHOT version weekly just to be safe.

[2020-08-26 03:54] anuraaga commented on #1102
Yeah I noticed there's some, to me unknown, limit on snapshots in my project depending on the snapshot agent. Weekly update SGTM, hopefully broken SDK snapshot is relatively rare.

[2020-08-26 07:58] iNikem commented on #896
+1 for GitHub wiki

[2020-08-26 13:03] iNikem opened #1103 "java.lang.StackOverflowError during Reactor instrumentation"
I have tried to run a moderate load test on https://github.com/spring-petclinic/spring-petclinic-microservices with Otel 0.7.0 attached. It runs nicely on light load, but with a little bit more load it gave me this error:

[code]

[2020-08-26 14:50] anuraaga commented on #1103
This reminds me a bit of BSP amazingly :P Where even in async mode we can't 100% eagerly export batches because if the exporter is synchronous it can make `StackOverflowError`. Didn't dig into this issue at all but maybe some context that can help.

[2020-08-26 18:01] trask opened #1105 "Add tests in otel API bridge for metrics methods that do not take Labels"
See https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/1057/commits/c6af1bec2d15134e1cade82d05a292b70df6ad04#r473085708

[2020-08-26 19:05] trask opened #1106 "Rename spring instrumentation modules a bit more"
E.g.

Rename `:instrumentation:spring:spring-webflux-5.0:spring-webflux-5.0-auto` to `:instrumentation:spring:spring-webflux-5.0:auto` to `:instrumentation:spring:spring-webflux-5.0:spring-webflux-5.0-library` to `:instrumentation:spring:spring-webflux-5.0:library`

And similar for `:instrumentation:spring:spring-webmvc-3.1` and `:instrumentation:spring:spring-web-3.1`.

[2020-08-26 20:10] erikcostlow opened #1108 "Printing version throws exception"
Running with the latest agent throws an exception when it prints its version number; then the agent says it's unknown.

VersionLogger looks for a file named "opentelemetry-javaagent.version" but gradle produces one based on the project name, called javaagent.version.

Which is the best fix? Looking for the file that's created or changing the one that gets generated?

[2020-08-26 21:24] gfuller1 opened #1109 "Add support for HTTP metric events"
Implementation for this spec https://github.com/open-telemetry/opentelemetry-specification/pull/739. The instrumentation should be reporting http metrics along with http span events.

[2020-08-27 02:59] #1095 closed

[2020-08-27 04:26] trask commented on #1108
Hi @erikcostlow! Let's use `opentelemetry-javaagent.version`. The file name probably got broken when we removed the (redundant) `opentelemetry-` from the module name.

[2020-08-27 04:43] trask commented on #1065
hey @FrankSpitulski, some of the instrumentation within a given module rely on each other, so the safest is to disable/enable at the module level.

can you explain your specific need?

[2020-08-27 05:03] iNikem commented on #1108
Just a heads up: I will submit a PR today which changes how version is printed and does not rely on that file at all. That will solve this issue and #750

[2020-08-27 07:00] iNikem opened #1111 "Metric export fails"
Current version prints the following exception during runtime:

[code]

[2020-08-27 11:06] mnottheone opened #1113 "Propagate span-context for Kafka Clients by injecting and extracting in message headers"
Right now, auto instrumentation records spans for Kafka clients, but context propagation is missing. Let me know if I am wrong and I tried running it myself and span-ids were missing in message headers. <br>Context propagation for Kafka clients was supported for opentracing using [java-kafka-client](https://github.com/opentracing-contrib/java-kafka-client) . This is really helpful for applications

[2020-08-27 11:30] iNikem commented on #1113
There is code in place to propagate trace context via kafka headers: https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/7969a83dde7c567b0ed07e7ea2c314673eb49e23/instrumentation/kafka-clients-0.11/src/main/java/io/opentelemetry/instrumentation/auto/kafkaclients/KafkaProducerInstrumentation.java#L114 If that does not work, then something is broken and we should investigate it.

[2020-08-27 11:34] anuraaga opened #1114 "java.util.ServiceConfigurationError: io.opentelemetry.javaagent.shaded.io.opentelemetry.metrics.spi.MeterProviderFactory: io.opentelemetry.sdk.metrics.spi.MeterProviderFactorySdk not a subtype"
Updating my agent distribution and I see this weird configuration error. There's a good chance it's something wrong with my build scripts but copying here for now just in case.

https://github.com/anuraaga/aws-opentelemetry-java-instrumentation/pull/5/files

[code]

[2020-08-27 12:29] mnottheone commented on #1113
I tried in debug mode and can see traceparent ( traceId-spanId.. ) in headers. But issue is spans from producers and consumers are not getting stitched in Jaeger. There are separate Traces/spans for producer and consumer messages. It lead me to assumption that context in not propagated.

[2020-08-27 14:33] erikcostlow commented on #1108
Thanks, sorry I missed that ticket. Closing this.

[2020-08-27 14:33] #1108 closed

[2020-08-27 14:48] erikcostlow opened #1115 "Instrumenting JDK classes"
docs/contributing/writing-instrumentation.md describes a situation of instrumenting core JDK classes, using the example "URLConnection, because it can intercept even the JDK's classes. Such libraries will not have manual instrumentation but will have auto instrumentation."
For an initial experimentation, I used the following code to target java.io.File. The instrumentation is present because I hav

[2020-08-27 17:12] #942 closed

[2020-08-27 17:29] trask commented on #1115
Hey @erikcostlow! I suspect this is because of https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/master/javaagent-tooling/src/main/java/io/opentelemetry/javaagent/tooling/matcher/GlobalIgnoresMatcher.java#L107-L124

[2020-08-27 17:34] trask commented on #1113
Hi @mnottheone! Kafka propagation works for me, can you provide a standalone repro so we can try it out and see what might be different for your case?

[2020-08-27 17:38] trask commented on #1114
My first guess would be your shading configuration needs to be updated because we changed shading in this repo, e.g.

[code]

i think used to be

[code]

[2020-08-27 18:31] FrankSpitulski commented on #1065
@trask, my use case is that I wanted to extend the Servlet3HttpServerTracer tracer with new tags and had to duplicate all of the servlet3 instrumentation. There were two distinct instrumentations in there the AsyncContextInstrumentation which I did not want to touch and the regular Servlet3Instrumentation both under the "servlet3" enable/disable tag. Ideally I could just swap out or extend the tra

[2020-08-27 18:38] trask commented on #1065
Thanks. If we provide a hook for you to provide your own subclass of `Servlet3HttpServerTracer`, would that address your needs?

[2020-08-27 18:50] FrankSpitulski commented on #1065
Partially. For this specific use case yes. If I'm unable to get a workable solution for https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/894 then I'd have to change the instrumentation advice, not just the tracer. In that case I'd still like to be able to target specific instrumentation.

[2020-08-27 20:16] #404 closed

[2020-08-27 20:16] #750 closed

[2020-08-28 02:42] erikcostlow commented on #1115
Yes. You're right on the mark there, thank you for the response.
For future readers, the line to add looks like this:
[code]

[2020-08-28 02:42] #1115 closed

[2020-08-28 04:14] github-actions[bot] opened #1117 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-08-28 05:36] github-actions[bot] opened #1118 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-08-28 06:53] anuraaga commented on #762
@FrankSpitulski Now that `TracerCustomizer` is in the java-bootstrap project which is published, is the issue with `TracerCustomizer` solved? Just want to check

[2020-08-28 08:51] anuraaga commented on #1114
This was something that showed up during random attempts to fix what I was seeing in #1119 but is itself not a real issue (was incorrect shading config indeed). Closing

[2020-08-28 08:51] #1114 closed

[2020-08-28 08:52] anuraaga commented on #1118
We should either fix to an older version of collector by specifying an exact digest or otherwise need to wait on https://github.com/open-telemetry/opentelemetry-java/pull/1600

[2020-08-28 10:10] iNikem commented on #1118
Let us hope that will be merged soon

[2020-08-28 13:24] devinsba commented on #1103
I've done some digging into this. It looks like some odd interaction with `FluxPeekFuseable$PeekFuseableSubscriber` and the `TracingSubscriber`

[2020-08-28 13:56] pavolloffay commented on #465
When does this problem happen?

For instance does it happen in a situation where mutiple multiple server side instrumentations create spans  e.g. servlet filter and then jax-rs? Or was this just a proposal to enforce single client, server span situation?

[2020-08-28 14:28] mateuszrzeszutek opened #1123 "Muzzle should fail on unimplemented abstract methods"
This is an idea for improvement that would have prevented something like https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/1083 from happening.
In that issue, Servlet API 3.1 introduced two new abstract methods to `ServletOutputStream` that were unimplemented in our code -- and everything was OK until someone tried to call one of them.

I believe that muzzle should fail f

[2020-08-28 17:21] trask commented on #465
hey @pavolloffay!

I don't think any of the instrumentation currently creates duplicate SERVER spans, so this proposal is mostly preventative for SERVER spans, and will replace some existing logic that already existed to prevent duplicate SERVER spans.

This mechanism was a bit more needed for CLIENT spans, e.g. #440

[2020-08-28 20:21] FrankSpitulski commented on #762
@anuraaga is io.opentelemetry.javaagent.tooling.exporter.SpanExporterFactory available to include as a jar without pulling in the whole java agent instrumentation jar? That was my primary issue with using io.opentelemetry.auto.bootstrap.spi.TracerCustomizer, I had to include the whole jar or create an identical file and package it in my own jar to use the interface.

[2020-08-29 00:59] anuraaga commented on #762
Yeah we publish the javaagent-tooling jar as well which is just that module without the inst/ renaming. How does that sound?

[2020-08-29 01:39] FrankSpitulski commented on #762
Sounds good then

[2020-08-29 03:35] github-actions[bot] opened #1124 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-08-29 23:35] trask opened #1129 "Decide on what modules contain public APIs"
A couple of options to start discussion:

**Option 1:**
Merge `auto-api` module (back) into `javaagent-bootstrap`

This would leave us with public API in 2 modules:
* `javaagent-tooling`
* `javaagent-bootstrap`

**Option 2:**
Rename `auto-api` to `auto-runtime-api`, and split out `auto-matcher-api` from `javaagent-tooling`, and introduce `javaagent-spi`(?) for `TracerCustomizer`, `ExporterConfig`,

[2020-08-30 02:07] anuraaga commented on #1129
Yeah option 2 feel natural to me. Right now we indeed have a tricky split between classes in the tooling / bootstrap modules that isn't intuitive.

[2020-08-30 02:07] #762 closed

[2020-08-30 03:34] github-actions[bot] opened #1130 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-08-30 04:09] trask opened #1131 "Finatra controller spans are not capturing exceptions"
See this comment in `FinatraServerTest.groovy` (also in `FinatraServerLatestTest.groovy`):

https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/770502eed9b0b65e0802c4088b0ebef974096b0c/instrumentation/finatra-2.9/src/test/groovy/FinatraServerTest.groovy#L91-L95

[2020-08-31 01:57] anuraaga opened #1135 "Investigate instrumentation / exporters duplicate dependencies"
We have dependencies included into the final agent jar twice if they're used by both instrumentation and exporters. Usually duplicate dependencies should only result in a larger jar but otherwise be harmless but we've seen issues that may indicate some dependency version conflict happening - it's not an obvious conflict though but probably needs some more investigation.

See #1119

[2020-08-31 02:20] anuraaga commented on #1099
Hi @AlexanderMann! Currently users can use the opentelemetry collector to proxy traces into various backends, including Stackdriver.

https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/master/exporter/stackdriverexporter

Are you able to use a sidecar daemon for conversion? Of course, being able to export directly without a proxy is also convenient and we should support that ev

[2020-08-31 03:11] gfuller1 commented on #1109
I think the best way to create http metric events within open telemetry is to generate them from span events. This will allow the data to be consistent between the two events (labels/attributes and duration values) and make the work to implement this a lot easier than writing http metric instrumentation for every framework.

[2020-08-31 04:03] trask commented on #1109
Hey @gfuller1! Check out `HttpServerTracer` and `HttpClientTracer`. I think those would be good places to implement metrics in a way that applies every framework.

[2020-08-31 04:25] github-actions[bot] opened #1137 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-08-31 06:56] #1117 closed

[2020-08-31 06:56] #1118 closed

[2020-08-31 06:56] #1124 closed

[2020-08-31 06:56] #1130 closed

[2020-08-31 06:56] #1137 closed

[2020-08-31 13:53] iNikem opened #1138 "Bugs in Project Reactor integration"
I have two new tests in my branch: https://github.com/open-telemetry/opentelemetry-java-instrumentation/compare/master...iNikem:reactor-bugs?expand=1. Both of them currently fails.

One of them demonstrates that `Mono.subscribe` does not propagate context.

Another demonstrates that Reactor Netty client can attach spans to wrong traces.

I have no idea atm how to solve them.

[2020-08-31 19:47] pavolloffay commented on #465
thanks for the pointer @trask.

We had similar issues OT for server spans when people used multiple layer instrumentation for incomming requests. We ended up checking for parent span when the context was extracted. If there was active parent span it was used and just added lables e.g. `@Path` to enrich the data.

For the client spans the situation might be similar the lower layers can check if the

[2020-08-31 21:20] ishg commented on #1096
Hi @iNikem! Any luck with investigating this issue? Is there any further information I can provide, or advisable possible testing steps I can take on my end? Thanks!

[2020-09-01 00:26] anuraaga opened #1139 "Check async redis instrumentation"
I just noticed that for example, `LettuceAsyncClientTest` doesn't actually verify multiple spans end up in the same trace.

https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/master/instrumentation/lettuce/lettuce-5.0/src/test/groovy/LettuceAsyncClientTest.groovy

This might be because we don't have a root span in the test, or because the instrumentation of the future return

[2020-09-01 01:05] #1061 closed

[2020-09-01 03:54] github-actions[bot] opened #1143 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-09-01 05:35] iNikem commented on #1143
@dengliming It seems that our nightly build failed Redisson test running with latest Redisson version (`./gradlew test -PtestLatestDeps=true`): https://scans.gradle.com/s/qqv546sebj3iy/tests/:instrumentation:redisson-3.0:test/RedissonClientTest/test%20batch%20command#1

Can you take a look? If yes and you don't mind, I will reassign this task you.

[2020-09-01 05:40] dengliming commented on #1143
@iNikem sure. thanks.

[2020-09-01 08:26] anuraaga opened #1146 "Run tests with full agent jar"
This could probably come after supporting running tests with a mini module-specific agent jar. We should also have a mode, probably built in the nightly build, to run tests with the full agent jar. Currently, we have no way of catching simple packaging issues like instrumentation not being bundled at all.

[2020-09-01 10:30] iNikem commented on #1129
I am still somewhat confused about what classes should go where, but `auto-runtime-api` seems like a strange name to me :)

[2020-09-01 10:36] iNikem commented on #1096
Sorry, @ishg , did not have time to think about a solution for this yet. I will try to look at it during next couple days.

[2020-09-01 10:51] iNikem commented on #1096
@anuraaga @trask Looking at `CountingHttpServletResponse` I started to think if this is a good idea to use it in `JettyHandlerAdvice`. There we instrument Jetty specific API and we wrap a parameter of that API into our own class. And we return our own class back into Jetty pipeline. I think it is not unreasonable to assume, that Jetty may have some assumptions about Jetty-specific API's implementa

[2020-09-01 11:52] james-bebbington commented on #1099
Yes - thanks for tagging me. We have just released an alpha version of the Java Cloud Trace exporter (metrics coming soon). See:

- https://github.com/GoogleCloudPlatform/opentelemetry-operations-java
- https://mvnrepository.com/artifact/com.google.cloud.opentelemetry/exporter-trace

FYI @zoercai

[2020-09-01 13:26] richardstartin commented on #1138
Hi @iNikem - do you mind if I adapt your tests to run in the Datadog codebase? We may be able to fix these issues there.

[2020-09-01 14:04] anuraaga commented on #1129
Heh yeah need a reminder of what auto runtime API is. SPI I think used by initializer or exporter, matcher used by instrumentation. Is the rest agent initialization code?

[2020-09-01 14:30] AlexanderMann commented on #1099
This is all grand. My attempts with `exporter.jar` ran quickly into incompatibility with the previous OpenCensus work for Stackdriver.

Running a sidecar daemon is certainly possible, just not as convenient (as you noted 😉 )

For context:

- Working at ApolloGraphQL
- We're running a massive Druid installation and want tracing on it
- Having modest success with Istio for various things, but ultima

[2020-09-01 14:45] iNikem commented on #1138
@richardstartin But of course! If you can fix them - do whatever you want :)

[2020-09-01 20:01] AlexanderMann commented on #1099
Okayyyy, so fresh from the presses:

Dockerfile:

[code]

`java jar` options:

[code]

K8s logs:

[code]

I'll poke into this more later, but I wanted to share logs earlier than later.

[2020-09-01 21:50] trask opened #1151 "Simplify io.opentelemetry.instrumentation.api.cache.Function(s) after dropping Java 7"
Drop `io.opentelemetry.instrumentation.api.cache.Function` and remove/simplify much of `io.opentelemetry.instrumentation.api.cache.Functions`.

[2020-09-02 04:07] github-actions[bot] opened #1152 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-09-02 05:29] #1152 closed

[2020-09-02 06:11] anuraaga opened #1155 "Instrumentation shouldn't force suppress new traces"
Currently, we have conditions in the logic itself to prevent starting traces from database clients like here

https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/1148/files#diff-a9ba30229bfd53ce71738c8fd3f84f50R73

But some users may want traces for individual database calls. This should be configurable somehow rather than hard-coded in the instrumentation.

[2020-09-02 08:44] anuraaga commented on #1096
1) Yeah if it doesn't interact with Jetty well, I think we do need to remove it

2) With many streaming responses now adays, like gRPC, I think we'd lose a large section of content length recording if only going with user-agent. But I would generally use counting only if it's not extreme complexity - for example gRPC exposes an interface natively for it (we don't use it yet but should soon) https:

[2020-09-02 10:18] #1143 closed

[2020-09-02 11:49] iNikem commented on #1083
I see this task, #1096, the complexity of PRs trying to solve this task and I am wondering if we should rollback `CountingHttpServletResponse` and come up with some other way to set those 2 semantic convention attributes...

@trask @anuraaga

[2020-09-02 12:51] mateuszrzeszutek commented on #1083
I agree -- I've tried to fix https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/1149 by creating a proxy `ServletOutputStream` class in runtime (so that we don't have to hard-code the usage of `WriteListener`) but this solution is also starting to look pretty crazy.

[2020-09-02 17:04] AlexanderMann commented on #1099
@anuraaga I'm struggling a bit here to figure out where I should implement the required Factory...based on the examples, it looks like I should make a new one in the `javaagent-exporters` package, but based on the env var for passing in a separate jar, it seems like that should live inside the jar being pulled in? Any recs here?

[2020-09-02 21:30] AlexanderMann commented on #1099
I know this is definitely _not_ what we want long term, but this is thus far showing promise. We're ramping up usage/support tonight and will be able to report back whether this is a vetted path forward: https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/1160

[2020-09-02 22:07] AlexanderMann commented on #1099
Next steps right now are bumping the Google Code to latest so that we're not worried about running into the type signature changes.

[code]

[2020-09-03 03:51] anuraaga commented on #536
@trask https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/1121#discussion_r482686479 :)

[2020-09-03 03:54] github-actions[bot] opened #1161 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-09-03 03:57] anuraaga commented on #1102
Think this was fixed

[2020-09-03 03:57] #1102 closed

[2020-09-03 04:00] anuraaga commented on #1099
@AlexanderMann Thanks for the digging, sorry for the late reply. We currently publish snapshots of `javaagent-tooling`, though we are considering a small artifact shuffle in #1129. We'll want an additional artifact in the https://github.com/GoogleCloudPlatform/opentelemetry-operations-java repo that uses it and publishes the auto-exporter jar. We'll release 0.8.0 soon with this as well, though onl

[2020-09-03 04:34] iNikem commented on #1102
Btw, I got the confirmation from Baruch, that oss.jfrog.com keeps only latest 25 snapshots.

[2020-09-03 04:52] anuraaga commented on #595
Should we start by exporting to a collector within GitHub actions itself? Just spam the spring-boot smoke test container? I don't know if the numbers are reliable or not, but it seems like an easier start than provisioning cloud.

[2020-09-03 04:54] anuraaga commented on #595
For reference, I've written this benchmark with testcontainers before for Zipkin, it's basically awk + zipkin + backend + prometheus. https://github.com/openzipkin/zipkin/blob/master/benchmarks/src/test/java/zipkin2/server/ServerIntegratedBenchmark.java

[2020-09-03 07:00] #1161 closed

[2020-09-03 07:18] #1096 closed

[2020-09-03 07:57] iNikem commented on #1096
@ishg should be fixed now and will be release as part of 0.8.0 version which should happen during the next few days.

[2020-09-03 08:02] dengliming opened #1166 "Should we fix the SpotBugs violation?"
[code]

[2020-09-03 08:05] iNikem commented on #1166
We definitely have to decide if we want to use spotbugs or not. If we do, then we have to fix warnings or tune our configuration. If not, just remove it.

[2020-09-03 08:15] dengliming commented on #1166
Same as `[ant:checkstyle] `  lots of warn logs. : )
[code]

[2020-09-03 14:36] mateuszrzeszutek commented on #1083
I've submitted a PR that removes `CountingOutputStream`: https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/1167

I'll close the other two, since they both seem to inane solutions.

[2020-09-03 16:22] ishg commented on #1096
Thank you all!

[2020-09-04 01:42] trask commented on #534
See https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/1121#discussion_r482686479

[2020-09-04 01:43] trask commented on #536
e.g. recommend instrumentation authors not to use lambdas

[2020-09-04 02:05] trask commented on #836
Also see https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/1165/files#r482757088

[2020-09-04 09:31] RashmiRam opened #1170 "Lettuce 5.1 instrumentation adds args also in db.statement attribute"
As per the Semantic conventions mentioned here  https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/semantic_conventions/database.md#call-level-attributes,  We can obfuscate  value to exclude sensitive information. Args to Redis commands might have sensitive information. Lettuce 5.1  adds args to the `db.statement` attribute key. https://github.com/open-te

[2020-09-04 09:54] iNikem commented on #1170
You are right about sensitive data. At the same time, the same semantic convention that you reference says:

Thus ideally we want to include arguments, but probably want to scramble actual values. I am not sure at all how easy this is.

[2020-09-04 10:31] RashmiRam commented on #1170
Agreed @iNikem. It will be helpful to see the actual CLI syntax. I looked at how other language libraries are handling the same.
Ruby & Python otel instrumentation redis library truncates each actual args beyond certain threshold length. We can keep the threshold length to be very small(say., 10) so that it leaves the args in a jumbled state. I agree that it won't fully obfuscate the sensitive dat

[2020-09-04 10:37] iNikem opened #1171 "Artifacts are published to wrong location"
E.g. [latest build](https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-java-instrumentation/3211/workflows/e548c07d-dfad-4cbf-99ff-bdd04f65bb6b/jobs/17524) published javagent-all.jar to

`https://oss.jfrog.org/oss-snapshot-local/io/opentelemetry/javaagent/opentelemetry-javaagent/0.8.0-SNAPSHOT/opentelemetry-javaagent-0.8.0-SNAPSHOT-all.jar`

This is wrong place to be :)

[2020-09-04 14:17] iNikem commented on #1170
Java SDK already provides a functionality to truncate too long attribute values. I think it will be confusing to everybody to implement one more truncation just for some attributes and with completely different purpose.

I would say we need the holistic approach to db queries normalisation to prevent both PII data leaking and having too many artificially different attribute values. There is no poi

[2020-09-05 04:07] github-actions[bot] opened #1175 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-09-05 09:38] #1175 closed

[2020-09-07 07:03] RashmiRam commented on #1170
Understood @iNikem. Thanks for the explanation. There is this [AUTH command ](https://redis.io/commands/auth)at redis which takes username & password as arguments. Going by this way, **_only Lettuce 5.1_** shows the full command with args where the password will also be shown in the spans 😨.(Lower versions of Lettuce & Jedis shows only commands).   Is it a valid ask to handle this alone at least o

[2020-09-07 07:08] anuraaga commented on #1170
Thanks for this callout @RashmiRam. I agree with @iNikem that we probably want a generic solution that applies to all our DB instrumentation. And the main reason the Lettuce 5.1 instrumentation shows the args and not the other ones is it's the newest instrumentation and coincidentally was written after the semantic conventions for `db.statement` was updated to clarify the inclusion of args. We can

[2020-09-07 10:38] iNikem commented on #1138
Now it seems to me that this behaviour is "by design". If you read the description of https://github.com/DataDog/dd-trace-java/pull/1308 you see

`ReactorCoreTest#Publisher chain spans have the correct parents from assembly time '#name'` verifies this behaviour. This means that the following code
[code]
will produce four spans ("add one", "add two", "trace-parent", "add one"), but three traces. Be

[2020-09-07 12:58] richardstartin commented on #1138
I _think_ this is probably a mis-specification of the behaviour. When I ported your test over to [datadog](https://github.com/DataDog/dd-trace-java/pull/1834), to my surprise and consternation, the test actually passes sometimes. I think this needs to be deterministic, but don't have anything better to offer right now.

[2020-09-07 14:06] Oberon00 opened #1178 "Add overload taking parent Context to typed tracers"
`io.opentelemetry.javaagent.typed.base.BaseTypedTracer#startSpan` has an overload taking a SpanContext and another one taking a Span as parent. However, there is no overload taking a full Context. Since this is what propagators return, this overload should be added for convenience.

I also recommend reviewing any usages of SpanContext parents, since they should not be necessary anywhere and lose t

[2020-09-08 19:54] kubawach opened #1181 "Enhance AWS DynamoDB instrumentation with db.* attributes"
Current implementation of AWS SDK instrumentation treats all types of requests (S3, SQS, Kinesis, DynamoDB) as network ones, setting net.* and http.* attributes. DynamoDB however is more of a DB kind. Therefore, in order to provide high quality tracing data, DynamoDB instrumentation should be enhanced to set db.* attributes (when appropriate).

There is, however, one outstanding question - what sh

[2020-09-09 04:53] anuraaga commented on #1181
Thanks for bringing this up @kubawach. I think we should indeed also set `db.*` conventions for DynamoDB specifically to satisfy the OTel conventions - I guess we can set `db.name` to a table name for some calls (not batch calls I think though), and set db.operation to the same value as aws.operation.

We should also set the HTTP attributes for any DB calls that use HTTP protocol, like dynamodb, I

[2020-09-09 04:56] iNikem commented on #1181
Network attributes are generic, in the sense that spec allows applying them to any spans.

Initially I thought that we should _replace_ http convention with db one here. But the more I think about it, the more I change my opinion in favour of including both (three, if you count net as well).

[2020-09-09 05:43] iNikem commented on #1138
Status update and some broader picture thoughts.

First, let me restate the obvious, but important, fact about using any reactive code. In the same way as with "usual" java streams, there are two different stages during the life of the stream.

One is constructing the pipeline. Chaining all required operations together: `Mono.create().map().delay().peek().map()` etc. This construction can happen d

[2020-09-09 06:14] anuraaga commented on #1129
Want to knock this out soon to get closer to our final artifacts sooner than later. I looked again and am wondering

- Do we need to split auto-matcher-api / auto-runtime-api? What if we move `matcher` package and `Instrumenter` interface to `auto-api`. IIUC, it should be possible to have a single artifact that auto-instrumentation depends on instead of two. We would probably also move some of `au

[2020-09-09 08:23] anuraaga commented on #1129
Realized `auto-api` needs to be in bootstrap classloader right now since it's used by instrumentation but isn't injected into user classloader. I wonder if instead of putting it in bootstrap, it's better to only inject what's used into user classloader.

[2020-09-09 09:56] kubawach commented on #1181
@anuraaga thanks for your comment. I agree with both db.name and db.operation. I also plan to implement db.statement for relevant requests.
@iNikem agreed, will preserve existing http.* and net.* attributes.

[2020-09-09 12:31] #1083 closed

[2020-09-09 17:45] iNikem commented on #1138
I got it. Will submit PR tomorrow

[2020-09-09 22:05] trask commented on #1129
`auto-api` is needed in the bootstrap classloader because we instrument some classes in the bootstrap class loader (also small startup performance gain if we don't need to inject classes into class loaders)

Yeah, I think that would be nice too, what do you think of option 2 above?

[2020-09-09 23:41] #1106 closed

[2020-09-10 00:20] #1171 closed

[2020-09-10 00:21] anuraaga commented on #1171
Fixed by #1173

[2020-09-10 03:15] trask commented on #1171
Not a problem if you want to move it, just wanted to mention it was in that location intentionally (#952):

[2020-09-10 04:41] trask opened #1186 "Maven groupIds and artifactIds revisited"
Based on discussion from https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/1173#issuecomment-687203429 😸:

#### io.opentelemetry.instrumentation

* Library (manual) instrumentation that can be used by a user without the Java agent to instrument `cats`
  * ~`opentelemetry-cats`~ 🡆 `opentelemetry-instrumentation-cats` (for symmetry, though will create some long names)
* Libra

[2020-09-10 04:46] trask commented on #1186
I'm a little torn between `auto` and `javaagent`.

I agree `auto` is too generic.

On the other hand, `javaagent` is maybe too restrictive. We have already had discussions about re-using the bytecode instrumentation outside of a javaagent (e.g. bootstrapping during `main()` for aws lambda, and compile-time instrumentation for android).

OTOH, it makes sense to name things for their primary use cas

[2020-09-10 05:21] iNikem commented on #1129
I second this question. Why exactly do we need 2 artifacts/packages for auto instrumentation api?

[2020-09-10 05:24] trask commented on #1129
One lives in bootstrap class loader (e.g. so that all instrumentation can access it), one lives in agent class loader (so that it can access bytebuddy, etc).

[2020-09-10 05:24] iNikem commented on #1186
I mostly have the same doubts. `auto` is too generic, but `opentelemetry-javaagent` is a mouthful to me. Also I think that primary use case is auto instrumentation (as in "non-manual"), and javaagent is kinda implementation detail. As demonstrated by our idea of static AOT instrumentation.

Apart from that, the list of names above does make sense.

[2020-09-10 05:31] iNikem commented on #1129
But for whom is this important? I mean, let's assume I am writing my own auto instrumentation or even repackaging the agent. I need to compile my classes and for that I need both auto-api and bytebuddy related classes. But when I package my final distribution, what I essentially do is inserting my new code into existing javaagent-all.jar from Otel. At what time the differences in runtime "packagin

[2020-09-10 05:36] iNikem commented on #1171
I wonder why have I approved #952 and then created this PR... Somehow I sense that this confusion is trying to tell us something

[2020-09-10 05:45] anuraaga commented on #1186
One reason to like javaagent instead of auto is spring-autoconfigure, which doesn't use our "auto instrumentation" modules is also basically auto instrumentation. But anything can be explained in a README too so don't have a strong preference, but a light preference for `javaagent`.

[2020-09-10 05:46] trask commented on #1129
Oh, I see. Yes, from a consumer perspective a single `auto-api` makes sense. We'll need to split that single `auto-api` artifact into two parts when building the javaagent jar, but that seems manageable.

[2020-09-10 06:16] iNikem commented on #1129
Continuing this train of thoughts and thinking about consumers... They probably have different needs during compile and runtime. Do we need to provide them with artifacts which reflect runtime requirements? Like that one about different classloaders. Developers, consumers of our artifacts, don't care about that. Maybe something similar to #482 will be better for them?

[2020-09-10 16:45] trask commented on #1186
Also see https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/overview.md#instrumentation-libraries

[2020-09-11 05:52] trask commented on #1186
Please have a look at this modified proposal:

#### io.opentelemetry.instrumentation

* Library (manual) instrumentation that can be used by a user without the Java agent to instrument `cats`
  * `instrumentation-cats`
* Library (manual) instrumentation API
  * `instrumentation-api`

(prefixing with `instrumentation-` instead of `opentelemetry-` creates nice symmetry/connection between `instrument

[2020-09-11 07:44] iNikem commented on #1186
I am concerned about the absence of `opentelemetry` prefixes on artifacts. E.g. if I have `javaagent-spi.jar` in my classpath, it is hard to understand that it is from OpenTelemetry.

And I read from spec, [e.g. from here](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/library-guidelines.md#protocol-exporters), that spec prefers to have `opentelemetry` pref

[2020-09-11 07:47] anuraaga commented on #1186
Agree with @iNikem - during our call my thought was that we don't need `-instrumentation` in the artifacts since `opentelemetry-` is enough, and `opentelemetry-instrumentation-` is quite long, but I wouldn't drop `opentelemetry` from the artifacts completely.

[2020-09-11 13:10] iNikem commented on #718
Closed in #1122

[2020-09-11 13:10] #718 closed

[2020-09-11 23:51] trask commented on #718
Thanks @FrankSpitulski for the repro!

[2020-09-12 00:32] trask commented on #836
Also see https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/1189/files#diff-63095ccea8f6daf75d79dceb5d680acf and https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/1189/files#diff-e994aad2ae74c3eb305aaaddbdbe0b82

[2020-09-12 04:27] anuraaga opened #1195 "TRACER or tracer()"
We currently have a pattern of using a public static final constant for an instrumentation tracer. We could provide a static method instead

Pros

- More inline with JDK which stopped using the pattern of public constants I believe

- Less all-caps yelling in code

Cons

- Annoying to write an accessor in addition to a private constant. When using enum singleton pattern generally requires an inner

[2020-09-14 02:29] trask commented on #1186
Ya, good points, I agree.

So this?

#### io.opentelemetry.instrumentation

* Library (manual) instrumentation that can be used by a user without the Java agent to instrument `cats`
  * `opentelemetry-cats`
* Library (manual) instrumentation API
  * `opentelemetry-instrumentation-api`

#### io.opentelemetry.javaagent

* Java agent (auto) instrumentation modules, loaded by the Java agent to interac

[2020-09-14 02:34] anuraaga commented on #1186
LGTM

[2020-09-14 09:23] anuraaga commented on #496
If selecting multiple exporters is also the same as this, I might mark it p1. Debugging deployment of OTel is quite hard if not able to enable both otlp and logging exporter at same time

[2020-09-14 10:03] mnottheone commented on #1113
Hi! I tried replicating in standalone, it was working. I simply removed some extra code for JaegerTracer (Jaeger and OpenTracing libs) and  it also started working. Thanks a lot for prompt responses. Closing this issue.

[2020-09-14 10:03] #1113 closed

[2020-09-14 11:12] iNikem commented on #496
Run local Collector with logging exporter? :)

[2020-09-14 11:25] mateuszrzeszutek opened #1196 "Implement MDC auto-instrumentation for log4j2"
The aim of this issue is to implement auto-instrumentation that sets `traceId`, `spanId` and `traceFlags` for each log produced by log4j2. Ideally `OpenTelemetryContextDataProvider` should be used.

[2020-09-14 11:25] mateuszrzeszutek opened #1197 "Implement MDC auto-instrumentation for log4j1"
The aim of this issue is to implement auto-instrumentation that sets `traceId`, `spanId` and `traceFlags` for each log produced by log4j1.

[2020-09-14 12:21] kubawach opened #1198 "AWS instrumentation - DynamoDB statements"
Follow-up for #1181

The main goal is to add statement support for DynamoDB AWS SDK requests.

[2020-09-14 14:37] mateuszrzeszutek opened #1201 "Logback MDC auto-instrumentation gets muzzled and does not work"
I've prepared a simple console app that helps reproduce this issue: https://github.com/mateuszrzeszutek/test-console-app
I tested both 0.8.0 and master branch -- auto-instrumentation does not work on both of them.

When you run it with debug logs you'll see the following message:

[code]

and `traceId`, `spanId` and `traceFlags` won't be added to the MDC.

[2020-09-14 14:41] iNikem commented on #1201
What happens if you remove sfl4j dependency and use the one brought by logback itself?

[2020-09-14 14:48] mateuszrzeszutek commented on #1201
I think it still won't work - it shouldn't really matter which one you compile against as long as you relocate it later (shadowJar task):

[code]

I think it probably needs the same treatment as OTel API -- i.e. prefixing and "unshadowing" packages:

[code]

[2020-09-14 16:25] iNikem commented on #1186
This contradicts #1021, right? Should we close that one? @trask

[2020-09-14 16:27] trask commented on #1021
Closing in favor of #1186

[2020-09-14 16:27] #1021 closed

[2020-09-14 16:32] iNikem commented on #882
Nightly build runs have links (unfortunately not clickable) to all build scans: https://github.com/open-telemetry/opentelemetry-java-instrumentation/actions/runs/253140819

[2020-09-14 16:32] #882 closed

[2020-09-14 16:33] iNikem commented on #819
@trask It seems that this can be closed?

[2020-09-14 16:56] trask commented on #819
👍

[2020-09-14 16:56] #819 closed

[2020-09-15 00:57] #1103 closed

[2020-09-15 00:57] #1138 closed

[2020-09-15 04:39] trask commented on #1201
👍

Another option (because I know @iNikem dislikes this option 😁), is to rework the logback instrumentation a bit to get rid of the `LoggingEventWrapper` class (which is what's pulling in the slf4j Marker dependency).

You could remove `LoggingEventWrapper`, and instead add a field to `ILoggingEvent` implementations in order to store the updated `mdcPropertyMap`:

  @Override
  public Map<String,

[2020-09-15 06:44] anuraaga commented on #496
If it's making it to the collector, it's generally in a pretty good state already :) But logging exporter is the easiest way to see instrumentatoon is working, if some infrastructure issue is causing connection problems to the collector when starting out. Just ran into it yesterday.

[2020-09-15 09:16] anuraaga opened #1205 "Gradle caching action isn't nice to GitHub?"
I see this sort of throttling a lot in our builds

[code]

Presumably such throttling also slows down our builds - perhaps the action is doing too fine-grained requests to GitHub?

[2020-09-15 09:17] anuraaga opened #1206 "Flaky test - :instrumentation:jms-1.1:test"
I've seen this test fail a lot lately - it does get retried but fails every one of them from what I can tell.

https://gradle.com/s/geylzhj6543j2

[2020-09-15 09:35] vlsi commented on #1205
:(

The workaround could be `remote-build-cache-proxy-enabled: false` for `gradle-cache-action`.
That would result in saving full `build-cache` folder contents.

There's `save-local-build-cache: false` option as well.

[2020-09-15 09:57] anuraaga commented on #1205
Thanks for the input! My guess is it's safe to disable the remote cache since we have s3 remote cache anyways (thanks to your great help there too :) ). @iNikem what do you think?

[2020-09-15 10:02] vlsi commented on #1205
s3 would not work that well for PRs.

I guess one more option might be to try "fetch from S3 first" approach (there's no configuration option for that yet :-/ ).

[2020-09-15 13:05] iNikem commented on #1205
But PRs will still be able to reuse task's S3 cache from nightly build, right?

[2020-09-15 13:18] vlsi commented on #1205
That's right. It will reuse S3 cache.

[2020-09-15 14:01] kubawach commented on #1111
Happy to have a look :)

[2020-09-15 14:58] mateuszrzeszutek commented on #1201
Actually now that I think of it shadowing isn't really a viable solution for the manual instrumentation lib: we can't really publish an artifact using shaded slf4j, and it doesn't work in auto instrumentation if it's not shaded. We'd have to copy-paste the whole thing to make it work.

I think that your solution might be the only sensible way to make both manual and auto instrumentation work.

[2020-09-15 21:14] AlexanderMann commented on #1099
See: https://github.com/GoogleCloudPlatform/opentelemetry-operations-java/pull/39

[2020-09-15 21:14] #1099 closed

[2020-09-16 05:58] trask opened #1209 "Smoke test for Logback MDC instrumentation"
The logback instrumentation is fragile (#1201) because logback depends on slf4j which we shade during our build, and our normal tests don't currently catch shading issues.

We are hoping to change how we run tests post-GA, so that they run using a real (and shaded) javaagent, which would catch these issues.

For now though, it maybe worth adding a smoke test to make sure this doesn't accidentally

[2020-09-16 11:31] #1201 closed

[2020-09-16 15:52] anuraaga commented on #1060
Been trying auto instrumentation in a container lately, and was slightly annoyed myself with tracing of health check. Then a customer trying it out independently had the same feedback - it's exactly the kind of input we're hoping for in trials :) So I may actually mark this required for GA, the UX is impacted a lot with having no control of tracing by URL pattern.

[2020-09-17 04:01] github-actions[bot] opened #1212 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-09-17 09:07] #1197 closed

[2020-09-17 09:21] mateuszrzeszutek commented on #1209
Can you assign this one to me?

[2020-09-17 09:37] iNikem opened #1213 "Allow vendor distribution to provide default configuration"
Part of #566

As part of Splunk distribution of OpenTelemetry Java instrumentation we want to provide default values for some configuration options. Currently configuration can be provided in 3 ways:

- Env variable
- System property
- Via configuration file

Vendor distro has to provide default value only if none of the above provides it. As `Config` instance cannot be changed (setting reflection

[2020-09-17 10:19] anuraaga commented on #1213
SPI++

[2020-09-17 16:07] trask commented on #1129
Closing in favor of #1186

[2020-09-17 16:07] #1129 closed

[2020-09-17 16:59] iNikem opened #1216 "Remove support for java 7 from our build scripts"

[2020-09-17 17:02] #1212 closed

[2020-09-17 17:05] iNikem opened #1217 "Replace java 14 with java 15 in CI"
We run tests on all current LTS versions and on the latest version if that differs from LTS. The latest is now 15.

[2020-09-18 01:19] malafeev commented on #1111
reproduced using latest 0.8.0 version, but we wrapping agent in own.

[2020-09-18 04:26] github-actions[bot] opened #1218 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-09-18 07:39] anuraaga commented on #602
Filed spec issue https://github.com/open-telemetry/opentelemetry-specification/issues/968

[2020-09-18 07:48] #1181 closed

[2020-09-18 08:18] github-actions[bot] opened #1220 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-09-18 14:53] #1196 closed

[2020-09-19 03:59] github-actions[bot] opened #1221 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-09-19 06:40] iNikem commented on #1206
I have a strong suspicion that test fails because three separate tests try to run `new EmbeddedActiveMQBroker()`, leading to port conflicts and, potentially, JMX conflicts if run inside one JVM.

The obvious solution hypothesis is to migrate them to testcontainers. But CircleCI does not support them. And we are not ready for #678 because GHA are still too slow. And it is slow, IMO, because we stil

[2020-09-19 06:46] anuraaga commented on #1206
I didn't think #981 is a priority but if it seems significant can take a look at it now. What makes you suspect it affects caching? I thought it should always have the same value and not affect downstream tasks.

[2020-09-19 06:59] iNikem commented on #1206
I tried to debug my local build in order to understand why it does not reuse cached results from nightly build for test tasks. Hashes related to bootstrap jar have kept changing. I am not 100% sure what exactly does not work there, but it is certainly related to bootstrap jar.

Nightly build currently prints a lot of debug info for gradle cache, so it is quite easy to verify.

[2020-09-19 07:05] github-actions[bot] opened #1222 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-09-19 12:26] dengliming opened #1223 "JDBCConnectionUrlParser parse sqlserver IPv6 addresses error"
20:18:29.120 [Test worker] DEBUG io.opentelemetry.instrumentation.auto.api.jdbc.JDBCConnectionUrlParser - Error parsing URL
[code]

reproduce url:
`jdbc:sqlserver://;serverName=3ffe:8311:eeee:f70f:0:5eae:10.203.31.9\instance1;integratedSecurity=true;`
more detail [https://docs.microsoft.com/en-us/sql/connect/jdbc/building-the-connection-url?view=sql-server-ver15](https://docs.microsoft.com/en-us/s

[2020-09-20 03:44] github-actions[bot] opened #1224 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-09-20 15:38] iNikem opened #1225 "Build and publish muzzle check plugin separately"
When trying to run muzzle in parallel in GHA, building projects `buildSrc` takes 2/3 of each task execution. This is total waste of time. Should build it once, publish and consume externally.

[2020-09-20 18:45] trask commented on #772
Closed by #1120

[2020-09-20 18:45] #772 closed

[2020-09-20 19:14] #1218 closed

[2020-09-20 19:14] #1220 closed

[2020-09-20 19:14] #1221 closed

[2020-09-20 19:14] #1222 closed

[2020-09-20 19:14] #1224 closed

[2020-09-21 01:54] anuraaga commented on #1206
Going to look into caching - that said, the build was pretty stable for a while and suddenly started failing every day. Did we make a change that affected the build?

[2020-09-21 02:53] trask commented on #1186
Let's also change package names to match.

One nice thing about this is that everything in the javaagent will be under package `io.opentelemetry.javaagent.`, which will guarantee it won't conflict with any library instrumentation which will be under completely separate package `io.opentelemetry.instrumentation.`

[2020-09-21 04:06] github-actions[bot] opened #1226 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-09-21 11:34] mateuszrzeszutek commented on #1213
Can you assign this ticket to me?

[2020-09-21 13:52] pavolloffay commented on #496
I would like to work on this one

[2020-09-21 16:33] trask commented on #836
Also see https://github.com/cncf/foundation/blob/master/copyright-notices.md#what-about-third-party-code

[2020-09-21 17:15] trask commented on #496
Adding note, shared with @pavolloffay already, let's solve this via [OTEL_EXPORTER env var](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/sdk-environment-variables.md#exporter-selection) (I will rename this issue)

[2020-09-21 20:10] trask commented on #836
And https://github.com/open-telemetry/community/blob/master/CONTRIBUTING.md#copyright-notices

[2020-09-21 20:26] trask opened #1230 "Update env var names on README for next release"
See changes in https://github.com/open-telemetry/opentelemetry-java/pull/1659

[2020-09-22 03:52] github-actions[bot] opened #1232 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-09-22 06:05] trask opened #1233 "Muzzle runtime check optimization"
I don't think we need to create (and check) references in `getInstrumentationMuzzle` for OpenTelemetry API classes, since those are shaded and we know those shaded classes are always available.

Same for classes in `instrumentation-api` and `javaagent-instrumentation-api` (currently named `auto-api`).

Here's an example `getInstrumentationMuzzle` from `io.opentelemetry.instrumentation.auto.apacheh

[2020-09-22 07:37] #1209 closed

[2020-09-22 08:57] #1226 closed

[2020-09-22 08:57] #1232 closed

[2020-09-22 10:37] anuraaga commented on #891
Gradle 6.7 will support automatically downloading Java for running tests, can't wait!

https://docs.gradle.org/6.7-rc-1/userguide/toolchains.html#specify_custom_toolchains_for_individual_tasks

[2020-09-22 11:58] iNikem commented on #891
That's cool :)

[2020-09-22 15:58] jkwatson commented on #1213
Is this something that belongs in the core SDK?

[2020-09-22 17:22] iNikem commented on #1213
I am not sure. With manual instrumentation you can always configure stuff to your liking, no?

[2020-09-22 17:39] jkwatson commented on #1213
For sure. And, I'm happy with this starting in the auto-instrumentation project, and later migrating it to the core SDK if it seems to be more generally useful. Just wanted to make sure we'd thought about it. :)

[2020-09-22 17:52] iNikem commented on #1213
Honestly, I haven't :) But I will tomorrow, when my brain is fresh

[2020-09-22 19:39] trask opened #1237 "Fix unrolled tests with duplicate test names"
e.g.

[code]

similar failure with `netty-4.0`

some other modules seem to work, e.g. `okhttp-3.0`

[2020-09-23 04:00] github-actions[bot] opened #1239 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-09-23 04:38] #1123 closed

[2020-09-23 06:28] trask commented on #536
More
* Doc assertInverse
* Does muzzle fail if an Instrumentation doesn't match anything? E.g. seems it doesn't fail if it doesn't match, see running muzzle against elasticsearch 7 doesn't fail `Elasticsearch6TransportClientInstrumentation` even though `Action` class doesn't exist anymore

[2020-09-23 08:06] pavolloffay commented on #1086
I have started looking into this.

Since the client read and server write interceptors are invoked after the filters we will have to create new spans in the interceptors.

Do we want to make the interceptor spans optional? If so how is this be handled? By using a different instrumentation name `io.opentelemetry.auto.jaxrs-client.interceptor-2.0`?

[2020-09-23 09:29] pavolloffay opened #1241 "Add instructions on how to debug agent"
I could not find any instructions on how to debug the agent with a running application.

By running the following code I was able to debug the app, but the breakpoints in the agent were never triggered e.g. in `TracerInstaller`.

[code]

[2020-09-23 10:09] pavolloffay commented on #385
p8s support pushing metrics https://github.com/prometheus/client_java#exporting-to-a-pushgateway. Do we want to go this route or expose p8s metrics on some port?

I guess this is already solved right? With https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/1242 I was able to use `otlp,jaeger` to export traces.

[2020-09-23 11:51] mateuszrzeszutek commented on #1233
I think that we can do a smaller change first and see how the generated code changes.
Currently, for each field access & method call in a method body `ReferenceCreator` adds a `Source` to both the type reference and the field/method reference -- e.g. for method call visitor:

[code]

If we just remove this `.withSource(refSourceClassName, currentLineNumber)` for both methods & fields the `getInstr

[2020-09-23 12:27] pavolloffay commented on #385
I have created an issue for this https://github.com/open-telemetry/opentelemetry-java/issues/1687

[2020-09-23 12:29] pavolloffay opened #1245 "Log exporter should log traceId"
Log exporter is logging only spanIds at the moment https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/912a159c19822b17ef5d1d356900d05d3d3f790a/javaagent-exporters/logging/src/main/java/io/opentelemetry/javaagent/exporters/logging/LoggingExporter.java#L36.

It should also log traceId to allow log correlation.

[2020-09-23 12:40] #1216 closed

[2020-09-23 17:07] trask commented on #465
Just adding a note to remember about database CLIENT spans that make http (CLIENT) calls

[2020-09-23 20:24] bogdandrutu commented on #385
Prometheus people always recommend to use the pull model.

[2020-09-23 20:39] #1245 closed

[2020-09-23 22:03] trask commented on #385
Based on @bogdandrutu's comment, let's expose on a port, would be great to add env var(s) to a new "Prometheus Exporter" section in the spec after https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/sdk-environment-variables.md#zipkin-exporter.

Maybe something like `OTEL_EXPORTER_PROMETHEUS_BIND_PORT`(?) with no default, and `OTEL_EXPORTER_PROMETHEUS_BIND_ADDRE

[2020-09-23 22:03] #1239 closed

[2020-09-23 22:17] #496 closed

[2020-09-24 05:35] trask commented on #1233
Yeah, we will lose a bit of debug info, but I wonder how useful that particular debug info is. Once we know what class is missing (and we know which instrumentation it's missing for), it's not hard to search that instrumentation to find the source(s) where it's used from if we want that info.

[2020-09-24 06:07] trask commented on #895
Oh! I think this was fixed by #1177, just need to re-test.

[2020-09-24 06:13] trask commented on #714
Closed by #1229

[2020-09-24 06:13] #714 closed

[2020-09-24 06:16] trask commented on #446
Closing, I noticed the netty instrumentation tests use AsyncHttpClient to verify the netty instrumentation 👍

[2020-09-24 06:16] #446 closed

[2020-09-24 06:32] trask commented on #1241
Hey @pavolloffay!

IIRC the debugger isn't attached in time for premain stuff, e.g. javaagent initialization like `TracerInstaller`.

The other issue to watch out for with debugging is that breakpoints won't work inside of `@Advice.OnMethodEnter` and `@Advice.OnMethodExit` methods, because those methods are inlined by bytebuddy into the instrumented methods.

[2020-09-24 06:56] iNikem commented on #1213
At last I had chance to think about it and yes, let us do it in instrumentation repo now.

[2020-09-24 06:57] pavolloffay commented on #1060
I have started looking into this.

Is there a proposed design for this? In OpenTracing this was an instrumentation feature. The instrumentation check if the URL matches exclude pattern if yes then the span wasn't created. However if the excluded URL uses another instrumentation (or makes downstream call) that would create a span.  The question is whether we want to exclude just specific URLs or th

[2020-09-24 07:22] iNikem commented on #1060
Yes, we have a proposal right in the task's description:

Any hint to where this would be architecturally appropriately implemented is highly appreciated.
Maybe in the HttpServerTracer?

This should lead to ignoring the whole subtree starting from that `SERVER` span.

[2020-09-24 07:31] iNikem opened #1249 "Document traceId/spanId injection into logs"
Document functionality added by #1200 and other relevant PRs

[2020-09-24 08:21] malafeev opened #1250 "Add support for otlp_span and otlp_metric values of OTEL_EXPORTER"
as defined in https://github.com/open-telemetry/opentelemetry-specification/blob/2088381f57004be1de4fa16e0c2adeea04cf2ce2/specification/sdk-environment-variables.md#exporter-selection

[2020-09-24 08:22] pavolloffay commented on #1060
+1 I think that is the right way to go https://github.com/open-telemetry/opentelemetry-specification/issues/173#issuecomment-698190021. It would also make sense to have a consolidated config property for this.

@iNikem what is the API to create non-recording span? In OT there was  `sampling.priority=bool` tag that could be applied on the span builder https://github.com/opentracing/specification/bl

[2020-09-24 08:33] iNikem commented on #1060
I think the right way is to use one of the factory methods on `io.opentelemetry.trace.DefaultSpan`.

[2020-09-24 08:33] pavolloffay commented on #1241
Is there anything we can do about this?

I can at least document this in the contributing docs.

[2020-09-24 08:34] pavolloffay commented on #1060
Yeah, I wanted to avoid having two paths of span creation.

[2020-09-24 08:41] pavolloffay commented on #1217
@iNikem could you please point me to the java 14 CI settings?

[2020-09-24 12:17] anuraaga commented on #1060
Sorry if double-spam, I thought I had already posted this. How about we have a special `Sampler` itself configured that delegates to the default, except for when the path matches the allow list, then it's `ParentOnly`? It means we need to refactor to make sure our tracers set attributes on `Span.Builder` instead of `Span` - a little annoying but we should have been doing that already so maybe good

[2020-09-24 12:18] anuraaga commented on #1060
Note that `DefaultSpan` might get renamed to something that would be naming-wise not a good fit with what we want to do here https://github.com/open-telemetry/opentelemetry-specification/pull/994#pullrequestreview-495461768

[2020-09-24 12:27] #1217 closed

[2020-09-24 12:31] iNikem commented on #1060
Yes, we want to do that eventually.

[2020-09-24 12:35] anuraaga commented on #1241
#482 may be related - while it might not help with `TracerInstaller` it can let the actual instrumentation code be debugged which still helps a lot.

[2020-09-24 15:54] pavolloffay opened #1255 "Enable akka tests on java 15"
Akka tests are disabled on Java 15
https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/1252/files#diff-793c2e4a3f78007cc8b9d78a850e8d58R6

They should be enabled once scala/akka supports java 15  https://docs.scala-lang.org/overviews/jdk-compatibility/overview.html

[2020-09-25 00:14] #1250 closed

[2020-09-25 04:06] github-actions[bot] opened #1256 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-09-25 18:15] trask opened #1258 "Build failing because opentelemetry-java SNAPSHOTs are being pruned from https://oss.jfrog.org/artifactory/oss-snapshot-local"
This is happening again (see #1102 for background).

I will fix tomorrow (or hopefully today if I can get to it).

[2020-09-25 19:12] genebean opened #1259 "Add AWS resource detectors to java agent"
It seems these exist but are not bundled into the agent.

[2020-09-25 19:14] jamesylgan opened #1260 "Should instrumentation version for instrumentations be changed to something more descriptive?"
What is the motivation behind including the instrumentation version [here](
https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/8ed4ef55c87c8259434dac15531030a2f32667f8/instrumentation/apache-httpclient/apache-httpclient-4.0/src/main/java/io/opentelemetry/instrumentation/auto/apachehttpclient/v4_0/ApacheHttpClientTracer.java#L78)?

Perhaps naively, I feel that providing the v

[2020-09-25 20:51] trask commented on #1260
Yeah, this does seem like it will cause confusion.

There isn't too much reasoning behind the current naming other than it matches the instrumentation module name (in this case `apache-httpclient-4.0`), so people can tell which instrumentation module produced the span.

[2020-09-25 22:04] jamesylgan commented on #1260
That's sort of what I figured - would definitely propose changing it (pretty simply) from `<instrumentation_version>` to `<instrumentation_version>+`. I think that would help clarify things

[2020-09-26 03:30] github-actions[bot] opened #1261 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-09-26 05:42] anuraaga commented on #1259
For reference, we're bundling these in the (future) AWS distribution of the agent

https://github.com/anuraaga/aws-opentelemetry-java-instrumentation

It could make sense to package them into the agent, though maybe packaging every single resource detection mechanism is too much? In theory, we could have all the resources implemented in the collector in the agent too but then it'd get really bloat

[2020-09-26 13:26] genebean commented on #1259
I can absolutely see the appeal of both sides. The repackaging is a good idea so long as those variations are referenced from the main project so that they are easy to discover by users

[2020-09-26 16:53] pavolloffay commented on #385
PR for the spec https://github.com/open-telemetry/opentelemetry-specification/pull/1021

[2020-09-26 17:41] pavolloffay commented on #482
@anuraaga I am able to use breakpoint in the instrumentation classes e.g. `Servlet3HttpServerTracer`  by running `java -javaagent:opentelemetry-javaagent-<version>-all.jar -jar -agentlib:jdwp="transport=dt_socket,server=y,suspend=y,address=5000" app.jar`

[2020-09-26 18:17] pavolloffay commented on #1101
I think this can be closed. See https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/master/README.md

[2020-09-26 18:30] paull25 opened #1264 "Monitoring Windows Server with Prometheus"
Hi All,

I am new here so please bear with me if I posted in a wrong place.

Currently I am using windows_exporter to expose metrics from a windows server target. I just want to ask if I can scrape metrics (CPU, RAM, DISK, SERVICES) from multiple windows servers target without installing the exporter? or can I scrape metrics using a single windows_exporter probe - basically the idea is to have a s

[2020-09-26 18:55] #1264 closed

[2020-09-26 19:23] #1101 closed

[2020-09-26 20:36] trask opened #1265 "Reduce calls to Context.current()"
Currently, we typically do something like:
[code]
This ends up looking up `Context.current()` twice.

It would be (ever so slightly) faster, and more explicit about context management, to do something like:
[code]

[2020-09-27 00:06] trask commented on #536
Doc `printReferences` task, e.g.
[code]

[2020-09-27 00:17] trask commented on #536
Youtube clip from SIG meeting describing muzzle, maybe worth referencing(?)

https://www.youtube.com/watch?v=2iL91CwfxCo&feature=youtu.be&t=2682

[2020-09-27 03:29] github-actions[bot] opened #1268 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-09-27 03:44] #1258 closed

[2020-09-27 04:57] iNikem commented on #1260
E.g. we have instrumentation `jedis-1.4` and `jedis-3.0`. Where effectively first one is for versions 1.4-3.0. Having `1.4+` for it still may be confusing, because it seems to be unbounded.

I think it is better to remove those versions from `InstrumentationName` completely.

[2020-09-27 05:23] jamesylgan commented on #1260
That may break some things @iNikem :)

It could be split into `InstrumentationVersion` and `InstrumentationName` though

[2020-09-27 05:43] trask commented on #1260
Curious what you are thinking of that may break?

I think `InstrumentationVersion` is supposed to be the version of the instrumentation, e.g. `0.8.0`, and get bumped with each new release of the instrumentation.

[2020-09-27 06:40] jamesylgan commented on #1260
https://github.com/signalfx/splunk-otel-java/blob/main/custom/src/main/java/com/splunk/opentelemetry/InstrumentationLibrarySpanProcessor.java#L44

Some of @iNikem's code

[2020-09-27 07:14] github-actions[bot] opened #1269 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-09-27 13:46] iNikem commented on #1260
I think there is some misunderstanding :)

Current situation:
[code]
I propose to change to
[code]

Nothing will break :)

[2020-09-27 13:51] iNikem commented on #1265
But this again increases the API surface

[2020-09-27 13:52] iNikem commented on #1265
Can you remind me, why do you prefer explicit and separate scope management by default?

[2020-09-27 17:09] jamesylgan commented on #1260
Sounds good to me!

[2020-09-27 19:31] trask commented on #1265
ya, this would be a good reason not to do this

because when it's not explicit, context management borderlines on magical, and it's easy to forget what's really happening

E.g. when I see this code:

[code]

I keep thinking that `startSpan` captures the current context as part of the span, and then `startScope` uses the context that was captured by the span

[2020-09-27 19:52] #1241 closed

[2020-09-27 19:55] trask commented on #1256
Closed by #1266

[2020-09-27 19:55] #1256 closed

[2020-09-27 19:55] trask commented on #1261
Closed by #1266

[2020-09-27 19:55] #1261 closed

[2020-09-27 19:56] trask commented on #1268
Closed by #1266

[2020-09-27 19:56] #1268 closed

[2020-09-27 19:57] trask commented on #1269
Sporadic failure, tracked by #1206

[2020-09-27 19:57] #1269 closed

[2020-09-27 20:19] trask commented on #1259
I don't think we're supposed to reference vendor distributions from this project.

We could generically document that vendor distributions exist, and mention they may support additional resource detectors, and point to https://opentelemetry.io/registry/, with some kind of search criteria built into query string.

I do think we have the option to include additional resource detectors in the distrib

[2020-09-27 20:34] genebean commented on #1259
I would assume that if vendor detectors were built into alternate packages that those packages would also live in this namespace.

I agree that, size permitting, including them here does make sense. FWIW, ruby includes them as do a few other languages.

[2020-09-28 04:07] github-actions[bot] opened #1271 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-09-28 05:12] iNikem commented on #1259
Seems like `https://start.opentelemetry.io` to me ;)

[2020-09-28 05:21] anuraaga commented on #1259
Yeah, the Java SDK also publishes a maven artifact for them as an extension similar to this. I think bundling into the agent is a more tricky decision since it's forced into the published artifact rather than being chosen by the user.

For context, one of the reasons the AWS resource detectors for Java aren't huge is I removed their usage of the AWS SDK, otherwise they'd be megabytes :) They still

[2020-09-28 07:40] pavolloffay opened #1273 "Change TracerCustomizer to OpenTemenetrySdkCustomizer"
Java agent SPI has the following class. Since the tracer is not the only object exposed by the OTEL API, we should consider changing it to the `OpenTelemetrySdkCustomizer` with `void configure(OpenTelemetrySdk sdk);`

[code]

[2020-09-28 10:25] pavolloffay opened #1274 "Muzzle not working for opentelemetry-api-beta"
I got the following exception when the app code created a tracer. The agent is using OTel API 0.9.0-SNAPSHOT and the app   0.8.0.

The app didn't crash only the exception was logged. Did the Muzzle prevent the crash? There is no Muzzle mentioned in the logs. So either muzzle was not configured correctly or it could print more understandable output.

[code]

[code]

[2020-09-28 10:49] anuraaga commented on #1265
Also while increasing thread local lookup from 1 to 2 is basically nothing, one thing to keep in mind is 100 to 200 becomes significant - I heard a lot of work was needed on Sleuth to reduce context mounting due to the overhead of thread local and remounting on every op in a reactive stream. This was because user apps were getting affected, not just theory.

That doesn't mean all of our usage will

[2020-09-28 13:15] iNikem opened #1276 "One more strange context leak"
I have created the simplest Spring Boot application which has one `RestController`:

[code]
And ran this application with Otel java agent 0.8.0. Then I ran `ab -c 4 -n 4 localhost:8080/cheddar`, which makes 4 requests to this endpoint.

I got the following output:
[code]

Meaning that during 3 requests my controller code saw one and the same trace/span, which must not happen. What makes this bug e

[2020-09-28 14:34] gabrielthunig commented on #758
Hi.
I am facing the same problem in my setup with a spring-cloud-starter-gateway (Netty 4.1.49).
@trask May i ask why the issue was downgraded in priority and if there is any further information to it right now?
Thanks in advance.

[2020-09-28 14:43] mateuszrzeszutek opened #1277 "Remove instrumentation (and tooling) specific properties from Config"
The aim of this issue is to clean up `Config` by removing all property fields and getters that are used by specific instrumentation - or by the `java-tooling` module (as they shouldn't be exposed to the API). Also, we should include a recommendation to store the result of `Config.get().getProperty()` in a (static?) field if it's going to be used after the agent initialization.

See comments:
* htt

[2020-09-28 14:43] mateuszrzeszutek commented on #1277
Can anybody assign this to me? (unfortunately I can't do it)
Thanks!

[2020-09-28 15:55] iNikem opened #1278 "Implement db.mongodb.collection semantic attribute"
It is [required by specification](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/semantic_conventions/database.md#call-level-attributes-for-specific-technologies).

[2020-09-29 02:55] trask opened #1279 "Log a clear warning if application uses TracerSdkProvider or MetricSdkProvider"
We do not instrument `TracerSdkProvider` because it provides methods that we do not interoperate with, e.g. `updateActiveTraceConfig` and `addSpanProcessor`.

So when users use `OpenTelemetrySdk.getTracerProvider()` we don't capture any spans.

Same for `MetricSdkProvider`.

We should probably log a clear warning (just once) if an application uses one of these classes.

If we find that this is an

[2020-09-29 03:45] trask opened #1281 "Is OTEL_EXPORTER=otlp,prometheus an invalid configuration that we should prevent?"
My understanding is:

* With OTLP metric exporter, we use an `IntervalMetricReader` which will call `collectAllMetrics` every 60 seconds
* With prometheus collector, it will call `collectAllMetrics` any time prometheus hits the url to scrape metrics
* Each time `collectAllMetrics` is called it resets itself, which will lead to conflict between these two approaces

[2020-09-29 03:53] github-actions[bot] opened #1282 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-09-29 03:59] trask commented on #1274
The problem here is that all the OTel API instrumentation share a super class with a single definition of `helperClassNames`, but they each get their own muzzle matcher generated.

Ideally they would all share a muzzle matcher, because we want all or none of the OTel API instrumentation to be muzzled.

If they all shared a (unioned) muzzle matcher, then `GrpcContextInstrumentation` would have been

[2020-09-29 04:22] trask commented on #1279
Oh! I just saw https://github.com/open-telemetry/opentelemetry-java/pull/1723, which will make this irrelevant! cc: @jkwatson

[2020-09-29 06:50] pavolloffay opened #1283 "Rename buildSrc to muzzle-gradle-plugin"
If the `buildSrc` contains only the Muzzle gradle plugin we should rename it to `muzzle-gradle-plugin`.

[2020-09-29 06:53] iNikem commented on #1283
`buildSrc` is a [pre-defined folder name for Gradle](https://docs.gradle.org/current/userguide/organizing_gradle_projects.html#sec:build_sources). I think what we actually want to do is #1225

[2020-09-29 07:05] pavolloffay commented on #1283
+1 then we are stuck with `buildSrc` I am closing this one then.

[2020-09-29 07:05] #1283 closed

[2020-09-29 07:11] pavolloffay commented on #1274
@trask any hints how to solve this?

[2020-09-29 08:43] neboduus commented on #1099
Hi everyone, is there any guide whch could help me in implementing Tracing using Open-Telemetry and Google Trace? I see there is this exporter available, but I should use a JAR right? Can you please give me some advises about how to do that?Thanks

[2020-09-29 09:06] pavolloffay commented on #1273
Actually the `TracerSdkProvider` has only static accessors so the proposed interface is not doable.

[2020-09-29 13:29] snicoll opened #1285 "Tweak naming of spring instrumentation modules"
Please consider renaming the `spring-boot-autoconfigure` module, something that starts with `opentelemetry` looks more sensible to me.

There is also section in the documentation that [describe naming for third party starters](https://docs.spring.io/spring-boot/docs/current/reference/htmlsingle/#boot-features-custom-starter-naming)

[2020-09-29 16:36] trask commented on #1281
More concretely, I think that we should only support one of these two configurations:

* A single `MetricProducerCustomizer` + zero `MetricExporterFactory`, or
* Zero `MetricProducerCustomizer` + any number of `MetricExporterFactory` (whose exporters we wrap in a single `IntervalMetricReader`)

[2020-09-29 16:38] trask opened #1287 "Reduce magic of selecting SpanExporterFactory and friends"
See https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/1253#discussion_r494221024 and https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/1262#discussion_r496878453 (and I think it was brought up once before that too 😄)

[2020-09-29 17:02] trask opened #1288 "Rename MuzzleGradlePlugin to MuzzleByteBuddyPlugin"
The current name is misleading, see https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/1270#discussion_r495717382

[2020-09-29 22:02] #1213 closed

[2020-09-30 01:06] anuraaga commented on #1287
My suggestion before was to have a hard-coded map of well-known exporters (what's in spec) and use fully-qualified class name for non-well-known exporters. This is mainly to prevent having collisions of names between two exporters - but maybe UX for a custom exporter like stackdriver isn't very good with it so defining the name as an API seems ok too.

[2020-09-30 04:25] iNikem opened #1290 "Document all exposed SPI"

[2020-09-30 04:28] anuraaga commented on #1285
Thanks for checking in @snicoll - we publish artifacts always prefixed with `opentelemetry-`, as in here

https://oss.jfrog.org/libs-snapshot/io/opentelemetry/instrumentation/

Is this ok for following those conventions?

[2020-09-30 06:55] iNikem commented on #1287
We have to prevent a situation when some external exporter claims to have a name of some built-in one.

[2020-09-30 07:05] snicoll commented on #1285
@anuraaga thanks for the quick feedback and sorry I overlooked the prefix in the build. I am still learning Gradle and this part is counter intuitive to my Maven background :) Perhaps if the directory name matched the published  `artifactId` that would be more obvious?

To answer your question, an `opentelemetry-` prefix is exactly what I would except so that's perfect.

Looking at your link, I've

[2020-09-30 07:20] iNikem commented on #1285
I think have single artifact does make sense.

[2020-09-30 07:21] iNikem commented on #1285
Just to be sure, @snicoll, as we publish current artifacts with `opentelemetry-` prefix already, does this issue still looks like P1 bug to you, or we are back to "enhancement"? :)

[2020-09-30 07:27] snicoll commented on #1285
I didn't add the `P1` or `bug` thing so I don't have an opinion about that. I confirm that having an `opentelemtry`prefix in the published artifact resolves my primary concern. We could also close this one and open individual issues for renaming the folder name and the single artifact if that's any easier.

Regarding the latter, I should also add that Spring Framework `3.x` is EOLed since Dec 2016

[2020-09-30 07:34] anuraaga commented on #1285
I marked it as P1 since we should make sure we get the artifact name correct for GA if it's just an easy rename - don't see any need to separate out issues, I just renamed this one. Definitely sounds like we should rename to `spring-boot-starter` at the least. Merging seems to make sense too, since users usually have the mental model of "spring 4", not so much individual components, at least from

[2020-09-30 08:54] zoercai commented on #1099
Hi @neboduus, https://github.com/GoogleCloudPlatform/opentelemetry-operations-java/tree/master/exporters/trace contains instructions on sending traces to Google Cloud Trace with OpenTelemetry, and [here is an simple example project](https://github.com/GoogleCloudPlatform/opentelemetry-operations-java/tree/master/examples/trace. Hope that helps!

[2020-09-30 08:57] neboduus commented on #1099
@zoercai  Thanks a lot for the reply. But, is this working also for Scala?

[2020-09-30 09:23] mateuszrzeszutek opened #1292 "Refactor/rewrite KafkaClientTest to avoid changing configuration in runtime"
The aim of this task is refactoring of `KafkaClientTest` so that it does not change the `"otel.kafka.client.propagation.enabled"` during the test scenario -- or not at all. This will make it possible to store the value of this property in a static final constant (see `KafkaClientConfiguration`) and retrieve it only once.

See: https://github.com/open-telemetry/opentelemetry-java-instrumentation/pu

[2020-09-30 14:27] #1271 closed

[2020-09-30 14:27] #1282 closed

[2020-09-30 14:59] genebean commented on #1111
I assume this is the same thing... my logs are being spammed with this coming from all 4 services I have using the java agent:

[code]

This is a rather big issue for me due to the amount of spam it is adding to my system logs... hoping there is either a bug fix or some kind of workaround.

[2020-09-30 18:27] #1277 closed

[2020-10-01 00:12] atoulme opened #1293 "Publish the full agent jar to Maven"
I would like to use this agent as part of a Gradle application.

I have for now used a workaround by downloading the jar as a Gradle task, and made it available to the dependencies so it gets loaded up.
See https://github.com/hyperledger/besu/pull/1410/files#diff-c197962302397baf3a4cc36463dce5eaR523

[2020-10-01 03:53] anuraaga opened #1294 "Agent adds large amount of native RAM to app"
@wangzl is looking at memory usage of the Java agent. One interesting thing we found is that enabling the agent for a toy main function causes process memory to go up by 100MB, while heap size doesn't go up. That isn't what I would expect.

@wangzl is it possible to add the code for your function here and startup commands, etc?

[2020-10-01 04:17] github-actions[bot] opened #1295 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-10-01 04:31] trask commented on #1287
I thought `OTEL_EXPORTER` only applies to built-in exporters?

I was imagining vendor distributions would just have their one exporter hard-coded (no need for `OTEL_EXPORTER`).

And external exporter jar files are specified using `OTEL_EXPORTER_JAR`.

[2020-10-01 05:02] trask commented on #1273
Hey @pavolloffay I'm not following, it seems good to me.

I think it will be even nicer using `TracerSdkManagement` once that is split out from `TracerSdkProvider` in https://github.com/open-telemetry/opentelemetry-java/pull/1723 cc: @jkwatson 👍

[2020-10-01 05:22] wangzlei commented on #1294
App code is pretty simple, sends http request in while loop.
[code]

1. Launch app without auto instrumentation, memory usage is 48M
[code]

2. Launch app with auto instrumentation
[code]

If don't set Xmx limit, the memory usage of auto instrumentation would be over 180MB, far larger than no auto instrumentation.

[2020-10-01 12:35] iNikem commented on #1287
Don't think about 1 exporter, think about 3 exporters: for traces, metrics and (in the future) logs. Vendor can hard-code some of them, external jar can contain some of them and some may be built-in.

[2020-10-01 20:03] FrankSpitulski opened #1298 "Additional tags for cassandra 4"
Is there any interest in having the db host dc and id, query page size, query consistency level, query idempotence, query speculative execution count, or the query parameter values for bound statements with the option to opt-in/out of that last one?

[2020-10-01 22:12] trask opened #1299 "Add context root to the front of the route in the span name"
Currently if you deploy a war file with context root "test", we will capture a span name similar to

[code]

but I think we should capture

[code]

[2020-10-02 00:23] zoercai commented on #1099
We haven't tested this for Scala, and I don't have any experience with Scala nor Play. I did ask someone who has experience with Scala to take a quick look and he said it should work just like the example unless you wanted "automatic" tracing from Play. Do you want to try it out and let us know if you come across any issues?

[2020-10-02 00:49] atoulme commented on #1293
It looks like the jar is published to bintray, so I'm using this for now. Any chance to get this on Maven Central?

[2020-10-02 01:21] bogdandrutu opened #1300 "Allow users to configure a brave based SDK with auto-instrumentation"
Once https://github.com/open-telemetry/opentelemetry-java/issues/1735 is done, auto-instrumentation should support configuring the brave "sdk" implementation as one of the possible implementation of our API. Users will be able to choose between our SDK or brave base SDK.

[2020-10-02 02:38] anuraaga commented on #1294
Ah I realized this must mostly be the span exporter taking up RAM. We use grpc-netty, and netty by default preallocates a lot of native memory

https://github.com/netty/netty/blob/4.1/buffer/src/main/java/io/netty/buffer/PooledByteBufAllocator.java

I wonder if it changes by specifying `-Dio.netty.allocator.type=unpooled`

https://github.com/netty/netty/blob/4.1/buffer/src/main/java/io/netty/buffe

[2020-10-02 04:04] github-actions[bot] opened #1301 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-10-02 04:12] trask commented on #1293
Hey @atoulme! We are planning to publish to maven central soon(ish).

[2020-10-02 07:07] wangzlei commented on #1294
Adding `-Dio.netty.allocator.type=unpooled` does not decrease the memory usage. I found the non-heap memory increases a lot when using instrumentation, non-heap used memory keeps over 60 MB comparing with 30 MB in no instrumentation.

[2020-10-02 07:08] imavroukakis commented on #690
Hello 👋 may I work on this?

[2020-10-02 07:53] anuraaga commented on #690
@imavroukakis Sure thanks for the help!

[2020-10-02 08:19] imavroukakis commented on #690
Hey @anuraaga a heads up, your style configurations URL seems to be broken or not publicly accessible
![image](https://user-images.githubusercontent.com/1764981/94902566-4c7d1680-0490-11eb-85ad-f3a276e07238.png)

[2020-10-02 09:27] anuraaga opened #1303 "Shading of opentelemetry-api fragile"
Currently, we have many packages hard-coded in our configs for shading opentelemetry-api. If packages are added or renamed, many times our tests will fail mysteriously. This isn't great but it's not the end of the world. However, I worry that it is possible there is a change that requires updating the shading that won't trigger a test failure. It'd be nice if the shading could be done more automat

[2020-10-02 10:04] iNikem opened #1306 ":instrumentation-api:test fail"
After recent changes in how `Config` works I started to get test failures locally. E.g. for `NetPeerUtilsTest`:

[code]

There are 3 tests in `instrumentation-api` module which all set one and the same system property to different values. It seems that during parallel/concurrent test invocation they step on each others toes. Interestingly enough, they seem to work in our CI, probably due to differ

[2020-10-02 14:18] iNikem commented on #1298
If, as a Cassandra user, you think this data would benefit you, then certainly :)

I am not sure about this. It may be a useful option, but ideally we should be prepared for similar functionality for other databases. It is not just a local change for me.

[2020-10-02 17:07] FrankSpitulski commented on #1298
Definitely useful. I'll submit a PR for the non query parameter logging changes and maybe a second for the logging if it makes sense.

[2020-10-02 18:15] tylerbenson opened #1311 "Instrumentation for Java NIO"
We instrument many frameworks at a higher level, but we don't directly handle NIO.  This might help bridge some gaps in trace propagation.

See here for nice examples: https://www.baeldung.com/java-nio-selector

[2020-10-02 18:24] trask commented on #1299
@iNikem you don't think this is a bug / violation of the span name spec? Context root seems like an important part of the route.

[2020-10-02 18:32] iNikem commented on #1299
I don't have strong opinion about that. IMO spec is vague about that.

[2020-10-02 18:55] #1295 closed

[2020-10-02 19:06] iNikem opened #1312 "Netty instrumentation bug."
I found a new way to break our Netty instrumentation: https://github.com/open-telemetry/opentelemetry-java-instrumentation/compare/master...iNikem:netty-bug?expand=1

The core of the issue is `io.opentelemetry.instrumentation.auto.netty.v4_1.NettyChannelPipelineInstrumentation.ChannelPipelineConnectAdvice`. It stores the context, which was active during Netty channel connect, to the channel. This

[2020-10-02 19:16] iNikem commented on #1312
I think #758 is the same problem

[2020-10-02 20:11] asarkar opened #1313 "How to trace gRPC calls and log them?"
I'm looking for a way to trace gRPC calls in a Kotlin + Spring Boot application, and for time being, only interested in finding the logs by a trace id. I started with Spring Cloud Sleuth, but immediately hit the bug https://github.com/spring-cloud/spring-cloud-sleuth/issues/1749.

gRPC has OOTB support for OpenCensus, so, for a new project, I'm inclined to use OpenTelemetry if possible. However, m

[2020-10-03 00:59] FrankSpitulski commented on #1298
I pushed up a PR with the changes excluding the query parameter value tracing. I wasn't able to test against master due to oss.jfrog.org being down, but the code is still pretty close to what I expect will be final, excluding tests. Please let me know what you think @iNikem.

WRT the query parameter value tracing can you go into more detail about what not being a local change means? You're saying

[2020-10-03 01:46] anuraaga commented on #1313
Hi @asarkar - unfortunately our current instrumentation for gRPC relies on using the javaagent. We are in the process of splitting out library instrumentation, which can be used without the agent, and gRPC is next on the list. We would essentially provide you a library with a `ServerInterceptor` and `ClientInterceptor` implementation you register on a `ServerBuilder` or `ManagedChannelBuilder`.

I

[2020-10-03 01:48] anuraaga commented on #1311
@tylerbenson I know with Netty it's possible to use tcnative to directly call epoll, bypassing NIO. Do you think this might limit the impact if we do instrument NIO?

[2020-10-03 01:54] anuraaga opened #1315 "Extract exporter setup to an artifact, or move to SDK"
I think using instrumentation without the javaagent is currently too complicated. `OpenTelemetrySdk.addSpanProcessor(BatchSpanProcessor.readFromStuff(OtlpGrpcSpanExporter.readFromStuff` is a mouthful, and additional work for setting up propagators on top often. We have logic in our agent that does this automatically, but I don't see why we can't either

a) Provide a function in an artifact, `OpenT

[2020-10-03 02:30] asarkar commented on #1313
@anuraaga
I can’t really wait for the changes you described, so meanwhile, I’ll extract the gRPC instrumentation in a library myself, and submit a PR. I’m very familiar with Spring Boot, so it should not be a problem for me to create a gRPC autoconfiguration by copy-pasting some of the javaagent code. I’ll ask questions if I get stuck in the process, but otherwise, expect to see something in the n

[2020-10-03 02:45] anuraaga commented on #1313
@asarkar Thanks for interest in helping! The first step isn't related to Spring actually, we first need to extract out just gRPC library instrumentation without any autoconfiguration, from the agent code here

https://github.com/open-telemetry/opentelemetry-java-instrumentation/tree/master/instrumentation/grpc-1.5/src/main/java/io/opentelemetry/instrumentation/auto/grpc

It's splitting out the Int

[2020-10-03 02:55] asarkar commented on #1313
Early next week is fine, given my current knowledge and time, I’ll not be able to make it any sooner. If you start something, I’ll be happy to help.
As for logging,  what I really meant is any Logback Appender. If you’re looking at SLF4J, you could support any underlying implementation.

[2020-10-03 03:03] asarkar commented on #1313
BTW, after looking at the armeria project, IMO, the `auto` and the `library` could be renamed to `spring-boot-autoconfiguration` and `core`, respectively.

[2020-10-03 17:14] trask commented on #1298
hey @FrankSpitulski, sorry missed this issue yesterday, commented on your PR https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/1314#issuecomment-703134133.

wrt query parameters, this option would ideally apply across all of our database instrumentation (e.g. jdbc, redis, mongo, etc). I think this is what @iNikem means by it not being only a "local change/decision". though

[2020-10-03 17:20] trask commented on #1315
@anuraaga did u mean to open this in opentelemetry-java?

[2020-10-03 17:45] trask commented on #1303
Ya, adding smoke test coverage for the OpenTelemetry API instrumentation would help me sleep better 😂

[2020-10-03 18:43] pavolloffay commented on #778
I can work on this, but first I would like to clarify what would be the best approach.

Would each instrumentation define SPI to get its tracer or just an SPI to load the BaseTracer? Ideally the tracer subclasses should access typed request/response objects.

[2020-10-03 19:03] trask commented on #778
Great!

My first thought would be SPI lookup for each tracer, e.g. `io.opentelemetry.instrumentation.auto.grpc.server.GrpcServerTracer`, to see if there's a subclass available to use instead.

It's a bit odd to use SPI lookup for a (non-abstract) class though.

And a complication is that we'll need to inject the subclass as a "helper class", and any other classes that it brings along with it (e.g.

[2020-10-03 19:35] pavolloffay commented on #778
Yes I wanted to avoid doing this, but I cannot think of a better approach. So we will define an SPI for all tracer classes. We can add support gradually, one by one.

[2020-10-03 19:43] trask commented on #778
Oh, there's a second proposal above that wasn't clear. E.g. create a single SPI interface something like:

[code]

And use ServiceLoader to load as many of these as are present during agent init and build a map keyed on tracer class name.

And add a method to instrumentation api, e.g.:

[code]

that will check for one of these custom tracers and first, inject the helper classes, and instantiate an

[2020-10-03 19:47] pavolloffay commented on #778
I get it now, do you think there can be any perf overhead at agent start time?

[2020-10-03 19:52] trask commented on #778
always 😄, though I think this is probably a small worry relative to other agent init work

[2020-10-03 19:59] pavolloffay opened #1316 "Capture all request and response headers"
We have a requirement to capture all request and response headers. This use case has also come up in different instrumentation libraries in OpenTracing project.

By default the feature should be disabled. There should be also a configuration to specify which headers should be collected e.g. CAPTURE_REQUEST_HEADERS=content-type,foo,bar or all - CAPTURE_REQUEST_HEADERS_ALL=true. The configuration pr

[2020-10-03 20:01] pavolloffay commented on #566
Also:
* capture any or all request/response headers to spans https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/1316
* an ability to capture request and response bodies, (disabled by default)

[2020-10-03 20:05] pavolloffay opened #1317 "Capture request and response bodies"
We have a requirement to capture all request and response bodies. Capturing bodies is more complicated bc it requires wrapping read/write streams - so additional configuration. This feature should be disabled by default with no cost for people who don't want to capture any bodies.

The use case is for business transaction monitoring http://trasier.com/ and security.

I will submit a spec issue to

[2020-10-04 02:08] anuraaga commented on #1315
I'm not sure :) The code for setting up exporter is currently here. Don't know if it's better for us to extract an artifact here or push it to SDK.

[2020-10-04 05:20] anuraaga opened #1318 "Enable hacktoberfest topic?"
This year there was a lot of spam and they've made hacktoberfest opt-in for repos by adding a topic named hacktoberfest.

https://hacktoberfest.digitalocean.com/hacktoberfest-update

I think hacktoberfest is in general a nice idea, and would like to enable this, unless we get a lot of spam and may consider disabling it then. Any thoughts?

[2020-10-04 05:59] trask commented on #1318
I have no objection 👍

[2020-10-04 10:52] imavroukakis opened #1319 "spotBugs task complains about io.opentelemetry.instrumentation.auto.api.concurrent.State"
While building locally via `./gradlew check` I get the following complaint from the spotBugs task

[code]

Whilst, on the face of it, this is a valid complaint given the structure and usage of the class and a trivial fix,  I'm confused as to why this isn't caught in the CircleCI builds. Is it because this task is not running?

[2020-10-04 11:43] imavroukakis commented on #1278
There's a method that seems to do this in `DbMongodbSpan`
[code]

Is this relevant?

[2020-10-04 17:16] trask opened #1320 "Build failing because opentelemetry-java SNAPSHOTs are being pruned from https://oss.jfrog.org/artifactory/oss-snapshot-local"
This is happening again (see #1102 for background).

Will be fixed by https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/1304.

[2020-10-04 20:48] trask commented on #1319
hey @imavroukakis! ya we should probably fix if they seem reasonable, and then add `check` to CI to prevent regressions. see also #1166.

[2020-10-05 02:42] trask commented on #1320
Closed by #1304

[2020-10-05 02:42] #1320 closed

[2020-10-05 04:04] github-actions[bot] opened #1322 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-10-05 05:11] iNikem commented on #1318
I am a little bit cautious about this. In general it is a good idea, but as we approach GA, will it speed us up or slow down?

[2020-10-05 05:30] iNikem commented on #1315
Is open-telemetry/opentelemetry-java#1149 related?

[2020-10-05 05:32] iNikem commented on #1278
Yes and no :) `DbMongoSpan` and other typed spans in that package provide an API for simpler filling semantic conventions. Somebody still has to actually call them. And we currently does not use them still.

This task is about extracting the actual value from Mongo instrumentation and setting it on the span.

[2020-10-05 05:34] anuraaga commented on #1315
I think that issue is about allowing configuration, which is only possible with SPI at the moment. This is a bit opposite - to allow the SDK to configure itself as automatically as possible for standard use case.

[2020-10-05 05:35] iNikem commented on #1317
Just a friendly warning :) See #726, #1083 and related PRs. We already tried to add wrappers, it ended badly

[2020-10-05 05:37] iNikem commented on #1281
As long as `collectAllMetrics` resets data, this is a good proposal.

[2020-10-05 05:53] iNikem commented on #1298
Yes, this is what I meant.

[2020-10-05 05:59] iNikem commented on #1313
@asarkar What is a connection between Armeria and Spring Boot?

[2020-10-05 07:04] #690 closed

[2020-10-05 07:34] asarkar commented on #1313
@iNikem

I had assumed `auto` is spring boot autoconfiguration as there is such support in some cases (https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/661). However, after reviewing the code, it seems that my assumption was incorrect, `auto` isn’t related to spring boot.

That said, my talking point stands, which is, the name `auto` doesn’t tell me or anyone what that dir

[2020-10-05 07:47] iNikem commented on #1313
There is [contributing doc](https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/master/CONTRIBUTING.md), which references ["Writing instrumentation"](https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/master/docs/contributing/writing-instrumentation.md) doc, which explains the difference between manual and auto instrumentations and explains the folder s

[2020-10-05 08:03] neboduus commented on #1099
Thanks again for your replies. I can say that I have tested it with Scala  and Play and the instrumentation works. I have been able to send 1 trace to Google Stackdriver and visualize it, therefore it works. Thanks for your support, Im gonna write here if some issues arise

[2020-10-05 08:25] #1064 closed

[2020-10-05 09:59] imavroukakis commented on #1319
OK, I raised https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/1325 to address the findings of `spotBugsMain` and `spotBugsTest` tasks.

[2020-10-05 10:59] anuraaga commented on #1318
I understand the caution. I think as long as we don't get spammed it should be ok if some more PRs come in. On the first sign of spam we disable it - does that sound reasonable?

[2020-10-05 19:18] FrankSpitulski commented on #1298
Made issue for the spec https://github.com/open-telemetry/opentelemetry-specification/issues/1058

[2020-10-05 20:09] asarkar commented on #1313
@iNikem I didn't have a reason to read the contrib doc so far, since I hadn't submitted a PR, but now that you referred to it, I'm going to read it.

[2020-10-05 22:37] trask commented on #1313
@anuraaga makes sense to me, logging at INFO level, which we enable by default

[2020-10-05 22:46] trask opened #1328 "Change logging exporter from System.out to SLF4J"
Tracking proposal from @anuraaga https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/1313#issuecomment-703035396

Makes sense to me, logging at INFO level, which we enable by default.

[2020-10-05 22:46] trask commented on #1313
created #1328 to not forget 😁

[2020-10-05 23:26] trask commented on #1186
I'm planning to do the renames this week (before 0.9.0 release).

Since we are renaming things from `auto` --> `javaagent`, I think it makes sense to rename the `auto` (sibling of `library`) directory to `javaagent` also.

[2020-10-05 23:28] trask commented on #1313
😂 we are planning to rename the `auto` directory to `javaagent`, partly due to this issue of `auto` being too generic https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/1186#issuecomment-703941951

[2020-10-05 23:59] asarkar commented on #1313
So, I started by copy-pasting the code under [instrumentation/grpc-1.5](https://github.com/open-telemetry/opentelemetry-java-instrumentation/tree/master/instrumentation/grpc-1.5/src/main/java/io/opentelemetry/instrumentation/auto/grpc), but some classes refer to the instrumentation-api which doesn't seem to be available as an artifact either in Maven Central or Jcenter. The [Beta v0.8.0](https://g

[2020-10-06 05:01] iNikem commented on #1313
@asarkar It should be available from Bintray: https://bintray.com/open-telemetry/maven/opentelemetry-java-instrumentation/0.8.0#files/io%2Fopentelemetry%2Finstrumentation%2Fopentelemetry-auto-api%2F0.8.0

[2020-10-06 06:05] #1206 closed

[2020-10-06 06:39] anuraaga commented on #1313
@asarkar #1329 will separate out a library to be able to trace gRPC without the java agent.

[2020-10-06 07:10] #1301 closed

[2020-10-06 07:10] #1322 closed

[2020-10-06 07:26] anuraaga opened #1330 "RabbitMqTest failed to start testcontainer"
Getting this on my Mac when running tests locally, haven't been able to debug it yet.

[code]

[2020-10-06 09:10] anuraaga commented on #1318
Enabled, let's see how it goes!

[2020-10-06 09:10] #1318 closed

[2020-10-06 09:52] iNikem commented on #1330
This is due to https://github.com/testcontainers/testcontainers-java/issues/3166. Will submit PR shortly

[2020-10-06 10:54] #1330 closed

[2020-10-06 11:10] iNikem commented on #1225
Damn :( muzzle plugin, living inside `buildSrc`, reaches to `javaagent-bootstrap` and `javaagent-tooling` to grab their runtime classpaths :( This makes extracting plugin almost impossible :(

[2020-10-06 19:56] pavolloffay commented on #778
@iNikem @anuraaga any opinions on this?

If no I would like to start working on @trask's proposal from https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/778#issuecomment-703155424

[2020-10-07 04:29] github-actions[bot] opened #1336 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-10-07 04:37] iNikem commented on #778
I like the idea of having SPI for overriding Tracers. I like the idea of having just one SPI to override any tracer and not one per tracer. I am not sure that using tracer class name is the best way to identify tracer to be overridden. We may try and see how this will come out :)

I wonder, how will this work with tracers hierarchies? E.g. this will not allow overriding `HttpClientTracer`.

Also,

[2020-10-07 08:55] pavolloffay opened #1337 "Muzzle should recognise mismatch on unimplemented abstract methods at runtime"
This is related to: https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/1123

I have a custom Servlet instrumentation that wraps request/response to read bodies (similar to https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/1167). The instrumentation works well with servlet 3.0 however the instrumentation does not implement `'abstract boolean isReady(

[2020-10-07 08:55] anuraaga commented on #778
+1 to having one SPI to override any tracer rather than per-tracer, it seems a bit simpler to me. But seems like a good approach to me.

+10

[2020-10-07 08:57] anuraaga opened #1338 "Set net peer for gRPC client"
When separating out library instrumentation from auto, we removed an auto-specific workaround for setting net peer. Clients should provide the net peer in general, and gRPC does do so with an "ExperimentalApi". Going to dig for ways without that, or to find a way with the existing APIs, before requiring users to pass in the net peer themselves.

https://github.com/open-telemetry/opentelemetry-java

[2020-10-07 10:24] benjaminhuo commented on #1111
I can see similar error logs too, and I cannot see tracing data in jaeger, just wondering if this(no tracing data in jaeger) is related to this bug? @iNikem @kubawach @malafeev @genebean

[code]

[2020-10-07 10:33] mateuszrzeszutek commented on #1337
Hmm, so at runtime muzzle allows this instrumentation to happen? That's pretty strange - muzzle compile task and `MuzzleMatcher` call pretty much the same method. Have you tried turning the debug logging on? Does `MuzzleMatcher` log anything?
Also, if it's possible please provide an example -- a draft PR, unit test, whatever that allows reproducing this issue.

[2020-10-07 11:08] genebean commented on #1111
@benjaminhuo i am getting trace data so I imagine you’re having another issue.

[2020-10-07 11:09] iNikem commented on #1111
@benjaminhuo Indeed, this problem should NOT impact tracing data

[2020-10-07 12:17] benjaminhuo commented on #1111
Thanks for the quick response, guys.
I'll see why there is no tracing data.

[2020-10-07 12:58] pavolloffay commented on #1225
Is there any way how it could be done? I am happy to help with this.

[2020-10-07 14:32] iNikem commented on #1225
I don't know one right now.

[2020-10-07 23:09] asarkar commented on #1313
@anuraaga Now that https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/1329 is merged, can I give it a shot with 0.9.0-SNAPSHOT, or are there more changes you're working on (I checked the open PRs, and didn't see any related ones, just asking)?
Also, I asked this a few times before but unfortunately didn't get an answer, is there a logback.xml that'd pull the trace/span from

[2020-10-07 23:14] trask commented on #1313
check out https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/1339/files?short_path=89168a1#diff-89168a19bfc36978739b73b87c18a24f for pending docs on MDC configuration

[2020-10-08 04:25] github-actions[bot] opened #1342 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-10-08 08:51] anuraaga commented on #1313
@asarkar I sent one more PR to fix the context issue, then that snapshot should be good to give it a try. Thanks for the patience.

[2020-10-08 09:13] mateuszrzeszutek opened #1345 "Make Config a bit less static"
The aim of this issue is to make `Config` return wrapped values: `ConfigValue<T>` instead of `T`. Users of this API can store `ConfigValue`s in static final constants as before, but call `ConfigValue#get()` whenever the actual value is needed.
There could be two `ConfigValue<T>` implementations:
* One that has a `private final T` field and is initialized only once, always returning the same value

[2020-10-08 12:41] #1249 closed

[2020-10-08 14:04] devinsba commented on #1337
Unrelated to your issue, but I would warn against wrapping servlet types. I have run into issues where some application servers will cast to a concrete type so wrapping will break these servers

[2020-10-08 14:24] pavolloffay commented on #1337
Agree, it's not the easiest feature to implement. @devinsba do you remember which app servlet/servlet container is casting to specific types?

[2020-10-08 14:28] devinsba commented on #1337
It was Oracle WebLogic Server, the version in my downloads folder is `10.3.6.0`

[2020-10-08 15:50] iNikem commented on #1337
Even Jetty does that

[2020-10-08 16:36] iNikem commented on #898
@trask @heyams I am somewhat confused, if this solved or not?

[2020-10-08 16:39] iNikem commented on #602
@anuraaga I think we can close this issue, right? This discussion is concluded and we seem to have an answer from Spec.

[2020-10-08 17:00] iNikem commented on #1319
@imavroukakis is this now fixed by #1325?

[2020-10-08 17:01] #1306 closed

[2020-10-08 17:06] iNikem commented on #1281
@trask can we agree that discussion has completed and create an actual issue?

[2020-10-08 17:07] iNikem commented on #1279
@trask open-telemetry/opentelemetry-java#1723 is merged, should we close this issue?

[2020-10-08 17:10] iNikem commented on #1237
This issue is not specific for testLatestDep. This happen sporadically when spock test has a data table which, when unrolled, results in several test invocations having the exact same test name.

[2020-10-08 17:12] trask commented on #1279
Yes!

[2020-10-08 17:12] #1279 closed

[2020-10-08 17:16] iNikem commented on #1151
We ended up not merging `io.opentelemetry.instrumentation.api.cache.Function`

[2020-10-08 17:16] #1151 closed

[2020-10-08 17:21] iNikem commented on #976
@trask @anuraaga We can close this right? gRPC context did go away.

[2020-10-08 17:24] iNikem commented on #936
Duplicates ##1146

[2020-10-08 17:24] #936 closed

[2020-10-08 17:29] iNikem commented on #836
@trask is there any conclusion for this task? Any recommendation how to handle these licenses? Or does it still require investigation?

[2020-10-08 17:31] iNikem commented on #782
@trask Why do we want to run JMH in CI? You can actually compare them run to run. Does #595 speak about JMH benchmarks or some new, yet unwritten ones?

[2020-10-08 17:34] iNikem commented on #740
@open-telemetry/java-instrumentation-approvers Please vote 👍 or 👎 for this proposal.

[2020-10-08 17:36] iNikem commented on #716
Cannot reproduce, works now

[2020-10-08 17:36] #716 closed

[2020-10-08 17:42] iNikem commented on #528
Closed by #1327

[2020-10-08 17:42] #528 closed

[2020-10-08 22:27] asarkar commented on #1313
OK, but I'm not seeing anything related to metrics in the PR. Metrics is instrumentation too, but not directly related to tracing, so, do I need to create a new ticket for that?

[2020-10-08 23:59] anuraaga commented on #740
I'm neutral TBH - both non-parallel and parallel without max-workers seem too slow for builds in general.

Anyone with friends at Gradle to backchannel my https://github.com/gradle/gradle/issues/14224? :)

[2020-10-09 03:29] trask commented on #1265
I ran into several cases in #1350 where we are putting Context into scope unnecessarily, which could be improved by passing Context as an argument to `startSpan`

[2020-10-09 03:57] trask commented on #740
How about adding this to `gradle.properties` instead:

[code]

under the assumption that most dev machines have 4+ cores.

[2020-10-09 04:05] github-actions[bot] opened #1352 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-10-09 04:12] trask commented on #1313
hey @asarkar, the OpenTelemetry metric story is still being defined.

I think this is probably the spec issue for what you are looking for: https://github.com/open-telemetry/opentelemetry-specification/issues/654

[2020-10-09 04:19] trask commented on #782
#595 is about new unwritten end-to-end macro benchmarks

I _think_ my goal here was only to have CI validate that the JMH benchmarks are runnable (by doing a short run)

[2020-10-09 04:27] trask commented on #976
I think the particular issue above still stands with the new OpenTelemetry `Context` and our existing instrumentation at least.

Let's leave this open until we pull in the new `Context` and revisit how we bridge it.

[2020-10-09 04:32] trask commented on #602
I think worth adding something to `docs/` since this will probably be a common question we get about adding new span attributes (assigning to myself)

[2020-10-09 04:40] iNikem commented on #740
I am Ok both with the original Trask's idea of removing and with new idea of replacing with max workers. Both can be overridden locally.

[2020-10-09 04:41] iNikem commented on #782
Grrr, I meant you CANNOT compare them.

Do you still want it? Is it worth spending our time on this?

[2020-10-09 04:51] trask commented on #782
Yeah, let's close. I'm sure we'll need to revisit the JMH benchmarks at some point and probably have better ideas then anyways.

[2020-10-09 04:51] #782 closed

[2020-10-09 04:54] trask commented on #1281
Yes, I will create. Also, @jkwatson pointed out today that `IntervalMetricReader` currently only accepts a single `MetricExporter`, which makes our story even easier, we can only support a single metric exporter (either pull or push).

[2020-10-09 04:54] #1281 closed

[2020-10-09 05:06] trask opened #1353 "Do not register more than one metric exporter"
See discussion in #1281

The reason for this is that each metric exporter calls `collectAllMetrics` which resets the metrics, and so if you register more than one metric exporter they will each only get partial metrics since the last time the other one called `collectAllMetrics`.

Open question: what to do if more than one metric exporter is specified in `OTEL_EXPORTER`?
* Log warning and don't re

[2020-10-09 06:31] iNikem commented on #1353
+1

[2020-10-09 07:06] imavroukakis commented on #1223
I can take a look at this.

[2020-10-09 07:07] pavolloffay commented on #1287
Is there anything blocking us from loading vendor exporters via this setting? From the user-experience it would be better to keep the consistency and allow loading custom exporters.

[2020-10-09 08:14] pavolloffay commented on #1337
@mateuszrzeszutek here is the reproducer https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/1354

[2020-10-09 08:55] pavolloffay opened #1355 "Tracking release 0.9.0"
Creating a tracking issue for release 0.9.0.

When is the release planned for? I can help with smth if it is in my powers :)

[2020-10-09 09:13] Anisha-28 commented on #1328
Hi .. can. i work on this issue
Would appreciate some clarification please

[2020-10-09 09:16] mateuszrzeszutek commented on #1337
Thanks! I'll take a look at it right away

[2020-10-09 09:43] iNikem commented on #1328
@Anisha-28  There is [LoggingExporter](https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/master/javaagent-exporters/logging/src/main/java/io/opentelemetry/javaagent/exporters/logging/LoggingExporter.java) which just prints all created spans. Right now it is using `System.out.println`. The goal of this is to replace `System.out` with `org.slf4j.Logger` logger, as many other

[2020-10-09 09:44] iNikem commented on #1328
If you wish to take this issue, I can assign it to you.

[2020-10-09 09:45] iNikem commented on #1355
We want to release it as soon as [these tasks](https://github.com/open-telemetry/opentelemetry-java-instrumentation/projects/8) are done.

[2020-10-09 09:59] iNikem commented on #1287
The question is: where to load it from? If it is vendor distribution which packed its export in - sure, we should to that. Otherwise - how?

[2020-10-09 10:00] iNikem commented on #1223
@imavroukakis thank you for your help :) Assigned this issue to you.

[2020-10-09 10:49] kubawach commented on #1111
Cannot reproduce. Tried on two different laptops.

Testing performed:

- collector - latest (docker 3ebc9a107a85)
- agent:
  - default exporter (OLTP)
  - latest release (0.8.0)
  - newest (master, 0.9.0) built with Java 11
- JDK (runtime)
  - 1.8
  - 11
  - 14

In all cases:
- no warnings in logs
- metrics exported successfully (logged o the collector side)
`agent logs metric exporter installatio

[2020-10-09 11:10] Anisha-28 commented on #1328
yes @iNikem i will do it .. Thanks for explaining though

[2020-10-09 11:11] kubawach opened #1356 "Apache Camel 2.20.x instrumentation"
Apache Camel team provides OpenTelemetry instrumentation for Camel > 3.5 (https://camel.apache.org/components/latest/others/opentelemetry.html). In order to support customers using older versions (especially 2.x due to a number of changes between 2.x and 3.x) we shall provide a skinny instrumentation.

[2020-10-09 11:12] iNikem commented on #1111
Just reproduced:
1. checkout master, build agent as usual.
2. Get https://github.com/spring-petclinic/spring-petclinic-microservices application
3. Make the following compose file:

[code]

Give tracing server the following otel.yaml:
[code]

Start everything: `docker-compose -f docker-compose-otel.yml`. Wait. Around every minute see

[code]

[2020-10-09 11:24] Anisha-28 commented on #1260
Hi (I am an outreachy applicant) .. can i try this issue .. just need some clarity

[2020-10-09 12:40] Anisha-28 commented on #1328
@iNikem i have committed a change if you can see it .. and let me know if i did it right

[2020-10-09 14:44] tylerbenson commented on #740
I support setting the default max instead of removing the parallel setting.  I would propose 3/4 workers though with the understanding that we do a fair bit of blocking in our tests, so a small amount of over provisioning is probably fine.

[2020-10-09 17:18] trask opened #1360 "Pass Context explicitly to startSpan"
I ran into several cases in #1350 where we are putting Context into scope unnecessarily, which could be improved by passing Context as an argument to `startSpan`

Maybe also pass Context into `startScope` at the same time to address #1265

[2020-10-09 17:52] trask commented on #1260
Hey @Anisha-28!

We want to remove the version number from the instrumentation name, e.g. change `"io.opentelemetry.auto.apache-httpclient-4.0"` to `"io.opentelemetry.auto.apache-httpclient"` in `ApacheHttpClientTracer`

[code]

[2020-10-09 18:07] marcingrzejszczak opened #1362 "Inconsitency of the API"
`io.opentelemetry.instrumentation.api.tracer.HttpClientTracer` have `onRequest` and `onResponse` whereas `io.opentelemetry.instrumentation.api.tracer.HttpServerTracer` has only `onRequest` method?
also in `HttpServerTracer` `onRequest` or `onRequestAndConnection` returns `void` whereas in `HttpClientTracer` returns `Span`.

[2020-10-09 18:22] trask opened #1363 "Add integration test for muzzle's unimplemented abstract method check"
See #1357 and #1337

This is tricky behavior and we don't have any integration test to make sure that it does not accidentally break in the future.

[2020-10-09 18:23] trask opened #1364 "Add integration test for muzzle's unimplemented abstract method check"
See #1357 and #1337

This is tricky behavior and we don't have any integration test to make sure that it does not accidentally break in the future.

[2020-10-09 18:53] nitram509 commented on #1328
@Anisha-28 once you have committed, don't forget to push it too and create a pull request.
(if you just did commit, no one can see it)

Cheers
Martin

[2020-10-09 19:06] #385 closed

[2020-10-09 20:10] trask commented on #740
This is what `org.gradle.workers.max=3` does to my 6 core machine 😭

![image](https://user-images.githubusercontent.com/218610/95627084-6b4f5000-0a30-11eb-808d-460b22dd0adb.png)

[2020-10-09 22:03] #1337 closed

[2020-10-10 09:16] pavolloffay opened #1368 "Investigate exceptions in agent's debug log"
Agent logs several different exceptions. The following output is from springboot petclinic.

[out.txt](https://github.com/open-telemetry/opentelemetry-java-instrumentation/files/5358708/out.txt)

[code]

[2020-10-10 09:40] iNikem commented on #1368
Which java version did you use?

[2020-10-10 09:55] iNikem commented on #1362
We just recently migrated the majority of instrumentations to these new tracers. Their API is a complete mess right now. We will certainly review it.

[2020-10-10 11:11] marcingrzejszczak commented on #1362
In general it's a great idea that works fine. I have some POC of extending the client & server tracers. I'm just wondering if it won't make more sense to extract the critical methods to an interface or make the methods public so that the library implementors can be sure that backward compatibility will be maintained.

[2020-10-10 19:10] pavolloffay commented on #1368
[code]

[2020-10-11 05:21] iNikem commented on #1362
Yes, that's the plan. Hopefully, soon :)

[2020-10-11 06:41] anuraaga commented on #1368
I think these debug messages are common for our library dependencies and not really in our control. Perhaps this is just related to logging more warnings instead of debug

https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/534

Java ecosystem seems to not worry about spamming debug logs with these sort of exceptions, so we need to make sure something above debug can be eno

[2020-10-11 08:10] pavolloffay commented on #1368
I didn't know we are pulling in OpenCensus deps, however, haven't gone through all dependencies in the project.

[2020-10-11 18:24] #740 closed

[2020-10-11 21:24] trask commented on #1186
Trying out shortening the name `opentelemetry-javaagent-instrumentation-api` --> `opentelemetry-javaagent-api`

* I think looks better in the docs as parallel to `opentelemetry-instrumentation-api`
* I think also looks better in the docs as parallel to `opentelemetry-javaagent-spi`
* I don't think causes confusion, because we have `javaagent-spi` and `javaagent-api`
* I think reduces confusion, ca

[2020-10-11 21:31] trask opened #1369 "Finalize package name and artifact name for WithSpan"
Currently:
* package name is `io.opentelemetry.extensions.auto.annotations`
* artifact name is `io.opentelemetry:opentelemetry-extension-auto-annotations`

I think this might be better long-term:
* package name `io.opentelemetry.instrumentation.annotations`
* artifact name `io.opentelemetry.instrumentation:instrumentation-annotations`

Note, `WithSpan` is being used by both javaagent instrumentati

[2020-10-11 21:31] #898 closed

[2020-10-11 21:47] trask commented on #1186
Not sure about this part ^^, e.g. it makes sense to me for

`io.opentelemetry.javaagent.instrumentation.cats`

to depend on

`io.opentelemetry.javaagent.instrumentation.api`

But we could still drop the `-instrumentation` from the artifact name, shortening it to `opentelemetry-javaagent-api`, which matches `opentelemetry-javaagent-cats` (where we already dropped the `-instrumentation`)

[2020-10-12 02:00] dengliming commented on #1364
Repeat with [https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/1363](https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/1363)

[2020-10-12 02:17] trask commented on #1364
🤦‍♂️ thanks @dengliming!

[2020-10-12 02:17] #1364 closed

[2020-10-12 02:25] trask commented on #1186
hm, maybe `io.opentelemetry.javaagent.cats` is ok (shorter) package name?

I kind of like that, as it reflects our goal to extract the "real"(?) instrumentation out into `io.opentelemetry.instrumentation.cats`, and then `io.opentelemetry.javaagent.cats` is the _bytecode_ instrumentation that injects the "real"(?) instrumentation.

[2020-10-12 02:46] trask commented on #1186
`opentelemetry-javaagent-api` will now have both "runtime" api that lives in bootstrap class loader and "matcher"/"bytebuddy" api that lives in agent class loader.

I'm thinking of naming those packages:

* `io.opentelemetry.javaagent.api.runtime`
* `io.opentelemetry.javaagent.api.bytebuddy`

`.bytebuddy` because it is already heavily dependent on bytebuddy api, and makes extra clear that this is

[2020-10-12 03:18] trask commented on #1368
Yeah our debug level log is a bit of a mess.

You need to turn on debug logging to troubleshoot issues (e.g. instrumentation muzzled), but then you are presented with lots of false positives.

I see this one a lot too:

`java.lang.IllegalStateException: Cannot resolve type description`

One option for the netty/opencensus debug stack traces would be for us to only set DEBUG level for `io.opentelem

[2020-10-12 04:22] trask opened #1371 "What's the plan for instrumentation-api module "GA"?"
The `instrumentation-api` module needs a lot of work to be GA quality.

Some options for discussion (using `opentelemetry-grpc` as example of library instrumentation):

* GA `opentelemetry-grpc` and `instrumentation-api` at the same time we GA the javaagent
  * this would be ideal, but will require a lot of work at the same time as we are trying to get the javaagent to GA
* GA `opentelemetry-grpc`

[2020-10-12 04:53] iNikem commented on #1186
I see the allure of this but are we sure we will have a lot of library instrumentations? Because if we have only a handful of them, the argument above becomes weak IMO. And without that I feel unease with a long list of `io.opentelemetry.javaagent.XXX` as opposed to `io.opentelemetry.javaagent.instrumentation.XXX`

[2020-10-12 05:07] iNikem commented on #1371
Independent versions is certainly a bad idea moving forward. And I don't particularly like piece-wise release as well. I see the benefit of claiming "javaagent has reached 1.0" as soon as possible, but still support the first version: release everything together when it is ready (quite unusual for me, I must say...)

[2020-10-12 06:05] rahulram756 opened #1372 "Add Maven Dependencies with Source code"
Please add the maven dependencies for the java agent with source code

[2020-10-12 06:11] #1336 closed

[2020-10-12 06:11] #1342 closed

[2020-10-12 06:11] #1352 closed

[2020-10-12 10:09] iNikem opened #1373 "Ratpack instrumentation breaks when using pooling"
When `client.RatpackHttpClientTest#client` is changed to use connection pooling as below, all tests except the first one start failing.

[code]

[2020-10-12 10:10] mateuszrzeszutek opened #1374 "Make muzzle generate helperClassNames() method"
I have an idea for improvement in muzzle & `Instrumenter.Default`: muzzle already collects all references to our internal helper classes when the ByteBuddy plugin executes - and it knows which classes are "our" classes and which ones are external (see `ReferenceCreationPredicate`). I believe that we can make use of this:
* we can gather all helper classes in `ReferenceCreator` and references to ot

[2020-10-12 11:18] iNikem commented on #1374
I like it 👍

[2020-10-12 17:21] iNikem opened #1375 "Use MESSAGING_OPERATION constant from SDK"
instead of hard-coded strings. See open-telemetry/opentelemetry-java#1783

[2020-10-12 21:25] trask opened #1376 "Mongo db.name attribute is incorrect"
Currently Mongo `db.name` is being captured as the `description` of the server, as opposed to the database name that the query is executed against.

[2020-10-12 22:05] trask commented on #1374
👍 I like that idea of stopping at some package name boundary in order to protect against accidentally (and silently) pulling in too much, and using `additionalHelperClasses()` for those exceptional cases

[2020-10-12 23:30] anuraaga commented on #1374
I remember @trask's idea of something similar to `spotlessApply` to automatically sync the helper class names mainly to prevent the accidental bloating. But if we can do that reliably automatically, that's even better :D

[2020-10-13 04:59] trask commented on #1186
Summary after #1370 (still work to do):

#### io.opentelemetry.instrumentation

  * `opentelemetry-cats`
    * package name: `io.opentelemetry.instrumentation.cats`
  * `opentelemetry-instrumentation-api`
    * package name: `io.opentelemetry.instrumentation.api`

#### io.opentelemetry.javaagent.instrumentation

  * `opentelemetry-javaagent-cats`
    * package name: `io.opentelemetry.javaagent.ins

[2020-10-13 06:16] #983 closed

[2020-10-13 06:16] #1031 closed

[2020-10-13 14:40] tylerbenson commented on #740
@trask doesn't that show good execution?  I assume it would be much less utilized without parallel enabled.

[2020-10-13 16:27] mateuszrzeszutek commented on #1274
I've thought about it for a while and I have an idea how this can be solved properly:

We could split the `Instrumenter.Default` class in two:

[code]

The new `TypeInstrumentation` interface would contain methods that differ per instrumented type (I think only those two), the `Instrumenter` has everything that is shared for the whole library instrumentation: like instrumentation name, muzzle refe

[2020-10-13 18:17] atoulme opened #1381 "Metrics exporter throws warnings"
I am confused by the following warning that appears in my logs:
[code]

Is this library exporting metrics?
Which metrics?
Are those internal metrics to the agent or is it catching on metrics exposed over JMX or other mechanisms?
What is the expectation of the metric exporter, which target does it run with by default?
My traces make it over to the collector. Do I need to set up an oltp metric recei

[2020-10-13 19:49] trask commented on #1186
I know I had proposed moving `opentelemetry-javaagent-api` to groupId `io.opentelemetry.javaagent.instrumentation`, but I thought more about it, and I think it makes sense to me under groupId `io.opentelemetry.javaagent`, and using package name `io.opentelemetry.javaagent.api`.

Then `io.opentelemetry.javaagent.instrumentation` is only for actual instrumentation.

Then the only artifact that doesn

[2020-10-13 20:29] asarkar commented on #1313
@iNikem I'm not seeing the snapshot version for whatever @anuraaga has done here https://bintray.com/open-telemetry/maven/opentelemetry-java-instrumentation.

[2020-10-13 22:55] trask commented on #740
it would be good if I wasn't trying to do anything else on my machine at the same time, it took 15 seconds just to open screen capture tool to get that picture 😭

[2020-10-14 00:11] trask commented on #1274
I like this 👍

We may need to allow `TypeInstrumentation` to "override" `defaultEnabled()` and `instrumentationName` somehow in order to handle a few cases, e.g. `DataSourceInstrumentation`.

Might be nice for `instrumentations()` to return `List<Class<? extends TypeInstrumentation>>` instead of `List<TypeInstrumentation>`, but not sure about that.

Hm, maybe `JdbcInstrumenter.instrumentations()`

[2020-10-14 04:31] trask opened #1382 "Embed java-classloader into javaagent-tooling"
Benefits:

* It's not really an optional instrumentation
* It could then rely on internal api, without having to expose more than needed in `javaagent-api` (e.g. in #1380)

We don't need generated muzzle matcher for this instrumentation, so I _think_ it could just be moved into javaagent-tooling without much hassle (but haven't tried, could be wrong).

We could keep java-classloader-testing module

[2020-10-14 04:35] anuraaga commented on #1313
@asarkar Sorry for the wrong link that is the bintray we use for released versions, snapshots are here https://oss.jfrog.org/libs-snapshot/io/opentelemetry/instrumentation/opentelemetry-grpc-1.5/

[2020-10-14 05:26] asarkar commented on #1313
@anuraaga
Debug:
[code]
logback:
[code]
But trace and span are empty.
[code]

[2020-10-14 05:52] anuraaga commented on #1313
Can you check if it's ok in the gRPC handler method itself and only that the span isn't available in the interceptor? If so will try to create a unit test to repro and fix.

[2020-10-14 06:14] anuraaga commented on #1313
@asarkar By the way, one unintuitive aspect of gRPC is that interceptors are run in reverse order. So you'll need to make sure you register `TracingServerInterceptor` _last_ so that it runs first, filling in the span before your interceptor is executed.

[2020-10-14 06:20] asarkar commented on #1313
I’m aware of the order of interceptors, and I’ve ensured the trace interceptor runs before mine.
What do you mean by the gRPC handler method? If you mean the gRPC service method, the span and trace are 0 there too.

[2020-10-14 06:26] anuraaga commented on #1313
@asarkar Ah also have you added a dependency on any exporter package or the OpenTelemetry SDK? Without it on the classpath, tracing will be disabled.

We had some discussion on how this may be confusing here
https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/846

[2020-10-14 06:47] asarkar commented on #1313
No, I hadn’t added any exporters, because I don’t need anything exported. As I mentioned before, for now, all I’m looking for is to get the trace and span ids show up in the logs.
What do you recommend adding? Based on the discussion in https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/846, it seems the sdk isn’t enough.
Perhaps instead of having to keep reminding people,

[2020-10-14 06:49] anuraaga commented on #1313
If you don't need any exporters right now, then just `opentelemetry-sdk` should be fine it will initialize tracing such that the gRPC and logback instrumentation can use it.

[2020-10-14 07:17] asarkar commented on #1313
OK, after adding the sdk, I do see valid trace and span ids by putting a breakpoint in the service method. Those in the interceptor are still zero, but I need to dig deeper to see how the interceptor is being registered (I'm using the library [yidongnan/grpc-spring-boot-starter](https://github.com/yidongnan/grpc-spring-boot-starter)).

However, logs don't show trace or span ids, as shown above.

[2020-10-14 07:33] iNikem commented on #1382
If this is a required component for the functioning of the whole agent, then it makes sense.

[2020-10-14 08:01] iNikem commented on #1186
I would like to point out that at least some of our problems with JFrog/Bintray/JCenter when people cannot find our published artifacts are due to JFrog being confused by our constant changes. E.g. Bintray->JCenter sync is not reliable because of that. Thus we really **must** stabilise our artifactIds ASAP to have them consumable by external users.

I would even go as far as claiming we should NOT

[2020-10-14 08:29] anuraaga commented on #1313
Nice to hear that @asarkar. Now I guess you just need to add logging instrumentation too.

If you're using logback, the instructions here
https://github.com/open-telemetry/opentelemetry-java-instrumentation/tree/master/instrumentation/logback/logback-1.0.0/library

Or if using log4j2, the instructions here
https://github.com/open-telemetry/opentelemetry-java-instrumentation/tree/master/instrumenta

[2020-10-14 08:44] asarkar commented on #1313
OK, adding the logback custom appender is working! I'll do some more tests using server and client interceptors, and report back. I really appreciate the help so far.

One other thing: apart from gRPC, I also need to instrument [Ktor HTTP Client](https://ktor.io/docs/clients-index.html#requests-responses), which you don't have support for. I'll start by using the API and the SDK, and if I find any

[2020-10-14 10:26] iNikem commented on #1166
Closed by #1325

[2020-10-14 10:26] #1166 closed

[2020-10-14 10:27] iNikem commented on #1319
Closed by #1325

[2020-10-14 10:27] #1319 closed

[2020-10-14 10:30] mateuszrzeszutek commented on #1274
👍

I think that in that case we might just have two separate modules: `jdbc` and `jdbc-datasource`.

We can do some of them right away - e.g. `ClassLoaderHasClassesNamedMatcher` already caches results per CL, as long as it's the same instance for all `TypeInstrumentation`s it'll only be evaluated once (per classloader).

[2020-10-14 10:30] imavroukakis commented on #1319
Yes, thanks for closing!

[2020-10-14 10:40] iNikem commented on #1381
@atoulme  What version of instrumentation javaagent are you using?

[2020-10-14 10:46] marcingrzejszczak opened #1385 "Instrumentation API jar should not include SDKs"
When I add instrumentation-api JAR to the classpath I'd assume that I have access only to the code of the instrumentations. That means that if I'm doing tracing and I add instrumentation-api, I'd assume that metrics-sdk JAR doesn't land on my classpath as a transitive dependency. Maybe it would be worth repackage the code in such a way that metrics & tracing are better separated (for example via o

[2020-10-14 11:32] pavolloffay commented on #1225
@iNikem Is this the problem?

https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/4624584979c87dde9e90c8fc2275201601d4d798/buildSrc/src/main/groovy/MuzzlePlugin.groovy#L62-L63

I would like to use the muzzle plugin in a custom build with added instrumentations. The muzzle would be very helpful there.

[2020-10-14 12:18] iNikem commented on #984
@open-telemetry/java-instrumentation-approvers What is our stance on `jacocoTestCoverageVerification`? It fails on `javaagent-api` module, because a lot of classes there have very low or absent coverage. And I have no idea how to test e.g. `io.opentelemetry.javaagent.instrumentation.api.concurrent.AdviceUtils`.

[2020-10-14 12:20] iNikem commented on #1225
Yes, this is it.

[2020-10-14 13:55] mateuszrzeszutek opened #1386 "Lettuce 5.1 instrumentation should log normalised commands as db.statement"
Currently Lettuce 5.1 instrumentation logs full Redis command as `db.statement`, including all arguments/parameters.
We should normalise commands before storing them in a span -- same way as Lettuce 4.0 and 5.0 (and all other Redis instrumentation in this codebase) do.

[2020-10-14 15:40] anuraaga commented on #1386
I think the 5.1 is the only one that came after the spec clarified statement to be the same value as the Redis CLI.

https://www.github.com/open-telemetry/opentelemetry-specification/tree/master/specification%2Ftrace%2Fsemantic_conventions%2Fdatabase.md

Does normalizing also satisfy that?

[2020-10-14 15:55] mateuszrzeszutek commented on #1386
Hmm, that changes everything - I was under the impression that we should drop the arguments of the command/query to avoid capturing sensitive data.
Maybe we can log `db.operation` instead, depending on a configuration value... I need to think about it some more.

Anyway, thanks for bringing this up!

[2020-10-14 17:25] mateuszrzeszutek commented on #1386
Okay, let me correct myself then: let's just mask the values, i.e. the example `HMSET myhash field1 'Hello' field2 'World'` command from spec would be transformed to `HMSET myhash field1 ? field2 ?` - which is similar to what we're doing with SQL queries.

This can be easily done for Lettuce 5.1, I'm not sure about earlier versions or other libs (Jedis, Redisson, ...) - I'll check other Redis inst

[2020-10-14 17:50] as-polyakov opened #1388 "Publish opentelemetry-instrumentation-api to maven central and add marker base interface for SemanticConvention's"
Hello folks

we intend to use TypedSpans in our instrumentations and would like to:
1. Have "io.opentelemetry.instrumentation:opentelemetry-instrumentation-api" available on maven central
2. Have all typed spans implement some marker interface, I would propose having a "BaseSemanticConversion" interface to be extended by all *SemanticConversion interfaces implemented by typed spans. This way I can

[2020-10-14 18:34] iNikem opened #1389 "Muzzle is too eager?"
Here is a portion of the output of `./gradlew muzzle -m`
[code]

132 tasks. But I thought that we should not check more than `MuzzlePlugin#RANGE_COUNT_LIMIT == 10` versions for each directive? Is it a bug?

[2020-10-14 19:57] kubawach commented on #1111
@iNikem so, provided example managed to recreate the issue. This was however due to a metrics service not configured for the OTLP collector. After adding
`
    metrics:
      receivers: [otlp]
      processors: [batch]
      exporters: [logging]
`
to `otel.yaml` file, exceptions stopped and metrics started appearing in the collector log output:
`
tracing-server       | 2020-10-14T19:47:57.630Z DEB

[2020-10-14 20:00] iNikem commented on #1111
<sarcasm>Damn perfectly obviously error message</sarcasm>.

[2020-10-14 20:00] #1111 closed

[2020-10-14 20:00] kubawach commented on #1111
I blame gRPC ;)

[2020-10-14 20:22] asarkar opened #1390 "Add OpenTelemetry instrumentation BOM"
https://github.com/open-telemetry/opentelemetry-java/issues/1719#issuecomment-708623416

[2020-10-14 20:34] asarkar opened #1391 "How to log extra field (baggage) using Logback?"
Along with trace and span ids, I'd also like to log an internal request identifier for each log item. Please update the instructions [here](https://github.com/open-telemetry/opentelemetry-java-instrumentation/tree/master/instrumentation/logback/logback-1.0.0/library) specifying whether this is possible, and if yes, how to do it.
Another option is to be able to use a custom trace id.

[2020-10-14 22:37] trask commented on #1391
hey @asarkar, can you give us a specific example of an internal request identifier that you would like to include in the log?

[2020-10-14 22:40] trask commented on #1111
😭

[2020-10-14 22:53] asarkar commented on #1391
@trask It's usually a Java [UUID](https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/util/UUID.html). We have legacy systems that use a homegrown distributed tracing mechanism, and rely on this id being passed around. I'm using OTEL in a new project, but I need to be able to link to the calls made by the legacy system using the internal id.

For all intents and purposes, the interna

[2020-10-14 22:59] trask commented on #1391
are you looking to pass the UUID around via OpenTelemetry Context / Baggage, and then attach to MDC via something like a [scope listener](https://github.com/open-telemetry/opentelemetry-java/issues/922)?

[2020-10-14 23:00] smax48 opened #1392 "ClassNotFoundException when trying to use with Armeria 1.0"
When I start my application that uses Armeria 1.0, I get the following error:
[code]

I am using the latest 0.8.0 version of the agent (opentelemetry-javaagent-all.jar), and it produces some logs initially before throwing that error:
[code]

Maybe I am missing something in the app configuration?...

[2020-10-14 23:14] asarkar commented on #1391
I'm not of scope listeners, but your description sounds about right. In plain English, I just want to see the internal id being logged for every line of log that logs OTEL trace and span.

Your comment https://github.com/open-telemetry/opentelemetry-java/issues/922#issuecomment-661969038 makes me nervous; would you happen to have any examples if using the scope listener?

[2020-10-14 23:48] trask commented on #1382
It seems like good consensus for this change, turning this from a question into an issue...

[2020-10-15 00:10] anuraaga opened #1393 "Improve error message for connecting to collector without metrics endpoint"
In #1111 we found that all of our engineers misunderstood the error message for when connecting to a collector without a metrics endpoint. Given we default to tracing and metrics being enabled, I think this will be pretty common for users. We should make the error message better.

[2020-10-15 03:04] trask commented on #984
Ya, our stance is not great, we aren't even running jacoco against instrumentation at all (because)
* advice is inlined, so won't get tracked (another good reason to move logic from Advice to Tracers)
* (I'm guessing) since helper classes are injected inside of transform(), jacoco won't get a chance to instrument them

[2020-10-15 03:07] trask commented on #1391
Ya, we don't have that support yet, but working towards it.

@anuraaga this is a good context interop use case, being able to write a scope listener in application, and receiving callbacks when scope is changed by the javaagent

[2020-10-15 03:09] trask commented on #1392
hey @smax48, can you [enable debug logging](https://github.com/open-telemetry/opentelemetry-java-instrumentation#troubleshooting) and post the full log file?

[2020-10-15 03:11] trask commented on #1388
Hi @parallelstream, we aren't using the TypedSpans (yet?), and considering moving them to https://github.com/open-telemetry/opentelemetry-java/tree/master/extensions

@iNikem what do you think?

[2020-10-15 03:45] smax48 commented on #1392
Hi @trask, sure - see the attached file.
The very last message is from our app logger, everything else is produced by OT agent

[opentelemetry.l2020-10-15.log](https://github.com/open-telemetry/opentelemetry-java-instrumentation/files/5382305/opentelemetry.l2020-10-15.log)

[2020-10-15 04:02] trask commented on #1392
Oh, interesting, I think this is caused by not inlining the advice (inline = false) at https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/30e75c6d6d1b13b8b08874e5d7bc641fcd9a683f/instrumentation/armeria-1.0/javaagent/src/main/java/io/opentelemetry/javaagent/instrumentation/armeria/v1_0/ArmeriaServerBuilderInstrumentation.java#L58

[2020-10-15 04:03] anuraaga commented on #1392
I presumably accidentally left that in when debugging something, yeah let's fix it. And I guess add a checkstyle or something to prevent inline = false from merging :)

[2020-10-15 05:05] anuraaga commented on #1391
I think this sounds like it should be saved as a custom attribute on the Span and we should support populating Span attributes into logs in a configurable way.

Something Armeria has that I didn't get to yet ;)

[2020-10-15 05:16] iNikem commented on #1388
I don't think typed spans are ready for wide adoption yet. We haven't used them ourselves, so we cannot guarantee anything about them: will they live, where will they live, what's their API etc etc.

[2020-10-15 06:52] trask opened #1394 "Fix groupId for exporters"
They ended up under groupId `opentelemetry-java-instrumentation.javaagent-exporters`.

Also, how best to prevent/validate this in the future? (e.g. I only inspected artifacts under the normal groupIds, and missed that these were not present)

[2020-10-15 09:30] pavolloffay opened #1395 "Make muzzle reference creation package(s) configurable"
The `instrumentationMuzzle` is created only for instrumenters in `io.opentelemetry.instrumentation.`

https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/dadaac9a8cba35e3054fea7e62996e9b6c3e1693/javaagent-tooling/src/main/java/io/opentelemetry/javaagent/tooling/muzzle/ReferenceCreationPredicate.java#L15

In my custom java agent build I am adding instrumentations in a differen

[2020-10-15 09:42] mateuszrzeszutek commented on #1395
It needs to be available both in compile-time and runtime - `ReferenceMatcher` is also using this predicate.

Are these the same packages as in `BootstrapPackagePrefixesHolder`?

By the way, I'm thinking that maybe we need to have some sort of `AgentInternalConfig` class that groups all such properties together, and a single SPI for changing that config (similar to `TracerCustomizer`). This way a

[2020-10-15 10:08] pavolloffay commented on #1395
no, the packages in `BootstrapPackagePrefixesHolder` are different (not instrumentation) - these are classes that provide common functionality for instrumentations.

[2020-10-15 10:32] iNikem commented on #1394
[code]

[2020-10-15 13:36] benjaminhuo commented on #1111
the metrics part should be added to the pipeline
So this is a documentation issue or a default otel collector config issue?

[2020-10-15 16:55] atoulme commented on #1381
I use version 0.8.0.

I most likely did not set up the collector to collect metrics. But I'm not sure what metrics are being exported or why this tracing instrumentation exports metrics. Any doc?

[2020-10-15 21:11] parallelstream commented on #1388
hey, understood. Is there anything I can do to help moving this forward? Seems natural for me that they need to be available as an implementation of semantic convention in some form. All I am trying to achieve currently - enforce semantic conversion usage in our code (hence the need for marker interface) and give a "starter pack" for typical scenarios (hence the need for artifact)

[2020-10-15 23:10] #984 closed

[2020-10-16 03:06] trask commented on #1393
Also #1381

[2020-10-16 03:12] asarkar commented on #1391
Do you’ve any examples/docs showing how to add additional fields to a trace/span? If I’m not wrong, those are called baggage.

[2020-10-16 03:12] trask commented on #1381
hey @atoulme! there are a few [self-diagnostic metrics](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/error-handling.md#self-diagnostics) emitted currently

we are planning to capture other metrics, e.g. #1309, and tracing-based metrics in the future

if you don't want metrics exported, you can specify `OTEL_EXPORTER=otlp_span` starting in the just release

[2020-10-16 07:00] malafeev opened #1400 "README: "latest version" link is broken."
https://github.com/open-telemetry/opentelemetry-java-instrumentation/releases/latest/download/opentelemetry-javaagent-all.jar is not working

[2020-10-16 07:06] malafeev opened #1401 "No otlp_span span exporter found"
[code]

In 0.9.0 release otlp_span exporter should be supported: https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/1253

cc @pavolloffay

[2020-10-16 08:48] pavolloffay opened #1402 "Muzzle requires java 11"
Running muzzle task on JDK8 results on error:

[code]

Does anybody know about this limitation or how to fix it? We should at least document it.

[2020-10-16 09:23] mateuszrzeszutek commented on #1402
Hmm, I think that we should try to use the same logic as in `AgentInitializer`:

[code]

and use bootstrap classloader instead.

[2020-10-16 09:33] pavolloffay commented on #1402
I could give it a try

[2020-10-16 10:38] anuraaga commented on #1402
For agent we only support building with Java 11, I thought that was documented somewhere. I'm surprised anything works on Java 8 :)

[2020-10-16 14:09] malafeev commented on #1400
@trask shouldn't jar be renamed to not have a version as previous?

[2020-10-16 16:10] mateuszrzeszutek opened #1406 "Log normalised full statement in Redis instrumentations"
To be done after https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/1405 gets merged

Currently Lettuce 5.1 is the only instrumentation that logs the full `db.statement`, all others are just logging the command. [DB semantic convention](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/semantic_conventions/database.md#call-level-at

[2020-10-16 16:44] mateuszrzeszutek opened #1407 "Cassandra instrumentations should store normalised CQL queries as db.statement"
Currently both Cassandra 3.0 and 4.0 instrumentations do not normalise/mask the CQL query in any way -- it's possible that sensitive data may be stored in `db.statement` span attribute.

The aim of this issue is to fix that and normalise the query before it's added to span. This can be achieved by reusing the `SqlNormalizer` class - CQL has very similar syntax and I believe that the generic SQL no

[2020-10-16 17:52] trask commented on #1400
Oops, thanks for reporting this! fixed

[2020-10-16 17:52] #1400 closed

[2020-10-16 18:16] #1389 closed

[2020-10-16 22:41] trask commented on #1111
hey @benjaminhuo! I didn't follow your comment, can you explain more in detail?

[2020-10-17 06:20] asarkar commented on #1313
This appears to be working, and surprisingly, the Ktor tracing is also working without me doing anything. Closing the ticket.

[2020-10-17 06:20] #1313 closed

[2020-10-17 06:26] asarkar commented on #1313
@anuraaga I see that 0.9.0 was released, but I don't see in Jcenter or Maven central.

[2020-10-17 07:11] benjaminhuo commented on #1111
@trask Sorry for the confusion, I mean will there be a fix for this issue?
A doc fix or a fix in the default otel collector config file?

[2020-10-17 16:49] trask commented on #1313
hey @asarkar, we aren't publishing to maven central yet, for now you can use

https://bintray.com/open-telemetry/maven/opentelemetry-java-instrumentation

[2020-10-17 16:54] trask commented on #1393
And also we should probably add a note in README about this https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/1111#issuecomment-710764890

[2020-10-17 16:54] trask commented on #1111
got it, we have #1393 to improve the error message from the Java agent side, I just added a comment there about also updating doc to mention this

[2020-10-17 18:22] imavroukakis commented on #1376
I can take this on if you'd like.

[2020-10-17 19:25] billoneil opened #1409 "SQL Normalizer should allow normalizing IN queries"
When viewing SQL queries analytics/metrics I would like to treat queries containing an `IN` clause as equivalent regardless of the number of parameters passed in.

## Query 1
[code]

## Query 2
[code]

These two queries are identical functionally and just have a variable number of parameters passed in. It would be nice if these were automatically normalized to always have only a single `in (?)` or

[2020-10-17 20:01] trask commented on #1376
that would be awesome 👍

[2020-10-17 20:16] trask commented on #1409
This proposed behavior makes sense to me, I'd like to hear from others (cc: @johnbley)

The current implementation is in [SqlNormalizer.jj](https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/master/instrumentation/jdbc/src/main/javacc/SqlNormalizer.jj), and see [SqlNormalizerTest](https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/master/instrumentatio

[2020-10-17 23:10] asarkar commented on #1313
@trask

There are couple of hoops that I needed to jump through I wish were documented in the release notes.

1. `io.opentelemetry` and `io.opentelemetry.instrumentation` group artifacts are not in sync. The former has no `0.9.0` published version, but `0.9.1` (how does that make any sense???), while the latter has no `0.9.1` published version, but `0.9.0`. See https://oss.jfrog.org/artifactory/li

[2020-10-18 01:06] trask opened #1410 "Reduce scope of lazily loading under JBoss / custom log manager"
Instead of lazy loading the entire `TracerInstaller` under JBoss / custom log manager, we should lazy load only

* exporters (which often use Java SSL classes, which [started using java.util.logging in 8u232](https://bugs.openjdk.java.net/browse/JDK-8148188))
* jvm metrics (which use PlatformMBeanServer, which uses java.util.logging)

The advantage of not lazy loading the entire `TracerInstaller`,

[2020-10-18 03:44] benjaminhuo commented on #1111
Thanks for the update !

[2020-10-18 10:14] asarkar opened #1411 "KotlinProbeInstrumentation does precisely what gRPC Javadoc says not to"
[CoroutineContextWrapper.tracingSuspend()](https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/master/instrumentation/kotlin-coroutines/src/main/java/io/opentelemetry/javaagent/instrumentation/kotlincoroutines/KotlinProbeInstrumentation.java#L194):
[code]
Apart from saving the current context, the above code is equivalent to `Context.current().detach()`, which gRPC [Context.d

[2020-10-18 10:45] anuraaga commented on #1411
Thanks for reporting - I'm currently working on upgrading our sdk dependency to remove the grpc dep.

https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/1384

I also noticed the exact same issue about kotlon as you did while doing so. This context current detach seems strange to me but currently our unit test fails without it for some reason. I've left a TODO for now to expl

[2020-10-18 10:58] asarkar commented on #1411
@anuraaga I'm playing around with the Kotlin instrumentation, if I find something useful, I'll post here. Can you provide a link to the unit test so that I can see what it's doing?

[2020-10-18 11:25] anuraaga commented on #1411
Thanks - the stress test "test concurrent suspend functions" fails if detaching myContext.

https://www.github.com/open-telemetry/opentelemetry-java-instrumentation/tree/master/instrumentation%2Fkotlin-coroutines%2Fsrc%2Ftest%2Fgroovy%2FKotlinCoroutineInstrumentationTest.groovy

[2020-10-18 12:22] imavroukakis commented on #1376
I assume that there are no tests that catch this, am I correct? Looking at the existing ones, it looks like `db.name` is set to the correct value

![image](https://user-images.githubusercontent.com/1764981/96367309-fae9b280-1144-11eb-8c4e-32b8ee9535ed.png)

[2020-10-18 13:17] imavroukakis commented on #1376
Ah whoops, I see it
![image](https://user-images.githubusercontent.com/1764981/96368613-929ecf00-114c-11eb-88bc-1746cb3a1fbc.png)

[2020-10-18 21:20] trask opened #1414 "Standardize config property names"
I'd like to propose that we standardize config property names:

`otel.instrumentation.<instrumentationId>.*`

where `<instrumentationId>` is the instrumentation module name minus version suffix

This will match `otel.instrumentation.<instrumentationId>.enabled` which is used to suppress the instrumentation (#1412).

[2020-10-19 01:09] asarkar commented on #1411
@anuraaga It seems the current implementation is completely detached from fundamental design of coroutine scope/context. I think the trace should be propagated as a `CoroutineContext.Element`, like it is shown in https://github.com/openzipkin/brave/issues/820#issuecomment-447614394. In that regard, it should be similar to the `Job` hierarchy; see [Coroutine Context and Scope](https://medium.com/@e

[2020-10-19 01:18] trask commented on #1299
Found this in the [spec](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/semantic_conventions/http.md#http-server-semantic-conventions):

[2020-10-19 02:38] trask opened #1415 "Play instrumentation tests are not capturing route"
`PlayServerTest` overrides `expectedServerSpanName`, which shows it's not capturing the route (which `HttpServerTest` is expecting by default):

[code]

It seems that `PlayTracer.updateSpanName()` is not finding `ROUTE_PATTERN` needed to populate the route.

I think it may only be a problem with the tests, as it looks like `PlaySmokeTest` is capturing the route correctly.

[2020-10-19 02:53] trask commented on #1360
Any thoughts on whether `Context` should always be the first or last parameter to these Tracer methods?

[2020-10-19 04:24] iNikem commented on #1360
First

[2020-10-19 04:42] iNikem commented on #1409
I think makes sense in the case described by topic starter. But what if there is an inner query? `select * from table where col in (select c from table2)`

[2020-10-19 04:52] anuraaga commented on #1360
First sounds good to me too - just for reference, I generally order things that are mutated last if they exist, and have overloads have the same order, otherwise no personal ordering rules in my book.

[2020-10-19 04:58] anuraaga commented on #1411
The idea of using the element came up here

https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/1168#discussion_r483427587

I didn't have a strong enough reason to push forward on exploring it, but maybe we do want to reexamine this @johnbley.

[2020-10-19 05:14] iNikem commented on #1402
I don't think we should support building on java 8.

[2020-10-19 05:39] iNikem commented on #1388
You can try to submit a PR or two where some instrumentation tracers use those typed spans. We need a proof-of-concept/example usage to iron out all rough edges.

Do you have any ideas how to achieve that?

[2020-10-19 05:53] asarkar commented on #1411
I think having to use a hokey gRPC context should be strong enough indication to look for a more “natural” mechanism for coroutines.

[2020-10-19 06:20] #1278 closed

[2020-10-19 13:28] imavroukakis opened #1421 "JDBCCOnnectionURLParser creates ambiguous IPv6 address for shortUrl"
Given the following JDBC URL
`"jdbc:mariadb:loadbalance://[2001:0660:7401:0200:0000:0000:0edf:bdd7]:33,mdb.host/mdbdb"`

`shortUrl` becomes

`"mariadb:loadbalance://2001:0660:7401:0200:0000:0000:0edf:bdd7:33"`. This is not recommended as per https://tools.ietf.org/html/rfc5952#page-11 as it creates an ambiguous IPv6 address. In order to define a port with an IPv6 address in a URL-like manner it is

[2020-10-19 14:29] iNikem commented on #1421
Wait, what IS this `shortUrl`? I see we use it to set `db.connection_string` semantic attribute, "The connection string used to connect to the database". Why do we construct it in such a non-obvious way? See `io.opentelemetry.javaagent.instrumentation.jdbc.JDBCConnectionUrlParser#withUrl`

[2020-10-19 14:30] #1223 closed

[2020-10-19 14:36] johnbley commented on #1411
I'd certainly welcome a cleaner way to do this that passes the test - I tried several times/ways and was unable to get it to work.  As for the Context oddity - yes, unfortunately with the visibility points in question here the instrumentation has no idea what spans/contexts will be created during the course of the next continuation, so it needs to capture the context "as it is now" instead of assu

[2020-10-19 14:37] iNikem opened #1422 "Resteasy client leads to duplicate spanId injections into http headers"
I have a bug report from the client who sees multiple spanIds injected into outgoing http requests:
[code]

They use Resteasy-jaxrs 3.1.4.Final. By default Resteasy uses Apache Http Client (AHC) under the hood. When I add our `apache-httpclient-4.0` instrumentation as test dependency to `jaxrs-client-2.0`, all Resteasy tests started to fail:

[code]

The reason for this is two-fold. First, AHC ins

[2020-10-19 14:42] imavroukakis commented on #1421
My understanding is, and I may be way-off but bear with me, building a `DBInfo` object from a JDBC URL is subject to either a generic URL parser or a dedicated type parser and it gets delegated according to the protocol/db type parsed in the URL.
If that's not what you meant, are you commenting on the complexity of the particular `enum` or whether `shortUrl` makes any sense at all? 😄

[2020-10-19 14:54] iNikem commented on #1146
See #1422 . That bug would be found by our tests if we used full agent jar.

[2020-10-19 14:57] iNikem commented on #1421
We are almost on the same page. My confusion is about why do we take url, parse it and then combine it back to `shortUrl`? Why cannot we use the original url for `db.connection_string`? There should be easier way to strip potential user credentials, no?

[2020-10-19 15:34] billoneil commented on #1409
@iNikem You are correct this normalization function should not modify subqueries only remove excessive `?`'s. If this is implemented as a post-process step that also adds a few edge cases such as when a query is truncated to its max length we could have an incomplete query.

My initial thoughts on possible edge case input.
| Post-process Input  | Output |
| --------------------|--------|
|`select

[2020-10-19 15:40] imavroukakis commented on #1421
Right! I think this might be due to the non-standard way some additional properties are expressed on the URL, with `comma` or `semicolon` or `question mark` delimiters - and it's not just user credentials. So `shortUrl` is the basic combo of proto+subporto+hostname+port with all the rest of the options stripped out. Maybe @tylerbenson or @trask can provide a more coherent answer than mine.

[2020-10-19 17:52] #1376 closed

[2020-10-19 18:13] asarkar commented on #1411
@johnbley

I don't follow. It's the coroutine library's job to restore the context, just like it's the OS' job when threads are used. As long as OTEL relies on the context for propagation, where's the problem? The Brave code I linked to earlier does exactly that.

[2020-10-19 20:18] tylerbenson commented on #1421
Nice catch. @imavroukakis. I think #1403 is fine.  I admit when I wrote that parser, I was trying to cover as many cases as I could think of, but didn't consider this case.

[2020-10-19 22:46] imavroukakis commented on #1421
Thank you, I will aim to get around to trying my hand at a fix for this, day job permitting ;-)

[2020-10-20 00:29] jamal opened #1423 "Resource context is lost when an application is loaded dynamically (WAR)"
I'm investigating an issue where I provide a `ResourceProvider` implementation in my service that adds custom attributes (such as `service.name` and `service.version`), but are then not retained in any of the generated traces. This service is being deployed as a WAR, so it is loaded _after_ the initialization of the agent and thus the agent is not able to find this `ResourceProvider`.

Because of

[2020-10-20 01:55] trask commented on #1411
@asarkar would you mind submitting a PR for this? It sounds like there's agreement that this could be improved, and we just need a concrete proposal that passes the tests.

[2020-10-20 02:49] trask commented on #1394
@iNikem ya, unfortunately didn't catch this weird groupId since it was even outside of `io.opentelemetry`

[2020-10-20 04:23] trask commented on #1287
Does this proposal address the above concerns?
* `OTEL_EXPORTER` only applies to exporters that are bundled into the (otel or vendor) distribution
* add `List<String> getExporterNames()` to `SpanExporterFactory` and `MetricServer`
  * returning `List` e.g. allows OtelSpanExporterFactory to be enabled by both `otel_span` and `otel`

[2020-10-20 04:30] trask opened #1424 "Should we remove OTEL_EXPORTER_JAR in the future?"
Assuming that building your own Java agent distro with your own exporter is easy / well-documented (which it is not today), do we need to continue supporting `OTEL_EXPORTER_JAR`?

Not proposing that we remove it right away, as I know that New Relic is using this feature for now, but knowing its future will help us make some other decisions, e.g. https://github.com/open-telemetry/opentelemetry-java

[2020-10-20 05:19] asarkar commented on #1411
@trask It’s not yet clear to me how the proposal I made [here](https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/1411#issuecomment-711456437) would be implemented. Note that I’m interested in a library module that can be used without a javaagent. I tried an experiment locally but the [intercepts didn’t work](https://stackoverflow.com/q/64414060/839733).

[2020-10-20 08:00] imavroukakis commented on #1394
is this what you expected?
[code]
if so, it only requires adding `group = 'io.opentelemetry.javaagent'` in `javaagent-exporters.gradle`

In terms of checking it, maybe it's possible to tie a task to a stage that ensures the `group` variable begins with `io.opentelemetry`?

[2020-10-20 10:04] imavroukakis commented on #1394
I was thinking of something along these lines
[code]

which would result in

[code]

[2020-10-20 11:51] #1401 closed

[2020-10-20 11:52] iNikem commented on #1287
How can we/should we prevent vendor exporter to provide the same exporter name as one of the Otel's built in?

[2020-10-20 11:54] iNikem commented on #1424
I think we should. E.g. for situations where some user wants to use vendor distribution but still use external exporter due to specifics of their environment.

[2020-10-20 14:39] parallelstream commented on #1388
sure, I can do that

yes, hence the need for the marker interface. I was thinking of doing smith like this:
[code]

[2020-10-20 14:58] as-polyakov opened #1429 "Introduce instrumenters (and move away from just tracers)"
## Problem statement ##
we currently only do tracing in opentelemetry-java-instrumentaiton. We need to do metrics and potentially logs at some stage. For this we need another abstraction - "instrumented" to replace and extend whatever tracer is currently doing

## Proposed solution ##
Introduce Instrumenter instead of tracer, so for example this SpringWebMVC code changes from ([this place](https:/

[2020-10-20 16:31] fuleow opened #1430 "gRPC TracingServerInterceptor not added by the agent"
I have two services running the OTEL agent 0.9.0 with opentelemetry-sdk 0.9.1 and the first one calls the second using gRPC. The `TracingClientInterceptor` from the caller appears to be applied correctly because on the second service's debug logs I see the `traceparent` in the header.

[code]

I've enabled the logging exporter and see a span created, but this is from one of the methods manually an

[2020-10-20 16:31] mateuszrzeszutek opened #1431 "Standardize DB query normalizer property names"
Right now we only have one property for SQL (JDBC): `sql.normalizer.enabled`. How about renaming it to something like `otel.query.normalizer.<db>.enabled`, `otel.<db>.query.normalizer.enabled`? We could use separate config properties for each query normalizer that's used in the agent (enabled by default).

Regarding the `<db>` placeholder: should we use the `DbSystem` name or the query language na

[2020-10-20 17:41] johnbley commented on #1409
Yes, we can make the normalizer arbitrarily complex in the aims of reducing cardinality.  The sweet spot is definitely "more than we have now" since my first aim was preserving privacy/security in eliding values.  For this (list elision), in previous companies we grew very elaborate additions to the basics that this normalizer has.  Instead of keying on `in`, we found it easier to encode a state m

[2020-10-20 17:53] imavroukakis commented on #1394
I'm getting some interesting failures across the `instrumentation` module
[code]
are any of these supposed to have a group?

[2020-10-20 20:48] trask commented on #1431
Does it work to conform to `otel.instrumentation.<instrumentationid>.*` proposed in #1414?

E.g. `otel.instrumentation.jdbc.query.normalizer.enabled`

[2020-10-20 20:57] trask commented on #1287
Vendor distributions can pretty much do whatever they want, and it's not our responsibility(?)

[2020-10-20 21:26] vadeg commented on #1260
Since there was no movement so far and the ticket has not been assigned I created a PR.
Sorry @Anisha-28 if I took your ticket.

[2020-10-20 21:57] #1386 closed

[2020-10-21 00:19] trask commented on #1430
Hi @fuleow, thanks for reporting this! @anuraaga just noticed this same issue and is fixing in #1426 👍

[2020-10-21 00:41] trask commented on #1394
oh that's a good idea!

try putting that check for `groupId` in `publish.gradle` at the end of:

[code]

[2020-10-21 03:16] trask commented on #1409
Thanks @johnbley!

I like the idea of adding rules conservatively.

`in (?, ?, ...)` seems like a common issue, and the least controversial to normalize.

I also like idea of using the ellipsis to make it clear that we have done additional normalization beyond just masking values.

[2020-10-21 03:49] trask commented on #1274
I'm torn on this. It feels more like an optional feature of a given instrumentation, as opposed to a separate instrumentation. At the same time, I'm interested to keep the number of optional features down, and forcing this kind of split could help prevent these optional features from sneaking in too easily 😄.

So, yeah, 👍 on two separate modules: `jdbc` and `jdbc-datasource`.

[2020-10-21 04:04] trask commented on #1423
Hey @jamal!

So far, the agent only instruments OpenTelemetry API that is brought by user application, and doesn't instrument OpenTelemetry SDK that is brought by user application.

Which means that anything the user application does with the SDK is ignored by the agent, including samplers, span processors, resource providers, etc.

Would `OTEL_RESOURCE_ATTRIBUTES` work for you? Or do you need som

[2020-10-21 04:17] jamal commented on #1423
That makes sense, and was definitely my findings. I was trying to think of a way to work around the problem but it doesn't seem trivial.

I have worked around the basic problem by passing the attributes as jvm args as you suggested, but I'd like to be able to do this programmatically in the future to be able to package this into a library that the rest of my team can consume. But it's not a big re

[2020-10-21 04:28] trask commented on #1423
Current plans include making it easier (and well documented) how to build your own agent "distro" which supports customizing the (embedded) SDK, e.g. samplers, span processors, resource providers.

The downside to that approach is it requires always re-building your distro for each new version.

Another option that could work is to load resource providers from an external jar file, similar to how

[2020-10-21 04:32] github-actions[bot] opened #1433 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-10-21 05:46] asarkar opened #1434 "gRPC TracingClientInterceptor goes against gRPC recommendation"
@ejona86 said in [this comment](https://github.com/grpc/grpc-java/issues/7415#issuecomment-692886506):

However, that's exactly what happens in [TracingClientInterceptor.interceptCall](https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/master/instrumentation/grpc-1.5/library/src/main/java/io/opentelemetry/instrumentation/grpc/v1_5/client/TracingClientInterceptor.java#L62).

[2020-10-21 05:51] asarkar opened #1435 "Make opentelemetry-trace-span-key publicly visible"
gRPC context keys are compared using referential equality (see https://stackoverflow.com/a/57099181/839733). `TracingContextUtils.CONTEXT_SPAN_KEY` being `private`, it makes impossible to get the span out of the context without reflection hacks.
Please make it `public`, since that doesn't hurt anybody, and makes it possible for the client code to retrieve the span if they want to.

[2020-10-21 05:57] anuraaga commented on #1435
@asarkar Can't you use `TracingContextUtils.getSpan(Context)` to retrieve the span? Also FYI working on improving the API a bit in https://github.com/open-telemetry/opentelemetry-java/pull/1843

[2020-10-21 06:00] anuraaga commented on #1434
@asarkar Thanks for the note - yeah I don't see a way around it unfortunately. Apparently there is a more official way of tracing, but didn't get a response in it becoming a stable API, until which we can't really use it https://github.com/grpc/grpc-java/issues/2861#issuecomment-703998728

[2020-10-21 06:08] asarkar commented on #1435
I had missed `TracingContextUtils.getSpan(Context)`, closing this ticket.

[2020-10-21 06:08] #1435 closed

[2020-10-21 06:11] asarkar commented on #1434
@anuraaga Napoleon said: "If you want a thing done well, do it yourself." That's especially golden is the OSS world. 😄

[2020-10-21 06:54] trask opened #1436 "Instrumentation names for javaagent vs library instrumentation"
Should the instrumentation name be the same for both javaagent and library instrumentation?

E.g. `io.opentelemetry.grpc`

Or should they be different?

E.g. `io.opentelemetry.grpc` and `io.opentelemetry.javaagent.grpc`

We have the `telemetry.auto.version` resource attribute, but that will be applied to library instrumentation when running under the javaagent also, so I don't think we will be abl

[2020-10-21 07:59] iNikem commented on #1429
This may be an interesting idea to explore. But we certainly will not have a capacity for this before GA.

[2020-10-21 08:12] iNikem commented on #1287
To make it clear: so you don't see a problem if some vendor provides completely separate exporter which claims it is "otlp_spans"?

Well, less work for us :)

[2020-10-21 08:17] iNikem commented on #1430
@trask so this is closed by #1426 ?

[2020-10-21 08:40] imavroukakis commented on #1394
Possible fix with https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/1438 I'm just not sure I got the maven group name right.

[2020-10-21 08:52] pavolloffay commented on #1225
Commenting from https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/1408

The muzzle task could expose a property to configure classpath with `javaagent-tooling` and `javaagent-bootstrap` artifacts. E.g something similar to what ByteBuddy plugin does
https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/master/gradle/instrumentation.gradle#L36

[code]

[2020-10-21 08:54] pavolloffay commented on #1287
+1, it's their responsibility and they might do it to e.g. swap implementations

[2020-10-21 09:16] mateuszrzeszutek commented on #1431
Hmm, that sounds good. The only "problem" that I can think of is with Redis, which has multiple instrumentations - but I believe that if for some reason you want to disable sanitization then you probably know which Redis library you're using.

[2020-10-21 10:00] pavolloffay commented on #1402
Are there any specific reasons? We should document this with some rationale.

[2020-10-21 10:51] anuraaga commented on #1402
Runtime fixes are often backported but compiler fixes rarely are. For example, Java 8 doesn't support the excellent `-release` flag or richer javadoc.

Now that Gradle 6.7 let's us have full control of the Java used with building by going so far as to only support the latest version of Java released at the time - it'll have all the latest compiler features with basically no downside since Gradle i

[2020-10-21 12:12] iNikem commented on #1402
Support only the latest version is a little bit too extreme for me :) But I will not object to this, if you really want it. Current LTS seems like a sensible middle ground.

[2020-10-21 13:56] devinsba commented on #1436
From a code convention point of view, if you were to use the same packages for both then you could use package private classes and methods where classes need to be accessed from the agent. This also has the benefit of decreasing bytecode size

[2020-10-21 14:38] iNikem commented on #1422
Correction, AHC instrumentation DOES check if CLIENT span already exists.

[2020-10-21 14:57] mateuszrzeszutek opened #1443 "Apache Geode instrumentation should store normalized queries as db.statement"
The aim of this issue is to fix that and normalise the Geode query before it's added to span. Right now full query is used, without any sanitization at all. Geode uses SQL-like language for querying, so we can use the good old `SqlNormalizer` here - same as in the [Cassandra normalization issue](https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/1407).

[2020-10-21 15:08] mateuszrzeszutek opened #1444 "Couchbase instrumentation should store normalized queries as db.statement"
The aim of this issue is to fix that and normalise the Couchbase N1QL query before it's added to span. Currently Couchbase instrumentation stores the result of `toString()` in `db.statement`: e.g. `SimpleN1qlQuery{statement=SELECT mockrow}`. Putting the total lack of sanitization aside, I don't think the query class name is really needed here.
N1QL is another SQL-like query language and `SqlNormal

[2020-10-21 17:13] jamal commented on #1423
I think having an agent "distro" would make sense for some of the use cases I want to support, so it would be great to learn more about that.

With regards to the issues I'm facing here, the problem is with regards being able to support multiple applications since we load two WARs for two APIs. I know that your documentation calls out lack of support for this with how the agent is designed today.

[2020-10-21 22:48] fuleow commented on #1430
Thanks @trask I will close this issue. I've downgraded to 0.8.0 for now and it's working.

[2020-10-21 22:48] #1430 closed

[2020-10-21 22:59] atoulme commented on #1381
Thanks @trask that's helpful. Ideally I guess I'd like those metrics too. Does this mean I need to consider using the same pipeline for both metrics and traces?

[2020-10-22 04:17] github-actions[bot] opened #1448 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-10-22 05:01] trask opened #1449 "gRPC client spans are missing net.peer.* attributes"
At least one of `net.peer.ip` or `net.peer.name` is required https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/semantic_conventions/rpc.md#attributes

[2020-10-22 05:04] anuraaga commented on #1449
Think this is duplicate of #1338 :)

[2020-10-22 05:06] trask commented on #1449
I lost that brain cell too 😭

[2020-10-22 05:06] #1449 closed

[2020-10-22 05:22] #1260 closed

[2020-10-22 07:09] #1422 closed

[2020-10-22 07:22] imavroukakis commented on #1392
@anuraaga I took a brief look and the checkstyle plugin doesn't seem to be applied, even though `instrumentation:jdbc` has a section excluding source from checkstyle, it's a bit confusing 😆 . Having said that, there is a checkstyle module that should do what you're after, called `ForbidAnnotationElementValue`

It could look something like this
[code]

[2020-10-22 08:46] #1392 closed

[2020-10-22 08:53] github-actions[bot] opened #1452 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-10-22 10:33] #1394 closed

[2020-10-22 11:29] iNikem commented on #1452
Duplicates #1448

[2020-10-22 11:29] #1452 closed

[2020-10-22 11:32] iNikem commented on #1409
As we use sql query as span name we currently end up with span names such as `select t1.a as 1, t1.b as b, t2.c as c2 from ...`. Which blows cardinality. Therefore I _love_ @johnbley 's idea of context-free list elision which will take care of such columns enumerations.

[2020-10-22 14:22] iNikem opened #1453 "Fail to instrument gRPC server starting from version 1.33"
Recently released [gRPC version 1.33](https://github.com/grpc/grpc-java/releases/tag/v1.33.0) broke our instrumentation point: gRPC server builders don't extend `io.grpc.internal.AbstractServerImplBuilder` that we instrument. It is fairly easy to migrate to instrumenting new superclass `ForwardingServerBuilder`, but it is hard to prevent double instrumentation.

[2020-10-22 14:40] iNikem commented on #1402
Our [CONTRIBUTING.md](https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/master/CONTRIBUTING.md) says:

As we want to keep that way, I think this task can be closed.

[2020-10-22 14:40] #1402 closed

[2020-10-22 15:56] #1407 closed

[2020-10-22 16:17] csilcock opened #1456 "Netty Exceptions / Broken traces while instrumenting Kotlin/Ktor application with agent"
I've been evaluating opentracing/opentelemetry options for Kotlin/Ktor applications. My end goal is to instrument services to publish OpenTelemetry traces to Lightstep.

I noticed that there is support for [Kotlin Coroutines](https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/master/instrumentation/kotlin-coroutines/src/main/java/io/opentelemetry/javaagent/instrumentation/ko

[2020-10-22 16:31] ejona86 commented on #1434
I don't see how using a gRPC tracer solves the issue discussed here. The gRPC tracer is for low-level stream details, which is intended for _stats_. It could be used for tracing as well, but the choice relates to how retries should be handled and not an API restriction.

There doesn't appear to be much purpose to attaching the context to the current thread, so the solution seems to be as simple as

[2020-10-22 16:33] ejona86 commented on #1434
Note: it would be possible to "restore"/"unwrap" the original context in the listener, but that requires being aware of all callback possibilities which would break when new callbacks are added.

[2020-10-22 17:31] iNikem commented on #1146
Btw, @anuraaga have you thought already how will we get hold of the traces produced by tests?

[2020-10-22 18:15] #1433 closed

[2020-10-22 18:15] #1448 closed

[2020-10-22 21:11] vadeg opened #1458 "Replace hardcoded strings with API constants"
This is a follow up ticket after making #1375. There are a lot of hardcoded strings, e.g. `"net.peer.ip"`, `"net.transport"` used in different places. It would be nice to use constants instead of them.

## Tasks

- [ ] Replace all `net.*` constants (#1459)
- [ ] Replace all `enduser.*` constants (#1459)
- [ ] Replace all `http.*` constants
- [ ] Replace all `peer.*` constants
- [ ] Replace all `rp

[2020-10-22 21:12] vadeg commented on #1375
I think other constant can be also replaced. I created a follow up ticket for this #1458

[2020-10-23 02:18] anuraaga commented on #1434
@ejona86 Oops sorry I assumed client tracer has the `filterContext` like the server one does without the mentioned caveats but didn't actually look at the javadoc, my bad. Bogdan had suggested once we should be using the tracers, mainly for that method.

We want to be able to put the span inside the gRPC Context since that would allow them to use gRPC context propagation mechanisms like `Context.w

[2020-10-23 03:16] ejona86 commented on #1434
That method is _only_ necessary for a server tracer. For an `ServerInterceptor`, you can modify the Context on server-side and then use the convenience [`Contexts.interceptCall()`](https://grpc.github.io/grpc-java/javadoc/io/grpc/Contexts.html#interceptCall-io.grpc.Context-io.grpc.ServerCall-io.grpc.Metadata-io.grpc.ServerCallHandler-).

It's 100% supported. You can read the Context without issue

[2020-10-23 04:09] github-actions[bot] opened #1460 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-10-23 05:57] github-actions[bot] opened #1461 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-10-23 08:42] iNikem commented on #1458
Thank you for taking this! 🙏

[2020-10-23 08:45] iNikem opened #1463 "Agent SPI are not usable by application developer"
SPIs that we expose in `javaagent-spi` module cannot actually be used by an application developer, only by vendor who repackages the whole agent.

The first problem is that this module exposes SDK classes, e.g. `TracerCustomizer` exposes `io.opentelemetry.sdk.trace.TracerSdkManagement`. But module itself does not depend on SDK, so user has to add two modules to their pom/gradle.

Second problem is

[2020-10-23 09:51] marcingrzejszczak opened #1464 "Update to OpenTelemetry API snapshots"
Can you update the code to work with OpenTelemetry `0.10.0-SNAPSHOT` API?

[2020-10-23 09:58] marcingrzejszczak opened #1465 "Can't import the project"
I can't see any special instructions on how to import the project, however when I import it to Intellij I get

[code]

Should I do something special to import this project?

[2020-10-23 10:04] anuraaga commented on #1464
Yeah I've been working on it for a while in #1384, finally almost ready after a few BCI mishaps :)

[2020-10-23 10:42] anuraaga commented on #1465
I don't think there's anything special, I just opened the folder in IntelliJ. We have a massive amount of dependencies and what I have seen is flakiness that leaves the module corrupted locally and needed to remove that manually from the gradle store. Do you mind trying to remove this one and trying again?

[2020-10-23 10:43] anuraaga commented on #1465
Of course if you locally don't have any module named that, there is a bug in the configuration we need to squash, but for me it's currently ok.

[2020-10-23 10:44] marcingrzejszczak commented on #1465
Most likely you have a bug then cause I just imported the project and since I don't have that dep the project failed to import

[2020-10-23 12:48] iNikem commented on #1465
I have the same problem with the same file when I try to run `muzzle` locally

[2020-10-23 12:49] marcingrzejszczak commented on #1465
I hacked it around by doing this but that's ridiculous :P

[code]

[2020-10-23 14:50] RashmiRam commented on #1111
@genebean
To avoid flooding of these logs, I configured [`OTEL_IMR_EXPORT_INTERVAL`](https://github.com/open-telemetry/opentelemetry-java/blob/master/sdk/metrics/src/main/java/io/opentelemetry/sdk/metrics/export/IntervalMetricReader.java#L167) to be of higher value like `43200000`(12h). So that, the exporter is doing an export for every 12 hours. While doing export only, [the metrics were also col

[2020-10-23 16:54] #1375 closed