[2020-07-09 09:47] yue9944882 opened #655 "Encountering NPE on bootstrapping with java agent"
as is shown in the following, the error won't actually influence the tracer from running:

[code]

[2020-07-09 13:13] iNikem commented on #555
@anuraaga should this be closed by #562?

[2020-07-09 13:14] iNikem opened #657 "Document ota.endpoint.peer.service.mapping configuration option"

[2020-07-09 13:46] malafeev commented on #637
I see two options:
1. Add `tracemulti` which will mean `b3`, `b3single`, `tracecontext`:
[code]

2. Or another format:
[code]
It will mean user can specify which formats to use in multi propagator.

cc @carlosalberto

[2020-07-09 14:01] anuraaga commented on #555
Yup except #657 was definitely lacking, sorry about that. Will follow up with that issue.

[2020-07-09 14:01] #555 closed

[2020-07-09 14:09] anuraaga commented on #637
To make sure I understand, what's the difference between these in the proposal?

PROPAGATORS=tracemulti:b3,b3single,tracecontext

and

PROPAGATORS=b3,b3single,tracecontext

[2020-07-09 14:43] malafeev commented on #637
@anuraaga as I understand @carlosalberto proposed explicitly specify `tracemulti` keyword.

[2020-07-09 14:55] iNikem commented on #637
@carlosalberto please tell us, why have you done this? :)

[2020-07-09 16:12] carlosalberto commented on #637
This one extracts a single `SpanContext` at most.

This one extracts many `SpanContext`, if such formats are found in the carrier.

[2020-07-09 16:21] carlosalberto commented on #637
Also, for the `tracemulti` we can add additional logic, such as extract many formats, and only inject the first (or last) format (say, TraceContext).

[2020-07-09 16:40] malafeev commented on #531
please assign to me :)

[2020-07-09 17:21] iNikem commented on #637
Wow, I think that will be confusing for end users. Do we really need such separation?

[2020-07-09 17:25] carlosalberto commented on #637
The plan is to actually discourage the users from using the first case, by exposing the second case ;)

Observe that in general only a Propagator per signal should be specified, and the tracing case is a specific, given that are many formats around (and thus we may need to support a few or all of them).

[2020-07-10 05:13] iNikem commented on #597
It seems that this task is no longer about “renaming” but full-blown restructuring of the codebase.

And at least we have a hard requirement: separate artifact for manual instrumentations which does not touch agent parts.

[2020-07-10 05:15] trask commented on #597
Oh yes, good point, this issue has definitely meandered off course (on course?) 😂

[2020-07-10 05:42] iNikem opened #660 "Stop using Lombok"
Just an idea. Do we really want to use Lombok? Its presence requires a support from the IDE and sometimes it breaks. As for me now in latest IntelliJ IDEA EAP.

[2020-07-10 05:47] iNikem commented on #637
Are you sure you got the order right here?

Extracting many `SpanContext` does not make sense. You can have only 1 remote parent span. Can we just have `PROPAGATORS=b3,b3single,tracecontext` format and specify which one wins? It seems to me as the least surprising thing to do. And we are not GA yet, so it is Ok to change behaviour.

[2020-07-10 05:47] anuraaga commented on #637
I'm already confused, what does it mean to "extracts many SpanContext"? There can only ever be one `SpanContext` which corresponds to the new `currentSpan`. Is it just about multiple headers would overwrite each other? That doesn't seem so bad, is the concern performance?

This sounds like it would be easier to configure as two flags, `EXTRACTORS` and `INJECTORS`. Creating a magic flag with such s

[2020-07-10 06:08] iNikem commented on #637
@carlosalberto I think what you are saying here contradicts javadoc of https://github.com/open-telemetry/opentelemetry-java/blob/master/extensions/trace_propagators/src/main/java/io/opentelemetry/extensions/trace/propagation/TraceMultiPropagator.java. I mean, `PROPAGATORS=b3,b3single,tracecontext` format should work exactly as that javadoc says. I don't see any need for multiple formats here.

If

[2020-07-10 07:48] mnottheone commented on #374
My understanding is this has been released in 0.4.0. [Docs doesn't reflect these parameters](https://github.com/open-telemetry/opentelemetry-java-instrumentation#configuration-parameters-subject-to-change). <br>
Below should set sampler probability to 0.2 <br>
`java -javaagent:path/to/opentelemetry-auto-all.jar
     -Dota.exporter=zipkin
     -otel.config.sampler.probability=0.2
     -jar myapp.ja

[2020-07-10 07:55] mnottheone commented on #342
We need these docs about config parameters. My understanding is [1255](https://github.com/open-telemetry/opentelemetry-java/pull/1255) and [479](https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/479) has been released in 0.4.0. [Docs doesn't reflect these parameters](https://github.com/open-telemetry/opentelemetry-java-instrumentation#configuration-parameters-subject-to-cha

[2020-07-10 08:43] iNikem commented on #342
Of course we should update the docs. This issue is exactly about that :) Do you care to submit a PR and kick it off?

[2020-07-10 10:22] carlosalberto commented on #637
Hey hey. Will clarify a few things:

By doing:

[code]

You effectively get multiple formats support - but  if the carrier contains the three formats, it means `SpanContext` will be extracted three times. So this is a correct and valid scenario, but it's wasting cycles.

[code]

In this case, we create a `MultiTracePropagator` with these 3 formats, and extraction will stop/return when the first `S

[2020-07-10 16:35] iNikem commented on #637
How does the original propose make this easier?

[2020-07-10 18:56] trask commented on #660
👍 and tagged with a new tag "new contributor experience"

[2020-07-10 19:25] iNikem commented on #440
@trask @anuraaga I think we have agreed on this, that this should indeed be done. So I propose to close this issue by answering "yes" and following the actual implementation in #465

[2020-07-11 06:39] anuraaga commented on #440
Yup

[2020-07-11 06:39] #440 closed

[2020-07-11 10:28] iNikem commented on #614
Depends on #597

[2020-07-11 17:35] trask opened #663 "Update docs for 0.6.0 release"
* New artifact name `opentelemetry-javaagent-all`
  * README.md
  * CONTRIBUTING.md
* New snapshot repository location: https://oss.jfrog.org/artifactory/oss-snapshot-local/io/opentelemetry/instrumentation/auto/opentelemetry-javaagent/
  * CONTRIBUTING.md

[2020-07-11 18:50] trask opened #665 "Reduce sporadic test failures"
We have a separate issue tag to track individual "sporadic test failures", but I want to acknowledge here that all of those "sporadic test failures" also impact the new contributor experience, as it is confusing to submit your first PR and end up with a failing build due to a sporadic test failure.

I'm thinking not to tag all of the "sporadic test failure" issues also with "new contributor experi

[2020-07-11 19:01] trask commented on #637
Hey @carlosalberto, does it make sense for the `OTEL_PROPAGATORS` env var be defined at the spec level? e.g. https://github.com/open-telemetry/opentelemetry-specification/issues/572

[2020-07-11 19:03] trask commented on #564
this should be unblocked now that #662 is merged 👍

[2020-07-11 19:04] trask commented on #655
Hi @yue9944882, thanks for reporting this! I have submitted a PR to fix #664

[2020-07-11 19:21] trask commented on #599
This is a good point about Android.

We should probably target Java 7 for some manual instrumentation that is relevant to Android, e.g.
* OkHttp
* gRPC

It might be helpful to get some guidance from the Google team about Android support. @mtwo, @SergeyKanzhelev can you recommend a contact for us to discuss with?

[2020-07-12 03:48] trask opened #666 "Document standard OTEL_* environment variables / system properties that are supported"
We can copy-paste the relevant env vars that we support, and their meanings, from https://github.com/open-telemetry/opentelemetry-specification/pull/666/files (once that PR lands we can possibly link to the spec and remove the copy-paste).

Note: there may be some discrepancy between the spec names and the names that we support currently.

Splitting this out from #342, and that issue can be more t

[2020-07-12 03:51] trask commented on #342
I split out a more targeted issue specifically to document the standard OpenTelemetry env var / system properties that we support.

[2020-07-12 06:22] trask opened #668 "Rename two more modules / maven artifactIds?"
The `opentelemetry-api-beta` artifactId is different from other instrumentation, which all start with `opentelemetry-auto-*`, and the `opentelemetry-auto-annotations` artifactId is different, because it has no version:

<pre>
<b>opentelemetry-api-beta</b>
opentelemetry-auto-akka-http-10.0
<b>opentelemetry-auto-annotations</b>
opentelemetry-auto-apache-httpasyncclient-4.0
opentelemetry-auto-apache-

[2020-07-12 06:48] trask opened #669 "What to do with the opentelemetry-javaagent.version file?"
It seems to be unnecessary clutter in the jar root.

The version is already easily discoverable by people who want to find it via `META-INF/MANIFEST.MF`.

Proposal 1: Move it to the `io.opentelemetry.instrumentation.auto` package

Proposal 2: Remove it, and use "Implementation-Version" from `MANIFEST.MF`

Traditionally the reason for using a version file over `MANIFEST.MF` is that it survives in f

[2020-07-12 06:49] #655 closed

[2020-07-12 07:12] iNikem commented on #669
We log that version during startup. How easy it is to get it from manifest?

[2020-07-12 07:15] iNikem commented on #668
How about moving support for `WithSpan` annotation into `opentelemetry-api-beta`?

[2020-07-12 10:42] #564 closed

[2020-07-12 10:48] malafeev commented on #531
@iNikem @trask we also need this for Jaeger and Zipkin, but first of all it should be supported by opentelemetry-java.
Should we create separate issues?

[2020-07-12 12:21] iNikem commented on #531
A, please forgive my haste :) Reopened.

Are there corresponding issues in otel-java?

[2020-07-12 12:24] malafeev commented on #531
I didn't find issues in `otel-java` for Jaeger and Zipkin.
but because `otel-java` part is not done we cannot release it in 0.6.0.

[2020-07-12 18:53] trask commented on #531
Hey @malafeev, `ZipkinSpanExporter.Builder` looks like it supports standard config in otel-java 0.6.0, so we can do:

[code]

And it looks like `JaegerGrpcSpanExporter.Builder` also supports standard config in otel-java 0.6.0. It's not using the same `read...()` API, but we can do:

[code]

I will open issue in otel-java about using the same `read...()` API for `JaegerGrpcSpanExporter.Builder`, bu

[2020-07-12 19:09] trask commented on #669
I forgot, this is easy to get: `Agent.class.getPackage().getImplementationVersion()` reads Implementation-Version from the manifest

[2020-07-12 19:58] iNikem commented on #669
I honestly don’t think it is a problem worth solving :)

[2020-07-13 01:39] anuraaga commented on #668
The naming does seem confusing, especially once it's out of beta, our artifact name `opentelemetry-api-1.0` would look so close to that in a highly related project, making build files harder to read. Adding the normal `opentelemetry-auto-` prefix seems like a must, but one thought is, is it practical to use the agent without the module, which is handling the shading for us? We could merge it into

[2020-07-13 01:41] anuraaga commented on #669
Using the Manifest looks nice

[2020-07-13 03:47] malafeev commented on #531
yeah, and all exporters use own property names .

[2020-07-13 03:53] trask commented on #531
Ah, yes, that's ok, it looks like that's the direction things are going in https://github.com/open-telemetry/opentelemetry-specification/pull/666/files

[2020-07-13 04:19] trask commented on #668
At this point at least, `:instrumentation:opentelemetry-api-beta` is optional, and only applied if application is using manual instrumentation (either our manual instrumentation or straight OpenTelemetry API).

Can you open an issue to track this? I don't think I've run into this.

I'm mixed on this.

Both `WithSpan` and other annotations share the config property `traceMethodsExclude`, so that ma

[2020-07-13 04:29] iNikem commented on #668
It is always nice to read Trask’s train of thoughts :)

I don’t think separate module just for 1 annotation is justified.

[2020-07-13 04:30] iNikem opened #675 "Change configuration options prefix to “otel”"
Following https://github.com/open-telemetry/opentelemetry-specification/pull/666/files we should change the prefix of all our configuration options from `ota` to `otel`.

[2020-07-13 04:30] trask opened #676 "Use AutoValue for value classes"
In particular, when we removed Lombok, we replaced Lombok `@Data` classes with hand-written classes. In that PR it was discussed that it would be nice to replace these hand-written classes with AutoValue or Immutables-generated classes. Since the opentelemetry-java project uses AutoValue, it probably makes sense for us to use that as well (even though [I'm personally a big fan of Immutables](https

[2020-07-13 04:38] iNikem commented on #676
In both cases: what is the experience without IDE support? And how do IDEs support them?

[2020-07-13 04:41] anuraaga commented on #668
Ah I guess I got it because I use the API just to get the current span ID for some debugging. Dunno how representative of usage this is, but I'd be surprised if long term we can get away with users not using the API at all - one of the first things I'd do in the app is get the current span and stuff tags in for whether `client == ANDROID` vs `IOS` for a mobile API server for example. So I guess in

[2020-07-13 04:50] anuraaga commented on #676
For an SDK-type app (as opposed to a company's business logic) I would go with the philosophy that every API is still defined explicitly (I think AutoValue forces this, Immutables makes it optional). This means that, e.g., for a Builder we still define all its methods as abstract methods.

This means that for all usages of the class outside that file, it's all good, no red lines since the APIs are

[2020-07-13 05:22] trask commented on #668
Yeah, this instrumentation needs to be reviewed, I did not have a good grasp of context propagation when I wrote it.

Only if OpenTelemetry API is also on the classpath, due to https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/master/instrumentation/opentelemetry-api-beta/src/main/java/io/opentelemetry/auto/instrumentation/opentelemetryapi/GrpcContextInstrumentation.java#L6

[2020-07-13 05:27] anuraaga commented on #668
I didn't know about the benefits :P But yeah the suggestion was mainly about the published artifacts, and indeed it probably applies to other modules too.

[2020-07-13 05:31] anuraaga opened #677 "testing vs test-utils"
I noticed we have two test helper packages (?) `:testing` and `:utils:test-utils`. Is there a reason to separate instead of combining into one?

[2020-07-13 05:35] trask commented on #675
For language specific environment variables, that PR is suggesting

[code]

Some options (yay naming :smiling_face_with_three_hearts:):
* `OTEL_JAVA_AGENT_{FEATURE}`
* `OTEL_JAVA_AUTO_{FEATURE}`
* `OTEL_JAVA_{FEATURE}`

I think we are just talking about configuration options in [Config.java](https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/7fd607617b97c5e4ea62bffa979d8bd5a

[2020-07-13 05:37] iNikem opened #678 "Proposal: Use GitHub Actions for CI/CD"
Following open-telemetry/opentelemetry-java#1381

@anuraaga raised a concern if GitHub action infra can cope with our tests. I am willing to test this.

[2020-07-13 05:38] #531 closed

[2020-07-13 05:38] anuraaga commented on #678
@trask Has already done a lot of work on this, warning before duplicating work!

[2020-07-13 05:43] iNikem commented on #675
Definitely `OTEL_JAVA`

[2020-07-13 05:45] anuraaga opened #679 "Remove servlet dependency from :testing"
Many projects have to work around a servlet dependency in testing due to version issues. servlet seems too specific of a dependency for a generic testing helper to have.

[2020-07-13 05:48] iNikem commented on #678
Holding my horses...

[2020-07-13 05:49] trask commented on #668
Ok, based on discussion, a concrete proposal:

* Rename the module name to `:instrumentation:otel-api-beta` (I think it still helps to differentiate the module name even if we don't publish the artifact)
* Keep `:instrumentation:annotations` module name as is
* Move `WithSpan` instrumentation from `:instrumentation:annotations` to `:instrumentation:otel-api-beta`

I don't have much opinion about w

[2020-07-13 05:53] anuraaga commented on #668
LGTM - took a second look and just realized we support all these different annotations that's pretty cool. Might rename it to `external-annotations`, `vendor-annotations` or similar to make that more obvious with the move of `WithSpan`.

[2020-07-13 05:58] trask commented on #678
Check out my comments here: https://github.com/open-telemetry/community/issues/398#issuecomment-656302206

And my branch here: https://github.com/trask/opentelemetry-java-instrumentation/blob/github-actions/.github/workflows/build.yaml

I'd be happy for you to take a look at it.

Using a custom container was slow b/c it had to download it each time, so was thinking next to try to remove the custom

[2020-07-13 06:02] trask commented on #675
cc: @open-telemetry/java-approvers, we would like to share your namespace for language specific environment variables

[2020-07-13 06:13] iNikem commented on #678
Massive parallelism is impressive :) But I don't understand if this parallelism is independent from `Github Actions has max 20 parallel builds across the whole org`? Is it still one job?

Not sure I like that the whole matrix gets canceled if one cell fails :( Can this be configured?

Definitely +1 for removing custom container, if GitHub can provide us with all needed java versions. And we can th

[2020-07-13 06:20] trask commented on #678
Ah, no, that hit the max 20 parallel builds, and things backlogged.

I didn't get that far to even notice this. Yeah, that's too bad with our sporadic test failures. But good for conserving parallel builds if things are really broken.

I was testing it on a PR if that helps: https://github.com/trask/opentelemetry-java-instrumentation/pull/1

[2020-07-13 06:35] iNikem commented on #678
And we want to test with different java versions. So we have not 60 parallel jobs, but more like 200+

On a related note. I have started experimenting with speeding up our tests in https://github.com/open-telemetry/opentelemetry-java-instrumentation/compare/master...iNikem:faster-tests . So far I have around 30% decrease in run time for all tests. And I still have that nagging feeling about Gradle

[2020-07-13 08:56] donbeave opened #680 "CircleCI build is too slow (because no any Gradle cache was used)"
Hello!

https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-java-instrumentation/1841/workflows/8ede82ad-c596-4272-a1b6-b8140882deb5/jobs/13444/steps

This really take a lot of time for each build. What guys do you think about adding Gradle cache here, it will increase building speed by re-using already downloaded dependencies include Gradle distribution. This can achieve by usi

[2020-07-13 10:04] anuraaga commented on #663
New env variables too I think

I case it helps,

https://github.com/aws-samples/aws-xray-sdk-with-opentelemetry-sample/commit/7cab8ad33e12df408e9f3211e59bbcd30f9f45b2

[2020-07-13 10:30] iNikem commented on #680
@donbeave We already have #490 for Gradle build cache. I will close this issue as duplicate, if you don't mind. Please feel free to add your ideas to that issue :)

[2020-07-13 10:30] #680 closed

[2020-07-13 14:16] carlosalberto commented on #637
@trask Actually yes, let's work on this proposal there.

[2020-07-13 16:50] #663 closed

[2020-07-13 16:50] #549 closed

[2020-07-13 16:51] trask opened #683 "Replace occurrences of span.setAttribute(SemanticAttributes.ABC.key(), abc)"
E.g. replace

[code]

with

[code]

everywhere

[2020-07-13 17:19] iNikem commented on #532
@trask I think we have this question answered: our next release will be 0.6.0 and every release after that will align with otel-java version. As no actual work has to be done here any more, should we close this issue?

[2020-07-13 17:20] #532 closed

[2020-07-13 18:28] trask commented on #536
See #654 for another muzzle thing to investigate and doc

[2020-07-13 20:29] imduffy15 opened #684 "Scoped context not used in Kafka Producer"
I've wrapped my `producer.send` with a scope, it was my understanding this should set the context and as a result, the context's span should become the parent of the created span, however this doesn't appear to happen.

Sample code at https://github.com/imduffy15/opentelemetry-problem

[2020-07-14 00:15] trask commented on #684
Hi @imduffy15, thanks for the excellent repro!

Which version of the opentelemetry auto javaagent are you using?

We have some weird mismatches of which version of the javaagent works with which version of the opentelemetry-api (which I keep forgetting about).

We are aligning versions with the release that is going out later today, so that this new release `0.6.0` will work (only) with `open-tele

[2020-07-14 00:38] trask commented on #678
Semi-randomly ran across: https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#jobsjob_idstrategyfail-fast

[2020-07-14 00:42] anuraaga opened #688 "HttpServerTracer should not modify the actually returned status code"
Currently, when there's an exception but status is 200, it gets remapped to 500, but this is not reflecting the actual response (and can be completely wrong in protocols like gRPC).

https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/285d4b0f0e1828a7e6467d3103dba6468fbf4c01/agent-bootstrap/src/main/java/io/opentelemetry/auto/bootstrap/instrumentation/decorator/HttpServerTrac

[2020-07-14 02:04] trask commented on #688
For servlets, I think this behavior is correct (well, we should also check `!response.isCommitted()`, and we should also doc why), based on [servlet spec](https://javaee.github.io/servlet-spec/downloads/servlet-4.0/servlet-4_0_FINAL.pdf):

Agree that we should not apply this logic to other instrumentation.

[2020-07-14 04:54] #666 closed

[2020-07-14 05:21] trask opened #689 "Remove span.origin.type attribute"
I'm not seeing that it provides much value over other attributes which are already captured:

* `org.h2.jdbc.JdbcPreparedStatement` (`db.url` already tells us we are connecting to `h2`, though we don't capture whether it's a prepared statement)
* `forwardToCompileError_jsp` (`spanName` already has this info: `Render /forwards/forwardToCompileError.jsp`)
* `org.apache.catalina.core.ApplicationFilte

[2020-07-14 06:03] trask opened #690 "Update SpanAssert method names to reflect the underlying Span method names"
Update `SpanAssert` method names to reflect the underlying `Span` method names:

* assertSpanNameContains → assertNameContains
* operationName → name
* operationNameContains → nameContains
* spanKind → kind
* parent → hasNoParent
* parentId → parentSpanId

[2020-07-14 08:08] iNikem commented on #689
I am happy to remove all attributes which are not in semantic conventions and which meaning is not obvious. But it @tylerbenson has some time, we could ask him for historical reasons for their introduction.

[2020-07-14 08:45] anuraaga opened #691 "Programmatic injection of agent"
Some environments don't allow modifying JVM args to load an agent, such as FAAS (e.g., lambda). I randomly ran across an approach for injecting the agent by calling a method at the very first line of the app. It could be nice to support that here too

https://github.com/awslabs/disco/blob/master/disco-java-agent/disco-java-agent-inject-api/src/main/java/software/amazon/disco/agent/inject/Injector.

[2020-07-14 09:18] imduffy15 commented on #684
Hi @trask

Thanks for your help! I was able to recreate what you got by using the updated agent which is fantastic and resolves this issue. Thank you.

Out of curiosity, what change resulted in the fix? I was trying to go through the code and figure it out but wasn't able to determine it.

[2020-07-14 11:07] iNikem commented on #684
Otel-java is still, as we all, in a rapid development phase. API changes significantly from version to version. And this repo has to follow it closely in order to integrate properly. So mixing different versions of otel-java and instrumentation will most probably break tracing. Until GA, that is :)

[2020-07-14 14:31] tylerbenson commented on #675
This seems reasonable to me.  👍

[2020-07-14 14:43] tylerbenson commented on #689
I'm ok removing the `origin` attributes.  I do think it would be helpful to have a semantic attribute for this general concept at some point in the future, but it's not required.  Some of these attributes have been useful to me at some points when troubleshooting in identifying the source of a particular span, but that probably doesn't make sense in this project.

[2020-07-14 20:02] trask commented on #684
Hey @imduffy15, #662 is the PR that brought `opentelemetry-api` version `0.6.0` compatibility.

In particular, the changes in that PR in the `:instrumentation:opentelemetry-api-beta` module.

Basically, at runtime, we check if the instrumentation "matches" the shape of the api that we are instrumenting, and only apply the instrumentation if it matches. That's how we handle instrumenting different

[2020-07-14 21:26] trask commented on #287
These are done

[2020-07-14 21:26] #287 closed

[2020-07-14 21:27] trask commented on #304
Closing. The first item didn't go where I thought it would (see valid concerns raised in #513). The Second item is done.

[2020-07-14 21:27] #304 closed

[2020-07-15 00:49] justinfoote opened #697 "Implement database span semantic convention updates"
The semantic conventions for database spans was recently updated.  See:
https://github.com/open-telemetry/opentelemetry-specification/pull/575

The instrumentation needs to be updated with these new attributes.

Primary among them is `db.system`, which applies to all database spans.
Also some connection-level attributes and the call-level attributes:
* `db.name`
* `db.statement`
* `db.operation`

[2020-07-15 02:22] FrankSpitulski opened #698 "Servlet span has 500 tag but response was 403"
I threw an exception in an authentication filter and the default servlet error handler took over and sent a 403 response. I'd expect that the parent span show a 403 error (what the response contained) instead of a 500 error.

![image](https://user-images.githubusercontent.com/17055695/87495845-371dec00-c607-11ea-9905-ae1d147b9080.png)

[2020-07-15 02:36] trask commented on #698
Hey @FrankSpitulski, I assigned this to you as you mentioned on gitter that you may work on a PR. Keep us posted!

[2020-07-15 04:56] iNikem commented on #698
@FrankSpitulski I am just curious, why do you think this is not the same issue as #688 ?

[2020-07-15 04:57] trask commented on #691
This is possibly good motivation to keep using the more generic term `auto` instead of `javaagent` (except for the actual `opentelemetry-javaagent` artifact)

[2020-07-15 05:03] trask commented on #698
I see benefit to treating them separately, because I think it's more clear what to do in general (#688), but less clear what to do in this particular case (how do we know what status code an error handler will return after the servlet throws an exception?)

[2020-07-15 05:05] FrankSpitulski commented on #698
It very well could be. When I read #688 earlier I didn't realise it might have the same root cause since mine issue was caused by an error handler calling send response. I will keep that issue in mind to see if they can both be solved with the same PR.

[2020-07-15 05:05] iNikem commented on #163
As `servlet-common` has been taken care of, can we close this issue now, @trask ?

[2020-07-15 05:08] trask commented on #163
Yes! 🎉

[2020-07-15 05:08] #163 closed

[2020-07-15 05:24] trask commented on #536
Another interesting thing to doc: #696

[2020-07-15 16:57] malafeev opened #702 "OTLP exporter does not work on java8 starting from 0.6.0"
I attached log.
[log.txt](https://github.com/open-telemetry/opentelemetry-java-instrumentation/files/4926656/log.txt)
[log2.txt](https://github.com/open-telemetry/opentelemetry-java-instrumentation/files/4930359/log2.txt)

On of the errors is:
[code]

But there are more in the log.

[2020-07-15 17:14] trask opened #703 "Consistent way to set service.name for OTLP, Jaeger and Zipkin exporters?"
From https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/424#issuecomment-633109742:

The current way to set service.name is a little disjointed:

For OTLP exporter:

[code]

For Jaeger exporter:

[code]

For Zipkin exporter:

[code]

This may also require discussion/changes in opentelemetry-java.

[2020-07-15 17:17] trask opened #704 "Document OTEL_RESOURCE_ATTRIBUTES support in README"
Probably a new section, e.g. just above https://github.com/open-telemetry/opentelemetry-java-instrumentation#batch-span-processor.

Also, document how to use `OTEL_RESOURCE_ATTRIBUTES` to set the OTLP exporter `service.name` (probably directly within the OTLP config section, at least until #703 is resolved).

[2020-07-15 18:01] tedsuo commented on #703
This may be broader than just service names, since arbitrary resources need to be supported by all exporters. This is easy for OTLP, but confusing for Jaeger and Zipkin, which may or may not have equivalent concepts (I admit ignorance on this one).

In addition to not supporting arbitrary resources, these formats may have native concepts which map to specific resources. `service.name` is mentioned

[2020-07-15 18:05] iNikem commented on #229
I propose to close this issue. We have moved on from the time when it was filed.

#502 proposes _typed spans_ in their original form: classes with setter corresponding to semantic convention. This repo has already for some time used new _typed tracers_: classes that allow instrumentation writes to set right attributes at the right time. So I think @Oberon00 concern is actually resolved.

[2020-07-15 18:05] tedsuo commented on #704
Just to clarify, does the OTEL_RESOURCE_ATTRIBUTES still exist? It seems like it is an option for OTLP, but also seems like it was removed in PR https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/424 (I assume it still does exist, based on the existence of this issue 😄 )

Related, there is an effort to standardize these common env vars here: https://github.com/open-telemetry

[2020-07-15 18:17] trask commented on #229
Closing.

@Oberon00, @thisthat please feel free to comment here, we are happy to re-open and continue discussing.

[2020-07-15 18:17] #229 closed

[2020-07-15 18:24] trask commented on #683
Closing, it looks like this will be superseded by typed spans (#502)

[2020-07-15 18:24] #683 closed

[2020-07-15 18:43] iNikem commented on #683
_when_ we migrate all tracers/decorators to them :)

[2020-07-15 20:38] trask opened #706 "Sporadic test failure (1x): PeriodicSchedulingTest"
[code]

https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-java-instrumentation/1905/workflows/9023a70b-65b4-4f4e-97ea-d56e1a1c48ef/jobs/13665/tests

[2020-07-15 20:59] FrankSpitulski commented on #698
In the latest master branch this has been resolved. The root operation name is now ApplicationFilterChain.doFilter instead of the path and there is no longer any context (the exception) about why the 403 is sent but that's a different discussion since the response code accurately reflects what was sent.

[2020-07-15 20:59] #698 closed

[2020-07-15 21:46] heyams commented on #592
Please assign this issue to me. Thanks.

[2020-07-15 21:49] trask commented on #698
Great, thanks for the update!

[2020-07-15 23:20] trask opened #708 "Generate opentelemetry-javaagent "-all" artifact during "assemble""
Currently

[code]

does not generate the `-all` artifact.

Should we generate the `-all` artifact during `assemble`? (EDIT: based on @anuraaga's feedback below: yes!)

#707 is fixing `CONTRIBUTING.md` to accurately reflect the current state, but if we make this change then we can simplify `CONTRIBUTING.md` back to just running `assemble` in the future.

[2020-07-16 02:46] FrankSpitulski opened #709 "Support for ForkJoinPool"
The executor instrumentation appears to be broken (not passing parent context). Tested with latest master. Steps to repro:

[code]

Only one of the doer's spans was attached to the parent span from the top level method. The rest (19) of them had no parent.
This issue also occurs when using a bare .parallelstream() with the common pool.
~I also tested this with a fixedThreadPool(10) and got 2 of th

[2020-07-16 05:02] trask commented on #704
Hey @tedsuo, `OTEL_RESOURCE_ATTRIBUTES` wasn't removed in #424. That environment variable directly configures the OpenTelemetry Java SDK.

[2020-07-16 05:10] iNikem commented on #698
That is unexpected. Can you please share with us the similar picture of your new trace as in original report, @FrankSpitulski ?

[2020-07-16 05:14] trask commented on #703
Thanks @tedsuo.

I'm going to close this, it looks like this discussion is already in the works in the specification repo (https://github.com/open-telemetry/opentelemetry-specification/pull/666).

In particular, that PR only specifies `OTEL_RESOURCE_ATTRIBUTES` for setting service name across OTLP, Jaeger and Zipkin exporters.

Plus there's a proposal for a simpler way to set the service name (whi

[2020-07-16 05:14] #703 closed

[2020-07-16 05:22] trask commented on #608
Before anyone picks up this issue, it sounds span status may be going away https://github.com/open-telemetry/oteps/pull/123#issuecomment-656910549

[2020-07-16 05:38] trask commented on #211
Closing this now, good progress is being made on these topics in several other issues and PRs.

[2020-07-16 05:38] #211 closed

[2020-07-16 05:39] trask commented on #130
Closing this, it is very outdated, and not a very useful issue anymore.

[2020-07-16 05:39] #130 closed

[2020-07-16 05:43] trask commented on #45
Closing this now, good progress is being made on this in several other issues and PRs. And this issue has outlived its usefulness.

[2020-07-16 05:43] #45 closed

[2020-07-16 05:50] trask commented on #179
Closing this now as good progress is being made in several other issues and PRs related to the general approach to sharing instrumentation between manual and auto instrumentation.

[2020-07-16 05:50] #179 closed

[2020-07-16 05:53] trask commented on #133
Closing. This will be covered by the OpenTelemetry logging specification. If anyone would like this instrumentation to come back sooner, PR would be welcome.

[2020-07-16 05:53] #133 closed

[2020-07-16 06:06] FrankSpitulski commented on #698
@iNikem example auth filter failure with 0.7.0-SNAPSHOT compiled locally
![image](https://user-images.githubusercontent.com/17055695/87633085-96572b80-c6ef-11ea-88c2-ecd8e64f9c5d.png)

[2020-07-16 06:21] trask commented on #172
Closing, service name can be set via environment variables now for OTLP, Jaeger and Zipkin exporters.

[2020-07-16 06:21] #172 closed

[2020-07-16 06:23] trask commented on #326
Hoping we can close this soon if span status goes away https://github.com/open-telemetry/oteps/pull/123#issuecomment-656910549

[2020-07-16 06:24] anuraaga commented on #326
Technically we could probably close anyways I added that mapping a while ago I think.

[2020-07-16 06:29] trask commented on #326
Then closing!

[2020-07-16 06:29] #326 closed

[2020-07-16 06:32] trask commented on #340
Hey @tedsuo, do you still have access to this repro? Can you try with the latest release `0.6.0`?

If the issue persists, run with -Dnet.bytebuddy.dump=some/folder and it will dump all the class files that are transformed, and then post the class file that triggers the VerifyError.

If the source/class files cannot be posted publicly but can be shared privately, you can upload them here: https://w

[2020-07-16 07:00] trask commented on #50
Closing. The last two will be resolved by #575.

[2020-07-16 07:00] #50 closed

[2020-07-16 07:06] trask commented on #351
Mostly done, see #643, #653, #659, and some other earlier PRs too.

@iNikem @anuraaga do you want to keep this open? Once we remove all deprecated features, can we enable some kind of flag to fail the build if any creep back?

[2020-07-16 07:07] iNikem commented on #351
Yes and yes

[2020-07-16 07:22] trask commented on #511
I like this proposal.

Also, it addresses this part of #385:

[2020-07-16 07:29] trask commented on #557
Given that this is a lesser popular library, and this is not the most critical feature, I propose we just document this limitation in `khttp-0.1/README.md` and then close this.

[2020-07-16 07:35] iNikem commented on #511
And #496

[2020-07-16 07:38] trask commented on #511
Does it make sense to close this issue and move the proposal over to #496?

[2020-07-16 07:58] anuraaga commented on #708
I think we should - I work on this repo and even then every time I do assemble, hrm?, oh shadowJar.

[2020-07-16 08:09] malafeev commented on #702
even more strange: if I compile my application using oracle jdk-8 then I don't see traces in Lightstep dashboard,
but if with openjdk-11 then traces are available despite exceptions in the log

[2020-07-16 08:15] anuraaga commented on #702
On Java 11 it's probably falling back to JVM's HTTP/2 support so does seem to corroborate.

[2020-07-16 08:33] iNikem commented on #702
Compile??? Or run?

[2020-07-16 08:35] malafeev commented on #702
run

[2020-07-16 08:37] iNikem commented on #557
It would be nice to have some way to communicate "we closed this issue because we don't have bandwidth to address it, but we will gladly accept PRs for it" :)

[2020-07-16 09:08] iNikem commented on #698
@FrankSpitulski It would help us enormously if you could provide us with a small application demonstrating this problem. I think we have a bug which prevents root span from having proper name, but without actual working reproduction it is somewhat hard to find it.

[2020-07-16 09:21] anuraaga commented on #557
I agree (I think? :) ) with @iNikem that we probably shouldn't close issues in such case or they won't be visible for potential new contributors. Can we just add a backlog label along with help wanted?

[2020-07-16 09:26] iNikem commented on #557
Maybe this IS "help wanted"?

[2020-07-16 12:12] malafeev commented on #702
problem in shadowing of `io.grpc`.
If I remove next line from the _auto-exporters.gradle_:
`relocate "io.grpc", "io.opentelemetry.auto.shaded.io.grpc"`
then it works.

[2020-07-16 13:05] imduffy15 commented on #684
Hi @trask

Some further interesting behaviour with this and reproducible on the provided code.

[code]

passed as a `-Dota.trace.config` results in the following output:

[code]

note the traceparent is different.

[2020-07-16 14:14] #506 closed

[2020-07-16 16:22] tedsuo commented on #704
Derp, thank you!!

[2020-07-16 16:40] malafeev opened #713 "Document how to specify external exporter jar"
Document "-Dota.exporter.jar=" option

[2020-07-16 16:56] malafeev commented on #713
I'm curious why I still cannot set label, assign it...

[2020-07-16 17:00] #689 closed

[2020-07-16 19:45] trask commented on #713
Yeah, permissions is a problem. See https://github.com/open-telemetry/community/issues/397 and https://github.com/open-telemetry/community/pull/357 for hopeful solutions (cc: @tedsuo).

In the meantime, just post a comment if you want something assigned to you, and don't worry about adding labels.

[2020-07-16 21:02] trask commented on #702
Good find @malafeev!

I agree with your suggested fix 👍

[2020-07-16 21:22] trask commented on #702
For background on this, that shading was probably copied from `opentelemetry-javaagent.gradle` at some point, but it doesn't apply to exporter case, and potentially causes issue for exporters which use gRPC themselves. (not sure why it suddenly broke. we definitely need e2e tests using the exporters: https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/298#issuecomment-62881

[2020-07-16 21:38] trask commented on #684
Hey @imduffy15,

You also need

[code]

in order to get the OpenTelemetry API instrumentation itself (which provides interoperability with OpenTelemetry API that is brought by the application).

Can I ask your use case for enabling only specific instrumentation? That would help us understand how to document / address this better.

[2020-07-16 21:58] trask commented on #599
Decision made in SIG call today to drop Java 7 support except for OkHttp and gRPC manual instrumentation.

We haven't separated out OkHttp and gRPC manual instrumentation yet, but the decision to support Java 7 for those in the future does mean that we still need to target Java 7 for the `auto-bootstrap` module (at least until we split out something like `instrumentation-runtime-api` module from `

[2020-07-16 22:01] trask commented on #599
Oh yes, and if we find out there is other manual instrumentation that is important to the Android ecosystem, we can always transition that specific manual instrumentation back to Java 7 support.

[2020-07-16 22:06] trask commented on #336
Just documenting that someone else ran into this recently, definitely not a one-off problem: https://gitter.im/open-telemetry/opentelemetry-java-instrumentation?at=5f10ce93ff29b77732087fb3

[2020-07-16 22:12] trask opened #714 "Drop Java 7 except for manual instrumentation that is important to Android ecosystem"
This has been discussed for a few weeks now in #599 and in the weekly meetings.

Agreement has been made to drop Java 7 except for manual instrumentation that is important to the Android ecosystem.

Our initial list of manual instrumentation that is important to the Android ecosystem is OkHttp and gRPC, but we can always add more manual instrumentation to this list as we receive feedback (and bump

[2020-07-16 22:13] trask commented on #599
Closing this discussion, and tracking the resulting action item in #714

[2020-07-16 22:13] #599 closed

[2020-07-16 22:30] FrankSpitulski commented on #698
@iNikem here you go https://github.com/FrankSpitulski/rest-api-example

[2020-07-16 23:06] anuraaga commented on #714
For reference other instrumentation I found that are probably relevant are

- Apache http
- Google http client (well, not sure how useful this instrumentation is in general we'd actually want Google API clients instrumented)
- khttp (because kotlin)
- rxjava

[2020-07-16 23:26] trask commented on #677
Probably separation was/is needed in dd-trace-java repo, but I don't see need in this repo. Looks like we can merge `:utils:test-utils` into `:testing`.

It looks like we can probably get rid of `:utils:test-utils:` also:
* CommonTaskExecutor
  * move to `auto-tooling` where it's used
  * also used in `GrpcTest` but this looks like it could be replaced there with standard executor
* DaemonThreadFa

[2020-07-17 00:50] FrankSpitulski commented on #482
Just tried disableShadowRelocate=true, it does not appear to restore the .classdata files to .class.

[2020-07-17 02:58] #702 closed

[2020-07-17 03:15] trask commented on #536
Another good thing to doc: https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/701#issuecomment-659814186

[2020-07-17 03:16] trask commented on #536
And another: https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/694#issuecomment-659000584

[2020-07-17 04:44] trask commented on #709
Thanks @FrankSpitulski!

I was able to reproduce this via our test infra, by adding a test to `CompletableFutureTest`:

<pre>
  def "test parallel"() {
    when:
    runUnderTrace("parent") {
      IntStream.range(0, 20)
        <b>.parallel()</b>
        .forEach({ runUnderTrace("child") {} })
    }

    then:
    assertTraces(1) {
      trace(0, 21) {
        basicSpan(it, 0, "parent")
        (

[2020-07-17 05:05] iNikem commented on #709
@trask Unless you are already fixing it, I would like to take it.

[2020-07-17 05:06] trask commented on #709
Nope, all yours 👍👍

[2020-07-17 05:40] iNikem opened #716 "Too eager muzzle tasks"
When you try to run `muzzle` task in just one instrumentation, Muzzle plugin still collects candidate library versions for all available instrumentations. This processes takes more than couple of minutes and is completely unnecessary. Probably need to move version resolution from Gradle configuration phase to Gradle runtime phase.

[2020-07-17 07:35] iNikem opened #717 "Play 2.3 and 2.4 instrumentations are almost identical"
Investigate if these two instrumentations can be merged into single one. An extra bonus if 2.6 can be merged as well.

[2020-07-17 07:37] iNikem commented on #698
Thank you very much @FrankSpitulski! I will take a look at this.

[2020-07-17 08:44] iNikem opened #718 "Spring MVC does not update server span name in case of security validation failure"
Reproducible example is here https://github.com/FrankSpitulski/rest-api-example

When Spring Security filter denies request from proceeding, the name of `SERVER` span created by `Servlet3Instrumentation` is not updated to route string and remains to be `ApplicationFilterChain.doFilter`.

Not sure if routing information is available in request processing during security validation. Should investiga

[2020-07-17 08:45] iNikem commented on #698
Filed #718. Thank you @FrankSpitulski once again for this report.

[2020-07-17 09:07] anuraaga opened #720 "Remove log instrumentation"
I randomly looked at the logging instrumentation and found `experimentalLogCaptureThreshold`. I'm not aware of anything close to this style of converting logs to ~0 duration spans in OpenTelemetry specs and suspect this is carried over from datadog. Does it make sense to remove this instrumentation to prevent confusion?

[2020-07-17 11:15] imduffy15 commented on #684
Thank you, I did not figure that one out, was more suspect of the java_concurrent or classloader integrations.

Sure, so we are introducing opentelemetry in a distributed system that communicates using Kafka. Its a mixed language environment of Java, Lua and Python. For the moment, the focus is to get all Kafka interaction in the Java components instrumented and to ensure the traceId is being pass

[2020-07-17 12:26] RashmiRam opened #722 "Lost default configuration for OTLP exporter endpoint"
Upon further digging, it is found out that endpoint to otel exporter to be configured via env var else results in the following error.

Stacktrace for reference
`[opentelemetry.auto.trace 2020-07-17 17:27:26:373 +0530] [main] ERROR io.opentelemetry.auto.bootstrap.Agent - Throwable thrown while installing the agent tracer
java.lang.reflect.InvocationTargetException
	at sun.reflect.NativeMethodAcces

[2020-07-17 13:15] iNikem commented on #722
I would very much prefer to revive default configuration, which was lost during updating auto exporter factories to latest otel-java version.

[2020-07-17 13:16] #713 closed

[2020-07-17 16:47] #557 closed

[2020-07-17 16:50] trask commented on #720
I added the logger instrumentations 😄. The are definitely out of spec. I can maintain them outside of this repo if no one else wants them.

[2020-07-17 17:11] iNikem opened #723 "Use new Span.recordException method"
When open-telemetry/opentelemetry-java#1430 gets implemented, update Decorators/Tracers to use it.

[2020-07-17 18:24] trask commented on #722
Thanks for reporting this @RashmiRam!

@iNikem makes sense to me 👍

[2020-07-17 18:42] iNikem commented on #722
Now the question remain, where and how to plug that default value. I started to think that we should do that in otel-java repo. If otlp exporter is selected, and endpoint is not provided, then use the default one.

[2020-07-17 23:03] heyams commented on #629
Please assign this task to me.

[2020-07-18 00:47] FrankSpitulski opened #727 "Adding servlet http.response_content_length as per spec"
https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/semantic_conventions/http.md#common-attributes

[2020-07-18 00:47] FrankSpitulski commented on #727
https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/726 closes this issue

[2020-07-18 03:54] anuraaga opened #728 "Have master branch depend on OTel time-stamped snapshots?"
Given there's a lot of work being put into the spec, e.g., #723, I wonder whether instead of having the otel-snapshot branch just make master depend on the snapshots until GA? I think it's fairly common to do SNAPSHOTs for dev, non for release, and is codified in maven-release-plugin and gradle-release-plugin. This would allow us to keep up faster which changes in the spec and probably speed up to

[2020-07-18 04:36] iNikem commented on #728
So far we have the majority of development happening on master branch. Meaning that it does not depend on latest and greatest of otel-java. Yes, we implement latest changes with some delay, but I don't think this is a big problem yet.

It may be a good idea when GA nears, but if we break our main branch every day now, it will slow us down.

[2020-07-18 04:46] anuraaga commented on #728
Ah I meant depending on the specific snapshot version, and we could update that whenever there's a new API we need, so it shouldn't result in automatic breakage. For example, looks like this

https://github.com/aws-samples/aws-xray-sdk-with-opentelemetry-sample/blob/both-otel-and-xray/dependencyManagement/build.gradle.kts#L41

Would that address the concern? I think it could in general speed thing

[2020-07-18 05:07] iNikem commented on #728
But it is still a snapshot version? It changes every time otel-java merges to main branch. E.g. today we have broken snapshot branch due to upstream changes.

[2020-07-18 05:10] anuraaga commented on #728
Nah the version points at the specific published artifact which has a timestamp-based version, so it wouldn't change even when -java has commits added.

[2020-07-18 05:13] iNikem commented on #728
A, now I understand :) Who and when updates that?

[2020-07-18 05:16] anuraaga commented on #728
I would say whoever wants to implement a new SDK API would update when they want to start on it in the instrumentation. Doesn't have to be a formal schedule but just to unblock work on new features.

[2020-07-18 05:19] iNikem commented on #669
_IF_ this is a problem, then reading from Manifest seems fine to me. Vendors are free to provide there our version strings with or without Otel versions

[2020-07-18 08:35] huntc commented on #599
I understand that having Android support is nice, but how essential is it for this particular project? Might it be more appropriate to develop an entirely new Kotlin based project and leverage its native capabilities e.g. coroutines etc?

[2020-07-18 12:52] #660 closed

[2020-07-18 13:21] donbeave commented on #676
I can make a switch to AutoValue, if everybody agree to use AutoValue for such case. Personally I’m big fan of Immutables, it looks less verbose than AutoValue and can do the same things (https://dev.to/cchacin/immutables-autovalue-lombok-which-one-2j33). In my opinion not need to align with opentelemetry-java in this particular case.

[2020-07-18 18:47] trask commented on #728
I like it. It will make it much easier to do work that crosses both repos (cc: @jkwatson).

If we can have a nightly build against latest SNAPSHOT, that would help us to be proactive about breakages (e.g. in the API shim), so when someone wants to update the SNAPSHOT version to use a new feature they don't have to struggle with those breakages.

My only concern is reproducibility of the builds (e.

[2020-07-19 04:53] anuraaga commented on #720
Ah if there's a clear owner I'm less concerned :) It seems like an interesting feature but should it be migrated to use events instead of creating new spans? (I'm guessing it comes pre-events). Having events for warning messages on my failed span seems quite cool!

FWIW, the reason I stumbled upon them is wanting to implement ID injection into logs. From what I recall, there was talk about speccin

[2020-07-19 05:18] anuraaga opened #730 "Flag latestDepTest dependency configuration behind a property"
Sometimes IntelliJ will resolve all the dependencies of `latestDepTest` because it uses dynamic versions. This takes a long time and is not helpful at all during development so it would be nice if we can avoid it. I think it would allow us to consider reenabling source jar downloads for dependencies too which we recently disabled.

Most projects have a lot of duplication between defining dependenc

[2020-07-19 17:31] trask commented on #720
See #212 for why they are captured as spans for now instead of events.

ID injection into logs would be great, see #133 for some history on that. Agree this is an important feature that we can implement here even if not spec'd 👍

[2020-07-19 17:50] trask commented on #714
Adding [comment](https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/599#issuecomment-660450015) here from @huntc

I'm escalating in tomorrow's OpenTelemetry maintainer meeting to see if Google wants to have a hand in guiding our Android story.

[2020-07-19 17:51] trask commented on #684
Thanks @imduffy15, appreciate the info!

[2020-07-19 17:51] #684 closed

[2020-07-19 18:00] trask opened #731 "GA requirements and prioritization"
Trying to draft GA requirements and prioritization. This is just a starting place. Looking for feedback here. Will also discuss in this Thu meeting. Thanks!

P0 (e.g. cannot GA without these):
* End-to-end tests
  * OTLP, Jaeger and Zipkin
  * Tomcat, Wildfly, Spring Boot
  * All Java LTS versions + latest Java version if non-LTS
* Benchmarking
  * Startup overhead benchmark
  * Runtime overhead b

[2020-07-19 18:42] trask commented on #676
You convinced me about Immutables (it did not take much :joy:). Google's AutoValue was chosen for the opentelemetry-java project by a Googler at the time, so I think reasonable for us to make an independent choice.

[2020-07-20 01:20] anuraaga commented on #676
I generally prefer Immutables too! And while it has some cool features like prehash, I don't know if we'll use it. But I disagree about verbosity - for a project with many contributors and new ones coming, we should still err on the side of less magic. It means I think we should define the builder API - this keeps all the magic in one file, the value file, while all other code in the codebase is n

[2020-07-20 01:35] anuraaga commented on #720
Thanks for the link - yeah I sort of figured that's the reasoning. My thoughts are

- Adding events to spans seems very enriching, especially for failure spans. I could see this becoming spec'd some day too as a poor man's alternative to ID correlation in the backend as it makes sense within the data model.

- Sending logs as spans even without a currentspan seems like it's a replacement for a log

[2020-07-20 03:47] trask commented on #676
Thanks @anuraaga. That makes sense to me.

@donbeave are you still up for doing this with AutoValue? if so we will assign this issue to you 👍

[2020-07-20 04:48] trask commented on #720
My needs match the [logs vision otep](https://github.com/open-telemetry/oteps/blob/master/text/logs/0092-logs-vision.md#standalone-and-embedded-logs) (capturing logs both inside and outside of spans).

The logging instrumentation brings this functionality for me today, because I can map the spans back to our own logging data model in the exporter.

But I agree this is totally out-of-spec, and is g

[2020-07-20 04:53] #592 closed

[2020-07-20 05:19] trask opened #733 "How best to capture response attributes in HttpServerTracer"
Opening this to track issue raised at https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/726#discussion_r456943732

One option to start discussion:

* Add a fourth(?!??) generic parameter to HttpServerTracer:

   <pre>
   HttpServerTracer&lt;REQUEST, <b>RESPONSE</b>, CONNECTION, STORAGE&gt;
</pre>

* Pass `RESPONSE` in to `end`/`endExceptionally` instead of `responseCode`
*

[2020-07-20 05:22] anuraaga commented on #731
This list seems sort of arbitrary. Is it P0 to test 3 servlet implementations? My suggestion based on back-of-hand estimation of popularity nowadays is one servlet, spring-boot, and grpc, while others could be P1 or P2

This feels lower than P0, maybe P2.

I don't think I've ever seen such detailed documentation per-instrumentation in other tracing libraries. More docs is always better than less,

[2020-07-20 05:40] trask commented on #731
Hey, sorry, I realized opening this as an issue was short-sighted due to lack of threaded conversation and how to make updates. Do you mind re-adding your comments on this PR? #734

[2020-07-20 05:40] #731 closed

[2020-07-20 05:43] anuraaga commented on #733
Ah yeah this came to mind randomly. I think `RESPONSE` is required for most instrumentation and would add it as a parameter. I feel as if CONNECTION and STORAGE can be merged into REQUEST or RESPONSE somehow though I haven't given it detailed thought.

[2020-07-20 05:45] anuraaga commented on #733
For reference, we've run into corner cases in brave for things that feel like they should be part of request, but end up not being known until processing and because of the instrumented library not available at first, so we add them to response, like the route (`/users{userId}` type of URL)
https://github.com/openzipkin/brave/blob/master/instrumentation/http/src/main/java/brave/http/HttpResponse.j

[2020-07-20 06:41] anuraaga commented on #714
Just for some color for the conversation, I would say the vast majority of our API is very simple and works well with any Java version or runtime.

`getTracer`
`startSpan`
`currentSpan`
`Span.tag` etc

The comment about coroutines comes from considering the return value for results in `Exporter` in the SDK, not about instrumentation (I directed to the instrumentation issue just as a source of cont

[2020-07-20 06:55] donbeave commented on #676
@trask yes, I’m in.

[2020-07-20 09:53] anuraaga opened #736 "Markdown spotless should also be per-project"
I always get confused by the fact that all markdown in the repo is checked by the top level spotless check, even when the file is in a subproject. Presumably this also reduces the chance for up-to-date checks to work. Is it possible to make markdown in a subproject also checked by the subproject's spotless?

[2020-07-20 13:09] carlosalberto commented on #702
Hey @trask do you think a patch release will be possible, containing this fix? Or shall we wait for 0.7.0?

[2020-07-20 16:08] bogdandrutu commented on #714
@arminru @Oberon00 I know you had a requirement for Java 7

[2020-07-20 17:10] Oberon00 commented on #714
The Java 7 requirement is mainly for the SDK and API. While it would be nice if the auto instrumentation also worked on Java 7, we currently have no plans for using it there.

[2020-07-20 18:44] trask opened #737 "Apply trace.classes.exclude only to annotation instrumentation"
The similarly named `trace.methods.exclude` only applies to annotation instrumentation.

I thought (incorrectly) that `trace.classes.exclude` also only applied to annotation instrumentation as well.

Do we want `trace.classes.exclude` to apply to all instrumentation? This seems dangerous as we have some instrumentation which works together (and can be turned on/off with the same "instrumentation n

[2020-07-20 18:50] trask commented on #714
@Oberon00 we are also baselining library instrumentation to Java 8, except for library instrumentation that is important to Android ecosystem (e.g. OkHttp, gRPC).

[2020-07-20 19:11] iNikem commented on #737
Yes, we do. This flag is meant to exclude a class from **all** instrumentations. Thus the second point is in fact invalid: if class is excluded, it is excluded from all instrumentations.

This configuration options is the only way that I know of to achieve 2 things:

- completely silence spans from a given class/package
- quick workaround for an instrumentation bug, when byte code in one specific

[2020-07-20 20:22] heyams opened #738 "Sporadic test failure (1x): Muzzle Failure"
[code]

https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-java-instrumentation/1992/workflows/1e985872-a4b7-4293-bbb6-dea039534910/jobs/13918

[2020-07-20 20:26] heyams commented on #738
Can someone label it as 'sporadic test failure'?  I am not able to label it. Thanks.

[2020-07-20 20:29] heyams opened #739 "Fix warnings during './gradlew clean assemble'"
$ ./gradlew clean assemble

Inferred project: opentelemetry-java-instrumentation, version: 0.7.0-SNAPSHOT

Note: C:\git\heyams\opentelemetry-java-instrumentation\agent-bootstrap\src\main\java\io\opentelemetry\auto\bootstrap\instrumentation\decorator\OrmClientDecorator.java uses or overrides a deprecated API.
Note: Recompile with -Xlint:deprecation for details.

Java Compiler Compiler Version 4.2 (

[2020-07-20 20:30] heyams commented on #739
Can someone label it as 'contributor experience' or 'cleanup'?  Thanks.

[2020-07-20 21:06] trask opened #740 "Remove org.gradle.parallel=true from gradle.properties"
Currently we have `org.gradle.parallel=true` specified in our `gradle.properties`. This makes my machine grind to a halt during the builds. I can fix this by adding `org.gradle.workers.max` to my `~/.gradle/gradle.properties`, but I'm not sure that `org.gradle.parallel=true` provides the best new contributor experience.

[2020-07-20 21:23] trask commented on #737
Makes sense.

It would still be nice to resolve the confusion between `trace.classes.exclude` and `trace.methods.exclude` looking similar but not having the same behavior.

Some options:
* Make `trace.methods.exclude` also apply to all instrumentation
  * This doesn't seem to be a needed feature though
* Rename `trace.methods.exclude` to `trace.annotation.methods.exclude` (or similar)
  * This mig

[2020-07-20 22:29] trask commented on #736
I think this is because we have markdown outside of gradle modules that wouldn't get checked otherwise. Maybe we could scope down the top-level check to just `*.md,docs/**/*.md` (we don't have any markdown under `docs` yet, but we will soon #734).

[2020-07-21 01:21] trask commented on #458
In case anyone is interested in picking this up, please see https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/master/CONTRIBUTING.md#writing-instrumentation

[2020-07-21 01:24] trask commented on #405
Closing, it looks like this was done in #185

[2020-07-21 01:24] #405 closed

[2020-07-21 02:03] trask commented on #616
@anuraaga can we close close this now in favor of #728?

[2020-07-21 02:07] trask commented on #340
Closing, but please comment here if you are able to get hold of this info, and we will re-open and investigate further.

[2020-07-21 02:07] #340 closed

[2020-07-21 02:08] anuraaga commented on #616
Yup

[2020-07-21 02:08] #616 closed

[2020-07-21 04:53] iNikem commented on #740
This is extremely curious, as this is the first project that I participate in that bogs developer machine down. I really would like to understand why is this happening.

Without `parallel` local build will be very long. But at least it will end... If we remove it, I think we should at least reference Gradle documentation about configuring it locally.

[2020-07-21 06:24] trask commented on #702
What do you think @iNikem, want to test out the patch release steps?

[2020-07-21 07:31] FrankSpitulski opened #744 "Exporter Configurability/Deferred Registration"
Use case: configure an exporter (and ideally other otel properties) with the spring environment, including remote properties present after the bootstrap phase

I have a hacky implementation as follows and can provide snippets if desired:
There is a proxy span exporter module to give to otel during the agent bootstrap whose jar is shaded and contains the real exporter as well. There is another modu

[2020-07-21 08:43] iNikem commented on #702
We can do that, but I personally will not have a capacity to troubleshoot it (if needed) until I deal with my "faster tests" :)

[2020-07-21 10:21] anuraaga opened #745 "Docker environment should have more than 2GB free disk space"
Ran into this on my mac for spymemdtest. It uses testcontainers, and I guess I use docker enough for other stuff that my VM gets full with the default 60GB on mac. We should at least document the usage of testcontainers, requirement of docker, and what to do when seeing this exception (docker prune or raise VM disk size in docker settings).

[2020-07-21 10:32] anuraaga commented on #740
Same as @iNikem I've dealt with a couple of large Gradle projects before and parallel has never brought my system down like this one does. I suspect something wrong with our build - I have 4 hyperthread cores so I'd expect either 4 or 8 parallel tasks given the [default](https://docs.gradle.org/current/userguide/build_environment.html) is supposed to be num CPUs, but this build has 12 parallel tas

[2020-07-21 16:50] trask commented on #588
Include that `InstrumentationContext` can only be used inside of advice (https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/746#discussion_r458243293)

[2020-07-21 17:04] heyams commented on #697
Please assign this to me.  Thank you!

[2020-07-21 17:28] iNikem commented on #669
Have we an agreement?

[2020-07-21 18:46] RashmiRam commented on #566
@iNikem I am able to add custom attributes to a currentSpan() programmatically. I have a dropwizard app with few custom **_ContainerRequestFilter_**. I have added the following code changes and it seemed to add this custom attributes to jetty server span(as that was the current span while I accessed it in my ContainerRequestFilter).

`Span currentSpan = OpenTelemetry.getTracerProvider().get("any-n

[2020-07-21 18:50] iNikem commented on #566
That is a great question. While setting attributes on span seems totally fine, I feel uneasy about your way of getting hold to Tracer instance. @trask can you comment on that?

[2020-07-21 18:59] RashmiRam commented on #566
I am able to add spans to the current context as well.

  `Span mySpan = null;
    Tracer tracer = OpenTelemetry.getTracerProvider().get("any-name-it-doesn't-matter");
    Span currentSpan = tracer.getCurrentSpan();
    try(Scope scope = tracer.withSpan(currentSpan)) {
      mySpan = tracer.spanBuilder("Creating my Span").setSpanKind(Span.Kind.INTERNAL).startSpan();
      mySpan.setAttribute("my_c

[2020-07-21 19:07] trask commented on #566
Oh yes, you don't need a `Tracer` to get the current span 👍

[code]

If you are adding child spans you will need a `Tracer`, and in that case the name may be relevant since some exporters will add the tracer name to the child span.

[2020-07-22 00:01] trask opened #748 "Don't run latestDepTest on PRs"
`latestDepTest` runs the instrumentation tests against the latest versions of the instrumented libraries that are found in maven central.

This can break CI any time a new version of an instrumented library is released (sometimes due to the instrumentation being incompatible, and sometimes due to the tests themselves being incompatible with the new version).

This can be confusing for contributors

[2020-07-22 00:23] trask opened #749 "Review all latestDepTestLibrary versions that have an upper limit"
`latestDepTestLibrary` implicitly uses the latest version available in maven central, e.g.

But sometimes we have to apply an upper limit for one reason or another.

E.g.

[code]

where the upper limit is needed because we have separate instrumentation for `6.0`.

And

[code]

where the upper limit is needed in order to avoid an alpha version `6.0.0.M1`.

And sometimes the upper limit is needed be

[2020-07-22 00:39] trask opened #750 "Remove opentelemetry-javaagent.version and use MANIFEST.MF Implementation-Version"
See discussion #669 for background.

[2020-07-22 00:40] trask commented on #669
Yes, I think so, opened #750 with this action item and closing this discussion.

[2020-07-22 00:40] #669 closed

[2020-07-22 00:56] trask commented on #744
Wow, nice setup 😄. It sounds like you are already doing #691, which is something we are interested in also.

Calling `OpenTelemetrySdk.getTracerProvider().addSpanProcessor(...)` directly from application code is difficult for us, because we have to bridge everything between class loaders, and so the span processor will be less efficient.

In it's place, we want to make it easy to build your own op

[2020-07-22 01:34] anuraaga commented on #748
Ah I completely forgot about this, and had the same idea. I recommend nightly - this is to catch breakage when a dependency releases their new version, and it's extremely rare for a dependency to release multiple versions in a day. We can catch most conceivable breakage with nightly I think.

[2020-07-22 03:00] anuraaga opened #752 "Store un/shaded gRPC Context in the Context itself?"
In #611 @iNikem found that performance of field vs context for storage often leans towards context being faster. There are some questions about environment, etc in the benchmark, but as a simple case, does it make sense to at least store the bridge Context using Context instead of `InstrumentationContext` (a mouthful :D)? I ran into this issue in #746 where @trask may still point me at some magic

[2020-07-22 04:39] iNikem commented on #752
Can I ask for an explanation, why do we have 2 contexts here? Shaded/unshaded? Does it mean that we want to have a separate gRPC Context which is totally separate from the one that application potentially uses?

[2020-07-22 04:55] iNikem commented on #748
I would support nightly, but the current state of affairs shows, that we mostly ignore failures from nightly builds :( I will add a separate issue about notifications

[2020-07-22 04:57] iNikem opened #753 "Create an issue if nightly build fails"
We postpone several of mandatory code checks to nightly builds, e.g. #748 . But nightly build failures are very easy to ignore. Should at least create a new issue whenever build fails. Probably requires #678

[2020-07-22 05:10] iNikem commented on #739
This is duplicate for #351 , closing this one

[2020-07-22 05:13] iNikem commented on #727
Closed by #726

[2020-07-22 05:13] #727 closed

[2020-07-22 05:26] anuraaga commented on #377
A piece of context from me is even if we don't have detailed text templates, it is useful to have buttons like "Bug", "Feature Request" that at least add the labels automatically.

[2020-07-22 07:00] iNikem commented on #737
I propose to rename `trace.methods.exclude` to `trace.annotated.methods.exclude` and to change our doc to speak about two `exclude` options separately.

[2020-07-22 10:49] anuraaga opened #754 "Package rename: io.opentelemetry.auto.instrumentation -> io.opentelemetry.instrumentation.auto"
Boring but I think we do need to make this change to match our artifacts and follow the general pattern of a common prefix for packages in a project.

[2020-07-22 11:00] anuraaga opened #755 "Adding auto instrumentation after library instrumentation requires building the shadow jar"
Since auto instrumentation depends on the shaded version of the library, you need to run e.g., `:shadowJar` in the library project before IntelliJ can find the classes. We need to document this.

[2020-07-22 11:27] anuraaga opened #757 "Certain libraries (ones that use lots of lambdas?) take minutes to instrument"
Noticed in #756 that applying java_concurrent takes forever for the Armeria tests.

[2020-07-22 12:47] iNikem opened #758 "Span scope leak in Netty?"
Take a look at this test:
https://scans.gradle.com/s/bzlajo7zdsyto/tests/:instrumentation:vertx-reactive-3.5:latestDepTest/client.VertxRxCircuitBreakerWebClientTest/trace%20request%20without%20propagation%5B0%5D#1

[code]

Nett 4.1 client span `HTTP GET id=f28db3b75231bf7d traceid=54fecd6fe7f6d7e0ac9222e0b9ba20ff parent=7259fc6436859eb3` has parent span Id which is certainly not the paren span.

[2020-07-22 17:37] #728 closed

[2020-07-22 17:43] trask opened #760 "Rename trace.methods.exclude to trace.annotated.methods.exclude"
And to change our doc to speak about two exclude options separately

* trace.classes.excludes - applies to all instrumentation, useful for:
  * completely silence spans from a given class/package
  * quick workaround for an instrumentation bug, when byte code in one specific class is problematic.
* trace.annotated.methods.exclude - applies only to annotation instrumentation, useful for:
  * if you

[2020-07-22 17:43] trask commented on #737
Great, I like that. Opened #760 for this change, and closing this.

[2020-07-22 17:43] #737 closed

[2020-07-22 17:51] trask commented on #739
@iNikem is this a duplicate? e.g. does #351 cover fixing javadoc warnings and "uses unchecked or unsafe operations" warnings?

[2020-07-22 18:11] iNikem commented on #739
A, not that, indeed :) Reopening this one

[2020-07-22 19:54] trask opened #761 "Remove "remove unnecessary this to field and method" from Save Actions recommendation in CONTRIBUTING"
See @iNikem's https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/742#discussion_r459038391

[2020-07-22 20:25] FrankSpitulski opened #762 "TracerCustomizer packaging"
io.opentelemetry.auto.bootstrap.spi.TracerCustomizer should be in the contrib.auto package like io.opentelemetry.sdk.contrib.auto.config.SpanExporterFactory so that it can be imported by other projects. I've worked around it by copying the file with the same package name into my own initializer jar.

[2020-07-23 00:32] FrankSpitulski opened #764 "Opentracing Shim Propagation Errors"
The https://github.com/open-telemetry/opentelemetry-java/tree/master/opentracing_shim throws the following errors when it tries to inject context, but this is supposed to be a supported use case as per @trask's guidance. I invoked this by using the 0.6.0 agent, and shim and performing an okhttp opentracing request.

[code]

[2020-07-23 02:08] trask commented on #752
Sorry, I had been meaning to dig into those findings, because they didn't align with my expectation.

Tracked down the issue today, the `StorageKey` class which was being used as the `InstrumentationContext` key, was part of the instrumentation itself, and so it wasn't being instrumented itself, and so the field was not being added to it, and so `InstrumentationContext` was falling back to a map.

[2020-07-23 02:10] trask commented on #752
We need shaded gRPC context to match our shaded OpenTelemetry API, which are all in the bootstrap class loader. Application may or may not bring unshaded OpenTelemetry API. If they do bring unshaded OpenTelemetry API then we do the bridge dance.

[2020-07-23 03:29] #629 closed

[2020-07-23 04:56] anuraaga commented on #762
This makes sense to me. I wonder should we move that package to this repo? If it's for configuring auto instrumentation, not sure why it is living in the SDK (and even claims to be merged into the SDK itself at some point :O)

https://github.com/open-telemetry/opentelemetry-java/tree/master/sdk_extensions/auto_config

[2020-07-23 05:27] anuraaga opened #765 "AgentTestTrait can't be used when instrumenting something initialized by ClassRule"
For example, Armeria provides junit integration that makes it easy to start / stop a server during a test. But if we use it, we can't test instrumentation of that server because it will be loaded before our trait, which runs bytecode instrumentation. This isn't the end of the world, since we can forward to the classrule lifecycle methods from Spock lifecycle methods, but if there's a better soluti

[2020-07-23 05:29] anuraaga commented on #752
Now that the numbers are convincing, let me go ahead and close this :) It was tedious propagating the store down from the bytecode manipulation method but not terrible.

[2020-07-23 05:29] #752 closed

[2020-07-23 05:31] anuraaga commented on #757
This was solved by not using a ClassRule to initialize the server in the linked PR. I'm not sure why that triggered the slowness but I think this was not actually indicative of normal behavior. @trask or someone please reopen though if you think this could actually happen in real code.

[2020-07-23 05:35] anuraaga commented on #757
Oops nevermind, looked at the wrong test >< Yeah still slow

[2020-07-23 05:38] anuraaga commented on #757
Sorry for the noise! Accidentally had a change that was eager loading the server again. Yes it seems to only happen when classes are loaded before the traits.

[2020-07-23 05:38] #757 closed

[2020-07-23 05:43] trask opened #766 "Support looking up a `ContextStore` from outside of Advice"
I haven't thought through this, but I think it should be possible to add support for this.

It would be one less confusing thing about writing instrumentation.

And it would make the OpenTelemetry API bridge slightly more efficient instead of having to pass around the ContextStore from the Advice to the Span.Builder where it is needed.

See https://github.com/open-telemetry/opentelemetry-java-inst

[2020-07-23 05:46] trask commented on #757
😅

[2020-07-23 05:55] anuraaga opened #767 "Reconsider not using cache for muzzle"
We currently don't use a cache for muzzle

https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/master/.circleci/config.yml#L125

I think many of muzzle flaky failures happen when downloading artifacts though. We should verify that not using a cache is actually helping more than hurting.

An idea also is to use a custom command for caching using `lz4` - I've found it to work g

[2020-07-23 06:59] trask opened #769 "Consider trimming down GlobalIgnoredTypesConfigurer"
There are a lot of exclusions in `GlobalIgnoresMatcher`.

Some are overly-broad, e.g. https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/646#discussion_r451248713.

Some we could probably remove, e.g. the APM vendor packages.

And there's not a lot in the way of tests for many of these ignores.

If we are going to do this, I think it would be best to do before GA, as I'd be

[2020-07-23 08:17] iNikem commented on #767
Can we consider this problem in scope of #678 ?

[2020-07-23 09:26] anuraaga commented on #767
Yeah if we take care of it in an action that works well.

[2020-07-23 14:06] iNikem opened #771 "Play instrumentations does not work as expected"
Play instrumentations for all version has a functionality of changing root span name to the route of the request, see e.g. https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/master/instrumentation/play/play-2.4/src/main/java/io/opentelemetry/auto/instrumentation/play/v2_4/PlayDecorator.java#L35

But even tests themselves expect totally different name of the server span: http

[2020-07-23 17:05] trask opened #772 "Move sdk_extensions/auto_config from otel-java repo to this repo"
I think the original thought was that we wouldn't have any public API in this repo, but that's changing (e.g. #597), so it probably makes sense to move [sdk_extensions/auto_config](https://github.com/open-telemetry/opentelemetry-java/tree/master/sdk_extensions/auto_config) from otel-java repo to this repo and publish along with other instrumentation artifacts.

[2020-07-23 17:05] trask commented on #762
Good point, created #772 to move it here

[2020-07-23 20:50] trask commented on #753
hey @Brandon-Kimberly! do you have any suggestion for how to automatically create a github issue if our nightly build fails? Ideally, it would not keep spamming issues if we do not fix it for a few days, but that could be a future enhancement. @iNikem just submitted a PR that is adding Github actions nightly build: #775

[2020-07-24 00:41] FrankSpitulski opened #776 "HttpServlet Tag Enhancements"
I think we should also tag headers, query params, and maybe fragments in the servlet spans. I'd be happy to implement this.

[2020-07-24 00:42] FrankSpitulski opened #777 "Internal Span Tag Enhancement"
I'd like the Kind.INTERNAL spans to tag their parameters and maybe their return values. I'd be happy to implement this.

[2020-07-24 01:00] trask commented on #776
hey @FrankSpitulski! I forgot about https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/v0.6.0/agent-bootstrap/src/main/java/io/opentelemetry/auto/bootstrap/instrumentation/decorator/HttpServerTracer.java#L133, see if this is what you are looking for around query params/fragments

[2020-07-24 01:06] trask commented on #776
for http headers, are you looking to capture standard headers like http host and user agent, or others?

[2020-07-24 01:08] trask commented on #777
can you give a concrete example of what you're looking to capture? thx!

[2020-07-24 01:11] FrankSpitulski commented on #776
That is exactly what I'm looking for. Standard headers are good. I'd also like to tag the rest of them if possible. Looking at the query parameter setting, maybe it can be similar such as a verbose headers flag.

[2020-07-24 01:16] FrankSpitulski commented on #777
Two cases- the first being the internal span of a servlet's controller method. I'd like to be able to see which (java, not query) parameters were passed into this method.
![image](https://user-images.githubusercontent.com/17055695/88352957-9ae39b80-cd10-11ea-861b-6540b4b07fa7.png)

the second case is @WithSpan methods. I'd like to be able to see their parameters too.

[2020-07-24 01:28] FrankSpitulski commented on #777
With respect to what I'd like to capture, I'd like to see their toString representations.

[2020-07-24 01:32] FrankSpitulski commented on #777
given the method
[code]
if I call it as
[code]
I'd like to see `params.arg="1"` and `params.objectWithNoToStringDefined="Object@12345"`

[2020-07-24 03:45] trask commented on #776
i just realized that query param/fragment are already part of `http.url`. do you need those captured separately as well? i'm kind of wondering if we can drop those config settings i linked to above (and associated attributes), since they aren't defined by the [http semantic attributes spec](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/semantic_conve

[2020-07-24 04:07] FrankSpitulski commented on #776
It's helpful to have them as separate tags so I'd like to keep that behaviour. For the name value pairs I'd suggest http.headers.{header}.

[2020-07-24 04:10] FrankSpitulski commented on #776
What sort of plans are there for this subclassing? Will users have to fork and repackage the repo?

[2020-07-24 04:28] anuraaga commented on #753
I'd generally start with looking at awesome actions

https://github.com/sdras/awesome-actions

Looks like there's a create issue from file action there.

Not sure of a good way to avoid refiling the same issue but I'd be ok with it even if it refiles.

[2020-07-24 04:29] iNikem commented on #776
I am very reluctant of adding all headers as span attributes. They may contain sensitive data such as authorisation tokens and even password in case of Basic Auth. It will not be trivial to know which headers to skip.

[2020-07-24 04:30] iNikem commented on #776
We want to provide a way for vendors (or anybody in fact) to build their own distribution of instrumentation agent, bundled with custom functionality. Adding custom headers is one of the standard use-cases we want to support.

[2020-07-24 04:37] trask commented on #776
So, no forking. Instead, the ability to create your own project that consumes opentelemetry-javaagent as a dependency, along with your custom stuff, and produce your own agent jar.

For subclassing the HttpServerTracer specifically, we want to have some kind of lookup (SPI) so when we instantiate those singletons, you can provide your own subclass.

[2020-07-24 04:43] iNikem commented on #777
I have two concerns here. One, is the amount of data. Recording parameter values may add significant amount of data to span. Second is security. Method parameters may contain sensitive information and I don't think we should record them.

[2020-07-24 04:46] #575 closed

[2020-07-24 04:53] trask opened #778 "Support for subclassing instrumentation Tracers in custom distributions"
Use some kind of lookup (SPI) to instantiate the instrumentation Tracer singletons so that they can be subclassed in custom distributions.

This will enable people to capture additional attributes from standard Request/Response type objects, e.g. https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/566#issuecomment-655942298, https://github.com/open-telemetry/opentelemetry-j

[2020-07-24 05:07] FrankSpitulski commented on #776
That sounds pretty reasonable. I'll give the standard headers a go in the meantime.

[2020-07-24 05:12] trask commented on #777
I could see something like this as part of `@WithSpan`.

Glowroot's equivalent annotation allows you to define a template for the span name, which I found very useful:

[2020-07-24 05:13] FrankSpitulski commented on #777
How about a flag inside the @WithSpan annotation that enables it on a per method basis?

The internal controller span is a different story though since it is automatically created. I think it is very useful to know what parameters the controller is called with. The info is mostly available in the parent servlet span, in the case of path and query parameters at least, but they are not parsed out an

[2020-07-24 06:10] iNikem commented on #776
Do you want to add them only for servlet based spans or for all SERVER spans? What are standard headers? `Authorization` is a standard http header that we should NOT record.

[2020-07-24 07:12] anuraaga opened #779 "HttpServerTest only supports auto instrumentation"
Currently, `HttpServerTest` can only be used with auto instrumentation because it inherits from `AgentTestRunner`. It will be nice to provide a pattern that can be used for manual instrumentation, as per our current pattern of having a shared abstract test class for manual and auto instrumentation.

[2020-07-24 07:16] FrankSpitulski commented on #776
I was planning on adding them in the http server tracer, not sure if that covers all server spans or if there are non http servers instrumented. I'll refer to the spec for which headers to cover.

[2020-07-24 07:48] iNikem commented on #723
@anuraaga As you did open-telemetry/opentelemetry-java#1430, do you want/plan to do this soon as well? Or I can take it. I want to close this in the next few days if possible :)

[2020-07-24 08:00] anuraaga commented on #723
Yup I'll get it :)

[2020-07-24 09:06] iNikem commented on #767
Do you want to have a separate cache for muzzle job?

[2020-07-24 09:19] anuraaga commented on #767
Interesting, didn't think about that. I think if we can use a faster compression, like lz4, it wouldn't matter. But if we can't, then we can potentially offset the size of the muzzle cache (every version of every dependency) vs the fact that muzzle runs much faster that other tests by having a separate cache.

[2020-07-24 18:54] trask opened #782 "Fix JMH benchmark project so that it can run in CI"
Currently there are some hard-coded paths to make tests run with/ and without/ the javaagent, so some work is needed before they can run in CI.

[2020-07-24 23:24] trask commented on #722
I submitted PR to add this default in otel-java, and will carry over here once it's merged (btw @anuraaga I really like that we are on snapshot versions of otel-java now, way more motivating to submit PRs upstream in otel-java!)

[2020-07-25 10:54] #589 closed

[2020-07-25 10:55] #704 closed

[2020-07-25 12:56] iNikem opened #787 "Context leak in Tomcat"
`TomcatServlet3TestDispatchAsync.test success with 4 requests` test fails constantly in Github Action https://github.com/open-telemetry/opentelemetry-java-instrumentation/actions?query=workflow%3A%22Nightly+build%22 . The reason for a failure can be seen from this log:
[code]

As you see, `TEST_SPAN`, created by `HttpServerTestAdvice.ServerEntryAdvice`, has a parent span, which is unexpected. It h

[2020-07-25 12:58] iNikem commented on #787
I am still unable to reproduce that locally. But it happens with 100% probability during GitHub Action.

[2020-07-25 19:48] trask opened #789 "Should we make "test" task also run "integrationTest"

[2020-07-25 19:52] trask opened #790 "Should we make the "test" task also run "integrationTest" task?"
I started to update the contributing docs to reflect that we now have two testing tasks to run, and I ended up wondering if it makes sense to have the `test` task depend on the `integrationTest` so that everything can be run using the `test` task?

And if we want a way to run non-`integrationTest` tests separately, maybe add `unitTest` and have `test` depend on both of those?

EDIT: motivation for

[2020-07-25 19:58] trask commented on #787
Nice find!

What do you think of adding instrumentation on `AsyncContext.start(Runnable)` that propagates the context directly to its Runnable (somehow), and then creates empty Scope (Context), so that Context won't propagate any further down and pollute the servlet container's thread pool?

And also create empty Scope (Context) inside of `AsyncContext.dispatch()` to not pollute servlet container

[2020-07-26 02:07] anuraaga commented on #790
I think so - we separated out `integrationTest` to work around issues with instrumenting the JVM, not to run the suites separately so it'd be simpler to have `test` run everything.

[2020-07-26 04:27] trask commented on #787
I guess the real question (that you are asking) is why the Context is getting stuck in the thread pool threads in the first place, since the Runnables which run in those thread pool threads should start/close their scopes and not leave anything behind for future workers.

Makes sense to get to the bottom of that instead of just hiding the problem via my ideas above.

Carry on 😄👍

[2020-07-26 04:42] trask opened #791 "Document the STORAGE parameter in HttpServerTracer"
It is confusing when/if you need it, e.g. https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/756#discussion_r459842332

Suggest to use `Void` if you do not need the `STORAGE` parameter for propagating the context to async handlers

[2020-07-26 05:19] anuraaga opened #793 "Content length for servlet response sometimes recorded as 0"
Content length for servlet responses is sometimes being recorded as 0. For now we have ignored that case in the assertions.

https://github.com/anuraaga/opentelemetry-auto-instr-java/pull/2#discussion_r460479702

[2020-07-26 05:34] trask opened #794 "Mark SpanWithScope as deprecated and document new recommendation in it's javadoc"
Originally, we used `SpanWithScope` to pass the span and scope between `@Advice.OnMethodEnter` and `@Advice.OnMethodExit`, e.g.

[code]

[code]

We are (slowly) migrating to a new pattern using `@Advice.Local`:

[code]

[code]

This new pattern has the following benefits:
* The new pattern is more efficient since it doesn't require instantiating the `SpanWithScope` holder object
* The new pattern

[2020-07-26 09:08] iNikem commented on #787
Here is an example:
[code]
The key element here is that every `run` method creates and executes next unit work. As `pool.execute` always happens _inside_ the current scope, either manually created or by auto-instrumentation, all Runnables carry the same span context.

Seems like "works as expected". But if this is similar to how Tomcat works (I believe so at the moment), then some of those workers

[2020-07-27 02:29] anuraaga opened #796 "Advice on injecting advice into app classloader"
I noticed we're currently injecting `Servlet3Advice` here

https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/master/instrumentation/servlet/servlet-3.0/src/main/java/io/opentelemetry/auto/instrumentation/servlet/v3_0/Servlet3Instrumentation.java#L60

for this helper method

https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/master/instrumentation/serv

[2020-07-27 02:35] anuraaga opened #797 "Allow flushing spans on shutdown using a runtime shutdown hook."
Users on a FAAS like lambda will need to flush spans directly without batching or the function will often be terminated before it has a chance to flush.

[2020-07-27 02:42] anuraaga opened #798 "Muzzle checks transitive dependencies which causes confusing errors"
For example, jetty-8.0 depends on servlet-3.0. If there is a problem in the muzzle configuration of servlet-3.0, it is the jetty-8.0 muzzle task that complains which is deceptive

[code]

Neet to be very careful in looking at the class name `Servlet3Instrumentation` in that log, but it would be nicer if transitive was just not checked since it'll be checked by other muzzle tasks anyways.

[2020-07-27 03:03] anuraaga commented on #789
Looks like a fumble of #790

[2020-07-27 03:03] #789 closed

[2020-07-27 03:32] anuraaga commented on #790
This will also solve an issue I found, I think, where currently `./gradlew :instrumentation:check` doesn't run `integrationTest`

[2020-07-27 04:17] trask commented on #797
Command line apps often have this issue of losing telemetry at shutdown too.

What do you think about flushing in a shutdown hook instead (ideally synchronous flushing capped at some number of seconds)?

[2020-07-27 04:29] iNikem commented on #790
I came from the background, where the majority of tests in a project were "unit", fast tests. And `gradle test` runs those. And `integrationTest` is a separate job for slower tests.

But in this project probably this does not make sense indeed, as 90% of all tests are slow integration tests.

[2020-07-27 04:31] iNikem commented on #790
But still, running unit tests before integration ones in a given module may give benefit of fail fast. So we can try not `test.dependsOn integrationTest` but `test.finalizedBy integrationTest`. Maybe that will work too.

[2020-07-27 04:34] trask opened #801 "Remove Advice classes from helperClassNames"
Nothing is broken, but it can be confusing to see Advice classes in `helperClassNames` (mostly unnecessarily).

A quick search for `Advice",` looks like we are doing this in 5-10 places.

In cases where there's a static method in an Advice class that really is needed, it should probably be moved into another class that is already in the `helperClassNames`

[2020-07-27 04:36] trask commented on #796
👍 opened #801 to remove the existing ones (looks like we do this in a couple other places too)

The advice tends to only depend on bytebuddy annotations and not bytebuddy classes, which is why `muzzle` isn't complaining like it does when we accidentally reference a static field in the Instrumentation class (which then pulls in bytebuddy classes which makes muzzle fail).

I added documentation tag

[2020-07-27 05:08] anuraaga commented on #797
Ah yeah that sounds like a good idea, we could probably do that by default.

[2020-07-27 05:08] trask opened #805 "Sporadic test failure (1x): GrpcStreamingTest"
[code]

https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-java-instrumentation/2162/workflows/8fefb78f-18e5-4d71-b34f-70ccb3148c22/jobs/14524

[2020-07-27 05:16] anuraaga commented on #740
Randomly noticed today, the max workers does seem to be the correct 8 during initial compilation tests. It's only as tests start to run that it adds more workers for some reason. Never seen that o_O

[2020-07-27 05:20] trask commented on #430
Me too :(

[2020-07-27 05:36] anuraaga commented on #740
Also noticed that it always adds 4 extra workers. `--max-workers=8` doesn't fix the issue (which does make sense since it's the Gradle default on my laptop), so I use `--max-workers=4` and end up with 8 workers

[2020-07-27 05:40] anuraaga opened #806 "Suspicious assertion - "error.*" { it == null || foo }"
I've noticed some suspicious assertions recently and will file issues when I file.

`HttpServerTest` checks error attributes but has a `it == null` fallback in the assertions. This seems imprecise and can hide real bugs.

[2020-07-27 05:53] #794 closed

[2020-07-27 06:41] anuraaga opened #807 "Certain instrumentation does not record exception in many tests"
Grizzly does not seem to record exception in many tests. Need to confirm this is expected, for now I have added `testException() return false` without knowing if this is precise or not.

Vertx as well.

Probably same reason as Vertx but Netty too. Exception is literally caught by the test and translated into HTTP so doesn't seem to really test anything (presumably instrumentation should be doing s

[2020-07-27 06:45] iNikem commented on #797
@anuraaga if you agree with Trask's proposal, then maybe rename this task?

[2020-07-27 06:46] anuraaga commented on #807
My guess is this and #806 will be solved at the same time, those loose assertions allowed these to pass in the first place from what I can tell.

[2020-07-27 07:07] iNikem commented on #298
Based [GA requirements](https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/master/docs/ga-requirements.md) I will narrow down the scope of this task.

Smoke test consists of running given application (Spring Boot, Wildlfy) with Otel java auto instrumentation agent attached.  Agent should be configured to run given exporter (OTLP, Jaeger, Zipkin) and to send data to locally r

[2020-07-27 08:28] anuraaga opened #810 "Ratpack instrumentation seems to over-record exceptions"
I found that Ratpack instrumentation records exceptions twice when a user defines an error handler

https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/master/instrumentation/ratpack-1.4/src/main/java/io/opentelemetry/auto/instrumentation/ratpack/TracingHandler.java#L71

https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/master/instrumentation/ratpack-1

[2020-07-27 08:38] anuraaga opened #811 "Default bytebuddy advice to non-inline for tests?"
I don't know if this is a good idea in case inline / non-inline can expose different bugs. But if the "reflects production" aspect isn't a big concern, it could be nice to default tests to run with non-inline instrumentation to make IntelliJ debugging much simpler.

[2020-07-27 08:48] iNikem commented on #811
IMO tests should definitely reflect intended production usage as much as possible.

[2020-07-27 08:52] anuraaga opened #812 "HttpServerTest calls runUnderTrace for controllers"
I noticed HttpServerTest calls runUnderTrace which creates a new span

https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/master/testing-common/src/main/groovy/io/opentelemetry/auto/test/base/HttpServerTest.groovy#L217

I don't understand how to grok this, I would expect our instrumentation to create all the needed spans for server tests and this makes debugging harder for m

[2020-07-27 11:32] iNikem commented on #430
[code]

Looks like the same issue as in #787

[2020-07-27 11:35] iNikem commented on #812
Instrumentation under test, e.g. servlet's one, will not create spans for downstream controller call. This `runUnderTrace` wraps a new span around controller method invocation. I suspect they are there to unify middleware tests, e.g. servlets, with framework tests, e.g. Spring MVC: for both of them to have both SERVER and INTERNAL spans.

[2020-07-27 15:56] #720 closed

[2020-07-27 17:39] trask opened #816 "Change groovy import layout to match java import layout"
Currently our docs say to use the default Intellij import layout for groovy files (https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/master/docs/contributing/intellij-setup.md).

@iNikem would like the groovy import layout to match the java import layout https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/701#discussion_r456217872, which makes sense, w

[2020-07-27 17:51] trask commented on #811
I would want CI tests to inline (reflecting prod), not sure if we can make that behavior conditional(?)

[2020-07-28 01:12] anuraaga commented on #811
Yeah I think it means having a back-of-the-hand estimate on how often there could be a difference that results in breakage. If a CI test failure can't be reproduced locally at first due to the inlining behavior <1% of the time, then I would say defaulting the tests (not CI) to non-inline could provide an overall better debugging experience. But if it would cause mysterious failure 5% of the time,

[2020-07-28 01:47] trask commented on #811
I think it's worth trying. Better debug experience would be a big plus.

[2020-07-28 01:50] trask commented on #811
just clarifying: this question was about the technical feasibility (I forgot that annotation values can be assigned to constants, which we can calculate conditionally)

[2020-07-28 03:54] anuraaga commented on #812
Hmm - I found it pretty confusing when debugging (e.g., `recordException` is called from test code, not instrumentation) :( If it's just to save test lines of code, I'd generally err on the side of copy-paste then make tests too complex or harder to reason about - work fine until the test fails and then it hurts.

[2020-07-28 04:15] trask commented on #812
I think the purpose of the `controller` spans is to make sure we are propagating context down to the place in the server framework where users write their code.

[2020-07-28 04:20] trask opened #818 "Can we hide the `integrationTest` and `latestDepTest` task from Intellij Run?"
Any idea if we can hide the `integrationTest` and `latestDepTest` task from Intellij Run, so it doesn't always prompt you to pick one of `test` vs `integrationTest` vs `latestDepTest`? Or is this a bad idea?

[2020-07-28 04:21] trask commented on #818
Ok, hiding `latestDepTest` is probably a bad idea. But hiding `integrationTest` would be nice after #817

[2020-07-28 04:59] iNikem commented on #818
Why does it bother you enough? You have to pick one only once for a given test.

But answering your question: I don't think it's possible. If there are several Gradle tasks of type `Test` IDEA has to know which one to use.

Locally you can instruct IDEA not to use Gradle to run tests, that may solve your problem as well.

[2020-07-28 05:06] anuraaga commented on #812
Ah that makes sense, but I guess it could just validate there's a context instead of creating a new span? That would match my expectations of the test better.

[2020-07-28 05:13] trask opened #819 "Document how to run tests in Intellij"
A couple of confusing things:

* ~which to choose: `test`, `integrationTest` or `latestDepTest`~
  * ~(this is not confusing from command-line since not prompted for these others)~
* ~how to run `slickTest`, `lagomTest`, and `resteasy31Test` (which run `onlyIf` Java 8)~
  * ~(also document how to run these from command line)~

EDIT: `integrationTest` has been consolidated into `test`

EDIT: `onlyI

[2020-07-28 05:13] trask commented on #818
thx, this makes sense, closing this, and opened #819

[2020-07-28 05:13] #818 closed

[2020-07-28 05:16] trask commented on #812
i'm not sure how we would validate that it's the right context, without exporting a span and verifying it in the test?

[2020-07-28 05:32] trask commented on #810
I tried it out, `ErrorHandlerAdvice` is needed for async and "forked" requests (whatever those are :smile:)

[2020-07-28 05:44] #806 closed

[2020-07-28 06:21] #790 closed

[2020-07-28 07:00] #810 closed

[2020-07-28 07:13] iNikem opened #821 "Failed to transform class files"
Sometimes our builds fail with the following exception:

[code]

I suspect this to be muzzle plugin which injects some code during class compilation.

Example failures:

https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-java-instrumentation/2232/workflows/75c8327e-befa-45b5-8e97-6e8afde0da89/jobs/14768

[2020-07-28 08:51] anuraaga commented on #740
With the `finalizeBy` change I noticed my build runs `test` then `integrationTest` in order, an observation is `test` never results in workers past the max-workers, it's only during `integrationTest` that it happens. So possibly something about `SpockRunner`. No clue what it could be just recording observations :)

[2020-07-28 09:30] iNikem commented on #404
@jkwatson where do you want see those names and versions?

[2020-07-28 10:03] anuraaga commented on #812
We could probably save off the span context somewhere and assert on it, there's probably something possible. A bit of complexity will be worth to get confidence that e.g. an exception will be on the server span, not an artificial one, by looking at the test. This is what really confused me.

[2020-07-28 10:14] iNikem commented on #812
You cannot read data from Spans. They are write only for the moment. Until they are exported, that is :)

[2020-07-28 11:05] anuraaga commented on #812
If it's for checking the context, I guess it'd be ok we can read the `SpanContext` and check the IDs right? I'm guessing that's what @trask means by "validate that it's the right context"

[2020-07-28 16:43] jamesylgan opened #822 "Add documentation for propagator config parameter"
#425 alludes to the difficulty users have in figuring out how to configure an application to use a specific propagator (e.g. b3).

This feature is not documented like most other [config parameters](https://github.com/open-telemetry/opentelemetry-java-instrumentation#configuration-parameters-subject-to-change) in the main README of the project.

I think it would be valuable to explain, in the main

[2020-07-28 18:55] #697 closed

[2020-07-28 22:17] trask opened #826 "Github is not detecting license for this project"
Github is not detecting/displaying the license for this project:

https://github.com/open-telemetry?q=java&type=&language=

Also you can see the difference in these two pages:

https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/master/LICENSE

https://github.com/open-telemetry/opentelemetry-java/blob/master/LICENSE

[2020-07-28 22:37] trask commented on #811
Hm, I don't think `inline = false` works with `@Advice.Argument(readOnly = false)`, `@Advice.Return(readOnly = false)` or `@Advice.Local`

[2020-07-29 00:11] trask opened #828 "Create HttpClientTracer and migrate from HttpClientDecorator"
Similar to the work that was done introducing `HttpServerTracer` and migrating from `HttpServerDecorator`.

[2020-07-29 00:12] heyams commented on #828
Please assign it to me. Thanks!

[2020-07-29 02:34] anuraaga opened #831 "Document test bytecode manipulation infrastructure"
I dove into `SpockRunner`, `AgentSpecification` yesterday, primarily with the goal of understanding why we need to have separate `test` and `integrationTest` - our agent goes to so much effort to not affect a user's app, I sort of would expect the same machinery to work for tests.

I think some documentation on what's going on in the tests can be helpful, I'll jot down my notes from digging and qu

[2020-07-29 02:36] anuraaga opened #832 "Speed up SpockRunner.setupBootstrapClasspath"
I found that `setupBootstrapClasspath` in `SpockRunner` is quite slow and is what results in tests often having a large period at 0% before showing debug logs for instrumentation. It'd be nice if it's possible to speed this up. Perhaps there's a way for Gradle to prepare the bootstrap jar instead of doing it at runtime, which could benefit from up-to-date checks, etc.

https://github.com/open-tele

[2020-07-29 02:37] anuraaga commented on #832
I'm also somewhat scared to look at my temp directory since I realize it's probably full of bootstrap jars!

[2020-07-29 04:21] trask opened #833 "Change ota.propagators to ota.propagator (at least for now)"
As far as I understand, this property currently supports only a single one of: `tracecontext`, `b3`, `b3single`, `jaeger`.

This question was asked earlier about changing this property from list to single value:
https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/451#issuecomment-635350699

The answer given at the time was that while we are supporting just one propagator per

[2020-07-29 04:36] trask commented on #812
I'm not sure what we would check the IDs against?

[2020-07-29 04:38] trask commented on #812
Oh I see, save it to some global that we can assert on?

[2020-07-29 04:40] trask commented on #812
Were you not getting the exception at all on the server span, or were you getting the exception in two places (server span and artificial span)?

[2020-07-29 04:54] anuraaga commented on #811
Ah that's pretty limiting. Guess we have to stick with inline then.

[2020-07-29 04:54] #811 closed

[2020-07-29 13:36] dengliming opened #835 "Can we limit the length of the exception message and the length of the statement by default in DatabaseClientTracer?"
Production environments occasionally has long exception stack messages and statements, and it makes sense to limit their length by default, This will also reduce the memory footprint.

[2020-07-29 15:47] iNikem commented on #835
@dengliming I think this is actually a duplicate of open-telemetry/opentelemetry-java#1478. Do you agree?

[2020-07-29 15:54] dengliming commented on #835
yes. thx.

[2020-07-29 15:54] #835 closed

[2020-07-29 18:19] #822 closed

[2020-07-29 20:51] trask opened #836 "Reach out to community repo / CNCF regarding 3rd party licenses"
The javaagent is different from many other projects because it embeds all of its dependencies in its distribution, so need to verify we are conforming to any CNCF requirements around 3rd party licenses that may be different for us (starting with https://github.com/cncf/foundation/blob/master/allowed-third-party-license-policy.md).

Also need to verify that we are conforming to Apache License requi

[2020-07-29 20:54] #826 closed

[2020-07-29 20:57] trask commented on #430
I stopped updating the count on this a while ago.

Bumping it to `p1`.

[2020-07-30 03:39] FrankSpitulski commented on #833
Why not support multiple propagators? If you provide multiple to the builder it will use the multi propagator internally.

[2020-07-30 06:12] trask commented on #637
I suggest we go with @iNikem's suggestion above, at least for now, so we can unblock this needed feature:

In auto-instrumentation at least, the `PROPAGATORS` configuration only supports a fixed set of known propagators, so I don't think we have the issue of detecting propagators for other signals, e.g. `custompropagationsignal`.

[2020-07-30 06:17] trask commented on #833
@FrankSpitulski 👍 I just updated https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/637#issuecomment-666145318.

Closing this, and will see if we can get #637 in time for `0.7.0`.

[2020-07-30 06:17] #833 closed

[2020-07-30 06:53] FrankSpitulski commented on #793
The tests don't always send the body. In practice I've only ever seen it record 0 when it doesn't send one. I think this is more of a testing issue.

[2020-07-30 06:57] #776 closed

[2020-07-30 20:41] wangzlei commented on #797
Adding a shutdown hook does resolve the flush issue in normal JVM but does not make sense in AWS Lambda. I did some tests in Lambda java runtime, the shutdown hook is swallowed after user's Lambda function exists. We may still want to config the SimpleSpanProcessor in auto-instrumentation.
My test code in AWS Lambda:
[code]

The log shows no `Shutdown Hook called.` and the infinite loop print is a

[2020-07-30 23:41] anuraaga commented on #793
I think I was seeing it not set in async but set for sync for the same test, could be misremembering though.

[2020-07-31 00:09] trask opened #845 "Grizzly tests log SEVERE error, even when they pass"
Grizzly tests log SEVERE error, even when they pass.

May point to a real issue in the instrumentation (as opposed to just issue with the tests).

Marking as `p3` since the Grizzly instrumentation is disabled by default.

[code]

E.g. https://14989-210933087-gh.circle-artifacts.com/0/reports/instrumentation/grizzly-2.0/tests/integrationTest/classes/GrizzlyTest.html (look at the `Standard error` ta

[2020-07-31 00:36] anuraaga opened #846 "Library instrumentation experience confusing because of SDK dependency requirement?"
Just want to throw this out there, I wonder if the requirement that instrumentation only depends on the OTel API and not SDK is too surprising to users. If someone depends on `opentelemetry-instrumentation-grpc-1.5`, it seems natural to expect there to be actual instrumentation happening but it'd be no-op without also adding `opentelemetry-sdk`. At the very least, I haven't checked yet, but we mig

[2020-07-31 01:11] trask commented on #846
I think that without the user adding an exporter (which would then bring in `opentelemetry-sdk`), nothing (much) is going to happen even with `opentelemetry-sdk`

[2020-07-31 01:22] anuraaga commented on #723
Fixed in #813

[2020-07-31 01:22] #723 closed

[2020-07-31 05:27] iNikem commented on #846
@anuraaga This task looks like it should have `discussion` label, shouldn't it?

[2020-07-31 05:29] #675 closed

[2020-07-31 12:43] iNikem commented on #845
It is issue with instrumentation. Seems to be broken by me when translated from decorator to tracer.

[2020-07-31 16:46] trask opened #858 "Use new exporter public constants in spring boot starters"
Made possible by https://github.com/open-telemetry/opentelemetry-java/pull/1486

[2020-07-31 17:18] #637 closed

[2020-07-31 18:45] #753 closed

[2020-07-31 19:30] #760 closed

[2020-07-31 19:30] #736 closed

[2020-08-01 04:03] github-actions[bot] opened #861 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-08-01 04:07] anuraaga opened #862 "Nightly build should rerun a failed build a couple of times"
Now that we file an issue on failure we will deal with a lot of issues due to our current problem of sporadic test failures. Since it only runs once a night anyways, it's ok for the build to take some time so we should probably add some retry functionality to it to reduce flakiness.

[2020-08-01 07:44] dengliming opened #864 "Keep the ExporterProperties of spring boot starter consistent with the Export builder on sdk"
Now. I found that `io.opentelemetry.instrumentation.spring.autoconfigure.exporters.otlp.OtlpGrpcSpanExporterProperties` has field `serviceName`, but` io.opentelemetry.exporters.otlp.OtlpGrpcSpanExporter.Builder#Builder` don't have this field to config.

[2020-08-01 08:35] github-actions[bot] opened #865 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-08-01 08:49] anuraaga commented on #797
@wangzlei Can you clarify "the Lambda java Runtime still live and waits for the next request"? If the runtime is alive, doesn't that mean that the batch span processor would get to export the span using its normal scheduled execution? Or is this a special state where it's still alive but not running, maybe like a hibernated computer?

[2020-08-01 09:00] anuraaga opened #866 "Allow setting SimpleSpanProcessor for export"
Users on a FAAS like lambda will need to flush spans directly without batching or the function will often be terminated before it has a chance to flush. And it seems the way these runtimes work it's common that even a shutdown hook like in #797 won't be called when the function exits, and instead all threads are just paused.

[2020-08-01 09:12] #861 closed

[2020-08-01 09:12] #865 closed

[2020-08-01 14:29] #862 closed

[2020-08-01 18:30] trask commented on #858
Closed by #863

[2020-08-01 18:30] #858 closed

[2020-08-01 18:46] trask commented on #864
Good catch!

It looks like `OtlpGrpcSpanExporterProperties.serviceName` is not being used.

Currently the way to set service name for OTLP is via `OTEL_RESOURCE_ATTRIBUTES`:

(https://github.com/open-telemetry/opentelemetry-java-instrumentation#otlp-exporter)

There's hopefully some simplification coming in https://github.com/open-telemetry/opentelemetry-specification/issues/709.

But that still d

[2020-08-02 01:54] dengliming commented on #864
@trask Thanks for quick reply.  agree.  It's important for a good Spring Boot experience. Already opened an issue in SDK repo.

[2020-08-02 02:58] wangzlei commented on #797
Well, Lambda environment works as a black box for us, something we known from the test and Lambda public doc that:
1. It is inefficient to launch a new JVM for each Lambda function handler invocation, the JVM is still alive to consume the upcoming events after the current Lambda function exits. Shutdown hook would not be invoked in time.
In another word, Lambda function handler works in the worker

[2020-08-02 03:29] github-actions[bot] opened #872 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-08-02 04:29] trask commented on #797
`SimpleSpanProcessor` still isn't going to give synchronous flushes anymore with https://github.com/open-telemetry/opentelemetry-java/pull/1428, so can still leave you with lost telemetry data

[2020-08-02 04:53] trask opened #874 "Enforce no context/scope leaking in all tests"
Introduce a debug flag that tracks (globally) all open scopes, and at the end of every test verify that there are no open scopes.

Continue passing the `THREAD_PROPAGATION_LOCATIONS` that was introduced in #860, and log it (if available) for any open scopes, since that thread propagation is a common cause of scopes that have been left open.

[2020-08-02 04:59] trask commented on #866
`SimpleSpanProcessor` still isn't going to give synchronous flushes anymore with https://github.com/open-telemetry/opentelemetry-java/pull/1428, so can still leave you with lost telemetry data.

Is there any chance to add instrumentation for Lambda that does a synchronous flush before the execution environment is frozen?

[2020-08-02 05:11] anuraaga commented on #872
Retry succeeded

[2020-08-02 05:11] #872 closed

[2020-08-02 05:17] anuraaga opened #875 "Track unended spans that have been GC'd"
Brave keeps track of all active spans to make sure they are finished.

https://github.com/openzipkin/brave/blob/master/brave/src/main/java/brave/internal/recorder/PendingSpans.java

A span may never be finished because of bad instrumentation, often a scope leak. It's fairly efficient to use this sort of "GC callback" approach (weak reference queue) to handle them and report something, to hopefully

[2020-08-02 05:27] anuraaga commented on #866
I found the lambda Java framework here

https://github.com/awslabs/aws-serverless-java-container

Presumably we'll need to auto instrument this to flush before a response is returned to the framework. Is this an appropriate repo for vendor specific instrumentation? Believe I saw dropwizard which is possibly similar.

[2020-08-02 05:59] anuraaga commented on #875
Not sure what to label this one.

[2020-08-02 06:29] iNikem commented on #872
@anuraaga Have you re-run the workflow manually? Didn’t my retry step help? Or some job failed more than 3 times?

[2020-08-02 06:39] anuraaga commented on #872
I reran manually. Build failed this time, not test. Build isn't as flaky so we can probably keep notifications for that one to hopefully fix.

[2020-08-02 19:15] wangzlei commented on #797
So, neither shutdown hook nor SimpleSpanProcessor solve telemetry data lost in AWS Lambda.
Let's keep the title 'Allow flushing spans on shutdown using a runtime shutdown hook', at least it is useful in short lifetime program.

[2020-08-03 18:14] trask commented on #866
Will this instrumentation be useful to customers of Splunk, New Relic, etc when running in AWS? If so, then I think this is an appropriate repo for it.

[2020-08-03 19:52] #733 closed

[2020-08-03 21:41] trask commented on #688
Closed by #870

[2020-08-03 21:41] #688 closed

[2020-08-03 23:07] #748 closed

[2020-08-03 23:33] trask opened #882 "Save "artifacts" at the end of GitHub Nightly build"
Capturing the same things as we are capturing for CircleCI via `collect_libs.sh`, `collect_reports.sh` and `collect_results.sh`

From what I can tell this looks like standard action https://docs.github.com/en/actions/configuring-and-managing-workflows/persisting-workflow-data-using-artifacts, and we can only upload single files or zips. Which is too bad, I like being able to browse and link to the

[2020-08-03 23:38] trask commented on #846
hey @anuraaga do you have additional thoughts about this?

@mabdinur asked about this too: https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/878#discussion_r464546751

[2020-08-03 23:41] anuraaga commented on #846
Yeah it's true that if adding the exporter, it's not a huge step to also add the SDK so I guess it's ok as-is.

For @mabdinur I think we do have to decide for the spring boot starters - spring boot starters are usually more self-contained and I think it'd be idiomatic to have both SDK and OTLP exporter included for batteries included.

[2020-08-03 23:45] trask commented on #846
Does adding an exporter pull in the sdk transitively?

[2020-08-03 23:57] anuraaga commented on #866
@trask Yeah I think so, any lambda user will need it regardless of the tracing vendor. Thanks for confirming :)

[2020-08-04 04:41] iNikem commented on #846
As it was conscious decision from Otel to clearly separate API vs SDK, I think we should continue doing so. Which means that user has to opt-in into actually collecting monitoring data. Even if some of their libraries are instrumented. This opt-in happens either by adding SDK to _application_ dependencies or by installing java agent.

Thus I think our library instrumentations should not depend on

[2020-08-04 04:42] iNikem commented on #882
I have some thoughts about publishing test reports.

Is it enough to have jar files published to oss.jfrog.com or do you want them in GitHub UI as well?

[2020-08-04 04:53] #761 closed

[2020-08-04 04:58] trask commented on #882
I think they will be much more discoverable (e.g. new contributors looking at why their PR build failed) if they are stored in the normal GitHub actions artifacts, so would prefer that unless we can store them somewhere where you can navigate and link to the html reports, in which case those benefits may outweigh GitHub actions artifacts.

[2020-08-04 13:57] #722 closed

[2020-08-04 15:08] iNikem commented on #832
@anuraaga haven't you fixed that already?

[2020-08-04 19:29] trask commented on #866
@anuraaga should we close this particular issue since `SimpleSpanProcessor` won't imply a synchronous export soon?

[2020-08-04 19:49] trask commented on #764
hey @FrankSpitulski, can you create a sample app / github repo that we can use to reproduce / troubleshoot this issue?

[2020-08-04 20:45] trask opened #889 "Fix all test failures on Windows"
There are a few tests that fail on Windows (e.g. different socket related things). This is confusing for contributors who develop on Windows.

[2020-08-04 20:53] trask opened #890 "Better hardcoded helper class names"
Currently, the `helperClassNames` are written like this:

[code]

while using `packageName` for prefix seems like a nice idea, it also prevents Intellij refactoring from noticing and updating the helper class names when you rename one of the classes.

I think we should remove the `packageName` prefix and just hard code the fully qualified name so Intellij refactoring will work correctly.

I recomm

[2020-08-04 21:06] trask opened #891 "Confusing how to run tests for modules with maxJavaVersionForTests = JavaVersion.VERSION_1_8"
E.g. it's confusing how to run `netty-4.0` tests.

Running them in Intellij reports success but no tests are run.

Running them via normal command line:

[code]

also succeeds but no tests are run.

The "correct" way currently is:

[code]

At least we can document/highlight this in [running-tests.md](https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/master/docs/contributing

[2020-08-04 21:51] trask opened #892 "Different approach for shading library instrumentation classes inside of auto instrumentation"
Currently we are creating a shaded classifier for the library instrumentation, which is then used by auto instrumentation.

The issue I just ran across is that this makes it confusing when making changes across both library and auto instrumentation, because the changes you make in library instrumentation are not reflected in the auto instrumentation project until you rebuild the shaded classifier

[2020-08-05 01:05] anuraaga commented on #866
Moved to after ga. We could close too but presumably since it exists we would want a knob at some point.

[2020-08-05 01:08] #832 closed

[2020-08-05 02:15] FrankSpitulski commented on #764
here you go @trask, thanks for taking a look. https://github.com/FrankSpitulski/rest-api-example/tree/ot-shim-example

[2020-08-05 02:49] FrankSpitulski opened #894 "http.status_code not matching what was returned"
possible duplicate of https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/688

I've managed to get a 401 response while the span's tag says http.status_code is 500. Please see the [README.md](https://github.com/FrankSpitulski/rest-api-example/blob/incorrect-status-code-tag/README.md) in my example.

https://github.com/FrankSpitulski/rest-api-example/tree/incorrect-status-co

[2020-08-05 04:36] trask opened #895 "WeakConcurrentMap-backed InstrumentationContext throws NPE on storing null value"
This doesn't match behavior for field-backed InstrumentationContext which allows storing null value.

You can reproduce this by disabling the field-backed provider:

[code]

and running `GrizzlyAsyncHttpClientTest`.

Marking this `release:after-ga` because `otel.trace.runtime.context.field.injection` is not a recommended setting, and the WeakConcurrentMap-backed InstrumentationContext mostly exist

[2020-08-05 04:54] trask opened #896 "Gather links to various presentations about this project"
A wiki page seems appropriately informal for this.

Basically looking for some place people can go to reuse ideas/slides when constructing their own presentations.

Here's a couple to get started:
* [initial design doc](https://docs.google.com/document/d/1Z5UWGk3d4vLIxx9TBfrU8g_L-J6sWIp0KheO03-GFGo)
  * not really a presentation, but useful diagram/content to copy-paste from
* https://trask.github

[2020-08-05 06:37] anuraaga commented on #896
OTel Java Agent Tech Intro slides - https://docs.google.com/presentation/d/1S8UeTuWN74D1UOZBf0juqiXVawlJNmXg_J03hqLIAYc/edit#slide=id.p

I think a docs folder or a GitHub wiki are both good options for collecting these. In particular, design docs close to the code is nice for reference.

[2020-08-05 07:54] iNikem commented on #764
As a first step I would recommend to upgrade `lightstep/opentelemetry-exporter-java` to use otel-java 0.7.0. And then use that together with 0.7.0 version of auto-instrumentation. So far the most common source of bugs between two repos is version mismatch.

[2020-08-05 08:12] FrankSpitulski commented on #764
@iNikem I've pushed an update to my repo to remove the external exporter jar so it is not a variable. It still has the same lack of propagation headers when using the shim.

[2020-08-05 10:10] iNikem commented on #764
Yeah, I now see the problem. `io.opentelemetry.auto.instrumentation.opentelemetryapi.trace.Bridging#toShadedOrNull(unshaded.io.opentelemetry.trace.Span)` does not work with `DefaultSpan` created by `io.opentelemetry.opentracingshim.Propagation#injectTextFormat`.

@trask can you give some advice? Our shading-unshading business is still somewhat confusing to me :(

[2020-08-05 19:39] trask commented on #787
@iNikem can we close this now that we've decided #814 is a reasonable (permanent) fix for this?

[2020-08-05 19:40] trask commented on #517
Closing, we haven't seen this since #814

[2020-08-05 19:48] trask commented on #517
Spoke too soon 🙁

https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-java-instrumentation/2489/workflows/454303c3-5a3b-40b4-ad83-8598444e0677/jobs/15693/tests

[2020-08-05 20:48] trask opened #898 "Remove scopes that only exist for internal agent log correlation"
There are many places that create scopes who's purpose is unclear, e.g.

https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/227bde87ce7aa8f9ae725f2daaf7b0c312117b7e/instrumentation/rabbitmq-2.7/src/main/java/io/opentelemetry/auto/instrumentation/rabbitmq/amqp/RabbitChannelInstrumentation.java#L270-L278

The original purpose of this was so that internal logging within the age

[2020-08-05 21:08] heyams commented on #898
Please assign it to me.  Thanks!

[2020-08-05 21:19] trask commented on #898
👍 assigned, let's give 24 hours in case anyone wants to weigh in on this proposal

[2020-08-05 22:56] trask opened #900 "Document which methods we typically static import"
This will help new contributors know and follow existing style / convention.

[2020-08-05 22:59] trask commented on #900
Or even better, if there's a way to automate this, e.g. via spotless?

[2020-08-06 02:10] trask opened #903 "Prevent duplicate telemetry when using both library and auto instrumentation"
I think this is an important, e.g. you may start out using library instrumentation, and then decide to throw on the javaagent later (or your ops team decides to throw on the javaagent), and I think part of the goal of maintaining both library and auto instrumentation in the same repo is so we can make them play nicely together.

(this includes preventing duplicate `@WithSpan` telemetry when using

[2020-08-06 02:39] anuraaga commented on #903
For reference, I guess this is along the lines of the gRPC logic to prevent the interceptor from being added if it already exists

https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/master/instrumentation/grpc-1.5/src/main/java/io/opentelemetry/auto/instrumentation/grpc/server/GrpcServerBuilderInstrumentation.java#L71

which interestingly seems extremely unlikely until we ex

[2020-08-06 02:40] anuraaga commented on #903
Also I guess we can have a pattern of including a duplicate test in the `auto` project which configures the same way the `library` test does, and it should still pass (currently Armeria wouldn't I think, heh)

https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/master/instrumentation/armeria-1.0/auto/src/test/groovy/io/opentelemetry/auto/instrumentation/armeria/v1_0/ArmeriaSe

[2020-08-06 03:19] anuraaga commented on #846
Yeah I think we can close this since adding the exporter will generally be enough!

[2020-08-06 03:19] #846 closed

[2020-08-06 03:47] trask opened #904 "Always check if valid span returned from HttpClientTracer.startSpan"
We need to check everywhere if the span returned from TRACER.startSpan() is invalid before starting a scope with it.

Tracking issue for https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/893#pullrequestreview-462167011

Relates to #465

[2020-08-06 03:54] anuraaga commented on #904
Should we automatically return a no-op scope when starting one with invalid span?

[2020-08-06 03:56] anuraaga commented on #904
Here's reference from brave - https://github.com/openzipkin/brave/blob/ae2b26adda5ffd6080f698024a20e81c32c291fe/brave/src/main/java/brave/Tracer.java#L599

[2020-08-06 04:00] github-actions[bot] opened #905 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-08-06 04:05] anuraaga opened #906 "Nightly build report should link to the action run"
Presume it'd be relatively easy to fill the issue with a link to the run itself.

[2020-08-06 04:05] anuraaga commented on #905
Rerunning

[2020-08-06 04:17] trask commented on #904
#893 revealed a few places that complicate things, in particular where we can't(?) do context injection inside of our `TRACER.startSpan()` (a couple examples below)

i sort of like the idea of having a consistent template (e.g. check `isValid` everywhere) vs checking `isValid` in some cases but not in others.

but i'm also concerned about the growing size of our "consistent template"

[code]

[cod

[2020-08-06 04:40] trask commented on #465
I think this applies to PRODUCER/CONSUMER spans too (so all except INTERNAL)

[2020-08-06 04:42] anuraaga commented on #904
Since injection should also be no-op for an invalid span, it looks like these work OK even if the span is invalid. There's a bit of overhead though due to the execution of the no-op methods but I guess it keeps things simple?

[2020-08-06 04:47] trask opened #907 "Remove CallDepth tracking from all spans except INTERNAL"
Once #465 is implemented (or as it is implemented across instrumentations), we can remove CallDepth tracking since that will then be redundant.

[2020-08-06 04:50] trask commented on #904
this is a really good point 👍

[2020-08-06 04:56] iNikem commented on #905
Now green

[2020-08-06 04:56] #905 closed

[2020-08-06 05:00] trask commented on #903
If possible, I think ideally the auto-instrumentation would take precedence over the library instrumentation (where they are both official packages from this repo). The reason for this is that it's generally easier to upgrade to the latest javaagent (e.g. done by ops to fix a bug or get a new feature) than to upgrade to the latest library instrumentation.

[2020-08-06 05:04] iNikem commented on #906
That's the problem: I have not found the way to link to a specific run. But probably just link to a list of job runs will be enough...

[2020-08-06 05:07] anuraaga commented on #906
I believe we can use `{{ github.run_id }}` to construct the URL

https://docs.github.com/en/actions/reference/context-and-expression-syntax-for-github-actions#github-context

[2020-08-06 05:08] trask commented on #764
will review tomorrow 👍

[2020-08-06 05:09] iNikem commented on #906
Why did I thought it is not good for us? :) Ok, will do.

[2020-08-06 05:21] trask commented on #465
marking `p2` because another `p2` depends on this

[2020-08-06 05:54] anuraaga commented on #387
Do you think #561 is enough to close this since we do allow configuration of custom sampler now? Or do we have any ideas on how to do something sampler-specific as opposed to the general discussion of distros we're having in other issues?

[2020-08-06 05:59] anuraaga commented on #336
@trask Do you think there is any implementation work to do here? On the gitter thread, it sounds like the requester may not have understood that configuring the sampler for the agent would also configure the sampling for their own spans. Not sure what else to do here other than documentation.

[2020-08-06 09:42] anuraaga commented on #764
Stepped through a bit and yeah, it looks like we should instrument `DefaultSpan.create` to return a wrapper span same as what we do for tracers. There doesn't seem to be a need for a distinction there.

[2020-08-06 19:53] heyams opened #912 "Follow up tasks from PR #893"
- [x] // Copy of HttpServerDecorator url handling (extract a method) in httpclienttracer
- [x] make spanNameForRequest protected in HttpClientTracer.java
- [x] update the package using tracer not decorator
- [x] clean up common code between client and server tracers
- [x] consider a new class for static methods extracted from BaseTracer
~~- [x] remove port and url in UrlInstrumentation. this requi

[2020-08-06 21:54] jkwatson opened #913 "@WithSpan annotation not functioning with 0.7.0"
A little bird told me that the shading might need to be updated for the new packaging of the extensions code.

[2020-08-06 23:09] trask commented on #387
👍 at this point, the plan is for all code-based hooks (e.g. adding a custom sampler) to require creating your own custom "distro" of the javaagent

[2020-08-06 23:09] #387 closed

[2020-08-07 00:14] #828 closed

[2020-08-07 01:24] #657 closed

[2020-08-07 04:14] iNikem commented on #913
I will be **very** interested to know, why our test does not show this 🤔

[2020-08-07 04:20] anuraaga commented on #913
Word on the street is it's because our unit tests don't have the runtime otel shading. Or something like that :) Smoke tests do and we don't have the annotation there.

A random idea I had recently for unrelated reasons is we could probably migrate our tests to use an actual TestAgent instead of runtime bytebuddy injection. This would be similar to how I moved the runtime bootstrap injection into

[2020-08-07 04:55] anuraaga opened #919 "Investigate and either fix or better document tests that require independent classloaders"
Some of our tests will not pass due to classload ordering reasons if they are run with other ones, so we separate a classloader for them. It's better if we can sort out ordering issues, or better document what could cause these in the first place to provide reference.

[2020-08-07 05:53] anuraaga commented on #764
Looked into instrumenting `DefaultSpan.create` and found an SDK change is probably needed first - https://github.com/open-telemetry/opentelemetry-java/pull/1519

[2020-08-07 05:56] iNikem commented on #298
I have a working prototype, which runs Spring Boot application with java agent attached and the Collector and then makes a request to the app. Collector is configured to use file exporter. Test then reads that file written by the Collector and verifies that it contains expected spans.

My prototype differs from current tests and I want to discuss it before making a PR. First, it uses testcontainer

[2020-08-07 06:00] anuraaga commented on #298
Just wondering, is there a big advantage in running the test app inside the container instead of directly? If we run them directly, maybe the Gradle build of the test app isn't too slow compared to the rest of the build.

Otherwise, publishing Docker images sounds fine to me too, we may as well use GitHub Packages instead of Bintray

[2020-08-07 06:01] anuraaga commented on #298
Ah, I guess it means the agent can be separated from the test VM. SGTM

[2020-08-07 06:02] iNikem commented on #298
I still don't want to burn electricity to build the same apps again and again. Also, play test app is one of the few remaining sources of Gradle warnings.

[2020-08-07 06:03] anuraaga commented on #298
Well, we're optimistic of Gradle build cache right? :-)

[2020-08-07 06:08] iNikem commented on #298
Hm, that's a good point. But I still don't like Gradle warnings :)

[2020-08-07 06:09] anuraaga commented on #298
Makes sense - but yeah let's try out GitHub Packages to reduce external dependencies.

[2020-08-07 07:42] anuraaga commented on #730
Out of the contributor experience issues, I may consider this relatively high priority. It's really painful when the `latestDepTest` snapshots refresh during the middle of normal development because you need IDE to pick up a new dependency (but should only work on that new dependency instead of downloading the world...)

[2020-08-07 18:26] trask opened #921 "Remove final from all parameters"
Adding `final` to parameters used to be our convention (and they were automatically added by the Intellij save actions).

We have since turned off that save action and removed final from all local variables.

Now the codebase is confusing as to what convention we follow for parameters, e.g. https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/902#discussion_r466821877.

I sugg

[2020-08-07 20:12] trask commented on #812
Closed by #897

[2020-08-07 20:12] #812 closed

[2020-08-08 03:20] trask opened #923 "Include OTLP exporter by default in spring boot starters"
Currently we include the logging exporter in spring boot starters.

I like the idea from https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/902#discussion_r467346939 about including the OTLP exporter instead, and documenting how to replace it with another exporter of your choice.

[2020-08-08 04:57] trask commented on #903
[adding more thoughts here]

see https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/920#discussion_r467361890:

[2020-08-08 05:45] anuraaga commented on #903
That's a nice idea. I'm a bit on the fence about introducing logic in library instrumentation to support auto - it's harmless but does seem like a break in separations of concerns.

But it gives me the idea that I didn't have at all, instead of instrumenting the library to suppress, I could instrument the library instrumentation itself. So stub out newdecorator to return a no op, using byte buddy.

[2020-08-08 06:06] trask commented on #903
ya i understand. the way i view is that it's also a big selling point of this project, that we are developing auto and library instrumentation in concert, so that they (1) produce the same telemetry and (2) play nice together. so, not so strange that we would produce "auto-compatible" library instrumentation

[2020-08-08 06:14] trask opened #924 "Rename io.opentelemetry.auto.bootstrap.AgentBootstrap"
Updated javaagent-jar-components.md in #884 makes it seem strange that this class named "bootstrap" is the 1 class that is not in the bootstrap class loader. It does "bootstrap" the agent, but I think better to rename and avoid this confusion. Since this is the `Premain-Class`, we should probably do this on the sooner side if we are going to do it.

As far as what to rename it to.... maybe `io.ope

[2020-08-08 06:19] anuraaga commented on #924
Agent or OpenTelemetryAgent SGTM

[2020-08-08 06:58] trask opened #925 "Add gradle retry to all sporadic failing tests"
I propose that we:

* add the new gradle retry (#908) to all ~sporadic failing~ tests (EDIT: see https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/925#issuecomment-671747602)
* close all issues labeled as `sporadic test failure`
* open an issue to implement something that will give us an aggregated view into flaky tests, e.g. a report of all flaky tests across all CI runs

[2020-08-08 07:26] anuraaga commented on #925
SGTM. I sent a mail with Gradle's form to see if there is any possibility of using Gradle Enterprise for the flaky test console, will report if I hear back!

[2020-08-08 12:48] dengliming commented on #924
OpenTelemetryAgent +1

[2020-08-08 16:55] trask opened #926 "New gradle retry doesn't seem to be working for AkkaHttpServerInstrumentationTestAsync"
If my understanding is correct, this failure should have been retried:
https://15978-210933087-gh.circle-artifacts.com/0/reports/instrumentation/akka-http-10.0/tests/test/classes/AkkaHttpServerInstrumentationTestAsync.html

(this build was after merging in latest master so has the new gradle retry config)

[2020-08-08 18:56] trask commented on #926
`AkkaExecutorInstrumentationTest` is also not retrying.

To repro locally, add

[code]

to `akka-context-propagation.gradle`

and change something in `AkkaExecutorInstrumentationTest` to cause it to fail

and run:

[code]

and it should fail with:

[code]

[2020-08-08 19:06] trask opened #928 "Sporadic test failure (5x): AkkaExecutorInstrumentationTest"
This seems to have started failing a lot right with the merge of #911

[code]

https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-java-instrumentation/2603/workflows/3b2be6ed-16d1-431a-8d19-b984185f089b/jobs/15974/tests

https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-java-instrumentation/2603/workflows/6950228d-199c-4a81-9350-c5b79b48877a/jobs/15975/test

[2020-08-08 20:33] trask commented on #925
Blocked on #926

[2020-08-08 21:05] trask commented on #913
a potential downside of this is the debugging experience may require a bit more effort if launching a remote JVM

[2020-08-09 02:09] anuraaga commented on #926
Weird that some tests do retry and some (akka only?) don't. Filed https://github.com/gradle/test-retry-gradle-plugin/issues/64

[2020-08-09 03:44] trask commented on #913
oh, i think i understand what you were suggesting now. adding `-javaagent` to the gradle test JVM itself does sound very interesting.

[2020-08-09 05:33] trask commented on #536
Another quirk: updates to muzzle java sources in `auto-tooling` don't seem to take effect when running

[code]

without adding `--rerun-tasks`

[2020-08-09 05:43] trask opened #932 "Change convention for encoding version into package name"
Currently we only encode the version into the package name when there is more than one version, e.g.

* io.opentelemetry.auto.instrumentation.apachehttpclient.v2_0
* io.opentelemetry.auto.instrumentation.apachehttpclient.v4_0

but we don't encode the version if there is only one version, e.g.

* io.opentelemetry.auto.instrumentation.apachehttpasyncclient

The idea was that the package names weren'

[2020-08-09 06:04] trask commented on #754
this will give us something like:

* `io.opentelemetry.instrumentation.armeria`
* `io.opentelemetry.instrumentation.apachehttpclient`
* ...
* `io.opentelemetry.instrumentation.vertx`
* <b>`io.opentelemetry.instrumentation.api`</b>
* <b>`io.opentelemetry.instrumentation.auto`</b>
  * `io.opentelemetry.instrumentation.auto.armeria`
  * `io.opentelemetry.instrumentation.auto.apachehttpclient`
  * ...

[2020-08-09 06:52] iNikem commented on #754
If our build scripts and other tooling can cope with 2 namespaces, then I think io.opentelemetry.javaagent is a good one

[2020-08-09 07:29] anuraaga commented on #926
While `AkkaExecutorInstrumentationTest` was easy to repro locally unfortunately I couldn't repro for `AkkaHttpServerInstrumentationTestAsync`.

[2020-08-09 12:48] iNikem commented on #913
Our tests will have to change significantly in that case. There will be much more spans captured by them when every test will have all our instrumentations applied. But it still may be a good idea.

[2020-08-09 13:07] iNikem commented on #730
I think we don't need another custom configuration. `useLatestDep` flag should change standard `testImplementation` dependencies. Although I don't remember from the top of my head what extra tools Gradle offers for custom dependencies...

[2020-08-09 18:12] iNikem commented on #925
@anuraaga is it your doing? https://scans.gradle.com/s/vh7xffiag6wfi/tests/:instrumentation:play:play-2.6:test/server.PlayServerTest/test%20tag%20query%20string%20for%20SUCCESS#2

[2020-08-09 18:15] trask opened #935 "Reduce confusion around the "unshaded" package name"
We do a strange shading-unshading of OpenTelemetry API in order to instrument the "unshaded" (application's) OpenTelemetry API, while sending telemetry to the "shaded" (agent's) OpenTelemetry API.

But in the intermediate step, we shade OpenTelemetry API under "unshaded." prefix (which will later be unshaded), and we use an unshaded OpenTelemetry API (which will eventually be shaded).

Looking at

[2020-08-09 18:16] #336 closed

[2020-08-09 18:16] #755 closed

[2020-08-09 18:16] #892 closed

[2020-08-09 18:55] trask commented on #913
I think(?) the idea is (or could be?) that we wouldn't use the full opentelemetry-javaagent, but some small delegating javaagent jar that would honor the module's existing classpath somehow.

For example, Glowroot runs tests in both "local" mode (similar to bytebuddy attach, but using disposable ClassLoader) which is nice for debugging, and "javaagent" mode which works similar to this idea, but la

[2020-08-09 19:01] iNikem commented on #913
Do you mean that instead of current per-module bootstrap jar we will package per-module javaagent, which has only those instrumentation that are on the classpath of this module? It may be very interesting idea indeed! :)

[2020-08-10 00:43] anuraaga commented on #925
Yup that's what a successful retry looks like in a build scan.

[2020-08-10 00:45] anuraaga commented on #913
@iNikem Yup that's exactly what I'm thinking :)

[2020-08-10 00:51] anuraaga commented on #925
Ah by the way if you're wondering whether that's Gradle Enterprise no, still hoping to hear back. Gradle Enterprise has a dashboard for tracking flakiness across bulds, but even within it we do get that reporting on a per-scan basis. And if we had to roll our own parsing the test reports it's probably not terrible.

[2020-08-10 02:42] trask commented on #925
it looks like Gradle Enterprise provides build cache also 👍

[2020-08-10 02:48] trask opened #936 "Use a real javaagent for tests instead of bytebuddy dynamic attach"
To match production more closely.

From https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/913#issuecomment-670313037

[2020-08-10 02:49] trask commented on #913
So we don't lose this idea once this issue closes out, created #936

[2020-08-10 03:21] trask commented on #925
I ❤️ the flaky test reporting

[2020-08-10 04:31] iNikem commented on #925
Gradle Enterprise is only self-hosted, AFAIK. They don't provide SaaS version of it. At least that was the case in the spring...

[2020-08-10 04:46] #913 closed

[2020-08-10 04:59] iNikem commented on #787
@trask what do you think about https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/814#issuecomment-669713447 ?

[2020-08-10 05:35] iNikem commented on #787
Fixed by #814

After some discussions we decided to use framework-specific exclusions as a way forward.

[2020-08-10 05:35] #787 closed

[2020-08-10 05:39] trask commented on #374
The docs should be updated correctly now as of `0.7.0`

[2020-08-10 22:54] FrankSpitulski opened #938 "What is the recommended way to add custom auto instrumentation?"
for example adding a custom tag on server spans based on the request

I remember there being some discussion about repackaging the agent jar with spi hooks for custom functionality.

There's also the question of completely new auto instrumentation such instrumenting a new library, or maybe replacing an existing auto instrumentation all together.

[2020-08-10 23:47] trask commented on #938
the current thought is #778

ya, we just broke out a couple of "api" artifacts in #884, to help us get there, but still work to do

it is in our P1 required for GA issues:

* Basic configuration points
  * Add custom auto-instrumentation
  * Ability to build "custom distro"

https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/master/docs/ga-requirements.md

[2020-08-11 00:36] trask commented on #921
@anuraaga @iNikem can you 👍 if you agree with this proposal?

[2020-08-11 05:06] trask opened #940 "Rename library-api artifact to instrumentation-api"
Originally I had named the package `io.opentelemetry.instrumentation.library.api`, then changed it to `io.opentelemetry.instrumentation.api`, but didn't update the artifact name.

[2020-08-11 06:07] trask commented on #925
@iNikem @anuraaga any objection to applying `retry` globally for now (instead of per module), so we don't need to keep playing whack-a-mole prior to GA at least?

[2020-08-11 06:27] anuraaga commented on #925
I didn't expect anyone to actually notice the flaky tests on the build reports :) Since we seem to be tracking those sort of ok SGTM.

[2020-08-11 13:17] mateuszrzeszutek opened #942 "Log current thread id and name as span attribute"
Currently we do not include any thread info (id, name) in spans produced by the agent. This issue is a suggestion to add two new attributes to each span just before it's started:

* `thread.id` - equal to `Thread.currentThread().getId()`
* `thread.name` - equal to `Thread.currentThread().getName()`

Those two attributes could be set in the `BaseTracer#startSpan()` method (or in a method used by/cl

[2020-08-11 19:53] trask opened #944 "Don't model aws-sdk instrumentation using HttpClientTracer"
There are several things in the aws-sdk instrumentation which don't really fit into the normal `HttpClientTracer` model.

Motivation from https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/918#discussion_r468815884.

[2020-08-12 00:01] anuraaga commented on #944
Yeah we probably need `Rpc*Tracer` for RPC libraries like AWS SDK and probably gRPC

[2020-08-12 00:24] anuraaga commented on #942
Should we start by filing an issue in the https://github.com/open-telemetry/opentelemetry-specification repo to add semantic conventions for these? We could have an extension of some sort for these but I don't think we should add anything by default that isn't in the spec.

It's interesting that these feel like `Resource` but since they're not constant to an app will need to be span attributes.

[2020-08-12 00:27] trask commented on #942
👍

[2020-08-12 00:35] trask opened #945 "Need an aggregate view into flaky tests"
Now that we are using the gradle retry plugin, the build scans show us flaky tests, but we need an aggregated view into the flaky tests over a period of time in order to prioritize work on reducing flakiness.

[2020-08-12 00:36] trask commented on #928
Closing per #925

[2020-08-12 00:36] #928 closed

[2020-08-12 00:37] trask commented on #805
Closing per #925

[2020-08-12 00:37] #805 closed

[2020-08-12 00:37] trask commented on #706
Closing per #925

[2020-08-12 00:37] #706 closed

[2020-08-12 00:37] trask commented on #612
Closing per #925

[2020-08-12 00:37] #612 closed

[2020-08-12 00:37] trask commented on #578
Closing per #925

[2020-08-12 00:37] #578 closed

[2020-08-12 00:37] trask commented on #530
Closing per #925

[2020-08-12 00:37] #530 closed

[2020-08-12 00:37] trask commented on #517
Closing per #925

[2020-08-12 00:37] #517 closed

[2020-08-12 00:37] trask commented on #492
Closing per #925

[2020-08-12 00:37] #492 closed

[2020-08-12 00:37] trask commented on #487
Closing per #925

[2020-08-12 00:37] #487 closed

[2020-08-12 00:38] trask commented on #485
Closing per #925

[2020-08-12 00:38] #485 closed

[2020-08-12 00:38] trask commented on #447
Closing per #925

[2020-08-12 00:38] #447 closed

[2020-08-12 00:38] trask commented on #445
Closing per #925

[2020-08-12 00:38] #445 closed

[2020-08-12 00:44] trask commented on #627
Closing per #925

[2020-08-12 00:44] #627 closed

[2020-08-12 00:44] trask commented on #619
Closing per #925

[2020-08-12 00:44] #619 closed

[2020-08-12 00:45] trask commented on #529
Closing per #925

[2020-08-12 00:45] #529 closed

[2020-08-12 00:45] trask commented on #528
Closing per #925

[2020-08-12 00:45] trask commented on #443
Closing per #925

[2020-08-12 00:45] #443 closed

[2020-08-12 00:45] trask commented on #430
Closing per #925

[2020-08-12 04:37] trask commented on #925
This is done.

Btw, look at all the green builds since enabling retry!!

![image](https://user-images.githubusercontent.com/218610/89975519-cf18f080-dc1a-11ea-88b9-3be75bc2b702.png)

[2020-08-12 04:37] #925 closed

[2020-08-12 04:38] anuraaga commented on #925
I just remembed one caveat as I debug a test - I think we need to set it to only retry when `System.getenv("CI")` is set :D

[2020-08-12 04:47] iNikem commented on #942
Цунами

[2020-08-12 04:51] trask commented on #942
I don't think we have any generic attributes (not library specific ones) that aren't in the spec?

[2020-08-12 07:05] iNikem commented on #942
A, that's true. @mateuszrzeszutek, please follow the suggestion of @anuraaga from above

[2020-08-12 07:23] anuraaga opened #946 "Don't use boxed numerics in tracer type parameters"
I noticed that because of numeric expansion, it's actually very easy to call the wrong method when a subclass uses a boxed type like `Integer` in the tracer. It's probably best to avoid boxed types in type parameters because of this. The specific case I found is HTTP response code, and it could be worth adding a `HttpStatus` enum to our instrumentation API with a factory to convert from a response

[2020-08-12 08:05] mateuszrzeszutek commented on #942
Done: https://github.com/open-telemetry/opentelemetry-specification/issues/788

[2020-08-12 17:32] #298 closed

[2020-08-12 17:58] trask commented on #912
After "add ClientDecorator.CONTEXT_CLIENT_SPAN_KEY to the context inside startScope", I think we can remove

[code]

from `JaxRsClientV1Instrumentation`

[2020-08-12 19:14] trask commented on #882
The build scans look really nice for investigating failures, e.g.

https://scans.gradle.com/s/a3rvevp7invbc/tests/failed

Can we make them more visible somehow, e.g. a link to it in the artifacts section?

[2020-08-12 19:18] trask commented on #882
E.g. this build report makes it look like `AkkaExecutorInstrumentationTest` caused the build to fail:

https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-java-instrumentation/2700/workflows/d458b21f-fb47-411d-9909-0a0c641ffd4a/jobs/16258/tests

but really it was retried and then succeeded, and it was another test that caused the build to fail (which is reported lower down in th

[2020-08-12 20:04] iNikem commented on #882
Visible links to Gradle build scans are in my pipeline

[2020-08-12 20:17] trask commented on #668
Module name is currently `:instrumentation:opentelemetry-auto-opentelemetry-api-beta` which seems good to me, I don't think I have preference between that and abbreviating the second `opentelemetry` to `otel`.

Done in #929

[2020-08-12 20:21] rjean-gilles commented on #913
Would anybody be able to tell me if the @WithSpan works for earlier versions, in particular 0.6.0? Thanks.

[2020-08-12 20:26] trask commented on #913
I think it was broken in `0.6.0` also. Should work in `0.5.0`, or you can try latest SNAPSHOT https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/master/CONTRIBUTING.md#snapshot-builds

[2020-08-12 20:27] trask commented on #913
hm, latest SNAPSHOT can be tricky, because it may only interoperate with OpenTelemetry API SNAPSHOT

[2020-08-12 21:52] rjean-gilles commented on #913
Thanks for looking it up.
I guess I'll keep creating the spans using my own helpers then.

[2020-08-13 04:06] trask commented on #496
Moving this proposal over from https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/511#issuecomment-643731446:

Also, this proposal addresses part of #385:

[2020-08-13 04:06] trask commented on #511
Closing, moved above proposal over to #496

[2020-08-13 04:06] #511 closed

[2020-08-13 04:11] trask commented on #496
I forgot there were concerns about the proposal above (actually doc'd in [meeting notes from July 16](https://docs.google.com/document/d/1WK9h4p55p8ZjPkxO75-ApI9m0wfea6ENZmMoFRvXSCw)!!)

See https://github.com/open-telemetry/opentelemetry-specification/issues/710 for the new proposal

[2020-08-13 04:20] trask commented on #385
Dropping from `p1` to `p3` to match prioritization of auto-collected metrics

[2020-08-13 04:20] trask commented on #496
Dropping from `p1` to `p3` to match prioritization of auto-collected metrics

[2020-08-13 04:47] github-actions[bot] opened #956 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-08-13 04:53] anuraaga opened #957 "Have Tracer "handle request" both at start and end"
I think one of the reasons we have to customize the `Tracer` in many instrumentations is because we expect much information to be available when processing a request, even though the instrumented library may be split into multiple lifecycles that span across what we're exposing in Tracer. I think a way to work with this without customizing `Tracer` so much is in `onRequest`, collect as much inform

[2020-08-13 05:48] trask commented on #754
While doing this, need a better name for `io.opentelemetry.auto.bootsrap.Agent`, see https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/955#discussion_r469707190

[2020-08-13 05:49] #668 closed

[2020-08-13 05:50] #597 closed

[2020-08-13 05:51] #935 closed

[2020-08-13 05:59] trask opened #958 "Explore new strategy for interop with OpenTelemetry API brought by application"
The current strategy is to use a versioned bridge, which allows us to bridge between whatever version of OpenTelemetry API is brought by the user, and our embedded OpenTelemetry API version (see [diagram and doc](https://docs.google.com/document/d/1Z5UWGk3d4vLIxx9TBfrU8g_L-J6sWIp0KheO03-GFGo)).

This is a solid approach, but it does require bridging back-and-forth, which is not free.

An alternati

[2020-08-13 07:44] iNikem commented on #958
First, I think that we have to be somewhat careful when we say "semver compatible". Adding new method is compatible API change, but if application brings newer API with added method that API in agent does not have, we are incompatible. Probably more accurate term would be "can agent implement Otel API brought by application"?

Second, just to be sure: can we at all detect such situations? That e.g

[2020-08-13 07:45] iNikem commented on #958
There is this novel (at least for me) approach for class hiding: https://github.com/elastic/apm-agent-java/pull/1230/files#diff-7188633e0c915931569339aaefff50e7

[2020-08-13 07:51] anuraaga commented on #958
Thanks for sharing, not sure if it resolves the versioning issue, but invokedynamic should be awesome in general! (debugging advices without performance penalty for the win)

[2020-08-13 08:43] github-actions[bot] opened #960 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-08-13 09:13] #956 closed

[2020-08-13 09:21] anuraaga opened #962 "Indicating agent was used in spans"
I realized that right now we use the same tracer name for library and auto instrumentation

https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/master/instrumentation/armeria-1.0/library/src/main/java/io/opentelemetry/instrumentation/armeria/v1_0/server/ArmeriaServerTracer.java#L45

And the `Resource` has attributes related to the OTel SDK. I think this means that there isn't

[2020-08-13 09:28] iNikem commented on #962
I think that having different names for tracers and thus different instrumentation library names is more idiomatic

[2020-08-13 17:58] #924 closed

[2020-08-13 18:40] trask opened #964 "Add a 3rd generic parameter to HttpClientTracer for HEADERS"
`HttpClientTracer.startScope()` and `.getSetter()` are not working in some places because the object we want to inject the header into does not have the same type as the request, e.g. https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/922#discussion_r470166242

If there are a few of these places, it may make sense to add a 3rd generic parameter to HttpClientTracer for HEADER

[2020-08-13 18:53] trask commented on #964
As part of this, see if we can get rid of all `getSetters()` that return `null`

[2020-08-13 19:36] trask commented on #962
Yes, @iNikem opened https://github.com/open-telemetry/opentelemetry-specification/pull/799

Also yes 😄.

[2020-08-13 22:20] FrankSpitulski commented on #936
Maybe it could be run with both? I'd like to keep being able to dynamically attach with bytebuddy for production use.

[2020-08-13 22:24] FrankSpitulski commented on #894
I did some debugging and found that this is a result of the response being uncommitted at the time that the end method is called causing the status code to be set to 500.

[2020-08-13 23:12] trask commented on #890
I did some testing, and it seems that even using the fully qualified class name, you still have to enable "Search in comments and strings" when refactoring:

![image](https://user-images.githubusercontent.com/218610/90195662-eb35a280-dd7e-11ea-9950-270e959d5047.png)

and in this case Intellij only looks for simple class name in comments and strings, so there's no difference between using fully qua

[2020-08-13 23:12] #890 closed

[2020-08-13 23:25] FrankSpitulski commented on #894
The Servlet3Advice.stopSpan assumes that if a response has a throwable then it should end the span right there, but shouldn't it wait until the response is committed before trying to end the span and record the status code?

[2020-08-13 23:28] trask commented on #894
Any ideas what we could instrument to capture when the response is committed?

[2020-08-13 23:46] trask commented on #894
oh, are you using `0.7.0`?

It looks like I added `isCommitted` check just before `0.7.0` was released:

https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/v0.7.0/instrumentation/servlet/servlet-3.0/src/main/java/io/opentelemetry/auto/instrumentation/servlet/v3_0/Servlet3HttpServerTracer.java#L52

I think that check should prevent you from seeing `500` when the response hasn

[2020-08-13 23:52] FrankSpitulski commented on #894
@trask sorry, should have mentioned. I did my most recent debugging session today with latest master, so hash 09c597e8.

[2020-08-13 23:56] FrankSpitulski commented on #894
I was just about to try setting the parent's status code from the servlet send response child span and not setting the default 500. That kind of breaks encapsulation though, but if the servlet method already exited and the response is not async I don't see another choice.

[2020-08-14 00:37] trask commented on #894
oh, ignore my comments above, reading comprehension 🙁

yes, this is (mostly) intentional, because apps without error handlers will return `500` when an exception is thrown from the servlet

maybe instead we should not set _any_ `status_code` in this case, since we don't really know? we are capturing the exception, so there's some indication of failure on the span already

if we don't call `Span.en

[2020-08-14 00:52] FrankSpitulski commented on #894
@trask I was able to capture the true response code by adding `@Advice.Argument(0) int sc` to io.opentelemetry.auto.instrumentation.servlet.http.HttpServletResponseInstrumentation.SendAdvice#stopSpan and setting the transformer to only instrument sendError since sendRedirect's first argument is a string. I didn't attach it to the parent span though, just printed it. I didn't go too much further be

[2020-08-14 03:13] trask commented on #894
👍 this makes a lot of sense to me

I'm not sure if servlet containers will necessarily call the public `HttpServletResponse` methods that we instrument

[2020-08-14 05:15] #960 closed

[2020-08-14 05:17] iNikem commented on #764
@anuraaga have you changes solved this issue?

[2020-08-14 05:19] anuraaga commented on #764
Don't think so - just starting up the repro app to debug some more :)

[2020-08-14 05:43] #940 closed

[2020-08-14 06:04] anuraaga opened #973 "Bridge Baggage"
We currently do not bridge the correlationscontext package at all. This means if application code uses the package, it won't function correctly. In particular, the OpenTracing shim uses it when propagating.

https://github.com/open-telemetry/opentelemetry-java/tree/master/api/src/main/java/io/opentelemetry/correlationcontext

[2020-08-14 06:54] trask opened #975 "A different new strategy for interop with OpenTelemetry API brought by application"
If the OpenTelemetry API exposed primarily interfaces, I think we could provide implementations of those interfaces that implement both the application's (unshaded) OpenTelemetry API _and_ the agent's (shaded) OpenTelemetry API at the same time.

This doesn't get rid of the shading, but I think it would eliminate the need to bridge back and forth.

[2020-08-14 07:05] trask opened #976 "Need more complete instrumentation of Context"
In particular, if you call `Context.withValues()` directly, and then pass that resulting `Context` back over the bridge to the agent, then you'll get:

[code]

because we are currently expecting all `Context` instances to have been created via the bridge.

[2020-08-14 09:00] #764 closed

[2020-08-14 13:26] iNikem opened #981 "testBootstrapJar is not cacheable"
Gradle says "Caching has not been enabled for the task." for `testBootstrapJar` . Although usually jar tasks are not cacheable in Gradle, we have a lot of them. Each takes couple of seconds, quite a lot of time in total. Can it be made cacheable?

[2020-08-14 16:40] trask opened #983 "Update message queue (PRODUCER/CONSUMER) span names"
As pointed out in https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/963#issuecomment-673871290, at least for JMS, we are not currently creating span name according to spec
https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/semantic_conventions/messaging.md#span-name, and we should review / update other message queue instrumentation

[2020-08-14 17:46] #490 closed

[2020-08-14 18:07] trask opened #984 "gradle build and gradle check are failing"
This can be confusing for contributors, we should fix, and have them run on CI so they don't break again.

[2020-08-14 19:53] FrankSpitulski commented on #894
Similar to the CountingHttpServletResponse we could assume that the response must be written via either the output stream or the print writer and look for the first flush invocation.

[2020-08-14 20:10] trask opened #986 "Expand unit tests for BaseTracer"
We lost some unit test coverage and in the move from decorators to tracers

[2020-08-14 20:17] trask commented on #912
@iNikem thx :thumbsup:

[2020-08-14 22:23] trask opened #989 "Get rid of separate thread-utils module"
If (really) needed by instrumentation, merge into `instrumentation-api`, otherwise merge into `javaagent-tooling`

[2020-08-14 22:39] trask opened #990 "Remove unused / uncompilable slf4j-mdc module"
Missed this in #720

[2020-08-15 04:01] github-actions[bot] opened #992 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-08-15 04:27] trask opened #993 "Reorganize jaxrs-2.0 and jaxrs-client-2.0 instrumentation modules"
These are the last common modules that doesn't follow this convention (I missed them previously).

[2020-08-15 04:29] trask opened #994 "akka-context-propagation module should have version suffix"
E.g. `akka-context-propagation-2.5` to follow naming convention of other modules.

Also we should apply muzzle to this module.

[2020-08-15 04:36] trask opened #995 "Rename the Setter classes which currently have old naming "*InjectAdapter""
The `HttpTextFormat.Setter` class names don't make much sense anymore, should probably rename them to something like `*Setter`.

[2020-08-15 07:40] anuraaga commented on #981
I think it should be possible, though even better will be to only have one bootstrap jar since I think it's the same for almost all or all of the tests, will play with it :)

[2020-08-15 12:50] github-actions[bot] opened #999 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-08-15 17:27] github-actions[bot] opened #1000 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-08-15 17:56] github-actions[bot] opened #1001 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-08-15 18:15] github-actions[bot] opened #1002 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-08-15 19:40] trask commented on #921
Thanks to @anuraaga:

[2020-08-15 20:26] trask opened #1005 "Drop elasticsearch-transport-2.0 instrumentation"
I was looking into #547, and this is one of the instrumentations which requires `maxJavaVersionForTest = 8`.

This is an older version, and not a critical instrumentation to begin with, so I suggest we drop `elasticsearch-transport-2.0`.

[2020-08-15 21:50] trask opened #1007 "Drop lagom test"
This test only runs on Java 8. I tried a bit to get it to run on Java 11 with no luck. I don't think it's important for us to maintain specific tests for [Lightbend Lagom](https://www.lightbend.com/lagom-framework-part-of-akka-platform), so I propose that we drop `LagomTest` and it's associated `testSet`.

[2020-08-15 21:51] trask commented on #547
Closing.

Play doesn't support Java 11 until 2.6.12

Glassfish (used in `glassfish-testing`) doesn't support Java 11

The rest are now tracked separately in #552, #1005, #1006 and #1007.

[2020-08-15 21:51] #547 closed

[2020-08-15 21:55] trask commented on #932
@anuraaga @iNikem let me know if you have thoughts about this. Trying to get the various package renaming out of the way.

[2020-08-15 21:58] trask commented on #665
Closed via #925 and remaining issue is tracked in #945.

[2020-08-15 21:58] #665 closed

[2020-08-15 22:05] trask commented on #946
@anuraaga I see

[code]

Is this the one you ran into? I couldn't find any others with a quick search.

[2020-08-15 22:24] trask opened #1009 "Optimize HttpClientTracer methods for invalid spans"
In particular, `startScope(Span, ...)` and `end*(Span, ...)` methods can be optimized for invalid spans.

This will be important after removing `CallDepth` (#907) which will then make the invalid span route more common.

[2020-08-15 22:25] trask commented on #907
Probably worth implementing #1009 at the same time.

[2020-08-16 00:54] anuraaga commented on #946
Yup that's what I ran into - didn't do the quick scan myself but indeed it's probably the only one.

[2020-08-16 01:10] anuraaga commented on #932
I don't have a strong preference for either proactively adding the version or keep it the first version of an instrumentation unversioned and adding the suffix for newer ones (without changing the old one) when it's necessary. I guess it's trade-off of consistency in our codebase vs somewhat ugly import statements for users - I guess the latter could be considered better UX at the cost of some cog

[2020-08-16 03:39] github-actions[bot] opened #1010 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-08-16 04:28] #990 closed

[2020-08-16 04:46] trask opened #1011 "Write a test for doOnCancel branch of WebClientTracingFilter.filter"
This code in `WebClientTracingFilter.filter()` is not exercised in any tests:

[code]

[2020-08-16 04:54] trask opened #1012 "Write integration tests for kubernetes-client"
Currently it only has unit tests.

Wondering if we can write tests for it similar to the `aws-sdk` tests by standing up a fake endpoint and having `aws-sdk` talk to it.

Also, it looks like `kubernetes-client` uses `okhttp3`, so this would allow us to test with `:instrumentation:okhttp:okhttp-3.0` and verify that we aren't getting duplicate `CLIENT` spans.

[2020-08-16 05:28] iNikem commented on #932
I don't like it but it seems to be the necessary trade-off. If encode versions into package name, then we could as well do it from the beginning.

[2020-08-16 05:31] iNikem commented on #907
Btw, I realized that we have nice symmetry here. Server spans should verify already existing server span, client spans should verify already existing client span, internal spans should verify call depth. But essentially this is the same pattern everywhere.

[2020-08-16 05:35] #921 closed

[2020-08-16 06:01] anuraaga opened #1014 "Global refactorings sometimes require IntelliJ cache invalidation"
I noticed it now when pulling master and noticed it once before, for some reason some imports get stuck unresolvable after global refactoring. I've only ever seen it on this repo. Not sure if it's specific to our Gradle configuration, but worst case we may at least provide a documentation about this behavior. Gradle "Reload all projects" doesn't solve it but restart and invalidate caches does.

![

[2020-08-16 06:19] #816 closed

[2020-08-16 06:49] anuraaga commented on #919
I think this happens for tests which use a `static` block to update config - multiple classes can get loaded and have their static blocks run before the tests get to. Will think if there's a faster solution for these than separating classloaders but luckily there aren't so many of them.

[2020-08-16 09:00] #1002 closed

[2020-08-16 09:00] #1010 closed

[2020-08-16 09:00] #999 closed

[2020-08-16 09:00] #1000 closed

[2020-08-16 09:00] #1001 closed

[2020-08-16 09:01] #992 closed

[2020-08-16 18:30] trask commented on #904
Closing, agree with @anuraaga's point above, and we can optimize as needed (in particular see #1009)

[2020-08-16 18:30] #904 closed

[2020-08-16 18:36] trask commented on #821
Yeah, I've seen the error linked in the report above frequently also:

[code]

I'm interested to see if this somehow resolves itself by switching over to GitHub Actions.

[2020-08-16 18:46] trask commented on #772
Probably should wait to do this until we are publishing to maven central

[2020-08-16 18:58] trask commented on #993
These aren't really "common" modules that are re-used by other modules, but rather standalone instrumentation, which is then enhanced by specific sub-modules.

I think current structure makes sense, closing.

[2020-08-16 18:58] #993 closed

[2020-08-16 19:05] #754 closed

[2020-08-17 04:17] trask commented on #714
Another reason to drop Java 7: JUnit 5

[2020-08-17 04:52] trask opened #1021 "Move opentelemetry-auto-api to groupId "io.opentelemetry.instrumentation.auto""
Currently `opentelemetry-auto-api` lives in groupId `io.opentelemetry.instrumentation`.

Seems `io.opentelemetry.instrumentation.auto` would be a better place for it, and has symmetry with `opentelemetry-instrumentation-api` living in `io.opentelemetry.instrumentation`.

[2020-08-17 05:19] Oberon00 commented on #714
In opentelemetry-java, Java 8 is used only for test code to enable Junit 5 while still supporting Java 7.

[2020-08-17 05:21] trask commented on #714
Yeah, but that severely limits your test coverage on Java 7. I'm not sure we want to say we're Java 7 compliant if 95% of our tests are running on Java 8+.

[2020-08-17 05:38] anuraaga commented on #714
It's an interesting question about the SDK. I think for instrumentation, it's not as bad since we're only going to support a few libraries - we could have container-based smoke tests for them. I guess it'd give reasonable confidence the SDK works for them too

[2020-08-17 05:43] trask commented on #714
Makes me like the idea of separate Kotlin-based instrumentation for Android even more... Modern Java development is just not intended to target Java 7 :sob:

[2020-08-17 05:48] trask commented on #708
I tried adding the obvious to the bottom of `javaagent.gradle`:

[code]

and it works great with `./gradlew :javaagent:assemble`:

[code]

[2020-08-17 05:49] trask commented on #708
Ooops, hit comment too soon:

but it doesn't work with `./gradlew assemble`:

[code]

(note size of `-all` artifact in this case)

[2020-08-17 05:51] anuraaga commented on #708
I think we may be able to use the shadow jar publishing configuration since we publish both unshaded and shaded

https://imperceptiblethoughts.com/shadow/publishing/

[2020-08-17 05:51] anuraaga commented on #708
Oh but guess that's only publish, not assemble. Hmm - what's lightshadow? :)

[2020-08-17 05:53] trask commented on #708
shadow, but without the exporters, therefore `light` `shadow` :smile:

[2020-08-17 05:56] anuraaga commented on #708
Ah ok - hmm I'd expect problems with the light shadow (no classifier) but surprised to see a problem with the all one.

For replacing a jar with shadow, I always use this pattern to disable the jar task and have it depend on the shadow task (s)
https://github.com/anuraaga/aws-opentelemetry-java-instrumentation/blob/master/otelagent/build.gradle.kts#L65

[2020-08-17 06:17] anuraaga opened #1023 "Both mongo-3.1 and mongo-3.7 instrumentation have same latestDepTest"
When looking at `latestDepTest`, I noticed that mongo-3.1 and mongo-3.7 both have the same latestDepTest version of `+`. This is unusual since it means that the old instrumentation works with the newer libraries. From what I can tell, mongo 3.7 instruments a new pattern for building a mongo client. Does it make sense to merge the instrumentation and just test both cases?

[2020-08-17 08:10] #989 closed

[2020-08-17 08:12] iNikem commented on #714
I still don't understand our Android story. I have never developed for Android. What do we offer them at all? What should work and what not?

[2020-08-17 08:42] anuraaga commented on #714
Android (or browser via opentelemetry-js which has its own maintenance issues to deal with because of browser support) allow making client spans on the actual user device - this can be extremely helpful! Many times even if the server feels fast, there are problems in the client that make it actually slow for the user and when tracing can find these, teams can really solve performance issues fast.

[2020-08-17 09:01] iNikem opened #1026 "Multiple SLF4J bindings"
Every test now starts with the following output:
[code]

It is very noisy and annoying. Should get it down to one.

[2020-08-17 09:08] iNikem commented on #714
Do we know which libraries we should support on java7 for Android?

[2020-08-17 09:11] anuraaga commented on #714
To narrow down the list from the start of the thread further, I think okhttp, grpc, apache http would have a huge amount of coverage and would be my recommended list. The bare minimum is I guess okhttp, even gRPC would get some minimal amount of instrumentation if it's okhttp transport was instrumented.

[2020-08-17 11:25] iNikem commented on #714
Is there any way to replace guesses with facts? :) I mean, first, do we know at least one Android project that wants to use Otel in general and our artifacts in particular?

[2020-08-17 12:20] malafeev opened #1031 "Some attributes from spec are missing for JMS"
According to https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/semantic_conventions/messaging.md#messaging-attributes

Some attributes are missing for JMS, like:

messaging.system
messaging.protocol
messaging.protocol_version
messaging.url
messaging.message_payload_size_bytes
messaging.message_payload_compressed_size_bytes

Unfortunately I couldn't find

[2020-08-17 12:25] malafeev opened #1032 "Document logging configuration"
- Document why we are using slf4j instead of j.u.l.
- Want to configure log destination, log format
- Slf4j simple logger is very limited and shaded properties are not documented
- Document slf4j simple logger properties
- simplelogger.properties on the classpath
- Use / document external properties
- opentelemetry-javaagent.properties

[2020-08-17 13:01] anuraaga commented on #714
Hearing about real cases would definitely be cool. But I think we can be philosophical here - if there is a device that has the possibility of performance issues, we want to observe it right? Brave continuing to support Java 1.6 because all users deserve observability is awesome and I'm very happy to put in some extra work to support more users. If this doesn't align with OTel values, I need to kn

[2020-08-17 13:03] anuraaga opened #1033 "RxJava1 instrumentation lacks tests"
There seem to be some indirect tests of Rxjava in other projects but unit tests in its project would make it easier to fix problems related to it's instrumentation.

[2020-08-17 13:08] iNikem commented on #714
I haven't suggested that :) My point that our effort should be based on real-world needs. As I know nothing about Android development I am very eager to hear from some potential future user about what do they actually need.

What is still unclear to me, is how Android is going to consume Otel? There is no javaagent, right? So we are speaking about manual instrumentation? And we don't have manual i

[2020-08-17 13:12] dengliming commented on #995
@trask It looks like the `getter ` does the same thing. and I'd love to submit a PR for this. Can you assigne to me?

[2020-08-17 13:19] anuraaga commented on #714
Yeah, it can only be manual instrumentation. We have them as P3 tasks in our ga requirements because we care about them, but need some effort to support them. But an upgrade of the Java baseline means that even the P3 becomes unachievable. I think the cost to maintainers to try for this is much lower than everyone is making it out to be.

https://github.com/open-telemetry/opentelemetry-java-instru

[2020-08-17 15:25] dengliming commented on #995
Just Make sure I understand exactly what you mean and I have some options for modification.
1. just rename `*InjectAdapter` to something like `*Setter`. like `HttpHeadersInjectAdapter ` to  `HttpHeadersSetter`.
The effect of the change is as follows：
[code]
2. Most of  `*Setter` are used as singletons. Maybe we can use enum instead of class like the following code?
[code]
@trask @iNikem @anuraaga

[2020-08-17 16:47] trask commented on #714
Let's have special topic meeting "What to do with Java 7?" tomorrow, Tue 10pm Pacific Time

https://calendar.google.com/event?action=TEMPLATE&tmeid=NWxmc3JwMjF0ZzZmMXFsaWx2M3JnZjN2dDcgZ29vZ2xlLmNvbV9iNzllM2U5MGo3YmJzYTJuMnA1YW41bGY2MEBn&tmsrc=google.com_b79e3e90j7bbsa2n2p5an5lf60%40group.calendar.google.com

[2020-08-17 17:04] trask commented on #714
Hm, we can still meet (always good to see @anuraaga and @iNikem in the same place at the same time 😄), but reading the above more carefully, can we all agree with the initial proposal:

I'm less concerned with the idea of running tests against Java 8 and expecting it to work on Java 7 _for manual instrumentation_ (and like @anuraaga mentioned, we can have smoke test for those cases also).

[2020-08-17 17:16] iNikem commented on #714
We can agree on that, certainly :) My concern is how we define that limited set of libraries :)

And from GA perspective, we have to _drop_ things ASAP, before GA. And we can add things either now or later. So "drop java7 support" vs "add Android support" are two very different tasks.

[2020-08-17 17:51] #1005 closed

[2020-08-17 19:46] trask commented on #714
It looks like Brave has stayed on JUnit 4.

I suspect Brave hasn't upgraded to JUnit 5 so that they can ensure the quality of their pre-Java 8 support.

This is my concern.

It's hard to have it both ways: use modern tooling for Java testing (JUnit 5 and testcontainers), while also ensuring quality testing and support of older Java versions.

[2020-08-17 21:52] FrankSpitulski commented on #894
I've seen instances of error handling with non-500 error codes outside of the instrumented javax.servlet.http.HttpServlet#service  that operates directly on the HttpResponse object. ex https://github.com/apache/tomcat/blob/master/java/org/apache/catalina/core/StandardContextValve.java#L71

Unless we bring the instrumentation up a level (to instrument those lower level handlers) then I only see ins

[2020-08-17 22:14] jkwatson opened #1036 "Feature Request: Allow @WithSpan to start a new Trace"
Currently, if you use the `@WithSpan` annotation, it will always join in the current trace, if there is one in scope. It would be useful to be able to tell the agent that we don't want to preserve the parenting, but create a new TraceId for the span.

This can be useful if you want background jobs that are spawned based on a request to appear as their own trace, rather than joining in the existing

[2020-08-17 22:24] trask commented on #995
Hey @dengliming!

👍

👍

Can you move them to private nested classes inside of their respective Tracers at the same time? (I don't think they generally need visibility beyond their Tracer)

I'd propose to give them all the same class name (especially once they private nested inside of their Tracers), e.g. PropagationSetter / PropagationGetter

👍 (I think @anuraaga and @iNikem wanted to do this too

[2020-08-17 23:07] trask commented on #1023
Changed to `required-for-ga` with priority `p3`, to consider it for GA, since it is proposing a change to which instrumentation modules we publish (and I agree the overlap between `mongo-3.1` and `mongo-3.7` is confusing)

[2020-08-18 00:15] FrankSpitulski commented on #894
@trask I made a draft PoC that closes the span parent with the correct status code by hooking into the response dispatcher which I'm hoping is responsible for handling all HttpServlet.serve exceptions.

[2020-08-18 01:06] FrankSpitulski commented on #894
I was thinking about how to guarantee the request dispatcher will be used by the servlet containers and came up with a different solution. We could have a whitelist of containers that we know (backed by unit tests) will invoke the request dispatcher if an exception escapes the servlet.service method and only enable the feature then. Otherwise it can behave as now and not try to track down the corr

[2020-08-18 01:41] heyams opened #1039 "Remove port and url in UrlInstrumentation. This requires updating tests."
Do we need to remove url and port from HttpUrlInstrumentation as well?
I forgot the reason why this was added to #912.  @trask

[2020-08-18 01:45] trask commented on #1039
Hey @heyams, I think since we set the port and url in `HttpClientTracer` now, this is not needed to be set in `UrlInstrumentation` anymore

[2020-08-18 05:40] iNikem commented on #995
I am on the edge about using enum. I don't see any actual benefits comparing to `public static final` field. But the only argument against that I have is "tiny bit more surprising to the reader"

[2020-08-18 05:48] anuraaga commented on #995
I tend to prefer enum pattern mainly because when there are multiple options that on face value seem similar, I'd always pick the one in effective java since it's an industry-wide best practice. It makes me thing it shouldn't be very surprising in practice.

Slides by Joshua Block on the topic [here](https://14b1424d-a-62cb3a1a-s-sites.googlegroups.com/site/io/effective-java-reloaded/effective_jav

[2020-08-18 06:35] iNikem commented on #995
Ok, let it be so.

[2020-08-18 06:41] anuraaga commented on #1023
couchbase seems to be similar - while latestDepTest isn't exactly the same (spring-data-couchbase version is a bit different, java-client version is same), it seems to have a similar pattern. In fact, 2.6 instrumentation doesn't seem to work without 2.0 instrumentation available which is even more strange.

[2020-08-18 07:55] anuraaga opened #1042 "hibernate-4.3 latestDepTest range not respected"
Currently hibernate-4.3 declares a latestDepTest version of (,6.0.0.Final), but Gradle seems to resolve it to 4.3.0.Final anyways. With the new system for configuring latest dep tests in #977, the override works properly, and it was found that the tests did not pass on either 6.0.0.alpha (matched by that range) or 5.+ when trying that too. Need to investigate if we can fix the tests on newer hiber

[2020-08-18 07:56] iNikem commented on #1036
@jkwatson do you want that before GA or we can deliver it after GA?

[2020-08-18 15:00] jkwatson commented on #1036
No strong opinions from my side. I'm happy to write the manual instrumentation without the annotation...I can't speak for other not-so-deep-into-the-project users, though.

[2020-08-18 17:05] trask opened #1043 "Document how SNAPSHOT versions may or may not work with OpenTelemetry API manual instrumentation"
Maybe doc how to find (and use) the right OpenTelemetry API SNAPSHOT if you do want to make it work.

[2020-08-18 19:09] trask opened #1044 "Verify span kind in all tests"
And assert in `SpanAssert` that span kind was `checked`.

[2020-08-18 20:29] trask opened #1045 "Remove UrlInstrumentation"
HTTP URLs are already covered by `HttpUrlConnectionInstrumentation`.

Plus, this instrumentation only captures exceptions that occur, and "logs" those exceptions as spans (it doesn't capture any durations).

[2020-08-18 20:29] trask commented on #1039
Closing in favor of #1045

[2020-08-18 20:29] #1039 closed

[2020-08-18 22:03] trask opened #1046 "Instrumentation should not depend on javaagent-tooling anymore"
There are a few instrumentations that still depend on

[code]

These should have been removed in #884.

EDIT: at the same time, also look at whether these dependencies are needed in individual instrumentations:

[code]

[2020-08-18 22:08] trask opened #1047 "Change play-2.4 tests to run against 2.4 instead of 2.5"
This comment is no longer valid, as we have netty-3.x instrumentation now:

[code]

[2020-08-18 23:59] #964 closed

[2020-08-19 00:00] trask opened #1048 "Update tracer name for spring-boot-autoconfigure"
Currently it is:

[code]

I think this would match current convention in other instrumentation better:

[code]

[2020-08-19 01:28] trask commented on #465
I closed this too soon, we haven't implemented duplicate check generically for SERVER spans yet at HttpServerTracer level

[2020-08-19 01:29] trask commented on #894
Thanks for exploring options!

Do you think we could instrument and capture the `SERVER` span at the Tomcat level (which could then understand Tomcat's full request-response lifecycle)?

If we could do that, our downstream Servlet instrumentation can see that a `SERVER` span is already in the Context, and it won't create another `SERVER` span (we want to implement this behavior anyways #465)

[2020-08-19 01:57] FrankSpitulski commented on #894
Sure I can look into that.

[2020-08-19 04:02] github-actions[bot] opened #1049 "Nightly build failed"
Nightly job failed. Please take a look and fix it ASAP

[2020-08-19 07:00] anuraaga commented on #1049
Fixed by #1051

[2020-08-19 07:00] #1049 closed

[2020-08-19 07:24] anuraaga opened #1053 "DEADLINE_EXCEEDED when using agent + collector + (xray or file) from localhost"
I'm not sure if this is related to the SDK, agent, or collector. For now posting here.

In my playground app, ever since upgrading to 0.7.0, I believe, I get `DEADLINE_EXCEEDED` on pretty much all OTLP exports. The spans still show up in X-Ray. Perhaps the collector isn't returning a response. One thing that makes me a bit suspicious of the Java side is the deadline triggers at very random times -

[2020-08-19 07:25] anuraaga commented on #1053
At first I thought it might "just be me" but got a report from a totally different app with similar log messages. They're also using python and the python app does not show this.

[2020-08-19 07:30] anuraaga commented on #1053
My playground app is at https://github.com/aws-samples/aws-xray-sdk-with-opentelemetry-sample/tree/both-otel-and-xray just docker-compose up

[2020-08-19 07:48] anuraaga commented on #1053
Nevermind, `docker pull otel/opentelemetry-collector-contrib-dev` seems to have fixed it. Living on the edge...

[2020-08-19 07:48] #1053 closed

[2020-08-19 13:35] #994 closed

[2020-08-19 14:22] dengliming commented on #1045
Make sense for me. `remove it `+1

[2020-08-19 14:27] jakob-o opened #1060 "Exclude URLs from Tracing"
**Is your feature request related to a problem? Please describe.**
As already mentioned here https://github.com/open-telemetry/opentelemetry-specification/issues/173 I'd like to be able to exclude or sample a list of URLs / URL-Patterns from instrumentation. In my case particularly to avoid generating many events from health- and liveness-checks.

**Describe the solution you'd like**
I opened the

[2020-08-19 14:42] dengliming opened #1061 "Add support for redisson instrumentation."
see: [https://github.com/redisson/redisson](https://github.com/redisson/redisson)

This framework provides redis-based functions, especially distributed locks, which are mainly used in our current projects. Recently, I plan to submit a PR to support it. Does it make sense to support it?

[2020-08-19 16:40] ishg opened #1062 "Document minimum system requirements"
Document the minimum system requirements (memory / CPU) for running the agent.

Currently experiencing intermittent issues with an app running on a 1GB box and Java 1.8 with the agent. App works fine without the agent.

[2020-08-19 16:47] iNikem commented on #1061
If you use the library and want it being monitored, then of course :) Community contributions are welcomed!

[2020-08-19 16:50] iNikem commented on #1062
Can you give us more information about the nature of those issues?

[2020-08-19 17:22] iNikem commented on #1053
Hm. I have very similar error after upgrading to latest otel-java snapshot:
[code]

[2020-08-19 17:25] ishg commented on #1062
The app responds to every other query with the agent running. So we are wondering if it is a memory availability issue. Are there minimum requirements for the agent to run and it might be using up available memory required for the app perhaps?

[2020-08-19 17:30] heyams opened #1063 "Add tests for BaseTracer"
If there are any tests that came to mind when you wrote this TODO, I think it's better to file an issue with some examples. I have no idea how to resolve this TODO right now :P

_Originally posted by @anuraaga in https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/1040_

[2020-08-19 17:39] trask commented on #1062
Hi @ishg, is your app running out of memory? Can you post your GC log? If it's running OOM, can you capture a heap dump and open it with Eclipse MemoryAnalyzer and run the Leak Suspects Report and post that report?

[2020-08-19 17:56] ishg commented on #1062
Sure, let me gather that. In the meantime, are there known MINIMUM system requirements for the agent? Or is this where we establish them? :)

[2020-08-19 18:38] carlosalberto opened #1064 "0.7.1 Patch Release containing bug fixes."
To my understanding, there are two bug fixes that could be released:

1) `@WithSpan` fix (it was getting ignored).
2) The `OTLP` metadata handling (which actually happened as part of OTel Java 0.7.1)

(For the record: in OTel Java we keep a `0.VERSION.x` branch to easily do these patch releases)

[2020-08-19 18:56] trask commented on #528
This one is still happening:

https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-java-instrumentation/2927/workflows/6ad8a3bc-80da-4a1b-8b77-431822668102/jobs/16849

[2020-08-19 19:26] FrankSpitulski opened #1065 "How is versioned instrumentation chosen and enabled?"
For example servlet 2 vs 3, the debug logs show both are loaded.

[2020-08-19 22:40] trask commented on #1062
some folks have done internal testing, but nothing public yet

also see https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/312

[2020-08-19 22:43] #912 closed

[2020-08-19 23:08] trask commented on #1065
During the build, we have a plugin (`muzzle`) that checks what library methods each instrumentation is utilizing, e.g. the `Servlet3Advice` calls `ServletRequest.isAsyncStarted()`, and that plugin encodes those method signatures into the instrumentations bytecode (you can see this if you decompile the Instrumentation classes :smile:). Then at runtime, the javaagent checks to see if the method sign

[2020-08-19 23:23] FrankSpitulski commented on #1065
referring to tag 0.7.0 I found
[code]
in `io.opentelemetry.auto.instrumentation.servlet.v2_2.Servlet2Instrumentation`.
Is this deprecated now and muzzle handles turning off servlet 2?

[2020-08-19 23:27] trask commented on #1065
Ah, no, this is still needed. The reason for

[code]

is that the Servlet 2 instrumentation would otherwise get applied to Servlet 3 (since all of the Servlet 2 methods still exist in Servlet 3).

[2020-08-19 23:40] FrankSpitulski commented on #1065
Is there any way to target different versions with different instrumentations where the versions have an identical api?

[2020-08-19 23:42] trask commented on #1065
There must be something different about the two versions?

[2020-08-19 23:52] FrankSpitulski commented on #1065
They wouldn't be different from the perspective of the instrumentation. I'll try a different scenario to better explain.

How could servlet 2 disable itself without knowing about servlet 3? If servlet 4 comes out with new apis and I add servlet 4 support in via otel.initializer.jar how could servlet 3 know to disable itself? In the same vein how could servlet 3 disable itself if I've added my own

[2020-08-19 23:59] trask commented on #1065
it can't know to disable itself, but you can disable it via https://github.com/open-telemetry/opentelemetry-java-instrumentation#disabled-instrumentations

[2020-08-20 00:00] FrankSpitulski commented on #1065
Thanks 👍

[2020-08-20 01:15] trask commented on #714
We met on this topic yesterday, and this is what we are proposing for the opentelemetry-java-instrumentation project:

[Rationale for not supporting Java 7](https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/1068)